<div class="row" >
<form class="form-horizontal" ng-controller="searchContrl">
        <div class="span6">
            <div class="control-group">
                <span for="issuers" class="control-label">Issuer</span>
                <div class="controls">
                    <select class="form-control" id="searchIssuer"><option ng-repeat="issuer in issuerDetailsList" value="{{issuer.hiosIssuerId}}">{{issuer.issuerName}}</option></select>
                    <!--<select class="form-control" id="searchIssuer" ng-focus="focusCallback($event)" ng-model ="issuer.hiosIssuerId" ng-change="clearResults()"><option ng-repeat="issuer in issuerDetailsList" value="{{issuer.hiosIssuerId}}">{{issuer.issuerName}}</option></select>-->
                </div>
            </div>

            <div class="control-group">
                <span for="subscriberID" class="control-label">Subscriber ID</span>
                <div class="controls">
                    <input type="text" class="form-control" id="subscriberID" placeholder="Subscriber ID">
                </div>
            </div>

            <div class="control-group">
                <span for="reconciliationYear" class="control-label">Reconciliation year</span>
                <div class="controls">
                    <select class="form-control" id="reconciliationYear" placeholder="Reconciliation Year"><option ng-repeat="year in reconYearList" value="{{year}}">{{year}}</option></select>
                </div>
            </div>

            <div class="control-group">
                <span for="discrepancyTypes" class="control-label">Discrepancy Types</span>
                <div class="controls">
                    <select class="form-control" id="discrepancyTypes" placeholder="Discrepancy Types"><option ng-repeat="discrepancy in enrlDiscrepancyLookupList" value="{{discrepancy.id}}">{{discrepancy.label}}</option></select>
                </div>
            </div>

            <div class="control-group">
                <span for="status" class="control-label">Status</span>
                <div class="controls">
                    <select class="form-control" id="discrepancyStatus" placeholder="Discrepancy Status"><option ng-repeat="discrepancyStatus in discrepancyStatusList" value="{{discrepancyStatus}}">{{discrepancyStatus}}</option></select>
                </div>
            </div>

            <div class="control-group" ng-if="isFileNameVisible()" id="fileNameGroup">
                <span for="subscriberID" class="control-label">File Name: </span>
                <div class="controls">
                    <label id="fileName" class="control-label"></label>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <span for="issuerAssignedPolicyID" class="control-label">Issuer Assigned Policy ID</span>
                <div class="controls">
                    <input type="text" class="form-control" id="issuerAssignedPolicyID" placeholder="Issuer Assigned Policy ID"></input>
                </div>
            </div>

            <div class="control-group">
                <span for="exchangeAssignedPolicyID" class="control-label">Exchange Assigned Policy ID</span>
                <div class="controls">
                    <input type="text" class="form-control" id="exchangeAssignedPolicyID" placeholder="Exchange Assigned Policy ID">
                </div>
            </div>

            <div class="control-group">
                <span for="reconciliationMonth" class="control-label">Reconciliation Month</span>
                <div class="controls">
                    <select class="form-control" id="reconciliationMonth" placeholder="Reconciliation Month"><option ng-repeat="month in reconMonthList" value="{{month}}">{{month}}</option></select>
                </div>
            </div>

            <div class="control-group">
                <span for="coverageYear" class="control-label">Coverage year</span>
                <div class="controls">
                    <select class="form-control" id="coverageYear" placeholder="Coverage Year"><option ng-repeat="coverageYear in coverageYearList" value="{{coverageYear}}">{{coverageYear}}</option></select>
                </div>
            </div>

            <div class="control-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="checkbox">
                        <label><input type="checkbox" id="isSearchForDiscrepancies"> Only Search for Discrepancies</label>
                    </div>
                </div>
            </div>

            <div class="control-group pull-right">
                <div class="controls">
                    <button type="submit" class="btn reset-btn" ng-click="resetReconSearch()">Reset</button>
                    <button type="submit" class="btn btn-primary" ng-click="searchReconData(true)">Search</button>
                </div>
            </div>
        </div>

</form>
</div>

<div class="top-chart" class="panel-group" id="accordion" ng-controller="searchResultsCtrl">
    <div class="panel panel-info">
        <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapseIssuer">
            <h4 class="panel-title">
                <a class="accordion-toggle">Total Results ({{getTotalResultsCount()}})</a>
				<table style="float: right;">
					<tr>
						<td><label class="openBg statusLabelRecon">&nbsp;</label> <label
							style="float: right;">OPEN</label></td>
						<td><label class="holdBg statusLabelRecon">&nbsp;</label> <label
							style="float: right;">HOLD</label></td>
						<td><label class="resolvedBg statusLabelRecon">&nbsp;</label>
							<label style="float: right;">RESOLVED</label></td>
						<td><label class="autofixedBg statusLabelRecon">&nbsp;</label>
							<label style="float: right;">AUTOFIXED</label></td>
					</tr>
				</table>
			</h4>
        </div>

        <div id="collapseIssuer" class="panel-collapse collapse in" >
            <div class="panel-body" >
                <div ng-if="getTotalResultsCount() > 0" ui-grid="gridOptionsForSearchResults" ui-grid-pagination class="grid"></div>
                <div class="alert alert-info" ng-if="getTotalResultsCount() === 0"> No Record Found</div>
            </div>
        </div>
    </div>
</div>