/* ********************************************************************
      
      VALIDATION ERRORS 
      
 ******************************************************************** */ 
.validation-error-text-container {
    background: none repeat scroll 0 0 #FFF8AF;
    border: 1px solid #BFBA91;
    border-radius: 0.32em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #990000;
    display: inline-block;
    /*float: left;*/
    font: 12px 'Droid Sans',Tahoma,arial,sans-serif;
    margin: 5px 0 5px;
    padding: 3px 4px 3px 3px;
    text-align: left;
    width: auto;
}

.validation-error-icon {
    background: none repeat scroll 0 0 #EA5200;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 5px;
    padding: 0 4px 0 5px;
    width: auto;
}

/* ******************************************************************** 
      
      MODALS
      
 ******************************************************************** */ 
  .ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: fixed;
    z-index: 30000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:300005;
    position: absolute;
    width: 50%;
    height: 500px;
    border-radius: 10px;
    overflow:auto;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 30px #333;
    top: 300px !important;
  }
  .ng-modal-dialog-content {
    padding: 10px 20px 10px 20px;
    text-align: left;
  }
  .ng-modal-close {
    position: relative;
    bottom: 10px;
    right: -545px;
  }
  
/* ********************************************************************
    
    RADIO + CHECKBOX SPACING
    
 ******************************************************************** */ 
label.radio-inline {
  margin: 10px 0 0 20px;
}
#rightpanel div.header a.btn {
	margin: 45px 0 0 0;
}
.docs > .checkbox.inline, div#race > div > label, div#ethnicity > div > label {
  margin: 0px 0px 0px 20px !important;
}
.ssngGender {
  display: inline-block;
}
label.checkbox.inline.eligibleimmigration {
  margin: 20px 20px 20px 0;
}
/*  ******************************************************************** 
    
    LANDING PAGE ICONS - home.jsp
    
 ******************************************************************** */ 
#set-1 input{
  /*HIDE CHECKBOX ON LANDING PAGE*/
  display:none;
}
input:checked + span > img {
  /* (CHECKED) IMAGE STYLES */
  /*background: #2B9438 !important;*/
  content: url('../../img/lce/checked.png');
  width: 120px;
  height: 120px;
  display: none;
}
label.checkbox div {
  display: inline-block;
  background: url('../../img/lce/checked.png') center no-repeat;
  vertical-align:middle;
  position: absolute;
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
  display: block;
  top: 0px;
  z-index: -1;
}
label.checkbox div > p {
  position: absolute;
  top: 130px;
  width: 160px;
  left: -20px;
}
label.checkbox :checked + div {
    display: none;
}
.checkbox.inline {
	margin: 20px;
}
/* HI ICON*/
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}

/* ON HOVER THIS MAKES SURE ICON IS SAME SIZE AS ONE BELOW*/
.hi-icon {
  display: inline-block;
  cursor: pointer;
  margin: 15px 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Effect 1 */
/* BLUE ICONS AND ON HOVER COLOR TRANSITION */
.hi-icon-effect-1 .hi-icon {
  background: #428BCA;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

/* ON HOVER OF BLUE ICON; GREEN ICON */
.hi-icon-effect-1 .hi-icon:after {
  background: url('../../img/lce/checked.png');
  background-size: 90%;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-color: #FFF;
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #2B9438;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

.hi-icon-effect-1a {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.fixme {
  /* position: absolute; */
  margin: -10px 15px;
}

.hi-icon-wrap {
	margin: 10px 0 0 0;
 	padding: 0 0 0 0 !important;
}
#selectedItems {
  display: list-item;
}
.emptygreendiv {
  display:none;
}
.eventnameblock {
  display:block !important;
}



/*  ******************************************************************** 
    
    next.jsp
    
 ******************************************************************** */ 
.header > li {
  text-align: right;
}.header > li > .active {
  display: list-item;
}



/*  ******************************************************************** 
    
    Add Remove Dependents -- Different location layout re-arrange
    
 ******************************************************************** */ 
.addressBlock.form-horizontal .control-label {
	width: 165px !important;
}
.addressBlock.form-horizontal .controls {
	margin-left: 180px !important;
}

div.back-home{
	text-align: center;
	margin: 20px;
}

span#individualItem3 p{
	width: 165px;
}
 