
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Enrollment Entities | Assister Profile</title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="../../../../../resources/css/bootstrap-responsive.css">
		<link rel="stylesheet" href="../../../../../resources/css/jquery-ui-1.8.16.custom.css">
		<link rel="stylesheet" href="../../../../../resources/css/jquery.ui.datepicker.css">
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'>
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700'>
		<style media="screen" type="text/css">
			.skip-nav{height:1px;overflow:hidden;position:absolute;text-indent:-10000px;width:1px}a.skip,a.skip:link,a.skip:hover,a.skip:active,a.skip:visited{color:#000;text-decoration:none}
		</style>
		<link rel="stylesheet" href="../../../../../resources/css/bootstrap_CCA.css" media="screen">
		<link rel="stylesheet" href="../../../../../resources/css/ghixcustom.css">
		<link rel="stylesheet" href="../../../../../resources/css/entity-custom.css">
		
		<script src="../../../../../resources/js/jquery-1.8.3.min.js"></script>
		<script src="../../../../../resources/js/jquery-ui-1.9.2.custom.min.js"></script>
		<script src="../../../../../resources/js/jquery.validate.min.js"></script>
		<script src="../../../../../resources/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			//<![CDATA[
			$('body').on('touchstart.dropdown','.dropdown-menu',function(e){e.stopPropagation();});
			//]]>
		</script>
		<link rel="stylesheet" href="../../../../resources/css/datepicker.css">
		<script type="text/javascript" src="../../../../resources/js/bootstrap-datepicker.js"></script>

<!--[if lt IE 9]>
	<script type="text/javascript" src="/hix/resources/js/html5.js"></script>
	<link rel="stylesheet" type="text/css" href="/hix/resources/css/ie8fixes.css">
 <![endif]-->


		<style media="screen" type="text/css">
			form label.error{background:#fff8af none repeat scroll 0 0}form label.error{width:auto;display:block;float:left;padding:3px 4px 3px 3px;margin:0 0 5px 0;font:12px "Droid Sans",Tahoma,arial,sans-serif;color:#900;background:#fff8af none repeat scroll 0 0;text-align:left;border-radius:.32em .32em .32em .32em;border:solid 1px #bfba91;box-shadow:0 1px 3px rgba(0,0,0,.2)}form label.error span em.excl{-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;background:#ea5200 none repeat scroll 0 0;color:#fff;font-weight:bold;margin:0 5px;padding:0 4px 0 5px;width:auto}legend.announcement{border:1px solid #08c;line-height:20px;padding:1px 14px;width:108px;font-weight:bold;font-size:13px}fieldset.announcement{border:1px solid #08c;font:11px Verdana,Arial,Helvetica,sans-serif;padding:5px 5px 5px 5px}.view-broker{top:0!important;position:relative;right:10px}
		</style>
		<link type="text/css" href="../../../../resources/css/assister.css">
		<link type="text/css" href="../../../../resources/css/accessibility.css">
	
	
	
	
		<a href="#skip" class="skip-nav">Skip Navigation</a>
		<div id="masthead" class="topbar">
			<div class="navbar navbar-fixed-top navbar-inverse" id="" role="banner">
				<div class="navbar-inner">
					<div class="container" style="padding-top:6px;padding-bottom:8px">
						<ul class="nav">
							<li>
								<img class="brand" src="../../../../resources/img/logo_cca_horisontal.png" alt="GetInsured"><a href="/hix/" class=""><span style="display: none;">Getinsured Health Exchange</span></a>
							</li>
						</ul>
						<div class="nav-collapse collapse pull-right margin0">
							<ul class="nav">
								<li class="chat">
									<a href="#">&nbsp;</a>
								</li>
							</ul>
						</div><!-- nav-collapse ends -->
					</div><!-- container ends -->
				</div><!-- navbar-inner ends -->
			</div><!-- navbar  ends -->
		</div>
		<div id="topnav" class="topbar"></div>
		<div id="main" class="row-fluid">
			<div class="container">
				<div class="gutter10">
					<div class="navbar" id="menu">
						<div class="navbar-inner">
							<ul class="nav">
								<li class="dropdown"><a href="#" title="Dashboard" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-home"></i></a></li>
								<li class="dropdown"><a href="#" title="Issuers" class="dropdown-toggle" data-toggle="dropdown">Assisters</a></li>
								<li class="dropdown"><a href="#" title="Plans" class="dropdown-toggle" data-toggle="dropdown">Entities</a></li>
								<li class="dropdown"><a href="#" title="Brokers" class="dropdown-toggle" data-toggle="dropdown">Tickets</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end of secondary navbar -->
				<div class="gutter10-lr">
					<div class="l-page-breadcrumb">
						<!--start page-breadcrumb -->
						<div class="row-fluid">
							<ul class="page-breadcrumb">
								<li><a href="#">&lt; < Back</a></li>
								<li><a href="adminPortalManageAssisters.html">Assisters</a></li>
								<li>Manage</li>
								<li>Catherine Smith</li>
							</ul>
							<!--page-breadcrumb ends-->
						</div><!-- end of .row-fluid -->
					</div><!--l-page-breadcrumb ends-->
					<div class="row-fluid">
						<h1><a name="skip"></a>Catherine Smith</h1>
					</div>
					<div class="row-fluid">
						<form class="form-vertical" id="frmviewbrokerprofile" name="frmviewbrokerprofile" action="viewprofile" method="post">
							<div id="sidebar" class="span3">
								<div class="header"></div>
								<ul class="nav nav-list">
									<li><a href="adminPortalAssisterInformation.html">Agent Information</a></li>
									<li class="active"><a href="adminPortalAssisterProfile.html">Profile</a></li>
									<li><a href="adminPortalCertificationStatus.html">Certification Status</a></li>
								</ul>
							</div><!-- end of span3 -->
							
							<div class="span9">
								<div class="row-fluid gutter10-tb">
									<div class="span7">
										<table class="table table-border-none span12">
											<tbody>
												<tr>
													<td>
														<h3>Food Bank</h3>
														<address>
															2595 E Bayshore rd Palo Alto CA<br>
															9487<br>
															999-987-9898<br>
															maria@foodbank.org
														</address>
													</td>
												</tr>
												
											</tbody>
										</table>
									
										<table class="table table-border-none span12">
											<tbody>
												<tr>
													<td>Languages Spoken</td>
													<td><b>English,German,Swedish</b></td>
												</tr>
												<tr>
													<td>Languages Written</td>
													<td><b>English</b></td>
												</tr>
												<tr>
													<td class="vertical-align-top":>Hours of Operation</td>
													<td>
														<b>
															Monday 9am-5pm<br>
															Tuesday 9am-5pm<br>
															Thrusday 9am-5pm<br>
															Friday 9am-5pm<br>
														</b>
													</td>
												</tr>
											</tbody>
										</table>	
									</div>
									<div class="span5">
											<iframe width="190" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="thumbnail" src="//maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=94025+map&amp;ie=UTF8&amp;hq=&amp;hnear=2200%20Sand%20Hill%20Rd+Menlo%20Park,+CA+94025&amp;gl=us&amp;t=m&amp;ll=37.42445,-122.19431&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
									</div>
									<div>
										<a class="btn btn-primary large pull-right" href="#">Back</a>
									</div>
								</div><!-- Showing comments -->
							</div>
						</form>
					</div><!-- #row-fluid -->
				</div>
			</div>
		</div>
		<div id="footer" class="container">
			<footer id class="container" role="contentinfo">
				<div class="row-fluid">
					<ul class="nav nav-pills span5">
						<li>
							<a href="#">Site Map</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of Use</a>
						</li>
						<li>
							<a href="#">Accessibility Statement</a>
						</li>
					</ul>
					<div class="pull-right">
						<ul class="nav nav-list span3">
							<li>
								<a href="#">Contact Us</a>
							</li>
						</ul>
						<ul class="nav nav-list span6">
							<li>
								<a id="callSupport" href="#">GetInsured Health Exchange Helpline 1-800-123-1234</a>
							</li>
						</ul>
					</div>
				</div>
			</footer><!-- footer -->
		</div>
	