<div id="privacy" >
    <p style="text-align:center;">
        <b>Notice of Privacy Practices</b><br />
        <b>EFFECTIVE JANUARY 1, 2015</b><br />
    </p>
    <br>
	
(i) YHI is committed to maintaining the privacy and security of personally identifiable information; (ii) YHI will use personally identifiable information only as permitted by YHI&#39;s policies or required by law; and (iii) further information regarding YHI&#39;s privacy and security practices and your rights regarding personally identifiable information is available on YHI&#39;s Web site at http://www.yourhealthidaho.org/privacy-policy/.
	
	<br>
</div>