.main__section__content__wrapper {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  padding-top: 30px;
}

.header {
  background: #f5f5f5;
}

.header h3 {
  line-height: 100%;
}

.broker-connect h4 {
  background: white !important;
}

.ds-c-field {
  padding: 0px;
}

.spinner-whole-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nv-button-primary {
  color: #fff;
  background: #007fae !important;
  border: 1px solid #007fae !important;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px !important;
}

.nv-button-primary:checked + label:before {
  background: #007fae !important;
  border: 1px solid #007fae !important;
  background-image: url('./assets/images/checkmark.svg') !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: 24px !important;
}

.nv-label-error {
  color: #d36d00 !important;
  border: solid 1px #d36d00 !important;
}

.slider-text {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100%';
  font-size: 15;
  padding-right: 2;
}

.checkbox-1 {
  float: left;
  margin-right: 8px;
}
