<div class="footer">
	<div class="container component-wrapper">
		<div class="row">
			<div class="col-12">
				<img class="logo" src="/hix/resources/img/logo_wa_white.png" alt="Washington Healthplanfinder">
			</div>
		</div>
	</div>
</div>