.footer {
	margin-top: 100px;
	height: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9%;
    padding-right: 9%;
    list-style: none;
    background-color: #1f4270;
}

.logo {
	padding-left: 0px;
	margin-top: 30px;
	width: 300px;
	float: right;
}