<style>
	.table thead tr th a {
	    font-weight: bold;
	    color: #0092b3!important;
	}
	
	.table td {
	    word-break: break-all;
	}
	
	.announcement-text-tr{
		border: 0 !important; 
		padding-top:0 !important;
		padding-bottom: 20px !important;
	}
	
	.announcement-text-container{
		border:solid 1px #0092b3;
	}
	
	.announcement-text-header{
		cursor: pointer;
		color: #0092b3!important;
	}
</style>
	
<div ng-if="vm.loading" class="center margin50-t">
	<img alt="loading" src="../resources/images/loader_gray.gif"/>
</div>

<div ng-if="!vm.loading">
	<h1 class="margin20-b">
		Manage Announcements 
		<a class="btn btn-primary pull-right" ng-click="vm.editAnnouncement()">ADD NEW ANNOUNCEMENT</a>
	</h1>
	
	<div class="margin20-lr">
		<p class="alert alert-info" ng-if="vm.announcementList.length === 0">No Announcement Found</p>
		
		<table class="table" ng-if="vm.announcementList.length !== 0">
			<thead>
				<tr class="header">
					<th style="width:450px">Announcement Name</th>
					<th>
						<a href="javascript:void(0)" ng-click="vm.orderField='status'; reverseSort = !reverseSort">Status
							<span ng-if="vm.orderField === 'status' && !reverseSort"><img src="../resources/images/i-aro-blu-sort-up.png" alt="State sort ascending"></span>
							<span ng-if="vm.orderField === 'status' && reverseSort"><img src="../resources/images/i-aro-blu-sort-dwn.png" alt="State sort descending"></span>
						</a>
					</th>
					
					<th>
						<a href="javascript:void(0)" ng-click="vm.orderField='effectiveStartDate'; reverseSort = !reverseSort">Effective Start Date
							<span ng-if="vm.orderField === 'effectiveStartDate' && !reverseSort"><img src="../resources/images/i-aro-blu-sort-up.png" alt="State sort ascending"></span>
							<span ng-if="vm.orderField === 'effectiveStartDate' && reverseSort"><img src="../resources/images/i-aro-blu-sort-dwn.png" alt="State sort descending"></span>
						</a>
					</th>
					<th>
						<a href="javascript:void(0)" ng-click="vm.orderField='effectiveEndDate'; reverseSort = !reverseSort">Effective End Date
							<span ng-if="vm.orderField === 'effectiveEndDate' && !reverseSort"><img src="../resources/images/i-aro-blu-sort-up.png" alt="State sort ascending"></span>
							<span ng-if="vm.orderField === 'effectiveEndDate' && reverseSort"><img src="../resources/images/i-aro-blu-sort-dwn.png" alt="State sort descending"></span>
						</a>
					</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat-start="list in vm.announcementList | orderBy:vm.orderByField:reverseSort | endWith : vm.currentPage*5">
					<td>{{list.announcementName}}</td>
					<td>{{list.status}}</td>
					<td>{{list.effectiveStartDate}}</td>
					<td>{{list.effectiveEndDate}}</td>
					<td><a class="btn btn-primary" ng-click="vm.editAnnouncement(list.id)">Edit</a></td>
				</tr>
				<tr ng-repeat-end>
					<td colspan="5" class="announcement-text-tr">
						<div class="announcement-text-container">
							<div class="announcement-text-header gutter5" ng-click="show= !show">
								<i class="icon-plus-sign" ng-if="!show"></i> 
								<i class="icon-minus-sign" ng-if="show"></i>
								Announcement Text
							</div>
							<p ng-bind-html="list.announcementText" ng-show="show" class="margin20-l margin5-t"></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="pagination center">
			<pagination items-per-page="5" total-items="vm.announcementList.length" ng-model="vm.currentPage" max-size="10" class="pagination-sm" rotate="false"></pagination>
		</div>
	
	</div>
</div>