<h1>
    <span ng-if="vm.editMode === false">Create</span>
    <span ng-if="vm.editMode === true">Edit</span>
    Announcement
</h1>

<form class="form-horizontal">
	
	<div class="row-fluid">
		<div class="span6">
			<div class="control-group">
				<label class="control-label">Announcement Name
				<img width="10" height="10" alt="Required!" src="/hix/resources/images/requiredAsterix.png" aria-hidden="true"/>
				</label>
				<div class="controls">
					<input type="text" class="input-xlarge" model-view-value="true" maxlength="100" ng-model="vm.announcementName">
					<span class="help-inline popover-content ng-binding zip-warning redBorder" ng-show="vm.announcementError">Please enter announcement name</span>
				</div>
			</div>
		</div>
		
		<div class="span6">
			<div class="control-group">
				<label class="control-label">Module</label>
				<div class="controls">
					<input type="text" class="input-medium" disabled value="Individual Portal" ng-if="vm.editMode === false">
					<input type="text" class="input-medium" disabled ng-model="vm.moduleName" ng-if="vm.editMode === true">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span6">
			<div class="control-group">
				<label class="control-label">Effective Start Date
				<img width="10" height="10" alt="Required!" src="/hix/resources/images/requiredAsterix.png" aria-hidden="true"/>
				</label>
				<div class="controls">
					<div class="input-append date" date-picker>
						<input type="text" class="input-medium" ui-mask="99/99/9999" placeholder="mm/dd/yyyy" model-view-value="true" ng-model="vm.effectiveStartDate">
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
					<span class="help-block popover-content ng-binding zip-warning redBorder" ng-show="vm.startDateError">Please enter a valid start date</span>
				</div>
			</div>
		</div>
		
		<div class="span6">
			<div class="control-group">
				<label class="control-label">Effective End Date
				<img width="10" height="10" alt="Required!" src="/hix/resources/images/requiredAsterix.png" aria-hidden="true"/>
				</label>
				<div class="controls">
					<div class="input-append date" date-picker>
						<input type="text" class="input-medium" ui-mask="99/99/9999" placeholder="mm/dd/yyyy" model-view-value="true" ng-model="vm.effectiveEndDate">
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
					<span class="help-inline popover-content ng-binding zip-warning redBorder" ng-show="vm.endDateError">Please enter a valid end date</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header">
		<h5 class="pull-left" style="margin-left:5px;">
			Enter Text for the Announcement
			<img width="10" height="10" alt="Required!" src="/hix/resources/images/requiredAsterix.png" aria-hidden="true"/>
		</h5>
	</div>
	
	<ng-ckeditor bind="htmlEditor" skin="moono"></ng-ckeditor>

	<div class="help-inline popover-content ng-binding zip-warning redBorder" ng-show="vm.announcementTextError || vm.announcementTextLengthError">
		<span ng-if="vm.announcementTextError">Please enter announcement text</span>
		<span ng-if="vm.announcementTextLengthError">The announcement you entered exceeds the maximum length</span>
	</div>
	
</form>

<div class="form-actions txt-right">
	<span class="pull-left" ng-if="vm.editMode === true">Last Updated Date: {{vm.updatedDate}}</span>
	<a class="btn" ng-click="vm.goToAnnouncementList()">CANCEL</a>
	<a class="btn btn-primary" ng-click="vm.publishAnnouncement()">PUBLISH</a>
</div>

<!-- Success Model-Start -->
<div ng-show="vm.successModel">
 <div class="modal" tabindex="-1" role="dialog" aria-labelledby="successAnnouncementModel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.cancel()" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body gutter20">
			<h3>Submission Successful!</h3>
			<p>Press the OK button to go back to manage announcement.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary" data-dismiss="modal" ng-click="vm.goToAnnouncementList()">OK</a>
        </div>
      </div><!-- /.modal-content-->
    </div> <!-- /.modal-dialog-->
   </div>
</div>
<!-- Success Model-End -->

<!-- Failure Model-Start -->
<div ng-show="vm.failureModel">
 <div class="modal" tabindex="-1" role="dialog" aria-labelledby="failureAnnouncementModel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.cancel()" aria-hidden="true">&times;</button>
          <h3 id="failureAnnouncementModel">Technical Issues</h3>
        </div>
        <div class="modal-body gutter20">
          <p>Cannot submit request at this time.</p>
          <p>Press the OK button to go back to manage announcement.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary" data-dismiss="modal" ng-click="vm.goToAnnouncementList()">OK</a>
      </div><!-- /.modal-content-->
    </div> <!-- /.modal-dialog-->
   </div>
</div>
</div>
<!-- Failure Model-End -->