<title th:remove=\"all\"></title></p><p>	<meta content=\"text/html; charset=UTF-8\" http-equiv=\"Content-Type\" />
${systemDate} </br> </br> ${employerName} </br> ${contactFullName} </br> ${contactAddress} </br> ${contactCity}, ${contactState}, ${contactZip} </br> </br> 
Dear <span>${contactFirstName}</span>, </br> </br> The appeal from ${employerName} to participate in the ${exchangeName} was ${appealStatus} on ${appealDate}. ${nextStep} </br> </br>	Thank you,</br> ${exchangeName} </br> </br> ${exchangePhone} </br> ${exchangeURL}