<p>
	<title th:remove=\"all\"></title>
</p>
<p>
	<meta content=\ "text/html; charset=UTF-8\ " http-equiv=\ "Content-Type\" />
</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
	<tr style="border: 1px solid #cccccc; border-collapse: collapse;">
	  <td align="left" bgcolor="#FFFFFF" style="color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
	    <!--<img src="${host}/resources/images/header_nm.gif" alt="One,Mississippi" width="600" height="143" style="display: block;" />-->
		<img src="resource/images/email-gi-header-logo.gif" alt="One, Mississippi healthcare marketplace" width="600" height="143" style="display: block;" />
	  </td>
	</tr>
</table>
<p>
	Welcome <span>${issuerName} </span>,
</p>
<p>
	Issuer account has been created on ${exchangename} for you. Please
	click on below link or copy and paste it in your browser. <a
		href=${activationUrl} target="_blank">${activationUrl}</a>
</p>
This is a one-time login, so it can be used only once. It expires after
15 days.
<p>
<p>
	Sincerely,<br>One, Mississippi Team
</p>