@charset "utf-8";
/* CSS Document */

.breadcrumb {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5) !important;
    background-repeat: repeat-x;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    font-size: 85%;
    margin: 0 0 18px;
    padding: 5px 14px;
	text-align:left;
}

.breadcrumb .divider {
    color: #BFBFBF;
    padding: 0 8px 0 0;
}

.breadcrumb a {
    color: #525252;
	padding: 0 6px;
}

.breadcrumb .active {
    color: #999999;
    font-weight: bold;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a, .navbar .nav > li > a {
    color: #FFFFFF;
    font-family: 'Droid Serif',serif;
    font-size: 1.1em;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}