<div class="gutter10" ng-controller="lifeChangeCtrl">
  <div class="row-fluid">
    <div class="sidebar span3">
      <div class="page-header well well-sm" style="background: #eee;">
        <h3>Selected Events</h3>
      </div><!-- header -->
      <div class="well well-md">
        <table class="table table-bordered">
          <tbody class="table-striped">
            <tr ng-repeat="individualItem in lifeEvents | filter:'true'">
              <td>
                {{individualItem.eventName}}
              </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!-- <pre>{{lifeEvents}}</pre> -->
    </div><!-- sidebar -->

    <div class="rightside span9">
      <div class="page-header well well-sm" style="background: #eee;">
        <h3>Life Event Changes</h3>
      </div><!-- header -->
      <div class="well well-md">
        <div ng-repeat="individualItem in lifeEvents">
          <input type="checkbox" ng-model="individualItem.value" > {{individualItem.eventName}}
        </div>
        <div>
          <br>
		  
          <a class="btn btn-primary pull-right" ng-click="next('/next')">Next</a>
        </div>
      </div>
    </div><!-- rightside -->

  </div><!-- row -->
</div><!-- lifeChangeCtrl -->