<div class="control-group">
  <h3>Date of Change</h3>
  <label class="control-label" for="typeOfRequest">Date of Change:</label>
  <div class="controls">
    <label class="radio">
      <div class="input-append date" data-date="01-01-2013" data-date-format="mm-dd-yyyy">
        <input type="text" id="datepicker" placeholder="mm/dd/yyyy" class="hasDatepicker input-medium">
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </label>
  </div>


Please update the following individuals' incarceration status.<br><br>
<div class="gutter10">
    <table id="" class="table table-striped">
        <tbody><tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Relationship</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>Sally Lee </td>
          <td>Jones</td>
          <td>Self</td>
          <td class="toggle">
            <div class="switch-toggle well">
              <input id="week1" name="view1" type="radio" checked="">
              <label for="week1" onclick="">Not Incarcerated</label>
              <input id="month1" name="view1" type="radio">
              <label for="month1" onclick="">Incarcerated</label>
              <a class="btn btn-primary"></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Fred Flare</td>
          <td>Jones</td>
          <td>Spouse</td>
          <td class="toggle">
            <div class="switch-toggle well">
              <input id="week2" name="view2" type="radio" checked="">
              <label for="week2" onclick="">Not Incarcerated</label>
              <input id="month2" name="view2" type="radio">
              <label for="month2" onclick="">Incarcerated</label>
              <a class="btn btn-primary"></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Joshua</td>
          <td>Jones</td>
          <td>Child</td>
          <td class="toggle">
            <div class="switch-toggle well">
              <input id="week3" name="view3" type="radio" checked="">
              <label for="week3" onclick="">Not Incarcerated</label>
              <input id="month3" name="view3" type="radio">
              <label for="month3" onclick="">Incarcerated</label>
              <a class="btn btn-primary"></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Jake</td>
          <td>Jones</td>
          <td>Child</td>
          <td class="toggle">
            <div class="switch-toggle well">
              <input id="week4" name="view4" type="radio" checked="">
              <label for="week4" onclick="">Not Incarcerated</label>
              <input id="month4" name="view4" type="radio">
              <label for="month4" onclick="">Incarcerated</label>
              <a class="btn btn-primary"></a>
            </div>
          </td>
        </tr>
    </tbody></table>

  </div>
</div>
</form><!-- gutter10 -->
  <dl class="dl-horizontal pull-right">
    <form action="../3/2.html">
      <input type="button" value="Back" class="btn btn-secondary" onclick="history.go(-1);return false;">
      <button class="btn btn-primary">Next</button>
    </form>
  </dl>
</div><!-- gutter10 -->