<div class="gutter10" ng-controller="nextCtrl">
  <div class="row-fluid">
    <div class="sidebar span3">
      <div class="page-header well well-sm" style="background: #eee;">
        <h3>Selected Events</h3>
      </div><!-- header -->
      <div class="well well-md">
        <table class="table table-bordered">
          <tbody class="table-striped">
            <tr ng-repeat="item in msg | filter:'true'">
              <td>
                {{item.eventName}}
              </td>
          </tr>
            <tr>
              <td>
                Summary of Life Change Events
              </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!-- sidebar -->

    <div class="rightside span9">
      <div class="page-header well well-sm" style="background: #eee;">
        <h3>Life Event Changes {title of first item on list}</h3>
      </div><!-- header -->
      <div class="well well-md">
        <h3 date-of-change></h3>

        <!-- <div>
          <label class="radio-inline">
            <input type="checkbox" value="yesbnfnvghm" ng-model="detailsOfSpouse"> Add Details
          </label>
        </div>
        <div class="span12" ng-show="detailsOfSpouse">
          <div blah></div>
        </div>-->

        <div ng-controller="Ctrl">
          <select ng-model="template" ng-options="t.name for t in templates">
          <option value="">(blank)</option>
          </select>
          <!-- url of the template: <tt>{{template.url}}</tt> -->
          <hr/>
          <div class="slide-animate-container">
            <div class="slide-animate" ng-include="template.url"></div>
          </div>



      </div>
    </div><!-- rightside -->


  </div><!-- row -->
</div><!-- lifeChangeCtrl -->
