.overlay {
    background-color: white;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    &-content {
        position: fixed;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        top: 10vh;
        width: 100vw;
        >div {
            margin: 0px auto 30px auto;
            width: fit-content;

        }
        >button {
            width: fit-content;
            margin: auto;
        }
    }
}


:host{
    display: none;
    &.show{
        display: block !important;
    }
}
.overlay-content {
    display:inline-block !important;
    text-align:center;
    .alert{
        max-width: 860px;
    }
}
