<input
    [attr.aria-label]="'Add up to 5 prescriptions to see if they are covered. After you type, use arrow key to navigate through the options and press enter to select.'"
    id="drug-search-field"
    [(ngModel)]="drug"
    [ngbTypeahead]="drugSearch"
    type="text"
    class="form-control gtm_prescription_search"
    (selectItem)="onSelect($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (ngModelChange)="onChange($event)"
    placeholder="{{'DRUG_SEARCH_TYPEAHED.placeholder' |translate}}"
    [resultFormatter]="formatter"
    #ngbTypeahead="ngbTypeahead"
    #drugInput/>

<div style="padding-top:5px;">
    <div *ngIf="searching===true">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
    </div>
</div>