img[alt="Required!"] {
    margin-top: 0 ;
}
.form-actions {
    input.btn[type="submit"].btn-primary[disabled] {
        color: #444;
        background-color: #ebc957;
    }
}
.btn-primary[disabled] {
    color: #444 !important;
    background-color: #ebc957 !important;
}
.margin5-b {
    margin-bottom: 5px;
}
/*************************************
.
.  =Agency Portal Menubar
.
**************************************/
#body-agency_manager {
    #menu {
        .navbar-inner {
            .dropdown {
                &-menu {
                    li {
                        a {
                            &.disabled {
                                cursor: not-allowed;
                                &:hover {
                                    background: #fff;
                                    color: #555 !important;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}
a[rel~="tooltip"] {
    text-decoration: none;
    word-break: break-word;
}
.popover {
    border: 1px solid #777;
    border-top-color: #A6A6A6;
    background-color: #f7f7f7;
    &-content {
            padding: 3px 12px;
        p {
            color: #222 !important;
            word-break: break-word;
        }
    }
}



#aid-agency-portal {
    .disabled {
        cursor: not-allowed;
        a {
            cursor: not-allowed;
        }
    }
    .disabled-icon {
        cursor: not-allowed;
    }
    #agency-portal-adminStaff {
        #sidebar {
            .nav-list {
                li {
                    &.disabled {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
    .form-horizontal {
        .form-actions {
            padding-left: 0;
        }
    }
    .help-inline  {
        display: inline-block;
        margin-top: 10px;
    }
    #adminStaffForm {
        .help-inline  {
            margin-top: 0;
        }
    }
    .help-inline-info {
       margin-left: 45px;
    }
    .help-inline {
        //margin-left: 38px;
    }
    #aid-docupload-form {
        .form-actions {
            padding-left: 25px;
        }
    }
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #3e3e3e;;
        background-color: #e6e6e6;
        border-color: #ccc;
        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        &-title {
            margin-left:2px;
        }
    }
    .image-preview {
        input[type=text] {
            margin-left: -3px;
            border-left: 0;
        }
    }
    .accordion-heading {
        &.header {
            background: #e7e7e7 !important;
            color: #666;
        }
        h4 {
            background: #e7e7e7;
            color: #666;
            // a {
            //     color: #666;
            // }
        }
    }
    .accordion-inner {
        h5 {
            border-bottom: 1px solid #dedcdc;
            padding-bottom: 5px;
            font-size: 1.2em;
            color: #575757;
        }
    }
    .accordion-body {
        &.collapse {
            width: 100%;
        }
    }
    table {
        width:100%;
        tbody {
            tr {
                td {
                    display: table-cell;
                    word-break: break-word;
                    .dropdown {
                        &.open {
                            li {
                                &:hover {
                                    background: #128794;
                                    color: #fff;
                                }
                                a {
                                    text-align: left;
                                    font-size: 0.8em;
                                    padding: 3px 10px;
                                    white-space: normal;
                                    & [class^="icon-"] {
                                        padding-right: 3px !important;
                                        padding-top: 2px;
                                        float: left;
                                        margin-bottom: 7px;
                                    }
                                }
                            }
                        }
                    }
                    .dropdown-menu {
                        padding: 0 !important;
                    }
                    &.overflow-wrap-hack {
                        max-width:1px;
                        .comment {
                            word-wrap:break-word; /*old browsers*/
                            overflow-wrap:break-word;
                        }
                    }
                }
            }
        }
        &.agent-list-table {
            tbody {
                td:first-child{
                    width: 25%;
                }
            }
        }
    }

}
/*************************************
.
.  =Agency Location and Hours
.
**************************************/
.agency-location-hours-container{
    .ag-accordion{
        border: none;

        .accordion-inner {
            border: none;
        }

        .accordion-heading h4{
            margin-bottom: 0 !important;
        }
    }
    .agency-location-header{
        height: 30px;
        a{
            width: 87%;
            float: left;
            color: #666;
        }
        button{
            float: left;
            margin-top: 2px !important;
        }
    }
}

    .aid-radio-days-lbl {
        width: 80px;
    }

    input.radio-days {
        float: right !important;
        margin-left: 0 !important;
        margin-right: -20px !important;
    }

    label.radio-days {
        text-align: right;
        padding-left: 0;
        padding-right: 20px;
    }
    select[id^="aid-from"] {
        margin-right: 15px;
    }

    .hrs-op-wrap { margin-left: 30px;; }
    .all-week-chkbox {
        margin-left: -50px;
    }
    .timepicker { margin-left: 30px !important;}

    input[type="radio"] { margin-top: 4px !important;}
    .radio-closed {margin-left: -25px;}


/*************************************
.
.  =Agency Manager Information
.
**************************************/

#rightpanel {
    &.aid-agcertification{
        .form-horizontal {
            .form-actions {
                padding-left: 0;
            }
        }
    }
    &.aid-agbuildprofile {
        .form-horizontal  {
            .controls {
                margin-left: 0;
            }
        }
    }
}

/*************************************
.
.  =Agency Agent List
.
**************************************/
.agent-list-container{
    #sidebar{
        .checkbox-inline{
            position: relative;
            display: inline-block;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: 400;
            vertical-align: middle;
            cursor: pointer;
            padding: 5px 0 0 40px;
        }
        .form-legend{
            font-weight: normal;
            border-bottom: 0;
            margin-bottom: 0;
            line-height: 30px;
        }
        legend {
            margin-bottom: 0!important;
            font-weight: normal;
        }

    }

    table.agent-list-table{
        th.sortable a:after {
            color: #909aa2;
            content: "\f0dc";
            font-family: "FontAwesome";
            font-size: 12px;
            margin-left: 4px;
        }
        tbody {
            tr {
                td {
                    .dropdown {
                        &.open {
                            li {
                                a {
                                    text-align: left;
                                    font-size: 0.8em;
                                    padding: 3px 10px;
                                    &[class^="icon-"] {
                                        padding-left: 3px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*************************************
.
.  =Agency Admin CertificationStatus
.
**************************************/

.form-horizontal {
    .update__wrapper {
        .update__input__label {
            text-align: right
        }
        .controls {
            margin-left: 21px !important;
        }
    }
    .upload {
        &__label {
            margin-right: 20px;
            text-align: right;
        }
        &__box {
            // margin-left: -40px;
            // margin-right: 10px;
        }
    }
}
.file-name-display{
    display: inline-block;
    width: 160px;
}

.table-list-pagination{
    ul li:not(.active) a:hover {
        font-weight: inherit;
    }
}
/*****************************************
.
.  =Agency Delegations - Active Consumers
.
******************************************/


.dataSortContainer {
    padding-top: 20px;
}
#sortDataForm {
    margin-bottom: 0;
}
.searchPanelWrapper {
    margin:0px;
    background-color:@search-panel-wrapper-bg-color;
    padding:10px;
    margin-bottom:15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px @search-panel-wrapper-box-shadow;
    -moz-box-shadow: inset 0 1px 1px @search-panel-wrapper-box-shadow;
    box-shadow: inset 0 1px 1px @search-panel-wrapper-box-shadow;

    form {
        margin: 0;
    }
    .clear-all {
        display: block;
        margin-top: 25px;
        padding-right: 10px;
    }
}
.searchPanel {
    margin-bottom:0px;
    display:none;
    margin-top:15px;
    &.fullCollapse {
        border: 1px solid red;
        height: 0;
        overflow: hidden;
        width: 0;
    }
}
.btnShowHideSearchFilter {
    border-radius:10px;
    border-bottom-left-radius:0px !important;
    border-bottom-right-radius:0px !important;


}
.btnSearchFilter {
    background-color: red;
    content: "";
    height: 40px;
    margin: auto;
    position: fixed;
    left:153px;
    vertical-align: middle;
    width: 40px;
}
.removeFilter {
    cursor:pointer
}
.stuck{
    position:fixed;
    width:910px;
    top:0px;
    z-index:1000;
}

.noPadding {
    padding:0px !important
}

.noMargin {
    margin:0px !important
}

.appliedFilters {
    margin-left:10px
}
.export-BOB-links {
    a {
        i {
            margin-left: 5px;
        }
        &.disabled {
            color: #b3b3b3
        }
    }
}
.gridDataContainer{
    /*display:none;*/
    & .gridHeader{
        background-color: #dededf;
        color:black;
        font-weight:bold;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-top:20px;
    }
    .gridBody {
        .gridRow{
            border-bottom:1px solid #dcdcdc;
            padding-bottom: 15px;
            p {
                margin-bottom:0px;
                font-size:12px
            }
            label {
                font-size:12px
            }
            .rowHead {
                border-bottom:1px solid #dcdcdc;
                margin-bottom:10px;
            }
            .labelValue {
                color:#292929;
                word-break: break-all;
                a {
                    font-weight: bold;
                }
            }
            & [class^="icon-"] {
                margin-top: 3px;
                margin-right: 5px;
                float: left;
            }
            & .icon-envelope {
                margin-bottom: 10px;
            }
            .labelValue-addr-ln2 {
                margin-left: 17px;
                color: #000;
            }
            .actions {
                text-align: center;
                float: left;
                margin-left: 15px;
                .dropdown {
                    .dropdown-menu {
                        padding: 0;
                    }
                    a {
                        text-align: left;
                        color: #3e3e3e;
                        [class^="icon-"] {
                            color: #3e3e3e !important;
                        }
                        .squareroot {
                            margin-right: 10px;
                        }
                        & [class="icon-cog"],
                        & .caret {
                            color: #356ea9 !important;
                        }
                    }
                    .dropdown-menu {
                        a {
                            &:hover,
                            &:focus {
                                color: #fff !important;
                                [class^="icon-"] {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .gridRow,
    .gridHeader {
        padding: 10px 0 6px;
    }
    label {
        display:inline;
        color:#676767 !important;
        white-space:nowrap;
    }
    table {
        td {
            vertical-align:top;
        }
        tr.email {
            td {
                white-space: pre-wrap;
                word-break: break-all;
            }
        }
    }

}
  /* for hosuehold info */
 #houseHoldInfolModal {
/*      left:38%;
 */     width:900px;
 }
 .householdDataTable th, .householdDataTable td {
    white-space:nowrap !important;
 }
  /* for ligibility info */
 #eligibilityInfolModal {
    /* left:47%; */
    width:700px;
 }
 #eligibilityInfolModal div.span4.text-right {
    line-height:inherit;
}
.noResultMsg {
    display:none;
    text-align:center;
}
.tpMenu{
    left:-19px;
    position:relative;
    margin-bottom:10px;
}
.actionListContainer, .actionListContainer  * {
    border-radius:0px !important;
}
.actionListContainer {
    font-size: 16px;
    position: relative;
    .btn-group > .btn,
    .btn-group > .dropdown-menu,
    .btn-group > .popover {
        font-size:11px;
        background-color: transparent;
        border: none;
        color: #000;
        line-height:17px
    }
}
.searchPanelWrapper {
    .panel-heading {
        .btn {
            &.slider-handler {
                font-size: 22px;
                padding: 0px 6px;
            }
        }
    }
}

#householdModal {
    width: 72% !important;
}
#eligibilityModal {
    width: 65%;
    .alert {
        font-weight: normal;
        overflow: hidden;
        h4 {
            color: #3e3e3e !important;
        }
        hr {
           margin: 5px 0 10px;

        }
    }

    .infoLabel {
        display: inline-block;
        padding: 2px 4px;
        font-size: 12px;
        line-height: 14px;
        color: #676767  !important;
        vertical-align: baseline;
        white-space: nowrap;
        text-shadow: none  !important;
        background-color: transparent !important;
    }
    .infoLabelValue {
        display: inline-block;
        padding: 2px 4px;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        color: #292929;
        vertical-align: baseline;
        white-space: nowrap;
        text-shadow: none;
        background-color: transparent;
    }
    .eligibilityPopupTable {
        thead {
            th {
                word-wrap: normal;
                word-break: normal;
                white-space: nowrap;
            }
        }
    }
}




//Transfer Consumer Delegations
.panel-container {
	&__header {
	    background-color: #dededf;
	    border-radius: 5px;
	    padding: 10px;
	    font-weight: normal;
	    font-size: 16px;
	    margin: 0;

	    &--attach {
	    	border-radius: 5px 5px 0 0;
	    }
    }


    &__body {
    	padding: 10px;

    	.control-group{
    		margin-top: 10px;
    	}

    	&--attach {
	    	border: 1px solid #dededf;
	    }
    }

    table {
        th {
            a {
                &.btn-primary {
                    color: #444444;
                    background: #fc0 !important;
                    background: -webkit-linear-gradient(#ebc957 0%, #dcb42f 100%) !important;
                    background: -o-linear-gradient(#ebc957 0%, #dcb42f 100%) !important;
                    background: linear-gradient(#ebc957 0%, #dcb42f 100%) !important;
                    font-weight: bold;
                }
            }
        }
    }
}
