

@media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
        .modalDataTable {
            &.table, thead, tbody, th, td, tr {
                display: block;
            }
            thead {
                tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }
            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
                &:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 6px;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                }
            }
            &.householdPopupTable:lang(en) {
                td:nth-of-type(1):before { content: "Name"; }
                td:nth-of-type(2):before { content: "Relationship"; }
                td:nth-of-type(3):before { content: "Date of Birth"; }
                td:nth-of-type(4):before { content: "Gender"; }
                td:nth-of-type(5):before { content: "SSN Information"; }
                td:nth-of-type(6):before { content: "Home Address"; }
                td:nth-of-type(7):before { content: "Mailing Address"; }
                td:nth-of-type(8):before { content: "Seeking Coverage?"; }              
            }
            &.householdPopupTable:lang(es) {
                td:nth-of-type(1):before { content: "Name"; }
                td:nth-of-type(2):before { content: "Relationship"; }
                td:nth-of-type(3):before { content: "Date of Birth"; }
                td:nth-of-type(4):before { content: "Gender"; }
                td:nth-of-type(5):before { content: "SSN Information"; }
                td:nth-of-type(6):before { content: "Home Address"; }
                td:nth-of-type(7):before { content: "Mailing Address"; }
                td:nth-of-type(8):before { content: "Seeking Coverage?"; }              
            }
            &.eligibilityPopupTable:lang(en) {
                td:nth-of-type(1):before { content: "Name"; }
                td:nth-of-type(2):before { content: "Medi-Cal Eligibility"; }
                td:nth-of-type(3):before { content: "Advance Premium Tax Credit"; }
                td:nth-of-type(4):before { content: "Cost Sharing Reduction";}           
            }
            &.eligibilityPopupTable:lang(es) {
                td:nth-of-type(1):before { content: "Name"; }
                td:nth-of-type(2):before { content: "Medi-Cal Eligibility"; }
                td:nth-of-type(3):before { content: "Advance Premium Tax Credit"; }
                td:nth-of-type(4):before { content: "Cost Sharing Reduction"; }              
            }


        }

}



@media (min-width: 320px) and (max-width: 472px) {
    .modal {
        width: 90% !important;
    }
    /*-- Agency Information --*/
    #aid-agency-portal {
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0;
        }
        #agencyInfo {
            h4 {
                text-align: left;
            }
        }
    }
    form[name="agencyInformationForm"] {
        padding-left: 0 !important;
        .control-label{
            width: 100%;
        }
        input {
            width: 100%;
        }
        .form-actions {
            width: 100%;
            padding-right: 7px;
            padding-left: 6px !important;
        }
    }
    /*-- Location & Hours --*/
    .agency-location-hours-container {
        .agency-location-header {
            a {
                width: 97%;
                padding: 1px 0;
                font-size: 14px;
                line-height: 1.4;
                font-weight: 500;
                span.pull-left {
                    font-weight: bold
                }
                span.pull-right {
                    float: left;
                    margin-left: 12px;
                    line-height: 1.2em;
                }
            }
        }
        .accordion-group {
            .location-header {
                width: 100%
            }
            .address-header {
                width: 100%
            }
        }        
        .hrs-op-container {
            position: relative;
        }
        .hrs-op-wrap {
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
            .all-week-chkbox {
                margin-left: 0;
                text-align: left;
                margin-bottom: 10px;
            }
            .radio-operation-hrs {
                width: 200px;
            }
            .radio-days {
                float: left !important;
                margin-left: 0 !important;
                margin-right: 0;
            }
            label {
               &.radio-open {
                    width: 63px;
                    padding: 5px 0;
                    padding-right: 25px;
               }
               &.Wednesday {
                    width: 84px;
                    padding-right: 3px;
               }
               &.Thursday,
               &.Saturday {
                    width: 70px;
                    padding-right: 22px;
               }
               &.Friday {
                    width: 52px;
                    padding-right: 37px;
               }
               &.Sunday {
                    width: 61px;
                    padding-right: 27px;
               } 
            }
            .radio-closed {
                margin-left: -48px;
                margin-right: 0;
                padding-left: 0;
                width: 60px;
                input {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
        .action-btn-wrapper {
            text-align: left !important;
            button {
                float: left !important;
                margin-left: -4px;
            }
        }
    }
  #searchFilterForm {
    button {
      float: right;
      margin-top: 20px;
    }
  }
}


@media (min-width: 501px) and (max-width: 767px){
 .container-fluid {
      margin-left: 0;
      padding-left: 18px !important;
      padding-right: 0 !important;
    }
    form[name="agencyInformationForm"] {
        .control-label{
            padding-right: 20px !important;
        }
    }
    .form-horizontal {
    	.control-label {
        	padding-left: 0;
    	}
    	.controls {
        	margin-left: 0px;
    	}
    }
    #searchFilterForm {
        button {
            float: right;
            margin-top: 20px;
        }
    }
    .gridDataContainer {
        .index-col {
            text-align: left;
        }
        .gridHeader {
            .index-col {
                margin-left: 10px;
            }
            .household {
                padding-left: 15px;
                padding-right: 15px;
            }
            .case {
                padding-left: 15px;
                padding-right: 15px;
            }
            .coverage {
                padding-left: 15px;
                padding-right: 15px;
            }
            .agent {
                padding-left: 15px;
            }
        }
        .gridBody {

            .col-sm-2,
            .col-sm-3 {
                margin: 5px 0;
                padding: 5px 15px;
            }
            .gridRow {
                .index-col {
                    margin-left: 10px;
                    padding-top: 10px;
                }
                .labelValue-addr-ln2{
                    margin-left: 0;
                }
                .actions {
                    text-align: left;
                    margin-left: 0;
                    padding-top: 10px;
                }
            }
        }
    } 
}

@media (min-width: 768px) and (max-width: 991px) {
	.form-horizontal {
		.control-label {
        	width: 33.33%;
        	margin-right: 15px;
    	}
    	.controls {
        	margin-left: 220px;
    	}
	}
	#location-info {
        .control-group {
            margin-left: -50px;
        }
    }
    /*-- Location & Hours --*/
    .agency-location-hours-container {
        .agency-location-header {
            .agency-location-header-content {
                width: 95%;
            }
        }
        .hrs-of-op {
            .control-group {
                .controls {
                    margin-left: 0 !important;
                    .select-time {
                        margin-left: 20px;
                        margin-right: -5px;
                    }
                }
            }
            .radio-days {
                font-weight: bold;
            }
            .radio-closed {
                margin-left: -17px;
            }
        }
    }

    .dataSortContainer {
        .export-BOB-links {
            float: right;
            a {
                float: right;
            }
            
        }
    }
    #searchFilterForm {
        button {
            float: right;
            margin-right: 15px;
            margin-top: 20px;
        }
    }
    .gridDataContainer {
        .index-col {
            text-align: left;
            margin-left: 22px;
        }
        .case-value {
            label {
                font-weight: bold;
            }
        }
        .gridBody {
            .gridRow {
                .actions {
                    text-align: left;
                }
                .select-consumer {
                    input[type="checkbox"] {
                        margin-left: 0;
                    }
                }
            }

        }
    } 
}

@media (min-width: 992px) and (max-width: 1999px){
    #sidebar {
        margin-right: 10px;
        h4 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    #rightpanel {
        width: 73%;
        float: right;
    }
    .form-horizontal {
    	.control-label {
       		width: 33.33%;
        	margin-right: 15px;
    	}
    	.controls {
        	margin-left: 220px;
    	}
    }
	#location-info {
        .control-group {
            margin-left: -50px;
        }
    }
    .agency-location-hours-container {
        .agency-location-header {
           .agency-location-header-content {
                width: 95%;
            }
        }
    	.hrs-of-op {
            .control-group {
                .controls {
                    margin-left: 0 !important;
                    .select-time {
                        margin-left: 20px;
                        margin-right: -5px;
                    }
                }
            }
        }
        .radio-days {
            font-weight: bold;
        }
        .radio-closed {
            margin-left: -12px;
        }
    }
    .dataSortContainer {
        .export-BOB-links {
            a {
                float: right;
            }
            
        }
    }
    #searchFilterForm {
        button {
            margin-top: 20px;
        }
    }
    .gridDataContainer {
        .index-col {
            text-align: left;
            margin-left: 12px;
        }
        .select-consumer {
            input[type="checkbox"] {
                margin-left: 0;
            }
        }
    } 
}

@media (min-width: 1200px) {
    #sidebar {
        h4 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .form-horizontal{
		.controls {
        	margin-left: 220px;
    	}
    }
	#location-info {
        .control-group {
            margin-left: -50px;
        }
    }
	.hrs-of-op {
        .control-group {
            .controls {
                margin-left: 0 !important;
                .select-time {
                    margin-left: 20px;
                    margin-right: -5px;
                }
            }
        }
    }
    .dataSortContainer {
        .export-BOB-links {
            a {
                float: right;
            }
            
        }
    }
    #searchFilterForm {
        button {
            float: right;
            margin-top: 20px;
        }
    }
    .gridDataContainer {
        .index-col {
            text-align: left;
            margin-left: 12px;
        }
        .gridRow {
            input[type="checkbox"] {
                margin-left: 0 !important;
            }
        }
    } 
}
