//variables
@plan-selection-primary-color: #0092B3;
@plan-expense-header-color: #F7F8F8;


@ps-link-color: @nv_nav_link_blue;
@ps-link-color-hover: @nv_primary_pink;

@ps-font-color: @nv_grey_text;
@ps-border-color: #dcdcdc;

//////////////////////////////////////
//plan-selection layout
.plan-selection {
    box-sizing: border-box;

    *, *::before, *::after {
        box-sizing: inherit;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

   	color: @ps-font-color;

    .ps-edit {
        &:before {
            content: "\f044";
            font-family: FontAwesome;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            position: relative;
            margin: 0 5px;
        }
    }

    .goToCart {
        font-size: 14px;
    }

}

.ps-rightpanel {
	flex: 1;
}

///////////////////////
//links
.ps-top-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &__left {
        //margin-left: 20px;
        margin-right: auto;
    }

    &__right {
        margin-right: 20px;
    }
}


//////////////////////////////////////
/////////////////////
//nav
.ps-nav {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: @nv_primary_green;
        top: 52px;
        opacity: .4;
    }

    &__links {
        border: none;
        margin-right: auto;
    }

    &__list {
        border-bottom: 5px solid #fff;
    }

    &__list--active {
        box-sizing: border-box;
        border-bottom: 5px solid @nv_primary_green ;
        .ps-nav__link {
            color: @nv_primary_green;
        }
    }

    &__link {
        padding: 14px 20px !important;
        font-size: 20px;
        color: @nv_grey_heading;
        border: none !important;


        &:hover {
            background-color: #fff !important;
            border: none !important;
        }
    }

    &__plan-count {
        font-size: 20px;
        font-weight: bold;
    }
}


//eligibility
.ps-eligibility {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 15px 10px 0px;

	&__header {
		margin: 0 0 5px;
		font-size: 15px;
	}

	&__paragraph {
		margin: 0 0 5px;
	}

	&__amount {
		font-size: 20px;
	}

    &__csr {
        flex: 0 0 48%;
    }

    &__csr-text {
        margin-left: 5px;
    }
}

.ps-hr {
    margin: 10px 0 0;
}

.ps-sidebar-toggler {
	display: none;
}

////////////////////////
//aside
.ps-sidebar {
    flex:0 0 25%;
    padding: 0 10px;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	
	&::-webkit-scrollbar {
	  width: .4em; 
	}
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-thumb {
	  overflow:visible;
	  border-radius: 4px;
	}
	&::-webkit-scrollbar-thumb {
	  background: rgba(0,0,0,.2); 
	}
	
    &__group {
        margin-top: 20px;
        margin-left: 10px;
    }

    &__group-header {
        max-width: 200px;
        font-size: 15px;
        font-weight: bold;
        border-bottom: 1px solid @ps-border-color;
        text-transform: uppercase;
        padding-bottom: 5px;
        margin: 0 0 25px;
        color: inherit;
    }

    &__filter {
        margin-top: 25px;
    }

    &__filter-header {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
    }
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .ps-sidebar {
       height: auto;
       overflow: hidden;
   }
}
////////////////////////
//plans

.ps-plans {
    padding: 0 10px;


    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__filters-label {
    	font-weight: bold;
    	text-transform: uppercase;
    	font-size: 15px;
        display: block;
    }

    &__filter {
        background-color: #f5f5f5;
        padding: 0px 15px;
        display: inline-block;
        border: 1px solid @ps-border-color;
        font-weight: bold;
        margin: 5px;
    }

    &__remove {

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 8.5px;
            right: 3px;
            width: 10px;
            height: 2px;
            background-color: #c62828;
            cursor: pointer;
        }

        &::before {
            transform: rotate(-135deg);
        }

        &::after {
            transform: rotate(135deg);
        }
    }

    &__tiles {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}






//components

///////////////////////////
//label
.cp-label {
    &--grey {
        color: #a1a8ae;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
}


.cp-btn {

    &__cart {
        border-radius: 4px;
        padding:5px;
        margin-bottom: 20px;
        font-size: 18px;

        i {
            margin-right: 10px;
        }
    }

}

.cp-tooltip {
    &__icon-link {
        border-bottom: none !important;
    }

    &__text {
        border-bottom: 1px dotted #04476C !important;
    }
}


///////////////////////////
//link
.cp-link {
    color: @ps-link-color;
    &:hover {
    	color: @ps-link-color-hover;
    }
    font-weight: normal;
    display: inline-block;
}

///////////////////////////////
//tile
.cp-tile {
    flex: 0 0 31%;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;

    text-align: center;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    margin-right: 1%;
    font-size: 14px;
//    color: #5d5d5d;

    &:hover {
        box-shadow: 0 1px 4px rgba(140, 175, 193, 0.4);
    }

    &__header {
        height: 45px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
		background-color: @plan-expense-header-color;
      	border-bottom: 1px solid #d3d3d3;
    }

    &__estimate {
        font-weight: bold;
    }

    &__icon {
        color: #000;
        opacity: .6;
        cursor: pointer;
    }

    &__body {
        //flex: 1;
        margin-bottom: auto;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__img-link {
        width: 80%;
        height: 40px;
        margin: 25px 0 5px;
        display: inline-block;
    }

    &__plan-name {
        color: #22313f;
        opacity: .6;
        margin-bottom: 10px;
    }

    &__metal-tier {
        padding: 2px 10px 2px 12px;
        border-radius: 5px;
        text-transform: uppercase;
        display: inline-block;
        color: #000;

        &--platinum {
            background-color: #ECF0F1;
        }

        &--gold {
            background-color: #eaba2b;
            color: #4a2a00;
        }

        &--silver {
            background-color: #bdc3c7;
        }
        
        &--csr {
            background-color: #eaba2b;
        }
        
        &--csr-right {
            border-radius: 0 4px 4px 0;
            margin-left: -8px;
        }
        
        &--csr-block {
            display: block;
            margin-top: 5px;
        }

        &--bronze {
            background-color: #ece0c8;
        }

        &--catastrophic {
            background-color: #dec3c3;
        }
    }

    &__current-plan {
		background-color: #C8DEE4;
		font-weight: bold;
		display: inline-block;
		margin-top: 10px;
		padding: 2px 10px;
	}
	
	&__premium {
		margin-top: 20px;
	
	}

    &__premium-amount {
    	font-size: 2.2em;
    	//font-size: 28px;
    }

    &__premium-month {
    	font-size: 1.3em;
    	//font-size: 17px;
        opacity: .8;
    }

//
//    &__tax-credit {
//        margin: 0 0 10px;
//    }

    &__table {
    	margin-top: 10px;
        width: 100%;
    }
    &__label {
        text-align: right;
        width: 55%;
        height: 25px;
        font-weight: normal;
    }

    &__value {
        text-align: left;
        padding-left: 10px;
    }

    &__footer {
        height: 45px;
        background-color: #fff;
        display: flex;
        margin-top: 10px;
        label {
          margin-bottom:0px;
        }
    }

    &__item {

        &:not(:last-child) {
            border-right: 1px solid  #d3d3d3;
        }

        border-top: 1px solid  #d3d3d3;
        flex: 1 1 auto;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 13px;
		text-transform: uppercase;
        &:hover {
            background-color: @plan-selection-primary-color;
            color: #fff;
        }

        &--selected {
            background-color: @plan-selection-primary-color;
            color: #fff;
            font-weight: normal;
        }
    }

    &__add {
        font-weight: bold;
    }
}


///////////////////////////
//form
.ps-form {
    &__check {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        display: table;
    }

    &__check-input {
        display: table-cell;
        vertical-align: top;
        margin: 3px 5px 0 0 !important;
    }

    &__check-label {
        display: table-cell;
        font-size: 14px;
        color: @plan-selection-primary-color;
    }

    &__check-label-sub {
        color: #635151;
    }
}


///////////////////////////
//pagination
#pagination, #pagination_bottom {
  .cp-pagination {
    border: 1px solid #0958b4;
    border-radius: 5px;
    display: flex;
    width: 105px;
    height: 26px;
    float:right;
    align-items: center;
    text-align: center;
    font-weight: bold;

    &__content {
      min-width: 20px;
      flex: 1;
      border-left: 1px solid @plan-selection-primary-color;
      border-right: 1px solid @plan-selection-primary-color;
    }

    &__btn {
      cursor: pointer;
      flex: 0 0 25%;
    }

    &__arrow {
      &--disabled {
        cursor: not-allowed;
        opacity: 0.2;
      }
    }

    &__icon {
      color: @plan-selection-primary-color;
    }

  }
}
@media @XS {
  #pagination, #pagination_bottom {
    .cp-pagination {
      width: 100%;
      float: none;
    }
  }
}
///////////////////////////
//compare
.cp-compare-plans {

    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(187,187,187,.5);
    overflow: hidden;
    width: 90%;

    &__header {
        background-color: #f7f7f7;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
	
	&__title-container {
    	display: flex;
    	flex-wrap: wrap;
    }
    
    &__title {
        color: @plan-selection-primary-color;
        font-size: 15px;
        font-weight: bold;
        margin-right: 5px;
    }

    &__collapse {
        color: @plan-selection-primary-color;
    }

    &__body {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__plan {
        min-height: 120px;
        width: 85%;
        border-radius: 3px;
        background-color: #fff;
        padding: 7px;
        margin: 5px 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        &--added {
            border: solid 1px #bbb;
            position: relative;
        }

        &--empty {
            border: dashed 1px #bbb;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    }
    &__img-container {
        width: 70%;
        height: 50px;
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__remove {
        color: #c62828;
        cursor: pointer;
        position: absolute !important;
        font-size: 20px;
        right: 0px;
        top: -2px  !important;
    }

    &__name {
		margin-top: 5px;
    }

    &__premium {
        font-size: 15px;
        font-weight: bold;
        margin-top: 5px;
    }

    &__footer {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__cta {
        background-color: @plan-selection-primary-color;
        color: #fff;
        border: none;
        padding: 10px;
        width: 80%;
        border-radius: 3px;
        margin-top: 10px;
        text-align: center;

        &:hover {
            color: #fff;
            background-color: @plan-selection-primary-color;
        }
    }
}


.quality-rating-icon {
    color: #FDA639;
    font-size: 15px;
}


/////////////////////////////
//cp loading
/* Loading Circle */
.cp-loading--outter {
    background-color: rgba(0,0,0,0);
    border:5px solid #48A95E;
    opacity:.9;
    border-top:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spin .5s infinite linear;
    -webkit-animation:spin 2s infinite linear;
    -ms-animation:spin .5s infinite linear;
}

.cp-loading--inner {
    background-color: rgba(0,0,0,0);
    border:5px solid #2285CE;
    opacity:.9;
    border-top:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    width:30px;
    height:30px;
    margin:0 auto;
    position:relative;
    top:-40px;
    -moz-animation:spinoff .5s infinite linear;
    -webkit-animation:spinoff 1.5s infinite linear;
    -ms-animation:spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}
@-ms-keyframes spinoff {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(-360deg); }
}


/////////////////////////////
//plan details
.ps-detail {
    padding: 0 3%;
    width: 100%;
    font-size: 14px;
}

.ps-detail__highlights-container {
    display: flex;
    flex-flow: column;
}

.ps-detail__panel {
    display: flex;
    justify-content: space-between;
}

.ps-detail__tile {
    flex: 0 0 40%;
    border-radius: 5px;
    background-color: @nv_header_background;
    text-align: center;
    padding: 20px 0;
}

.ps-detail__tile-estimate {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
	margin-left: 10px;

}

.ps-detail__tile-footer {
	margin-top: 10px;
    text-align: center;
}

.ps-detail__tile-add {
    padding: 10px;
    background-color: @plan-selection-primary-color;
    color: #fff;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}


.ps-detail__highlights {
    flex: 0 0 55%;

    border-radius: 5px;
    background-color: @nv_header_background;
    padding: 20px 30px;
}


.ps-detail__header {
    font-weight: bold;
    letter-spacing: 1px;

    &--group {
        padding: 10px;
        background-color: #f0f0f0;
        display: flex;
        justify-content: space-between;
        font-weight: normal;
    }
}

.ps-detail__highlights-table {

    tr {
        height: 35px;
    }

    th {
        text-align: left;
        font-weight: normal;
        color: #4C5863;
    }
}

.ps-detail__benefits {
    margin-top: 30px;
}

.ps-detail__benefits-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.ps-detail__benefit-list {
    list-style: none;
}

.ps-detail__benefit-link {

    &--active {
        color: @ps-link-color;
	    &:hover {
    		color: @ps-link-color-hover;
   		 }
    }

    &--inactive {
    }
}


.ps-detail__group-container {
    margin-top: 30px;
    overflow: hidden;
    border: 1px solid @nv_border_grey;
}

.ps-detail__group {
  padding:0px;
}

.ps-detail__group-body {
    padding: 5px 5px;
}

.ps-detail__provider-container {
    margin-top: 20px;
    display: flex;

    &:last-child {
        margin-bottom: 30px;
    }
}

.ps-detail__provider-details {
    flex: 0 0 40%;
}

.ps-detail__provider-specialty {
    color: #868080;

}

.ps-detail__provider-map {
    border-radius: 5px;
    background-color: #eaeff4;
    padding: 5px 10px;

}

.ps-detail__sub-header {
    // border-bottom: 1px solid #F0F0F0;
    // color: #6289af;
    // display: flex;
    // justify-content: space-around;
    //
    // padding: 15px 0;

    height: 40px;
    display: table-row;
	font-weight: bold;

	.u-table-cell:last-child {
        text-align: center;
    }

    div.u-table-cell {
        border-bottom: 1px solid #F0F0F0;
    }

}

.ps-detail__group-row {

}

.ps-detail__service {
    height: 50px;
    display: table-row;

    .u-table-cell:last-child {
        //width: 10%;
        text-align: center;
    }
}

.ps-detail__service-th {
    // flex: 0 0 40%;
    //
    // &--half {
    //     flex: 0 0 50%;
    // }
}

.ps-detail__in-network {
    // flex: 0 0 30%;
    //
    // &--small {
    //     flex: 0 0 20%;
    // }
}

.ps-detail__out-network {
    // flex: 0 0 30%;
    // &--small {
    //     flex: 0 0 20%;
    // }
}

.ps-detail__additional-info {
    // flex: 0 0 20%;
}



//sample
.cp-sample {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 70%;
        margin-top: -20px;
    }

    &__header {
    	background: #fff !important;
    }

    &__tile {
        width: 250px;
        flex: 0 0 auto;
    }

    &__img-link {
        height: auto;
        margin-top: 30px;
    }
}



///////////////////////////////////
//icon
.icon-ban-circle {
    color: #ca1d3a;
}

.icon-circle {
    &--good {
        color: #4eaa45
    }

    &--ok {
        color: #f3bd58;
    }

    &--poor {
        color: #f0775f;
    }
}


////////////////////////////////
//compare
.ps-compare {
	.plan-details {
		text-align: center;
	}

    &__placeholder {
        flex: 0 0 25%;
    }

    &__plan-tiles {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    &__plan-tile {
        flex: 1 1 auto;
        border-radius: 5px;
        background-color: @nv_header_background;
        text-align: center;
        margin-right: 20px;
        padding: 20px 0;
        display: flex;
        flex-direction: column; 
    }

    &__tile-footer {
    	margin-top: 10px;
    }
}

.alert {
	color: inherit;
}

//responsive
@media (max-width: 1125px) {
	.cp-tile {	    
	    &__item {
	    	font-size: 11px;
	    }
	}
	
}

@media (max-width: 992px) {
	.cp-tile {
	    flex: 0 0 48%;
	}
	
	.ps-detail {
		&__tile-add {
			width: 60%;
		}
	}
}

@media (max-width: 768px) {
	#rightpanel {
    	margin-top: 0px;
	}

	.cp-tile {
	    flex: 0 0 100%;
	    margin-right: 0;
	    
	    &__item {
	    	font-size: 13px;
	    }
	}
	
	.ps-sidebar {
	    flex: 0 0 40%;
	}
	
	.ps-eligibility {
		flex-flow: column;
		
		&__csr {
			margin-top: 20px;
		}
		
		&__csr-text {
			margin-left: 5px;
		}
	}
	
	
	
	
	.ps-detail {
		&__panel {
			flex-flow: column;
		}
		
		&__highlights {
			margin-top: 20px;
		}
		
		&__tile-add {
			width: 80%;
		}
	}
}

@media (max-width: 576px) {
	.ps-nav {
		&__plan-count {
			font-size: 20px;
		}
	}
	
	.ps-sidebar-toggler {		
		display: block;
	    right: -30px;
	    top: 0px;
	    border-top: solid 1px @ps-border-color;
	    border-right: solid 1px @ps-border-color;
	    border-bottom: solid 1px @ps-border-color;
	    padding: 5px 10px;
	    z-index: 100;
    	cursor: pointer;
    	width: auto !important;
        background-color: @primaryBtnBgColor;
        color: #fff;
	}
    .show-side-bar {
        display: block;
        position: absolute;
        right: -73px;
        top: 0px;
        border-top: solid 1px @ps-border-color;
        border-right: solid 1px @ps-border-color;
        border-bottom: solid 1px @ps-border-color;
        padding: 5px 10px;
        z-index: 100;
        background-color: @primaryBtnBgColor;
        cursor: pointer;
        width: auto !important;
        color: #fff;
    }
	
	.ps-sidebar {
		z-index: 10;
	    background: #fff;
	    padding-bottom: 20px;
	    border: 1px solid @ps-border-color;
	    border-left: none;
	    top: 94px;
	    left:0px;
	    transform: translateX(-100%);
	    transition: transform .5s;
	    position: absolute;
        width: 100%;
        height: auto;
		overflow: inherit;
			    
	    &.in {
	    	transform: translateX(0);
	    	transition: transform .5s;
	    }
	}

  #sidebar .icon-chevron-left{margin-top: 3px}
	
	.ps-nav {
		&::before {
			top: 42px;
	    }
		
		&__link {
			padding: 10px !important;
		    font-size: 12px;
		}
	}
	
	.ps-plans {
		&__tiles {
	        justify-content: center;
	    } 
	}
	
		
	.ps-detail {
		&__highlights-table {
			th {
				width: 50%;
			}
		}
		
		&__benefits-list {
			flex-flow: column;
		}
		
		&__benefit-list {
		    margin-bottom: 10px;
		}
		
		&__sub-header {
			display: none;
		}
		
		&__service {
			.u-table-cell:last-child {
		        width: 100%;
		        text-align: left;
		    }
		}
		
		&__service-label {
			margin-top: 20px;
			background: #f0f0f0;
    		padding: 5px;
		}
	}
}
