
@media (max-width: 344px){
    #locate_assistance {
        .titlebar {
            margin-left: 24px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
        }
        h1 {
            font-size: 1.2em !important;
            margin-left: 0;
            font-weight: bold;
        }
        h3 {
            font-size: 1em;
            line-height: 1.5;
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 1.2em;
                line-height: 1.5;
            }
            .modal-button {
                width: 75%;
                font-size: 1em;
                padding: 15px 19px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 346px) and (max-width: 375px){
    #locate_assistance {
        .modal-button {
            width: 80% !important;
        }
    }
}
@media (min-width: 376px) and (max-width: 413px){
    #locate_assistance {
        .modal-button {
            width: 82% !important;
        }
    }
}

@media (min-width: 414px) and (max-width: 567px){
    #locate_assistance {
        .modal-button {
            width: 84% !important;
        }
    }
}
@media (min-width: 345px) and (max-width: 567px){
    #locate_assistance {
        .titlebar {
            margin-left: 24px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
        }
        h1 {
            font-size: 2em !important;
            margin-left: 0;
        }
        h3 {
            font-size: 1.3em;
            line-height: 1.5;
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 1.2em;
                line-height: 1.5;
            }
            .modal-button {
                font-size: 1.1em;
                padding: 15px 19px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 568px) and (max-width: 665px){
    #locate_assistance {
        .titlebar {
            margin-left: 39px;
            width: 90.5%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
        }
        h1 {
            font-size: 2em !important;
            margin-left: 0;
        }
        h3 {
            font-size: 1.3em;
            line-height: 1.5;
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 1.2em;
                line-height: 1.5;
            }
            .modal-button {
                width: 90.5%;
                font-size: 1.2em;
                padding: 15px 19px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 666px) and (max-width: 735px){
    #locate_assistance {
        .titlebar {
            margin-left: 41px;
            width: 80%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
        }
        h1 {
            font-size: 2em !important;
            margin-left: 0;
        }
        h3 {
            font-size: 1.3em;
            line-height: 1.5;
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 1.2em;
                line-height: 1.5;
            }
            .modal-button {
                width: 90.5%;
                font-size: 1.2em;
                padding: 15px 19px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 736px) and (max-width: 766px) {
    #locate_assistance {
        .titlebar {
            margin-left: 45px;
            width: 90.5%;
            margin-top: 4em !important;
            margin-bottom: 2.5em;
        }
        h1 {
            font-size: 2em !important;
            margin-left: 0;
        }
        h3 {
            font-size: 1.3em;
            line-height: 1.5;
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 125px;
                font-size: 1.2em;
                line-height: 1.5;
            }
            .modal-button {
                width: 90%;
                font-size: 1.5em;
                padding: 15px 19px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 998px) {
    #locate_assistance {
        .titlebar {
            margin-left: 20px;
            width: 90.5%;
            margin-top: 1em !important;
            margin-bottom: 1em;
            h1 {
                font-size: 1.7em !important;
                margin-left: 0;
            }
            h3 {
                font-size: 1.2em !important;
                line-height: 1.5;
                font-weight: normal;
            }
        }
        h3 {
            font-size: 1.1em;
            font-weight: bold;
        }
        .thumbnails{
            li {
                width: 30.6%;
                margin-bottom: 1em;
            }
            .middle {
                .thumbnail-para {
                    min-height: 150px;
                }
            }
            .thumbnail-para {
                min-height: 170px;
                font-size: 1em;
                line-height: 1.5;                
            }
            .modal-button {
                width: 78%;
                font-size: 1em;
                padding: 15px 16px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;                
            }
        }
    }
}

@media (min-width: 999px) and (max-width: 1055px){
    #locate_assistance {
        .titlebar {
            margin-left: 59px;
            width: 90%;
            margin-top: 4em !important;
            margin-bottom: 2.1em;
        }
        h1 {
            font-size: 2em !important;
            margin-left: 0;
        }
        h3 {
            font-size: 1.6em;
            line-height: 1.5;
        }
        .thumbnails{
            li {
                width: 90%;
                margin-left: 6%;
                margin-bottom: 4em;
            }
            .thumbnail-para {
                min-height: 145px;
                font-size: 1.7em;
                line-height: 1.5;
            }
            .modal-button {
                width: 91%;
                font-size: 1.7em;
                padding: 30px 29px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 1056px) {
    #locate_assistance {
        .titlebar {
            margin-left: 20px;
        }
        .titlebar h1 {
            margin-left: 0;
        }
        .thumbnails{
            .thumbnail.txt-center {
                height: auto !important;
            }
            .thumbnail-para {
                min-height: 180px;
            }
        }
    }
}
@media (min-width: 1056px) and (max-width: 1110px){
    #locate_assistance {
        .thumbnails{
            li {
                width: 31.4%;
            }
            .modal-button {
                width: 87%;
                font-size: 0.9em;
            }
        }
    }    
}
@media (min-width: 1111px) and (max-width: 1173px){
    #locate_assistance {
        .thumbnails{
            li {
                width: 31.5%;
            }
            .modal-button {
                width: 88%;
            }
        }
    }
}
@media (min-width: 1174px) and (max-width: 1999px){
    #locate_assistance {
        .thumbnails{
            li {
                width: 31.6%;
            }
            .thumbnail.txt-center {
                height: auto !important;
            }
            .thumbnail-para {
                min-height: 140px;
            }
            .modal-button {
                width: 88%;
                position: relative;
            }
        }
    }
}
@media (min-width: 1200px) {
    #locate_assistance {
        .titlebar {
            margin-left: 20px;
        }
        .titlebar h1 {
            margin-left: 0;
        }
        .thumbnails{
            .thumbnail.txt-center {
                height: auto !important;
            }
            .thumbnail-para {
                min-height: 100px;
            }
            .modal-button {
                position: relative;
            }
        }
    }
}
@media (min-width: 1200px) and (max-width: 1243px){
    #locate_assistance {
        .thumbnails{
            li {
                width: 31.6%;
            }
            .thumbnail.txt-center {
                height: auto !important;
            }
            .thumbnail-para {
                min-height: 120px;
            }        
            .modal-button {
                width: 89%;
            }
        }
    }   
} 
@media (min-width: 1244px) and (max-width: 1324px){
    #locate_assistance {
        .thumbnails{
            li {
                width: 31.7%;
            }
            .thumbnail {
                min-height: 480px;
            }
            .thumbnail-para {
                min-height: 120px;
            }        
            .modal-button {
                width: 90%;
            }
        }
    }   
}   

@media (min-width: 1325px) and (max-width: 1640px) {
    #locate_assistance {
        .thumbnails{
            li {
                width: 31.8%;
            }
            .thumbnail {
                min-height: 434px;
            }
            .thumbnail-para {
                min-height: 100px;
            }
            .modal-button {
                width: 90%;
            }
        }
    }
}

@media (min-width: 1641px) {
    #locate_assistance {
        .titlebar {
            margin-left: 20px;
        }
        .titlebar h1 {
            margin-left: 0;
        }
        .thumbnails{
            li {
                width: 32.1%;
            }
            .thumbnail {
                min-height: 434px;
            }
            .thumbnail-para {
                min-height: 100px;
            }
            .modal-button {
                width: 92%;
            }
        }
    }    
}

/* ====================================================== */
/*       Broker / Entity Search By Location / Name                 */
/* ====================================================== */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #search_page {
        zoom: 1;
    }
    #search_container, .hr-line, #search_center  {
        display: none !important;
    }
    #search_agent {
        display: block !important;
        .accordion-heading {
            overflow: hidden;
            background: #e8e8e8;
            a [class^="icon-"] {
                margin-top: 13px !important;
            }
        }
    }

}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    #search_container, .hr-line, #search_center  {
        display: none !important;
    }
    #search_agent {
        display: block !important;
        .accordion-heading {
            overflow: hidden;
            background: #e8e8e8;
            a [class^="icon-"] {
                margin-top: 13px !important;
            }
        }
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #search_page {
        zoom: 1;
    } 
    #search_container, .hr-line, #search_center  {
        display: none !important;
    }
    #search_agent {
        display: block !important;
        .accordion-heading {
            overflow: hidden;
            background: #e8e8e8;
            a [class^="icon-"] {
                margin-top: -26px;
            }
        }
    }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    #search_container, .hr-line, #search_center  {
        display: none !important;
    }
    #search_agent {
        display: block !important;
        .accordion-heading {
            overflow: hidden;
            background: #e8e8e8;
            a [class^="icon-"] {
                margin-top: -26px;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 342px) {
    #search_page {
        zoom: 1;
        .titlebar {
            h3 {
                margin-top: 0 !important;
            }
        }
        .search_title_small {
            font-size: 1.1em;
        }
    }
}
@media (max-width: 343px){

    #search_container, .hr-line, #search_center  {
        display: none !important;
    }
    #search_agent {
        display: block !important;
        .accordion-heading {
            overflow: hidden;
            background: #e8e8e8;
            a [class^="icon-"] {
                margin-top: -26px;
            }
        }
    }
}
@media (min-width: 344px) and (max-width: 567px) {
    #search_page {
        zoom: 1;
        .titlebar {
            h1 {
                font-size: 1.3em !important;
                margin-bottom: 8px;
                font-weight: bold;              
            }
            h3 {
                margin-top: 0 !important;
                margin-bottom: 2em;
                font-size: 1em;
            }
        }
        #frmBrokerSearchAccordion {
            margin-bottom: 0;
        }
        .accordion-group {
            .accordion-heading {
                .accordion-toggle {
                    padding: 0px 15px 0 0;
                    .search_title_small,
                    i {
                        font-size: 1.2em
                    }
                    i {
                        margin-top: 15px;
                    }

                }
            }
            label {
                img[alt="Required!"] {
                    margin-top: -5px;
                    width: 8px;
                    height: 8px;
                    margin-left: -3px;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    #search_page {
        .titlebar {
            margin-left: 20px;
            margin-bottom: 1em;
            width: 97%;
            h1 {
                margin-left: 0;
                font-size: 1.2em !important;
                font-weight: bold
            }
            h3 {
                margin-top: 2em;
                font-size: 1.1em;
            }
        }
        #search_container, .hr-line, #search_center  {
            display: none !important;
        }
        #search_agent {
            display: block;
            .accordion-heading {
                overflow: hidden;
                background: #e8e8e8;
                a [class^="icon-"] {
                    margin-top: 13px;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 998px) {
    #search_page {
        margin: 0 auto;
        padding-top: 7%;
        .titlebar {
            margin-left: 25px;
            margin-bottom: 1em;
            width: 97%;
            h1 {
                margin-left: 0;
                font-weight: bold;
            }
            h3 {
                margin-top: 0;
                margin-bottom: 2em;
            }
            .bottomBorder {
                border: none;
            }
        }
        #location_search{
            float: left;
            margin-left: 2%;
        }
        #name_search {
            float: right;
            margin-right: 2%;
            min-height: 322px;
        }
        #search_container,.hr-line, #search_center {
            display: block;
        }
        #search_agent {
            display: none;
        }
        #search_container {
            position: relative;
        }
        #search_center {
            position: absolute;
            top: 35%;
            border: 1px solid #d3d3d3;
            left: 47%;
            border-radius: 50%;
            height: 44px;
            width: 50px;
            padding-top: 4px;
            color: #444040;
            background: #d3d3d3;
        }
        .hr-line {
            border: 1px solid #d3d3d3;
            height: 94%;
            left: 50.2%;
            position: absolute;
            opacity: 0.5;
        }
    }
}
@media (min-width: 768px) and (max-width: 777px) {
    #search_page {
        width: 93%;
    }

}
@media (min-width: 778px) and (max-width: 800px) {
    #search_page {
        width: 91%;
    }

}
@media (min-width: 801px) and (max-width: 802px) {
    #search_page {
        width: 90%;
    }

}
@media (min-width: 803px) and (max-width: 812px) {
    #search_page {
        width: 89%;
    }

}
@media (min-width: 813px) and (max-width: 820px) {
    #search_page {
        width: 89%;
    }

}
@media (min-width: 821px) and (max-width: 830px) {
    #search_page {
        width: 87%;
    }

}
@media (min-width: 831px) and (max-width: 848px) {
    #search_page {
        width: 85%;
    }

}
@media (min-width: 849px) and (max-width: 858px) {
    #search_page {
        width: 84%;
    }

}
@media (min-width: 859px) and (max-width: 869px) {
    #search_page {
        width: 83%;
    }

}
@media (min-width: 870px) and (max-width: 882px) {
    #search_page {
        width: 82%;
    }

}
@media (min-width: 883px) and (max-width: 895px) {
    #search_page {
        width: 81%;
    }

}
@media (min-width: 896px) and (max-width: 902px) {
    #search_page {
        width: 80%;
    }

}
@media (min-width: 903px) and (max-width: 918px) {
    #search_page {
        width: 79%;
    }

}
@media (min-width: 919px) and (max-width: 930px) {
    #search_page {
        width: 78%;
    }

}
@media (min-width: 931px) and (max-width: 936px) {
    #search_page {
        width: 77%;
    }
}
@media (min-width: 937px) and (max-width: 944px) {
    #search_page {
        width: 76%;
    }
}
@media (min-width: 945px) and (max-width: 965px) {
    #search_page {
        width: 75%;
    }
}
@media (min-width: 966px) and (max-width: 978px) {
    #search_page {
        width: 74%;
    }
}
@media (min-width: 979px) and (max-width: 998px) {
    #search_page {
        width: 73%;
    }
}
@media (min-width: 999px){
    #search_page {
        width: 72%;
        margin: 0 auto;
        padding-top: 7%;
        .titlebar {
            margin-left: 25px;
            margin-bottom: 1em;
            width: 97%;
            h1 {
                margin-left: 0;
                font-weight: bold;
            }
            h3 {
                margin-top: 0;
                margin-bottom: 2em;
            }
            .bottomBorder {
                border: none;
            }
        }
        #location_search{
            float: left;
            margin-left: 1%;
        }
        #name_search {
            float: right;
            margin-right: 1%;
            min-height: 322px;
        }
        #search_container,.hr-line, #search_center {
            display: block;
        }
        #search_agent {
            display: none;
        }
        #search_container {
            position: relative;
        }
        #search_center {
            position: absolute;
            top: 35%;
            border: 1px solid #d3d3d3;
            left: 47.2%;
            border-radius: 50%;
            height: 44px;
            width: 50px;
            padding-top: 4px;
            color: #444040;
            background: #d3d3d3;
        }
        .hr-line {
            border: 1px solid #d3d3d3;
            height: 94%;
            left: 50.2%;
            position: absolute;
            opacity: 0.5;
        }
    }
}
@media (min-width: 1619px){
    #search_page {
        width: 44%;
    }
}
@media (min-width: 1587px) and (max-width: 1618px){
    #search_page {
        width: 45%;
    }
}
@media (min-width: 1540px) and (max-width: 1586px){
    #search_page {
        width: 46%;
    }
}
@media (min-width: 1480px) and (max-width: 1539px){
    #search_page {
        width: 48%;
    }
}
@media (min-width: 1430px) and (max-width: 1479px){
    #search_page {
        width: 49%;
    }
}
@media (min-width: 1411px) and (max-width: 1429px){
    #search_page {
        width: 50%;
    }
}
@media (min-width: 1388px) and (max-width: 1410px){
    #search_page {
        width: 51%;
    }
}
@media (min-width: 1330px) and (max-width: 1387px){
    #search_page {
        width: 53%;
    }
}
@media (min-width: 1300px) and (max-width: 1339px){
    #search_page {
        width: 54%;
    }
}
@media (min-width: 1268px) and (max-width: 1299px){
    #search_page {
        width: 56%;
    }
}
@media (min-width: 1200px) and (max-width: 1267px){
    #search_page {
        width: 58%;
    }
}
@media (min-width: 1170px) and (max-width: 1199px){
    #search_page {
        width: 60%;
    }
}
@media (min-width: 1130px) and (max-width: 1169px){
    #search_page {
        width: 62%;
    }
}
@media (min-width: 1090px) and (max-width: 1129px){
    #search_page {
        width: 64%;
    }
}
@media (min-width: 1060px) and (max-width: 1089px){
    #search_page {
        width: 66%;
    }
}
@media (min-width: 1020px) and (max-width: 1059px){
    #search_page {
        width: 68%;
    }
}
@media (min-width: 1000px) and (max-width: 1019px){
    #search_page {
        width: 72%;
    }
}
/* ====================================================== */
/*       Broker / Entity Search Results                            */
/* ====================================================== */

#search_results {
    zoom: 1;
    @media (min-width: 320px) and (max-width: 342px) {
        #brokerdetail,
        #entityListfrm {
            .no-records {
                margin-top: 40%;
                font-size: 1.5em;
                line-height: 1.5;
                margin-left: 10%;
            }
        }
    }
    @media (max-width: 343px) {
        .result-count-header {
            .skip {
                font-size: 0.7em
            }
        }
        #brokerdetail,
        #entityListfrm {
            .no-records {
                margin-top: 40%;
                font-size: 1.5em;
                line-height: 1.5;
                margin-left: 10%;
            }
        }
    }
    @media (min-width: 344px) and (max-width: 567px) {
        #brokerdetail,
        #entityListfrm {
            .no-records {
                margin-top: 40%;
                font-size: 1.5em;
                line-height: 1.5;
                margin-left: 10%;
            }
        }
    }
    @media (max-width: 430px) {
            .result-count-header {
                border-bottom: 1px solid #d3d3d3;
                h3 {
                    margin-top: 2em;
                    padding-bottom: 7px;
                }
            }
            table#list,
            table#entitySearchResult {
                tr,
                td {
                    display: block;
                }
                tr {
                    padding: 0.7em 2vw;
                    border-bottom: 1px solid #d3d3d3;
                }
                th,
                tr:first-of-type {
                    display: none;
                }
                td::before {
                    display: inline;
                    font-weight: bold;
                    color: rgba(107, 106, 106, 0.75);
                    font-size: 0.9em;
                }
                td {
                    display: grid;
                    grid-template-columns: 6em auto;
                    grid-gap: 1em 0.5em;
                    border: none;
                    h4 {
                        margin: 0;
                    }
                }
                caption {
                    font-style: normal;
                    background-color: rgba(0, 0, 0, 0.35);
                    color: #fff;
                    font-weight: bold;
                }
            }            

    }
    @media (min-width: 431px) {
        table#list,
        table#entitySearchResult {
            .list-header {
                display: table-row;
            }
            td {
                word-break: break-all;
            }
            td::before {
                display: none;
            }
        }
    }
    @media (min-width: 568px) and (max-width: 667px) {        
        #brokerdetail,
        #entityListfrm {
            .no-records {
                margin-top: 40%;
                font-size: 1.5em;
                line-height: 1.5;
                margin-left: 10%;
            }
        }
    }
    @media (min-width: 678px) and (max-width: 766px) {
        #brokerdetail,
        #entityListfrm {
            .no-records {
                margin-top: 40%;
                font-size: 1.5em;
                line-height: 1.5;
                margin-left: 10%;
            }
        }
    }
}

/* ====================================================== */
/*                   Broker Details                       */
/* ====================================================== */
@media (max-width: 750px) {
    #broker_details {
        #profile-img,
        #profile-info {
            width: 100% !important;
        }
        #profile-info {
            h1, p {
                text-align: center;
            }
            [class^="icon-"] {
                margin-right: 5px;
            }
        }
    }
    #warningBox {
        width: 90% !important;
    }    
}

