
.titlebar {
    margin-top: 0 !important;
    margin-left: 20px;
    h1 {
        margin-left: 0;
    }
}
.thumbnail > img {
    max-width: 94%;
    margin-top: 12px;
}

.thumbnails {
    margin-bottom: 0 !important;
    li {
        width: 47%;
        margin-bottom: 0 !important;
    }
    .thumbnail-para {
        margin-bottom: 20px;
        min-height: 100px;
    }
    .thumbnail {
        min-height: 434px;
    }
}
@media screen and (max-width:767px)
{
  .thumbnails li {width: 100%;}
  .titlebar {margin-left:0px;}
}