/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
            h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.7em !important;
                line-height: 1.5;
            }
        }
        
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.5em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
           h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.5em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
            h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.5em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
           h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.2em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
           h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.2em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
           h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.2em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
           h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.2em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  #locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
           h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.2em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
#locate_assistance {
        .titlebar {
            margin-left: 60px;
            width: 84%;
            margin-top: 3em !important;
            margin-bottom: 2.5em;
           h1 {
              font-size: 3.5em !important;
              line-height: 2;
              margin-left: 0;
              font-weight: bold;
            }
            h3 {
                font-size: 2.5em !important;
                line-height: 1.5;
            }
        }
        .thumbnails{
            li {
                width: 90.5%;
                margin-left: 6%;
                margin-bottom: 3em;
            }
            .thumbnail-para {
                min-height: 102px;
                font-size: 2.2em;
                line-height: 1.7;
            }
            .modal-button {
                font-size: 2.2em;
                padding: 20px 82px;
                position: relative;
            }
            .thumbnail.txt-center {
                position: relative;
                height: auto !important;
                h3 {
                  font-size: 2.5em;
                  font-weight: bold;
                }
            }
        }
    }
}
