//
// -- Mixins - 

@import "custom-coca-variables.less";


// AHBX Typography
  .main-header {
    font-weight: bold;
    font-size: 22px;
  }
  .minor-header {
    font-weight: bold;
    font-size: 18px;
  }

// AHBX Sidebar
  .sidebar-header-styles {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: @sidebar-header-color;
  }
  .sidebar-text-styles {
    font-size: 14px;
    font-weight: bold;
    color: @sidebar-text-color;
  }

// AHBX Helpbar 
  .helpbar-gradient (@startColor: #ffffff, @endColor: #f2f2f2) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
  }

// AHBX Primary Button
  .button-font-styles {
    color: @btn-primary-font-color;
    text-shadow: none;
    font-weight: bold;
    font-size: @btn-primary-font-size;
  }
  .primary-button (@startColor: #f7df82, @endColor: @secNavSelectedColor) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
    border: 1px solid @btn-primary-border-color;
    .button-font-styles;
  }
  .primary-button-hover (@startColor: @secNavSelectedColor, @endColor: #f7df82){
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
    border: 1px solid @btn-primary-border-hover-color;
    .button-font-styles;
  }


// AHBX Secondary Button
  .secondary-button (@startColor: #f2f2f2, @endColor: #d7d7d7) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
    border: 1px solid #bcbcbc;
    .button-font-styles;
  }
  .secondary-button-hover (@startColor: #d7d7d7, @endColor: #f2f2f2){
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
    border: 1px solid #a6a39b;
    .button-font-styles;
  }


  .calendar-gradient (@startColor: @redLight, @endColor: @red) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
  }

  .insert-box-shadow {
    box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
    -webkit-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
    -moz-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  }

  .accent-border{
    border-bottom: 25px solid;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }

  .text-shadow (@string: 0 -1px 1px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
  }

  .inner-shadow (@x: 0, @y: 0px, @blur: 15px, @spread: 4px, @alpha: 0.12) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  } 

  .background-custom {
    background: #f2f2f2;
   }


  .border-radius (@radius: 0px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
  }