  
@import "custom-coca-variables.less";
@import "custom-coca-mixins.less";



body {
  font-family:  @sansFontFamily!important;
  background:   @browser-background!important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
}

// ##############  GENERAL  ############## 

h1 {
  color: @header-1-color;
  //margin-top:20px;
  //margin-bottom:30px;
  .main-header;
  & small {
    font-size: 14px;
  }
  &.offset3 {
    img {
      margin-right: 20px;
    }
  }
  &#skip {
    display: inline-block;
    margin-top:20px;
  }
}
h3 {
  .minor-header;
  color: @header-1-color;
  &#Nplans {
    color: @header-1-color;
    height: 80px;
    padding-top: 40px;
    .page-header;
  }
  &.premium {
    line-height: 35px!important;
  }
}
h5 {
  font-size: 12px;
}
h4{
  &.custom-header {
    color: @white!important;
    padding: 0 0 0 15px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:0!important;
    text-transform: uppercase;
    line-height: 30px;
  }
  &.lightgray {
    color: @panel-header-text-color!important;
    background: @panel-header-bg!important;
  }
}
a {
  color:@linkColor;
  font-size: 13px;
  &:hover {
    color: @linkColorHover;
  }
  &#save {
    margin: 4px 5px 0 5px;
  }
  .summary {
    color: #11828E;
    &:hover {
      color: #11828E;
    }
  }
}
button {
  &.active {
    .primary-button-hover!important;
    font-size: 12px!important;
  }
}
legend {
  font-size:  15px;
  color: @colorFour;
  font-weight: bold;
}

hr {
  border-top: 2px solid #c9c9c9;
}

small {
  color: #716f6f!important;
  font-size: 12px!important;
}
table {
  tr {
    height: 30px;
  }
  .checkbox input[type="checkbox"] {
    margin-top:5px;
  }
}

/*table#enrollmententitiesmap {
  .checkbox input[type="checkbox"] {
    margin-top:3px;
  } 
}*/
table.verticalThead {
  thead {
    background: @table-header-bg;
  }
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  border-radius: 0;
}

// ############## ID ################## 

#main,
#container-wrap {
  .container {
    box-shadow: none!important;
    border:1px solid #908E85;
    border-bottom:none;
    background: url('../images/sidebar-bg.png')repeat-y;
    margin-top:20px;
    width:960px;
  }
}



// ############## CLASSES ################## 

.alert {
  margin-top:0;
  border-radius: 0;
}
.accordion-group {
  .border-custom;
  border-radius: 0;
}
.accordion-heading {
  background: #554d56;
  a {
    color: @white;
    font-size: 14px;
    font-weight: bold;
    &.accordion-toggle {
      &:before {
        content: "";
        font-family: "FontAwesome"!important;
      }
    }
    &.accordion-toggle.collapsed {
      &:before {
        content: "";
        font-family: "FontAwesome"!important;
      }
    }
  }
}
.accordion-inner {
  .border-custom;
  border-right:none;
  border-bottom:none;
  border-left:none;
}
.border-custom {
  border: 1px solid #797979;
}
.border-custom-rbl {
  border-right: 1px solid #797979;
  border-bottom: 1px solid #797979;
  border-left: 1px solid #797979;
}
.box-loose {
  .border-custom;
  border-radius: none;
}
.btn {
  .border-custom;
  border-radius: 0;
}
.plan .btn {
  padding: 2px 5px 0!important;
  font-size:13px;
}
.btn-primary {
  min-width: 100px;
  text-align: center;
  .primary-button;
  &:hover {
    .primary-button-hover;
  }
  &:active {
    .primary-button-hover;
  }
}
.btn-small {
  border-radius: 0!important;
  &:hover {
    font-size: 12px;
  }
}
.custom-bg {
  background: @white!important;
}
.custom-box {
  background: #f2f2f2;
}
.custom-header {
  background: #554d56;
  color: @white;
  height:30px;
  .border-custom;
  border-bottom:none;
}
.dropdown-menu {
  border-radius: 0!important;
}
.esign {
  min-height: 60px!important;
}
.icon-plus,
.icon-minus {
  background: @clientGray;
  color: @white;
  padding: 3px;
  border-radius: 3px;
}
.icon-star {
  color: @icon-star-color;
}
.intro-indiv {
  h4 {
    color: @header-main-color!important;
  }
}
.line {
  .border-custom;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.margin-t {
  margin-top: 5px;
}
.margin-r {
  margin-right: 5px;
}
.margin-b {
  margin-bottom: 5px;
}
.margin-b-4 {
  margin-bottom: 20px;
}
.margin-l {
  margin-left: 5px;
}
.modal-body {
  border-radius: 0!important;
}
.page-header {
  border-bottom: none;
}
.popover {
  border-radius: 0!important;
}
.popover-title {
  font-family: Arial!important; 
  font-weight: bold!important; 
  font-size: 16px!important;
  color: #11828E!important;
}
.smallestA {
  font-size: 11px;
}
.smallA {
  font-size: 12px;
}
.table {
  th {
    padding:8px;
  }
}
.thumbnail {
  .border-custom;
  border-radius: 0;
}
.tooltip {
  background: #fff!important;
  border: 1px solid @client-border-color!important;
  padding:0!important;
  margin:0!important;
}
.tooltip-inner {
  border-radius: 0!important;
  background: @white!important;
  padding:10px 15px!important;
  border-top:7px solid #00cfef!important;
  border-right: none!important;
  border-bottom: none!important;
  border-left: none!important;
  box-shadow: none!important;
  p {
    color:red!important;
  }
}
.tooltip.top .tooltip-arrow {
  display:none!important;
}
.value {
  font-size: 28px!important;
  font-color: #666666;
}


// ############## ICONS ################## 

a [class^="icon-"],
a [class*=" icon-"] {
 /* color: @black;*/
  text-decoration: none;
  font-size: 14px;
  padding:3px;
}
.active a .icon-ok {
  color:@white;
}
.icon-question-sign {
  color: @textColor;
}

.icon-cog {
  color: @navbarLinkColor;
}





// ##############  MASTHEAD  ############## 
#masthead {
  font-family: @sansFontFamily!important;
  font-size: @smallerFontSize;
    .brand{
      padding: 0;
      margin-left: 0;
    }
    .nav-collapse {
      .nav {
        margin-top:10px;
        li {
          color: @clientGray;
          padding: 0 7px 0 8px;
          border-right: 1px solid @clientGray;
          line-height: @smallerLineHeight;
          &:last-child {
            border-right: none;
            padding-right: none;
          }
          a {
            color: @linkColor;
            text-shadow: none;
            padding:0;
            line-height: @smallerLineHeight;
            &:hover {
              text-decoration: underline;
            }
            i{
              font-size: @smallerFontSize;
              line-height: @smallerLineHeight;
              margin:0;
              padding:0;
              color: @black;
            }
          }
        }
      }
    }
    .nav {
    .dropdown-toggle {
      &:hover {
        .caret {
          border-bottom-color: darken(@white, 10%);
          border-top-color: darken(@white, 10%);
        }
      }
      .caret {
        border-bottom-color: @white;
        border-top-color: @white;
        margin-top: 8px;
      }
    }
  }
  &.navbar {
    border-bottom: none!important;
    box-shadow: none!important;
  }
  .navbar-inner {
    height: @mastheadHeight;
    background: transparent;
    border: none;
    box-shadow: none!important;
    height: 75px!important;
    .container {
      border:1px solid #908e85;
      background: @white;
    }
  }
}

#masthead .navbar-inverse .navbar-inner {
  height: 75px!important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color:@white;
}


// ##############  HELPBAR  ############## 
#navhelp {
  display:none!important;
  h2 {
    color: @textColor;
    border-bottom: 1px solid fade(@textColor, 75%);
  }
  ul {
    margin-right: 20px!important;
  }
  .navbar-inner {
    .helpbar-gradient!important;
    padding: 20px 0 10px 0!important;
    margin: 0 0 0 -10px!important;
    margin-top:-5px!important;
    border-radius: 0;
    border-bottom:1px solid @client-border-color!important;
    width:960px;
  }
  .nav {
    li {
      .help-panel {
        background-color: #fff;
        padding:10px 15px 15px 15px;
        &:after {
          border-bottom: 6px solid @textColor!important;
        }
        h3 {
          a {
            color: @textColor;
            .icon-steps {
              color: @textColor;
            }
          }
        }
        a {
          color: @linkColor;
          &:hover {
            color:@linkColor;
            text-decoration: underline;
          }
        }
      }
      &.chat {
        a {
          border-radius: 0!important;
          .secondary-button!important;
          &:hover,
          &:active {
            border-radius: 0!important;
            color: @btn-secondary-font-color!important;
            .secondary-button-hover!important;
          }
        }
      }
    }
  }
  .help-shortcut {
    .help-icon {
      border-radius: 0!important;
      .secondary-button;
      height: 19px!important;
      width: 20px!important;
      padding-top:2px!important;
      margin:0 0 0 5px!important;
      &:hover {
        .secondary-button-hover!important;
      }
    }
  }
  .dropdown-menu {
    border-radius: 0;
    overflow: hidden;
    li {
      a {
        color: @linkColor!important;
        &:hover {
          border-radius: 0!important;
          background: #fff!important;
          color: @linkColor!important;
          text-decoration: underline!important;
        }
      }
    }
  }
  .dropdown-submenu {
    &:hover {
      a {
        background-color: @blue;
      }
    }
  }
}


.help-shortcut:hover > span.help-icon,
.help-shortcut:active > span.help-icon,
.help-shortcut:focus > span.help-icon {
  color: @white;
}

//affects masthead
.dropdown-menu li > a {
  color: @linkColor;
}
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a {
  color: @linkColorHover;
  background: none;
  text-decoration: underline;
}

// ############## POPUP #################




// ##############  SUB-NAVIGATION  ############## 
#menu {
  width: 960px;
  margin-left: -20px;
  margin-top: -15px;
  .navbar-inner {
    background: @subnav-bg;
    min-height: @subnav-height;
    border: 1px solid @client-border-color;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
    border-top:none;
    border-bottom:none;
    ul.nav { 
      margin-left: 3.5%;
      li {
        border-right: 1px solid @subnav-divider-color;
        &:last-child {
          border-right:none;
        }
        &.active {
            a {
              &:hover {
                color: @white;
              }
            }
          }
        a {
          color: @white;
          float: none;
          padding: 3px 9px;
          font-size: 12px;
          line-height: 25px;
          text-shadow: none;
          font-weight: bold;
          text-transform: uppercase;
          &:hover {
            color: @subnav-text-hover-color;
          }
          .caret {
            display: none;
          }
        }
        .dropdown-menu {
          border-radius: 0;
          a {
            font-size: 13px;
            line-height: 30px;
            font-weight: normal;
            color:@linkColor;
            text-transform: capitalize;
            &:hover {
              color: @linkColor;
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav li.dropdown.open > .dropdown-toggle a, 
.navbar .nav li.dropdown.active > .dropdown-toggle a, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle a, {
  background: @subnav-active-bg;
  text-shadow: none;
  box-shadow: none;
}

.header-reset {
  padding-top: 7px;
  border-left: none;
}



// ##############  BREADCRUMB  ##############

.page-breadcrumb {
  position:relative;
  top:-10px;
  li {
    font-size: 11px;
  }
}
#breadcrumbs .nav-pills {
  border: 1px solid lighten(desaturate(@colorThree, 60%), 42%);
  border-top:none;
  border-right:none;
  border-left:none;
  margin-bottom:0;
}

.page-breadcrumb {
  margin: -10px 0 0 -20px;
  text-indent: 20px;
  list-style: none;
  background: #e8e6e6;
  width:960px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}
.page-breadcrumb li {
  margin: 0;
  padding: 0 5px 0 0;
  display: inline;
  font-size: 11px;
  text-transform: capitalize;
}
.page-breadcrumb li a {
  font-size: 11px;
  text-transform: capitalize;
}
.page-breadcrumb li:first-child a {
  color: transparent;
  font-size: 0;
}
.page-breadcrumb li:first-child a:before {
  content: "\f0a8";
  font-family: "FontAwesome"!important;
  font-size: 13px;
  color: #004892;
  margin-right: 8px;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.page-breadcrumb li:first-child a:before:hover {
  color: #1f5a7e;
}
.page-breadcrumb li:after {
  content: "\f105";
  font-family: "FontAwesome"!important;
  font-size: 8px;
  margin: 0 10px;
}
.page-breadcrumb li:last-child:after {
  content: "";
}

//HIX-10721
/*.page-breadcrumb {
  visibility:hidden!important;
}*/


// ############## PAGINATION #############

/*.pagination ul > li > a, 
.pagination ul > li > span {
  .border-custom;
}*/

.pagination-gradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}

.pagination {
  ul {
    border-radius: 0;
    box-shadow: none;
    border:1px solid @panel-content-border-color;
    width:99.7%;
    position:relative;
    top:-21px;
    .pagination-gradient;
    li {
      &.active {
        a {
          color: #797979;
          text-decoration: none;
          .pagination-gradient;
        }
      }
      a {
        text-decoration: underline;
        border: none;
        .pagination-gradient;
      }
    }
  }
}

.pagination ul > li:first-child > a {
/*  color: transparent;
  font-size: 0px;*/
  border-radius: 0;
  padding-bottom:0;
  text-decoration: underline;
/*  &:after {
    content: "Previous";
    color: #5e5e5e;
    font-size: 13px;
    text-decoration: underline;
  }*/
}

.pagination ul > li:last-child > a {
  color: transparent;
  font-size: 0px;
  border-radius: 0;
  padding-bottom:0;  
  text-decoration: underline;
  &:after {
    content: "Next";
    color: #004892;
    font-size: 13px;
    text-decoration: underline;
  }
}





//################ SIDEBAR ################
ul.nav-list > li,
ol.nav-list > li {
  background-color: @sidebar-bg-color!important;
  padding: 10px;
  border-bottom: 1px solid @white!important;
  .sidebar-text-styles;
  p {
    font-weight: normal;
    font-size: 12px;
  }
  a {
    .sidebar-text-styles;
    &:hover {
      background: @sidebar-bg-color!important;
      color: inherit;
    }
  }
  &.active {
    background-color: @sidebar-text-active-bg!important;
    position: relative;
    &:after { 
      content: "";
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 10px solid #f2f2f2;
      position: absolute;
      top: 0px;
      right:0px;
    } 
    a {
      color: @white;
      &:hover {
        background-color: @sidebar-text-active-bg!important;
        color: @white!important;
      }
    }
  }
  &.active2 {
    background-color: @sidebar-text-active-bg!important;
    position: relative; 
    &:after { 
      content: "";
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 10px solid @sidebar-text-active-bg;
      position: absolute;
      top: 0px;
      right:0px;
    }
    a {
      color: @white;
      text-shadow: none;
      &:hover {
        background-color: @sidebar-text-active-bg!important;
        color: @white!important;
      }
    }
  }
}

#sidebar .header,
.span3 .header {
  background: @sidebar-bg-color!important;
  font-weight:  bold; 
  font-size: 16px; 
  color: @sidebar-header-color;
  a {
    font-size: 11px;
    font-weight: normal;
    margin-top:2px;
  }
}

.span3 h1 {
  color: @sidebar-name-color;
  font-size: 16px;
  font-weight: bold;
}

#sidebar h4, 
.span3 .gray h4 {
  .sidebar-header-styles;
  padding-left: 0!important;
}


li#locationAndHours ul li{
  width: 115%;
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 8px;
  left: -32px;
  a {
    color: @white;
    font-size: 13px;
    padding-left: 32px;
    &:hover {
      background: transparent!important;
      color: @white!important;
      text-decoration: none;  
    }
  }
  &.activeSubpage {
    &:after {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 10px solid #f2f2f2;
      position: absolute;
      top: 0px;
      right:0px;
    }
  }
}





// ############## SLIDESHOW #################

#menu {
  li {
    &.act {
      a {
        background: @colorTwo;
        color: @white;
        text-shadow: none;
        border-radius:0;
        .insert-box-shadow
      }
    }
    &.inact {
      &:hover {
      }
      a {
        color: #554d56;
        &:hover {
          color: #554d56;
          text-decoration: underline;
        }
      }
    }
  }
}

.slide {
  h2 {
    color: @colorFour;
    font-family: @sansFontFamily;
    font-size: 30px;
    font-weight: normal;
  }
}

#content-bottom {
  h1 {
    text-indent: 0px;
    margin-top: 20px;
  }
}

#menu ul li a {
  font-family: @sansFontFamily!important; 
}







// ############## PLAN SELECTION ############

#cart {
  padding-bottom: 20px;
}
#health_cart {
  p {
    margin:0!important;
  }
}
#holdcart {
  margin: 0 0 0 7px;
}
#planSelect {
  .scroll-left-arrow,
  .scroll-right-arrow {
    background: #11828e;
    &:hover {
      background: #11828e;
    }
  }
  .icon-arrow-left,
  .icon-arrow-right {
    color: @white;
    opacity: 1!important;
  }
  .view-plans {
    .plans-container {
      .plans-header {
        .plans-header-content-wrapper {
          height: 225px!important;
        }
      }
    }
  }
}
#plansbar {
  &.stuck {
    top: 150px;
  }
  .pagination {
    margin-top: 40px!important;
  }
}

.plan a.addtofav.addedToFav {
  background: @colorTwo;
  color: @white;
  .insert-box-shadow;
}


.plans-section-content {
  .label-info {
    font-size: 13px;
    font-family: @sansFontFamily;
    font-weight: normal !important;
    background: @errorBackground;
    color: @errorText;
    border: @errorBorder;
    .border-radius;
  }
  h3 {
    text-transform: none;
  }
  .plan {
    width:152px!important;
    margin:10px 10px 10px 0!important;
    .border-custom;
    border-top:none;
    border-bottom:none;
    border-right: none;
  }
  #mainSummary {
    .plan-1,
    .plan-2,
    .plan-3 {
      background: @white;
    }
  }
}


.plans-container {
  .border-custom;
  border-top:none;
  border-bottom: none;
}
.plans-header {
    &.stuck {
      top: 188px!important;
    }
  }

.plans-section-header h3 {
  .border-custom;
  background: #f2f2f2;
  margin:0;
  padding-left:15px;
  color: #777!important;
  font-size: 14px;
  padding-top:0;
  padding-bottom:0;
}
i.icon.lighter.icon-chevron-right, i.icon.lighter.icon-chevron-down {
  color: #11828e;
  opacity:1!important;
}


a.validateCart {
  margin-left: 368px;
}

table {
  &.totals {
    //width:97%!important;
    //margin-left: 1.5%;
    margin-bottom: 1.5%;
    tr {
      &.individual-subtotal {
        background: @checkout-header-bg!important;
        td {
          color: @checkout-header-text-color!important;
            #totalPremiumBeforeCredit,
            #totalAptc {
              font-weight: bold;
          }
        }
      }
      &.individual-cart-total {
        background: @checkout-total-bg!important;
        border-top: 10px solid @white;
        td {
          color: @white;
          h3 {
            font-size: 14px;
            font-weight: bold;
            color: @white;
          }
        }
      }
    }
  }
}


#cart-box {
  border:1px solid #797979!important;
  width:600px!important;
  margin: 15px 0 0 -290px!important;
  #cart-body {
    table {
      width:102.8%;
    }
    #health_cart {
      h4 {
        color: #407a65!important;
        &.header {
          background: @white!important;
          height: auto!important;
        }
      }
    }
    .cart-header {
      background: #f2f2f2!important;
      h3 {
        color: @white;
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        text-transform: uppercase;
      }
    }
    .form-actions {
      padding: 10px 20px 20px!important;
      width: 93.3%!important;
      background: #f2f2f2;
      position:relative;
      a#cartBtn.btn {
        margin-left: -10px;
      }
      .btn {
        margin-top: 5px;
        margin-bottom:-5px;
      }
      .btn.btn-primary {
        position: absolute!important;
        right: 15px;
      }
    }
  }
}

ul{
  &.dropdown-menu {
    border-radius:0;
  }
}

// ##############  RIGHTPANEL  ##############

#rightpanel {
  .light{
    opacity: 1!important;
  }
  .gray {
    background: #554d56;
    h4 {
      padding: 5px 0 5px 15px!important;
      text-align: left;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
.calSheet {
  .month {
    .calendar-gradient;
    border: 1px solid @redDark;
    border-radius: 2px 2px 0 0;
    color: @white;
  }
  .day {
    border-radius: 0 0 2px 2px;
    border-right: 1px solid lighten(@grayLight, 10%);
    border-bottom: 1px solid @grayLight;
    border-left: 1px solid @grayLight;
    color: @grayDarker;
    font-weight: bold;
    letter-spacing: -0.1em;
    line-height: 1.4em;
  }
}

.lightgray, 
.table-striped tbody > tr:nth-child(odd) > td, 
.table-striped tbody > tr:nth-child(odd) > th {
  .background-custom;
}
 
.graydrkaction, 
.graylightaction, 
.header { 
  padding:0 15px; 
  height:30px; 
  background: #515151!important;
  h3 {
    color: @white!important;
    line-height: 30px!important;
  }
   h4 {
    color: @white;
  }
  a.btn {
    margin-top: 4px!important;
  }
 } 

.graydrkbg thead tr, 
thead tr.graydrkbg {
  border-top: none;
  border-bottom: none;
}
thead tr.graydrkbg th i {
  display: none;
}

.table{
  .border-custom;
  th{
    color: white;
    background: #515151!important;
    padding:0 0 0 10px!important;
    height: 34px;
    a {
      background: none!important;
      color: #fff!important;
      &.btn {
        .secondary-button!important;
        font-size: 12px!important;
        margin-right:5px;
      }
    }
  }
  td {
    .caret{
      border-top: 4px solid @navbarLinkColor;
    }
  }
}

.table-bordered {
  border-radius: 0!important;
  border: 1px solid @client-border-color;
}
.table-border {
  border-radius: 0!important;
  border: 1px solid @client-border-color;
}
.table-border-none {
  margin-bottom: 10px!important;
  border:0!important;
}
.table-bordered thead:first-child tr:first-child>th:first-child, 
.table-bordered tbody:first-child tr:first-child>td:first-child,
.table-bordered thead:first-child tr:first-child>th:last-child, 
.table-bordered tbody:first-child tr:first-child>td:last-child {
  border-radius: 0!important;
}
.table-bordered thead:first-child tr:first-child>th:first-child, 
.table-bordered tbody:first-child tr:first-child>td:first-child {
  border-left: none!important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, 
.table-bordered tbody:first-child tr:first-child>td:last-child {
  border-right: none!important;
}
.table-striped tbody > tr:nth-child(odd) > td {
  background: @white!important;
}
.form-actions {
  border: none;
}


// This is the header located on the content area
form {
  .gray {
      background: #554D56;
    h4 {
      padding:5px 15px!important;
      text-align: left;
      color: @white;
    }
  }
}
.span9 {
  h4 {
    color: @header-2-5-color;
    .minor-header;
    &.graydrkbg {
      background: none!important;
      color: @header-1-color!important;
      .minor-header;
    }
  }
  form {
    .graylightaction {
      margin-bottom: 20px;
    }
    .graydrkaction {
      margin-bottom: 20px;
      h4 {
        line-height: 30px;
      }
    }
    .lightgray {
      background: #fff;
      /*padding-bottom: 30px;
      margin:0!important;*/
      margin-bottom: 20px;
      width: auto; 
    }
  }
  .graydrkaction {
    h4 {
      color: @white!important;
    }
  }
  .header {
    color: @white;
    padding-left:10px;
    span {
      line-height: 28px;
    }
    a {
      &.btn {
        margin-top: 4px!important;
      }
    }
    h4,
    h4.span11 {
      color: @white!important;
      line-height: 28px!important;
    }
  }
}

input.error {
  background: #FEE2DB;
  border:2px solid #df7553;
}
form label.error {  
  height: 30px!important;
  padding: 0 20px!important;
  margin: 0 0 5px 0!important;
  font: italic 14px @sansFontFamily!important;
  color: @error-msg-text-color!important;
  background: @error-msg-bg!important;
  border-radius: 0!important;
  border: 1px solid @error-msg-border-color!important;
}

form label.error span {
  line-height: 30px!important;
}
  
// ################### AUTOCOMPLETE DROPDOWN ###########
ul.ui-autocomplete {
  width: 150px!important;
  border:1px solid @client-border-color!important;
  list-style-type: none!important;
  li {
    margin-left:20px!important;
    a {
      &:hover {
        background: @white!important;
        color: @linkColor!important;
        text-decoration: underline!important;
      }
    }
  }
}




// ################### FOOTER ###################### //


footer {
  border: 1px solid #908E85;
  background: @white;
  height: 100px;
  .footer-box {
    margin-top: 15px;
  }
  ul {
    &.inline {
      margin-left: 15px;
    }
    &.muted {
      li {
        a {
          font-size: 12px!important;
        }
      }
    }
    li {
      color: @clientGray;
      padding: 0 7px 0 8px;
      border-right: 1px solid @clientGray;
      line-height: @smallerLineHeight;
      &:last-child {
        border-right: none;
      }
      a {
        font-size: 13px!important;
        font-family: @sansFontFamily!important;
      }
    }
    &.pull-right {
      margin-right: 30px;
      li {
        border-right: none;
      }
    }
  } 
}

#footer {
  .container {
    margin:0 0 0 -11px;
    margin-top:-10px;
    width:960px;
  }
}


//EE
input[type="radio"] {
  margin: 1px 5px 0 0;
}
.accordion-box-custom {
  margin: 0;
  background-color: #f2f2f2;
  height: 40px;
  color: #554d55;
  line-height: 40px;
  margin:10px 0 0 0;
  text-indent: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border:1px solid #797979;
}
.accordion-box-custom i {
  color: #00949e;
} 
.accordion-box-custom.trigger {
  cursor: pointer;
}

/* styles for add subsite button */
/*button.add {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.add:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
  font-size: 39px;
  color: #468847;
}
.alert {
  position: relative;
  margin-top: 20px;
}
.alert .add {
  position: absolute;
  top: 35%;
  right: 5%;
}
.alert-success {
  background-image: url('../images/noise.png');
  border: .customBorder;
}*/
/* styles for add subsite button ends */


#frmaddSite { /* this is a form on the add subsite page */
  margin-top: 20px;
}
.form-horizontal .control-label{width: 167px;}

#navhelp .navbar-inner{width:97% !important;}

#menu .navbar-inner ul.nav li{min-height: 26px;}
//EE Ends - review!!!!!!!

//IE
.dropdown-menu li a:hover,
.header,
#menu li.act a,
.navbar-inner {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"!important;
}

