//
// Variables
// --------------------------------------------------

// 
// COLORS
// --------------------------------------------------

//  White - Gray
// -------------------------
@black:                 #000;
@grayDarker:           	#3A3A3A;
@grayDark:              #5A5A5A;
@gray:                  #555;
@grayLight:             #b3b3b3;
@grayLighter:           #c9c9c9;
@white:                 #fff;

//	Pure Colors
//	-------------------------
@blueLight: 			#5AB5ED;
@blue:                  #2997da;
@blueDark:              #0183ba;
@green:                 #46a546;
@redLight: 				lighten(@red, 8%);
@red:                   #D51007;
@redDark: 				darken(@red, 8%);
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// AHBX Colors & Styles
// -------------------------
@browser-background: 			#e6e6e6;
@client-border-color: 			#908e85;
@clientGray: 					#636363;
@secNavSelectedColor: 			#dcb626;

// AHBX Links
@linkColor:             		#004892;
@linkColorHover:        		#11828e;

// AHBX Typography
@header-main-color:				#11828e;
@header-1-color: 				#11828e;
@header-2-5-color: 				#777777;
@header-2-5-color-v2: 			#407a65;
@body-text-color:				#333333;
@panel-title-color:				#ffffff;
@panel-title-color-v2: 			#666666;
@form-label-color:				#777777;
@input-field-color: 			#282828;
@table-col-title-color: 		#5e5e5e;
@table-cell-text-color: 		#554d56;

// AHBX Sidebar
@sidebar-bg-color: 				#f2f2f2;
@sidebar-header-color: 			#554d56;
@sidebar-name-color: 			#5e5e5e;
@sidebar-text-color: 			#666666;
@sidebar-text-active-color: 	#ffffff;
@sidebar-text-nonclick-color: 	#949494;
@sidebar-text-active-bg: 		#11828E;

//AHBX Sub-Navigation (#menu)
@subnav-height: 				26px;
@subnav-active-bg: 				#dcb626;
@subnav-bg: 					#554d56;
@subnav-text-color: 			#ffffff;
@subnav-text-active-color: 		#1b1b1b;
@subnav-text-hover-color: 		#f2ce40;
@subnav-divider-color: 			#ffffff;

// AHBX Panels v1
@panel-header-bg: 				#554d56;
@panel-header-text-color: 		#ffffff;
@panel-header-height: 			30px;
@panel-content-bg: 				#ffffff;
@panel-content-border-color:	#c2c2c2;
@panel-content-gutter: 			20px 15px 10px 15px;

// AHBX Panels v2
@panel-header-bg-v2: 			#f2f2f2;
@panel-header-height: 			26px;
@panel-header-border-color: 	#797979;

// AHBX Tables
@table-header-bg: 				#554d56;
@table-header-text-color: 		#ffffff;
@table-header-height: 			30px;

// AHBX Buttons
@btn-primary-font-color: 		#666666;
@btn-primary-border-color: 		#dcb626;
@btn-primary-border-hover-color:#dcb449;
@btn-primary-font-size: 		15px;
@btn-secondary-font-color: 		#666666;

// AHBX Enroll Checkout
@checkout-header-bg: 			#f2f2f2;
@checkout-header-text-color:	#333333;
@checkout-total-bg: 			#7F6B82;


// AHBX Icons 
@icon-star-color: 				#f7881b;


// AHBX Error Messages
@error-msg-bg: 					#eaad9d;
@error-msg-border-color: 		#df7553;
@error-msg-text-color: 			#282828;

// To be removed starts
// Amazon Color
@colorOneLight:			lighten(@colorOne, 10%);
@colorOne: 				#407A65;
@colorOneDark: 			darken(@colorOne, 10%);
// Amber Color 
@colorTwoLight:  		lighten(@colorTwo, 10%); 
@colorTwo: 				#DCB626; 
@colorTwoDark: 			darken(@colorTwo, 10%); 
// Sea Green Color
@colorThreeLight: 		lighten(@colorThree, 5%);
@colorThree:        	#19B9CA;
@colorThreeDark: 		darken(@colorThree, 10%);
// Dark Eggplan Color
@colorFour:      		#554D57;
// To be removed ends


// 
// COLORS ENDS
// --------------------------------------------------







// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;





// Typography
// -------------------------
@sansFontFamily:        Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor

@smallerFontSize: 		13px!important;
@smallerLineHeight: 	16px!important;

// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #bbb;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  #f5f5f5;


// Masthead
@mastheadHeight: 				  75px;
@accentBorderHeight: 			  0;

// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #636363;
@navbarLinkColor:                 #004892;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @navbarLinkColor;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                @blueDark;/* #111111;*/
@navbarInverseBackgroundHighlight:       @blue;/*#222222;*/
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #A6413F;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);
