/* Eligibility Starts */


@nm-standout-font-color: 		#00D2CA;


.eligibility-wrapper {
	.actionBtn {
		color: @primaryBtnBgColor;
	}
	#sidebar {
		i {
			font-size: @fontSizeH4;
			color: #d97b00;
		}
		ul {
			margin-left: 0;
		}
		li {
			list-style-type: none;
			margin-bottom: 14px;
			margin-left: 20px;
			&:before {
				content: "\f05a";
				font-family: FontAwesome;
				margin-left: -22px;
				margin-right: 10px;
				font-size: @fontSize;
				color: @iconColor;
			}
		}
	}
	#rightpanel {
		// button {
		// 	&#check-for-savings {
		// 		position: relative;
		// 		right: -514px;
		// 	}
		// }
		input[type="text"],
		input[type="checkbox"] {
			//border-radius: 0;
			margin-top: 0;
			margin-bottom: 0;
			&.member-birthday {
				text-align: center;
			}
		}
		ul {
			margin-left: 0;
			border: 1px solid @borderColor;
			text-align: center;
			margin-bottom: 0;
			&#familyLabels { //This is a table with "Family Members and General Questions"
				border-bottom: none;
				border-top: @tableHeaderBorderColor;
				line-height: 40px;
				font-size: @fontSize;
				color: @fontColor;
				background: @tableHeaderBgColor;
				margin-top: 10px;
				li {
					display: inline-block;
					font-size: @fontSize - 2px;
					width: 17%;
					text-align: center;
					&:last-child {
						width: 10%;
						font-size: 0;
						color: transparent;
					}
					a[rel="tooltip"] {
						color: @fontColor;
						border-bottom: 1px dotted @fontColor;
					}
				}
			}
			&#members-repeat-container {
				border-top: none;
				padding: 10px 0;
				li {
					display: inline-block;
					font-size: @fontSize;
					width: 17%;
					text-align: center;
					&:last-child {
						width: 10%;
						font-size: 0;
						color: transparent;
					}
				}
			}
		}
		.input-append, 
		.input-prepend {
			margin-bottom: 0;
		}
		.input-append .add-on, 
		.input-prepend .add-on {
			border: 1px solid @borderColor;
			background: #fff;
		}
		.input-prepend.input-append .add-on:first-child, 
		.input-prepend.input-append .add-on:last-child,
		.input-prepend .add-on:first-child {
			border-radius: 0;
			border: 1px solid @inputsBorderColor;
		}
	}
}

#incomeEntry,
#zipEntry {
	margin: 20px 0 0 0;
	p {
		display: inline-block;
		margin-right: 20px;
		width: 220px;
		text-align: right;
	}
}


#zipEntry {
	.add-on {
		&:before {
			content:"\f041";
			font-family: @iconFont;
		}
	}
	.ng-binding {
		font-size: @fontSize;
		margin-left: 5px;
	}
}


#family-members-container {
	button {
		&:before {
			content:"\f067";
			margin-right: 5px;
			font-family: @iconFont;
		}
	}
	.form-actions {
		border-top: none;
		padding: 0;
	}
	.member-label {
		&:before {
			content:"\f007";
			margin-right: 5px;
			font-family: @iconFont;
			color: @fontColor;
		}
	}
	.remove-label {
		color: transparent;
		font-size: 0;
		&:after {
			content:"\f00d";
			margin-left: 5px;
			font-family: @iconFont;
			font-size: @fontSize;
			color: @errorFontColor;
			opacity: 0.8;
		}
		&:hover:after {
			opacity: 0.9;
		}
	}
}

#resultsSection {
	#resultDivs {
		#container {
			width: 47%;
			float: left;
			margin: 0 1% 14px;
			padding: 10px 0;
			min-height: 400px;
			.border-custom;
			.title {
				font-family: @serifFontFamily-1;
				text-align: center;
				font-size: @fontSizeH3;
				padding: 10px 0;
				line-height: normal;
  				font-weight: 300;
  				color: @fontColorH1;
			}
			img{
				display: block;
				float: none;
				margin-left: auto;
				margin-right: auto;
			}
			.row-fluid {
				min-height: 70px;
				padding: 12px;
			}
			.subtitle {
				font-family: @serifFontFamily-1;
				margin-top: 5%;
				font-size: @fontSizeH4;
				text-align:center;
			}
			.contents {
				text-align: left;
				margin: 10px;
				padding: 10px;
				font-size: @fontSize;
				line-height: @lineHeight;
			}
		}
	}
}
