/* Eligibility Starts */


.eligibility-wrapper {
	.actionBtn {
		.mixins-secondary-btn-font-color;
		//color: @primaryBtnBgColor;
	}
	#sidebar {
		i {
			font-size: @fontSize + 2px;
			color: @iconColor;
		}
		ul {
			margin-left: 0;
		}
		li {
			list-style-type: none;
			margin-bottom: 14px;
			margin-left: 20px;
			&:before {
				content: "\f05a";
				font-family: FontAwesome;
				margin-left: -22px;
				margin-right: 10px;
				font-size: @fontSize + 3px;
				color: @iconColor;
			}
		}
	}
	#rightpanel {
		// button {
		// 	&#check-for-savings {
		// 		position: relative;
		// 		right: -514px;
		// 	}
		// }
		input[type="text"],
		input[type="checkbox"] {
			margin-top: 0;
			margin-bottom: 0;
			&.member-birthday {
				text-align: center;
			}
		}
		.btn {
			font-size: @fontSize;
		}
		ul {
			margin-left: 0;
			border: 1px solid @borderColor;
			text-align: center;
			margin-bottom: 0;
			background: @white;
			&#familyLabels { //This is a table with "Family Members and General Questions"
				border-bottom: none;
				line-height: 40px;
				font-family: @sansFontFamily-1;
				font-size: @fontSize;
				background: @fontColor;
				li {
					display: inline-block;
					font-size: 12px;
					width: 17%;
					text-align: center;
					color: @white;
					&:last-child {
						width: 11%;
						font-size: 0;
						color: transparent;
					}
					a[rel="tooltip"] {
						color: @white;
						border-bottom: 1px dotted;
					}
				}
			}
			&#members-repeat-container {
				border-top: none;
				padding: 10px 0;
				li {
					display: inline-block;
					font-size: @fontSize;
					width: 17%;
					text-align: center;
					&:last-child {
						width: 11%;
						font-size: 0;
						color: transparent;
					}
					.btn-mini {
						font-size: @fontSizeSmall;
					}
				}
			}
		}
		
		.input-append, 
		.input-prepend {
			margin-bottom: 0;
		}
		.input-append .add-on, 
		.input-prepend .add-on {
			border: 1px solid @borderColor;
			background: @mainHeaderBgColor;
			text-shadow: none;
		}
		.input-prepend.input-append input, 
		.input-prepend.input-append select, 
		.input-prepend.input-append .uneditable-input {
			.border-radius(0 5px 5px 0);
		}
		.input-prepend.input-append .add-on:first-child, 
		.input-prepend.input-append .add-on:last-child,
		.input-prepend .add-on:first-child {
			.border-radius(5px 0 0 5px);
		}
		//.header {
		//	margin-bottom: 10px;
		//}
	}
}

#incomeEntry,
#zipEntry {
	margin-bottom: 10px;
	p {
		display: inline-block;
		margin-right: 20px;
		width: 200px;
		text-align: right;
	}
}


#zipEntry {
	.add-on {
		&:before {
			content:"\f041";
			font-family:"FontAwesome";
		}
	}
}


#family-members-container {
	button {
		&:before {
			content:"\f067";
			margin-right: 5px;
			font-family:"FontAwesome";
		}
	}
	.form-actions {
		border-top: none;
		padding: 0;
	}
	.member-label {
		&:before {
			content:"\f007";
			margin-right: 5px;
			font-family:"FontAwesome";
		}
	}
	.remove-label {
		color: transparent;
		font-size: 0;
		&:after {
			content:"\f00d";
			margin-left: 5px;
			font-family:"FontAwesome";
			font-size: @fontSize + 2px;
			color: #B90000;
			opacity: 0.8;
		}
		&:hover:after {
			opacity: 0.9;
		}
	}
}

#resultsSection {
	#resultDivs {
		#container {
			width: 96%;
			//float: left;
			margin: 0 1% 30px;
			padding: 0 0 10px;
			min-height: 130px;
			.title {
				font-family: @serifFontFamily-2;
				//color: @white;
				//font-weight: 300;
				font-size: @fontSizeH4;
				//padding: 10px;
				//background: #7ebb1f;
				border-bottom: 1px solid #7ebb1f;
				width: 75%;
				margin-left: 22%;
			}
			h3{
				margin-top: 0;
				font-weight: bold;
				line-height: 20px;
			}
			.row-fluid {
				min-height: 70px;
				padding: 12px;
			}
			img {
				float: right;
				&.nmhide,
				&.mshide{
					display: block;
					margin: -24px auto 0;
				}
				+div.contents {
					//margin-top: 40px;
				}
			}
			.subtitle {
				font-family: @serifFontFamily-1;
				margin-left: 20px;
				font-size: @fontSizeH4;
				//text-align:center;
			}
			.contents {
				//text-align: center;
				margin: 0 10px 10px 20px;
				a[rel="tooltip"] {
					border-bottom: 1px dotted;
				}
			}
		}
	}
}
