body {
	font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    background: #fafbfd;
    color: #334048;
}

#masthead {
    width: 100%;
    .nav {
        li {
            border-right: none !important;
            a {
            	color:#fff;
            	font-size: 1em;
                font-weight: 600;
                text-transform: none;
                &:hover {
                    text-decoration: underline;
                	color:#ffffff;
                }
            }
        }

    }
    &.navbar-inner {
        background: #2D76A3;
        width: 100%;
        box-shadow: none;
    	border: none !important;
        border-radius: 0;
        min-height: 80px;
        .container {
            width: 1140px !important;
            display: grid;
            grid-template-columns: 4fr 2fr;
        }
    }
}
//#masthead .navbar-inner .nav-list .nav li.dropdown.open > .dropdown-toggle {padding-top: 10px !important;}
.topbar:first-of-type {
    min-height: 80px;
}
#container-wrap {
    .container {
        margin-top: 35px !important;
        //z-index: 100;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        position: relative;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 80px;
        right: 0;
        height: 210px;
        background: #2D76A3;
        z-index: -1;
    }
}

    .ps-nav {
        padding-right: 20px

    }
@madia (min-width: 1240px) {
    .navbar-inner {
        .container {
            width: 1140px !important;
        }
    }
}
#container-wrap {
    margin-top : 80px !important;
}

#yourWebSite{
   width: 50%;
}