// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *Accessibilty
// #
// #
// #
// ########################################################################################################
#skip_main_content a
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip_main_content a:focus
{
  position:static;
  left:0;
  width:auto;
  height:auto;
}

.required-true {
  &:after {
    display: inline;
    content: '*';
    color: @asterisk-required;
    height: 8px;
    width: 8px;
  }
}

.aria-hidden, .skip-sidebar, .skip-side-nav{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;

}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *FORMS
// #
// #
// #
// ########################################################################################################

// General properties

// General classes for quick sizes
.input-full-width { width: 100%; }

.form-wrapper-two {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    height: 30px;
    box-sizing: border-box;
  }
}

#sidebar {
  form.noborder {
    border: 0px;
  }
}
// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *TOOLTIPS
// #
// #
// #
// ########################################################################################################

.inlineBlock {
  display: inline-block;
}
a[rel~="tooltip"]{

  text-decoration: none;
}
a[rel~="tooltip"] .icon-question-sign {
  /* padding:3px; */
}
.tooltip {text-align: left; z-index: 1060;}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip-inner {
  max-width: 20em;
  padding: 10px 15px;
  color: #222;
  text-align: left;
  text-decoration: none;
  border:1px solid #777;
  border-top-color: #A6A6A6;
  background-color: #f7f7f7;
  font-size: 13px;
  line-height: 19px;
  box-shadow:  0px 4px 10px 0px rgba(10, 10, 10, .4);
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #666;
  border-width: 5px 5px 0;
}
/* end to control tooltip question popover */

@media screen and (max-width: 576px){
  .tooltip{
    left: 15px!important;
    right: 15px!important;
    box-sizing: border-box;
  }
  .tooltip-inner{
    margin-left: auto;
    margin-right: auto;
    max-width: none!important;
  }
  .tooltip.top .tooltip-arrow{
    left:10%;
  }
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *NAV-TOP-VIEW
// #
// #
// #
// ########################################################################################################
#navtopview {
  text-align: center;
  border-top:4px solid #FBB450;
  margin-left: -10px;
  margin-right: -10px;
  margin-top:-11px;
  width: auto;
  z-index: 9;
}
#navtopview div {
  background-color:#FAA732;
  background-image:linear-gradient(to bottom,#FBB450,#F89406);
  background-repeat:repeat-x;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  padding:0 10px 5px 10px;
  position:relative;
  display:inline-block;
  border-bottom-right-radius:0.5em;
  border-bottom-left-radius:0.5em;
  margin:0 auto;
}
#navtopview p {
  float:left;
  display:inline-block;
  margin-bottom: 0px
}
#navtopview .btn {
  margin: 0 0 0 7px;
  float: right;
}

@media screen and (max-width:767px){
  #navtopview {
    margin-left: auto;
    margin-right: auto;
  }
  #navtopview p {
    float: none;
    display: block;
  }
  #navtopview .btn {
    text-align: center;
    margin: auto;
    float: none;
  }
}
@media screen and (min-width:768px) and (max-width:1240px) {
  #navtopview {
    margin-left: auto;
    margin-right: auto;
  }
}

//########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *DASHBOARD - MY APPLICATION
// #
// #
// #
// ########################################################################################################

//MY APPLICATION
@media screen and (min-width: 767px) {
  .coverage-year_right {
    text-align: right;
    color:#5f5f5f;
  }
}
@media screen and (max-width: 767px){
  .coverage-year_right{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 5px;
    color:#5f5f5f;
  }
}

.csr-btns {
  margin-top: 10px;
  margin-bottom: 10px;
}

// **PLAN SUMMARY PAGE **//

.planHeader {
  background: #ddd;

  img {
    margin-top: 25px;
  }

  a.link-text{ 
    color: #0065A8;
  }
 }

//########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *DASHBOARD - NAVIGATION
// #
// #
// #
// ########################################################################################################

ul.dashboard_tabs {
  list-style: none;
  margin:0px;
  margin-bottom:10px;
}

.dashboard_tabs li {
  float: left;
  width: 50%;
}
.dashboard_tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #0e6094;
  padding: 10px 0;
  border-bottom: 1px solid #888;
  /*background: #f7f7f7;*/
  font-size: 17px;
  font-weight: bold;
}
.dashboard_tabs a:hover,
.dashboard_tabs a.active {
  border-bottom: 3px solid #0f6eaa;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.flex-container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
}

.flex-child-1 {
    flex-basis: 30%;
}

.flex-child-2 {
    flex-basis: 70%;
}

.member-info {
    text-transform: capitalize;
    line-height: 2.2;
    letter-spacing: normal;
    color: #22313f;
    margin: 10px;
}

.group-header {
    padding: 0px 22px;
    font-size: 14px;
}

.member-spacing {
    padding-left:20px;
}

.enrolled {
    color: green;
}

.groupCheck {
    height: 20px;
    width: 20px
}

.member-info-container{
    flex-basis: 44%;
}

@media screen and (min-width:320px) and (max-width:767px){
  .member-info-container{
    flex-basis: 100%;
  }

}

//########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *Order-Confirmation pages
// #
// #
// #
// ########################################################################################################

//Confirmation Page
.div_bordered{
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px
}

@media screen and (max-width: 767px){
  .total_table
    .txt-right{text-align: center}
}

#show-cart {
  table {
    tbody {
      tr {
        &.caption {
          th {
            background: #efefef !important;
          }
        }
      }
    }
  }
}

.changeLink {
  font-weight: bold !important;
  padding-left: 10px;
  padding-right: 10px;
  color: red !important;
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *Anonymous_shopping (prescreener)
// #
// #
// #
// ########################################################################################################


//full width
@media (max-width: 500px){
  .width-xs-button {
    width: 100% !important;
  }
}

.gtm_estimate_next{margin-bottom: 10px}
.gtm_estimate_back{margin-bottom: 10px}