

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          LOCAL - RESET
// #
// #
// #
// ########################################################################################################

.alert,
.well {
  border-radius: 0;
}

.dropdown-menu,
.tooltip {
  border-radius: 0!important;
}

.nav-list > li > a{
    text-shadow: none;
  }

// this is to remover gradien on hover from dropdown for IE8
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

#rightpanel .header #myinfo-edit { //used on shop/employee/spplanselection/myinfo page causing extra padding to the button
  padding:0 12px;
}

.tooltip-inner {
  border-radius: 0;
}

// .container {
//   width: 960px!important;
// }




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *RESET - PRINT
// #
// #
// #
// ########################################################################################################

@media print {
  #rightpanel .plans-header.stuck {position: relative !important;}
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *GENERAL SETUP & MIXINS
// #
// #
// #
// ########################################################################################################

@serifFontFamily-1: 'Bree Serif', serif;
@sansFontFamily-1:  "proxima-nova", sans-serif;
@sansFontFamily-2:  "proxima-nova", sans-serif;

.mixins-font-1-bold {
  font-weight: 600;
}
.mixins-font-1-light {
  font-weight: 300;
}
.mixins-headers-type {
  font-family: @sansFontFamily-1;
  line-height: 1.45em;
  font-weight: 600;
}

@borderColor:       #e6eaeb;//lighten(desaturate(@colorThree, 60%), 42%);
@burgColor:         #7e183f;
@bodyBgColor:       #f7f7f7;
@bodyFontColor:     #434951;
@bodyLineHeight:    1.4em;
@bodyHeaderFontColor:#48A95E;

body {
  background: @bodyBgColor;
  font-size: 15px;
  font-family: @sansFontFamily-1;
  font-style: normal;
  .mixins-font-1-light;
  color: @bodyFontColor;
  line-height: @bodyLineHeight;
  #container-wrap {
    .container { 
      border: 1px solid #efefef;
    }
    background:@bodyBgColor;
    margin-top:10px; //this is to get rid of the 1px line between masthead and container... it's visible due setting body bg color to #444
  }
}

h1 {
  font-size: 24px;
  border-bottom: 1px solid @borderColor;
  padding-bottom: 15px;
  margin-bottom: 0;
  color: #48a95e;
  font-weight: 300;
  line-height: 1.25em;
  & small {
    font-size: 14px;
  }
  img {
    margin-right: 15px;
  }
}

h2 {
  font-size: 20px;
  .mixins-headers-type;
}

// this is a slideshow header element located on the home page 
  .slide h2{ 
    color: #404040;
    font-size: 26px;
    font-weight: normal;
  }

h3 {
  .mixins-headers-type;
  color: @bodyHeaderFontColor;
}

h5 {
  font-size: 12px;
  .mixins-headers-type;
  &.header-secondary {
    font-size: 16px;
    background: #d0e9ff;
    height: 40px;
    line-height: 40px;
    font-weight: 300;
    text-indent: 10px;
}
}
a {
  color:@colorThreeDark;
  &:hover {
    color: darken(@colorThreeDark, 10%);
    text-decoration: none;
  }
}

label {
  margin-bottom: 0;
}

legend {
  font-size:  15px;
  color: @bodyFontColor;
  font-weight: bold;
}

select,
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input.datepick, 
.uneditable-input {
  .border-custom;
  box-shadow: none;
  font-size:13px;
  border-radius: 0;
  font-family: @sansFontFamily-1; 
}





// ############## CLASSES ################## 

.alert {
  margin-top:0;
}
.accordion-group {
  .border-custom;
}

.accordion-inner {
  .border-custom;
  border-right:none;
  border-bottom:none;
  border-left:none;
}
.border-radius (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;
}
.bgBox {
  border-radius: 0!important;
  //background: #b3c4db url('../img/NM-BG.png') repeat top left!important;
}
.box-loose {
  border-radius: 0!important;
  border: 1px solid @borderColor;
}
.border-custom {
  border: 1px solid @borderColor;
}

//.header {
//  padding: 10px;
//}
//.box-tight {
//  background: @white url('../img/NM-BG.png') repeat top left!important;
//}
.line {
  .border-custom;
  border-top:none;
  border-right:none;
  border-bottom:none;
}

// styling for class .OK
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  position:relative;
  &.finished-step-checkmark {
    font-family: FontAwesome;
    &:before { //circle
      content: "\f111";
      font-size: 36px;
      color: #48a95e;
      position: absolute;
      right: 3px;
      top: 1px;
      z-index: 1; 
    }
    &:after { //checkmark
      content: "\f00c";
      font-size: 20px;
      color: @white;
      position: absolute;
      right: 8px;
      z-index: 2;
    }
  }
}
// .OK ends

.plans-container {
  .border-custom;
  border-top:none;
  border-bottom: none;
}
.small {
  //font-family: @sansFontFamily-2;
  font-size: 10px;
}
p.small {
  font-size:12px;
}
.thumbnail {
  .border-custom;
}
.top-minus {
  margin-top: -30px;
}
.well-clear {
  background: @white;
  box-shadow: none;
  border-color: @borderColor;
}


// ERROR Message
@errorMessageBG:  #feeae7;
@errorMessageText:#b90000;
@errorMessageBorder: #b94a48;
@errorMessageExl:   #b94a48;

  form label.error {
    background: @errorMessageBG;
    color: @errorMessageText;
    border-color: @errorMessageBorder;
    border-radius:0;
    padding:6px 12px;
    span em.excl {
      background: @errorMessageExl;
    }
  }

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *ICONS
// #
// #
// #
// ########################################################################################################

@iconColor: #5485a3;
.mixins-icons-color {color: #5485a3;}

a [class^="icon-"],
a [class*=" icon-"] {
  text-decoration: none;
  font-size: 14px;
  padding:3px;
}
.active a .icon-ok {color:@bodyFontColor;}
.icon-question-sign {color:@linkColor;}
.icon-cog {color:@linkColor;}
.icon-share-alt, //Both icons located on the /broker/dashboard page, under Quick Links. Anywhere else??
.icon-user {color: orange!important;}
.icon-eye-open {color: @linkColor;}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HEADERS
// #
// #
// #
// ########################################################################################################

.mixins-nm-header-font-size {font-size: 16px;}
.mixins-nm-header {
  font-family: @sansFontFamily-1; 
  //font-weight: normal!important;
  .mixins-font-1-bold;
}


// This is a horizontal line located under main page header (example would be line under "login")
#plansbar,
#titlebar, 
#main.titlebar,
.titlebar {
  width:100%;
}

//This is a header box styling. 
//Also see additional header styling in RIGHTPANEL section
#sidebar h4,  
#sidebar .header,
#sidebar .header h4,
#sidebar .accordion-heading a, //this is located in SHOP 
.header,
.graydrkbg,
.table th {
  .mixins-nm-header;
  .mixins-nm-header-font-size;
  min-height: 20px;
  background: @white;  
  i {
    color: @bodyFontColor;
  }
}







// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *MASTHEAD
// #          Theme colors, mixins located below.
// #
// #
// ########################################################################################################


@mastheadOne:       #48a95e; //green 
@mastheadBorder:    #48a95e; //green

.mixins-masthead-bg-color {
  background: @mastheadOne;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

#masthead {
  .container {
    padding: 7px 0;
  }
//This is used to overwrite ghixcustom.css - could it be removed from there?
  &.navbar {
    border-bottom: none!important;
  }
//This is Logo Area
  .brand { 
    position: absolute;
    top: -26px;
    left: 20px;
    padding: 12px 5px 7px 5px;
    max-width: none;
    background: @white;
    -webkit-box-shadow:  0px 2px 10px 1px rgba(100, 100, 100, .2);
    box-shadow:  0px 2px 10px 1px rgba(100, 100, 100, .2);
  }
//This is a Masthead area itself: background with border 
  .navbar-inner { 
    .mixins-masthead-bg-color;
    border-bottom: 5px solid @mastheadBorder;

  }
//This is a Masthead menu (Login/Logout, Inbox, My Account etc.)
  .nav {
    top: 10px;//this is to move navigation abit down
    li {
      //This is the top level menu link container
      &.dropdown.open > .dropdown-toggle {
        background: none;
        text-shadow: none;
        box-shadow: none;
      }
       //This is the top level menu link itself(Inbox/My Account, etc)
      a {
        color: @white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        padding-top: 18px; //the next four lines are just poor manipulations to stretch link box from top to bottom. I'm sure there is a better way to do it.... just need time...
        padding-bottom: 15px;
        margin-top: -18px;
        margin-bottom: -2px;
        text-shadow: none;
        &:hover {
          background: #59BA6F;
        }
      }
    }
    .dropdown-toggle {
      //This is the carot loacted next to the main link in it hover and original states
      &:hover {
        .caret {
          border-bottom-color: @white;
          border-top-color: @white;
        }
      }
      .caret {
        border-bottom-color: @white;
        border-top-color: @white;
        margin-top: 8px;
      }
    }
    .dropdown-menu { //This is the dropdown menu link container
      border-radius: 0;
      padding: 5px 0 7px;
      &:after { //this is to remove the carot for the dropdown menu
        content: "";
        border: none;
      }
      &:before { //this is to remove the carot for the dropdown menu
        content: "";
        border: none;
      }
      //This is the dropdown link itself(Help Center, Phone Number, etc.)
      li a {
        color: #333;
        text-transform: uppercase;
        margin-top: 0;
        line-height: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        &:hover,
        &:focus {
          background: #59BA6F;
          color: @white;
        }
      }
    }
  }
}

//.dropdown-submenu:hover > a - what is it? find the right place for it




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HELPBAR -  located right below the masthead with general help links (find agent, ? , ...) - currently disabled for NM theme, commented out to keep css clean.
// #                     Please uncomment if required.
// #
// #
// ########################################################################################################

//#navhelp {
//  h2 {
//    border-bottom: 1px solid fade(@white, 75%);
//  }
//  .nav {
//    li {
//      .help-panel {
//        background-color:@blueDark;
//        padding:10px 15px 15px 15px;
//        &:after {
//          border-bottom: 6px solid @blueDark;
//        }
//        h3 {
//          a {
//            color: @white;
//          }
//        }
//        a {
//          color: fade(@white, 85%);
//          &:hover {
//            color:@white;
//          }
//        }
//      }
//    }
//  }
//  .dropdown-submenu {
//    &:hover {
//      a {
//        background-color: @blue;
//      }
//    }
//  }
//}

//.help-shortcut:hover > span.help-icon,
//.help-shortcut:active > span.help-icon,
//.help-shortcut:focus > span.help-icon {
//  color: @white;
//}

//affects masthead
//.dropdown-menu li > a:hover, 
//.dropdown-menu li > a:focus, 
//.dropdown-submenu:hover > a {
//  color: @colorThree;
//  background: none;
//}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #      *NAVIGATION BAR - located on the top of each page, right above #sidebar and #righpanel (HOME/EMPLOYERS/MY INFO : example of the content)
// #
// #
// #
// ######################################################################################################## 
@navigationOne:       #d8ebd6;   
@navigationTwo:       #70b5e1; 

@navigationBG:        #d8ebd6; 
@navigationBorder:    #d8ebd6;
@navigationLinkColor: #48a951;
@navigationLinkActiveColor: #13771c;
@navigationLinkActiveBG:    #A6CEA2; 

.mixins-nav-bar-bg {background: @navigationBG;}
.mixins-nav-bar-border {border: 1px solid @navigationBorder;} 
.mixins-nav-link-color {color: @navigationLinkColor;}
.mixins-nav-carot-color {
  border-top-color: @navigationLinkColor;
  border-bottom-color: @navigationLinkColor;
}
.mixins-nav-link-active-color {
  color: @navigationLinkActiveColor;
  background: @navigationLinkActiveBG;
}
.mixins-nav-carot-active-color {
  border-top-color: @navigationLinkActiveColor;
  border-bottom-color: @navigationLinkActiveColor;
}
.mixins-nav-font-size {font-size:14px;}

#menu { 
  box-shadow: none;
  .navbar-inner { //This is nav bar box - bg color, font color and family...
    min-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    box-shadow: none;
    border: none;
    .mixins-nav-bar-bg;
    .nav {
      .mixins-nav-font-size;
      li a {
        .mixins-nav-link-color;
        text-shadow: none;
      }
      li a i.caret {
        .mixins-nav-carot-color;
      }
      li.active a{ // This is a active links
        box-shadow: none;
        position:relative;
        .mixins-nav-link-active-color;
      }
      li.active a i.caret{ //This is a active link carots
        .mixins-nav-carot-active-color;
      }
      li.open a{ // This is a hover/open links
        background: none;
        color: @bodyFontColor;
      }
      li.open a i.caret { //This is a hover/open link caret
        border-top-color: @bodyFontColor;
        border-bottom-color: @bodyFontColor;
      }
      .dropdown-menu { //This is dropdown down menu when you click on the link/caret
        border-radius: 0;
        padding: 0;
        a {
          padding: 8px 20px;
          color: @navigationLinkColor!important;
          border-bottom: @borderColor;
          &:hover {
            background: @navigationLinkActiveBG;
            color: @navigationLinkActiveColor;
          }
        }
      }
    }
  }
  //Styles below is being applied to the dropdown menu links, 
  .navbar .nav li.dropdown.open > .dropdown-toggle, 
  .navbar .nav li.dropdown.active > .dropdown-toggle, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open > .dropdown-toggle a, 
  .navbar .nav li.dropdown.active > .dropdown-toggle a,
  .navbar .nav li.dropdown.active > .dropdown-toggle a i.caret, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle a, {
    background: none!important;
    text-shadow: none!important;
    color: orange!important;
  }
}



.header-reset {
  padding-top: 7px;
  border-left: none;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *BREADCRUMBS  - Currently disabled! Styles are commented out to keep main css clean.
// #
// #
// #
// ########################################################################################################

#breadcrumbs,
.breadcrumb, 
.page-breadcrumb {
  display: none;
}

//.page-breadcrumb {
//  position:relative;
//  top:-10px;
//  li {
//    font-size: 11px;
//  }
//}

//#breadcrumbs .nav-pills {
//  border: 1px solid lighten(desaturate(@colorThree, 60%), 42%);
//  border-top:none;
//  border-right:none;
//  border-left:none;
//  margin-bottom:0;
//}


















// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *BUTTONS
// #
// #
// #
// ########################################################################################################

.mixins-button-font-size {font-size: 13px;}
.mixins-button-font {font-family: "proxima-nova", sans-serif!important;}

.mixins-primary-btn-font-color {color: #fff;}
.mixins-primary-btn-bg {background: #3d99df;}
.mixins-primary-btn-bg-hover {background: #2285ce;} 
.mixins-primary-btn-border {border: 1px solid darken(#3d99df, 5%);}

.mixins-secondary-btn-border {border: 1px solid #e0e0de;}
.mixins-secondary-btn-bg {background: #f5f5f5;}
.mixins-secondary-btn-bg-hover {background: #ebebeb;}
.mixins-secondary-btn-font-color {color: #656c6e;}


.btn {
  .mixins-secondary-btn-border;
  .mixins-secondary-btn-bg;
  .mixins-secondary-btn-font-color;
  .mixins-font-1-bold; 
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  &:hover,
  &:focus {
    .mixins-secondary-btn-bg-hover;
  }
}

.btn-primary {
  .mixins-primary-btn-font-color;
  .mixins-primary-btn-bg;
  .mixins-primary-btn-border;
  text-shadow:none;
  &:hover,
  &:focus { //"&" means ---> .btn-primary:hover, .btn-primary:hover
    .mixins-primary-btn-bg-hover;
  }
  i.icon-cog, // this is when icons are located within the primary button...
  i.caret {
    color: #fff;
  }
}

.btn-small {
  .mixins-font-1-light;
  border-radius: 0!important; //to overwrite ghixcustom.css
}

.header .btn {
  .mixins-button-font;
  font-weight: normal;
}

.plan .btn {
  padding: 4px 7px;
  .mixins-button-font-size;
}

.btn-custom {
  display: inline-block;
  padding: 5px 14px;
  margin-top:10px;
  min-width: 4px;
  .border-custom;
  .border-radius;
  .mixins-primary-btn-bg;
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *SIDEBAR
// #
// #
// #
// ########################################################################################################

.mixins-sidebar-font-color {color: #428fd5;} //@bodyFontColor
.mixins-sidebar-font-size {font-size: 15px;}
.mixins-sidebar-active-bg {background: #428fd5;} //#85bae9
.mixins-sidebar-active-font-color {color:#fff;}
.mixins-sidebar-inactive-font-color {color:#b3b3b3;}

// This is a sidebar menu
#sidebar {
  border-right: 1px solid @borderColor;
  margin-right: -5px; //line to test
  padding-top: 15px; //same applied to #rightpanel - should be the same number tho!
  h4 {
    border-bottom: 1px solid @borderColor;
  }
  .nav-list {
    li {
      background: @white;
      .mixins-sidebar-font-color;
      .mixins-sidebar-font-size;
      &:hover { 
        text-decoration: none;
      }
      a {
        .mixins-sidebar-font-color;
      }
      a:hover {
        background: @white!important;
      }
      &.disabled {
        .mixins-sidebar-inactive-font-color;
        a {
          .mixins-sidebar-inactive-font-color;
        }
      }
    }
    .active {
      margin-left: 0;
      font-weight: normal;
      .mixins-sidebar-active-bg;
      .mixins-sidebar-active-font-color;
      .mixins-sidebar-font-size;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 11px;
        right: -1px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid @white;
      }
      a, a:hover {
        font-weight: normal;
        text-shadow: none;
        background: transparent!important;
        .mixins-sidebar-active-font-color;
        .mixins-sidebar-font-size;
      }
    }
  }
  #list-2 {
    margin-top: 20px;
  }
  .box-tight { //to overwrite in ghixcustom.css
    border-radius: 0!important;
    border-color: #ebedef!important;
  }
  .header { //this added in order for the .header withouth the h4 tag to be the same height, with text in the middle.
    min-height: 40px;
    line-height: 40px;
    a.pull-right {
      font-size: 85%;
      font-weight: 300;
      margin-right: 10px;
    }
  }
  form { //located here: /hix/admin/manageissuer
    legend {
      .mixins-nm-header;
    }
  } 
  #frmSecureInbox {
    border: none;
  } 
}


table#brokerStatusHistory {
  .border-custom;
}


input[type="radio"] {
  margin: 0 5px 0 0;
}








// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *RIGHTPANEL
// #
// #
// #
// ########################################################################################################
.mixins-rightpanel-subhead-bg {background: #fff;}

//reset for the pages, where rightpanel takes all the space, with out the sidebar - no border needed for the right side
#rightpanel.span12 {
  border-left: none;
}

#rightpanel {
  border-left: 1px solid @borderColor;
  margin-left: 4px; //this and next line to be tested...
  padding-left: 15px;
  padding-top: 15px; //same applied to #sidebar - should be the same #
  h4 {
    padding:10px;
    border-bottom: 1px solid @borderColor;
    .mixins-rightpanel-subhead-bg;
    .mixins-nm-header;
    .mixins-nm-header-font-size;
    &.alert.alert-info {
      color: @white;
      text-shadow: none;
      border:1px solid #317191;
      background: #3a87ad;
    }
  }
  a.btn {
    margin: 0 5px;
  }
  div.header a.btn,
  div.header input[type="submit"],
  button.btn.btn-small { //this maddness located on shop/spplanselection/editmyinfo
    margin: 10px 5px;
    .mixins-button-font;
  }
  .graydrkaction, 
  .graylightaction, 
  .header {  
    height:40px; //This specific height is used when inside the <div class="header"> present <h4> + <a class="btn">. Testing needed tho....
    background: @white;
    border-bottom: 1px solid @borderColor;
    h4 {
      background: none;
      border-bottom: none;
    }
  }
  .table td h4 { //This styling is applied to agents names located in the table td.....
    background: none;
    border-bottom: none;
    padding: 0;
    font-size: 18px;
  }
  .light{
    opacity: 1!important;
  }
  .accordion-header {
    .mixins-rightpanel-subhead-bg;
  }
  dl.dl-horizontal { //should it be moved into ghixcustom.css????
    margin-top: 20px;
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HOMEPAGE
// #
// #
// #
// ########################################################################################################
#gallery { 
  #menu { //same id used for the "navbar", so be careful!
    ul {
      background: #d8ebd6; 
      li a {
        color: #48a95e;
        .mixins-font-1-bold; 
      }
      li.act a{
        background: #a6cea2;
        padding: 19px 20px;
        color: #13771c;
        //text-transform: uppercase;
        line-height: 50px; //to place link to the middle of the bar
        position: relative;
        font-size: 15px; 
        font-weight: 300;
        &:after {
          content: "";
          position: absolute;
          top: 46px;
          right: 42%;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #fff;
        }
      }
    } 
  }
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PLAN SELECTION: specific styles for PS goes in here
// #
// #
// #
// ########################################################################################################

.mixins-PS-insert-box-shadow {
  box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  -webkit-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  -moz-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
}
#planSelect {
    .scroll-left-arrow,
    .scroll-right-arrow {
      background: @colorThreeDark;
      &:hover { //"&" means ---> #planSelect:hover
        background: darken(@colorThreeDark, 10%);
      }
    }
    .icon-arrow-left,
    .icon-arrow-right {
      color: @white;
      opacity: 1!important;
    }
  }

.plan a.addtofav.addedToFav {
  background: @colorTwo;
  color: @white;
  .mixins-PS-insert-box-shadow;
}

.intro-indiv h4, 
#titlebar h3,
h3#titlebar 
{
  color: #7e183f!important; //to overite ghixcustom.css
}

.plans-section-content {
  .label-info {
    font-size: 13px;
    font-family: @sansFontFamily;
    font-weight: normal !important;
    background: @errorBackground;
    color: @errorText;
    border: @errorBorder;
    .border-radius;
  }
  h3 {
    text-transform: none;
  }
}

.plans-section-header h3 {
  .border-custom;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: lighten(desaturate(@colorThree, 40%), 50%);
  margin:0;
  padding-left:15px;
  color: darken(@colorThreeDark, 5%)!important;
  font-size: 14px;
} 



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *CALENDAR within rightpanel
// #
// #
// #
// ########################################################################################################
@calendarOne:           #d23a3a; //red
@calendarTwo:           #5894c3; //red
@calendarContentColor:  @bodyFontColor;
@calendarContentBorder: @borderColor;

.mixins-calendar-gradient (@startColor: @calendarOne, @endColor: @calendarTwo) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
  }

.calSheet {
  .month {
    background: @calendarOne;
    border: 1px solid @calendarTwo;
    border-radius: 0;
    color: @white;
  }
  .day {
    border-radius: 0;
    border-right: 1px solid @calendarContentBorder;
    border-bottom: 1px solid @calendarContentBorder;
    border-left: 1px solid @calendarContentBorder;
    color: @calendarContentColor;
    font-weight: bold;
    letter-spacing: -0.1em;
    line-height: 1.4em;
  }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *TABLE within rightpanel
// #
// #
// #
// ########################################################################################################
.mixins-table-font-size {font-size: 13px;}
.mixins-table-tr-font {font-family: "proxima-nova", sans-serif;}
.mixins-table-th-font {
  font-family: "proxima-nova", sans-serif;
  .mixins-font-1-bold;
}
.mixins-table-th-font-color {color: @bodyFontColor}
.mixins-table-tr-bg {background: lighten(desaturate(@colorThree, 40%), 52%);}


.table{
  strong {
    font-weight: normal;
  }
  margin-bottom: 15px!important;
  th{
    a {
      background: none!important; //important added to overwrite inline styles added to some pages. Example: /hix/admin/manageissuer 
      font-weight: normal;
      .mixins-table-th-font-color;
      .mixins-table-th-font; 
      &.btn { //"&" means that a has class btn ---> <a class="btn">
        .mixins-secondary-btn-border;
        .mixins-secondary-btn-bg;
        .mixins-secondary-btn-font-color;
      }
    }
  }
  td {
    h4 {
      background: none;
    }
    .border-custom;
      font-size: 14px;
      border-right: none;
      border-bottom: none;
      border-left:none;
    .caret{
      border-top: 4px solid @iconColor;
    }
    .dropdown-menu li > a:hover { //this is a dropdown menu located in tables (cog element --> hover --> will see this)
      background: none;
      color:@linkColorHover;
    }
  }
  thead {
    background: #f0f0f0;
    tr.header th,
    th a {
      font-size: 14px;
    }
  }
  tbody {
    tr th {
      .mixins-font-1-light;
      font-size: 14px;
    }
    th {
      .mixins-table-tr-font;
    }
  }
}

.lightgray, 
.table-striped tbody > tr:nth-child(odd) > td, 
.table-striped tbody > tr:nth-child(odd) > th {
  .mixins-table-tr-bg;
}

.graydrkbg thead tr, 
thead tr.graydrkbg {
  border-top: none;
  border-bottom: none;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *FORMS within rightpanel
// #
// #
// #
// ########################################################################################################

#rightpanel {
  form {
    strong {
      font-weight: normal;
    }
  }
}
.form-actions {
  border: none;
  margin-top: 10px;
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *PAGINATION within rightpanel
// #
// #
// #
// ########################################################################################################

.pagination ul {
  box-shadow: none;
}

.pagination ul > li > a, 
.pagination ul > li > span {
  border: none;
}

.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
  border-radius:0;
}
 
.pagination ul > .active > a,
.pagination ul > .active > a:hover, 
.pagination ul > .active > span {
  background: #428fd5;
  color: @white;
}
.pagination ul > li > a:hover {
  background: lighten(desaturate(@colorOne, 5%), 38%);
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *FOOTER
// #
// #
// #
// ########################################################################################################

@footerBgColor:               #47a75d;
@footerLinkColor:             @white;
@footerLinkHoverColor:        #CDE0CB;
@footerFontSize:              13px;
@footerMediaIconsColor:       #17772d;
@footerMediaIconsHoverColor:  #228238;
@footerCopyrightsTextColor:   #17772d;

.mixins-footer-bg-color {background: @footerBgColor;}
.mixins-footer-text-color {color: @footerLinkColor;}

#footer{
  .mixins-footer-bg-color;
  .mixins-footer-text-color;
  width: 100%!important;
  font-size: @footerFontSize;
  padding: 30px 0 10px 0;
  img {
    position: relative;
    top: 6px;
  }
  ul {
    list-style-type: none;
    li {
      margin: 10px;
      a {
        color: @white;
        &:hover {
          color: @footerLinkHoverColor;
        }
      }
    }
    &.media-icons { //this is a "twitter", "facebook", "mail" icons
      padding: 0 10px 0 0;
      margin: 0 7px;
      display: inline-block;
      color: @footerMediaIconsColor;
      &:last-child {
        margin-left: 10px;
        margin-right: 0;
      }
      a {
        color: @footerMediaIconsColor;
        .icon-stack {
          .icon-stack-base {
            font-size: 50px;
          }
          .icon-light {
            font-size: 1em;
            padding: 2px 0 5px 8px;
          }
        }
        &:hover {
          color: @footerMediaIconsHoverColor;
        }
      }
    }
    &.footer-links {
      position: relative;
      top: 10px;
    }
  }
  #copyrights {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #3C9C52;
    color: @footerCopyrightsTextColor;
  }
}



// #footer.container ul.nav li a {
//   color: #fff;
// }
// #footer.container ul.nav li a:hover {
//   color: #fff;
//   text-decoration: underline;
// }








// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *DATEPICKER
// #
// #
// #
// ########################################################################################################

.datepicker td.active, 
.datepicker td.active:hover, 
.datepicker td.active:hover:hover, 
.datepicker td.active:active, 
.datepicker td.active:hover:active, 
.datepicker td.active.active, 
.datepicker td.active:hover.active, 
.datepicker td.active.disabled, 
.datepicker td.active:hover.disabled, 
.datepicker td.active[disabled], 
.datepicker td.active:hover[disabled] {
  background-color: #48a95e!important;
  border-radius: 0!important;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *MODAL
// #
// #
// #
// ########################################################################################################

.modal-header {
  background: #fff;
  border-radius: 6px 6px 0 0;
  min-height: 20px;
  border-bottom:1px solid @borderColor;
  h4 {
    font-family: @sansFontFamily-1;
    font-size: 15px;
    font-weight: normal;
  }
  .close {
    margin-top: 0;
  }
}
.modal-footer {
  background: none;
  border-top: none;
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *IFRAME
// #
// #
// #
// ########################################################################################################

#successbox .modal-header {
  background: none;
  border-radius:0;
}

iframe {
  border:0px;
  #successbox {
  .header {
    background: none;
    background-image: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  }
}
  &#success { //"&" means that iframe has #success ---> <iframe id="success">
    .modal-header {
      border-radius: 6px 6px 0 0;
    }
    .modal-body {
      padding:0;
    }
  }
  body {
    background: #fff;
    background-image: none;
  }
}

body.shellmodal-body {
  background: #fff!important;
  .table {
    border: none;
  }
}

#Dental-light_box {
  #title {
    font-family: @sansFontFamily-1;
    font-weight: normal;
    font-size: 17px;
  }
  #info {
    margin: 20px 0 25px 0;
  }
  .premium {
    font-size: 17px;
  }
  .plan {
    margin: 0 10px;
    .border-custom;
  }
  .form-actions {
    background: #fff;
    border: none;
  }
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *JQuery Datepicker
// #
// #
// #
// ########################################################################################################
.ui-widget-header {
  background: #fff;
}


