@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          LOCAL - RESET
// #
// #
// #
// ########################################################################################################

.dropdown-menu,
.tooltip {
  border-radius: 0!important;
}

// this is to remover gradien on hover from dropdown for IE8
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}


#rightpanel .header #myinfo-edit { //used on shop/employee/spplanselection/myinfo page causing extra padding to the button
  padding:0 12px;
}

label, 
label.error{
  text-transform: capitalize;
}
label.checkbox {
  text-transform: none;
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          GENERAL SETUP & MIXINS
// #
// #
// #
// ########################################################################################################

@serifFontFamily-1:     "Roboto Slab", slab-serif, serif;
@sansFontFamily-1:      "Droid Sans", sans-serif;
@sansFontFamily-2:      "Droid Sans", sans-serif;
@iconFont:              "FontAwesome";


@borderColor:           #e9e9e9;
@burgColor:             #7e183f;
@bodyBgColor:           #f4f4f4;
@containerColor:        #fff;
@containerBorderColor:  #fff;
@themeAccentColor:      #d97b00;
@themeAccentColorTwo:   #4a3f36;
@fontColor:             #686666;
@inputsBorderColor:     darken(@borderColor, 10%);
@linksColor:            #d97b00;
@linksHoverColor:       darken(@linksColor, 5%);
@errorFontColor:        #cc5964;
@errorBgColor:          #fff6f6;
@errorColor:            #eec3c7;


@fontSize:              14px;
@fontSizeH1:            @fontSize + 10px;
@fontSizeH2:            @fontSize + 8px;
@fontSizeH3:            @fontSize + 6px;
@fontSizeH4:            @fontSize + 2px;
@fontSizeH5:            @fontSize;
@fontSizeSmall:         @fontSize - 2px;

@lineHeightVar:         @fontSize / 2;
@lineHeight:            @fontSize + @lineHeightVar;

@fontColorH1:           #4e9dd1;

body {
  background:@bodyBgColor;
  font-size: @fontSize!important;
  font-family: @sansFontFamily-2;
}

h1 {
  font-family: @serifFontFamily-1;
  font-size: @fontSizeH1!important;
  line-height: normal;
  font-weight: 300;
  color: @fontColorH1;
  background: transparent;
  & small {
    font-size: @fontSize;
  }
  img {
    margin-right: 15px;
    width: 130px;
    height: 100px;
  }
  a.btn {
    font-family: @sansFontFamily-1;
  }
}

.titleForPages {
    margin-left: -240px;
    margin-bottom: 20px;
}

h2 {
  font-family: @serifFontFamily-1;
  font-size: @fontSizeH2;
  line-height: 20px;
}


h3 {
  font-family: @serifFontFamily-1;
  font-weight: normal;
  font-size: @fontSizeH3;
}
h4 {
  &.trigger {
    cursor: pointer;
  }
}
h5 {
  font-size: @fontSizeH5;
}
a {
  color:@linksColor;
  &:hover {
    color: @linksHoverColor;
    text-decoration: none;
  }
  &.breadcrumb-nav {
    font-size: @fontSize;
    text-transform: lowercase;
    margin: 0 10px 0 5px;
    &:before {
      content: "\f104";
      font-family: @iconFont;
      font-size: @fontSizeSmall;
      margin-right: 5px;
    }
  }
  .caret {
    border-top-color: inherit;
  }
}

label {
  margin-bottom: 0;
  font-size: @fontSize;
}

legend {
  font-size:  @fontSize;
  color: @fontColor;
  font-weight: bold;
}

select,
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] 
.uneditable-input {
  border: 1px solid @inputsBorderColor;
  box-shadow: none;
  font-size: @fontSize;
  .border-radius;
}


// ############## *ID ################## 
#container-wrap {
    .container {
        margin-top: 18px!important;
    }
}

#summary_table {
    h4 {
        a[rel="tooltip"] {
            color: inherit;
        }
    }
    #totalAptc {
      color: @fontColor;
    } 
}

#upload_files_container {
  text-indent: 16px;
}


// ############## *CLASSES ################## 

.alert {
  margin-top:0;
  .border-radius;
}
.accordion-group {
  .border-custom;
}

.accordion-inner {
  .border-custom;
  border-right:none;
  border-bottom:none;
  border-left:none;
}
.border-radius (@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;
}
.bgBox {
  border-radius: 0!important;
  //background: #b3c4db url('../img/NM-BG.png') repeat top left!important;
}
.box-loose {
  border-radius: 0!important;
  border: 1px solid @borderColor;
}
.border-custom {
  border: 1px solid @borderColor;
}
.border-none {
  border: none;
}
.capitalize-none {
  text-transform: none!important;
}
.custom-file-input {
    color: #7a7a7a;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
//upload file custom styles
.custom-file-input::before {
    content: 'Select';
    color: #7a7a7a;
    .inline-block;
    background: #f1f1f1;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 0 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    line-height: 24px;
    font-size: @fontSize - 4px;
    margin: 1px 20px 1px 0;
}
.custom-file-input:hover::before {
    border-color: #dedede;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(#f9f9f9));
  background: -webkit-linear-gradient(#e3e3e3, #f9f9f9);
  background: -moz-linear-gradient(#e3e3e3, #f9f9f9);
  background: -o-linear-gradient(#e3e3e3, #f9f9f9);
  background: linear-gradient(#e3e3e3, #f9f9f9); 
}
//upload file custom styles ends
.element-center {
  display: block;
  margin: 0 auto;
}
.eligibility-well {
  background: @white;
  box-shadow: none;
  border-radius: 0;
  border-top: 2px solid @themeAccentColor;
}
.inline-block {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.line {
  .border-custom;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.margin5-t {
  margin-top: 5px;
}
.margin5-r {
  margin-right: 5px;
}
.margin5-b {
  margin-bottom: 5px;
}
.margin5-l {
  margin-left: 5px;
}
.plans-container {
  .border-custom;
  border-top:none;
  border-bottom: none;
}
.remove-field {
    color: @linkColor;
    cursor: pointer;
    .inline-block;
  }
.small {
  //font-family: @sansFontFamily-2;
  font-size: @fontSizeSmall;
}
p.small {
  font-size:@fontSizeSmall;
}
.totalTable {
  border-right: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;
  border-left: 1px solid @borderColor;
}
.thumbnail {
  .border-custom;
}
.well-custom {
  background: transparent;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  border: none;
}
.width100 {
  width: 100px;
}
.width200 {
  width: 200px;
}
.width300 {
  width: 300px;
}
.width400 {
  width: 400px;
}
.width500 {
  width: 500px;
}
.width600 {
  width: 600px;
}
.width700 {
  width: 700px;
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *ICONS
// #
// #
// #
// ########################################################################################################

@iconColor: #4E9DD2;
.mixins-icons-color {color: @iconColor;}

a [class^="icon-"],
a [class*="icon-"] {
  text-decoration: none;
  font-size: @fontSize;
  padding:3px;
  color: @linksColor;
}
.active a .icon-ok {color: @iconColor;}
.icon-question-sign {color: @iconColor;}
.icon-cog {color: @iconColor;}
.icon-share-alt, //Both icons located on the /broker/dashboard page, under Quick Links. Anywhere else??
.icon-user {color: @themeAccentColor!important;}
.icon-eye-open {color: @iconColor}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HEADERS
// #
// #
// #
// ########################################################################################################

@titleBarBorderColor:       @borderColor;
@mainHeaderBgColor:         #efefef;
@mainHeaderFontColor:       #565A5E;

.mixins-header-font-size {font-size: @fontSize;}
.mixins-header {
  font-family: @serifFontFamily-1; 
  font-weight: normal!important;
}

// This is a horizontal line located under main page header (example would be line under "login")
#titlebar, 
#main.titlebar,
.titlebar {
  border-bottom: 1px solid @borderColor;
  width:100%;
  margin-bottom: 20px;
}

//This is a header box styling. 
#sidebar h4,  
#sidebar .header,
#sidebar .header h4,
#sidebar .accordion-heading a, //this is located in SHOP 
.header,
.graydrkbg,
.table th{
  .mixins-header;
  .mixins-header-font-size;
  min-height: 20px;
  color: @mainHeaderFontColor!important;
  //background: #b3c4db url('../img/NM-header-BG.png') repeat top left!important;
  background: @mainHeaderBgColor;
  i {
    color: @mainHeaderFontColor;
    &.caret {
      border-top-color: @mainHeaderFontColor;
    }
  }
}

#rightpanel {
    h4 { //this is header located in the rightpanel
        padding:10px;
        border-top: 1px solid @borderColor;
        background: @mainHeaderBgColor;
        color: @mainHeaderFontColor;
        .mixins-header;
        .mixins-header-font-size;
        a.btn {
            font-family: @sansFontFamily-2; 
        }      
    }
    a.btn {
        margin: 0 5px;
    }
    div.header a.btn,
    div.header input[type="submit"],
    button.btn.btn-small { //this maddness located on shop/spplanselection/editmyinfo
        margin: 10px 5px;
        .mixins-button-font;
    }
    .graydrkaction, 
    .graylightaction, 
    .header {  
        //height:40px; //This specific height is used when inside the <div class="header"> present <h4> + <a class="btn">. Testing needed tho....
        background: @mainHeaderBgColor!important;
        h4 {
            background: none;
            border-top: none;
            color:@mainHeaderFontColor;
        }
        a.btn {
            .mixins-secondary-btn-bg;
        }
        a.btn-primary {
            .mixins-primary-btn-bg;
        }
    }
}






// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *MASTHEAD
// #          Theme colors, mixins located below.
// #
// #
// ########################################################################################################

@mastheadBgColor:       #629fc7;
@mastheadBorderColor:   #d97b00;

.mixins-masthead-gradient (@startColor: @mastheadBgColor, @endColor: @mastheadBgColor) {
  background-color: @startColor;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(@startColor, @endColor);
  background: -moz-linear-gradient(@startColor, @endColor);
  background: -o-linear-gradient(@startColor, @endColor);
  background: linear-gradient(@startColor, @endColor);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#629fc6', EndColorStr='#70b5e1');
}
.mixin-masthead-text-shadow (@string: 1px -1px 0px fade(darken(@mastheadBgColor,10%), 90%)) {
    text-shadow: @string;
}
.mixin-masthead-box-shadow (@string: -1px 1px 0px fade(darken(@mastheadBgColor,10%), 90%)) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}
#masthead {  
//This is used to overwrite ghixcustom.css - could it be removed from there?
  &.navbar {
    border-bottom: none!important;
  }
//This is Logo Area
  .brand { 
    position:absolute;
    top:-3px;
    left:45px;
    padding:13px 10px 8px 10px;
    max-width: none;
  }
//This is a Masthead area itself: background with border 
  .navbar-inner { 
    background: @mastheadBgColor;
    border-bottom: 5px solid @mastheadBorderColor;
  }
//This is a Masthead menu (Login/Logout, Inbox, My Account etc.)
  .nav {
    li {
      //This is the top level menu link container
      &.dropdown.open > .dropdown-toggle {
        background: none;
        text-shadow: none;
        box-shadow: none;
      }
       //This is the top level menu link itself(Inbox/My Account, etc)
      a,
      a [class^="icon-"],
      a [class*="icon-"] {
        color: @white;
      }
      .icon-home {
        font-size: @fontSizeH1!important;
        position:relative;
        top: -4px;
      }
    }
    #masthead-inbox {
        a { 
            color: transparent; //this is to hide the 'Inbox' word
            font-size: 0;
            padding: 6px 10px!important;
            position: relative;
            top: 4px;
            i.icon-envelope { //this is the envelope 
                position: relative;
                font-size: @fontSizeH3;
                &:after { //this is the lock
                    content: "\f023";
                    font-family: @iconFont;
                    color: @white;
                    font-size: @fontSize;
                    position: absolute;
                    bottom: -3px;
                    left: -2px;
                    .mixin-masthead-text-shadow;
                }
            }
            .unreadRecords { //this is unread emails count number
                @bubbleDimensions: 18px;
                color: @white;
                font-family: @serifFontFamily-1; 
                font-size: @fontSizeSmall;
                background: @themeAccentColor;
                width: @bubbleDimensions;
                height: @bubbleDimensions;
                text-align: center;
                border-radius: @bubbleDimensions / 2;
                line-height: @bubbleDimensions;
                position: absolute;
                top: -2px;
                right: 0px;
                .inline-block;
                .mixin-masthead-box-shadow;
            }
        }
    }
    .dropdown-toggle {
      //This is the carot loacted next to the main link in it hover and original states
      &:hover {
        .caret {
          border-bottom-color: @white;
          border-top-color: @white;
        }
      }
      .caret {
        border-bottom-color: @white;
        border-top-color: @white;
        margin-top: 8px;
      }
    }
    .dropdown-menu {
      //This is the dropdown menu link container
      border-radius: 0;
      //This is the dropdown link itself(Help Center, Phone Number, etc.)
      li a {
        color: @linksColor;
        &:hover,
        &:focus {
          background: none;
        }
      }
    }
  }
}

//.dropdown-submenu:hover > a - what is it? find the right place for it




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          HELPBAR -  located right below the masthead with general help links (find agent, ? , ...) - currently disabled for NM theme, commented out to keep css clean.
// #                     Please uncomment if required.
// #
// #
// ########################################################################################################

//#navhelp {
//  h2 {
//    border-bottom: 1px solid fade(@white, 75%);
//  }
//  .nav {
//    li {
//      .help-panel {
//        background-color:@blueDark;
//        padding:10px 15px 15px 15px;
//        &:after {
//          border-bottom: 6px solid @blueDark;
//        }
//        h3 {
//          a {
//            color: @white;
//          }
//        }
//        a {
//          color: fade(@white, 85%);
//          &:hover {
//            color:@white;
//          }
//        }
//      }
//    }
//  }
//  .dropdown-submenu {
//    &:hover {
//      a {
//        background-color: @blue;
//      }
//    }
//  }
//}

//.help-shortcut:hover > span.help-icon,
//.help-shortcut:active > span.help-icon,
//.help-shortcut:focus > span.help-icon {
//  color: @white;
//}

//affects masthead
//.dropdown-menu li > a:hover, 
//.dropdown-menu li > a:focus, 
//.dropdown-submenu:hover > a {
//  color: @colorThree;
//  background: none;
//}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #      *NAVBAR - located on the top of each page, right above #sidebar and #righpanel (HOME/EMPLOYERS/MY INFO : example of the content)
// #
// #
// #
// ######################################################################################################## 

@navbarBgColor:       #63a1c8;
@navbarBorderColor:   darken(@navbarBgColor, 5%);

@navigationOne:       #629fc6; //blue  
@navigationTwo:       #70b5e1; //blue darker 
@navigationBorder:    #4a85a8; //blue darker +

.mixins-nav-bar-gradient (@startColor: @navigationOne, @endColor: @navigationTwo) {
  background-color: @startColor;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(@startColor, @endColor);
  background: -moz-linear-gradient(@startColor, @endColor);
  background: -o-linear-gradient(@startColor, @endColor);
  background: linear-gradient(@startColor, @endColor);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#629fc6', EndColorStr='#70b5e1');
}
.mixins-nav-bar-border {border: 1px solid @navigationBorder;} 

#menu { //same id used for the "HOMEPAGE" - menu nav
  margin-bottom: 0;
  margin-top: 16px;
  .navbar-inner { //This is nav bar box - bg color, font color and family...
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    border: 1px solid @navbarBorderColor;
    background: @navbarBgColor;
    .nav {
      li a {
        color: @white;
        text-shadow: none;
        padding: 10px 14px;
      }
      li a i.caret {
        border-top-color: @white;
        border-bottom-color: @white;
      }
      li.active a{ // This is a active links
        box-shadow: none;
        background: none;
        color: #3d3d3d!important;
      }
      li.active a i.caret{ //This is a active link carots
        border-top-color: #3d3d3d;
        border-bottom-color: #3d3d3d;
      }
      li.open a{ // This is a hover/open links
        background: none!important;
        color: @fontColor
      }
      li.open a i.caret { //This is a hover/open link caret
        border-top-color: @fontColor;
        border-bottom-color: @fontColor;
      }
      .dropdown-menu { //This is dropdown down menu when you click on the link/caret
        border-radius: 0;
        padding: 0;
        a {
          padding: 8px 20px;
          color: @linksColor;
          border-bottom: @borderColor;
          &:hover {
            background: transparent;
            color: @linksHoverColor;
          }
        }
      }
    }
  }
  //Styles below is being applied to the dropdown menu links, 
  .navbar .nav li.dropdown.open > .dropdown-toggle, 
  .navbar .nav li.dropdown.active > .dropdown-toggle, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open > .dropdown-toggle a, 
  .navbar .nav li.dropdown.active > .dropdown-toggle a,
  .navbar .nav li.dropdown.active > .dropdown-toggle a i.caret, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle a, {
    background: none!important;
    text-shadow: none!important;
    color: orange!important;
  }
  a[title="Home"],
  #menu a[title="Issuer Home"] {
    font-size: 0;
    color: transparent;
    position: relative;
    margin-right: 10px;
    &:after {
      content: "\f015";
      font-family: @iconFont;
      font-size: @fontSize;
      color: inherit;
      position: absolute;
    }
  }
}



.header-reset {
  padding-top: 7px;
  border-left: none;
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *TOPNAV  - Located on the individual flow (prefereces.jsp for example), SHOP
// #
// #
// #
// ########################################################################################################

@topnavBgColor:         #CEDDE7;
@topnavLinksColor:      darken(#A2C2CE, 15%);
@topnavActiveBgColor:   #A2C2CE;
@topnavActiveLinksColor: @white;

.topnav {
    background: @topnavBgColor;
    border-top: 10px solid @containerColor;
    border-right: 10px solid @containerColor;
    a[rel~="tooltip"] {
        color: @topnavLinksColor!important;
    }
    ul {
        width: 100%;
        display: table;
        li {
            position: relative; 
            padding: 0px;
            width: 20%;
            text-align: center;
            display: table-cell;
            &.active {
                background: @topnavActiveBgColor;
                a {
                    color: @topnavActiveLinksColor!important;
                    &:after {
                        border-left: 20px solid @topnavActiveBgColor;
                    }
                }
            }
            a {
                display: block;
                font-size: @fontSize;
                padding: 10px 0;
                cursor: text;
                &:before {
                    border-bottom: 30px solid rgba(0, 0, 0, 0);
                    border-left: 30px solid #FFFFFF;
                    border-top: 30px solid rgba(0, 0, 0, 0);
                    content: " ";
                    display: block;
                    height: 0;
                    left: 100%;
                    margin-left: 0;
                    margin-top: -30px;
                    position: absolute;
                    top: 50%;
                    width: 0;
                    z-index: 1;
                }
                &:after {
                    border-bottom: 20px solid rgba(0, 0, 0, 0);
                    border-left: 20px solid @topnavBgColor;
                    border-top: 20px solid rgba(0, 0, 0, 0);
                    content: " ";
                    display: block;
                    height: 0;
                    left: 100%;
                    margin-top: -20px;
                    overflow: hidden;
                    position: absolute;
                    top: 50%;
                    width: 0;
                    z-index: 2;
                }
                &:hover {
                  color: inherit;
                }
                &.last{
                    &:before,
                    &:after {
                        border: 0!important;
                    }
                }
            }
        }
    }
}

.top-nav.stuck {
    top: 40px!important;
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          BREADCRUMBS  - Currently disabled! Styles are commented out to keep main css clean.
// #
// #
// #
// ########################################################################################################

#breadcrumbs,
.breadcrumb, 
.page-breadcrumb {
  display: none;
}

//.page-breadcrumb {
//  position:relative;
//  top:-10px;
//  li {
//    font-size: 11px;
//  }
//}

//#breadcrumbs .nav-pills {
//  border: 1px solid lighten(desaturate(@colorThree, 60%), 42%);
//  border-top:none;
//  border-right:none;
//  border-left:none;
//  margin-bottom:0;
//}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *BUTTONS
// #
// #
// #
// ########################################################################################################

.mixins-button-font-size {font-size: @fontSize;}
.mixins-button-font {font-family: @sansFontFamily-1!important;}


@primaryBtnBgColor: #d37100;
@primaryBtnBorderColor: #d37100;
@primaryBtnBgHoverColor: darken(@primaryBtnBgColor, 7%);

@secondaryBtnBgColor: #F1EFEB;
@secondaryBtnBorderColor: darken(@secondaryBtnBgColor, 7%);
@secondaryBtnFontColor: @fontColor;
@secondaryBtnFontHoverColor: @fontColor;


.mixins-primary-btn-font-color {color: @white;}
.mixins-primary-btn-bg {
  background: @primaryBtnBgColor;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
}
.mixins-primary-btn-bg-hover {background: @primaryBtnBgHoverColor;}
.mixins-primary-btn-border {border: 1px solid @primaryBtnBorderColor;}

.mixins-primary-btn-active-bg {background: #d37100;}
.mixins-primary-btn-active-font-color {color: #fff;}
.mixins-primary-btn-active-border {border: 1px solid #d37100;}

.mixins-secondary-btn-border {border: 1px solid @secondaryBtnBorderColor;}
.mixins-secondary-btn-bg {
  background: @secondaryBtnBgColor;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
}
.mixins-secondary-btn-bg-hover {background: @secondaryBtnBgColor;}
.mixins-secondary-btn-font-color {color: @secondaryBtnFontColor;}



.btn {
  border-radius: 2px;
  .mixins-secondary-btn-border;
  .mixins-secondary-btn-bg;
  .mixins-secondary-btn-font-color; 
  &:hover,
  &:focus {
    background: @secondaryBtnBgColor;
    color: @secondaryBtnFontHoverColor;
    border-color: darken(@secondaryBtnBorderColor, 5%);
  }
}

.btn-primary{
  .mixins-primary-btn-font-color;
  .mixins-primary-btn-bg;
  .mixins-primary-btn-border;
  &:hover,
  &:focus { //"&" means ---> .btn-primary:hover, .btn-primary:hover
    .mixins-primary-btn-bg-hover;
    .mixins-primary-btn-border;
    color: @white;
  }
  i.caret,
  i.icon-cog,
  i.icon-caret-right {
    color: @white;
  }
  &#prevBtn { //located in ssap flow
        background: @secondaryBtnBgColor;
        border-color: @secondaryBtnBorderColor;
        color: @fontColor;
  }
}

a.btn [class^="icon-"],
a.btn [class*="icon-"] {
    .mixins-secondary-btn-font-color;
}

a.btn.active {
  .mixins-primary-btn-active-bg;
  .mixins-primary-btn-active-border;
  box-shadow: none;
}

.header .btn {
  .mixins-button-font;
  font-weight: normal;
}

.plan .btn {
  padding: 4px 7px;
  .mixins-button-font-size;
}

.btn-custom {
  padding: 5px 14px;
  margin-top:10px;
  min-width: 4px;
  .border-custom;
  .border-radius;
  .mixins-primary-btn-bg;
  .inline-block;
}

a.btn-danger,
a.btn-mini.btn-primary {
  [class^="icon-"], a [class*="icon-"] {
    color: @white;
    &:hover {
      color: inherit;
    }
  }
  &:hover {
    color: @white;
  }
}

.input-append .btn:last-child {
    .border-radius;
    border-color: @borderColor;
}

.Cancel_button1 {
    .btn-primary {
        background: @secondaryBtnBgColor;
    }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *SIDEBAR
// #
// #
// #
// ########################################################################################################

@sidebarActiveBgColor:  #CEDDE7;
.mixins-sidebar-font-color {color: @fontColor!important;}
.mixins-sidebar-font-size {font-size: @fontSize;}


// This is a sidebar menu
#sidebar {
  .nav-list {
    li {
      background: @white!important;
      .border-custom;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 10px;
      .mixins-sidebar-font-color;
      .mixins-sidebar-font-size;
      &:hover { //"&" means ---> li:hover
        text-decoration: none;
      }
      a {
        .mixins-sidebar-font-color;
        i.icon-cog {
          color: @linksColor;
        }
      }
      a:hover {
        background: @white!important;
      }
    }
    .active {
      background: @sidebarActiveBgColor!important;
      margin-left: 0;
      font-weight: normal;
      border-right: 5px solid @fontColorH1;
      border-bottom: none;
      border-left: none;
      .mixins-sidebar-font-color;
      .mixins-sidebar-font-size;
      a, a:hover {
        font-weight: normal;
        text-shadow: none;
        background: transparent!important;
        .mixins-sidebar-font-color;
        .mixins-sidebar-font-size;
        i.icon-cog {
          color: @linksColor!important;
        }
      }
    }
  }
  #list-2 {
    margin-top: 20px;
  }
  .box-tight { //to overwrite in ghixcustom.css
    border-radius: 0!important;
    border-color: #ebedef!important;
  }
  .header { //this added in order for the .header withouth the h4 tag to be the same height, with text in the middle.
    min-height: 40px;
    line-height: 40px;
  }
  form { //located here: /hix/admin/manageissuer
    border: 1px solid #ebedef;
    border-top: none;
    legend {
      margin-bottom: 0;
    }
  } 
  #frmSecureInbox {
    border: none;
  }
}



table#brokerStatusHistory {
  .border-custom;
}


//.graybg {
//  .background-custom;
//}





input[type="radio"] {
  margin: 0 5px 0 0;
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *RIGHTPANEL
// #
// #
// #
// ########################################################################################################

#rightpanel {
  .contactDetails {
    border-top: 1px dotted @borderColor;
    padding-top: 20px;
    input[type="file"] + a {
      display: block;
      width: 150px;
      margin: 10px 0 0 0;
    }
    textarea {
      width: 90%;
    }
    button {
      .inline-block;
      margin: 14px 0 0 0;
      &:nth-of-type(1) {
        margin-right: 5px;
      }
    }
  }
  .table td h4 { //This styling is applied to agents names located in the table td.....
    background: none;
    border-top: none;
    padding: 0;
    font-size: @fontSizeH3!important;
  }
  .light{
    opacity: 1!important;
  }
  .accordion-header {
    background: @mainHeaderBgColor;
  }
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HOMEPAGE - NEW
// #
// #
// #
// ########################################################################################################

@homepageRegisterGroupBG:       #EFEFEF;
@homepageRegisterGroupHoverBG:  #F3F3F3;
@homepageActionButtonBG:        @primaryBtnBgColor;
@homepageActionButtonHoverBG:   @primaryBtnBgHoverColor;
@homepageActionButttonBorder:   @primaryBtnBorderColor;



.landing-signup{
  padding:40px 70px 70px;
    h1 {
        padding-bottom:15px;
    }
}

.register-group{
    background: @homepageRegisterGroupBG;
    border:1px solid @borderColor;
    padding:10px 20px;
    margin-bottom:15px;
    position:relative;
    &:hover {
        background: @homepageRegisterGroupHoverBG;
        transition: background-color 0.2s ease;
    }
    p{
        position: absolute;
        top: 41px;
        left: 22%;
        width: 60%;
        font-family: @serifFontFamily-1;
        margin-bottom: 0;
        color: lighten(@fontColor, 15%);
        span{
            color: darken(@fontColor, 15%);
        }
    }
    .btn{
        margin-top: 12px;
        background: @homepageActionButtonBG;
        padding: 20px;
        &:hover {
            background: @homepageActionButtonHoverBG;
        }
        i {
            color: @white;
        }
    }
}

.icons-agent,
.icons-employer,
.icons-family,
.icons-entity{
    background-image:url(../img/sprite-nm-landing-icons.png);
    display:inline-block;
}
.icons-agent{
    background-position: -170.99306869506836px 0;
    width: 82px;
    height: 82px;
}
.icons-employer{
    background-position: -85.98958969116211px 0;
    width: 82px;
    height: 82px;
}
.icons-family{
    background-position: -2.982646942138672px 0;
    width: 82px;
    height: 82px;
}
.icons-entity{
    background-position: -257.99306869506836px 0;
    width: 82px;
    height: 82px;
}


.register-signin{
    border:1px solid @borderColor;
    background: @homepageRegisterGroupBG;
    p{
        padding:10px;
        background: @homepageRegisterGroupBG;
        text-align: center;
        margin-bottom: 0;
        font-family: @serifFontFamily-1;
    }
    i {
        color: lighten(@fontColor, 20%);
        margin-right:3px;
    }
    a {
        display:block;
    }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HOMEPAGE - DEPRICATED - to be removed
// #
// #
// #
// ########################################################################################################
@sliderMenuItemBackground : @mainHeaderBgColor;
@sliderMenuItemBorderColor: @borderColor;
@sliderMenuItemActiveBackground:#7799c6;
@sliderMenuItemTextColor: @fontColor;
@sliderMenuItemActiveTextColor: #fff;
.mixin-HomePage-font-size {font-size: @fontSize;}


#gallery {
    .hero-unit {
        padding: 20px 0;
        background: @white;
        box-shadow: none;
        border-radius: 0;
        width: 90%;
        margin-left: 4.7%;
        border-bottom: 1px solid @borderColor;
        padding-bottom: 0;
        height: 365px;
        position: relative;
        h2 {
            color: @fontColor;
            font-family: @serifFontFamily-1;
            font-size: @fontSizeH1;
            font-weight: 400;
            margin-left: 0;
        }
        p {
            margin-top: 16px;
            margin-bottom: 26px;
            line-height: 21px;
            .inline-block;
            width: 300px;
            .mixin-HomePage-font-size;
        }
        img {
            position: absolute;
            bottom: 0px;
            right: 0;
            z-index: 0;
        }
        div {
            position: absolute;
            z-index: 10;
        }
    } 
}
 

#slides{
  // this is a slideshow header element located on the home page 
  .slide {
    height: 459px;
    border: 1px solid @borderColor;
    background: @white;
    h2{ 
        color: @fontColor;
        font-family: @sansFontFamily-1;
        font-size: @fontSizeH4;
        line-height: 24px;
        font-weight: 700;
        //text-transform: capitalize;
        text-align: left;
        margin-top: 26px;
    }
    img {
        //display: none;
    }
    .left {
        p {
          line-height: 21px;
          .mixin-HomePage-font-size;
        }
        .btn-primary {
            top: 194px!important;
        }
    }
    #menu { //same id used for the "navbar", so be careful!
    margin-top: 0;
      ul{
        background: @sliderMenuItemBackground!important;
        border:1px solid @mainHeaderBgColor!important;
        border-bottom: 1px solid @themeAccentColor!important;
        background-image: none;
        height: 40px!important;
        text-align: left!important;
      }
      li{
        overflow: visible;
        padding: 15px 0 !important;
        text-transform: capitalize!important;
        &.act a {
          border: 0;
          background: @sliderMenuItemActiveBackground;
          padding:15px 20px;
          color: @themeAccentColor;
          //border-radius: 5px;
        }
        a{
          color:@mainHeaderFontColor;
          font-family: @serifFontFamily-1;
          line-height: 40px;
          font-size: @fontSizeH3;
        }
      }
    }
  }
}

.home-page {
}


.container #menu ul li.act a {
  /**/
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PLANSELECTION: specific styles for PS goes in here
// #
// #
// #
// ########################################################################################################

.mixins-PS-insert-box-shadow {
  box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  -webkit-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  -moz-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
}

#planSelect {
  #titlebar:after{
    border-bottom: none;
    position:static;
    width: auto;
  }
    .scroll-left-arrow,
    .scroll-right-arrow {
      background: transparent;
      &:hover { //"&" means ---> #planSelect:hover
        background: transparent;
      }
    }
    .icon-arrow-left,
    .icon-arrow-right {
      //color: @white; //commented out due hix-17966
      opacity: 1!important;
    }
  }

.plan a.addtofav.addedToFav {
  background: @colorTwo;
  color: @white;
  .mixins-PS-insert-box-shadow;
}

.intro-indiv h4, 
#titlebar h3,
h3#titlebar 
{
  color: #7e183f!important; //to overite ghixcustom.css
}


.plans-section-header h3 {
  .border-custom;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: lighten(desaturate(@colorThree, 40%), 50%);
  margin:0;
  padding-left:15px;
  color: darken(@colorThreeDark, 5%)!important;
  font-size: @fontSize;
} 

  @-webkit-keyframes go {
  from { background-color: @primaryBtnBgColor; -webkit-box-shadow: 0 0 3px @primaryBtnBorderColor; }
  50% { background-color: lighten(@primaryBtnBgColor, 5%); -webkit-box-shadow: 0 0 6px lighten(@primaryBtnBorderColor, 5%); }
  to { background-color: @primaryBtnBgColor; -webkit-box-shadow: 0 0 3px @primaryBtnBorderColor; }
} 

  @-moz-keyframes go {
  from { background-color: @primaryBtnBgColor; -moz-box-shadow: 0 0 3px @primaryBtnBorderColor; }
  50% { background-color: lighten(@primaryBtnBgColor, 5%); -moz-box-shadow: 0 0 4px lighten(@primaryBtnBorderColor, 5%); }
  to { background-color: @primaryBtnBgColor; -moz-box-shadow: 0 0 3px @primaryBtnBorderColor; }
}

  @-o-keyframes go {
  from { background-color: @primaryBtnBgColor; -o-box-shadow: 0 0 3px @primaryBtnBorderColor; }
  50% { background-color: lighten(@primaryBtnBgColor, 5%); -o-box-shadow: 0 0 6px lighten(@primaryBtnBorderColor, 5%); }
  to { background-color: @primaryBtnBgColor; -o-box-shadow: 0 0 3px @primaryBtnBorderColor; }
} 

.tile {
    &.compared-selected,
    &.selected {
        border: 1px solid @primaryBtnBgColor;
        &:hover {
            border: 1px solid lighten(@primaryBtnBgColor, 7%);
        }
    }
    &:hover {
      border: 1px solid lighten(@primaryBtnBgColor, 7%);
    }
    .table {
        th {
            font-size: @fontSize;
            a {
                color: @linksColor!important;
                font-family: @sansFontFamily-2!important;
            }
        }
        tr {
          height: 30px;
          a {
            border-bottom: 1px dotted darken(@borderColor,10%);
          }
        }
    }
  .plan-options {
    .table {
      .th {
        a {
          font-family: @sansFontFamily-1!important;
        }
      }
    }
  }
  .plan-actions {
        a {
            &.addToCart,
            &.addToCompare {
                &:hover {
                    background: @white!important;
                    color: @fontColor!important;
                }
            }
            &.addToCart.addedItem.select {
                &:hover {
                    background: lighten(@primaryBtnBgColor, 5%);
                    color: @white!important;
                }
            }
            &.comparePlans.compareNow.addtofav.addedToFav {
                background: @primaryBtnBgColor;
                //color: @primaryBtnColor;
            }
            &.addToCart.addedItem.select {
                background: @primaryBtnBgColor!important;
            }
            &.btn-small {
                font-size: 10px!important;
                color: @linksColor!important;
                width: 94px!important;
                border-radius: 0!important;
                background: @white;
                &:hover {
                    color: @linksHoverColor;
                }
                &.comparePlans.compareNow.addtofav.addedToFav {
                    color: @white!important;
                }
            }
        }
        label {
            &.addToCompareLbl.btn {
                background: @white;
            }
        }
    }
}


#myTab {
    li {
        margin: 0 2px;
    }
}

.dental {
    a[rel="tooltip"] {
        border-bottom: 1px dotted;
    }
    .cart {
        h3 {
            margin-top: 0!important; //to overwrite ghixcustom.css
        }
    }
}

.dental {}
.monthly-price a {
    font-size: @fontSizeSmall;
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PREFERENCES 
// #        *PROGRESSBARWRAP  !important used to overwrite tiles.css - sorry =(
// #
// ########################################################################################################

@preferencesProgressBarBg:       #e7e7e7;
@preferencesProgressBarActiveBG:    #b8b8b8;


#myPereferences {
    .item {
        margin-top: 10px;
        .controls {
            margin: 6px 0;
        }   
    }
    .button-controls {
        padding-top: 10px; 
        clear: both;
        border-top: 1px solid @borderColor;
    }
}

#progressbarwrap{
      top:64px;
      background:@preferencesProgressBarBg!important;
      .progressbar{
        li{
          font-size:@fontSize!important;
          padding:11px 10px;
          font-weight:300;
          &.active{
            background-color:@preferencesProgressBarActiveBG!important;
            a{
              color:@white!important;
            }
          }
          a{
            color:@preferencesProgressBarActiveBG!important;
          }
        }
      }
      + div{
        padding-top:24px!important;
      }
   }

#preferencesForm{
    .span9 {
        //padding-top: 0;
        //padding-left: 0;
    }
}

 #myPereferences{
    .carousel-inner{
      .item{
        h4 {
          color: @mainHeaderFontColor;
        }
        a[rel~="tooltip"]{
          color: @linksColor;
          border-color: @linksColor;
        }
      }
    }
 }

.sticky-wrapper {
  h1 {
    font-family: @serifFontFamily-1!important;
    font-size: @fontSizeH2 !important;
  }
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PLANDISPLAY: 
// #
// #
// ########################################################################################################

.plans-section-content {
  .label-info {
    font-size: @fontSize;
    font-family: @sansFontFamily-1;
    font-weight: normal !important;
    background: @errorBackground;
    color: @errorText;
    border: @errorBorder;
    .border-radius;
  }
  h3 {
    text-transform: none;
  }
  .plan {
    overflow-y: hidden;
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PLANDISPLAY/BENCHMARKPLAN & TIERDETAILS: 
// #        styles for plandisplay pages located in shopstyles.css
// #
// ########################################################################################################

@planDisplayHeaderBgColor: #e2dfd7;
@planDisplayHeaderFontColor: #4f4f4f;
@planDisplayHeaderNavIconsColor: #1d73b6; 

#benchmark,
#tierdetails {
    #titlebar {
        background: @planDisplayHeaderBgColor;
        h3 {
            color: @planDisplayHeaderFontColor;
        }
        span#sort {
            float: right;
        }
    }
    .scroll-right-arrow-wrapper,
    .scroll-left-arrow-wrapper {
        height: 112px;
        background: @planDisplayHeaderBgColor;
        .scroll-left-arrow,
        .scroll-right-arrow {
            background: none;
            &:hover {
                background: inherit;
            }
            h1 {
                color: @planDisplayHeaderNavIconsColor;
                i {
                    color: inherit;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

#tierdetails {
    #titlebar {
      margin-bottom: 0;
    }
    .plans-section {
        border-left: 1px solid @borderColor;
        table.planNameWrap {
          td.planName {
            text-align: center!important;
          }
        }
    }
}

#plansbar,
#benchmark,
#tierdetails {
  #pagination {
    li {
      &.active {
        a {
          color: @linksColor!important;
        }
      }
      a {
        &:hover {
          color: @linksHoverColor!important;
        }
      }
    }
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *SHOP: 
// #
// #
// ########################################################################################################

.enrollmentPeriodDate { //!important used to overwrite ghixcustom.css - will need to remove....
  border-radius: 0!important;
  &:hover {
    border-color: @borderColor!important;
    background-image: none!important;
    background: #f7f7f7;
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *SHOP *BUBBLE-NAV:
// #         
// #
// #
// ########################################################################################################

@bubbleNavShopBorderColor: #e2dfd7;
@bubbleNavShopActiveBg: #e2dfd7;
@bubbleNavShopActiveFontColor: @fontColor;

.bubble-nav-shop {
  margin-top: 40px;
  .alert {
    margin-top: 10px;
  }
  .nav {
    margin-bottom: 0px;
    border-bottom: none;
    border-bottom: 4px solid @bubbleNavShopBorderColor;
    li {
      &:first-child {
        margin-left: 2%;
      }
    }
    a {
      padding: 8px 40px;
      border-color: @borderColor;
      border-bottom: 1px solid @borderColor;
      margin: 0 2px;
      font-family: @serifFontFamily-1;
      font-size: 16px;
      &:hover {
        border-bottom-color: none;
        background: darken(#fff, 2%);
      }
    }
    .active {
      a {
        border-color: @bubbleNavShopBorderColor;
        border-bottom: 1px solid @bubbleNavShopActiveBg;
        background: @bubbleNavShopActiveBg;
        color: @bubbleNavShopActiveFontColor;
        &:hover {
          border: 1px solid darken(@bubbleNavShopBorderColor, 5%);
          border-bottom: 1px solid @bubbleNavShopBorderColor;
        }
      }
    }
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *SHOP *Employer Renewal:
// #         
// #
// #
// ########################################################################################################

.horizontalSliderWrapper {
    overflow-y: hidden;
    overflow-x: scroll;
    width: auto;
    margin: 0 auto;
    padding-top: 40px;
    .horizontalSlider {
        width: inherit;
        text-align: center;
    }
}
.lowestPricePlan,
.highestPricePlan {
    font-size: @fontSizeSmall;
    width: 80px;
    .inline-block;
}
.loadingImg {
    img {
        width: 44px;
    }
}

#collapseFive {
    position: relative;
    .lowestPricePlan {
        position: absolute;
        top: 110px;
        left: 20px;
    }
    .highestPricePlan {
        position: absolute;
        top: 110px;
        right: 20px;
    }
}
#gettingStartedChoice {
    input[type="radio"] {
        margin-top: 2px;
    }
    h5 {
        font-family: @serifFontFamily-1;
    }
}
#gettingStartedConfirm {
  @alertBoxHeight: 44px;
  .alert {
    margin-top: 40px;
    height: @alertBoxHeight;
    font-family: @serifFontFamily-1; 
    li {
      line-height: 32px;
      font-size: @fontSizeH4;
      width: 130px;
      text-align: center;
      background: @white;
      border: 1px solid #bce8f1;
      margin: 6px 4px;
      .border-radius(3px);
    }
  }
}
#coverageSetupChoice {
    input[type="radio"] {
        margin-top: 2px;
    }
    input[type="checkbox"] {
        margin-top: -2px;
        margin-right: 6px;
    }
}
#coverageSetupSuggestions {
  .img-polaroid {
    .border-radius(3px);
    background: #02999a;
    color: @white;
    &#yourCostWrapper {
      background: #333333;
    }
    &#taxCreditWrapper {
        a{
          color: @white;
          border-bottom: 1px dotted @white;
        }
      } 
    ul {
      list-style-type: none;
      text-align: center;
      margin: 0;
      li {
        &:first-child {
          font-size: @fontSize;
          margin-bottom: 6px;
        }
        &:last-child {
            margin-top: 4px;
            font-size: @fontSizeSmall;
            display: block;
        }
        span {
            font-size: @fontSizeH1 + 4px;
            font-family: @serifFontFamily-1;
            display: block;
            margin-bottom: 4px;
        }
      }
    }
  }
}

#coverageSetupAccordion {
  @accordionBoxHeight: 44px;
  ul {
    list-style-type: none;
  }
  .accordion-group {
    border: none;
  }
  .accordion-heading {
    height: @accordionBoxHeight;
    background: lighten(@borderColor, 7%);
    border: 1px solid @borderColor;
    span {
      line-height: @accordionBoxHeight;
      margin-left: 10px;
      &.pull-left {
        font-family: @serifFontFamily-1;
      }
    }
    .accordion-toggle {
      padding: 2px 10px;
      margin: 9px;
      width: 70px;
    }
  }
  .accordion-inner {
    border: none;
  }
  .enrollmentPeriodDate {
    margin-bottom: 10px;
    .border-radius(3px);
  }
  .planChoice {
    margin: 0 0 10px 14px;
    width: 19%;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px;
    .border-radius(3px);
    &:hover {
      border-color: @borderColor;
      background-image: none!important;
      background: #f7f7f7;
    }
  }
  .costBasisView {
    @costBasisTileHeight: 60px;
    @costBasisTileWidth: 36px;
    font-size: 10px; //this font size is very specific - do not change into global var.
    li {
        border: 1px solid @borderColor;
        background-color: @white;
        color: @fontColor;
        width: @costBasisTileWidth;
        height: @costBasisTileHeight;
        line-height: @costBasisTileHeight;
        display: inline-block;
        .border-radius(3px);
        &.active {
            background: @linksColor;
            border-color: darken(@linksColor, 4%);
            color: @white;
            position: relative;
            &:before {
              content: "Average Premium";
              width: 50px;
              display: inline-block;
              position: absolute;
              top: -38px;
              left: -2px;
              line-height: 16px;
              text-align: center;
              color: @fontColor;
            }
            &:after {
                content: '\f0d8';
                font-family: @iconFont;
                font-size: 30px;
                position: absolute;
                bottom: -36px;
                left: 10px;
                color: darken(#fbeed5, 5%);
            }
        }
        &:hover {
            background: @white;
            border-color: @linksColor;
            color: @linksColor;
            position: relative;
            margin-top: -60px;
            margin-bottom: -60px;
            top: -26px;
            &:before {
              content: "Average Premium";
              width: 50px;
              display: inline-block;
              position: absolute;
              top: -39px;
              left: -2px;
              line-height: 16px;
              text-align: center;
              color: lighten(@fontColor, 25%);
            }
        }
        a {
            height: 100%;
            width: 100%;
            color: inherit;
            display: inline-block;
            text-align: center;
            &:hover {
              color: inherit;
            }
        }
    }
  }
  .alert {
    width: 80%;
    margin: -5px auto 0;
  }
  .nextCoverageInfo {
    li {
      line-height: 34px;
      width: 500px;
      span {
        //font-family: @serifFontFamily-1;
        //font-size: @fontSizeH4;
        font-weight: 700;
      }
    }
  }
}

.slider-home {
    margin: 20px 0 30px;
    text-align: center;
    a {
        outline:none;
        -moz-outline-style:none;
    }
    .sliderTowardsEmployees,
    .sliderTowardsDependents,
    .sliderTowardsEmployeesDental,
    .sliderTowardsDependentsDental {
        //width:100%;
        height:40px;
        position:relative;
        margin:0;
        //padding:0 10px;
        .border-radius(2px);
    }
    .ui-slider-handle {
        width:24px;
        height:50px;
        position:absolute;
        top:-7px;
        margin-left:-12px;
        z-index:200;
    }
    .contributionTowardsEmployeesResult,
    .contributionTowardsDependentsResult,
    .contributionTowardsEmployeesDentalResult,
    .contributionTowardsDependentsDentalResult {
        font-family: @serifFontFamily-1;
        font-size: 40px;
        line-height: 40px;
        
    }
}

.contributionTowardsEmployeesResult,
.contributionTowardsDependentsResult {
    &:after {
        content: "%";
    }
}
.contributionTowardsEmployeesDentalResult,
.contributionTowardsDependentsDentalResult {
    &:after {
        content: "/month";
        font-size: @fontSize;
    }
    &:before {
        content: "$";
    }
    &.span3 {
        &:after {
            font-size: 16px;
        }
    }
}

.eSignatureResults {
    //background: lighten(@subHeaderBGColor, 1.5%);
}

#reviewConfirm {
    dt {
        text-indent: 10px;
        font-weight: 400;
    }
    dd {
        font-weight: 700;
        span {
            display: block;
        }
        small {
            font-weight: 400;
        }
    }
} 

//sub-header
@subHeaderHeight:       40px;
@subHeaderBGColor:      lighten(@mainHeaderBgColor, 3.5%);
.mixin-sub-header {
    font-family: @serifFontFamily-1; 
    font-weight: normal!important;
    background: @subHeaderBGColor;
    border-bottom: 1px solid @themeAccentColor;
    height: @subHeaderHeight;
    font-size: @fontSize;
    margin: 0 0 30px;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *ENTITY: 
// #
// #
// ########################################################################################################


h5 {
  &.accordion-box-custom {
      padding: 10px;
      background: #eee;
      font-family: @serifFontFamily-1;
      font-weight: normal!important;
      font-size: @fontSize;
      margin-bottom: 0;
      cursor: pointer;
  }
}
.chzn-choices { //important used to overwrite chosen.css
  .border-custom!important;
  .border-radius;
  background-image: none!important;
  box-shadow: none!important;
}

.border-custom-rbl {
  .border-custom;
  border-top: none;
}

#sidebar {
  .nav-list {
    li {
      li {
        background: transparent!important;
        list-style-type: none;
        border: none;
        padding: 8px 0 6px 10px;
      }
    }
  }
}

#rightpanel {
  #section {
    &>div.header {
      margin-bottom: 10px;
    }
    legend {
      text-indent: 10px;
      background: #eee;
      font-family: "Merriweather", serif;
      font-weight: normal!important;
      font-size: @fontSize;
      &.legend-header {
        padding: 10px;
        color: #5a5a5a;
        text-indent: 0;
      }
      &.control-label {
        font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background: transparent;
      }
    }
    input[type="checkbox"] {
      margin: 0 6px 0 10px;
    }
    #frmaddSite {
      legend + .control-group {
        margin-top: 0;
      }
      fieldset {
        table {
          td {
            vertical-align: middle;
          }
          thead {
            th {
              text-align: left;
              text-indent: 10px;
              padding: 10px 0;

            }
          }
          .chzn-choices {
            margin-bottom: -12px;
          }
        }
        .chzn-drop{
          top: 30px !important;
        }
      }
    }
    #otherSpokenLanguage_chzn,
    #otherWrittenLanguage_chzn {
      .chzn-choices {
            margin-bottom: -12px;
      }
    }
    .form-actions {
      margin-top: 20px;
    }
  }  
  .question-group{
    //border: 1px solid @borderColor;
    margin-bottom: 40px;
  }
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *CALENDAR within rightpanel
// #
// #
// #
// ########################################################################################################
@calendarOne:           #66abe2; //blue
@calendarTwo:           #5894c3; //darker blue
@calendarContentColor:  #666;
@calendarContentBorder: #333;

.mixins-calendar-gradient (@startColor: @calendarOne, @endColor: @calendarTwo) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
  }

.calSheet {
  .month {
    .mixins-calendar-gradient;
    border: 1px solid @calendarTwo;
    border-radius: 2px 2px 0 0;
    color: @white;
  }
  .day {
    border-radius: 0 0 2px 2px;
    border-right: 1px solid lighten(@calendarContentBorder, 10%);
    border-bottom: 1px solid @calendarContentBorder;
    border-left: 1px solid @calendarContentBorder;
    color: @calendarContentColor;
    font-weight: bold;
    letter-spacing: -0.1em;
    line-height: 1.4em;
  }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *TABLE within rightpanel
// #
// #
// #
// ########################################################################################################

@tableHeaderBgColor:      #CEDDE7;
@tableHeaderBorderColor:  #CEDDE7;

.mixins-table-font-size {font-size: @fontSize - 2px;}
.mixins-table-tr-font {font-family: @sansFontFamily-1!important;}
.mixins-table-th-font {font-family: @serifFontFamily-1!important;}
.mixins-table-th-font-color {color: @fontColor!important;}
//.mixins-table-tr-bg {background: lighten(desaturate(@colorThree, 40%), 52%);}


.table{
  border: 1px solid @borderColor;
  margin-bottom: 16px!important;
  th{
    &.sortable {
      &.order1 { //down
        a {
          &:hover {
            &:after {
              color: @mainHeaderFontColor!important;
            }
          }
          &:after {
            content: "\f0dd";
            font-family: @iconFont;
            color: @mainHeaderFontColor;
            position: absolute;
            margin-left: 4px;
            margin-top: -3px;
            font-size: @fontSizeSmall;
          }
        }
      }
      &.order2 { //up
        a {
          &:hover {
            &:after {
              color: @mainHeaderFontColor!important;
            }
          }
          &:after {
            content: "\f0de";
            font-family: @iconFont;
            color: @mainHeaderFontColor;
            position: absolute;
            margin-left: 4px;
            margin-top: 4px;
            font-size: @fontSizeSmall;
          }
        }
      }
      a {
        position: relative;
        &:hover {
          text-decoration: none;
          &:after {
            //color: darken(@white, 8%)!important;
          }
        }
        &:after {
          content: "\f0dc";
          font-family: @iconFont;
          color: @mainHeaderFontColor;
          /*position: absolute;*/
          margin-left: 4px;
          font-size: @fontSizeSmall;
        }
      }
      img {
        display:none;
      }
    }
    a {
      background: none!important; //important added to overwrite inline styles added to some pages. Example: /hix/admin/manageissuer 
      font-weight: normal;
      .mixins-table-th-font-color;
      .mixins-table-th-font; 
      &.btn { //"&" means that a has class btn ---> <a class="btn">
        .mixins-secondary-btn-border;
        .mixins-secondary-btn-bg;
        .mixins-secondary-btn-font-color;
      }
    }
    &.txt-right {
        text-transform: capitalize;
    }
  }
  td {
    h4 {
      background: none;
    }
    .border-custom;
    font-size: @fontSize;
    border-right: none;
    border-bottom: none;
    border-left:none;
    .caret{
      border-top: 4px solid @linksColor;
    }
    .dropdown-menu li > a{
      color: @linksColor;
      &:hover { //this is a dropdown menu located in tables (cog element --> hover --> will see this)
        background: none;
        color:@linksHoverColor;
      }
    }
    &.txt-right {
        text-transform: capitalize;
    }
  }
  tbody {
    tr {
      th {
        background: @white!important;
      }
    }
    th {
      .mixins-table-tr-font;
    }
  }
}

.lightgray, 
.table-striped tbody > tr:nth-child(odd) > td, 
.table-striped tbody > tr:nth-child(odd) > th {
  background: lighten(@mainHeaderBgColor, 15%);
}

.graydrkbg thead tr, 
thead tr.graydrkbg {
  border-top: none;
  border-bottom: none;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *FORMS within rightpanel
// #
// #
// #
// ########################################################################################################
form {
  &#frmesign { //Provide eSignature page
    h2 {
      margin-left: 0;
    }
  }
}
.form-actions {
  .border-custom;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 10px;
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *PAGINATION within rightpanel
// #
// #
// #
// ########################################################################################################

.pagination ul > li > a, 
.pagination ul > li > span {
  .border-custom;
  color: @linksColor;
}

.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
  border-radius:0!important;
}
 
.pagination ul > .active > a, 
.pagination ul > .active > span {
  background: @mainHeaderBgColor;
  color: @linksColor;
}
.pagination ul > li > a:hover {
  background: lighten(@mainHeaderBgColor, 10%);
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *FOOTER
// #
// #
// #
// ########################################################################################################


#footer {
  border-top: 5px solid @bodyBgColor;
  background: @bodyBgColor;
  color: darken(@white, 45%);
  .nav {
    a {
      &:hover {
        background-color: transparent;
      }
    }
  }
}







// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *DATEPICKER
// #
// #
// #
// ########################################################################################################

.datepicker td.active, 
.datepicker td.active:hover, 
.datepicker td.active:hover:hover, 
.datepicker td.active:active, 
.datepicker td.active:hover:active, 
.datepicker td.active.active, 
.datepicker td.active:hover.active, 
.datepicker td.active.disabled, 
.datepicker td.active:hover.disabled, 
.datepicker td.active[disabled], 
.datepicker td.active:hover[disabled] {
  background-color: red!important;
  border-radius: 0!important;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *MODAL
// #
// #
// #
// ########################################################################################################


.markCompleteHeader { //located here: /admin/broker/viewcertificationinformation/156
  .header {
    height: 40px;
    h4 {
      margin-left:10px!important;//to overwrite ghixcustom.css
      color: #666!important;
      line-height: 40px!important;
      font-weight: normal!important;
    }
    button.dialogClose {
      background: transparent!important;
      line-height: 40px;
      margin-right: 10px!important;
      color:#666!important;
    }
  }
}

#viewempModal {
  .modal-header {
    height: 40px;
    h4 {
      margin-left:10px!important;
      color: @fontColor!important;
      line-height: 40px!important;
      font-weight: normal!important;
    }
    button {
      background: transparent!important;
      line-height: 40px;
      margin-right: 10px!important;
      color:@fontColor!important;
    }
  }
}

#brokerdetail { ///hix/shop/employer/dashboard. File name list.jsp
  table#list {
    thead {
      tr {
        height: 40px;
      }
    }
    tbody {
      tr {
        td {
          a {
            h4 {
              font-size: @fontSize;
            }
          }
        }
      }
    }
  }
}

#frmdetail {
  #display-info {
    tbody {
      tr {
        th {
          background: #fff!important;
        }
      }
    }
  }
}

div#alert1.modal { //shop/employer/employercomments/216#
  top: 15%;
}

.modal-header {
  background: @mainHeaderBgColor;
  border-radius: 6px 6px 0 0;
  min-height: 20px;
  h4 {
    font-family: @serifFontFamily-1;
    font-size: @fontSize;
    font-weight: normal;
  }
  .close {
    margin-top: 0;
  }
}
.modal-footer {
  background: none;
  border-top: none;
}
.hugeModal { //!important used to overwrite "bigModal" in ghixcustom.css
  width: 767px!important;
  margin-left: -350px!important;
  height: 460px;
}

#qualified-event{
  .modal-body{
    max-height:315px;     
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *IFRAME
// #
// #
// #
// ########################################################################################################

#successbox .modal-header {
  background: none;
  border-radius:0;
}

iframe {
  border:0px;
  #successbox {
    .header {
      background: none;
      background-image: none;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    }
  }
  &#success {
    .modal-header {
      border-radius: 6px 6px 0 0;
    }
    .modal-body {
      padding:0;
    }
  }
  &#search {
    min-height: 520px; /*Changed from 430px to 520px - HIX-19095*/
    h3 {
      font-size: @fontSizeH3;
    }
    .bottomBorder {
      border-bottom: none!important;
    }
  }
  body {
    background: #fff;
    background-image: none;
  }
}

body.shellmodal-body {
  background: #fff!important;
  .table {
    border: none;
  }
}

#Dental-light_box {
  #title {
    font-family: @serifFontFamily-1;
    font-weight: normal;
    font-size: @fontSizeH3;
  }
  #info {
    margin: 20px 0 25px 0;
  }
  .premium {
    font-size: @fontSizeH3;
  }
  .plan {
    margin: 0 10px;
    .border-custom;
  }
  .form-actions {
    background: #fff;
    border: none;
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *SECURE INBOX
// #
// #
// #
// ########################################################################################################
#inbox {
  i.icon-person {
    display: none;
  }
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *ERROR
// #
// #
// #
// ########################################################################################################
div.error {
  font: normal @fontSize @sansFontFamily-1;
  color: @themeAccentColorTwo;
  position: relative;
  // left: 29.5%;
  top: 5px;
}

.validation-error-text-container,
form label.error {
    border-radius: 1px!important;
    margin-bottom: 0px!important;
    border-color: #eec3c7!important;
    background: #fff6f6!important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)!important;
    width: auto!important;
    max-width: 350px!important;
    font-size: @fontSize!important;
    padding: 5px 10px!important;
    color: @errorFontColor!important;
    &:before {
        content: '\f06a';
        font-family: @iconFont;
        color: @errorFontColor;
        margin-right: 4px;
      }    
      em.excl,
      em.validation-error-icon {
        display: none;
    }
}


.applicationState{
  .step-text{
    font-size: 13px;
  }
  .inprogress{
    color:#d29565;
  }
  .complete{
    color:#71923c;
  }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *SSAP
// #
// #
// #
// ########################################################################################################

.hixApplicantInfo {
    border: 1px solid @borderColor;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    h5 {
        font-family: @serifFontFamily-1;
        padding-bottom: 14px;
        position: relative;
        z-index: 0;
        line-height: 10px;
        &:after {
            content: "";
            position: absolute;
            display: block;
            background: lighten(@borderColor, 5%);
            width: 106.3%;
            height: 50px;
            z-index: -1;
            top: -20px;
            left: -20px;
        }
        .pull-right {
            position: relative;
            top: -8px;
        }
    }
}
#ssapAppPages { 
    form {
        p {
            margin-top: 20px;
        }
        .form-horizontal.gutter10 {
            padding: 0;
        }
        &.gutter10 {
          padding: 0!important;
        }
    }
    hr {
        border-top: @borderColor;
        background: @borderColor;
    }
    input[value="Edit"] {
        //color: @linksColor;
        padding: 2px 8px;
        //margin: 2px 0 0 0;
        &:before {
            content: "\f14b";
            font-family: @iconFont;
            color: @linksColor;
        }
        &.btn-primary {
            //background: transparent;
            //background-image: none;
            //box-shadow: none;
            //border: none;
        }
    }
    input[type='radio'] {
      margin-top: -4px;
    }
    img.arrow_ui_design { //this is images that were used 
        // display: none;
        // &:before {
        //     content: "\f058";
        //     font-family: @iconFont;
        // }
    }
    label {
      padding: 4px 0;
    }
    select {
        &#applicant-relationship {
            position: relative;
            top: 20px;
        }
    }
    strong {
        //font-weight: normal;
    }
    #amount400 {
        font-family: @serifFontFamily-1;
        font-size: @fontSizeH5;
        &:before {
            content: '$';
        }
    }
    #authorized-representative-contact-information-form {
        > h4 {
            margin-top: 0;
        }
    }
    #appscr51 {
        h1 {
            //margin-left: -240px;
        }
    }
    #appscr52 {
        .non_financial_hide {
            margin-top: -6px;
        }
    }
    #appscr54 {
      #rightpanel h4 {
        margin-top: 0;
      }
    }
    #appscr55 {
      form {
        p.gutter10 {
          margin-top: 0;
        }
      }
    }
    #appscr85Form,
    #appscr57HouseholdForm,
    #appscr58 {
      h4 {
        margin-top: 0;
      }
    }
    #appscr57HouseholdForm {
        .control-group label input[type="radio"] {
            margin-left: 0;
        }
    }
    #addAnotherIndividualButton {
        text-align: right;
        //border-top: 1px solid @borderColor;
        //padding-top: 20px;
    }
    #appscr58HouseholdForm {
        padding: 10px;
    }
    #appscr76P1Form {
      p:first-child {
        margin-top: 0;
      }
    }
    #contant_message_ui {
        label {
            small {
                text-transform: none;
                display: block;
                text-indent: 20px;
                font-style: italic;
            }
        }
    }
    #eligibleImmigrationStatus {
      label {
        padding: 5px 0;
      }
      input[type="radio"]{
        margin-top: -4px;
      }
    }
    #FinancialDetailsSummaryDiv {
      label.pull-left {
        margin-top: -4px;
      }
    }
    #householdSpouseDiv,
    #householdFilerDiv {
        label {
            text-transform: none;
        }
    }
    #houseHoldContactSummaryDiv {
      label.pull-left {
        margin-top: -4px;
      }
      .control-group {
        margin-bottom: 10px!important;
      }
    }
    #sidebar {
        //margin-top: 62px!important;
    }
    
    #primary-contact-information-form > div.control-group {
        //text-align: right;
    }
    //this is header
    .titleForPages, 
    #rightpanel h4.titleForPages {
      font-family: @serifFontFamily-1;
      font-size: @fontSizeH1!important;
      line-height: normal;
      font-weight: 300!important;
      color: @fontColorH1;
      background: transparent;
      & small {
        font-size: @fontSize;
      }
    }
    .checklist{
      li{
        margin-bottom:5px;
        list-style-type: none;
        &:before{
            content:'\f00c';
            font-family:'fontawesome';
            margin-left: -22px;
            margin-right: 9px;
        }
        &:first-child{
            margin-top:10px;
        }
      }
    }
    .container-fluid {
        padding: 0;
    }
    .control-group {
        label {
            input[type="radio"]{
                margin-left: 10px;
            }
            em {
              text-transform: none;
            }
        }
    }
    .form-actions {
        border-top: none;
    }
    .form-horizontal {
        .control-label {
            width: 210px;
        }
        .controls {
            margin-left: 220px;
        }
    }
    .immigrationDocType {
        padding: 20px 0;
    }
    .Main_contant_ui_work,
    .main_page_contant_message {
        border-color: @borderColor;
    }
    .Main_contant_ui_work {
        background: lighten(@borderColor, 6%);
    }
    .margin5-l {
        input[type="checkbox"]{
            margin-left: 10px;
        }
    }
    .margin210-l {
      margin-left: 210px;
    }
    .page-title {
        margin-top: 0;
    }
    .SSAPpgtitle {
        font-weight: 300;
    }
    #headerHouseHoldName {
      color: @fontColor;
    }    
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *SSAP - VERIFICATION RESULTS: 
// #
// #
// ########################################################################################################


.border-bottom {
    border-bottom: 1px solid @borderColor;
}
@btnDangerBgColor:  #CB4441;
@btnDangerBorderColor: darken(@btnDangerBgColor, 5%);
@btnDangerBgHoverColor: darken(@btnDangerBgColor, 5%);
@btnDangerBorderHoverColor: darken(@btnDangerBorderColor, 5%);
.btn-danger {
    background-image: none!important;
    background-color: @btnDangerBgColor!important;
    border-color: @btnDangerBorderColor!important;
    &:hover {
        background-color: @btnDangerBgHoverColor!important;
        border-color: @btnDangerBorderHoverColor!important;
    }
}
i.icon-exclamation-sign {
    color: #B95E33;
}
i.icon-ok-sign {
    color: #1C9F48;
}
i.icon-minus-sign {
    color: #EC5D59;
}
.verificationResults {
    #applicantsTotal {
        font-family: @serifFontFamily-1;
        li {
            a {
                &:hover {
                    background: darken(@white, 5%);
                    border-bottom: 1px solid darken(@white, 5%);
                }
            }
            &.active {
                a {
                    &:hover {
                        background: @white;
                        border-top: 1px solid @borderColor;
                        border-right: 1px solid @borderColor;
                        border-left: 1px solid @borderColor;
                        border-bottom: 1px solid @white;
                    }
                }
            }
        }
    }
    #applicantDetails {
        .accordion-body {
            &.collapse {
                width: 99%;
                margin: 0 auto; 
            }
            .table tbody td {
                font-size: @fontSizeSmall;
            }
        }
    }   
    .nav {
        margin-bottom: 0px;
    }
    .accordion-heading {
        height: 40px;
        background: #f7f7f7;
        &:hover {
          background: darken(#f7f7f7, 4%);
          border-color: darken(@borderColor, 4%);
        }
        span {
            line-height: 40px;
            text-align: right;
            padding-right: 10px;
        }
        a.btn {
          margin-top: 7px!important;
          i.icon-ok-sign {
            color: @white;
          }
        }
        .accordion-toggle {
          padding: 10px 15px;
          font-family: @serifFontFamily-1;
          //color: @fontColor;
          &:hover {
            color: darken(@fontColor, 5%);
          }
        }
    }
    .accordion-inner {
        border: none;
        input[type="file"] {
            width: 330px;
            margin-top: 4px;
            margin-bottom: -4px;
            line-height: 15px;
        }
    }
    .applicantDetails {
        width: 96.8%;
        border: 1px solid @borderColor;
        border-top: none;
    }
    .adminActions {
        .form-actions {
            padding-bottom: 0;
            padding-right: 0;
        }
    }
    .cloneRemove {
        padding-bottom: 40px;
    }
    .controls {
        span {
            line-height: 30px;
        }
    }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *SSAP - Summary Pages: 
// #
// #
// ########################################################################################################

.summary-table {
    width: 100%;
    tr {
        border-bottom: 1px dotted @borderColor;
    }
    td {
        padding: 12px 0 0 10px;
        &:first-child {
            width: 250px;
            color: lighten(@fontColor, 5%);
        }
    }
}
