@charset "utf-8";
/* CSS Document */

@import "blueThemeVariables.less";
@import "mixins-blue.less";

// ##############  GENERAL  ############## 

h1 {
  font-family: @serifFontFamily;
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  color:@colorFour;
  & small {
    font-size: 14px;
  }
}
h3 {
  font-family: @serifFontFamily;
  font-weight: normal;
}
h5 {
  font-size: 12px;
}
a {
  color:@linkColor;
  &:hover {
    color: @linkColorHover;
    text-decoration: none;
  }
}
legend {
  font-size:  15px;
  color: @colorFour;
  font-weight: bold;
}



// ############## ID ################## 

#plansbar,
#titlebar, 
#main.titlebar {
  border-bottom: 1px solid lighten(@grayLighter, 11%);
  width:100%;
}



// ############## CLASSES ################## 

.alert {
  margin-top:0;
}
.accordion-group {
  .border-custom;
}

.accordion-inner {
  .border-custom;
  border-right:none;
  border-bottom:none;
  border-left:none;
}
.box-loose {
  .border-custom;
}
.line {
  .border-custom;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.plans-container {
  .border-custom;
  border-top:none;
  border-bottom: none;
}
.thumbnail {
  .border-custom;
}



// ############## ICONS ################## 

a [class^="icon-"],
a [class*=" icon-"] {
 /* color: @black;*/
  text-decoration: none;
  font-size: 14px;
  padding:3px;
}
.active a .icon-ok {
  color:@white;
}
.icon-question-sign {
  color: @colorOneDark;
}

.icon-cog {
  color: @linkColorAlt;
  &:hover {
    color: @linkColorAltHover;
  }
}






// ##############  MASTHEAD  ############## 

#masthead {
    .brand{
      position:absolute;
      top:-13px;
      left:0;
      margin:0;
      max-width: none;
    }
    .nav {
    .dropdown-toggle {
      &:hover {
        .caret {
          border-bottom-color: darken(@white, 10%);
          border-top-color: darken(@white, 10%);
        }
      }
      .caret {
        border-bottom-color: @white;
        border-top-color: @white;
        margin-top: 8px;
      }
    }
  }
  & .navbar {
    border-bottom: 5px solid;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }
  & .navbar-inverse {
    .navbar-inner {
      .vertical-gradient-light-dark;
      border: none;
    }
  }
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color:@white;
}





// ##############  NAV HELPBAR  ############## 

#navhelp {
  h2 {
    border-bottom: 1px solid fade(@white, 75%);
  }
  .nav {
    li {
      .help-panel {
        background-color:@blueDark;
        padding:10px 15px 15px 15px;
        &:after {
          border-bottom: 6px solid @blueDark;
        }
        h3 {
          a {
            color: @white;
          }
        }
        a {
          color: fade(@white, 85%);
          &:hover {
            color:@white;
          }
        }
      }
    }
  }
  .dropdown-submenu {
    &:hover {
      a {
        background-color: @blue;
      }
    }
  }
}

.help-shortcut:hover > span.help-icon,
.help-shortcut:active > span.help-icon,
.help-shortcut:focus > span.help-icon {
  color: @white;
}

//affects masthead
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a {
  .vertical-gradient-light-dark;
}




// ##############  NAVBAR  ############## 


#menu {
  margin-bottom:0;
  .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
    .border-custom;
    .nav {
      .dropdown-menu {
        a {
          padding: 3px 20px;
          &:hover {
            //background: transparent;
            color: @white;
          }
        }
      }
      li {
        a {
          float: none;
          padding: 10px 7px 10px;
          font-size: 13px;
          color: @colorFour;
        }
      }
    }
  }
}



.header-reset {
  padding-top: 7px;
  border-left: none;
}



// ##############  BREADCRUMB  ##############

.page-breadcrumb {
  margin: 0 0 10px 0;
  padding:0;
  list-style: none;
  border-bottom: 1px solid @grayLighter;
  padding-bottom:5px;
  li {
    margin:0;
    padding: 0 5px 0 0;
    display: inline;
    font-size: 11px;
    text-transform: capitalize;
    .divider {
      display: none;
    }
    a {
      text-transform: capitalize;
    }
    &:first-child{
      a{
        color: transparent;
        font-size:0;
        &:before {
          content: "";
          font-family: "FontAwesome";
          font-size: 13px;
          color: @colorThreeDark;
          margin-right:8px;
          cursor: pointer;
          position:relative;
          top:1px;
          &:hover{
            color:@linkColorHover;
          }
        }
      }
    }
    &:after{
      content: "";
      font-family: "FontAwesome";
      font-size:8px;
      margin:0 10px;
    }
    &:last-child{
      &:after {
        content: "";
      }
    }
  }
}

#breadcrumbs .nav-pills {
  border: 1px solid lighten(desaturate(@colorThree, 60%), 42%);
  border-top:none;
  border-right:none;
  border-left:none;
  margin-bottom:0;
}





// ##############  BUTTONS  ##############

.btn {
  .border-custom;
}
.plan .btn {
  padding: 4px 7px;
  font-size:13px;
}
.btn-primary{
  color:@white;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  .primary-button-gradient;
}

.btn-custom {
  display: inline-block;
  padding: 5px 14px;
  margin-top:10px;
  min-width: 4px;
  .border-custom;
  .border-radius;
  .btn-custom-gradient;
}





// ############## PAGINATION #############






// ##############  SIDEBAR  ##############


.nav > li > a:hover {
  background-color: transparent;
}

ol.nav-list > li,
ul.nav-list > li {
  .background-custom;
  .border-custom;
  border-top: none;
  border-right: none;
  border-left: none;
  &:hover {
    text-decoration: none;
  }
}

table#brokerStatusHistory {
  .border-custom;
}

.graybg {
  .background-custom;
}

#sidebar h4,  
#sidebar .header,
.gray h4,
.header {
  .vertical-gradient-custom;
  .header-type;
}

.nav-list {
  .active {
    background: lighten(desaturate(@colorThree, 40%), 20%) url(../img/arrowleft-white.png) no-repeat right 50%;
    font-weight: bold;
    margin-left: 0;
    color: @white;
    a, a:hover {
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background: transparent;
    }
  }
}

select,
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  .border-custom;
  font-size:13px;
}

input[type="radio"] {
  margin: 0 5px 0 0;
}

ol.nav-list > li {
  .border-custom;
  border-top: none;
  border-right: none;
  border-left: none;
}




// ############## SLIDESHOW #################

#menu {
  li {
    &.act {
      a {
        background: @colorTwo;
        color: @white;
        text-shadow: none;
        border-radius:20px;
        .insert-box-shadow
      }
    }
    &.inact {
      &:hover {
        color: darken(@colorThreeDark, 10%);
      }
      a {
        &:hover {
          color: darken(@colorThreeDark, 10%);
        }
      }
    }
  }
}

.slide {
  h2 {
    color: darken(@colorTwo, 3%);
    font-family: @serifFontFamily;
    font-size: 30px;
    font-weight: normal;
  }
}


// ############## PLAN SELECTION ############

#planSelect {
    .scroll-left-arrow,
    .scroll-right-arrow {
      background: @colorThreeDark;
      &:hover {
        background: darken(@colorThreeDark, 10%);
      }
    }
    .icon-arrow-left,
    .icon-arrow-right {
      color: @white;
      opacity: 1!important;
    }
  }

.plan a.addtofav.addedToFav {
  background: @colorTwo;
  color: @white;
  .insert-box-shadow;
}

.intro-indiv h4, 
#titlebar h3,
h3#titlebar 
{
  color: @colorFour;
}

.plans-section-content {
  .label-info {
    font-size: 13px;
    font-family: @sansFontFamily;
    font-weight: normal !important;
    background: @errorBackground;
    color: @errorText;
    border: @errorBorder;
    .border-radius;
  }
  h3 {
    text-transform: none;
  }
}


// ##############  RIGHTPANEL  ##############

#rightpanel {
  .light{
    opacity: 1!important;
  }
}
.calSheet {
  .month {
    .calendar-gradient;
    border: 1px solid @redDark;
    border-radius: 2px 2px 0 0;
    color: @white;
  }
  .day {
    border-radius: 0 0 2px 2px;
    border-right: 1px solid lighten(@grayLight, 10%);
    border-bottom: 1px solid @grayLight;
    border-left: 1px solid @grayLight;
    color: @grayDarker;
    font-weight: bold;
    letter-spacing: -0.1em;
    line-height: 1.4em;
  }
}

.lightgray, 
.table-striped tbody > tr:nth-child(odd) > td, 
.table-striped tbody > tr:nth-child(odd) > th {
  .background-custom;
}
 
.graydrkaction, 
.graylightaction, 
.header { 
  padding:5px 10px; 
  height:34px; 
  .vertical-gradient-custom;
   h4 {
    .header-type;
  }
 } 

.header {
  padding: 10px;
}

.graydrkbg thead tr, 
thead tr.graydrkbg {
  border-top: none;
  border-bottom: none;
}

.table {
  th {
    color: darken(@colorThreeDark, 5%);
    .vertical-gradient-custom;
    padding:11px;
    a {
      background: none!important;
      color: @grayDark!important;
    }
  }
  td {
    a {
      border-bottom: 1px solid @linkColor;
      &:hover {
        border-bottom: 1px solid @linkColorHover;
      }
    }
    .dropdown {
      a {
        border-bottom: none;
      }
    }
    .border-custom;
      font-size: 12px;
      border-right: none;
      border-bottom: none;
      border-left:none;
    .caret{
      border-top: 4px solid lighten(desaturate(@blue, 30%), 7.5%);
      &:hover{
        border-top: 4px solid @colorOneLight;
      }
    }
  }
}
.plans-section-header h3 {
  .border-custom;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: lighten(desaturate(@colorThree, 40%), 50%);
  margin:0;
  padding-left:15px;
  color: darken(@colorThreeDark, 5%)!important;
  font-size: 14px;
}
.form-actions {
  .border-custom;
  border-right: none;
  border-bottom: none;
  border-left: none;
}






// ################### FOOTER ###################### //

#footer.container ul.nav li a:hover {
  color: @colorTwo;
}




