


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          LOCAL - RESET
// #
// #
// #
// ########################################################################################################

.dropdown-menu,
.tooltip {
  border-radius: 0!important;
}

// this is to remover gradien on hover from dropdown for IE8
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}


#rightpanel .header #myinfo-edit { //used on shop/employee/spplanselection/myinfo page causing extra padding to the button
  padding:0 12px;
}

label.error{
  text-transform: capitalize;
}
label.checkbox {
  text-transform: none;
}

table {
  td{
    .dropdown{
      width: 30px;
    }
  }
}
// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *GENERAL SETUP & MIXINS
// #
// #
// #
// ########################################################################################################
//@import url(//fonts.googleapis.com/css?family=Raleway:400,600);
@serifFontFamily-1: "Merriweather", serif;
@sansFontFamily-1:  "Raleway", Arial, sans-serif;
@sansFontFamily-2:  Arial, sans-serif;
@iconFont:          "FontAwesome";

@borderColor:           #e2dfd7;
@burgColor:             #7e183f;
@backgroundColor:       #fbfaf9;
@containerBorderColor:  #efefef;
@themeAccentColor:      #c29e08;
@themeAccentColorTwo:   #82a4c9;
@fontColor:             #444;
@linksColor:            #bf6d00;
@linksHoverColor:       darken(@linksColor, 5%);
@errorFontColor:        #B90000;
@errorColor:            #B90000;

@fontSize:              13px;
@fontSizeH1:            @fontSize + 10px;
@fontSizeH2:            @fontSize + 8px;
@fontSizeH3:            @fontSize + 6px;
@fontSizeH4:            @fontSize + 2px;
@fontSizeH5:            @fontSize;
@fontSizeSmall:         @fontSize - 2px;

body {
  background: @backgroundColor;
  font-size: 13px!important;
  font-family: @sansFontFamily-2;
}

h1 {
  font-family: @sansFontFamily-1;
  font-size: 24px!important;
  line-height: normal;
  font-weight: normal;
  color: @themeAccentColor;
  & small {
    font-size: 14px;
    font-family: @sansFontFamily-1!important;
  }
  img {
    margin-right: 15px;
    width: 130px;
    height: 100px;
  }
}

h2 {
  font-family: @sansFontFamily-1;
  font-size: 20px;
  line-height: 20px;
}

// this is a slideshow header element located on the home page 
  .slide h2{ 
    color: #444444;
    font-family: @sansFontFamily-1;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
  }

h3 {
  font-family: @sansFontFamily-1;
  font-weight: normal;
  font-size: 18.5px;
  color: @themeAccentColor;
}

h5 {
  font-size: 12px;
}
a {
  color:@colorThreeDark;
  &:hover {
    color: darken(@colorThreeDark, 10%);
    text-decoration: none;
  }
  &.breadcrumb-nav {
    font-size: 14px;
    text-transform: lowercase;
    margin: 0 10px 0 5px;
    &:before {
      content: "\f104";
      font-family: FontAwesome;
      font-size: 12px;
      margin-right: 5px;
    }
  }
  .caret {
    border-top-color: inherit;
  }
}

label {
  margin-bottom: 0;
  font-size: 13px;
}

legend {
  font-size:  15px;
  color: @colorFour;
  font-weight: bold;
}

select,
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] 
.uneditable-input {
  .border-custom;
  box-shadow: none;
  font-size:13px;
  border-radius: 0;
}



// ############## *ID ################## 

#container-wrap{
  .container{
    border:1px solid @containerBorderColor;
  }
}

#summary_table {
    h4 {
        a[rel="tooltip"] {
            color: inherit;
        }
    } 
}

#upload_files_container {
  text-indent: 16px;
}

// ############## *CLASSES ################## 

.alert {
  margin-top:0;
  border-radius: 0;
}
.accordion-group {
  .border-custom;
}

.accordion-inner {
  .border-custom;
  border-right:none;
  border-bottom:none;
  border-left:none;
}
.border-radius (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;
}
.bgBox {
  border-radius: 0!important;
  //background: #b3c4db url('../img/NM-BG.png') repeat top left!important;
}
.box-loose {
  border-radius: 0!important;
  border: 1px solid @borderColor;
}
.border-custom {
  border: 1px solid @borderColor;
}
.capitalize-none {
  text-transform: none!important;
}
.element-center {
  display: block;
  margin: 0 auto;
}
.eligibility-well {
  background: @white;
  box-shadow: none;
  border-radius: 0;
  border-top: 2px solid @themeAccentColor;
}
.inline-block {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.line {
  .border-custom;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.margin5-t {
  margin-top: 5px;
}
.margin5-r {
  margin-right: 5px;
}
.margin5-b {
  margin-bottom: 5px;
}
.margin5-l {
  margin-left: 5px;
}
.plans-container {
  .border-custom;
  border-top:none;
  border-bottom: none;
}
.plus { //was added due to the HIX-25712, issue on the page manageRepresentative.jsp
  &:before{
    content:"\f067";
    font-family: FontAwesome;
    color: #fff;
    font-size: 11px;
    position: relative;
    left: -2px;
    top: 0px;
  }
}
.small {
  //font-family: @sansFontFamily-2;
  font-size: 10px;
}
p.small {
  font-size:12px;
}
.reset-rounded-corners (@radius: 0px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.topnav {
  a {
    cursor: text;
  }
}
.totalTable {
  border-right: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;
  border-left: 1px solid @borderColor;
}
.thumbnail {
  .border-custom;
}
.well {
  border-radius: 0;
}
.well-custom {
  background: transparent;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  border: none;
}
.width100 {
  width: 100px;
}
.width200 {
  width: 200px;
}
.width300 {
  width: 300px;
}
.width400 {
  width: 400px;
}
.width500 {
  width: 500px;
}
.width600 {
  width: 600px;
}
.width700 {
  width: 700px;
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *ICONS
// #
// # /resources/images/ms_agent_homepage.jpg
// #
// ########################################################################################################

@iconColor: darken(#82a4c9, 10%);
.mixins-icons-color {color: darken(#82a4c9, 10%);}

a [class^="icon-"],
a [class*=" icon-"] {
  text-decoration: none;
  font-size: 14px;
}
.active a .icon-ok {color:#666;}
.icon-question-sign {.mixins-icons-color;}
.icon-cog {.mixins-icons-color;}
.icon-share-alt, //Both icons located on the /broker/dashboard page, under Quick Links. Anywhere else??
.icon-user {color: orange!important;}
.icon-eye-open {color: #666;}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HEADERS
// #
// #
// #
// ########################################################################################################

@titleBarBorderColor:       #82a4c9;
@mainHeaderBgColor:         #82a4c9;
@mainHeaderFontColor:       #fff;
.mixins-header-font-size {font-size: 13px;}
.mixins-header {
  font-family: @sansFontFamily-1; 
  font-weight: 400!important;
}

// This is a horizontal line located under main page header (example would be line under "login")
#titlebar, 
#main.titlebar,
.titlebar {
  border-bottom: 1px solid lighten(@titleBarBorderColor, 15%);
  width:100%;
  margin-bottom: 20px;
}

//This is a header box styling. 
//Also see additional header styling in RIGHTPANEL section
#sidebar h4,  
#sidebar .header,
#sidebar .header h4,
#sidebar .accordion-heading a, //this is located in SHOP 
.header,
.graydrkbg,
.table th{
  .mixins-header;
  .mixins-header-font-size;
  min-height: 20px;
  background: @mainHeaderBgColor!important;
  color: @mainHeaderFontColor!important;
  i {
    color: #fff;
  }
}







// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *MASTHEAD
// #          Theme colors, mixins located below.
// #
// #
// ########################################################################################################
@mastheadOne:       #fff; 
@mastheadTwo:       #70b5e1;  
@mastheadBorder:    #82a4c9;
@mastheadLinkColor: #444;
@mastheadLinkHoverColor: darken(#82a4c9, 15%);
@mastheadDropdownLinkColor: #444;
@mastheadDropdownLinkHoverColor: #fff;
@mastheadDropdownHoverBg: darken(#82a4c9, 15%);

.mixin-masthead-text-shadow (@string: 1px -1px 0px fade(darken(@mastheadOne,10%), 90%)) {
    text-shadow: @string;
}
.mixin-masthead-box-shadow (@string: -1px 1px 0px fade(darken(@mastheadOne,10%), 90%)) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

#masthead {
//This is used to overwrite ghixcustom.css - could it be removed from there?
  &.navbar {
    border-bottom: none!important;
  }
//This is Logo Area
  .brand { 
    position:absolute;
    top:0;
    left:45px;
    padding:13px 10px 8px 10px;
    max-width: none;
  }
//This is a Masthead area itself: background with border 
  .navbar-inner { 
    background: @mastheadOne;
    border-bottom: 1px solid @mastheadBorder;
    min-height: 80px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  }
//This is a Masthead menu (Login/Logout, Inbox, My Account etc.)
  .nav {
    li {
      //This is the top level menu link container
      &.dropdown.open > .dropdown-toggle {
        background: none;
        text-shadow: none;
        box-shadow: none;
      }
       //This is the top level menu link itself(Inbox/My Account, etc)
      a {
        color: @mastheadLinkColor;
        text-transform: uppercase;
        margin: 28px 20px 0 0;
        text-shadow: none;
        &:hover {
           color: @mastheadLinkHoverColor;
        }
      }
    }
    #masthead-inbox {
        a { 
            color: transparent; //this is to hide the 'Inbox' word
            font-size: 0;
            padding: 6px 10px!important;
            position: relative;
            top: 4px;
            i.icon-envelope { //this is the envelope 
                position: relative;
                font-size: @fontSizeH3;
                color: @fontColor;
                &:after { //this is the lock
                    content: "\f023";
                    font-family: @iconFont;
                    color: @fontColor;
                    font-size: @fontSize;
                    position: absolute;
                    bottom: -3px;
                    left: -2px;
                    .mixin-masthead-text-shadow;
                }
            }
            .unreadRecords { //this is unread emails count number
                @bubbleDimensions: 18px;
                color: @white;
                font-family: @serifFontFamily-1; 
                font-size: @fontSizeSmall;
                background: @themeAccentColor;
                width: @bubbleDimensions;
                height: @bubbleDimensions;
                text-align: center;
                border-radius: @bubbleDimensions / 2;
                line-height: @bubbleDimensions;
                position: absolute;
                top: -2px;
                right: 0px;
                .inline-block;
                .mixin-masthead-box-shadow;
            }
        }
    }
    .dropdown-toggle {
      //This is the carot loacted next to the main link in it hover and original states
      &:hover {
        .caret {
          border-bottom-color: @black;
          border-top-color: @black;
        }
      }
      .caret {
        border-bottom-color: @black;
        border-top-color: @black;
        margin-top: 8px;
      }
    }
    .dropdown-menu {
      //This is the dropdown menu link container
      border-radius: 0;
      //This is the dropdown link itself(Help Center, Phone Number, etc.)
      li a {
        color: @mastheadDropdownLinkColor;
        margin: 0;
        padding: 10px 0 10px 10px;
        &:hover,
        &:focus {
          background: @mastheadDropdownHoverBg;
          color: @mastheadDropdownLinkHoverColor;
        }
      }
    }
  }
}

//.dropdown-submenu:hover > a - what is it? find the right place for it

.second-menu-ms {
    top: 24px;
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          HELPBAR -  located right below the masthead with general help links (find agent, ? , ...) - currently disabled for NM theme, commented out to keep css clean.
// #                     Please uncomment if required.
// #
// #
// ########################################################################################################

//#navhelp {
//  h2 {
//    border-bottom: 1px solid fade(@white, 75%);
//  }
//  .nav {
//    li {
//      .help-panel {
//        background-color:@blueDark;
//        padding:10px 15px 15px 15px;
//        &:after {
//          border-bottom: 6px solid @blueDark;
//        }
//        h3 {
//          a {
//            color: @white;
//          }
//        }
//        a {
//          color: fade(@white, 85%);
//          &:hover {
//            color:@white;
//          }
//        }
//      }
//    }
//  }
//  .dropdown-submenu {
//    &:hover {
//      a {
//        background-color: @blue;
//      }
//    }
//  }
//}

//.help-shortcut:hover > span.help-icon,
//.help-shortcut:active > span.help-icon,
//.help-shortcut:focus > span.help-icon {
//  color: @white;
//}

//affects masthead
//.dropdown-menu li > a:hover, 
//.dropdown-menu li > a:focus, 
//.dropdown-submenu:hover > a {
//  color: @colorThree;
//  background: none;
//}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #      *NAVIGATION BAR - located on the top of each page, right above #sidebar and #righpanel (HOME/EMPLOYERS/MY INFO : example of the content)
// #
// #
// #
// ######################################################################################################## 
@navigationOne:       #629fc6; //blue  
@navigationTwo:       #70b5e1; //blue darker 
@navigationBorder:    darken(@navigationBgColor, 5%);
@navigationBgColor:   #dedbd1;
@navigationLinkColor: #5a5a5a;
@navigationLinkActiveColor: darken(#82a4c9, 15%);
@navigationDropdowHoverBgColor: darken(#82a4c9, 15%);
  
.mixins-nav-bar-bg {
  background: @navigationBgColor;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
.mixins-nav-bar-border {border: 1px solid @navigationBorder;} 

#menu { //same id used for the "HOMEPAGE" - menu nav
  margin-bottom: 0;
  margin-top: 16px;
  .navbar-inner { //This is nav bar box - bg color, font color and family...
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    font-family: @sansFontFamily-1;
    .mixins-nav-bar-border;
    .mixins-nav-bar-bg;
    .nav {
      li a {
        color: @navigationLinkColor;
        text-shadow: none;
        padding-left: 14px;
        padding-right: 14px;
      }
      li a i.caret {
        border-top-color: @navigationLinkColor;
        border-bottom-color: @navigationLinkColor;
      }
      li.active a{ // This is a active links
        box-shadow: none;
        background: none;
        color: @navigationLinkActiveColor;

      }
      li.active a i.caret{ //This is a active link carots
        border-top-color: @navigationLinkActiveColor!important;
        border-bottom-color: @navigationLinkActiveColor!important;
      }
      li.open a{ // This is a hover/open links
        background: transparent;
        color: @navigationLinkActiveColor;
      }
      li.open a i.caret { //This is a hover/open link caret
        border-top-color: @navigationLinkActiveColor;
        border-bottom-color: @navigationLinkActiveColor;
      }
      .dropdown-menu { //This is dropdown down menu when you click on the link/caret
        border-radius: 0;
        padding: 0;
        a {
          padding: 8px 20px;
          color: #666;
          border-bottom: @borderColor;
          &:hover {
            background: @navigationDropdowHoverBgColor;
            color: @white;
          }
        }
      }
    }
  }
  //Styles below is being applied to the dropdown menu links, 
  .navbar .nav li.dropdown.open > .dropdown-toggle, 
  .navbar .nav li.dropdown.active > .dropdown-toggle, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open > .dropdown-toggle a, 
  .navbar .nav li.dropdown.active > .dropdown-toggle a,
  .navbar .nav li.dropdown.active > .dropdown-toggle a i.caret, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle a, {
    background: none!important;
    text-shadow: none!important;
    color: orange!important;
  }
  a[title="Home"],
  a[title="Issuer Home"]{
    font-size: 0;
    color: transparent;
    position: relative;
    margin-right: 10px;
    &:after {
      content: "\f015";
      font-family: FontAwesome;
      font-size: 14px;
      color: inherit;
      position: absolute;
    }
  }
}



.header-reset {
  padding-top: 7px;
  border-left: none;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *BREADCRUMBS  - Currently disabled! Styles are commented out to keep main css clean.
// #
// #
// #
// ########################################################################################################

#breadcrumbs,
.breadcrumb, 
.page-breadcrumb {
  display: none;
}

//.page-breadcrumb {
//  position:relative;
//  top:-10px;
//  li {
//    font-size: 11px;
//  }
//}

//#breadcrumbs .nav-pills {
//  border: 1px solid lighten(desaturate(@colorThree, 60%), 42%);
//  border-top:none;
//  border-right:none;
//  border-left:none;
//  margin-bottom:0;
//}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *BUTTONS
// #
// #
// #
// ########################################################################################################

.mixins-button-font-size {font-size: 13px;}
.mixins-button-font {font-family: "Raleway", Arial, sans-serif!important;}

.mixins-primary-btn-font-color {color: #fff;}
.mixins-primary-btn-bg {background: #1d73b6;}
.mixins-primary-btn-bg-hover {background: #1b69a6;}
.mixins-primary-btn-border {border: 1px solid #1b6aa8;}

.mixins-primary-btn-active-bg {background: #d37100;}
.mixins-primary-btn-active-font-color {color: #fff;}
.mixins-primary-btn-active-border {border: 1px solid #d37100;}

.mixins-secondary-btn-border {border: 1px solid #dedede;}
.mixins-secondary-btn-bg {background: #f1f1f1;}
.mixins-secondary-btn-bg-hover {background: #ececec;}
.mixins-secondary-btn-font-color {color: #7a7a7a;}



.btn {
  .mixins-secondary-btn-border;
  .mixins-secondary-btn-bg;
  .mixins-secondary-btn-font-color; 
  //.mixins-button-font; //commented out due to the HIX-16175 - in plan dislplay <a> element has both .btn and .icon-cog classes and this is the reson why icons is not showing...
  text-shadow: none;
  //padding: 10px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  &:hover,
  &:focus {
    .mixins-secondary-btn-bg-hover;
  }
}

.btn-primary{
  .mixins-primary-btn-font-color;
  .mixins-primary-btn-bg;
  .mixins-primary-btn-border;
  text-shadow:none;
  text-transform: uppercase;
  border-radius: 0 !important;
  font-weight: 600;
  &:hover,
  &:focus { //"&" means ---> .btn-primary:hover, .btn-primary:hover
    .mixins-primary-btn-bg-hover;
  }
  i.icon-cog, // this is when icons are located within the primary button...
  i.caret {
    color: #fff;
  }
}

a.btn.active {
  .mixins-primary-btn-active-bg;
  .mixins-primary-btn-active-border;
  box-shadow: none;
}

.btn-small {
  border-radius: 0;
}

.header .btn {
  .mixins-button-font;
  font-weight: normal;
}

.plan .btn {
  padding: 4px 7px;
  .mixins-button-font-size;
}

a.btn-danger,
a.btn-mini.btn-primary {
  [class^="icon-"], a [class*="icon-"] {
    color: @white;
    &:hover {
      color: inherit;
    }
  }
  &:hover {
    color: @white;
  }
}

.btn-custom {
  display: inline-block;
  padding: 5px 14px;
  margin-top:10px;
  min-width: 4px;
  .border-custom;
  .border-radius;
  .mixins-primary-btn-bg;
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *SIDEBAR
// #
// #
// #
// ########################################################################################################

@sidebarActiveBgColor:      #e2dfd7;
.mixins-sidebar-font-color {color: #666!important;}
.mixins-sidebar-font-size {font-size: 13px;}


// This is a sidebar menu
#sidebar {
  .nav-list {
    li {
      background: @white!important;
      .border-custom;
      border-top: none;
      padding: 10px;
      .mixins-sidebar-font-color;
      .mixins-sidebar-font-size;
      &:hover { //"&" means ---> li:hover
        text-decoration: none;
      }
      a {
        .mixins-sidebar-font-color;
      }
      a:hover {
        background: @white!important;
      }
    }
    .active {
      background: @sidebarActiveBgColor!important;
      margin-left: 0;
      font-weight: normal;
      .mixins-sidebar-font-color;
      .mixins-sidebar-font-size;
      a, a:hover {
        font-weight: normal;
        text-shadow: none;
        background: transparent!important;
        .mixins-sidebar-font-color;
        .mixins-sidebar-font-size;
      }
    }
  }
  #list-2 {
    margin-top: 20px;
  }
  .box-tight { //to overwrite in ghixcustom.css
    border-radius: 0!important;
    border-color: #ebedef!important;
  }
  .header { //this added in order for the .header withouth the h4 tag to be the same height, with text in the middle.
    min-height: 40px;
    line-height: 40px;
  }
  form { //located here: /hix/admin/manageissuer
    border: 1px solid #ebedef;
    border-top: none;
    legend {
      .mixins-header;
    }
  } 
  #frmSecureInbox {
    border: none;
  }
  form {
    &#uploadDocumentModal {
      margin:0;
    }
  } 
}



table#brokerStatusHistory {
  .border-custom;
}


//.graybg {
//  .background-custom;
//}





input[type="radio"] {
  margin: 0 5px 0 0;
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *RIGHTPANEL
// #
// #
// #
// ########################################################################################################
.mixins-rightpanel-subhead-bg {background: #e2dfd7;}

#rightpanel {
  h4 {
    padding:10px;
    border-top: 1px solid #65a2be;
    .mixins-rightpanel-subhead-bg;
    .mixins-header;
    .mixins-header-font-size;
    a.btn {
      font-family: @sansFontFamily-2; 
    }
  }
  a.btn {
    margin: 0 5px;
  }
  .header a.btn,
  .header input[type="submit"],
  button.btn.btn-small { //this maddness located on shop/spplanselection/editmyinfo
    margin: 10px;
    border-radius: 0;
    .mixins-button-font;
  }
  .graydrkaction, 
  .graylightaction, 
  .header {  
    height:40px; //This specific height is used when inside the <div class="header"> present <h4> + <a class="btn">. Testing needed tho....
    background: @mainHeaderBgColor!important;
    margin-bottom: 20px;
    h4 {
      background: none;
      border-top: none;
    }
    a.btn {
      .mixins-secondary-btn-bg;
    }
    a.btn-primary {
      .mixins-primary-btn-bg;
    }
  }
  .table td h4 { //This styling is applied to agents names located in the table td.....
    background: none;
    border-top: none;
    padding: 0;
    font-size: 18px!important;
  }
  .light{
    opacity: 1!important;
  }
  .accordion-header {
    .mixins-rightpanel-subhead-bg;
  }
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          *HOMEPAGE
// #
// #
// #
// ########################################################################################################
@sliderMenuItemBackground : #dedbd0;
@sliderMenuItemBorderColor: #e8e8e8;
@sliderMenuItemActiveBackground:#7799c6;
@sliderMenuItemTextColor: #6d614c;
@sliderMenuItemActiveTextColor: #fff;


.home-slider{
  .slide {
    width: 27%;
    margin: 5% 1%;
    padding: 2%;
    border: 1px solid @sliderMenuItemBorderColor;
    float: left;
    height: 450px;
    position: relative;
    h1 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
    }
    h2 {
      margin-left:0;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 88%;
      margin-left: 6%;
      margin-bottom: 5%;
    }
    .btn {
      width: 79%;
      position: absolute;
      top: 235px;
    }
  }
  #menu { //same id used for the "navbar", so be careful!
    ul{
      background: @sliderMenuItemBackground;
      border:1px solid @sliderMenuItemBorderColor;
      background-image: none;
    }
    li{
      overflow: visible;
      padding: 15px 0 !important;
      &.act a {
        .reset-rounded-corners !important;
        border: 0;
        background: @sliderMenuItemActiveBackground;
        padding:15px 20px;
        color: @sliderMenuItemActiveTextColor;
        //border-radius: 5px;
      }
      &.menuItem{
        text-transform: uppercase;
      }
      a{
        color:@sliderMenuItemTextColor;
        font-family: @sansFontFamily-1;
        font-weight: 600;
      }
    }

  }
}



.container #menu ul li.act a {
  /**/
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PLANSELECTION: specific styles for PS goes in here
// #
// #
// #
// ########################################################################################################

.mixins-PS-insert-box-shadow {
  box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  -webkit-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  -moz-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
}

#planSelect {
  #titlebar:after{
    border-bottom: none;
    position:static;
    width: auto;
  }
    .scroll-left-arrow,
    .scroll-right-arrow {
      background: transparent;
      &:hover { //"&" means ---> #planSelect:hover
        background: transparent;
      }
    }
    .icon-arrow-left,
    .icon-arrow-right {
      //color: @white; //commented out due hix-17966
      opacity: 1!important;
    }
  }

.plan a.addtofav.addedToFav {
  background: @colorTwo;
  color: @white;
  .mixins-PS-insert-box-shadow;
}

.intro-indiv h4, 
#titlebar h3,
h3#titlebar 
{
  color: #4f4f4f; //to overite ghixcustom.css
}


.plans-section-header h3 {
  .border-custom;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: lighten(desaturate(@colorThree, 40%), 50%);
  margin:0;
  padding-left:15px;
  color: darken(@colorThreeDark, 5%)!important;
  font-size: 14px;
} 

.tile {
  .plan-options {
    .table {
      .th {
        a {
          font-family: @sansFontFamily-1!important;
          color: @linksColor!important;
        }
      }
    }
  }
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PREFERENCES 
// #        *PROGRESSBARWRAP  !important used to overwrite tiles.css - sorry =(
// #
// ########################################################################################################

@preferencesProgressBarBg:       #e7e7e7;
@preferencesProgressBarActiveBG:    #b8b8b8;


#progressbarwrap{
      top:64px;
      background:@preferencesProgressBarBg;
      .progressbar{
        li{
          font-size:@fontSize;
          padding:11px 10px;
          font-weight:300;
          &.active{
            background-color:@preferencesProgressBarActiveBG;
            a{
              color:@white;
            }
          }
          a{
            color:@preferencesProgressBarActiveBG;
          }
        }
      }
      + div{
        padding-top:24px;
      }
   }
#preferencesForm{
   .top-nav {
    box-shadow:0 0px 4px rgba(0, 0, 0, 0.07);
    color:@preferencesProgressBarActiveBG;
      h1{
        font-family: @serifFontFamily-1!important;
        font-size: @fontSizeH2 !important;
        margin-top:12px;
      }
    }
 }

 #myPereferences{
    .carousel-inner{
      .item{
        h4 {
          color: @fontColor;
        }
        a[rel~="tooltip"]{
          color: @linksColor;
          border-color: @linksColor;
        }
      }
    }
 }

.sticky-wrapper {
  h1 {
    font-family: @serifFontFamily-1!important;
    font-size: @fontSizeH2 !important;
  }
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PLANDISPLAY: 
// #
// #
// ########################################################################################################

.plans-section-content {
  .label-info {
    font-size: 13px;
    font-family: @sansFontFamily-1;
    font-weight: normal !important;
    background: @errorBackground;
    color: @errorText;
    border: @errorBorder;
    .border-radius;
  }
  h3 {
    text-transform: none;
  }
  .plan {
    overflow-y: hidden;
  }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *PLANDISPLAY/BENCHMARKPLAN & TIERDETAILS: 
// #        styles for plandisplay pages located in shopstyles.css
// #
// ########################################################################################################

@planDisplayHeaderBgColor: #e2dfd7;
@planDisplayHeaderFontColor: #4f4f4f;
@planDisplayHeaderNavIconsColor: #1d73b6;

#benchmark,
#tierdetails {
    #titlebar {
        background: @planDisplayHeaderBgColor;
        h3 {
            color: @planDisplayHeaderFontColor;
        }
        span#sort {
            float: right;
        }
    }
    .scroll-right-arrow-wrapper,
    .scroll-left-arrow-wrapper {
        height: 112px;
        background: @planDisplayHeaderBgColor;
        .scroll-left-arrow,
        .scroll-right-arrow {
            background: none;
            &:hover {
                background: inherit;
            }
            h1 {
                color: @planDisplayHeaderNavIconsColor;
                i {
                    color: inherit;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

#tierdetails {
    #titlebar {
      margin-bottom: 0;
    }
    .plans-section {
        border-left: 1px solid @borderColor;
        table.planNameWrap {
          td.planName {
            text-align: center!important;
          }
        }
    }
}

#plansbar,
#benchmark,
#tierdetails {
  #pagination {
    li {
      &.active {
        a {
          color: #4f4f4f!important;
        }
      }
      a {
        &:hover {
          color: #333!important;
        }
      }
    }
  }
}

// #benchmark .plans-top-wrapper #titlebar {
//   background: #e2dfd7;
// }
// #benchmark .plans-top-wrapper #titlebar #plansbar h3#Nplans {
//   color: #4f4f4f;
// }
// #benchmark .plans-top-wrapper #titlebar #plansbar span#sort {
//   float: right;
// }
// #benchmark .plans-top-wrapper .scroll-right-arrow-wrapper, 
// #benchmark .plans-top-wrapper .scroll-left-arrow-wrapper {
//   height: 112px;
//   background: #e2dfd7;
// }
// #benchmark .plans-top-wrapper .scroll-left-arrow, 
// #benchmark .plans-top-wrapper .scroll-right-arrow,
// #benchmark .plans-top-wrapper .scroll-left-arrow:hover, 
// #benchmark .plans-top-wrapper .scroll-right-arrow:hover {
//   background: none;
// }
// #benchmark .plans-top-wrapper .scroll-left-arrow h1.nextprev,
// #benchmark .plans-top-wrapper .scroll-right-arrow h1.nextprev,
// #benchmark .plans-top-wrapper .scroll-left-arrow h1 i.icon-chevron-left,
// #benchmark .plans-top-wrapper .scroll-right-arrow h1 i.icon-chevron-right {
//   color: #1d73b6;
// }
// #benchmark .plans-top-wrapper .scroll-left-arrow h1 i.icon-chevron-left:hover,
// #benchmark .plans-top-wrapper .scroll-left-arrow h1 i.icon-chevron-right:hover {
//   color: #1d73b6;
//   opacity: 0.8;
// }



// #tierdetails .plans-top-wrapper #titlebar {
//   background: #e2dfd7;
//   margin-bottom: 0;
// }
// #tierdetails .plans-top-wrapper #titlebar #plansbar h3#Nplans {
//   color: #4f4f4f;
// }
// #tierdetails .plans-top-wrapper .scroll-right-arrow-wrapper, 
// #tierdetails .plans-top-wrapper .scroll-left-arrow-wrapper {
//   height: 112px;
//   background: #e2dfd7;
// }

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #        *SHOP: 
// #
// #
// ########################################################################################################

.enrollmentPeriodDate { //!important used to overwrite ghixcustom.css - will need to remove....
  border-radius: 0!important;
  &:hover {
    border-color: @borderColor!important;
    background-image: none!important;
    background: #f7f7f7;
  }
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *SHOP *BUBBLE-NAV:
// #         
// #
// #
// ########################################################################################################

@bubbleNavShopBorderColor: #e2dfd7;
@bubbleNavShopActiveBg: #e2dfd7;
@bubbleNavShopActiveFontColor: @fontColor;

.bubble-nav-shop {
  margin-top: 40px;
  .alert {
    margin-top: 10px;
  }
  .nav {
    margin-bottom: 0px;
    border-bottom: none;
    border-bottom: 4px solid @bubbleNavShopBorderColor;
    li {
      &:first-child {
        margin-left: 2%;
      }
    }
    a {
      padding: 8px 40px;
      border-color: @borderColor;
      border-bottom: 1px solid @borderColor;
      margin: 0 2px;
      font-family: @serifFontFamily-1;
      font-size: 16px;
      &:hover {
        border-bottom-color: none;
        background: darken(#fff, 2%);
      }
    }
    .active {
      a {
        border-color: @bubbleNavShopBorderColor;
        border-bottom: 1px solid @bubbleNavShopActiveBg;
        background: @bubbleNavShopActiveBg;
        color: @bubbleNavShopActiveFontColor;
        &:hover {
          border: 1px solid darken(@bubbleNavShopBorderColor, 5%);
          border-bottom: 1px solid @bubbleNavShopBorderColor;
        }
      }
    }
  }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *SHOP *Employer Renewal:
// #         
// #
// #
// ########################################################################################################

.horizontalSliderWrapper {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 450px;
    margin: 0 auto;
    padding-top: 40px;
    .horizontalSlider {
        width: 740px;
    }
}
.lowestPricePlan,
.highestPricePlan {
    width: 50px;
    font-size: @fontSizeSmall;
    width: 70px;
    .inline-block;
}
.loadingImg {
    img {
        width: 44px;
    }
}

#collapseFive {
    position: relative;
    .lowestPricePlan {
        position: absolute;
        top: 110px;
        left: 20px;
    }
    .highestPricePlan {
        position: absolute;
        top: 110px;
        right: 20px;
    }
}
#gettingStartedChoice {
    input[type="radio"] {
        margin-top: 2px;
    }
    h5 {
        font-family: @serifFontFamily-1;
    }
}
#gettingStartedConfirm {
  @alertBoxHeight: 44px;
  .alert {
    margin-top: 40px;
    height: @alertBoxHeight;
    font-family: @serifFontFamily-1; 
    li {
      line-height: 32px;
      font-size: @fontSizeH4;
      width: 130px;
      text-align: center;
      background: @white;
      border: 1px solid #bce8f1;
      margin: 6px 4px;
      .border-radius(3px);
    }
  }
}
#coverageSetupChoice {
    input[type="radio"] {
        margin-top: 2px;
    }
    input[type="checkbox"] {
        margin-top: -2px;
        margin-right: 6px;
    }
}
#coverageSetupSuggestions {
  .img-polaroid {
    .border-radius(3px);
    background: #02999a;
    color: @white;
    &#yourCostWrapper {
      background: #333333;
    }
    &#taxCreditWrapper {
        a{
          color: @white;
          border-bottom: 1px dotted @white;
        }
      } 
    ul {
      list-style-type: none;
      text-align: center;
      margin: 0;
      li {
        &:first-child {
          font-size: @fontSize;
          margin-bottom: 6px;
        }
        &:last-child {
            margin-top: 4px;
            font-size: @fontSizeSmall;
            display: block;
        }
        span {
            font-size: @fontSizeH1 + 4px;
            font-family: @serifFontFamily-1;
            display: block;
            margin-bottom: 4px;
        }
      }
    }
  }
}

#coverageSetupAccordion {
  @accordionBoxHeight: 44px;
  ul {
    list-style-type: none;
  }
  .accordion-group {
    border: none;
  }
  .accordion-heading {
    height: @accordionBoxHeight;
    background: lighten(@borderColor, 7%);
    border: 1px solid @borderColor;
    span {
      line-height: @accordionBoxHeight;
      margin-left: 10px;
      &.pull-left {
        font-family: @serifFontFamily-1;
      }
    }
    .accordion-toggle {
      padding: 2px 10px;
      margin: 9px;
      width: 90px;
    }
  }
  .accordion-inner {
    border: none;
  }
  .enrollmentPeriodDate {
    margin-bottom: 10px;
    .border-radius(3px);
  }
  .planChoice {
    margin: 0 0 10px 14px;
    width: 19%;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px;
    .border-radius(3px);
    &:hover {
      border-color: @borderColor;
      background-image: none!important;
      background: #f7f7f7;
    }
  }
  .costBasisView {
    @costBasisTileHeight: 60px;
    @costBasisTileWidth: 36px;
    font-size: @fontSizeSmall;
    li {
        border: 1px solid @borderColor;
        background-color: @white;
        color: @fontColor;
        width: @costBasisTileWidth;
        height: @costBasisTileHeight;
        line-height: @costBasisTileHeight;
        display: inline-block;
        .border-radius(3px);
        &.active {
            background: @linksColor;
            border-color: darken(@linksColor, 4%);
            color: @white;
            position: relative;
            &:before {
              content: "Average Premium";
              width: 50px;
              display: inline-block;
              position: absolute;
              top: -38px;
              left: -2px;
              line-height: 16px;
              text-align: center;
              color: @fontColor;
            }
            &:after {
                content: '\f0d8';
                font-family: @iconFont;
                font-size: 30px;
                position: absolute;
                bottom: -36px;
                left: 10px;
                color: darken(#fbeed5, 5%);
            }
        }
        &:hover {
            background: @white;
            border-color: @linksColor;
            color: @linksColor;
            position: relative;
            &:before {
              content: "Average Premium";
              width: 50px;
              display: inline-block;
              position: absolute;
              top: -38px;
              left: -2px;
              line-height: 16px;
              text-align: center;
              color: lighten(@fontColor, 25%);
            }
        }
        a {
            height: 100%;
            width: 100%;
            color: inherit;
            display: inline-block;
            text-align: center;
            &:hover {
              color: inherit;
            }
        }
    }
  }
  .alert {
    width: 80%;
    margin: 0 auto;
  }
  .nextCoverageInfo {
    li {
      line-height: 34px;
      width: 500px;
      span {
        //font-family: @serifFontFamily-1;
        //font-size: @fontSizeH4;
        font-weight: 700;
      }
    }
  }
}

.slider-home {
    margin: 20px 0 30px;
    text-align: center;
    a {
        outline:none;
        -moz-outline-style:none;
    }
    .ui-widget-header {
        border: none;
        background: #C29E08;
        height: 100%;
    }
    .sliderTowardsEmployees,
    .sliderTowardsDependents,
    .sliderTowardsEmployeesDental,
    .sliderTowardsDependentsDental {
        //width:100%;
        height:40px;
        position:relative;
        margin:0;
        //padding:0 10px;
        .border-radius(2px);
    }
    .ui-slider-handle {
        width:24px;
        height:50px;
        position:absolute;
        top:-7px;
        margin-left:-12px;
        z-index:200;
        background: #F6F6F6;
        border: 1px solid #CCCCCC;
    }
    .contributionTowardsEmployeesResult,
    .contributionTowardsDependentsResult,
    .contributionTowardsEmployeesDentalResult,
    .contributionTowardsDependentsDentalResult {
        font-family: @serifFontFamily-1;
        font-size: 40px;
        line-height: 40px;
        
    }
}

.contributionTowardsEmployeesResult,
.contributionTowardsDependentsResult {
    &:after {
        content: "%";
    }
}
.contributionTowardsEmployeesDentalResult,
.contributionTowardsDependentsDentalResult {
    &:after {
        content: "/month";
        font-size: @fontSize;
    }
    &:before {
        content: "$";
    }
    &.span3 {
        &:after {
            font-size: 16px;
        }
    }
}

.eSignatureResults {
    //background: lighten(@subHeaderBGColor, 1.5%);
}

#reviewConfirm {
    dt {
        text-indent: 10px;
        font-weight: 400;
    }
    dd {
        font-weight: 700;
        span {
            display: block;
        }
        small {
            font-weight: 400;
        }
    }
} 

//sub-header
@subHeaderHeight:       40px;
@subHeaderBGColor:      lighten(@mainHeaderBgColor, 3.5%);
.mixin-sub-header {
    font-family: @serifFontFamily-1; 
    font-weight: normal!important;
    background: @subHeaderBGColor;
    border-bottom: 1px solid @themeAccentColor;
    height: @subHeaderHeight;
    font-size: @fontSize;
    margin: 0 0 30px;
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *CALENDAR within rightpanel
// #
// #
// #
// ########################################################################################################
@calendarOne:           #66abe2; //blue
@calendarTwo:           #5894c3; //darker blue
@calendarContentColor:  #666;
@calendarContentBorder: #333;

.mixins-calendar-gradient (@startColor: @calendarOne, @endColor: @calendarTwo) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
  }

.calSheet {
  .month {
    .mixins-calendar-gradient;
    border: 1px solid @calendarTwo;
    border-radius: 2px 2px 0 0;
    color: @white;
  }
  .day {
    border-radius: 0 0 2px 2px;
    border-right: 1px solid lighten(@calendarContentBorder, 10%);
    border-bottom: 1px solid @calendarContentBorder;
    border-left: 1px solid @calendarContentBorder;
    color: @calendarContentColor;
    font-weight: bold;
    letter-spacing: -0.1em;
    line-height: 1.4em;
  }
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *TABLE within rightpanel
// #
// #
// #
// ########################################################################################################
.mixins-table-font-size {font-size: 13px;}
.mixins-table-tr-font {font-family: Arial, sans-serif!important;}
.mixins-table-th-font {font-family: "Raleway", Arial, sans-serif!important;}
.mixins-table-th-font-color {color: #fff!important;}
.mixins-table-tr-bg {background: lighten(desaturate(@colorThree, 40%), 52%);}


.table{
  border: 1px solid #ebedef;
  margin-bottom: 15px!important;
  th{
    &.sortable {
      &.order1 { //down
        a {
          &:hover {
            &:after {
              color: #444!important;
            }
          }
          &:after {
            content: "\f0dd";
            font-family: FontAwesome;
            color: #555;
            position: absolute;
            margin-left: 4px;
            margin-top: -3px;
            font-size: 18px;
          }
        }
      }
      &.order2 { //up
        a {
          &:hover {
            &:after {
              color: #444!important;
            }
          }
          &:after {
            content: "\f0de";
            font-family: FontAwesome;
            color: #555;
            position: absolute;
            margin-left: 4px;
            margin-top: 4px;
            font-size: 18px;
          }
        }
      }
      a {
        position: relative;
        &:hover {
          text-decoration: none;
          &:after {
            //color: darken(@white, 8%)!important;
          }
        }
        &:after {
          content: "\f0dc";
          font-family: FontAwesome;
          color: @white;
          /*position: absolute;*/
          margin-left: 4px;
          font-size:12px;
        }
      }
      img {
        display:none;
      }
    }
    a {
      background: none!important; //important added to overwrite inline styles added to some pages. Example: /hix/admin/manageissuer 
      font-weight: normal;
      .mixins-table-th-font-color;
      .mixins-table-th-font; 
      &.btn { //"&" means that a has class btn ---> <a class="btn">
        .mixins-secondary-btn-border;
        .mixins-secondary-btn-bg;
        .mixins-secondary-btn-font-color;
      }
    }
    &.txt-right {
        text-transform: capitalize;
    }
  }
  td {
    h4 {
      background: none;
    }
    .border-custom;
      font-size: 12px;
      border-right: none;
      border-bottom: none;
      border-left:none;
    .caret{
      border-top: 4px solid @iconColor;
    }
    .dropdown-menu li > a:hover { //this is a dropdown menu located in tables (cog element --> hover --> will see this)
      background: none;
      color:@linkColorHover;
    }
    &.txt-right {
        text-transform: capitalize;
    }
  }
  thead {
    tr {
      th {
        font-size: 13px!important;
      }
    }
  }
  tbody {
    tr {
      th {
        background: @white!important;
      }
    }
    th {
      .mixins-table-tr-font;
      color: #5a5a5a!important;
    }
  }
}

.lightgray, 
.table-striped tbody > tr:nth-child(odd) > td, 
.table-striped tbody > tr:nth-child(odd) > th {
  .mixins-table-tr-bg;
}

.graydrkbg thead tr, 
thead tr.graydrkbg {
  border-top: none;
  border-bottom: none;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *FORMS within rightpanel
// #
// #
// #
// ########################################################################################################
.form-actions {
  .border-custom;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 10px;
}





// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *PAGINATION within rightpanel
// #
// #
// #
// ########################################################################################################

@paginationActiveBgColor:   #c29e08;
@paginatinActiveFontColor:  #fff;

.pagination ul > li > a, 
.pagination ul > li > span {
  .border-custom;
  color: @colorFour;
}

.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
  border-radius:0!important;
}
 
.pagination ul > .active > a, 
.pagination ul > .active > span {
  background: @paginationActiveBgColor;
  color: @paginatinActiveFontColor;
}
.pagination ul > li > a:hover {
  background: desaturate(@paginationActiveBgColor, 5%);
  color: @paginatinActiveFontColor;
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *FOOTER
// #
// #
// #
// ########################################################################################################

@footerBackground : #dedbd1;
#footer.container {
  width: 100%!important;
}
#footer{
  background: @footerBackground;
  &.container ul.nav li a:hover {
    color: @colorThreeDark;
  }
  a {
    color: #5a5a5a;
    &:hover {
      background: transparent;
      color: #4d7db2;
    }
  }
}









// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *DATEPICKER
// #
// #
// #
// ########################################################################################################

.datepicker td.active, 
.datepicker td.active:hover, 
.datepicker td.active:hover:hover, 
.datepicker td.active:active, 
.datepicker td.active:hover:active, 
.datepicker td.active.active, 
.datepicker td.active:hover.active, 
.datepicker td.active.disabled, 
.datepicker td.active:hover.disabled, 
.datepicker td.active[disabled], 
.datepicker td.active:hover[disabled] {
  background-color: red!important;
  border-radius: 0!important;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *MODAL
// #
// #
// #
// ########################################################################################################


.markCompleteHeader { //located here: /admin/broker/viewcertificationinformation/156
  .header {
    height: 40px;
    h4 {
      margin-left:10px!important;//to overwrite ghixcustom.css
      color: #666!important;
      line-height: 40px!important;
      font-weight: normal!important;
    }
    button.dialogClose {
      background: transparent!important;
      line-height: 40px;
      margin-right: 10px!important;
      color:#666!important;
    }
  }
}

#viewempModal {
  .modal-header {
    height: 40px;
    h4 {
      margin-left:10px!important;
      color: #666!important;
      line-height: 40px!important;
      font-weight: normal!important;
    }
    button {
      background: transparent!important;
      line-height: 40px;
      margin-right: 10px!important;
      color:#666!important;
    }
  }
}

#brokerdetail { ///hix/shop/employer/dashboard. File name list.jsp
  table#list {
    thead {
      tr {
        height: 40px;
      }
    }
    tbody {
      tr {
        td {
          a {
            h4 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

#frmdetail {
  #display-info {
    tbody {
      tr {
        th {
          background: #fff!important;
        }
      }
    }
  }
}

div#alert1.modal { //shop/employer/employercomments/216#
  top: 15%;
}
.modal {
  border-radius: 0;
}
.modal-header {
  background: #82a4c9;
  border-radius: 0;
  min-height: 20px;
  h3 {
    color: #fff;
  }
  h4 {
    font-family: @sansFontFamily-1;
    font-size: 15px;
    font-weight: normal;
  }
  .close {
    margin-top: 0;
    color: #fff;
    opacity: 0.8;
    &:hover {
      color: #fff;
      opacity: 0.5;
    }
  }
}
.modal-footer {
  background: none;
  border-top: none;
  border-radius: 0;
  box-shadow: none;
  padding-top: 0;
}
.hugeModal { //!important used to overwrite "bigModal" in ghixcustom.css
  width: 767px!important;
  margin-left: -350px!important;
  height: 460px;
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *IFRAME
// #
// #
// #
// ########################################################################################################

#successbox .modal-header {
  background: none;
  border-radius:0;
}

iframe {
  border:0px;
  #successbox {
    .header {
      background: none;
      background-image: none;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    }
  }
  &#success {
    .modal-header {
      border-radius: 0;
    }
    .modal-body {
      padding:0;
    }
  }
  &#search {
    min-height: 520px; /*Changed from 430px to 520px - HIX-19095*/
    h3 {
      font-size: 18.5px;
    }
    .bottomBorder {
      border-bottom: none!important;
    }
  }
  body {
    background: #fff;
    background-image: none;
  }
}

body.shellmodal-body {
  background: #fff!important;
  .table {
    border: none;
  }
}

#Dental-light_box {
  #title {
    font-family: @sansFontFamily-1;
    font-weight: normal;
    font-size: 17px;
  }
  #info {
    margin: 20px 0 25px 0;
  }
  .premium {
    font-size: 17px;
  }
  .plan {
    margin: 0 10px;
    .border-custom;
  }
  .form-actions {
    background: #fff;
    border: none;
  }
}

.modal-body {
  max-height: 410px;
}

.applicationState{
  .step-text{
    font-size: 13px;
  }
  .inprogress{
    color:#d29565;
  }
  .complete{
    color:#71923c;
  }
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *SECURE INBOX
// #
// #
// #
// ########################################################################################################
#inbox {
  i.icon-person {
    display: none;
  }
}




// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *ERROR
// #
// #
// #
// ########################################################################################################
div.error {
  font: normal @fontSize @sansFontFamily-1;
  color: @themeAccentColorTwo;
  position: relative;
  //left: 29.5%;
  top: 5px;
}
