// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #          Masthead - CA (2019)
// #
// #
// #
// ########################################################################################################


@mastheadNavbarBgColor: #2D76A3;
@mastheadLinkColor: #FFFFFF;
@mastheadLinkHoverColor: #FFFFFF;
@mastheadDropdownLinkColor: #FFFFFF;
@mastheadDropdownLinkHoverColor: #FFFFFF;
@mastheadDropdownHoverBg: #22597B;
@mastheadloginHoverBg: @white;
@mastheadloginHoverFontColor: @mastheadNavbarBgColor;
@mastheadDropdownlist: #22618c;

#masthead {
    .navbar-inner{
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    }
    &.navbar-inverse {
        .navbar-inner {
          background-color: @mastheadNavbarBgColor;
          background-image:none !important;
          width: auto;
          border: none !important;
          border-radius: 0;
          box-shadow: none;
        }
    }
    .navbar-inner {
        max-width: 100%;
        min-height: 80px;
        .container {
            padding: 0 !important;
        }
        .brand {
          position:absolute;
          left:45px;
          padding:10px 10px 8px 10px;
          max-width: none;
        }
        // This is an ADMIN MENU, located above the MAIN masthead menu
        #first-menu-bgcolor-nm {
          //height: 0!important;
          background-color: transparent!important;
        }
        #role-header-nm {
          .nav {
            li {
              a {
                margin-top: 0;
              }
            }
          }
        }
        .nav-list{
            .nav {
                position: relative;
                left: 0;
                display: block;
                margin: 0 10px 0 0;
                li {
                    color: @mastheadLinkColor;
                    padding: 22px 10px 0 10px;
                    &.login{
                        .login-btn {
                            margin-top: -5px !important;
                            font-weight: 400;
                        }
                    }
                    &.dropdown.open {
                        padding-top: 0;
                    }
                    &.dropdown.open > .dropdown-toggle {
                        background: @mastheadDropdownHoverBg;
                        color: @mastheadLinkColor;
                        padding-top: 22px !important;
                        padding-bottom: 22px !important;
                    }
                    &.dropdown.open > .dropdown-menu {
                        right: 10px;
                        min-width: 212px;
                        padding: 0;
                        margin: 0;
                        background-color: @mastheadDropdownHoverBg;
                        li{
                            padding-bottom: 10px;
                            &#call {
                            text-align: center;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                            }
                            .icons::before {
                                content: '';
                                display: inline-block;
                                background-repeat: no-repeat;
                                width: 26px;
                                height: 24px;
                                position: relative;
                                right: 5px;
                                top: 7px;
                            }
                            &#chatpopup{
                                padding-top: 0;
                                a::before {
                                    background-image: url(../img/chat.png);
                                }
                            }
                            &#help{
                                padding-top: 0;
                                a::before {
                                    background-image: url(../img/location-pin.png);
                                    height: 28px;
                                }
                            }
                            &#faq{
                                padding-top: 0;
                                a::before {
                                    background-image: url(../img/faq.png);

                                }
                            }
                            &.divide {
                                border-top: 1px solid #22618c;
                            }
                            a:hover {
                                background: none !important;

                            }
                        }
                    }
                    &.dropdown.open > .dropdown-menu::after {
                        display: none;
                        background: none;
                        content: none;
                    }
                    &.dropdown.open > .dropdown-menu::before {
                        display: none;
                    }
                    a {
                        color:  @mastheadLinkColor;
                        text-transform: none;
                        margin: 28px 20px 0 0;
                        padding: 0 8px;
                        text-shadow: none;
                        font-size: .8125em;
                        font-weight: 400;
                        &:hover {
                            color: @mastheadLinkColor;
                        }
                    }
                }
            }
        }
    }
}

#masthead {

//This is a Masthead menu (Login/Logout, Inbox, My Account etc.)
    #masthead-inbox {
        a {
           // color: transparent; //this is to hide the 'Inbox' word
            font-size: 0;
            padding: 6px 10px!important;
            position: relative;
            top: 4px;
            i.icon-envelope { //this is the envelope
                position: relative;
                font-size: @fontSizeH3;
               // color: @mastheadLinkColor;
                &:after { //this is the lock
                    content: "\f023";
                    font-family: @iconFont;
                   // color: @mastheadLinkColor;
                    font-size: @fontSize;
                    position: absolute;
                    bottom: -3px;
                    left: -2px;
                    .mixin-masthead-text-shadow;
                }
            }
            .unreadRecords { //this is unread emails count number
                @bubbleDimensions: 18px;
                color: @white;
                font-family: @serifFontFamily-1;
                font-size: @fontSizeSmall;
                background: @themeAccentColorTwo;
                width: @bubbleDimensions;
                height: @bubbleDimensions;
                text-align: center;
                border-radius: @bubbleDimensions / 2;
                line-height: @bubbleDimensions;
                position: absolute;
                top: -2px;
                right: 0px;
                .inline-block;
                .mixin-masthead-box-shadow;
            }
        }
    }
}
