//
// MAsthead
// --------------------------------------------------
// @media  (min-width: 978px) {
// 	body {
// 		background: @white;
// 	}
// }
@media (max-width: 768px) {
    body, html { overflow-x:hidden;
      #container-wrap {
          margin-top: 0 !important;
          &:after {
            background: none !important;
          }
      }
    }
    #topnav {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          position: absolute;
          width: 100%;
          margin-top: -32px;
    }
    .sscreen {
        display: block;
        #masthead {
          margin-top: -32px;
            .navbar-inner {
              padding-right: 0;
              .container {
                margin-right: 0;
              }
                .logo {
                    margin: 12px 10px 0 -10px;
                    .brand {
                        width: 110px;
                        height: 36px;
                        left: 0;
                        margin-top: 15px;
                        padding: 10px 10px 8px 0;
                    }
                }
                .nav-list {
                    padding-right: 0;
                    .nav {
                        margin-right: 0;
                        .mobile-header-icon {
                            width: 25px;
                            height: 25px;
                        }
                        li {
                          padding: 22px 0 12px;
                          margin-top: 22px;
                          border-left: 1px solid rgba(0, 0, 0, 0.2);
                        }
                        li.dropdown.open > .dropdown-toggle {
                            padding-top: 11px !important;
                            padding-bottom: 11px !important;
                        }
                    }
                }
            }
        }
        #masthead .navbar-inner .nav-list .nav li.dropdown.open {
              padding-top: 12px;
              padding-bottom: 0;
        }
        #masthead .navbar-inner .nav-list .nav li.dropdown.open > .dropdown-menu {
            min-width: 137px !important;
            padding: 0;
            margin-right: -11px;
            border: none;
        }
        #masthead .navbar-inner .nav-list .nav li.dropdown.open > .dropdown-menu li {
            border-bottom: 1px solid #22618c;
            border-left: none;
            margin: 0 6px;
            padding: 9px;
            a {
              font-weight: 400;
            }
        }
        .btn-navbar {
            margin: 20px !important;
        }
    }
    .lscreen {
        display: none;
    }
}
@media (min-width: 769px) {
    .sscreen {
        display: none;
    }
    .lscreen {
        display: block;
    }
}
// @media  (max-width: 979px) {
// 	body {
// 		background: @white;
// 	}
// 	#masthead{
// 		&.navbar {
// 			//float: none !important;
// 			position: relative;
// 		}
// 		.navbar-inner {
// 			button {
// 				margin-top: 17px;
// 			}
// 			.nav-collapse {
// 				margin-right: 15px;
// 				&.in.collapse {
// 					width: 100%;
// 					margin: 20px 0 0;
// 					.nav {
// 						width: 100%;
// 					}
// 				}
// 				&.collapse {
// 					float: left!important;
// 					margin: 20px 0 0;
// 					ul {
// 						float: left!important;
// 					}
// 				}
// 				.nav {
// 					margin-top: 0 !important;
// 					li {
// 						border-right: none;
// 						a {
// 							padding: 5px 15px !important;
// 						}
// 						a:active {
// 							background-color: #e4e4e4;
// 						}
// 					}
// 					.icon-print {
// 						.aria-hidden {
// 							position: relative;
// 							left: 0;
// 						}
// 					}
// 				}
// 			}
// 		}
//
// 	}
//
// }
// @media (max-width: 767px) {
// 	#masthead {
// 		.nav {
// 			li {
// 				a{
// 					&.mast-logo {
// 						margin-top: 17px !important;
// 					}
// 				}
//
// 			}
// 		}
// 		.navbar-inner {
// 			button {
// 				margin-top: 32px;
// 				margin-right: 25px;
// 			}
// 		}
// 	}
// }
