//
// MAsthead
// --------------------------------------------------
// @media  (min-width: 978px) {
// 	body {
// 		background: @white;
// 	}
// }
@media (max-width: 767px) {
    .sscreen {
        display: none;
    }
    .lscreen {
        display: block;
    }
}
@media (min-width: 768px) {
    .sscreen {
        display: none;
    }
    .lscreen {
        display: block;
    }
}
// @media  (max-width: 979px) {
// 	body {
// 		background: @white;
// 	}
// 	#masthead{
// 		&.navbar {
// 			//float: none !important;
// 			position: relative;
// 		}
// 		.navbar-inner {
// 			button {
// 				margin-top: 17px;
// 			}
// 			.nav-collapse {
// 				margin-right: 15px;
// 				&.in.collapse {
// 					width: 100%;
// 					margin: 20px 0 0;
// 					.nav {
// 						width: 100%;
// 					}
// 				}
// 				&.collapse {
// 					float: left!important;
// 					margin: 20px 0 0;
// 					ul {
// 						float: left!important;
// 					}
// 				}
// 				.nav {
// 					margin-top: 0 !important;
// 					li {
// 						border-right: none;
// 						a {
// 							padding: 5px 15px !important;
// 						}
// 						a:active {
// 							background-color: #e4e4e4;
// 						}
// 					}
// 					.icon-print {
// 						.aria-hidden {
// 							position: relative;
// 							left: 0;
// 						}
// 					}
// 				}
// 			}
// 		}
//
// 	}
//
// }
// @media (max-width: 767px) {
// 	#masthead {
// 		.nav {
// 			li {
// 				a{
// 					&.mast-logo {
// 						margin-top: 17px !important;
// 					}
// 				}
//
// 			}
// 		}
// 		.navbar-inner {
// 			button {
// 				margin-top: 32px;
// 				margin-right: 25px;
// 			}
// 		}
// 	}
// }
