@mobile: ~"only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait)";
@mobile-landscape: ~"only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape)";

@tablet: ~"only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait)";
@tablet-landscape: ~"only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape)";


@S: ~"only screen and (min-width: 320px) and (max-width: 479px)";
@SM: ~"only screen and (min-width: 320px) and (max-width: 719px)";
@M: ~"only screen and (min-width: 480px) and (max-width: 719px)";
@ML: ~"only screen and (min-width: 720px) and (max-width: 979px)";
@L: ~"only screen and (min-width: 980px) and (max-width: 1299px)";
@XL: ~"only screen and (min-width: 1300px) and (max-width: 2400px)";

@baby-hobbit: ~"only screen and (max-height: 400px)";
@hobbit: ~"only screen and (min-height: 401px) and (max-height: 500px)";
@baby-human: ~"only screen and (min-height: 501px) and (max-height: 600px)";
@human: ~"only screen and (min-height: 601px) and (max-height: 720px)";
@troll: ~"only screen and (min-height: 721px) and (max-height: 1220px)";
@giant: ~"only screen and (min-height: 1221px)";

/***Bootstrap3 media size's****/
@XS: ~"only screen and (min-width: 320px) and (max-width: 767px)";
@SD: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@MD: ~"only screen and (min-width: 992px) and (max-width: 1999px)";
@LD: ~"only screen and (min-width: 1200px)";

// HIX-112234 Safari doesn't support position fixed - delay in rendering masthead
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .navbar-fixed-top {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    margin-bottom: 0; // remove 18px margin for default navbar
  }
}
