//
// -- Mixins - CCA

@import "NMThemeVariables.less";

  .vertical-gradient-light-dark (@startColor: @colorThree, @endColor: @colorThreeDark) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
  }

  .vertical-gradient-dark-light (@startColor: @colorThreeDark, @endColor: @colorThree) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
  }
  
  .vertical-gradient-custom (@startColor: lighten(desaturate(@colorThree, 37%), 42%), @endColor: lighten(desaturate(@colorThree, 37%), 35%)) {
    background-color: @startColor!important;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor))!important;
    background: -webkit-linear-gradient(top, @startColor, @endColor)!important;
    background: -moz-linear-gradient(top, @startColor, @endColor)!important;
    background: -ms-linear-gradient(top, @startColor, @endColor)!important;
    background: -o-linear-gradient(top, @startColor, @endColor)!important;
  }

  .btn-custom-gradient (@startColor: @white, @endColor: lighten(desaturate(@colorThreeLight, 45%),35%)) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    &:hover, 
    &:focus, 
    &:active, 
    &:disabled 
    {
      background: darken(@startColor, 1%);
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, darken(@endColor, 3%)), color-stop(1, darken(@startColor, 1%)));
      background: -ms-linear-gradient(bottom, darken(@endColor, 3%), darken(@startColor, 1%));
      background: -moz-linear-gradient(center bottom, darken(@endColor, 3%) 0%, darken(@startColor, 1%) 100%);
      background: -o-linear-gradient(darken(@startColor, 1%), darken(@endColor, 3%));
    }
  }

  .primary-button-gradient (@startColor: @colorOne, @endColor: @colorOneDark) {
  	background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
  	border: 1px solid darken(@colorOneDark, 3%);
  	border-color: darken(@colorOneDark, 3%) darken(@colorOneDark, 6%) darken(@colorOneDark, 5%);
    &:hover, 
    &:focus, 
    &:active, 
    &:disabled 
    {
    	background: darken(@startColor, 1%);
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, darken(@endColor, 3%)), color-stop(1, darken(@startColor, 1%)));
      background: -ms-linear-gradient(bottom, darken(@endColor, 3%), darken(@startColor, 1%));
      background: -moz-linear-gradient(center bottom, darken(@endColor, 3%) 0%, darken(@startColor, 1%) 100%);
      background: -o-linear-gradient(darken(@startColor, 1%), darken(@endColor, 3%));
      border: 1px solid darken(@colorOne, 11%);
      border-color: darken(@colorOne, 11%) darken(@colorOne, 14%) darken(@colorOne, 18%);
    }
  }

  .calendar-gradient (@startColor: @redLight, @endColor: @red) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
  }

  .insert-box-shadow {
    box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
    -webkit-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
    -moz-box-shadow:inset 0px 0px 9px rgba(0,0,0,.3);
  }

  .accent-border{
	  border-bottom: 25px solid;
  	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }

  .text-shadow (@string: 0 -1px 1px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
  }

  .inner-shadow (@x: 0, @y: 0px, @blur: 15px, @spread: 4px, @alpha: 0.12) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  } 

  .border-custom {
    border: 1px solid lighten(desaturate(@colorThree, 60%), 42%);
  }

  .background-custom {
    background: lighten(desaturate(@colorThree, 40%), 52%);
   }

  .header-type {
    color: darken(@colorThreeDark, 5%)!important;
    font-size: 0.95em!important;
    min-height: 24px;
    max-height: 24px;
    line-height: 24px;
  }

  .border-radius (@radius: 4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
  }