//
// Mixins - Green
// --------------------------------------------------


  .horizontal-gradient{
    background:@green;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @green), color-stop(1, @greenDark));
    background: -ms-linear-gradient(bottom, @green, @greenDark);
    background: -moz-linear-gradient(center bottom, @green 0%, @greenDark 100%);
    background: -o-linear-gradient(@greenDark, @green);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@greenDark,@green));
  }

  .primary-button-gradient{
  	background:@greenDark;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @green), color-stop(1, @greenDark));
    background: -ms-linear-gradient(bottom, @green, @greenDark);
    background: -moz-linear-gradient(center bottom, @green 0%, @greenDark 100%);
    background: -o-linear-gradient(@greenDark, @green);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@greenDark,@green));
    &:hover{
    	background:@blueDark;
	    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @red), color-stop(1, @blueDark));
	    background: -ms-linear-gradient(bottom, @red, @blueDark);
	    background: -moz-linear-gradient(center bottom, @red 0%, @blueDark 100%);
	    background: -o-linear-gradient(@blueDark, @red);
	    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@blueDark,@red));
    }
  }