//
// Typography
// --------------------------------------------------


/*.icon-cog {
	.color(@colorThreeDark);
}*/

// Body text
// -------------------------

//Messages
//--------------------------
.alert-disabled {
    background-color: #eeeeee;
    border-color: #dddddd;
    color: rgb(70, 136, 71);
}





// Emphasis & misc
// -------------------------

a {text-decoration: none;}
a:hover {
	.border-bottom(1px, solid, transparent);
}

a.inactive,
a.inactive:visited ,
a.inactive:active,
a.inactive:hover {
    background-color:#d9d9d9 !important;
    color: #138F9D;
}

.bottom-border {
	.border-bottom (1px, solid, #ddd);
}

small {
	a {
		font-size: inherit;
	}
}

.dl-horizontal {
		dt {
			font-weight: normal !important;
		}
		dd {
			font-weight: bold  !important;
		}
		dt, dd { 
			line-height: 1.7em;
		}
		address {
			margin-top: 7px;
			margin-bottom: 0 !important;
		}
}

.dl-lr-style {
	dt {
		text-align: left;
	}
	dd {
		font-weight: normal !important;
		text-align: right;
	}
 }
