// Nav
// -------------------------
ul.nav-list > li > a {
    border-bottom: 1px solid transparent;
}
#sidebar {
	a{
		.icon-cog{ color: inherit;}
	}
	
	#quick-links {
		.border-bottom(1px, solid, #ddd);
		padding: 0;
		a{
			.border-bottom(1px, solid, transparent);	
		}
	}
	.nav-list > span {
		background: none;
		.border-bottom(1px, solid, transparent);
		color: #138F9D;
		font-size: 1em;
		margin-right: -15px;
		padding: 14px;
	}
}
.mask {
    opacity: 0.8;
    padding: 10px 0 0 55px;
    position: absolute;
    z-index: 11;
}
.mask img{
    float: left;
    position: relative;
    right: -3px;
    top: 8px;
}

//Commons
//-------------------------------
.info-block {
	min-height: 500px; 
	height: auto;
	.header{
	    margin-bottom: 0;
	}
	.info-header {
		margin: 10px 0 14px 0;
		h5 {margin-top: 0;}
		p {margin-bottom: 0;}
	}
}
.tile {
    background-color: #F8F8F8;
    background-image: linear-gradient(bottom,#ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
    background-image: -o-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
    background-image: -moz-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
    background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
    background-image: -ms-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
    min-height: 290px;
    height: auto !important;
}
.alert {padding: 8px !important;}

.sub-header {
	background-color: #8FA884;
	 h4 {
 		font-size: 0.95em !important;
 		color: #fff;
 		padding: 3px 7px;
 	}
}

h5.header-secondary {
    background: none repeat scroll 0 0 @widget-sec-header;

    font-size: 16px;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
}

//-------------------------------
// Portal
//-------------------------------
#plan-summary,
#emp-contribution {
	.dl-horizontal {
		dt {
			text-align: left;
			width: 189px;
			font-weight: normal;
		}
		dd {
    		margin-left: 191px;
    		text-align: right;
		}
		dl {
			margin-bottom: 5px;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
			dt {
				margin-left: 10px;
				width: 179px;
			}
			
			
		}
		dt#c-s-d { //employee portal
				width: 133px !important;
			}
		dd#coverage-s-date { //employee portal
				margin-left: 175px !important;				
		}
	}

}
#sample-plan-summary .info-header,
#sample-plan-summary .well { opacity: 0.3;}

.plan-selected {
	.well {
		box-shadow: none;
	}
}
.plan-selected .dl-horizontal dt {
    text-align: left;
    width: 130px;
    font-weight: normal;
    font-size: 12px;
}
.plan-selected .dl-horizontal dd {
    margin-left: 140px;
    margin-bottom: 16px;
    text-align: right;
    font-size: 12px;
}
/**
* My Information
*/

#myinfo-edit {
	padding: 2px 12px;
}

#myinfo {
	.dl-horizontal {
		dt {
			width: 42% !important;
		}
		dd {
			margin-left: 45%;
		}		
		#worksite address {
			margin-top: 8px;
			margin-bottom: 7px !important;
		}
	}
}

/**
* Edit My Information
*/
form#edit-myinfo,
form#edit-mydependents {
	.control-label{
		width: 219px !important;
	}
	.controls {
		margin-left: 220px !important;
	}
	.dl-horizontal dd {
		margin-left: 239px !important;
	}
	.dl-horizontal{
		dt{
			width: 225px !important;
		}
	}
}

/**
* My Dependents
*/

#mydependent-info {
	.dl-horizontal {
		dd {
			margin-left: 239px !important;
		}
    	dt{
			width: 225px !important;
		}
	}
}

/**
* Modal
*/
#employee-esign label,
#employee-esign-date label {
    margin: 0 0 0 15px;
}


#employee-esign {
	.controls {
		margin: 0;
	}
	input#esignName {
		margin-bottom: 11px;
	}
}
//-------------------------------
// Member Portal
//-------------------------------
#u-here {
	position: relative;
	left: 60px;
	top: -10px;
}

#member-portal {
	#u-r-h {
		float: left;
	    font-family: georgia;
	    font-size: 10px;
	    left: 74px;
	    position: relative;
	    top: -39px;
	}
	#step-progress{
		clear: both;
    	position: relative;
    	top: -40px;
    	width: 97.5%;
		#progress-bar {
		    width: 100%;
		    height: 15px;
		    ul{
		    	display: inline;
		    	li{
					list-style: none;
	    			float: left;
		    	}
		    	li.steps {
					width: 5%;
	    			height: auto;
	    			padding: 8px 0 7px 0;
		    	}
		    	li.active-state,
		    	li.completed-state {
		    	 	background-color: #5abc5a;
		    	 	border-left: 1px solid #4aac4a;			    
				}
				li.inactive-state {
				    background: #e1e1e1; //ccc
				    border-left: 1px solid #ececec;
				    span {
				    	color: #adadae; //ddd
				    }	
				}
				li.step-desc {
				    height: auto;
				    span {
					    color: #fff;
					    position: relative;
					    float: left;
					    line-height: 2.5em;
					    font-size: 1em;
					}
				}
				li.active,
				li.complete { 
					background-color: #62c462;
					border-right: 1px solid #68ca68;
				}//d9fabf
				li.inactive { 
					background-color: #e8e8e8; //ddd
					border-right: 1px solid #eaeaea;
					span {
						color: #b9b9ba; //c6c6c7
					}
				}
				li.step-desc {
					width: 19.6%;
					span {
						left: 3%;
					}
				}
				
				
		    } // End ul
		} // End Progressbar
	}
	.arrow{
	    position: relative;
	    background: #62c462;
	}
	.arrow:after {
	    top: 0;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
	}

	.active .arrow:after {
	    border-color: rgb(255, 255, 255) rgb(98, 196, 98) rgb(98, 196, 98);
	    border-top-color: #fff;
	    border-width: 7px;
	    left: 68%;
	    margin-left: -30px;
	}
	.s-no {
	    float: left;
	    left: 39%;
	    position: relative;
	    top: 20%;
	    color: #fff;
	    i.icon-ok {
	    	left: -4px;
	    	position: relative;
	    }
	}

	#oep-msg {
		position: relative;
		top: -25px;
		.well-border-b {
			background-color: none;
			border-top: none !important;
			border-right: none !important;
			border-bottom: 1px solid rgb(245, 245, 245)!important;
			border-left: none !important;
			padding: 19px 19px 0;
		}
		#complete-oep {
			h4 {
				margin: 0 0 10px;
			}
		}
		.action{
			position: relative;
			top: 35px;
		}
	}

} // End Memberportal

#account-settings {
	.dl-horizontal {
		margin-bottom: 0;
		dt {
			font-weight: normal;
		}
		dd {
			font-weight: bold;
		}
	}
	#account-settings {
		dt {
			margin-bottom: 15px;
		}
		dd {
			font-weight: bold;
			margin-bottom: 15px;
			margin-left: 180px;
			width: 160px;
		}
	}
	#change-email{
		label, input {
			margin: 10px 0;
		}
	}
	#change-password {
		label, input {
			margin: 10px 0;
		}
	}
	#change-questions {
		.form-group {			
			form: left;
			margin: 5px 0;

		}
	}
}

//-------------------------------
// Modal
//-------------------------------

#qualified-event label {
	margin-left: 0;
}

#select-event {
	.date {
		input {
			min-height: 24px;

		}
		.input [type=date] {
			height: 24px;
      		line-height: 24px;	
		}
		.add-on {
			font-size: 14px;
      		height: 14px;
      		line-height: 14px;
      		.icon-calendar:before {
		      color: #4889A7;
		    }
		}
	}
	label {
		input[type=checkbox]{
	      display: none;
	    }
	}
	label:before {
		border-radius: 3px;
		border-bottom: 1px none;
        box-shadow: 0 1px 1px rgb(255, 255, 255) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
        content: "";
        display: inline-block;
        height: 14px;
        left: 0;
        margin: 3px 10px 0 15px;
        position: absolute;
        width: 14px;
	}
	label:hover:before {
       content: "\2713";  
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
        font-size: 11px;
        font-weight: bold;  
        color: #4889A7;  
        text-align: center;  
        line-height: 14px;
    }
    label.checked:before {
        content: "\2713";  
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
        font-size: 11px;
        font-weight: bold;  
        color: #4889A7;  
        text-align: center;  
        line-height: 14px;
    } 
}




