
// ########################################################################################################
// ########################################################################################################
// #
// #
// #         *INDIVIDUAL PORTAL
// #         *PROGRESS BAR
// #         
// #
// #
// ########################################################################################################	
	
@indPortalProgressBarBG:        		#d8ebd6; 
@indPortalProgressBarBorder:    		#d8ebd6;
@indPortalProgressBarLinkColor: 		#48a951;
@indPortalProgressBarActiveBG:  		#E97B00;
@indPortalProgressBarDisabledBG: 		#e6eaeb;
@indPortalWellBorder:					#E3E3E3;
@indPortalWellBlurbBg:					transparent;
@indPortalWellBlurbText:				#666666;
@indPortalWidgetHeader: 				#E8E8E8;
@indPortalWidgetHeaderSecondary:       	#D9EDF7;


@indPortalProgressBarLinkActiveColor: 	@white; 
@indPortalProgressBarFontSize:  		@fontSize + 2px;
@indPortalProgressBarHeight: 			40px;


.border (@x: 1px, @style: solid, @color: #000){
	border-top : @x @style @color;
	border-right : @x @style @color;
	border-bottom: @x @style @color;
	border-left : @x @style @color;
}

.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}
.box-shadow(@shadows) {
    -webkit-box-shadow: @shadows;
    -moz-box-shadow: @shadows;
    box-shadow: @shadows;
}
.box-shadow-custom (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.color (@x) {
    color: @x;
}





#individual-portal {
	#prem-tax-credit{
		position: relative;
	}
	
	.alert {
		padding-right: 14px;
		color: #333;
	}
	.info-block {
		.header {
			margin-bottom: 0;
		}
	}
	.eligibility-mask{
	    top: -30px;
	    left: -70px;
	    opacity: 0.5;
	    position: absolute;
	}
	
	.mask {
	    opacity: 0.8;
	    padding: 10px 0 0 55px;
	    position: absolute;
	    z-index: 11;
	    img{
	    	float: left;
	    	position: relative;
	    	right: -3px;
	    	top: 8px;
		}
	}
	.plan-selected .dl-horizontal {
		dt {
			text-align: left;
	    	width: 150px;
	    	font-weight: normal;
		}
	    dd {
	    	margin-left: 155px;
	    	text-align: right;
	    }
	}
	#sidebar {
		i {
			width: 18px;
			display: inline-block;
			padding: 0;
		}
	}
	
	.plan-title {
		border-top: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;
		border-left: 1px solid #e3e3e3;
		border-bottom: 1px solid #86C48C;
		font-size: 17px;
		img {
			width: 30px;
  			padding: 7px 7px 7px 20px;
		}
		span {
			padding-top: 5px;
		}
	}
	.widget {
		#plan-summary {
			.msg2 {
				text-align: right;	
			}
			.data-display {
				h5 {
					width: 266px;
					background: #d0e9ff;
					padding: 6px 10px;
					margin-left: -19px;
					margin-top: -19px;
					margin-bottom: 0;
				}
			}
			.dl-horizontal {
				margin-bottom: 0px;
				margin-top: 15px;
				dt {
					text-align: left;
					width: 189px;
					font-weight: normal;
				}
				dd {
		    		margin-left: 340px;
		    		text-align: left;
				}
				dl {
					margin-bottom: 5px;
					border-bottom: 1px solid #ddd;
					padding-bottom: 10px;
					dt {
						margin-left: 10px;
						width: 179px;
					}
				}
			}
		}
	}
	#sample-plan-summary .info-header,
	#sample-plan-summary .well,
	#sample-dental-plan-summary .info-header,
	#sample-dental-plan-summary .well { 
		opacity: 0.5;
	}
	#step-progress{
		margin: 95px 0 0 0;
		background: @white;
		#progress-bar {
		    ul{
		    	margin:0;
		    	padding:0;
		    	li{
					list-style: none;
	    			float: left;
	    			font-weight: 600;
	    			font-size: @indPortalProgressBarFontSize;
	    			color: #999;
					text-align: center;
					width: 25%;
					position:relative;
					&:after { //this is the border that goes through the numbers
						content: "";
						border: 8px solid #E5E6E8;
						position: relative;
						bottom: 60px;
						left: 0;
						display: block;
					}
					.s-no { //this is numbers
						position: absolute;
						background: @white;
						border-radius: 50%;
						width: 36px; //change bubble size here
						height: 36px;
						padding: 10px;
						text-align: center;
						top: -65px; //up and down
						left: 32%;
						border:3px solid @borderColor;
						font-weight: 300;
						z-index: 1;
						color: #999;
						font-size: 32px;
						line-height: 36px;
					}
	    			&.active-state { // styles for the active circle step
	    				position: relative;
	    				color: @indPortalProgressBarActiveBG;
	    				text-indent: 10px;
	    				.s-no { //numbers are getting larger when is active
	    					background: @indPortalProgressBarActiveBG;
	    					color: @white;
	    					//font-size: 42px;
	    					//line-height: 34px;
	    					//border-color: darken(@indPortalProgressBarActiveBG, 3%);
	    					text-indent: 0;
	    					&:after {
	    						content: "";
								border: 4px solid #fff;
								border-radius: 80%;
								width: 18px;
								height: 18px;
								padding: 15px;
								position: absolute;
								top: 0px;
								left: 0px;
	    					}
	    				}
	    				.step-text {
	    					&:after {
								content: "You Are Here";
								position: absolute;
								font-size: 10px;
								border: 1px solid #E97B00;//@indPortalProgressBarActiveBG;
								background: #E97B00;//@indPortalProgressBarActiveBG;
								color: @white!important;
								width: 95px;
								height: 24px;
								line-height: 24px;
								top: -100px;
								left: 22%;
								border-radius: 5px;
								font-weight: 300;
								text-transform: uppercase;	
								letter-spacing: 1px;
								text-indent: 2px; 
								color: @indPortalProgressBarActiveBG;   					
							}
							&:before { //this is indicator with arrow
							    content: "";
					            position: absolute;
					            top: -76px;
					            right: 45%;
					            width: 0;
					            height: 0;
					            border-left: 7px solid transparent;
					            border-right: 7px solid transparent;
					            border-top: 10px solid #E97B00;
		  					}
	    				}
	    			}
	    			&.disabled-state {
	    				color: darken(@indPortalProgressBarDisabledBG, 3%);
	    				.s-no { //numbers are getting larger when is active
	    					background: lighten(@indPortalProgressBarDisabledBG, 5%);
	    					color: darken(@indPortalProgressBarDisabledBG, 5%);
	    					font-size: @indPortalProgressBarFontSize+13px;
	    					line-height: 22px;
	    					border-color: darken(@indPortalProgressBarDisabledBG, 3%);
	    				}
	    			}
	    			&.completed-state { // styles for the completed circle step
	    				position: relative;
	    				//color: #6aabd5;
	    				.s-no {
	    					color: @white; // to hide the number
	    					background: @white; // bg to match with color!
	    				}
	    				.step-text {
	    					&:after {
	    						content: "\f00c";
	    						font-family: FontAwesome;
	    						font-size: 32px;
	    						position: absolute;
	    						top: -43px;
	    						left: 76px;
	    						z-index: 1;
	    						color: #6aabd5;
	    					}
	    				}
	    			}
		    		&:last-child { //last element shorter to align with the elements below
			    		//width:34%;
			    	}
		    	}
		    }
		}		
	}
	


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *OEP MESSAGE
// #         
// #
// #
// ########################################################################################################
	#oep-msg {
		position: relative;
		p {
			margin-bottom: 0;
		}
		button {
			position: absolute;
			right:20px;
			bottom: 10px;
		}
	}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *PROGRESS BAR - CUSTOM WELL - NO BACKGROUND
// #         
// #
// #
// ########################################################################################################
	.well-nobg{ 
	    background: @white;
	    border: 1px solid @borderColor;
	    .border-radius(5px);
	    
	}

	.well-step {
		.well-nobg;
		//margin: 0 10px 20px 0;
	    min-height: 20px;
	    padding: 20px 0 10px 0;
	    border-radius: 0;
	    margin-right: 0px!important;
	    box-shadow: none;
	    //border: none;
		.blurb {
			background-color: @indPortalWellBlurbBg;
			.color(@indPortalWellBlurbText);
			margin: 0 16px 20px 0;
			padding: 8px 15px 8px 14px;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
			h4 {
				color: @indPortalProgressBarActiveBG;
				background: none;
				font-family: inherit;
			    font-size: 16px;
			    font-weight: 600;
			    padding: 5px 0 5px 10px;
			    margin-bottom: 0;
			}
		}
		.aid_appName{
			width: 50%;
		}
	}

	.well {
		background: transparent;
		box-shadow: none;
		border-radius: 0;
		border-top: none;
		padding: 0;
		border-right: none;
		border-bottom: none;
		border-left: none;
		&.data-display {
			border-top: 1px solid @borderColor;
			background: darken(@white, 1.5%);
			padding: 5px 4px 0px 4px;
		}
	}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *Widget
// #         
// #
// #
// ########################################################################################################

	.widget{
		background: @white;
		.border(1px, solid, @indPortalWellBorder);
		h5.header-secondary {
			background: none repeat scroll 0 0 #D9EDF7; //rgb(208, 233, 255)
		    font-size: @fontSizeH4;
		    font-weight: 400;
		    height: 26px;
		    line-height: 26px;
		    margin: 15px 5px 0;
		    text-indent: 5px;
		}
	}


} // End portal


// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *Widget
// #         
// #
// #
// ########################################################################################################

@bubbleNavBorderColor: #009539;
@bubbleNavActiveBg: #009539;
@bubbleNavActiveFontColor: #fff;

.bubble-nav {
	.nav {
		margin-bottom: 0px;
		border-bottom: none;
		li {
			&:first-child {
				margin-left: 2%;
			}
		}
		a {
			padding: 10px 40px;
			border-color: @borderColor;
			border-bottom: 1px solid @borderColor;
			margin: 0 2px;
			font-family: @serifFontFamily-1;
			font-size: @fontSize + 4px;
			&:hover {
				border-bottom-color: inherit;
				background: darken(#fff, 2%);
			}
		}
		.active {
			a {
				border-color: @bubbleNavBorderColor;
				border-bottom: 1px solid @bubbleNavActiveBg;
				background: @bubbleNavActiveBg;
				color: @bubbleNavActiveFontColor;
				&:hover {
					border: 1px solid darken(@bubbleNavBorderColor, 5%);
				}
			}
		}
	}
}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *My Applications
// #         
// #
// #
// ########################################################################################################
.applicationState {
	.well-step {
		margin-right: 0;
		padding: 10px;
	}
	h3 {
		font-size: @fontSizeH4;
		margin-top: 0;
		border-bottom: 1px solid @borderColor;
	}
	.availableActions {
		ul {
    		list-style-type: none;
    		li {
    			line-height: 28px;
    		}
    		a {
    			border-bottom: 1px dotted;
    			border-bottom-color: @linksColor;
    		}
    	}
	}
}	


.eventSummaryDialog{
	thead td{
		color: #333333;
		font-weight: bold;
	}
	
	td{
		text-align: center !important;
	}
}


#overrideSepModal{
	width: 740px;
	.error-message{
		font-size: 12px;
	}
	
	.sep-override-error-block{
		padding-right: 95px;
	}
}


// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *Multi Year 
// #         
// #
// #
// ########################################################################################################

.multi-year{
	.multi-year-tab {
		margin-bottom: 0;
		.active > a{
			border-top: 6px solid #86C48C;
			background-color: #FFFFFF;
			border-bottom: none;
			margin-top: 0;
			&:hover {
				border: 1px solid #ddd;
				border-bottom: none;
				cursor: default;
				border-top: 6px solid #86C48C;
			}
		}
		
		a {
			padding-right: 30px;
			padding-left: 30px;
			
			border: 1px solid #d3d3d3;
		    border-bottom: none;
		    border-radius: 4px 4px 0 0;
		    background-color: #f7f7f7;
		    margin-top: 4px;
		}

	}

	.multi-year-content {
		padding: 10px;
		border-left: 1px solid #ddd;
		overflow: hidden;
		margin-bottom: -50px;
		.collapse-header{
			cursor: pointer;
		}
	}
	

}

.activeCoverageYear{
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	padding: 10px 15px;
	&:hover{
		background-color: #eee;
	}
}

.enrollment{
	min-height: 0 !important;
	border-top: transparent !important;
	box-sizing: border-box;
	
	.plan-benefit{
		margin-bottom: 1.5em;
  		
  		.info-header{
  			padding-left: 2em;
  			img{
	  			margin-bottom: 1em;
	  		}
	  		
	  		p{	
				text-transform: uppercase;
				font-size: 10px;
	  		}
  		
  		}
  		
  		
  		.benefit-summary{
  			padding-left: 50px;
  			
  			th{
				min-width: 128px;
			}
  		}
	}
	
	.table{
		border: none;
		
		th{
			color: #707070 !important;
			font-weight: normal;
			padding-left: 1em;
		}
		
		th, td{
			font-size: 12px;
		}
	}
	
	.plan-summary{
		padding-right: 35px;
		th{
			min-width: 127px;
		}
	}
	
	.covered-family-members{
		td:first-child { 
			padding-left: 1em;
		}
	}
	
	.table-caption{
		border-bottom: 1px solid rgba(0,0,0, 0.05);
		text-align: left;
		font-size: 14px;
		margin-bottom: 1em;
		font-weight: 300;
		text-transform: uppercase;
		text-indent: 1em;
	}
	
	th, td {
		border-top: none; 
	}
	
}


#pastEnrollments{
	#pastEnrollmentTab{
		margin-bottom: 0;
		img{
			width: 30px; 
		}	
		
		.active > a{
			border-top: 4px solid #86C48C;
			&:hover {
				border: 1px solid #ddd !important;
				border-bottom-color: transparent !important;
				border-top: 4px solid #86C48C !important;
			}
		}
	
	}
	
	.pastEnrollment:not(:last-child){
		margin-bottom: 2em;
		border-bottom: 1px #d3d3d3 solid;
	}
}

.loading-img{
	 margin: 20% 35%; 
} 

.enrollment-update-loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 20%;
	padding-left: 45%;
	-moz-opacity: 0.5;
	opacity: 0.5;
	background: #847D7D;
}

.noEnrollment{
	margin-top: -20px;
	margin-bottom: 30px;
	
	p{
		border-right: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
		border-left: 1px solid #e3e3e3;
		padding: 10px;
	}
}


#agentPromotion{
	.modal-body{
		height: 250px; 
		overflow: hidden;
		
		.agent-logo{
			margin-top: -25px;
		}
	}

}

.agent-promotion-circle {
	&:hover {
		width: 200px; 
	}
	
	z-index: 1020;
	position: fixed;
	bottom: 24px;
    right: 24px;
	width: 40px;
	height: 40px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 50px;
	line-height: 40px;
	text-align: left;
	text-indent: 8px;
	background: #0092B3;
	transition: all 0.2s ease-in;
	overflow: hidden;
	
	img{
		width: 25px;
	}
	
	span{
		white-space: nowrap;
		position: absolute;
  		color: #fff;
	}
}

.enrollment-renewal{
	font-weight: bold;
	color: red;
}


#myHealthPaln .activeEnrollment:not(:last-child) .enrollmentTemplate{
  border-bottom: 1px #d3d3d3 solid;
  padding:30px 10px;
}
#myHealthPaln .activeEnrollment:first-child .enrollmentTemplate{
  border-bottom: 1px #d3d3d3 solid;
  padding:30px 10px;
  border: 1px solid #D23A3A;
  border-top-width:3px;
}

#myDentalPaln .activeEnrollment:not(:last-child) .enrollmentTemplate{
  border-bottom: 1px #d3d3d3 solid;
  padding:30px 10px;
}
#myDentalPaln .activeEnrollment:first-child .enrollmentTemplate{
  //border-bottom: 1px #d3d3d3 solid;
  padding:30px 10px;
  border: 1px solid #D23A3A;
  border-top-width:3px;
}

#myHealthPaln .activeEnrollment:not(:first-child) .enrollmentTemplate, #myDentalPaln .activeEnrollment:not(:first-child) .enrollmentTemplate{
  margin-top: 30px;
}

.coverage-year{
	font-size: 13px; 
	&_dropdown{
		margin-top: -4px;
	}
}


	

#overrideEnrollmentModal {
	top: 1%;
	width: 700px;
	.modal-body {
		max-height: 430px;
	}
	
	.overrideText {
		height: 40px;
	}
	
	.csrOverrideMemberTable {
		margin-top: 35px;
		caption {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		    text-align: left;
		    font-size: 14px;
		    margin-bottom: 1em;
		    font-weight: 300;
		    text-transform: uppercase;
		    text-indent: 1em;
		}
		td {
			border: 1px solid #d3d3d3;
		}
	}
}


.enrollmentCsrActionDiv {
    margin-bottom: 50px;
    
    .csrActionBorderDiv {
    	margin-top: 0px;
    	border-top: 4px solid #7FC1D2;
    }
    
    .csrActionBtnDiv {
    	&:focus {
    		outline: none;
    	}
	    position: absolute;
    	right: 0px;
    	background: #7FC1D2;
   	 	cursor: pointer;
    	padding: 0px 8px 0px 8px !important;
    	color: #fff;
    	
    	.csrActionGear {
			font-size: 17px;
			padding-left: 2px;
			padding-right: 7px;
    	}
    }
    
    .csrButtonDiv{
    	border-bottom: 1px solid #d3d3d3;
    	.csrBtns{
			margin-top: 40px;
			margin-bottom: 10px;
    	}
    }
}


.override-historyData-header{
	color: #9E9E9E;
}


.modal-header-alert-danger{
	background-color: #f2dede;
    color: #b94a48;
}
