
// ########################################################################################################
// ########################################################################################################
// #
// #
// #         *INDIVIDUAL PORTAL
// #         *PROGRESS BAR
// #         
// #
// #
// ########################################################################################################	
	
@indPortalProgressBarBG:        		#d8ebd6; 
@indPortalProgressBarBorder:    		#d8ebd6;
@indPortalProgressBarLinkColor: 		#48a951;
@indPortalProgressBarActiveBG:  		#E97B00;
@indPortalProgressBarDisabledBG: 		#e6eaeb;
@indPortalWellBorder:					#E3E3E3;
@indPortalWellBlurbBg:					#FFFFFF;
@indPortalWellBlurbText:				#666666;
@indPortalWidgetHeader: 				#E8E8E8;
@indPortalWidgetHeaderSecondary:       	#D9EDF7;


@indPortalProgressBarLinkActiveColor: 	@white; 
@indPortalProgressBarFontSize:  		15px;
@indPortalProgressBarHeight: 			40px;


.border (@x: 1px, @style: solid, @color: #000){
	border-top : @x @style @color;
	border-right : @x @style @color;
	border-bottom: @x @style @color;
	border-left : @x @style @color;
}

.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}
.box-shadow(@shadows) {
    -webkit-box-shadow: @shadows;
    -moz-box-shadow: @shadows;
    box-shadow: @shadows;
}
.box-shadow-custom (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.color (@x) {
    color: @x;
}





#individual-portal {
	.alert {
		padding-right: 14px;
		color: #333;
	}
	.mask {
	    opacity: 0.8;
	    padding: 10px 0 0 55px;
	    position: absolute;
	    z-index: 11;
	    img{
	    	float: left;
	    	position: relative;
	    	right: -3px;
	    	top: 8px;
		}
	}
	.plan-selected .dl-horizontal {
		dt {
			text-align: left;
	    	width: 150px;
	    	font-weight: normal;
		}
	    dd {
	    	margin-left: 155px;
	    	text-align: right;
	    }
	}
	#sidebar {
		i {
			width: 18px;
			display: inline-block;
			padding: 0;
		}
	}
	.widget {
		#plan-summary {
			.data-display {
				h5 {
					width: 266px;
					background: #d0e9ff;
					padding: 6px 10px;
					margin-left: -19px;
					margin-top: -19px;
					margin-bottom: 0;
				}
			}
			.dl-horizontal {
				dt {
					text-align: left;
					width: 189px;
					font-weight: normal;
				}
				dd {
		    		margin-left: 191px;
		    		text-align: right;
				}
				dl {
					margin-bottom: 5px;
					border-bottom: 1px solid #ddd;
					padding-bottom: 10px;
					dt {
						margin-left: 10px;
						width: 179px;
					}
				}
			}
		}
	}
	#sample-plan-summary .info-header,
	#sample-plan-summary .well { 
		opacity: 0.5;
	}
	#step-progress{
		margin: 95px 0 0 0;
		background: @white;
		#progress-bar {
		    ul{
		    	margin:0;
		    	padding:0;
		    	li{
					list-style: none;
	    			float: left;
	    			font-weight: 600;
	    			font-size: @indPortalProgressBarFontSize;
	    			color: #999;
					text-align: center;
					width: 25%;
					position:relative;
					&:after { //this is the border that goes through the numbers
						content: "";
						border: 8px solid #e6eaeb;
						position: relative;
						bottom: 60px;
						left: 0;
						display: block;
					}
					.s-no { //this is numbers
						position: absolute;
						background: @white;
						border-radius: 50%;
						width: 36px; //change bubble size here
						height: 36px;
						padding: 10px;
						text-align: center;
						top: -65px; //up and down
						left: 32%;
						border:3px solid #e6eaeb;
						font-weight: 300;
						z-index: 1;
						color: #999;
						font-size: 32px;
						line-height: 36px;
					}
	    			&.active-state { // styles for the active circle step
	    				position: relative;
	    				color: @indPortalProgressBarActiveBG;
	    				text-indent: 10px;
	    				.s-no { //numbers are getting larger when is active
	    					background: @indPortalProgressBarActiveBG;
	    					color: @white;
	    					//font-size: 42px;
	    					//line-height: 34px;
	    					//border-color: darken(@indPortalProgressBarActiveBG, 3%);
	    					text-indent: 0;
	    					&:after {
	    						content: "";
								border: 4px solid #fff;
								border-radius: 80%;
								width: 18px;
								height: 18px;
								padding: 15px;
								position: absolute;
								top: 0px;
								left: 0px;
	    					}
	    				}
	    				.step-text {
	    					&:after {
								content: "You Are Here";
								position: absolute;
								font-size: 10px;
								border: 1px solid #e6eaeb;//@indPortalProgressBarActiveBG;
								background: #e6eaeb;//@indPortalProgressBarActiveBG;
								color: #999999!important;
								width: 95px;
								height: 24px;
								line-height: 24px;
								top: -100px;
								left: 22%;
								border-radius: 5px;
								font-weight: 300;
								text-transform: uppercase;	
								letter-spacing: 1px;
								text-indent: 2px; 
								color: @indPortalProgressBarActiveBG;   					
							}
							&:before { //this is indicator with arrow
							    content: "";
					            position: absolute;
					            top: -76px;
					            right: 45%;
					            width: 0;
					            height: 0;
					            border-left: 7px solid transparent;
					            border-right: 7px solid transparent;
					            border-top: 10px solid #e6eaeb;
		  					}
	    				}
	    			}
	    			&.disabled-state {
	    				color: darken(@indPortalProgressBarDisabledBG, 3%);
	    				.s-no { //numbers are getting larger when is active
	    					background: lighten(@indPortalProgressBarDisabledBG, 5%);
	    					color: darken(@indPortalProgressBarDisabledBG, 5%);
	    					font-size: @indPortalProgressBarFontSize+13px;
	    					line-height: 22px;
	    					border-color: darken(@indPortalProgressBarDisabledBG, 3%);
	    				}
	    			}
	    			&.completed-state { // styles for the completed circle step
	    				position: relative;
	    				//color: #6aabd5;
	    				.s-no {
	    					color: @white; // to hide the number
	    					background: @white; // bg to match with color!
	    				}
	    				.step-text {
	    					&:after {
	    						content: "\f00c";
	    						font-family: FontAwesome;
	    						font-size: 32px;
	    						position: absolute;
	    						top: -43px;
	    						left: 69px;
	    						z-index: 1;
	    						color: #6aabd5;
	    					}
	    				}
	    			}
		    		&:last-child { //last element shorter to align with the elements below
			    		//width:34%;
			    	}
		    	}
		    }
		}		
	}
	


// ########################################################################################################
// ########################################################################################################
// #
// #
// #
// #         *OEP MESSAGE
// #         
// #
// #
// ########################################################################################################
	#oep-msg {
		position: relative;
		p {
			margin-bottom: 0;
		}
		button {
			position: absolute;
			right:20px;
			bottom: 10px;
		}
	}
	


// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *PROGRESS BAR - CUSTOM WELL - NO BACKGROUND
// #         
// #
// #
// ########################################################################################################
	.well-nobg{ 
	    background: transparent;
	    .border(1px, solid, @indPortalWellBorder);
	    .border-radius-custom (4px, 4px, 4px, 4px);
	    
	}

	.well-step {
		.well-nobg;
		//margin: 0 10px 20px 0;
	    min-height: 20px;
	    padding: 20px 0 10px 0;
	    border-radius: 0;
	    margin-right: 0px!important;
	    //border: none;
		.blurb {
			background-color: @indPortalWellBlurbBg;
			.color(@indPortalWellBlurbText);
			margin: 0 16px 20px 0;
			padding: 8px 15px 8px 14px;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
			h4 {
				color: @indPortalProgressBarActiveBG;
				background: none;
				font-family: inherit;
			    font-size: 16px;
			    font-weight: 600;
			    padding: 5px 0 5px 10px;
			    margin-bottom: 0;
			}
		}
		.aid_appName{
			width: 50%;
		}
	}

	.well {
		background: @white;
		box-shadow: none;
		border-radius: 0;
		border-top: 2px solid @bubbleNavBorderColor;
		&.data-display {
			border-top: 1px solid @borderColor;
			background: darken(@white, 1.5%);
		}
	}

// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *Widget
// #         
// #
// #
// ########################################################################################################

	.widget{
		background: transparent;
		.border(1px, solid, @indPortalWellBorder);
		h5.header-secondary {
			background: none repeat scroll 0 0 #D9EDF7; //rgb(208, 233, 255)
		    font-size: 14px;
		    font-weight: 300;
		    height: 26px;
		    line-height: 26px;
		    margin: 15px 5px 0;
		    text-indent: 5px;
		}

	}


} // End portal


// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *Widget
// #         
// #
// #
// ########################################################################################################

@bubbleNavBorderColor: #62a0c7;
@bubbleNavActiveBg: #6aabd5;
@bubbleNavActiveFontColor: #fff;

.bubble-nav {
	.nav {
		margin-bottom: 0px;
		border-bottom: none;
		li {
			&:first-child {
				margin-left: 2%;
			}
		}
		a {
			padding: 8px 40px;
			border-color: @borderColor;
			border-bottom: 1px solid @borderColor;
			margin: 0 2px;
			font-family: @serifFontFamily-1;
			font-size: 16px;
			&:hover {
				border-bottom-color: inherit;
				background: darken(#fff, 2%);
			}
		}
		.active {
			a {
				border-color: @bubbleNavBorderColor;
				border-bottom: 1px solid @bubbleNavActiveBg;
				background: @bubbleNavActiveBg;
				color: @bubbleNavActiveFontColor;
				&:hover {
					border: 1px solid darken(@bubbleNavBorderColor, 5%);
				}
			}
		}
	}
}



// ########################################################################################################
// ########################################################################################################
// #
// #
// #         
// #         *My Applications
// #         
// #
// #
// ########################################################################################################
.applicationState {
	.well-step {
		margin-right: 0;
		padding: 10px;
	}
	h3 {
		font-size: @fontSizeH4;
		margin-top: 0;
		border-bottom: 1px solid @borderColor;
	}
	.availableActions {
		ul {
    		list-style-type: none;
    		li {
    			line-height: 28px;
    		}
    		a {
    			border-bottom: 1px dotted;
    			border-bottom-color: @linksColor;
    		}
    	}
	}
}	