@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  
  #masthead .navbar-inner .container, 
  #main .container, 
  #container-wrap .container, 
  footer.container, 
  #menu .navbar-inner {
  	border: 0 !important;
  }
 	
  #menu,
  #sidebar {
    display: none;
  }

 	.navbar-fixed-top {
 		position: relative !important;
 	}
 	
 	/* Plan display - Disable plan selection scroll */
  #rightpanel #plansbar.stuck, 
  #rightpanel .plans-header.stuck {
    position: relative!important;
    top: 0px!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

/* #container-wrap a[href]:after {
    content: " (" attr(href) ")";
  }
 		#container-wrap abbr[title]:after {
    content: " (" attr(title) ")";
  }
		#container-wrap  .ir a:after,
		#container-wrap  a[href^="javascript:"]:after,
		#container-wrap  a[href^="#"]:after {
    content: "";
  } */

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page  {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  
  h2,
  h3 {
    page-break-after: avoid;
  }
}