@import "media-queries.less";

.text_align{text-align:right}

@media @mobile, @mobile-landscape {
	body {
		background: @white;
	}
	#masthead {
		margin-top: -18px;
		.navbar {
			float: none!important; //to overwrite ghixcustom: .css;
		}
		.navbar-fixed-top {
			position: initial;
		}
	}
	#container-wrap {
		.container {
			border: none;
		}
	}
}
@media @L, @XL {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
@media @XS {
	#masthead #second-menu-nm li {
		display: block;
		text-align: right
	}
	.nav-collapse {
		margin-top: 50px;
		margin-right: 15px;
	}
	#masthead .navbar-inner {
		min-height: 0px;
	}
	#masthead .brand {
		top:0px;
		left: 10px;
	}
	#masthead {
		margin-top: 0px;
	}
	#skip-sign-up {
		border: 1px solid #007fae;
		background: #fff;
		color: #007fae;
		text-shadow: none;
		box-shadow: none;
		text-transform: uppercase;
		font-weight: 400;
		padding: 5px 0px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 5px;
		font-size: 14px;
		text-align: center;
		margin: 0px 0px 10px!important;
	}	
	#zip-anchor-div{
		margin-top: 10px;
	}
	.form-horizontal .form-actions {
		padding-left: 0px;
	}
	.text_align{text-align:left!important}
	.ps-plans__header{display:block}

}
@media @SD {
	#masthead #second-menu-nm li {
		display: block;
		text-align: right
	}
	.nav-collapse {
		margin-top: 50px;
		margin-right: 15px;
	}
	#masthead .navbar-inner {
		min-height: 0px;
	}
	#masthead .brand {
		top:0px
	}
	#masthead {
		margin-top: 0px;
	}
	.text_align{text-align:right}
}