@import "media-queries.less";


@media @mobile, @mobile-landscape {
	body {
		background: @white;
	}
	#masthead {
		margin-top: 0px;
		.navbar {
			float: none!important; //to overwrite ghixcustom: .css;
		}
		.navbar-fixed-top {
			position: initial;
		}
	}
	#container-wrap {
		.container {
			border: none;
		}
	}
}