@stickyFooterHeight: 90px;

* {
  margin: 0;
}
html, body {
  height: 100%;
}
#container-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -@stickyFooterHeight;
  }
div#footer, .push {
  height: @stickyFooterHeight;
}