* {
  margin: 0;
}
html, body {
  height: 100%;
}
#container-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
  }
div#footer {
	height: 124px;
}  
.push {
  height: 100px;
}