//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}


//utility
.u-margin-0 {
    margin: 0 !important;
}

.u-margin-top-0 {
    margin-top: 0 !important;
}

.u-margin-top-10 {
    margin-top: 10px !important;
}

.u-margin-top-20 {
    margin-top: 20px !important;
}


.u-margin-right-5 {
    margin-right: 5px !important;
}

.u-margin-right-10 {
    margin-right: 10px !important;
}

.u-margin-right-20 {
    margin-right: 20px !important;
}

.u-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.u-margin-bottom-10 {
    margin-bottom: 10px !important;
}

.u-margin-bottom-20 {
    margin-bottom: 20px !important;
}

.u-margin-left-10 {
    margin-left: 10px !important;
}

.u-margin-left-20 {
    margin-left: 20px !important;
}



.u-bold {
    font-weight: bold !important;
}

.u-table {
    display: table;
}

.u-table-row {
    display: table-row !important;
}

.u-table-cell {
    display: table-cell !important;
    vertical-align: middle !important;
    width: 25%;

    &:not(:last-child) {
        padding-right: 20px;
    }


    &--10 {
    	width: 10%;
    }

    &--15 {
    	width: 15%;
    }

    &--20 {
    	width: 20%;
    }

    &--30 {
    	width: 30%;
    }

    &--40 {
    	width: 40%;
    }

    &--50 {
    	width: 50%;
    }
}

.u-flex-display {
    display: flex;
}

.u-flex-50 {
    flex: 0 0 50%;
}

.u-flex-40 {
    flex: 0 0 40%;
}

.u-flex-30 {
    flex: 0 0 30%;
}

.u-flex-25 {
    flex: 0 0 25%;
}

.u-flex-20 {
    flex: 0 0 20%;
}

.u-flex-auto {
    flex: 1 1 auto;
}

.u-flex-25-gs {
    flex: 1 1 25%;
}


.u-hide, 
.u-show-block-xs,
.u-show-inline-block-xs {
	display: none !important;
}




@media (max-width: 992px) {
	
	
}


@media (max-width: 768px) {
	
}


@media (max-width: 576px) {
	.u-show-block-xs {
		display: block !important;
	}
	
	.u-show-inline-block-xs {
		display: inline-block !important;
	}
	
	.u-hide-xs {
		display: none !important;
	}
	
	.u-table-cell {
    	display: block !important;
    	width: 100%;
    }
}
