// Global values
// --------------------------------------------------

//Blue
@nv_nav_link_blue: #0080a7;
@nv_alert_text: #00477d;
@nv_btn_primary: #007fae;
@nv_btn_secondary: #00809e;
@nv_footer: #005e81;
@nv_alert_background: #ebf4f9;

//Grey
@nv_grey_heading: #4c4c4c;
@nv_grey_text: #333333;
@nv_form_field_border: #b5b5b5;
@nv_table_header: #eee;
@nv_general_paragraph: #8C8C8C;
@nv_border_grey: #EAEAEA;
@nv_header_background: #f5f5f5;

@nv_primary_pink: #A91C89;
@nv_primary_green: #7AB642;

//  Grays
// -------------------------
@black:                 #000;
@grayDarker:           	#3A3A3A;
@grayDark:              #5A5A5A;
@gray:                  #555;
@grayLight:             #4a5b5c;
@grayLighter:           #c9c9c9;
@white:                 #fff;


//	Pure Colors
//	-------------------------
//	--- Blue
@blueLight: 			#5AB5ED;
@blue:                  #2997da;
@blueDark:              #0183ba;

//	--- Green
@green:                 #46a546;

//	--- Red
@redLight: 				lighten(@red, 8%);
@red:                   #D51007;
@redDark: 				darken(@red, 8%);

//	--- Yellow
@yellow:                #ffc40d;

//	--- Orange
@orange:                #f89406;

//	--- Pink
@pink:                  #c3325f;

//	--- Purple
@purple:                #7a43b6;




// Theme colors
// -------------------------

// Amazon Color
@colorOneLight:			lighten(@colorOne, 10%);
@colorOne: 				#407A65;
@colorOneDark: 			darken(@colorOne, 10%);


// Amber Color 
@colorTwoLight:  		lighten(@colorTwo, 10%); 
@colorTwo: 				#DCB626; 
@colorTwoDark: 			darken(@colorTwo, 10%); 


// Sea Green Color
@colorThreeLight: 		lighten(@colorThree, 5%);
@colorThree:        	#19B9CA;
@colorThreeDark: 		darken(@colorThree, 10%);

@colorFour:      		#7b2247; //NM Burgundy


//Accent colors
//-------------------------
//	admin
@accentOne: 			#F72104;

//	broker
@accentTwo: 			#FF9600;

//	base
@accentThree: 			#85ba45;	//green

//	employee
@accentFour:  			#FF9600;

//	issuer
@accentFive: 			#83D4F7;

