// Global values
// --------------------------------------------------


//  Grays
// -------------------------
@black:                 #000;
@grayDarker:           	#3A3A3A;
@grayDark:              #5A5A5A;
@gray:                  #555;
@grayLight:             #b3b3b3;
@grayLighter:           #c9c9c9;
@white:                 #fff;


//	Pure Colors
//	-------------------------
//	--- Blue
@blueLight: 			#5AB5ED;
@blue:                  #2997da;
@blueDark:              #0183ba;

//	--- Green
@green:                 #46a546;

//	--- Red
@redLight: 				lighten(@red, 8%);
@red:                   #D51007;
@redDark: 				darken(@red, 8%);

//	--- Yellow
@yellow:                #ffc40d;

//	--- Orange
@orange:                #f89406;

//	--- Pink
@pink:                  #c3325f;

//	--- Purple
@purple:                #7a43b6;




// Theme colors
// -------------------------

// Amazon Color
@colorOneLight:			lighten(@colorOne, 10%);
@colorOne: 				#407A65;
@colorOneDark: 			darken(@colorOne, 10%);


// Amber Color 
@colorTwoLight:  		lighten(@colorTwo, 10%); 
@colorTwo: 				#DCB626; 
@colorTwoDark: 			darken(@colorTwo, 10%); 


// Sea Green Color
@colorThreeLight: 		lighten(@colorThree, 5%);
@colorThree:        	#19B9CA;
@colorThreeDark: 		darken(@colorThree, 10%);

@colorFour:      		#7b2247; //NM Burgundy


//Accent colors
//-------------------------
//	admin
@accentOne: 			#F72104;

//	broker
@accentTwo: 			#FF9600;

//	base
@accentThree: 			#85ba45;	//green

//	employee
@accentFour:  			#FF9600;

//	issuer
@accentFive: 			#83D4F7;


@infoText:               #04476c;