$font-heading-one: "Glypha LT Bold", Times, serif;
$font-heading-two: "Avenir", sans-serif;
$font-body: "Avenir LT 55 Roman", Arial, sans-serif;

.header-description {
	font-family: $font-body;
	font-size: 14px;
    margin-bottom: 0px;
}

.planfinder {
    font-family: $font-heading-one;
    font-size: 24.5px;
    color: #565656;
}

.header-inner-wrapper {
   margin-top: 20px;
}

.link {
	color: #244a7d;
	text-decoration: none;
}

.section_header {
	color: #326fb6;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 3%;
	margin-bottom: 1%;
}


