<div class="header-inner-wrapper">
    <div class="row">
        <div class="col-12 col-md-12">
            <h1>
                <span class="planfinder">{{'HEADER.title' | translate}}</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-12">
            <p class="header-description">
            	<span [innerHTML]=" 'HEADER.description' | translate"></span>
            	
            	<a 
            		href="javascript:void(0)" 
            		class="link" 
            		(click)="learnMore()" 
            		aria-label="Learn more link: learn more about Smartplandfinder by leaving this site and going to WA State Health Benefit Exchange corporate site.">
            		<span [innerHTML]=" 'HEADER.learnMore' | translate"></span> 
            		<i class="fa fa-caret-right"></i>
            	</a>
            	
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="section_header">{{'HEADER.get_started' | translate}}
            </div>
        </div>
    </div>
</div>