<a [href]="skipLinkPath" class="skip-link">Skip to main content</a>

<div class="navbar-primary"></div>

<div class="navbar-secondary">
	<div class="container component-wrapper">
		<div class="row">
			<div class="col-12">
				<img class="logo" src="{{logoUrl}}" alt="Washington Healthplanfinder">
			</div>
		</div>
	</div>
</div>