.skip-link {
	position: absolute;
	left: -10000px;
	top: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	text-decoration: none;
	
	&:focus {
		position: static;
		display: block;
		width: auto;
		height: auto;
		text-align: center;
		background-color: #1f4270;
		color: #fff;	
		padding: 5px;
		margin-top: 5px;
	}
}

.navbar-primary {
	height: 42px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 9%;
	padding-right: 9%;
	list-style: none;
	background-color: #1f4270;
}

.navbar-secondary {
	position: relative;
	height: 120px;
	border-bottom: 2px solid #4A4A4A;
	margin-bottom: 3%;
}

.logo {
	padding-left: 0px;
	margin-top: 20px;
	width: 300px;
}