<div *ngFor="let set of inputSet; let i = index;">
	<ng-container *ngIf="generateId(set) as generatedId">
	    <input
	        type="{{boxType}}"
	
	        value="{{set.value}}"
	        name="{{set.name}}"
	        id="{{generatedId}}"
	        (click)="output(set.value)"
	        [checked]="isChecked(set.value)">
	    <label for="{{generatedId}}">
	    	<span class="off-screen">Option {{i + 1}} of {{inputSet.length}}</span> {{set.text | translate}}
        </label>
    </ng-container>
</div>