form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
     
.off-screen {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}