<div class="card doctor-card"  [@abc]>

    <div class="card-header provider-label">
       {{doctor.providerType | docOrFac | translate}}
        <button 
        	class="text-right" 
        	(click)="destroy($event)" 
        	style="padding:0;" 
        	role="button" 
        	[attr.aria-label]="'Remove ' + doctor.providerType + ' ' + doctor.name + ' ' + doctor.specialty  + ' ' + doctor.city + ' ' + doctor.state">
            <i class="fa fa-times danger" >
            </i>
        </button>
    </div>

    <div class="card-block">
        <div class="provider-name col-12">{{doctor?.name}}</div>
        <div class="provider-details col-12">
                <div class="provider-specialty" *ngIf="doctor?.specialty as text">{{text}}</div>
                <div>{{doctor?.address}}</div>
                {{doctor?.city}},
                {{doctor?.state}}
                {{doctor?.zip}}
            </div>
    </div>

</div>
