.doctor-card {
	.card-block {
		min-height: 115px;
	}
}

.provider-name {
	font-size: 16px;
	color: #333333;
}

.provider-name {
	padding:0;
}

.provider-details {
	font-size: 14px;
	padding:0;
}

.provider-specialty {
	color: #565656;
	margin-bottom: 5px;
}

