.main__section__content__wrapper {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  padding-top: 30px;
}

.header {
  background: #f5f5f5;
}

.header h3 {
  line-height: 100%;
}

.broker-connect h4 {
  background: white !important;
}

.ds-c-field {
  padding: 4px 6px;
  border: 1px solid #b5b5b5;
  box-shadow: none;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ds-l-row {
  margin-left: 0px;
  margin-right: 0px;
}
.ds-l-form-row {
  margin-left: 0px;
  margin-right: 0px;
}
.ds-l-container {
  padding-left: 0px;
  padding-right: 0px;
}
.ds-l-col,
.ds-l-col--1,
.ds-l-col--2,
.ds-l-col--3,
.ds-l-col--4,
.ds-l-col--5,
.ds-l-col--6,
.ds-l-col--7,
.ds-l-col--8,
.ds-l-col--9,
.ds-l-col--10,
.ds-l-col--11,
.ds-l-col--12,
.ds-l-col--auto,
.ds-l-lg-col,
.ds-l-lg-col--1,
.ds-l-lg-col--2,
.ds-l-lg-col--3,
.ds-l-lg-col--4,
.ds-l-lg-col--5,
.ds-l-lg-col--6,
.ds-l-lg-col--7,
.ds-l-lg-col--8,
.ds-l-lg-col--9,
.ds-l-lg-col--10,
.ds-l-lg-col--11,
.ds-l-lg-col--12,
.ds-l-lg-col--auto,
.ds-l-md-col,
.ds-l-md-col--1,
.ds-l-md-col--2,
.ds-l-md-col--3,
.ds-l-md-col--4,
.ds-l-md-col--5,
.ds-l-md-col--6,
.ds-l-md-col--7,
.ds-l-md-col--8,
.ds-l-md-col--9,
.ds-l-md-col--10,
.ds-l-md-col--11,
.ds-l-md-col--12,
.ds-l-md-col--auto,
.ds-l-sm-col,
.ds-l-sm-col--1,
.ds-l-sm-col--2,
.ds-l-sm-col--3,
.ds-l-sm-col--4,
.ds-l-sm-col--5,
.ds-l-sm-col--6,
.ds-l-sm-col--7,
.ds-l-sm-col--8,
.ds-l-sm-col--9,
.ds-l-sm-col--10,
.ds-l-sm-col--11,
.ds-l-sm-col--12,
.ds-l-sm-col--auto,
.ds-l-xl-col,
.ds-l-xl-col--1,
.ds-l-xl-col--2,
.ds-l-xl-col--3,
.ds-l-xl-col--4,
.ds-l-xl-col--5,
.ds-l-xl-col--6,
.ds-l-xl-col--7,
.ds-l-xl-col--8,
.ds-l-xl-col--9,
.ds-l-xl-col--10,
.ds-l-xl-col--11,
.ds-l-xl-col--12,
.ds-l-xl-col--auto {
  padding-left: 0px;
  padding-right: 0px;
}
.spinner-whole-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nv-button-primary {
  color: #fff;
  background: #007fae;
  border: 1px solid #007fae;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px !important;
}
.nv-button-primary:hover,
.nv-button-primary:focus {
  background: #006c95;
}
/*.nv-button-primary:checked + label:before {
  background: #007fae !important;
  border: 1px solid #007fae !important;
  //background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3…2.283-3.37%202.283-5.54%200-2.174-.76-4.02-2.28-5.54z%22%2F%3E%3C%2Fsvg%3E) !important;
  background-image: url('./assets/images/checkmark.svg') !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: 24px !important;
}*/
/*
.nv-lebel-error {
  color: #d36d00 !important;
  border: solid 1px #d36d00 !important;
}
*/
.slider-text {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100%';
  font-size: 15;
  padding-right: 2;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 4px 10px 0px;
  line-height: normal;
}
.checkbox-1 {
  float: left;
  //margin-right: 8px;
}
.broker-con .checkbox-1 {
  margin: 4px 10px 0px 20px !important;
}
.excl {
  background: #ea5200 none repeat scroll 0 0;
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
  padding: 0 4px 0 5px;
  width: auto;
  font-style: normal;
}
select.ds-c-field {
  background-size: 6px;
}
.ds-u-margin--1 {
  margin: 0px !important;
}

.svg-inline--fa.fa-w-16 {
  width: 1.4em;
}
.svg-inline--fa {
  height: 1.4em;
}

.ds-c-alert--success {
  background-image: none;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.ds-c-alert--error {
  background-image: none;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ds-c-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0px;
}
.ds-c-alert__heading {
  font-weight: bold !important;
}
.ds-c-alert__body {
  padding-left: 0px;
}
.btm-margin-0 {
  margin-bottom: 0px;
}

strong {
  font-weight: bold !important;
}