.wrapper {

}
ul {
    list-style: none;
    margin:0px 16px 10px;
}

.tabs li {
    float: left;
    width: 50%;
}
.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #0e6094;
    padding: 10px 0;
    border-bottom: 1px solid #888;
    /*background: #f7f7f7;*/
    font-size: 20px;
    font-weight: bold;
}
.tabs a:hover,
.tabs a.active {
    border-bottom: 3px solid #0f6eaa;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.react-modal {
    position: absolute;
}

.old-ssap-modal {
    width: 600px;
}

.react-overlay {
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(63, 63, 63, 0.7);
}

.cursor--pointer {
    cursor: pointer;
}

.tooltip-component{
    max-width: 350px;
}

.oep-notice {
    padding: 10px;
}