body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
table {
	width: 640px;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	border-collapse: collapse;
	color: #333;
}
td {
	padding: 10px;
}
.smallRight {
	text-align: right;
	font-size: 10px;
}
.green {
	background-color: #72AF49;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.border {
	border: 1px solid #C7E0B6;
}

.greenBox {
	background: rgba(92, 186, 0, 0.1);
	border: 1px solid #C7E0B6;
}
.yellowBox {
	background-color: #FAFAD2;
	border: 1px solid #C7E0B6;
}
.topContainer {
	margin: auto 0;
	height: 540px;
}
.rows {
	width: 700px;
	margin: auto;
	border: #F66 1px solid;
}
.gutter {
	padding-top: 10px;
}
.footer {
	height: 251px
}
