@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
table {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	border-collapse: collapse;
	color: #333;
}

.mainTable {
	width: 450px;  
	border: 1px solid #C7E0B6; 	
}

.sideTable {
	width:200px;
	line-height: 16px;
}

.verticalTop {
	vertical-align: top;	
}

.infoTable {
	width:200px;  
	border-top: 1px #C7E0B6 solid;
	line-height: 18px;	
}

.rightFloat {
	/* float: right;	 */
}

td {
	padding: 5px;
	word-break:break-word;
}

.smallRight {
	text-align: right;
	font-size: 10px;
	vertical-align: top;
	padding-right: 0px;  
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.smallRightTop {
	border-bottom: 1px #C7E0B6 solid; 
	vertical-align: bottom; 
	text-align: right; 
	font-size: 11px; 
	padding-left: 0px;
}

.smallLeft {
	text-align: left; 
	font-size: 11px; 
	padding-left: 0px;  
	padding-bottom: 20px;
}

.darkGreen {
	background-color: #72AF49;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 10px; font-size: 13px;
}
.border {
	border: 1px solid #C7E0B6;
}

.insideBorder {
	border-right: 1px #C7E0B6 solid;
	padding: 10px;
}

.bottomBorder {
	border-bottom: 2px #d97b00 solid;	
}
tbody.greenBg tr.bottomBorder{
	border-bottom:1px solid #C7E0B6;
}

.greenBg {
	background: rgba(92, 186, 0, 0.1);
	border: 1px solid #C7E0B6;
}

.topBanner {
	margin-left:auto;
	margin-right:auto;
	width:700px;
	height: 740px;
}

.rows {
	width: 700px;
	margin: auto;
	border: #F66 1px solid;
}
.gutter {
	padding-top: 10px;
}
.footer {
	height: 251px
}

.pullRight{
	text-align: right;
}

.theadRight {
	text-transform: capitalize; 
	letter-spacing: 0px; 
	font-size: 11px;	
/* 	float: right; */
}

<!--itemized breakdown table-->

.itemTable {
	width: 700px;	
	font-size: 10px;
}

.itemTitle {
	color: #72AF49; 
	padding-bottom: 5px; 
	font-size: 12px; 
	font-weight: bold;	
}

.itemHead {
	background: #72AF49; 
	color: #FFF; 
	text-transform: uppercase;
}

.itemBreak {
	background: #FFF; 
	border: hidden;
}

.footer {
	width: 100%; 
	margin: auto; 
	border-top: 2px #d97b00 solid;	
}

.bottom20 {
	padding-bottom: 20px;
}

.size10 {
	font-size: 10px;	
}
.break{
	page-break-after:always;
}

.greenTD td{
	background-color:#EDFAD9;
	border:1px solid #C7E0B6;
}

.landscape{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	height:700px;
}

.brand{
	font-size:14px;
	font-weight:bold;
}