<div ng-transclude></div>

<div class="txt-left">
<!-- addressMatchModal -->
<div class="modal hide fade addressMatchModal address-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Select your address</h3>
	</div>
	<div class="modal-body">
		<div>
			<h4>You entered</h4>
			<p class="margin10-l">
				<label> 
					<input name="addressMatchSelected" type="radio" ng-model="vm.addressSelected" value="{{addressValidationDirective}}"> 
					{{addressValidationSameAddressDto === false? addressValidationDirective.streetAddress1 : addressValidationDirective.addressLine1}} 
					{{addressValidationSameAddressDto === false? addressValidationDirective.streetAddress2 : addressValidationDirective.addressLine2}} 
					{{addressValidationDirective.city}}, {{addressValidationDirective.state}} 
					{{addressValidationSameAddressDto === false? addressValidationDirective.postalCode : addressValidationDirective.zipcode}}</span>
				</label>
			</p>
		</div>
		
		<div class="margin30-t">
			<h4>We found</h4>
			<div ng-repeat="address in addressValidatioResponse.suggestions">
				<p class="margin10-l">
					<label> 
						<input name="addressMatchSelected" type="radio" ng-model="vm.addressSelected" ng-checked="$first" value="{{address}}"> 
						{{address.addressLine1}} {{address.addressLine2}} {{address.city}}, {{address.state}} {{address.zipcode}}</span>
					</label>
				</p>
				
				<div ng-repeat="errorMessage in address.addressValidationErrorMessages">
					<p class="alert alert-error">{{errorMessage}}</p>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" ng-click="vm.updateAddress()">OK</button>
	</div>
</div>
<!-- addressMatchModal End-->



<!-- addressNotFoundModal -->
<div class="modal hide fade addressNotFoundModal address-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Address not found</h3>
	</div>
	<div class="modal-body">
		<h4>You entered</h4>
		<p class="margin10-l">
			<label> 
				<input name="addressNotFoundSelected" type="radio" ng-model="vm.addressSelected" value="{{addressValidationDirective}}"> 
				{{addressValidationSameAddressDto === false? addressValidationDirective.streetAddress1 : addressValidationDirective.addressLine1}} 
				{{addressValidationSameAddressDto === false? addressValidationDirective.streetAddress2 : addressValidationDirective.addressLine2}} 
				{{addressValidationDirective.city}}, {{addressValidationDirective.state}} 
				{{addressValidationSameAddressDto === false? addressValidationDirective.postalCode : addressValidationDirective.zipcode}}</span>
			</label>
		</p>
		<p class="alert alert-error margin20-t">The address you entered is not in the postal database. Please check it for accuracy. Click OK to proceed with the address you entered.</p>

	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" ng-click="vm.updateAddress()">OK</button>
	</div>
</div>
<!-- addressNotFoundModal End-->
</div>
