<div id="{{modalId}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{modalId + 'Header'}}" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="{{modalId + 'Header'}}">{{modalHeaderContent | translate}}</h3>
	</div>
	<div class="modal-body">
		<div ng-transclude></div>
	</div>
	<div class="modal-footer">
		<button ng-if="cancelContent !== undefined" class="btn" data-dismiss="modal" aria-hidden="true">{{cancelContent | translate}}</button>
		<button ng-if="submitContent !== undefined" class="btn btn-primary" ng-click="vm.clicked()">{{submitContent | translate}}</button>
	</div>
</div>
