<div ng-controller="discrepanyDetailCtrl">

        <div class="top-chart" class="panel-group" id="accordion4" >
    	
        <div  class="panel panel-info">
      		<button class="btn btn-primary" ng-click="backToSearch()">Back</button>
        	<a class="pull-right btn btn-primary" href="/hix/crm/member/enrollment/premiumhistory/{{encEnrollmentID}}">Enrollment Edit Tool</a>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapseVisualSnapshot">
                <h4 class="panel-title">
                    <a class="accordion-toggle">Visual Snapshot</a>
                </h4>
            </div>

            <div id="collapseVisualSnapshot" class="panel-collapse collapse in" >
                <div class="panel-body">
                    <div class="row-fluid">
                    	<div ng-hide="visualSummary.discrepancyNotesList === undefined || visualSummary.discrepancyNotesList.length ===0">
                            <div ng-hide="visualSummary.discrepancyNotesList === undefined || visualSummary.discrepancyNotesList.length ===0">
                    			
                    				<h5 class="form-group-border">Notes</h5>
                    				<div class ="error-notes">
                    				<ul>
                    					<li ng-repeat="notes in visualSummary.discrepancyNotesList">{{notes}}</li>
          							</ul>
          						</div>
                        	</div>
                        </div>
                        <div class="top-chart" class="panel-group" id="accordion5">
					        <div class="panel panel-info">
					            <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEnrollment">
					                <h4 class="panel-title">
					                    <a class="accordion-toggle">ENROLLMENT</a>
					                </h4>
					            </div>
					
					            <div id="collapseEnrollment" class="panel-collapse collapse in" >
					                <div class="panel-body">
					                    <!--<div class="row-fluid">-->
					                        <!--<div class="span6"></div>-->
					                        <!--<div class="span6 pull-right" style="text-align:right">-->
					                            <!--<span class="ui-grid-btn">Hold All</span>-->
					                        <!--</div>-->
					                    <!--</div>-->
					
					                   <form class="form-horizontal" >
				                            <div class="span6" style="margin-left: 10px;">
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Exchange Assigned Policy ID :</label>
				                                    <span class="control-label enrollment-label" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.enrollmentId}} ">{{visualSummary.enrollmentId}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">QHP ID :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.cmsPlanId.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.cmsPlanId.hixValue}} <br> Issuer Value: {{visualSummary.cmsPlanId.issuerValue}}">{{visualSummary.cmsPlanId.hixValue}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Start Date :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.benefitEffectiveStartDate.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.benefitEffectiveStartDate.hixValue}} <br> Issuer Value: {{visualSummary.benefitEffectiveStartDate.issuerValue}}">{{visualSummary.benefitEffectiveStartDate.hixValue}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Mailing Address :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.mailingAddress.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.mailingAddress.hixValue}} <br> Issuer Value: {{visualSummary.mailingAddress.issuerValue}}">{{visualSummary.mailingAddress.hixValue}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Phone Number :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.phoneNumber.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.phoneNumber.hixValue}} <br> Issuer Value: {{visualSummary.phoneNumber.issuerValue}}">{{visualSummary.phoneNumber.hixValue}}</span>
				                                </div>
				
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Agent Name :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.agentName.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.agentName.hixValue}} <br> Issuer Value: {{visualSummary.agentName.issuerValue}}">{{visualSummary.agentName.hixValue}}</span>
				                                </div>
				                            </div>
				                            <div class="span6" style="margin-left: 10px;">
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Effectuated :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.isEffectuated.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.isEffectuated.hixValue}} <br> Issuer Value: {{visualSummary.isEffectuated.issuerValue}}">{{visualSummary.isEffectuated.hixValue}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Issuer Name :</label>
				                                    <span class="control-label enrollment-label" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.issuerName}} ">{{visualSummary.issuerName}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">End Date :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.benefitEffectiveEndDate.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.benefitEffectiveEndDate.hixValue}} <br> Issuer Value: {{visualSummary.benefitEffectiveEndDate.issuerValue}}">{{visualSummary.benefitEffectiveEndDate.hixValue}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Home Address :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.homeAddress.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.homeAddress.hixValue}} <br> Issuer Value: {{visualSummary.homeAddress.issuerValue}}">{{visualSummary.homeAddress.hixValue}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Member Count :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.memberCount.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.memberCount.hixValue}} <br> Issuer Value: {{visualSummary.memberCount.issuerValue}}">{{visualSummary.memberCount.hixValue}}</span>
				                                </div>
				                                <div class="control-group" style="margin-bottom: 0;">
				                                    <label class="control-label">Agent ID :</label>
				                                    <span class="control-label enrollment-label" ng-class="getColor(visualSummary.brokerFEDTaxPayerId.hasDiscrepancy)" style="text-align: left; data-toggle="tooltip" data-placement="top"  bs-tooltip data-original-title="Hix Value: {{visualSummary.brokerFEDTaxPayerId.hixValue}} <br> Issuer Value: {{visualSummary.brokerFEDTaxPayerId.issuerValue}}">{{visualSummary.brokerFEDTaxPayerId.hixValue}}</span>
				                                </div>
				                            </div>
                        				</form>
					                </div>
					            </div>
					        </div>
				    	</div>
                    </div>
						<div class="top-chart" class="panel-group" id="accordion5">
							<div class="panel panel-info">
							<div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMembers">
								<h4 class="panel-title">
									<a class="accordion-toggle">MEMBERS</a>
								</h4>
							</div>
	
							<div id="collapseMembers" class="panel-collapse collapse in" >
								<div class="panel-body">
										<!--<div class="row-fluid">-->
											<!--<div class="span6"></div>-->
											<!--<div class="span6 pull-right" style="text-align:right">-->
												<!--<span class="ui-grid-btn">Hold All</span>-->
											<!--</div>-->
										<!--</div>-->
	
									 <div ui-grid="gridOptionsForMembers" ui-grid-auto-resize ng-style="getTableHeight()" class="gridStyle grid"
										ng-hide="gridOptionsForMembers.data === undefined"></div>
									 <div id="noMemberGrid" ui-grid="gridOptionsForMembers" ui-grid-exporter ui-grid-selection class="noDataGrid"
										ng-hide="gridOptionsForMembers.data.length">
										<div class="alert alert-info" >
											No Data Found
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="top-chart" class="panel-group" id="accordion5">
						<div class="panel panel-info">
							<div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapsePremium">
								<h4 class="panel-title">
									<a class="accordion-toggle">PREMIUM</a>
								</h4>
							</div>
	
							<div id="collapsePremium" class="panel-collapse collapse in" >
								<div class="panel-body">
									<!--<div class="row-fluid">-->
										<!--<div class="span6"></div>-->
										<!--<div class="span6 pull-right" style="text-align:right">-->
											<!--<span class="ui-grid-btn">Hold All</span>-->
										<!--</div>-->
									<!--</div>-->
		
								    <div ui-grid="gridOptionsForMonths" ui-grid-auto-resize class="gridStyle grid" 
	                    				ng-hide="gridOptionsForMonths.data === undefined"></div>
	                    			<div id="noPremiumGrid" ui-grid="gridOptionsForMonths" ui-grid-exporter ui-grid-selection class="noDataGrid"
	                   					ng-hide="gridOptionsForMonths.data.length">
	                        			<div class="alert alert-info" >
	                           				 No Data Found
	                        			</div>
	                    			</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>


    <div class="top-chart" class="panel-group" id="accordion5">
        <div class="panel panel-info">
            <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOpenDiscrepancies">
                <h4 class="panel-title">
                    <a class="accordion-toggle">Open Discrepancies ({{getOpenDiscrepanciesCount()}})</a>
                </h4>
            </div>

            <div id="collapseOpenDiscrepancies" class="panel-collapse collapse in" >
                <div class="panel-body">
                    <!--<div class="row-fluid">-->
                        <!--<div class="span6"></div>-->
                        <!--<div class="span6 pull-right" style="text-align:right">-->
                            <!--<span class="ui-grid-btn">Hold All</span>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div ui-grid="gridOptionsForOpenDiscrepancies" ui-grid-auto-resize ui-grid-pagination my-ui-grid-resize class="grid"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-chart" class="panel-group" id="accordion6">
        <div class="panel panel-info">
            <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapseComments">
                <h4 class="panel-title">
                    <a class="accordion-toggle">Comments ({{getCommentsCount()}})</a>
                </h4>
            </div>

            <div id="collapseComments" class="panel-collapse collapse in" >
                <div class="panel-body">
                    <div ui-grid="gridOptionsForComments" ui-grid-pagination ui-grid-auto-resize my-ui-grid-resize class="grid"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="discrepancyCommentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="premiumOverrideReasonModalHeader" aria-hidden="true">
        <form name="discrepancyCommentModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="emptyComments()">X</button>
                <h3 id="addCommentModalHeader">{{currntOpenDiscrepancy.header}}</h3>
            </div>
            <div class="modal-body">
                <textarea class="overrideTextarea margin10-t" ng-model="currntOpenDiscrepancy.comment" placeholder="Please explain the change you are making and why" maxlength="4000" required></textarea>
                <span>{{4000 - currntOpenDiscrepancy.comment.length}} left</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="addCommentsForDiscrpancy(currntOpenDiscrepancy)" ng-disabled="discrepancyCommentModal.$invalid">Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="emptyComments()">Close</button>
            </div>
        </form>
    </div>

</div>