<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
  "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
  	<tlib-version>3.1</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>audit</short-name>
	<uri>http://localhost:8080/hix</uri>
	<display-name>Audit *: Tag Library</display-name>
	<description>Displays the audit information</description>

	<tag>
		<name>view</name>
		<tag-class>com.getinsured.hix.platform.audit.taglib.AuditTag</tag-class>
		<body-content>JSP</body-content>
		<attribute>
			<name>repoBeanName</name>
	        <required>true</required>
	        <type>java.lang.String</type>
		</attribute>
		<attribute>
			<name>className</name>
	        <required>true</required>
	        <type>java.lang.String</type>
		</attribute>		
		<attribute>
			<name>entityId</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>	      
	        <type>java.lang.Integer</type>	          
		</attribute>
	</tag>
</taglib>
