<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
  "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
  	<tlib-version>3.1</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>datalisting</short-name>
	<uri>/WEB-INF/tld/datalisting</uri>
	<!-- Pagination definition -->
	<tag>
	    <name>paginate</name>
	    <tag-class>com.getinsured.hix.platform.util.datalisting.Paginator</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	      <name>resultSize</name>
	      <required>true</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>java.lang.Integer</type>
	    </attribute>
	    <attribute>
	      <name>pageSize</name>
	      <rtexprvalue>true</rtexprvalue>
	      <type>java.lang.Integer</type>
	    </attribute>
	    <attribute>
	      <name>firstAndLastView</name>
	      <required>false</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>boolean</type>
	    </attribute>
	    <attribute>
	      <name>hideTotal</name>
	      <required>false</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>boolean</type>
	    </attribute>
	     <attribute>
	      <name>showDynamicPageSize</name>
	      <required>false</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>boolean</type>
	    </attribute>
	     <attribute>
              <name>customFunctionName</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
              <type>java.lang.String</type>
         </attribute>
   </tag>
   	<tag>
	    <name>sort</name>
	    <tag-class>com.getinsured.hix.platform.util.datalisting.Sorter</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	      <name>sortBy</name>
	      <required>true</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>java.lang.String</type>
	    </attribute>
	    <attribute>
	      <name>title</name>
	      <required>true</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>java.lang.String</type>
	    </attribute>
	    <attribute>
	      <name>sortOrder</name>
	      <required>true</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>java.lang.String</type>
	    </attribute>
	    <attribute>
              <name>customFunctionName</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
              <type>java.lang.String</type>
        </attribute>
  </tag>
</taglib>