<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
  "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
  	<tlib-version>3.1</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>employeeDashboard</short-name>
	<uri>/WEB-INF/tld/employer-dashboard-util</uri>
	
	<tag>
	    <name>nav</name>
	    <tag-class>com.getinsured.hix.shop.util.EmployerDashboardNav</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	        <name>employer</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
   </tag>
   <tag>
	    <name>renewalnav</name>
	    <tag-class>com.getinsured.hix.shop.util.EmployerRenewalDashboardNav</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	        <name>employer</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
   </tag>
	<tag>
	    <name>employeesummary</name>
	    <tag-class>com.getinsured.hix.shop.util.EmployerDashboardEmployerSummary</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	        <name>employer</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
   </tag>   
   <tag>
	    <name>renewalemployeesummary</name>
	    <tag-class>com.getinsured.hix.shop.util.EmployerDashboardRenewalEmployeeSummary</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	        <name>employer</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
   </tag>   
   <tag>
   	    <name>coverageSummary</name>
	    <tag-class>com.getinsured.hix.shop.util.EmployerDashboardCoverageSummary</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	        <name>employer</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
   </tag>
   <tag>
   	    <name>renewalcoverageSummary</name>
	    <tag-class>com.getinsured.hix.shop.util.EmployerDashboardRenewalCoverageSummary</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	        <name>employer</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
   </tag>
</taglib>