<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
  "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
  	<tlib-version>3.1</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>employer-planselection-util</short-name>
	<uri>/WEB-INF/tld/employer-planselection-util</uri>
	
	<!-- Navigator definition -->
	<tag>
	    <name>nav</name>
	    <tag-class>com.getinsured.hix.shop.employer.util.PlanSelectionNavigator</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	      <name>pageName</name>
	      <required>true</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>java.lang.String</type>
	    </attribute>
   </tag>
	
   <tag>
	    <name>selection</name>
	    <tag-class>com.getinsured.hix.shop.employer.util.SelectionCriteria</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	      <name>pageName</name>
	      <required>true</required>
	      <rtexprvalue>true</rtexprvalue>
	      <type>java.lang.String</type>
	    </attribute>
   </tag>
    
</taglib>