<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
  "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
  	<tlib-version>3.1</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>employeeDashboard</short-name>
	<uri>/WEB-INF/tld/employee-dashboard-util</uri>
	
	<tag>
	    <name>myStuff</name>
	    <tag-class>com.getinsured.hix.shop.employee.util.EmployeeDashboardNav</tag-class>
	    <body-content>JSP</body-content>
	    <attribute>
	        <name>employeeApplication</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
	        <!-- <type><![CDATA[java.util.HashMap<java.lang.String, java.lang.Object>]]></type>    -->  
	         <type>java.lang.Object</type>  
	    </attribute>
	    <attribute>
	        <name>hidesettings</name>
	        <required>false</required>
	        <rtexprvalue>true</rtexprvalue>
	        <!-- <type><![CDATA[java.util.HashMap<java.lang.String, java.lang.Object>]]></type>    -->  
	         <type>java.lang.String</type>  
	    </attribute>
	    <attribute>
	        <name>hideinbox</name>
	        <required>false</required>
	        <rtexprvalue>true</rtexprvalue>
	        <!-- <type><![CDATA[java.util.HashMap<java.lang.String, java.lang.Object>]]></type>    -->  
	         <type>java.lang.String</type>  
	    </attribute>
   </tag>
   
   <tag>
	    <name>quickLinks</name>
	    <tag-class>com.getinsured.hix.shop.employee.util.EmployeeDashboardQuickLinks</tag-class>
	    <body-content>JSP</body-content>
	   <attribute>
	        <name>employeeApplication</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
	         <type>java.lang.Object</type>  
	        <!-- <type><![CDATA[java.util.HashMap<java.lang.String, java.lang.Object>]]></type>   -->      
	    </attribute>
  </tag>
  
   <tag>
	    <name>planSummary</name>
	    <tag-class>com.getinsured.hix.shop.employee.util.EmployeeDashboardPlanSummary</tag-class>
	    <body-content>JSP</body-content>
	   <attribute>
	        <name>employeeApplication</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
	    <attribute>
	        <name>isSpEnrollment</name>
	        <required>false</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>boolean</type>  
	    </attribute>
  </tag>
  
   <tag>
	    <name>employerContribution</name>
	    <tag-class>com.getinsured.hix.shop.employee.util.EmployeeDashboardEmployerContribution</tag-class>
	    <body-content>JSP</body-content>
	   <attribute>
	        <name>employeeApplication</name>
	        <required>true</required>
	        <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>  
	    </attribute>
  </tag>
</taglib>