<?xml version="1.0" encoding="ISO-8859-1" ?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">
    <description>Populate the encrypt value</description>

    <tlib-version>3.1</tlib-version>
    <short-name>ghixenc</short-name>
    <uri>/WEB-INF/tld/ghix-encryptor</uri>

    <tag>
    	<description>Encrypt the form data</description>
        <name>enc</name>
        <tag-class>com.getinsured.hix.platform.security.GhixEncryptorTag</tag-class>
        <body-content>JSP</body-content>
        <attribute>
        	<name>value</name>
        	<required>true</required>
        	<rtexprvalue>true</rtexprvalue>
        	<type>java.lang.String</type>
        </attribute>
        <attribute>
        	<name>isurl</name>
        	<required>false</required>
        	<rtexprvalue>true</rtexprvalue>
        	<type>java.lang.Boolean</type>
        </attribute>
    </tag>
    
</taglib>
