<div spinning-loader="vm.loader"></div>

<div ng-init="vm.init()" ng-form="adminStaffForm" id="adminStaff">
	<div class="header">
		<h4 class="pull-left">
			{{'agency.admin_staff_info.header_1'| translate}}
		</h4>
		<span class="ng-cloak" ng-if="vm.adminStaffData.approvalStatus !== undefined && vm.adminStaffData.approvalStatus !== 'PENDING' && !vm.editMode && vm.currentUserRole === 'AGENCY_MANAGER'">
			<button class="btn btn-primary btn-small pull-right" ng-click="vm.edit()">
				{{'agency.information.edit'| translate}}
			</button>
		</span>
		<span class="ng-cloak" ng-if="!vm.editMode && vm.flowFlag.adminFlow && vm.currentUserRole !== 'AGENCY_MANAGER'" >
			<button class="btn btn-primary btn-small pull-right ng-cloak" ng-click="vm.edit()">
				{{'agency.information.edit'| translate}}
			</button>
		</span>
		<span ng-if="vm.editMode && ((!vm.isNewAdminStaffRegistrationFlow && (vm.registrationComplete || vm.registrationComplete === undefined))||(vm.flowFlag.adminFlow && vm.currentUserRole !== 'AGENCY_MANAGER'))" class="pull-right">
			<button class="btn btn-small" ng-click="vm.cancel()">
				{{'agency.information.cancel'| translate}}
			</button>
		</span>
	</div>

	<form role="form" class="form-horizontal gutter10" id="adminStaffForm" name="adminStaffForm" ng-if="vm.editMode" ng-class="ng-pristine" novalidate>
		<div class="row-fluid">
			<div class="">
				<div class="control-group">
					<label for="aid-first-name" class="control-label">
						{{'agency.admin_staff_info.first_name'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input id="aid-first-name" type="text" name="firstName" required maxlength="50" ng-model="vm.adminStaffData.firstName"/>

						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.firstName.$touched || (adminStaffForm.firstName.$dirty && adminStaffForm.firstName.$error.required)">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.first_name'| translate}}
								</span>
							</label>
							<label class="error" ng-if="adminStaffForm.firstName.$dirty && adminStaffForm.firstName.$error.maxlength">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.first_name'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<div class="control-group">
					<label for="aid-last-name" class="control-label">
						{{'agency.admin_staff_info.last_name'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input id="aid-last-name" class="" type="text" name="lastName" required maxlength="50" ng-model="vm.adminStaffData.lastName"/>
						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.lastName.$touched || (adminStaffForm.lastName.$dirty && adminStaffForm.lastName.$error.required)">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.last_name'| translate}}
								</span>
							</label>
							<label class="error" ng-if="adminStaffForm.lastName.$dirty && adminStaffForm.lastName.$error.maxlength">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.first_name'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12">
				<div class="control-group phone-group">
					<label for="aid-primary-contact-1"  class="control-label">
						{{'agency.admin_staff_info.primary_contact_number'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<label for="aid-primary-contact-2" class="required hidden">
						{{'agency.admin_staff_info.primary_contact_number'| translate}}
					</label>
					<label for="aid-primary-contact-3" class="required hidden">
						{{'agency.admin_staff_info.primary_contact_number'| translate}}
					</label>
					<div class="controls">
						<input type="text" auto-tab-to="aid-primary-contact-2" ng-maxlength="3" name="primaryContact1" id="aid-primary-contact-1" maxlength="3" class="area-code input-mini" required ng-model="vm.primaryPhone1" ng-pattern="/^[0-9]{3}$/"/>
						<input type="text" auto-tab-to="aid-primary-contact-3" ng-maxlength="3" name="primaryContact2" id="aid-primary-contact-2" maxlength="3" class="area-code input-mini" required ng-model="vm.primaryPhone2" ng-pattern="/^[0-9]{3}$/"/>
						<input type="text" name="primaryContact3" id="aid-primary-contact-3" maxlength="4" class="area-code input-mini" required ng-model="vm.primaryPhone3" ng-pattern="/^[0-9]{4}$/"/>
						<div class="help-inline">
							<label class="error" ng-if="(adminStaffForm.primaryContact1.$dirty && adminStaffForm.primaryContact1.$error.pattern) || (adminStaffForm.primaryContact2.$dirty && adminStaffForm.primaryContact2.$error.pattern) || (adminStaffForm.primaryContact3.$dirty && adminStaffForm.primaryContact3.$error.pattern)">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.contact_number'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<div class="control-group phone-group">
					<label for="aid-primary-contact-1"  class="control-label">
						{{'agency.admin_staff_info.business_contact_number'| translate}}
					</label>
					<label for="aid-primary-contact-2" class="required hidden">
						{{'agency.admin_staff_info.business_contact_number'| translate}}
					</label>
					<label for="aid-primary-contact-3" class="required hidden">
						{{'agency.admin_staff_info.business_contact_number'| translate}}
					</label>
					<div class="controls">
						<input type="text" auto-tab-to="aid-business-contact-2" ng-maxlength="3" name="businessContact1" id="aid-business-contact-1" maxlength="3" class="area-code input-mini" ng-model="vm.businessPhone1" ng-pattern="/^[0-9]{3}$/"/>
						<input type="text" auto-tab-to="aid-business-contact-3" ng-maxlength="3" name="businessContact2" id="aid-business-contact-2" maxlength="3" class="area-code input-mini" ng-model="vm.businessPhone2" ng-pattern="/^[0-9]{3}$/"/>
						<input type="text" name="businessContact3" id="aid-business-contact-3" maxlength="4" class="area-code input-mini" ng-model="vm.businessPhone3" ng-pattern="/^[0-9]{4}$/"/>
						<div class="help-inline">
							<label class="error" ng-if="(adminStaffForm.businessContact1.$dirty && adminStaffForm.businessContact1.$error.pattern) || (adminStaffForm.businessContact2.$dirty && adminStaffForm.businessContact2.$error.pattern) || (adminStaffForm.businessContact3.$dirty && adminStaffForm.businessContact3.$error.pattern)">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.contact_number'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12">
				<div class="control-group">
					<label for="aid-personal-email" class="control-label">
						{{'agency.admin_staff_info.email_personal'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
						<a class="ttclass" rel="tooltip" href="#" tabindex="0"  gi-popover popover-html="{{'agency.admin_staff_info.email_personal_tooltip'| translate}}" aria-label="{{'agency.admin_staff_info.email_personal_tooltip'| translate}} {{dayHour.day}}" popover-placement="top"><i class="icon-question-sign"></i></a>
					</label>
					<div class="controls">
						<input id="aid-personal-email" class="" type="email" name="personalEmail" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required ng-model="vm.adminStaffData.personalEmailAddress" aria-disabled="true" aria-label="Primary Email" />

						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.personalEmail.$dirty && adminStaffForm.personalEmail.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.email'| translate}}
								</span>
							</label>
							<label class="error" ng-if="adminStaffForm.personalEmail.$dirty && adminStaffForm.personalEmail.$error.pattern">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.email'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12">
				<div class="control-group">
					<label for="aid-business-email" class="control-label">
						{{'agency.admin_staff_info.email_business'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input id="aid-business-email" class="" type="email" name="businessEmail" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required ng-model="vm.adminStaffData.businessEmailAddress" aria-disabled="true" aria-label="Business Email" />

						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.businessEmail.$dirty && adminStaffForm.businessEmail.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.email'| translate}}
								</span>
							</label>
							<label class="error" ng-if="adminStaffForm.businessEmail.$dirty && adminStaffForm.businessEmail.$error.pattern">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.email'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>

				<div class="control-group">
					<label for="aid-communication-preference" class="control-label">
						{{'agency.admin_staff_info.preferred_communication'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<select
							ng-model="vm.communicationPref"
							ng-options="communication for communication in vm.preferredCommunicationList"
							name="communicationPreference"
							id="aid-communication-preference"
							required>
							<option value="">Select</option>
						</select>
						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.communicationPreference.$dirty && adminStaffForm.communicationPreference.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.communication_pref'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>


				<div class="control-group">
					<label for="aid-business-name" class="control-label">
						{{'agency.admin_staff_info.business_name'| translate}}
					</label>
					<div class="controls">
						<input id="aid-business-name" ng-disabled="vm.registrationFlow" class="disabled" type="text" name="businessName" ng-model="vm.adminStaffData.businessLegalName"/>
					</div>
				</div>


				<div class="control-group">
					<label for="aid-admin_staff_level" class="control-label">
						{{'agency.admin_staff_info.admin_staff_level'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
						<a class="ttclass" rel="tooltip" href="#" tabindex="0"  gi-popover popover-html="{{'agency.admin_staff_info.staff_level_tooltip'| translate}}" aria-label="{{'agency.admin_staff_info.staff_level_tooltip'| translate}} {{dayHour.day}}" popover-placement="top"><i class="icon-question-sign"></i></a>
					</label>
					<div class="controls">
						<select
							ng-model="vm.assistantRole"
							ng-options="assisterRole as assisterRole for assisterRole in vm.assistantRoleList"
							ng-init = "vm.assistantRole = vm.setAssistantRole()"
							name="adminStaffLevel"
							id="aid-admin-staff-level">
						</select>
					</div>
				</div>

			<div class="header">
				<h4 class="pull-left">
					{{'agency.admin_staff_info.header_2'| translate}}
				</h4>
			</div>

				<div class="control-group">
					<label for="aid-siteLocation" class="control-label">
						{{'agency.admin_staff_info.select_agency_loc'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<select
							ng-model="vm.adminStaffData.agencySites.siteLocationName"
							ng-options="site.siteLocationName as site.siteLocationName for site in vm.adminStaffData.agencySites"
							ng-change="vm.getSelectedLocation(vm.adminStaffData.agencySites.siteLocationName)"
							name="siteLocation"
							id="aid-siteLocation"
							required>
							<option value=""> Select Location </option>
						</select>
						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.siteLocation.$dirty && adminStaffForm.siteLocation.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.location_name'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>

			<div class="location-details" ng-show="vm.showLocationAddressFlag">
				<div class="control-group">
					<label for="current-location" class="control-label">
						{{'agency.admin_staff_info.current_location'| translate}}
					</label>
					<div class="controls">
						{{vm.businessAddress[0].address1}}<span ng-if="vm.businessAddress[0].address2">,</span> {{vm.businessAddress[0].address2}} <br/>
						{{vm.businessAddress[0].city}}<span ng-if="vm.businessAddress[0].state">, </span>{{vm.businessAddress[0].state}}<span ng-if="vm.businessAddress[0].zip"> - </span>{{vm.businessAddress[0].zip}}
					</div>
				</div>
			</div>
			<div ng-if = "vm.isAdminRole || vm.isNewAdminStaffRegistrationFlow">
				<div class="header">
					<h4 class="pull-left">
						{{'agency.admin_staff_info.header_3'| translate}}
					</h4>
				</div>
				<div class="control-group">
					<label for="aid-address_ln_1" class="control-label">
						{{'agency.admin_staff_info.address_line_1'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input id="aid-address_ln_1" class="aid-address_ln_1" type="text" name="addressLn1" required maxlength="80" ng-model="vm.adminStaffData.correspondenceAddress.addressLine1"/>

						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.addressLn1.$dirty && adminStaffForm.addressLn1.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.address'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>


				<div class="control-group">
					<label for="aid-address_ln_2" class="control-label">
						{{'agency.admin_staff_info.address_line_2'| translate}}
					</label>
					<div class="controls">
						<input id="aid-address_ln_2" class="aid-address_ln_2" type="text" name="addressLn2" maxlength="80" ng-model="vm.adminStaffData.correspondenceAddress.addressLine2"/>
					</div>
				</div>


				<div class="control-group">
					<label for="aid-city" class="control-label">
						{{'agency.admin_staff_info.city'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input id="aid-city" class="aid-city" type="text" name="city" required ng-model="vm.adminStaffData.correspondenceAddress.city"/>

						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.city.$dirty && adminStaffForm.city.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.city'| translate}}
								</span>
							</label>

						</div>
					</div>
				</div>

			<!-- State -->

				<div class="control-group">
					<label for="aid-state" class="control-label aid-state-business-lbl">{{'agency.admin_staff_info.state'| translate}}<sup><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></sup></label>
					<div class="controls">
						<state-dropdown required ng-model="vm.adminStaffData.correspondenceAddress.state" id="aid-state" name="state" required></state-dropdown>
						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.state.$dirty && adminStaffForm.state.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.state'| translate}}
								</span>
							</label>
						</div>
					</div>	<!-- end of controls -->
				</div> <!-- end of control-group State -->


				<div class="control-group">
					<label for="aid-zipcode" class="control-label">
						{{'agency.admin_staff_info.zipcode'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input id="aid-zipcode" type="text" name="zipcode" ng-pattern="/^[0-9]{5}$/" required maxlength="5" ng-model="vm.adminStaffData.correspondenceAddress.zipcode"/>

						<div class="help-inline">
							<label class="error" ng-if="adminStaffForm.zipcode.$dirty && adminStaffForm.zipcode.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.zip_01'| translate}}
								</span>
							</label>
							<label class="error" ng-if="adminStaffForm.zipcode.$dirty && adminStaffForm.zipcode.$error.pattern">
								<span>
									<em class="excl">!</em> {{'agency.error_messages.zip_02'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="vm.isNewAdminStaffRegistrationFlow || vm.isAdminRole" address-validation-directive="vm.adminStaffData.correspondenceAddress" address-validation-callback="vm.saveData()">
				<div class="controls-group form-actions">
						<input ng-show="!vm.flowFlag.adminFlow" type="submit" ng-disabled="adminStaffForm.$invalid" value="{{ 'agency.universal.finish' | translate }}" class="btn btn-primary pull-right aid-next address-validation-click">
						<input ng-show="vm.flowFlag.adminFlow" type="submit" ng-disabled="adminStaffForm.$invalid" value="{{ 'agency.universal.update' | translate }}" class="btn btn-primary pull-right aid-next address-validation-click">
				</div>
			</div>
			<div ng-if="!vm.isNewAdminStaffRegistrationFlow && !vm.isAdminRole" class="controls-group form-actions">
					<input ng-show="!vm.flowFlag.adminFlow" type="submit" ng-disabled="adminStaffForm.$invalid" value="{{ 'agency.universal.update' | translate }}" class="btn btn-primary pull-right aid-next" ng-click="vm.saveData()">
			</div>
		</div>
	</form>

	<table class="table table-border-none table-condensed" ng-if="!vm.editMode">
        <tbody>
            <tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.first_name'| translate}}</td>
				<td class="span6"><strong>{{vm.adminStaffData.firstName}}</strong></td>
            </tr>
            <tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.last_name'| translate}}</td>
				<td><strong>{{vm.adminStaffData.lastName}}</strong></td>
            </tr>
            <tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.primary_contact_number'| translate}}</td>
				<td><strong>{{vm.adminStaffData.primaryContactNumber}}</strong></td>
            </tr>
            <tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.business_contact_number'| translate}}</td>
				<td><strong>{{vm.adminStaffData.businessContactNumber}}</strong></td>
            </tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.email_personal'| translate}}</td>
				<td><strong>{{vm.adminStaffData.personalEmailAddress}}</strong></td>
            </tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.email_business'| translate}}</td>
				<td><strong>{{vm.adminStaffData.businessEmailAddress}}</strong></td>
            </tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.preferred_communication'| translate}}</td>
				<td><strong>{{vm.adminStaffData.communicationPref}}</strong></td>
            </tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.business_name'| translate}}</td>
				<td><strong>{{vm.adminStaffData.businessLegalName}}</strong></td>
            </tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.admin_staff_level'| translate}}</td>
				<td><strong>{{vm.adminStaffData.assistantRole}}</strong></td>
            </tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.business_address'| translate}}</td>
				<td><strong>{{vm.adminStaffData.businessAddress.address1}}<span ng-if="vm.adminStaffData.businessAddress.address2">,</span>{{vm.adminStaffData.businessAddress.address2}}<br/>
				{{vm.adminStaffData.businessAddress.city}}<span ng-if="vm.adminStaffData.businessAddress.state">, </span>{{vm.adminStaffData.businessAddress.state}}<span ng-if="vm.adminStaffData.businessAddress.zip"> - </span>{{vm.adminStaffData.businessAddress.zip}}</strong></td>
            </tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_info.correspondence_address'| translate}}</td>
				<td><strong>{{vm.adminStaffData.correspondenceAddress.addressLine1}}<span ng-if="vm.adminStaffData.correspondenceAddress.addressLine2">,</span>{{vm.adminStaffData.correspondenceAddress.address2}}<br/>
				{{vm.adminStaffData.correspondenceAddress.city}}<span ng-if="vm.adminStaffData.correspondenceAddress.state">, </span>{{vm.adminStaffData.correspondenceAddress.state}}<span ng-if="vm.adminStaffData.correspondenceAddress.zipcode"> - </span>{{vm.adminStaffData.correspondenceAddress.zipcode}}</strong></td>
            </tr>
		</tbody>
    </table>
</div>

<div id="successfullyCompletedApplication" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p class="alert alert-success">{{'agency.admin_staff_info.registraion_complete_popup'| translate}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.nextPage()">{{'agency.universal.ok'| translate}}</button>
    </div>
</div>
