<div spinning-loader="vm.loader"></div>

<div ng-init="vm.init()" ng-form="adminStaffStatusForm" id="adminStaffStatus">
	<div class="header">
		<h4 class="pull-left">
			{{'agency.admin_staff_status.header_1'| translate}}
		</h4>
		<button class="btn btn-primary btn-small pull-right" ng-click="vm.edit()" ng-if="!vm.editMode && vm.currentUserRole === 'AGENCY_MANAGER'">
			{{'agency.universal.edit'| translate}}
		</button>

		<span ng-if="vm.editMode" class="pull-right">
			<button class="btn btn-small" ng-click="vm.cancel()">
				{{'agency.universal.cancel'| translate}}
			</button>
		</span>
	</div>

	<table class="table table-border-none table-condensed table-auto verticalThead">
		<tbody>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_status.status'| translate}}</td>
				<td class="span4"><strong>{{vm.staffStatusData.status}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div class="header" ng-if="vm.editMode && vm.currentUserRole === 'AGENCY_MANAGER'">
		<h4 class="pull-left">{{'agency.admin_staff_approval_status.header_2'| translate}}</h4>
	</div>
	 <form class="form-horizontal gutter10" novalidate name="adminStaffStatusForm" ng-if="vm.editMode && vm.currentUserRole === 'AGENCY_MANAGER'">
		<div class="control-group margin10-t">
			<label for="aid-status" class="control-label">{{'agency.admin_staff_status.new_status'| translate}} <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></label>
			<div class="controls">
				<select
					ng-model="vm.status"
					ng-options="status for status in vm.staffStatusData.assitantStatusList"
					name="status"
					id="aid-status"
					class="form-control"
					required>
					<option value="">Select</option>
				</select>

				 <div class="help-inline" ng-if="adminStaffStatusForm.$error.required && adminStaffStatusForm.$dirty">
					<label class="error">
						<span>
							<em class="excl">!</em> {{'agency.error_messages.new_status'| translate}}
						</span>
					</label>
				</div>
			</div>
		</div>
		<div class="control-group margin10-t">
			<label for="status" class="control-label">{{'agency.admin_staff_approval_status.comment'| translate}}</label>
			<div class="controls">
				 <textarea id="status" name="status" rows="3" ng-model="vm.staffStatusData.comment"></textarea>
			</div>
		</div>


		<div class="controls-group form-actions">
			<button class="btn btn-primary pull-right" ng-click="vm.save()" ng-disabled="adminStaffStatusForm.$invalid">{{'agency.universal.submit'| translate}}</button>
		</div>
	</form>
	<table class="table table-condensed table-border-none table-striped">
		<thead>
			<tr>
				<th>{{'agency.admin_staff_status.date'| translate}}</th>
				<th>{{'agency.admin_staff_status.previous_status'| translate}}</th>
				<th>{{'agency.admin_staff_status.new_status'| translate}}</th>
				<th>{{'agency.admin_staff_status.comment'| translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="status in vm.staffStatusData.statusHistory track by $index">
 				<td>{{status.statusDate}}</td>
 				<td>{{status.previousStatus}}</td>
 				<td>{{status.newStatus}}</td>
				<td ng-if="status.comment"><div class="comment"><a ng-href="#viewCommentsModal" data-toggle="modal"  ng-click="vm.callViewCommentsModal(status.comment)">{{'agency.view_comments.comments'| translate}}</a></div></td>
				<td ng-if="!status.comment"><div class="comment">{{'agency.view_comments.no_comments'| translate}}</div></td>
 		   </tr>
		</tbody>
	</table>
</div>

<div general-modal-directive modal-id="'viewCommentsModal'"
	modal-header-content="'agency.view_comments.header'"
	cancel-content="'agency.universal.close'"
	>
	<p>{{content}}</p>
</div>
