<div spinning-loader="vm.loader"></div>

<div ng-init="vm.init()" ng-form="adminStaffApprovalForm" id="adminStaffApproval">
	<div class="header">
		<h4 class="pull-left">
			{{'agency.admin_staff_approval_status.header_1'| translate}}
		</h4>
		<button class="btn btn-primary btn-small pull-right" ng-click="vm.edit()" ng-if="!vm.editMode && vm.flowFlag.adminFlow">
			{{'agency.information.edit'| translate}}
		</button>

		<span ng-if="vm.editMode && vm.flowFlag.adminFlow" class="pull-right">
			<button class="btn btn-small" ng-click="vm.cancel()">
				{{'agency.information.cancel'| translate}}
			</button>
		</span>
	</div>

	<table class="table table-border-none table-condensed table-auto verticalThead">
		<tbody>
			<tr ng-show = "vm.staffApprovalData.assistantNumber">
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_approval_status.staff_number'| translate}}</td>
				<td class="span6"><strong>{{vm.staffApprovalData.assistantNumber}}</strong></td>
			</tr>
			<tr ng-show = "vm.staffApprovalData.applicationSubmissionDate">
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_approval_status.application_submission_date'| translate}}</td>
				<td><strong>{{vm.staffApprovalData.applicationSubmissionDate}}</strong></td>
			</tr>
			<tr ng-show = "vm.staffApprovalData.approvalStatus">
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_approval_status.approval_status'| translate}}</td>
				<td><strong>{{vm.staffApprovalData.approvalStatus}}</strong></td>
			</tr>
			<tr ng-show = "vm.staffApprovalData.approvalNumber">
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_approval_status.approval_number'| translate}}</td>
				<td><strong>{{vm.staffApprovalData.approvalNumber}}</strong></td>
			</tr>
			<tr ng-show = "vm.staffApprovalData.approvalDate">
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_approval_status.approval_date'| translate}}</td>
				<td><strong>{{vm.staffApprovalData.approvalDate}}</strong></td>
			</tr>
			<tr ng-show = "vm.staffApprovalData.delegationCode">
				<td class="span4 txt-right" scope="row">{{'agency.admin_staff_approval_status.delegation_code'| translate}}</td>
				<td><strong>{{vm.staffApprovalData.delegationCode}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div class="header" ng-if="vm.editMode && vm.flowFlag.adminFlow">
		<h4 class="pull-left">{{'agency.admin_staff_approval_status.header_2'| translate}}</h4>
	</div>
	 <form class="form-horizontal gutter10" novalidate name="adminStaffApprovalStatusForm" ng-if="vm.editMode && vm.flowFlag.adminFlow">
		<div class="control-group margin10-t">
			<label for="approvalStatus" class="control-label">{{'agency.admin_staff_approval_status.new_status'| translate}} <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></label>
			<div class="controls">
				<select
					ng-model="vm.approvalStatus"
					ng-options="approvalStatus for approvalStatus in vm.staffApprovalData.assitantApprovalStatusList"
					name="approvalStatus"
					id="aid-approvalStatus"
					class="form-control"
					required>
					<option value="">Select</option>
				</select>
				 <div class="help-inline" ng-if="adminStaffApprovalStatusForm.approvalStatus.$error.required && adminStaffApprovalStatusForm.approvalStatus.$dirty">
					<label class="error">
						<span>
							<em class="excl">!</em> {{'agency.error_messages.new_status'| translate}}
						</span>
					</label>
				</div>
			</div>
		</div>
		<div class="control-group margin10-t">
			<label for="comments" class="control-label">{{'agency.admin_staff_approval_status.comment'| translate}}</label>
			<div class="controls">
				 <textarea id="comments" name="comments" rows="3" ng-model=" vm.staffApprovalData.comment"></textarea>
			</div>
		</div>


		<div class="controls-group form-actions">
			<button class="btn btn-primary pull-right" ng-click="vm.save()" ng-disabled="adminStaffApprovalStatusForm.$invalid">{{'agency.universal.submit'| translate}}</button>
		</div>
	</form>
	<table class="table table-condensed table-border-none table-striped" ng-if="vm.flowFlag.adminFlow">
		<thead>
			<tr>
				<th>{{'agency.admin_staff_approval_status.date'| translate}}</th>
				<th>{{'agency.admin_staff_approval_status.previous_status'| translate}}</th>
				<th>{{'agency.admin_staff_approval_status.new_status'| translate}}</th>
				<th>{{'agency.admin_staff_approval_status.comment'| translate}}</th>
			</tr>
		</thead>
		<tbody>
		   <tr ng-repeat="status in vm.staffApprovalData.approvalStatusHistory track by $index">
				<td>{{status.approvalDate}}</td>
				<td>{{status.previousStatus}}</td>
				<td>{{status.newStatus}}</td>
				<td ng-if="status.comment"><div class="comment"><a ng-href="#viewCommentsModal" data-toggle="modal"  ng-click="vm.callViewCommentsModal(status.comment)">{{'agency.view_comments.comments'| translate}}</a></div></td>
				<td ng-if="!status.comment"><div class="comment">{{'agency.view_comments.no_comments'| translate}}</div></td>
		   </tr>
		</tbody>
	</table>
</div>
<div general-modal-directive modal-id="'viewCommentsModal'"
	modal-header-content="'agency.view_comments.header'"
	cancel-content="'agency.universal.close'"
	>
	<p>{{content}}</p>
</div>
