<div spinning-loader="vm.loader"></div>

<div class="gutter10" ng-init="vm.init()">
  <div class="row-fluid">
        <h1>
            <a name="skip"></a>
            {{'agency.bob.active_consumers'| translate}}
        </h1>

        <div class="searchPanelWrapper" id="panel">
            <div>
                <div class="panel-heading clearfix" ng-click="vm.searchFilterSlider($event)">
                    <h4 class="search-heading noPadding noMargin pull-left"><i class="icon-search"></i> {{'agency.bob.search'| translate}} </h4>
                    <a href="javascript:;" class="btn btn-default btn-primary pull-right slider-handler" id="aid-searchbar-expanded" aria-label="searchbar expanded" title="searchbar collapsed" ng-hide="vm.isSliderOpen">+</a>
                    <a href="javascript:;" class="btn btn-default btn-primary pull-right slider-handler" id="aid-searchbar-collapsed" aria-label="searchbar collapsed" title="searchbar expdanded" ng-show="vm.isSliderOpen">-</a>
                </div>
                <div class="panel-body searchPanel">
                    <form id="searchFilterForm" class="form-horizontal form-wrapper-two">
                        <div class="row-fluid">
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="firstName" class="bs3-control-label-left">{{'agency.bob.first_name'| translate}}</label>
                                <input type="text" class="input-full-width" placeholder="" id="firstName"  name="firstName" ng-model="vm.inputData.firstName" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'onFocus', 'Search Field First Name', 1]);"/>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="lastName" class="bs3-control-label-left">{{'agency.bob.last_name'| translate}}</label>
                                <input type="text" class="input-full-width " placeholder="" id="lastName" name="lastName" ng-model="vm.inputData.lastName" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'onFocus', 'Search Field Last Name', 1]);" />
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="yearSelect" class="bs3-control-label-left">{{'agency.bob.application_year'| translate}}</label>
                                <year-select
                                  ng-init="vm.inputData.applicationYear = $scope.years[0]"
                                  ng-model="vm.inputData.applicationYear"
                                  ng-change="vm.yearFlag=true;vm.getAgencyBobData()">
                                  </year-select>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="issuer" class="bs3-control-label-left">{{'agency.bob.issuer'| translate}} &nbsp;</label>
                                <select
                                    name="issuer"
                                    id="issuer"
                                    class="input-full-width"
                                    ng-model="vm.inputData.issuer">
                                    <option value="">       {{'agency.bob.select_issuer'| translate}}       </option>
                                    <option value="All Health Issuers">All Health Issuers</option>
                                    <option value="All Dental Issuers">All Dental Issuers</option>
                                    <optgroup label="QHP only">
                                      <option ng-repeat="qhpdata in vm.QHPIssuerNames track by $index" value="{{qhpdata}}">
                                        {{qhpdata}}
                                      </option>
                                    </optgroup>
                                    <optgroup label="QDP only">
                                      <option ng-repeat="qdpdata in vm.QDPIssuerNames" value="{{qdpdata}}">
                                        {{qdpdata}}
                                      </option>
                                    </optgroup>
                                </select>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label  class="bs3-control-label-left">{{'agency.bob.agent_first_name'| translate}}</label>
                                <input type="text" class="input-full-width" placeholder="" id="agentFirstName"  name="agentFirstName" ng-model="vm.inputData.agentFirstName" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'onFocus', 'Search Agent Field First Name', 1]);"/>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                              <div class="form-group">
                                    <label  class="bs3-control-label-left">{{'agency.bob.agent_last_name'| translate}}</label>
                                    <input type="text" class="input-full-width" placeholder="" id="agentLastName"  name="agentLastName" ng-model="vm.inputData.agentLastName" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'onFocus', 'Search Agent Field Last Name', 1]);"/>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="agentLicenseNumber" class="bs3-control-label-left">{{'agency.bob.agent_license_number'| translate}}</label>
                                <input type="text" class="input-full-width" placeholder="" id="agentLicenseNumber"  name="agentLicenseNumber" ng-model="vm.inputData.agentLicenseNumber" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'onFocus', 'Search Agent License Number', 1]);"/>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="caseNumber" class="bs3-control-label-left">{{'agency.bob.case_id'| translate}}</label>
                                <input type="text" class="input-full-width" placeholder="" id="caseNumber"  name="caseNumber" ng-model="vm.inputData.caseNumber" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'onFocus', 'Search Agent caseId', 1]);"/>
                            </div>
                          </div>
                           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
                              <div class="controls-group">
                                <button type="submit" class="btn pull-right btn-default btn-primary" ng-click="vm.refineResult=true;vm.getAgencyBobData()" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'Click', 'Search Go', 1]);">{{'agency.bob.go'| translate}}</button>
                                <a href="javascript:void(0)"  id="aid-clear" class="pull-right margin10-b clear-all" ng-click="vm.reset()">{{'agency.bob.clear_filters'| translate}}</a>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row-fluid dataSortContainer">
            <form id="sortDataForm" class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
                <div class="form-group">
                    <label  class="bs3-control-label-left">{{'agency.bob.sort_by'| translate}}:&nbsp;
                    <select
                        name="sortData"
                        id="sortData"
                        ng-init="vm.selectedData = vm.sortData[0]"
                        class="input-full-width"
                        ng-model="vm.selectedData"
                        ng-options="opt as (opt.value | translate) for opt in vm.sortData"
                        ng-change="vm.sortFlag=true;vm.getAgencyBobData(vm.selectedData.key, vm.selectedData.order)"></select>
                    </label>
                   </div>
            </form>

            <div class="export-BOB-links col-xs-12 col-sm-5 col-md-6 col-lg-6">
                <a ng-if="vm.currentUserRole !== 'APPROVEDADMINSTAFFL1' && vm.currentUserRole !== 'APPROVEDADMINSTAFFL2'"id="exportagentsBOB" ng-click="exportExcelConfirmation($event)" href="/hix/agency/export" onClick="triggerGoogleTrackingEvent(['_trackEvent', 'Agency BOB Clicks', 'Click', 'Export BOB', 1]);">{{'agency.bob.export_book_of_business_all_agents'| translate}}<i class="icon-download-alt"></i></a>
                <span ng-if="vm.currentUserRole !== 'APPROVEDADMINSTAFFL1' && vm.currentUserRole !== 'APPROVEDADMINSTAFFL2'"><br></span>
                <a ng-if="vm.currentUserRole !== 'APPROVEDADMINSTAFFL1' && vm.currentUserRole !== 'APPROVEDADMINSTAFFL2'"ui-sref="transferConsumerDelegations({delegatedIndividuals:'', flow:'exportBob'})">{{'agency.bob.export_book_of_business_an_agents'| translate}}<i class="icon-arrow-right"></i></a>
                <span ng-if="vm.currentUserRole !== 'APPROVEDADMINSTAFFL1' && vm.currentUserRole !== 'APPROVEDADMINSTAFFL2'"><br></span>

                <a ng-if="vm.transferConsumers.length === 0 && vm.currentUserRole !== 'APPROVEDADMINSTAFFL1'" id="aid-transfer-consumer" class="ttclass disabled-icon" rel="tooltip" href="#" tabindex="-1"  gi-popover popover-html="{{'agency.bob.change_delegation_tooltip'| translate}}" popover-placement="top">{{'agency.bob.change_delegation'| translate}}<i class="icon-exchange"></i></a>
               	<a ng-if="vm.transferConsumers.length !== 0 && vm.currentUserRole !== 'APPROVEDADMINSTAFFL1'" id="aid-transfer-consumer" ui-sref="transferConsumerDelegations({delegatedIndividuals:vm.transferConsumers, flow:'multipleTransfer'})">{{'agency.bob.change_delegation'| translate}}<i class="icon-exchange"></i></a>

            </div>
        </div>

        <div class="center"  ng-if="!vm.isResultsFound">
          <p class="alert alert-info">{{'agency.error_messages.no_records_found'| translate}}</p>
        </div>
        <div class="gridDataContainer" class="aid_gridDataContainer" ng-if="vm.isResultsFound">
          <div class="gridHeader row-fluid hidden-xs">
              <div class="hidden-xs col-sm-1 col-md-1 col-lg-1 index-col">{{'agency.bob.select'| translate}}</div>
              <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 household">{{'agency.bob.household'| translate}}</div>
              <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 case">{{'agency.bob.case'| translate}}</div>
              <div class="hidden-xs col-sm-2 col-md-4 col-lg-4 coverage">{{'agency.bob.coverage'| translate}}</div>
              <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 agent">{{'agency.bob.agent'| translate}}</div>
              <div class="actions">{{'agency.bob.actions'| translate}} </div>
          </div>
          <div class="gridBody">
            <div class="gridRow row-fluid" ng-repeat="consumer in vm.agencyBOBData.listOfIndividuals track by $index">
                <div class="hidden-xs col-sm-1 col-md-1 col-lg-1 index-col">
                      <label class="checkbox select-consumer" for="inlineCheckbox1-{{$index}}">
                        <input type="checkbox" id="inlineCheckbox1-{{$index}}"  ng-model="consumer.isSelected" ng-change="vm.updateTransferConsumers()" >
                      </label>
                    </div>
                <div class="col-sm-2 col-md-2 col-lg-2 household-value">
                  <div class="labelValue margin5-b" ng-if="consumer.firstName !== null || consumer.lastName != null">
                    <a ng-if="(vm.agencyCertificationStatus === 'CERTIFIED' && vm.agencyManagerCertificationStatus === 'Certified' && vm.currentUserRole === 'AGENCY_MANAGER') || (vm.currentUserRole === 'APPROVEDADMINSTAFFL1' || vm.currentUserRole === 'APPROVEDADMINSTAFFL2')" ng-href="#individualAccountModal" id="aid-consumerName-{{$index}}" class="aid-consumerName" data-toggle="modal" ng-click="vm.callModal(consumer)">{{consumer.firstName}} {{consumer.lastName}}</a>
                    <span ng-if="(vm.agencyCertificationStatus !== 'CERTIFIED' || vm.agencyManagerCertificationStatus !== 'Certified' && vm.currentUserRole === 'AGENCY_MANAGER')&& (vm.currentUserRole !== 'APPROVEDADMINSTAFFL1' || vm.currentUserRole !== 'APPROVEDADMINSTAFFL2')"><strong>{{consumer.firstName}} {{consumer.lastName}}</strong></span>
                  </div>
                  <div class="labelValue" ng-if="consumer.emailAddress && consumer.emailAddress !== null"><span>{{consumer.emailAddress}}</span></div>
                  <div class="labelValue" ng-if="consumer.phoneNumber && consumer.phoneNumber !== null && consumer.phoneNumber !== '0'" ><i class="icon-phone hidden-xs" aria-label="phone"></i>{{consumer.phoneNumber | giFormatPhone}}</div>
                  <div class="labelValue" ng-if="consumer.address1 && consumer.address1 !== null"><i class="icon-home hidden-xs" aria-label="address line 1"></i><span>{{consumer.address1}}</span></div>
                  <div class="labelValue labelValue-addr-ln2" aria-label="address line 2" ng-if="consumer.address2 && consumer.address2 != null">{{consumer.address2}}</div>
                  <div class="labelValue labelValue-addr-ln2" aria-label="address line 2" ng-if="consumer.city && consumer.city != null">{{consumer.city}}</div>
                  <div class="labelValue labelValue-addr-ln2" aria-label="address line 2" ng-if="consumer.state != null && consumer.zipCode != null">{{consumer.state}}, {{consumer.zipCode}}</div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 case-value">
                    <div ng-if="consumer.caseNumber && consumer.caseNumber != null">
                        <label>{{'agency.bob.case_id'| translate}}: </label>
                        <span class="labelValue">{{consumer.caseNumber}}</span>
                    </div>
                    <div ng-if="consumer.applicationYear && consumer.applicationYear != null">
                        <label>{{'agency.bob.application_year'| translate}}: </label>
                        <span class="labelValue">{{consumer.applicationYear}}</span>
                    </div>
                    <div ng-if="!consumer.caseNumber || consumer.caseNumber == null || !consumer.applicationYear || consumer.applicationYear == null">
                        &nbsp;
                    </div>
                </div>
                <div class="col-sm-2 col-md-4 col-lg-4">
                    <div ng-if="consumer.issuerLogo && consumer.issuerLogo != null">
                      <img ng-src="{{consumer.issuerLogo}}" alt="" width="100px">
                    </div>
                    <div class="labelValue">{{consumer.planName}}</div>
                    <div ng-if="consumer.planType && consumer.planType != null">
                        <label>{{'agency.bob.plan_type'| translate}}: </label>
                        <span class="labelValue">{{consumer.planType}}</span>
                    </div>
                    <div ng-if="consumer.premium && consumer.premium != null">
                        <label>{{'agency.bob.premium'| translate}}: </label>
                        <span class="labelValue">${{consumer.premium}}/month</span>
                    </div>
                    <div ng-if="consumer.officeVisit && consumer.officeVisit != null">
                        <label>{{'agency.bob.office_visit'| translate}}: </label>
                        <span class="labelValue">{{consumer.officeVisit}}</span>
                    </div>
                    <div ng-if="consumer.genericDrugs && consumer.genericDrugs != null">
                        <label>{{'agency.bob.generic_drug'| translate}}: </label>
                        <span class="labelValue">{{consumer.genericDrugs}}</span>
                    </div>
                    <div ng-if="consumer.deductible && consumer.deductible != null">
                        <label>{{'agency.bob.deductible'| translate}}: </label>
                        <span class="labelValue">{{consumer.deductible}}</span>
                    </div>
                    <div ng-if="consumer.premium == null || consumer.officeVisit == null || consumer.genericDrugs || consumer.deductible == null ">
                        &nbsp;
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div ng-if="consumer.agentFirstName && consumer.agentFirstName != null || consumer.agentLastName && consumer.agentLastName != null">
                        <span class="labelValue">{{consumer.agentFirstName}} {{consumer.agentLastName}}</span>
                    </div>
                    <div ng-if="consumer.agentLicenseNumber && consumer.agentLicenseNumber != null">
                        <span class="labelValue">{{consumer.agentLicenseNumber}}</span>
                    </div>
                    <div ng-if="consumer.agentFirstName == null || consumer.agentLastName == null || consumer.agentLicenseNumber == null">
                          &nbsp;
                     </div>
                </div>
                <div class="actions">
                    <div class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i><i class="caret"></i></a>
                      <ul class="pull-right dropdown-menu " role="menu" aria-labelledby="dLabel">
                        <li ng-if="(vm.agencyCertificationStatus === 'CERTIFIED' && vm.agencyManagerCertificationStatus === 'Certified' && vm.currentUserRole === 'AGENCY_MANAGER') || (vm.currentUserRole === 'APPROVEDADMINSTAFFL1' || vm.currentUserRole === 'APPROVEDADMINSTAFFL2')"><a ng-href="#individualAccountModal" data-toggle={{vm.showAccountModal ? "modal" : ""}} ng-click="vm.accountFlag=true; vm.callModal(consumer)"><i class="icon-user"></i> {{'agency.bob.action_account'| translate}}</a></li>
                        <li><a ng-href="#householdModal" data-toggle="modal" ng-click="vm.householdFlag=true; vm.callModal(consumer)"><i class="icon-home"></i> {{'agency.bob.action_household'| translate}}</a></li>
                        <li><a ng-href="#eligibilityModal" data-toggle="modal" ng-click="vm.eligibilityFlag=true; vm.callModal(consumer)"><i class="squareroot">&#x221A;</i>  {{'agency.bob.action_eligibility'| translate}}</a></li>
                        <li><a ng-href="#markAsInactiveModal" data-toggle="modal" ng-click="vm.callModal(consumer)"><i class="icon-remove"></i> {{'agency.bob.action_mark_as_inactive'| translate}}</a></li>
                        <li ng-if="vm.currentUserRole !== 'APPROVEDADMINSTAFFL1'"><a ui-sref="transferConsumerDelegations({delegatedIndividuals:consumer, flow:'singleTransfer'})"><i class="icon-exchange"></i> {{'agency.bob.action_change_delegation'| translate}}</a></li>
                      </ul>
                    </div>
                </div>
        </div>
        <div class="pagination center table-list-pagination">
            <pagination max-size="10" class="pagination-sm" rotate="false" items-per-page="10" total-items="vm.agencyBOBData.count" ng-model="vm.agencyBOBData.pageNumber" ng-change="vm.paginationFlag=true;vm.getAgencyBobData()"></pagination>
        </div>
  </div>
</div>

<gi-modal handler="'individualAccountModal'" template-name="accountModalPath" modal-content="name" callbackbtn="vm.callAccountModal(consumerData)" callbackbtn-two="vm.isAccountCheckboxChecked()"></gi-modal>

<gi-modal handler="'householdModal'" template-name="householdModalPath" modal-content="name"></gi-modal>

<gi-modal handler="'eligibilityModal'" template-name="eligibilityModalPath" modal-content="name"></gi-modal>

<gi-modal handler="'markAsInactiveModal'" template-name="markAsInactiveModalPath" modal-content="name" callbackbtn="vm.markInactiveConfirm(consumerData)"></gi-modal>
