<div spinning-loader="vm.loader"></div>
<div class="agency-location-hours-container">
	<div class="header">
		<h4><span ng-if="vm.flowFlag.agencyResgisterFlow">{{'agency.location_hours.step'| translate}}: </span>
			{{'agency.location_hours.header'| translate}}</h4>
	</div>


	<div class="row-fluid ">
		<form class="form-horizontal" id="aidAgencyLocationForm" name="aidAgencyLocationForm" novalidate ng-init="vm.init()">
			<div class="txt-right" ng-show="!vm.flowFlag.agencyViewOnlyFlow">
				<button type="button" class="btn btn-primary margin10-b" tabindex="0" ng-click="vm.addSubsite()" id="aid-addSubSitebtn" ng-disabled="!vm.hasValidSiteSaved">{{'agency.location_hours.add_subsite'| translate}}</button>
			</div>
			<div class="accordion" >
				<div class="accordion-group ag-accordion" ng-repeat="item in vm.agencyLocationHoursList" ng-init="outterIndex = $index" ng-form="aidAgencyLocationSubForm">
					<div class="accordion-heading" ng-click="vm.toggleIcon($event, item)">
						<h4 class="agency-location-header">
							<span class="agency-location-header-content">
							<a class="accordion-toggle col-sm-9 col-md-9 col-lg-9" data-toggle="collapse" href="#site-{{outterIndex}}" rel="tooltip" gi-popover popover-html="{{item.locationInHeader.addressLine1}}, {{item.locationInHeader.city}}, {{item.locationInHeader.state}}, {{item.locationInHeader.zipcode}}" popover-placement="top" >
								<span class="pull-left location-header">
									<i class="icon-plus" ng-if="!item.iconMinus"></i>
									<i class="icon-minus" ng-if="item.iconMinus"></i>
									<span ng-if="outterIndex === 0">{{'agency.location_hours.primary_site'| translate}}: </span>
									<span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite'| translate}}: </span>
									<span ng-if="item.showHeader">
										<span>{{item.locationInHeader.siteLocationName | trunc : true : 20 : ' ...'}}</span>
									</span>
								</span>
								<span ng-if="item.showHeader" class="address-header pull-right">
										{{item.locationInHeader.addressLine1 | trunc : true : 30 : ' ...'}}, {{item.locationInHeader.zipcode}}
								</span>
							</a>
							<button class="btn btn-small btn-primary" ng-click="vm.enableEditMode(item, outterIndex)" ng-if="vm.flowFlag.adminFlow || vm.flowFlag.agencyViewEditFlow">{{'agency.location_hours.edit'| translate}}</button>
							</span>
						</h4>
					</div>

					<div ng-attr-id="{{'site-'+outterIndex}}" class="accordion-body collapse" ng-class="item.collapseIn? 'in':''">
						<div class="accordion-inner">
							<div class="gutter10" ng-if="!item.editMode">
                                <table class="table table-border-none table-condensed">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><h5>{{'agency.location_hours.table_header'| translate}}</h5></td>
                                        </tr>
                                       <tr>
                                            <td class="span4 txt-right" scope="row">
                                                <span ng-if="outterIndex === 0">{{'agency.location_hours.primary_location_name'| translate}}</span>
                                                <span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite_location_name'| translate}}</span>
                                            </td>
                                            <td ><strong>{{item.siteLocationName}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="span4 txt-right" scope="row">
                                                <span ng-if="outterIndex === 0">{{'agency.location_hours.primary_location_email'| translate}}</span>
                                                <span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite_location_email'| translate}}</span>
                                            </td>
                                            <td><strong>{{item.emailAddress}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="span4 txt-right">
                                                <span ng-if="outterIndex === 0">{{'agency.location_hours.primary_contact_number'| translate}}</span>
                                                <span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite_contact_number'| translate}}</span>
                                            </td>
                                            <td><strong>{{item.phoneNumber}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="span4 txt-right">{{'agency.location_hours.address_line_1'| translate}}</td>
                                            <td><strong>{{item.location.addressLine1}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="span4 txt-right">{{'agency.location_hours.address_line_2'| translate}}</td>
                                            <td><strong>{{item.location.addressLine2}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="span4 txt-right">{{'agency.location_hours.city'| translate}}</td>
                                            <td><strong>{{item.location.city}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="span4 txt-right">{{'agency.location_hours.state'| translate}}</td>
                                            <td><strong>{{item.location.state}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="span4 txt-right">{{'agency.location_hours.zipcode'| translate}}</td>
                                            <td><strong>{{item.location.zipcode}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><h5>{{'agency.location_hours.hours_of_operation'| translate}}</h5></td>
                                        </tr>
                                        <tr ng-repeat="list in item.siteLocationHours" ng-init="innerIndex = $index">
                                            <td class="span4 txt-right">{{list.day}}</td>
                                            <td><strong>{{list.fromTime}} - {{list.toTime}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-if="item.editMode">
								<div class="form-group">
									<label for="primaryLocationName-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label">
										<span ng-if="outterIndex === 0">{{'agency.location_hours.primary'| translate}}</span>
										<span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite'| translate}}</span>

										{{'agency.location_hours.location_name'| translate}} <sup><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></sup>
									</label><!-- end of label -->

									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<input type="text" name="primaryLocationName" id="primaryLocationName-{{outterIndex}}" class="input-large" ng-model="item.siteLocationName" required maxlength="50" placeholder="City Location" aria-disabled="true" aria-label="Primary Location Name">
										<div class="help-inline">
											<label class="error" ng-if="aidAgencyLocationSubForm.primaryLocationName.$dirty && aidAgencyLocationSubForm.primaryLocationName.$error.required">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.location_name'| translate}}
												</span>
											</label>
										</div>
									</div>	<!-- end of controls -->
								</div>	<!-- end of control-group -->

								<div class="form-group">
									<label for="primaryLocationEmail-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label aid-primary-location-email-lbl">
										<span ng-if="outterIndex === 0">{{'agency.location_hours.primary'| translate}}</span>
										<span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite'| translate}}</span>
										{{'agency.location_hours.location_email'| translate}}
									</label><!-- end of label -->
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<input type="email" name="primaryLocationEmail" id="primaryLocationEmail-{{outterIndex}}" 
										class="input-large aid-primary-location-email-input" ng-model="item.emailAddress" aria-disabled="true" aria-label="Primary Location Email" >
										<div class="help-inline">
											<label class="error" ng-if="aidAgencyLocationSubForm.primaryLocationEmail.$dirty && aidAgencyLocationSubForm.primaryLocationEmail.$error.email">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.location_email'| translate}}
												</span>
											</label>
										</div>
									</div>	<!-- end of controls -->
								</div>	<!-- end of control-group -->

								<div class="form-group phone-group">
									<label for="phone1-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label aid-primary-phone-lbl">
										<span ng-if="outterIndex === 0">{{'agency.location_hours.primary'| translate}}</span>
										<span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite'| translate}}</span> {{'agency.location_hours.contact_number'| translate}}</label>
									<label for="phone2-{{outterIndex}}" class="hidden">
										<span ng-if="outterIndex === 0">{{'agency.location_hours.primary'| translate}}</span>
										<span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite'| translate}}</span> {{'agency.location_hours.contact_number'| translate}}</label>
									<label for="phone3-{{outterIndex}}" class="hidden">
										<span ng-if="outterIndex === 0">{{'agency.location_hours.primary'| translate}}</span>
										<span ng-if="outterIndex !== 0">{{'agency.location_hours.subsite'| translate}}</span> {{'agency.location_hours.contact_number'| translate}}</label>
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<input type="text" auto-tab-to="phone2-{{outterIndex}}" ng-maxlength="3" ng-model="item.phone1" ng-pattern="/^[0-9]{3}$/" name="phone1" maxlength="3" id="phone1-{{outterIndex}}" class="area-code input-mini aid-primary-phone1-lbl" aria-label="Primary contact number " >
										<input type="text" auto-tab-to="phone3-{{outterIndex}}" ng-maxlength="3" ng-model="item.phone2" ng-pattern="/^[0-9]{3}$/" name="phone2" maxlength="3" id="phone2-{{outterIndex}}" class="area-code input-mini aid-primary-phone1-lbl" aria-label="Primary contact number" >
										<input type="text" ng-model="item.phone3" ng-pattern="/^[0-9]{4}$/" name="phone3" maxlength="4" id="phone3-{{outterIndex}}" class="area-code input-mini aid-primary-phone1-lbl" aria-label="Primary contact number" >
										<div class="help-inline">
											<label class="error" ng-if="(aidAgencyLocationSubForm.phone1.$dirty && aidAgencyLocationSubForm.phone1.$error.pattern) || (aidAgencyLocationSubForm.phone2.$dirty && aidAgencyLocationSubForm.phone2.$error.pattern) || (aidAgencyLocationSubForm.phone3.$dirty && aidAgencyLocationSubForm.phone3.$error.pattern)">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.contact_number'| translate}}
												</span>
											</label>
										</div>
									</div>
								</div> <!-- end of phone-group -->


								<!-- Address 1 -->
								<div class="form-group">
									<label for="addressLine1-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label aid-address1-business-lbl">{{'agency.location_hours.address_line_1'| translate}}<sup><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></sup></label>
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<input type="text" ng-disabled="{{outterIndex === 0 && !vm.flowFlag.adminFlow}}" maxlength="50" required placeholder="Street Name, P.O. Box, Company, c/o" name="addressLine1" id="addressLine1-{{outterIndex}}" ng-model="item.location.addressLine1" 
										class="input-large aid-address1-business-input" aria-required="true" aria-label="Address line 1 Sample text.  Street  Name comma   P dot  O dot   Box comma   Company comma  c/o">
										<div class="help-inline">
											<label class="error" ng-if="aidAgencyLocationSubForm.addressLine1.$dirty && aidAgencyLocationSubForm.addressLine1.$error.required">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.address'| translate}}
												</span>
											</label>
										</div>

									</div>	<!-- end of controls -->
								</div>	<!-- end of control-group Address 1 -->

								<!-- Address 2 -->
								<div class="form-group">
									<label for="addressLine2-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label aid-address2-business-lbl">{{'agency.location_hours.address_line_2'| translate}}</label>
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<input type="text" ng-disabled="{{outterIndex === 0 && !vm.flowFlag.adminFlow}}"  maxlength="50" placeholder="Apt, Suite, Unit, Bldg, Floor, etc" name="addressLine2" id="addressLine2-{{outterIndex}}" ng-model="item.location.addressLine2" 
										class="input-large aid-address2-business-lbl" aria-label="Address line 2 Sample text.  Apt comma   Suite comma   Unit comma   Bldg comma   Floor comma  etc">
									</div>	<!-- end of controls -->
								</div>	<!-- end of control-group Address 2 -->

								<!-- City -->
								<div class="form-group">
									<label for="city-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label required aid-city-business-lbl">{{'agency.location_hours.city'| translate}}<sup><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></sup></label>
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<input type="text" maxlength="30" required ng-disabled="{{outterIndex === 0 && !vm.flowFlag.adminFlow}}" placeholder="City, Town" name="city" id="city-{{outterIndex}}" ng-model="item.location.city" 
										class="input-large aid-city-business-input" aria-required="true" aria-label="City Sample text.  City comma   Town">
										<div class="help-inline">
											<label class="error" ng-if="aidAgencyLocationSubForm.city.$dirty && aidAgencyLocationSubForm.city.$error.required">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.city'| translate}}
												</span>
											</label>
										</div>
									</div>	<!-- end of controls -->
								</div><!--  end of control-group City -->

								<!-- State -->
								<div class="form-group">
									<label for="state-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label aid-state-business-lbl required">{{'agency.location_hours.state'| translate}}<sup><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></sup></label>
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<state-dropdown ng-model="item.location.state" ng-disabled="{{outterIndex === 0 && !vm.flowFlag.adminFlow}}" id="state-{{outterIndex}}" name="state" required></state-dropdown>
										<div class="help-inline">
											<label class="error" ng-if="aidAgencyLocationSubForm.state.$dirty && aidAgencyLocationSubForm.state.$error.required">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.state'| translate}}
												</span>
											</label>
										</div>
									</div>	<!-- end of controls -->
								</div> <!-- end of control-group State -->

								<!-- Zip -->
								<div class="form-group">
									<label for="zip-{{outterIndex}}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 bs3-control-label aid-zip-business-lbl">{{'agency.location_hours.zipcode'| translate}}<sup><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></sup></label>
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
										<input type="text" name="zip" ng-pattern="/^[0-9]{5}$/" required maxlength="5" id="zip-{{outterIndex}}" ng-model="item.location.zipcode" ng-disabled="{{outterIndex === 0 && !vm.flowFlag.adminFlow}}" class="input-mini zipCode aid-state-business-input" aria-required="true" aria-label="Zip Code Sample text. ">
										<div class="help-inline">
											<label class="error" ng-if="aidAgencyLocationSubForm.zip.$dirty && aidAgencyLocationSubForm.zip.$error.required">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.zipcode'| translate}}
												</span>
											</label>
											<label class="error" ng-if="aidAgencyLocationSubForm.zip.$dirty && aidAgencyLocationSubForm.zip.$error.pattern">
												<span>
													<em class="excl">!</em> {{'agency.location_hours.err_msg.zipcode'| translate}}
												</span>
											</label>
										</div>
									</div><!-- end of controls -->
								</div>	<!-- end of control-group Zip -->

								<h5>{{'agency.location_hours.hours_of_operation'| translate}}</h5>
								<div class="container-fluid hrs-of-op">
									<div class="row hrs-op-container">
										<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 hrs-op-wrap">

											<div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl all-week-chkbox"  ng-form="timePickerForm">
												<label class="checkbox inline aid-radio-days-closed-lbl" for="inlineCheckbox1-{{$index}}">
													<input type="checkbox" id="inlineCheckbox1-{{$index}}" ng-model="item.applyWeekdays" ng-change="vm.applyToAll(item)" ng-disabled="vm.applyToAllFlag"> {{'agency.location_hours.apply_to_weekdays'| translate}}</label>
													<a class="ttclass" rel="tooltip" href="#" tabindex="0"  gi-popover popover-html="{{'agency.location_hours.apply_to_all_tooltip'| translate}}" aria-label="{{'agency.location_hours.apply_to_all_tooltip'| translate}} {{dayHour.day}}" popover-placement="top"><i class="icon-question-sign"></i></a>
												</label>
											</div>
											<div ng-repeat="dayHour in item.siteLocationHours" ng-init="innerIndex = $index" ng-form="timePickerForm">
												<div class="control-group" id="from-to-{{outterIndex}}-{{innerIndex}}">
													<div class="controls">
														<div class="hidden-xs col-sm-2 col-md-2 col-lg-2 col-xl-2">
															<label class="radio inline aid-radio-days-lbl {{dayHour.day}} radio-days" for="aid-radio-{{outterIndex}}-{{innerIndex}}">{{dayHour.day}}
				  								  				<input type="radio" class="radio-days" name="{{dayHour.day}}-{{outterIndex}}-{{innerIndex}}" id="aid-radio-{{outterIndex}}-{{innerIndex}}" aria-label="{{'agency.location_hours.hours_of_operation'| translate}} {{'agency.location_hours.for'| translate}} {{dayHour.day}}" ng-checked="dayHour.fromTime != 'closed'" ng-click="vm.setOperationHours(timePickerForm, dayHour,'select', outterIndex)" >
															</label>
														</div>
														<!-- For Mobile View -->
														<div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl pull-left radio-operation-hrs">
															<label class="radio inline aid-radio-days-lbl {{dayHour.day}} radio-open radio-days" for="aid-radio-{{outterIndex}}-{{innerIndex}}">{{dayHour.day}}
				  								  				<input type="radio" class="radio-days pull-left" name="{{dayHour.day}}-{{outterIndex}}-{{innerIndex}}-mobile" id="aid-radio-{{outterIndex}}-{{innerIndex}}" aria-label="{{'agency.location_hours.hours_of_operation'| translate}} {{'agency.location_hours.for'| translate}} {{dayHour.day}}" ng-checked="dayHour.fromTime !== 'closed'" ng-click="vm.setOperationHours(timePickerForm, dayHour,'select', outterIndex)" >
															</label>
															<label class="radio inline aid-radio-days-lbl radio-closed pull-left" for="aid-radio-closed-{{outterIndex}}-{{innerIndex}}" aria-label="{{'agency.location_hours.closed_for'| translate}} {{dayHour.day}}">
				  												<input type="radio" name="{{dayHour.day}}-{{outterIndex}}-{{innerIndex}}-mobile" id="aid-radio-closed-{{outterIndex}}-{{innerIndex}}" ng-checked="dayHour.fromTime === 'closed'" ng-click="vm.setOperationHours(timePickerForm, dayHour,'closed', outterIndex)"> {{'agency.location_hours.closed'| translate}}
															</label>
														</div>
														<!-- End For Mobile View -->
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 select-time">
															<time-picker ng-model="dayHour.fromTime" id="aid-from-{{outterIndex}}-{{innerIndex}}" name="fromTime" ng-change="vm.validateTime(timePickerForm, dayHour, outterIndex)" aria-label="{{'agency.location_hours.starting_time'| translate}} {{dayHour.day}}"></time-picker>
																<span class="time-to">&nbsp;{{'agency.location_hours.to'| translate}} &nbsp;</span>
															<time-picker ng-model="dayHour.toTime" time-filter="dayHour.fromTime" id="aid-to-{{outterIndex}}-{{innerIndex}}" name="toTime" ng-change="vm.validateTime(timePickerForm, dayHour, outterIndex)" aria-label="{{'agency.location_hours.closing_time'| translate}} {{dayHour.day}}"></time-picker>
														</div>
														<div class="hidden-xs col-sm-2 col-md-1 col-lg-1 col-xl-1 radio-closed">
															<label class="radio inline aid-radio-days-lbl" for="aid-radio-closed-{{outterIndex}}-{{innerIndex}}" aria-label="{{'agency.location_hours.closed_for'| translate}} {{dayHour.day}}">
				  												<input type="radio" name="{{dayHour.day}}-{{outterIndex}}-{{innerIndex}}" id="aid-radio-closed-{{outterIndex}}-{{innerIndex}}" ng-checked="dayHour.fromTime === 'closed'" ng-click="vm.setOperationHours(timePickerForm, dayHour,'closed', outterIndex)"> {{'agency.location_hours.closed'| translate}}
															</label>
														</div>
													</div>
													<div class="help-inline hidden-xs col-sm-9 col-md-9 col-lg-9 col-xl-9">
														<label class="error" ng-if="(timePickerForm.fromTime.$dirty || timePickerForm.toTime.$dirty) && (timePickerForm.fromTime.$error.startBeforeEnd) && !vm.applyToAllWeekdays[outterIndex]">
														<span>
															<em class="excl" tabindex="0" aria-label="{{'agency.location_hours.err_msg.time'| translate}} {{'agency.location_hours.for'| translate}}{{dayHour.day}}">!</em> {{'agency.location_hours.err_msg.time'| translate}}
														</span>
													</label>
												</div>
												</div>
											</div>
										</div>
										<div class="hidden-xs col-sm-3 col-md-3 col-lg-3 col-xl-3 all-week-chkbox"  ng-form="timePickerForm">
											<label class="checkbox inline aid-radio-days-closed-lbl" for="inlineCheckbox1-{{$index}}">
												<input type="checkbox" id="inlineCheckbox1-{{$index}}" ng-model="vm.applyWeekdays[outterIndex]" ng-change="vm.applyToAll(item, outterIndex)" ng-disabled="vm.applyToAllFlag{{outterIndex}} || vm.applyToAllFlag{{outterIndex}} === undefined"> {{'agency.location_hours.apply_to_weekdays'| translate}}</label><a class="ttclass" rel="tooltip" href="#" tabindex="-1"  gi-popover popover-html="Check this if all weekdays have same hours as Monday" popover-placement="top"><i class="icon-question-sign"></i></a>
											</label>
										</div>
									</div>
								</div> <!-- end of container-fluid #hrs-of-op -->
							</div>
							<div class="action-btn-wrapper txt-center">
								<button type="button" class="btn margin10-b" ng-click="item.editMode = !item.editMode" ng-if="(vm.flowFlag.adminFlow || vm.flowFlag.agencyViewEditFlow) && item.editMode && !item.hideCancel">
									{{'agency.location_hours.cancel'| translate}}
								</button>

								<div address-validation-directive="item.location" address-validation-callback="vm.saveSite(item, outterIndex)" ng-if="item.editMode" class="inline-block">
									<div ng-if="outterIndex === 0">
										<button type="button" ng-if="vm.flowFlag.adminFlow" class="btn btn-primary action-btn-primarysite margin10-b margin10-l address-validation-click" ng-attr-id="{{'aid-save-site-'+outterIndex}}" ng-disabled="aidAgencyLocationSubForm.$invalid">
											{{'agency.location_hours.save_primary_site'| translate}}
										</button>

										<button type="button" ng-if="!vm.flowFlag.adminFlow" class="btn btn-primary action-btn-primarysite margin10-b margin10-l" ng-click="vm.saveSite(item, outterIndex)" ng-attr-id="{{'aid-save-site-'+outterIndex}}" ng-disabled="aidAgencyLocationSubForm.$invalid">
											{{'agency.location_hours.save_primary_site'| translate}}
										</button>
									</div>
									<div ng-if="outterIndex !== 0">
										<button type="button" class="btn btn-primary action-btn-subsite margin10-b margin10-l address-validation-click" ng-attr-id="{{'aid-save-site-'+outterIndex}}" ng-disabled="aidAgencyLocationSubForm.$invalid"">
											{{'agency.location_hours.save_subsite'| translate}}
										</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</form>


		<div class="controls-group form-actions" ng-if="vm.flowFlag.agencyResgisterFlow">
			<button class="btn pull-left aid-back" ui-sref="accsetup.agencyInformation">{{ 'agency.universal.back' | translate }}</button>
			<button class="btn btn-primary pull-right aid-next"  ng-disabled="!vm.hasValidSiteSaved" ng-click="vm.nextPage()" title="Next">{{ 'agency.universal.next' | translate }}</button>
		</div><!-- end of form-actions -->
	</div><!-- end of row-fluid -->
</div>
