<div spinning-loader="vm.loader"></div>

<div class="gutter10 agent-list-container" ng-init="vm.init()">
	<div class="row-fluid">
		
		<div id="sidebar" class="span3">
			<div class="header">
				<h4>
					Refine Results By 
					<a class="pull-right" href="javascript:void(0)" ng-click="vm.reset()">Reset all</a>
				</h4>
			</div>
			
			<form class="gutter10">
				<div class="control-group">
					<label for="first-name" class="control-label">Consumer First Name</label>
					<div id="first-name" class="controls">
						<input type="text" ng-model="vm.inputData.individualFirstName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->
				
				<div class="control-group">
					<label for="last-name" class="control-label">Consumer Last Name</label>
					<div class="controls">
						<input id="last-name" type="text" ng-model="vm.inputData.individualLastName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->
				
				<div class="control-group">
					<label for="first-name" class="control-label">Agent First Name</label>
					<div id="first-name" class="controls">
						<input type="text" ng-model="vm.inputData.agentFirstName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->
				
				<div class="control-group">
					<label for="last-name" class="control-label">Agent Last Name</label>
					<div class="controls">
						<input id="last-name" type="text" ng-model="vm.inputData.agentLastName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->

				<div class="margin30-b">
					<fieldset>
						<legend>Request Sent</legend>
							<div class="control-group">
								<label class="required control-label" for="requestSentFrom">From:</label>
								<div class="controls input-append date date-picker" calendar>
									<input type="text" id="requestSentFrom" name="requestSentFrom" class="datepick input-medium" title="MM/dd/yyyy" ng-model="vm.inputData.fromDate"/>
										<span class="add-on"><i class="icon-calendar"></i></span>
									<div class="help-inline" id="requestSentFrom_error"></div>
								</div>
								<!-- end of controls-->
							</div>
							<div class="control-group">
								<label class="required control-label" for="requestSentTo">To:</label>
								<div class="controls  input-append date date-picker" calendar>
									<input type="text" id="requestSentTo" name="requestSentTo" class="datepick input-medium" title="MM/dd/yyyy" ng-model="vm.inputData.toDate" />
									<span class="add-on"><i class="icon-calendar"></i></span>
									<div class="help-inline" id="requestSentTo_error"></div>
								</div>
								<!-- end of controls-->
							</div>
					</fieldset>
				</div>
				
				<div class="txt-center">
					<button id="go-btn" class="btn" ng-click="vm.updateRefineResult=true;vm.getPagination()">GO</button>
				</div>
		
			
			</form>
			
		</div>
		
		
		<div id="rightpanel" class="span9">
			<div class="center"  ng-if="!vm.isResultsFound">
	          	<p class="alert alert-info">{{'agency.error_messages.no_records_found'| translate}}</p>
	        </div>
			<table class="table agent-list-table" ng-if="vm.isResultsFound">
				<thead>
					<tr>
						<th class="sortable"><a href="javascript:void(0)" id="individualFirstName" ng-click="vm.getSorting('individualFirstName', $event)">Consumer Name</a></th>
						<th class="sortable"><a href="javascript:void(0)" id="receivedOn" ng-click="vm.getSorting('receivedOn', $event)">Received On</a></th>
						<th class="sortable"><a href="javascript:void(0)" id="agentFirstName" ng-click="vm.getSorting('agentFirstName', $event)">Agent Name</th> 
						<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					<tr ng-repeat="delegations in vm.delegations track by $index">
						<td>{{delegations.individualFirstName}} {{delegations.individualLastName}}</td>
						<td>{{delegations.receivedOn}}</td>
						<td>{{delegations.agentFirstName}} {{delegations.agentLastName}}</td>
						<td>
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-cog"></i><i class="caret"></i>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="action-link" href="#" ng-click="vm.acceptDelegation(delegations)">
											<i class="icon-pencil"></i>Accept Delegation
										</a>
									</li>
							 	</ul>
												  
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="pagination center table-list-pagination" ng-if="vm.isResultsFound">
    			<pagination max-size="10" class="pagination-sm" rotate="false" items-per-page="10" total-items="vm.paginationData.totalRecords" ng-model="vm.inputData.pageNumber" ng-change="vm.getPagination()"></pagination>
			</div>
		</div>
	</div>
</div>

<div id="blockTerminatedAgencyManagerModal" class="modal hide fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body">
		Your agency has been terminated. You do not have permission to access this portal.
	</div>
</div>

<div id="successfullyAcceptedDelegation" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p class="alert alert-success">You have successfully accepted consumer delegation for {{vm.consumerName}} on behalf of {{vm.agentName}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.nextPage();vm.getPagination()">OK</button>
    </div>
</div>