<div spinning-loader="vm.loader"></div>

<div ng-init="vm.init()" ng-form="agencyInformationForm" id="agencyInfo">
	<div class="header">
		<h4 class="pull-left">
			<span ng-if="vm.flowFlag.agencyResgisterFlow">{{'agency.information.step'| translate}}: </span>
			{{'agency.information.header'| translate}}
		</h4>
		<button class="btn btn-primary btn-small pull-right" ng-click="vm.editAgencyInformation()" ng-if="!vm.editMode && (vm.flowFlag.adminFlow || vm.flowFlag.agencyViewEditFlow) && vm.currentUserRole !== 'APPROVEDADMINSTAFFL2'">
			{{'agency.information.edit'| translate}}
		</button>

		<span ng-if="vm.editMode && !vm.flowFlag.agencyResgisterFlow" class="pull-right">
			<button class="btn btn-small" ng-click="vm.cancelAgencyInformation()">
				{{'agency.information.cancel'| translate}}
			</button>
			<button class="btn btn-primary btn-small" ng-click="vm.saveAgencyInformation()" ng-disabled="agencyInformationForm.$invalid">
				{{'agency.information.save'| translate}}
			</button>
		</span>
	</div>


	<form class="form-horizontal gutter10" novalidate name="agencyInformationForm" ng-if="vm.editMode">
		<div class="row-fluid">
            <div class="col-sm-12 col-sm-12">
				<div class="control-group">
					<label for="agency-name" class="control-label">
						{{'agency.information.agency_name'| translate}}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input id="agency-name" class="" type="text" name="agencyName" required ng-model="vm.agencyInformationData.agencyName" maxlength="80"/>

						<div class="help-inline">
							<label class="error" ng-if="agencyInformationForm.agencyName.$dirty && agencyInformationForm.agencyName.$error.required">
								<span>
									<em class="excl">!</em> {{'agency.information.err_msg.agency_name'| translate}}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12">
				<div class="control-group">
					<label for="business-legal-name" class="control-label">
						{{ 'agency.information.business_name' | translate }}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
					</label>
					<div class="controls">
						<input type="text" id="business-legal-name" name="businessLegalName" ng-disabled="!vm.flowFlag.adminFlow" required ng-model="vm.agencyInformationData.businessLegalName" maxlength="80"/>
						<div class="help-inline">
							<label class="error" ng-if="agencyInformationForm.businessLegalName.$dirty && agencyInformationForm.businessLegalName.$error.required">
								<span>
									<em class="excl">!</em> {{ 'agency.information.err_msg.business_name' | translate }}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12">
				<div class="control-group">
					<label for="federal-tax-id" class="control-label">
						{{ 'agency.information.federal_taxid' | translate }}
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!"/>
					</label>
					<div class="controls">
						<input type="text" id="federal-tax-id" name="federalTaxId" ng-disabled="!vm.flowFlag.adminFlow" required ng-model="vm.agencyInformationData.federalTaxId" ng-pattern="/^[0-9]*$/" ng-minlength="9" ng-maxlength="9" maxlength="9" ng-change="vm.resetDuplicateFederalTaxIdFlag()"/>
						<div class="help-inline">
							<label class="error" ng-if="agencyInformationForm.federalTaxId.$dirty && agencyInformationForm.federalTaxId.$error.required">
								<span>
									<em class="excl">!</em> {{ 'agency.information.err_msg.federal_taxid_1' | translate }}
								</span>
							</label>
							<label class="error" ng-if="agencyInformationForm.federalTaxId.$dirty && agencyInformationForm.federalTaxId.$error.pattern">
								<span>
									<em class="excl">!</em> {{ 'agency.information.err_msg.federal_taxid_1' | translate }}
								</span>
							</label>
							<label class="error" ng-if="agencyInformationForm.federalTaxId.$dirty && agencyInformationForm.federalTaxId.$error.minlength">
								<span>
									<em class="excl">!</em> {{ 'agency.information.err_msg.federal_taxid_2' | translate }}
								</span>
							</label>
							<label class="error" ng-if="agencyInformationForm.federalTaxId.$dirty && agencyInformationForm.federalTaxId.$error.maxlength">
								<span>
									<em class="excl">!</em> {{ 'agency.information.err_msg.federal_taxid_2' | translate }}
								</span>
							</label>
							<label class="error" ng-if="vm.duplicateFederalTaxIdFlag">
								<span>
									<em class="excl">!</em> {{ 'agency.information.err_msg.federal_taxid_3' | translate }}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12">
				<div class="control-group">
					<label for="license-number" class="control-label">
						{{ 'agency.information.agency_license_number' | translate }}
					</label>
					<div class="controls">
						<input type="text" id="license-number" name="licenseNumber" ng-model="vm.agencyInformationData.licenseNumber" ng-pattern="/^[a-zA-Z0-9]{1,10}$/" maxlength="10"/>
						<div class="help-inline">
							<label class="error" ng-if="agencyInformationForm.licenseNumber.$dirty && agencyInformationForm.licenseNumber.$error.pattern">
								<span>
									<em class="excl">!</em> {{ 'agency.information.err_msg.agency_license_number' | translate }}
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12">
				<div class="controls-group form-actions" ng-if="vm.flowFlag.agencyResgisterFlow">
					<input type="submit" ng-disabled="agencyInformationForm.$invalid"  ng-click="vm.saveAgencyInformation()" value="{{ 'agency.universal.next' | translate }}" class="btn btn-primary pull-right aid-next">
				</div>
			</div>
		</div>
	</form>

	<table class="table table-border-none table-condensed" ng-if="!vm.editMode || vm.agencyViewOnlyFlow">
        <tbody>
            <tr>
                <td class="span4 txt-right" scope="row">{{ 'agency.information.agency_name' | translate }}</td>
                <td class="span5"><strong>{{vm.agencyInformationData.agencyName}}</strong></td>
            </tr>
            <tr>
                <td class="span4 txt-right" scope="row">{{ 'agency.information.business_name' | translate }}</td>
                <td><strong>{{vm.agencyInformationData.businessLegalName}}</strong></td>
            </tr>
            <tr>
                <td class="span4 txt-right">{{ 'agency.information.federal_taxid' | translate }}</td>
                <td><strong>{{vm.agencyInformationData.federalTaxId}}</strong></td>
            </tr>
            <tr>
                <td class="span4 txt-right">{{ 'agency.information.agency_license_number' | translate }}</td>
                <td><strong>{{vm.agencyInformationData.licenseNumber}}</strong></td>
			</tr>
			
		</tbody>
	</table><br>

	<table class="table table-border-none table-condensed" ng-if="vm.showAgencyManagerInfo">
		<tbody>
			<tr>
				<td style="vertical-align:top;" class="span4 txt-right" scope="row">{{ 'agency.information.agency_manager_names' | translate }}</td>
				<td style="vertical-align:top;" class="span5"><strong>
					<table> 
						<tr ng-repeat="agency in vm.agencyManagersInfo">
							<td>  {{agency.agencyManagerFirstName}} {{agency.agencyManagerLastName}} </td>
						</tr>
					</table>
				</strong></td>
			</tr>
		</tbody>
	</table>
	

</div>
