<div spinning-loader="vm.loader"></div>

<div ng-init="vm.init()" ng-form="updateCertificationFormContainer">
	<div class="header">
		<h4 class="pull-left">{{'agency.certification_status.header'| translate}}</h4>
		<button class="btn btn-primary btn-small pull-right" ng-if="!vm.editMode && vm.flowFlag.adminViewEditFlow" ng-click="vm.editMode = !vm.editMode">
			{{'agency.universal.edit'| translate}}
		</button>

		<button class="btn btn-primary btn-small pull-right" ng-if="vm.editMode && vm.flowFlag.adminViewEditFlow" ng-click="vm.resetData()">
	    	{{'agency.universal.cancel'| translate}}
		</button>


		<!-- <button class="btn btn-primary btn-small pull-right" ng-if="vm.editMode && vm.flowFlag.adminViewEditFlow" ng-click="vm.updateCertificationStatus()" ng-disabled="updateCertificationFormContainer.updateCertificationForm.certificationStatus.$invalid">Save</button> -->
	</div>

	<table class="table table-border-none table-condensed table-auto verticalThead">
		<tbody>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.certification_status.app_submit_date'| translate}}</td>
				<td class="span5"><strong>{{vm.agencyCertificationStatusData.creationDate}}</strong></td>
			</tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.certification_status.certification_status'| translate}}</td>
				<td><strong>{{vm.agencyCertificationStatusData.certificationStatus}}</strong></td>
			</tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.certification_status.certification_number'| translate}}</td>
				<td><strong>{{vm.agencyCertificationStatusData.certificationNumber}}</strong></td>
			</tr>
			<tr>
				<td class="span4 txt-right" scope="row">{{'agency.certification_status.certification_date'| translate}}</td>
				<td><strong>{{vm.agencyCertificationStatusData.certificationDate}}</strong></td>
			</tr>
		</tbody>
	</table>


	<div ng-if="vm.isAdminRole === 'true'">
		<div class="header">
			<h4 class="pull-left">
				<span ng-if="vm.editMode">{{'agency.certification_status.update_certification'| translate}}</span>
				<span ng-if="!vm.editMode">{{'agency.certification_status.certification_history'| translate}}</span>
			</h4>
		</div>

		<form class="form-horizontal" novalidate name="updateCertificationForm" ng-if="vm.editMode">
			<div class="control-group margin10-t">
				<label for="certification-status" class="control-label">{{'agency.certification_status.new_status'| translate}} <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></label>
				<div class="controls">
					<select id="certification-status" required name="certificationStatus" ng-model="vm.updateCertificationData.certificationStatus" ng-options="status as status for status in vm.agencyCertificationStatusData.agencyCertificationStatusList">
						<option value="">{{'agency.certification_status.select'| translate}}</option>
					</select>

					<div class="help-inline" ng-if="updateCertificationForm.certificationStatus.$error.required && updateCertificationForm.certificationStatus.$dirty">
						<label class="error">
							<span>
								<em class="excl">!</em> {{'agency.certification_status.err_msg.new_status'| translate}}
							</span>
						</label>
					</div>
				</div>
			</div>

			<div class="control-group margin10-t">
				<label for="update-certification-data" class="control-label">{{'agency.certification_status.comment'| translate}}</label>
				<div class="controls">
					 <textarea id="update-certification-data" name="update-certification-data" rows="3" ng-model="vm.updateCertificationData.comment"></textarea>
				</div>
			</div>


			<div class="control-group margin10-t">
				<label class="control-label">{{'agency.certification_status.upload_declaration_page'| translate}}</label>
				<div class="controls">
					 <label for="eo-declarationPage" class="btn btn-small">
						<input id="eo-declarationPage" name="eoDeclarationPage" type="file" class="hide" max-file-size="5000000" file-model="vm.updateCertificationData.eoDeclarationPage" ng-model="vm.updateCertificationData.eoDeclarationPage">
						{{'agency.universal.choose_file'| translate}}
					</label>

					<span class="file-name-display">
						<span ng-if="vm.updateCertificationData.eoDeclarationPage.name">{{vm.updateCertificationData.eoDeclarationPage.name.length > 20 ? vm.updateCertificationData.eoDeclarationPage.name.slice(0, 20) + '...' : vm.updateCertificationData.eoDeclarationPage.name}}</span>
						<span ng-if="!vm.updateCertificationData.eoDeclarationPage.name">{{'agency.universal.no_file_chosen'| translate}}</span>
					</span>

					<button id="upload-file-btn" class="btn btn-small" ng-click="vm.uploadFile(vm.updateCertificationData.eoDeclarationPage, 'E&O Declaration')" ng-disabled="!vm.updateCertificationData.eoDeclarationPage || updateCertificationForm.eoDeclarationPage.$invalid">upload</button>
					<div style="margin-left: 55px" ng-if="vm.submittedFile.eoDeclarationPage">
						{{vm.submittedFile.eoDeclarationPage}}
					</div>
					<div class="help-inline" ng-if="updateCertificationForm.eoDeclarationPage.$error.maxFileSize && updateCertificationForm.eoDeclarationPage.$dirty">
						<label class="error">
							<span>
								<em class="excl">!</em> {{'agency.certification_status.err_msg.file_size'| translate}}
							</span>
						</label>
					</div>
				</div>
			</div>


			<div class="control-group margin10-t">
				<label class="control-label">{{'agency.certification_status.upload_contract'| translate}}</label>
				<div class="controls">
					 <label class="btn btn-small">
						<input name="contract" type="file" class="hide" max-file-size="5000000" file-model="vm.updateCertificationData.contract" ng-model="vm.updateCertificationData.contract">
						{{'agency.universal.choose_file'| translate}}
					</label>

					<span class="file-name-display">
						<span ng-if="vm.updateCertificationData.contract.name">{{vm.updateCertificationData.contract.name.length > 20 ? vm.updateCertificationData.contract.name.slice(0, 20) + '...' : vm.updateCertificationData.contract.name}}</span>
						<span ng-if="!vm.updateCertificationData.contract.name">{{'agency.universal.no_file_chosen'| translate}}</span>
					</span>

					<button class="btn btn-small" ng-click="vm.uploadFile(vm.updateCertificationData.contract, 'Contract')" ng-disabled="!vm.updateCertificationData.contract || updateCertificationForm.contract.$invalid">{{'agency.certification_status.upload'| translate}}</button>
					<div style="margin-left: 55px" ng-if="vm.submittedFile.contract">
						{{vm.submittedFile.contract}}
					</div>
					<div class="help-inline" ng-if="updateCertificationForm.contract.$error.maxFileSize && updateCertificationForm.contract.$dirty">
						<label class="error">
							<span>
								<em class="excl">!</em> {{'agency.certification_status.err_msg.file_size'| translate}}
							</span>
						</label>
					</div>
				</div>
			</div>



			<div class="control-group margin10-t">
				<label class="control-label">{{'agency.certification_status.upload_supporting_document'| translate}}</label>
				<div class="controls">
					 <label class="btn btn-small">
						<input name="supportingDocument" type="file" class="hide" max-file-size="5000000" file-model="vm.updateCertificationData.supportingDocument" ng-model="vm.updateCertificationData.supportingDocument">
						{{'agency.universal.choose_file'| translate}}
					</label>

					<span class="file-name-display">
						<span ng-if="vm.updateCertificationData.supportingDocument.name">{{vm.updateCertificationData.supportingDocument.name.length > 20 ? vm.updateCertificationData.supportingDocument.name.slice(0, 20) + '...' : vm.updateCertificationData.supportingDocument.name}}</span>
						<span ng-if="!vm.updateCertificationData.supportingDocument.name">{{'agency.universal.no_file_chosen'| translate}}</span>
					</span>

					<button class="btn btn-small" ng-click="vm.uploadFile(vm.updateCertificationData.supportingDocument, 'Supporting')" ng-disabled="!vm.updateCertificationData.supportingDocument || updateCertificationForm.supportingDocument.$invalid">upload</button>

					<div style="margin-left: 55px" ng-if="vm.submittedFile.supportingDocument">
						{{vm.submittedFile.supportingDocument}}
					</div>

					<div class="help-inline" ng-if="updateCertificationForm.supportingDocument.$error.maxFileSize && updateCertificationForm.supportingDocument.$dirty">
						<label class="error">
							<span>
								<em class="excl">!</em> {{'agency.certification_status.err_msg.file_size'| translate}}
							</span>
						</label>
					</div>
				</div>
			</div>

			<div class="txt-right">
				<strong><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /> {{'agency.certification_status.err_msg.file_size'| translate}}</strong>
			</div>


			<div class="controls-group form-actions">
				<button class="btn btn-primary pull-right" ng-click="vm.updateCertificationStatus()" ng-disabled="updateCertificationForm.certificationStatus.$invalid">{{'agency.universal.submit'| translate}}</button>
			</div>
		</form>

		<table class="table table-condensed table-border-none table-striped">
		    <thead>
		        <tr>
		            <th>{{'agency.certification_status.date'| translate}}</th>
		            <th>{{'agency.certification_status.previous_status'| translate}}</th>
		            <th>{{'agency.certification_status.new_status'| translate}}</th>
		            <th>{{'agency.certification_status.updated_by'| translate}}</th>
		            <th>{{'agency.certification_status.comment'| translate}}</th>
		            <th>{{'agency.certification_status.attachment'| translate}}</th>
		        </tr>
		    </thead>
		    <tbody>
		       <tr ng-repeat="certificationHistory in vm.agencyCertificationStatusData.agencyCertificationHistory">
		            <td>{{certificationHistory.certificationDate}}</td>
		            <td>{{certificationHistory.previousStatus}}</td>
		            <td>{{certificationHistory.newStatus}}</td>
		            <td>{{certificationHistory.updatedBy}}</td>
					<td ng-if="certificationHistory.comment"><div class="comment"><a ng-href="#viewCommentsModal" data-toggle="modal"  ng-click="vm.callViewCommentsModal(certificationHistory.comment)">{{'agency.view_comments.comments'| translate}}</a></div></td>
					<td ng-if="!certificationHistory.comment"><div class="comment">{{'agency.view_comments.no_comments'| translate}}</div></td>
		            <td>
		            	<span ng-repeat="document in certificationHistory.documents">
		            		<a href="/hix/agency/document/{{document.documentId}}" target="_blank">{{document.documentName}}</a><br>
		            	</span>
		            </td>
		       </tr>
		    </tbody>
		</table>
	</div>
</div>


<div id="fileUploadSuccessModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3></h3>
	</div>
	<div class="modal-body">
		<p class="alert alert-success">{{'agency.certification_status.modal.upload_success'| translate}}</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal">{{'agency.universal.ok'| translate}}</button>
	</div>
</div>

<div id="updateCertificationStatusModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3></h3>
	</div>
	<div class="modal-body">
		<p class="alert alert-success">{{'agency.certification_status.modal.update_status'| translate}}</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal">{{'agency.universal.ok'| translate}}</button>
	</div>
</div>

<div general-modal-directive modal-id="'viewCommentsModal'"
	modal-header-content="'agency.view_comments.header'"
	cancel-content="'agency.universal.close'"
	>
	<p>{{content}}</p>
</div>
