<div spinning-loader="vm.loader"></div>

<div ng-init="vm.init()">
    <div class="header">
        <h4 class="pull-left">
            <span ng-if="vm.isAdminFlow !== 'true' && (vm.certificationStatus === 'INCOMPLETE' || !vm.certificationStatus)">{{'agency.document_upload.step'| translate}}: </span>
            {{'agency.document_upload.header'| translate}}
        </h4>
    </div>

    <form class="form-horizontal gutter10" novalidate name="uploadDocumentForm">
        <div class="row-fluid">
            <div class="span8">
                <label for="file" class="btn btn-small">
                    <input id="file" name="file" type="file" class="hide" max-file-size="5000000" file-model="vm.file" ng-model="vm.file" required>
                    {{'agency.universal.choose_file'| translate}}
                </label>

                <span class="file-name-display">
                    <span ng-if="vm.file.name">{{vm.file.name.length > 20 ? vm.file.name.slice(0, 20) + '...' : vm.file.name}}</span>
                    <span ng-if="!vm.file.name">{{'agency.universal.no_file_chosen'| translate}}</span>
                </span>

                <button class="btn btn-primary" ng-disabled="uploadDocumentForm.$invalid" ng-click="vm.uploadFile()">{{'agency.document_upload.upload'| translate}}</button>
            </div>
        </div>

        <div class="error-message" ng-if="!vm.invalidFileType && uploadDocumentForm.file.$error.maxFileSize && uploadDocumentForm.file.$dirty">
            {{'agency.error_messages.file_size'| translate}}
        </div>
        <div class="error-message" ng-if="vm.invalidFileType && uploadDocumentForm.file.$dirty">
            {{'agency.error_messages.file_type'| translate}}
        </div>
        <p class="margin20-t">
            <strong>{{'agency.document_upload.note'| translate}}</strong>
        </p>

    </form>

    <table class="table table-condensed table-border-none table-striped">
        <thead>
            <tr>
                <th>{{'agency.document_upload.date'| translate}}</th>
                <th>{{'agency.document_upload.file_name'| translate}}</th>
                <th>{{'agency.document_upload.remove'| translate}}</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="documentUpload in vm.documentUploadData">
                <td>{{documentUpload.createdDate}}</td>
                <td>
                    <a href="/hix/agency/document/{{documentUpload.documentId}}" target="_blank">{{documentUpload.documentName}}</a>
                </td>
                <td>
                    <a href="javascript:void(0)" ng-click="vm.initRemoveDocumentModel(documentUpload.documentId)">{{'agency.document_upload.remove'| translate}}</a>
                </td>
           </tr>
        </tbody>
    </table>
    <div class="controls-group form-actions" ng-if="vm.isAdminFlow !== 'true' && (vm.certificationStatus === 'INCOMPLETE' || !vm.certificationStatus)">
        <input type="button" value="Back" class="btn pull-left" ng-click="vm.backPage()">
        <input type="button" value="Finish" class="btn btn-primary pull-right"  ng-click="vm.completedApplication()">
    </div><!-- end of form-actions -->
</div>

<div id="fileUploadSuccessModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p class="alert alert-success">{{'agency.document_upload.modal.upload_success'| translate}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">{{'agency.universal.ok'| translate}}</button>
    </div>
</div>


<div id="removeDocumentConfirmationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{'agency.document_upload.modal.remove_header'| translate}}</h3>
    </div>
    <div class="modal-body">
        {{'agency.document_upload.modal.remove_file'| translate}}
    </div>
    <div class="modal-footer txt-right">
        <button class="btn" data-dismiss="modal">{{'agency.universal.cancel'| translate}}</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.removeDoument()">{{'agency.universal.yes'| translate}}</button>
    </div>
</div>

<div id="successfullyCompletedApplication" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p class="alert alert-success">{{'agency.document_upload.modal.application_completed'| translate}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.nextPage()">{{'agency.universal.ok'| translate}}</button>
    </div>
</div>
<div id="errorFileTye" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p class="alert alert-danger">error{{'agency.document_upload.modal.application_completed'| translate}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.nextPage()">{{'agency.universal.ok'| translate}}</button>
    </div>
</div>
