<div class="container-fluid" id="agency-portal-adminStaff">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" id="sidebar">
        <div class="header">
            <h4>Steps</h4>
        </div>
        <ul class="nav nav-list col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <li ng-repeat="item in vm.sideNavListFour" ui-sref-active="active"  ng-class="{disabled: item.disableLink}">
                <a ng-show="$index !==1 && $index !==2" ui-sref="{{item.link}}"><span ng-if="item.showOKicon"><i class="icon-ok"></i></span>{{item.name}}</a>
                <a ng-show="($index === 1 || $index === 2) && !item.disableLink" ui-sref="{{item.link}}">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" id="rightpanel" ui-view></div>
</div><!-- end of row-fluid -->
