<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" id="sidebar">
        <div class="header">
            <h4>Steps</h4>
        </div>
          <div ng-if="vm.agencyCertificationStatus === 'INCOMPLETE' || !vm.agencyCertificationStatus">
            <ul class="nav nav-list col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <li ng-repeat="item in vm.sideNavListOne" ui-sref-active="active"  ng-class="{disabled: item.disableLink}">
                    <a ng-if="$index !==2 && $index !==3" ui-sref="{{item.link}}" enable-link="!item.disableLink" data-ng-disabled="item.disableLink"><span ng-if="item.showOKicon"><i class="icon-ok"></i></span><span ng-if="!item.showOKicon">{{$index+1}}.</span>&nbsp;{{item.name}}</a>
                    <a ng-if="$index === 2 || $index === 3" href="" ng-click="!item.disableLink && vm.goToPage(item.link)" enable-link="!item.disableLink" data-ng-disabled="item.disableLink"><span ng-if="item.showOKicon"><i class="icon-ok"></i></span><span ng-if="!item.showOKicon">{{$index+1}}.</span>&nbsp;{{item.name}}</a>
                </li>
            </ul>
          </div>
          <div ng-if="vm.agencyCertificationStatus !== 'INCOMPLETE' && vm.agencyCertificationStatus">
            <ul class="nav nav-list col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <li ng-repeat="item in vm.sideNavListTwo" ui-sref-active="active">
                    <a ui-sref="{{item.link}}">{{item.name}}</a>
                </li>
            </ul>
          </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" id="rightpanel" ui-view></div>
</div><!-- end of row-fluid -->
