<div spinning-loader="vm.loader"></div>

<div ng-init="vm.init()" class="gutter10">
	<h1>
		<span ng-if="vm.flow !== 'exportBob' && !vm.isNewApplication" >{{'agency.transfer_consumer_delegations.header1'| translate}}</span>
		<span ng-if="vm.flow === 'exportBob' && !vm.isNewApplication" >{{'agency.transfer_consumer_delegations.header2'| translate}}</span>
		<span ng-if="vm.isNewApplication" >{{'agency.transfer_consumer_delegations.header3'| translate}}</span>
	</h1>

	<div class="panel-container gutter10">

		<p class="alert alert-info" ng-if="vm.flow === 'singleTransfer' && !vm.isNewApplication">
			{{'agency.transfer_consumer_delegations.flow_messages.single_transfer1'| translate}}
			{{vm.delegatedIndividuals[0].firstName}} {{vm.delegatedIndividuals[0].lastName}}
			{{'agency.transfer_consumer_delegations.flow_messages.single_transfer2'| translate}}
		</p>
		<p class="alert alert-info" ng-if="vm.flow === 'multipleTransfer' && !vm.isNewApplication">
			{{'agency.transfer_consumer_delegations.flow_messages.multiple_transfer'| translate}}
		</p>
		<p class="alert alert-info" ng-if="vm.flow === 'transferAll' && !vm.isNewApplication">
			{{'agency.transfer_consumer_delegations.flow_messages.transfer_all1'| translate}}
			{{vm.delegatedAgent.firstName}} {{vm.delegatedAgent.lastName}}
			{{'agency.transfer_consumer_delegations.flow_messages.transfer_all2'| translate}}
		</p>

		<h2 class="panel-container__header panel-container__header--attach">
			{{'agency.transfer_consumer_delegations.search_agent.header'| translate}}
		</h2>

		<div class="panel-container__body panel-container__body--attach">
			<form class="form-inline row-fluid" name="searchAgentForm" novalidate>
				<div class="control-group col-sm-6 col-md-6 col-lg-4">
					<label class="control-label" for="agentFirstName">
						{{'agency.transfer_consumer_delegations.search_agent.first_name'| translate}}
					</label>
					<input type="text" id="agentFirstName" ng-model="vm.agentFirstName" />
				</div>

				<div class="control-group col-sm-6 col-md-6 col-lg-4">
					<label class="control-label" for="agentLastName">
						{{'agency.transfer_consumer_delegations.search_agent.last_name'| translate}}
					</label>
					<input type="text" id="agentLastName" ng-model="vm.agentLastName" />
				</div>

				<div class="control-group col-sm-6 col-md-6 col-lg-4">
					<label class="control-label" for="agentSite">
						{{'agency.transfer_consumer_delegations.search_agent.site'| translate}}
					</label>
					<select ng-model="vm.agentSiteName" ng-options="site as site for site in vm.sites">
						<option value="" >
							{{'agency.transfer_consumer_delegations.search_agent.select_one'| translate}}
						</option>
					</select>
				</div>

				<div class="control-group col-sm-6 col-md-6 col-lg-4">
					<label class="control-label" for="agentEmail">
						{{'agency.transfer_consumer_delegations.search_agent.email'| translate}}
					</label>
					<input type="email" id="agentEmail" name="agentEmail" ng-model="vm.agentEmail" />
					<div class="help-inline">
						<label class="error" ng-if="searchAgentForm.agentEmail.$dirty && searchAgentForm.agentEmail.$error.email">
							<span>
								<em class="excl">!</em>
								{{'agency.transfer_consumer_delegations.search_agent.message1'| translate}}
							</span>
						</label>
					</div>
				</div>

				<div class="control-group col-sm-6 col-md-6 col-lg-4">
					<label class="control-label" for="agentLicenseNo">
						{{'agency.transfer_consumer_delegations.search_agent.license_no'| translate}}
					</label>
					<input type="text" id="agentLicenseNo" ng-model="vm.licenseNumber" />
				</div>


				<div class="control-group pull-right" style="margin-right: 9.5%">
					<input class="btn btn-primary" type="submit" value="{{'agency.transfer_consumer_delegations.search_agent.search'| translate}}" ng-click="vm.searchAgent()" ng-disabled="searchAgentForm.$invalid"/>
				</div>
			</form>
		</div>

		<table class="table margin20-t">
			<thead>
				<tr>
					<th style="width: 65px">
						{{'agency.transfer_consumer_delegations.agent_table.pick_agent'| translate}}
					</th>
					<th>
						{{'agency.transfer_consumer_delegations.agent_table.agent_name'| translate}}
					</th>
					<th>
						{{'agency.transfer_consumer_delegations.agent_table.email'| translate}}
					</th>
					<th>
						{{'agency.transfer_consumer_delegations.agent_table.primary_site'| translate}}
					</th>
					<th>
						<button class="btn btn-primary pull-right" ng-if="vm.flow !== 'exportBob' && !vm.isNewApplication" ng-click="vm.reassignAgent()" ng-disabled="vm.targetAgent === undefined">
							{{'agency.transfer_consumer_delegations.agent_table.reassign'| translate}}
						</button>
						<a class="btn btn-primary pull-right" ng-if="vm.flow === 'exportBob' && !vm.isNewApplication" href="/hix/agency/export/{{vm.targetAgent.brokerId}}" ng-disabled="vm.targetAgent === undefined">
							{{'agency.transfer_consumer_delegations.agent_table.export'| translate}}
						</a>
						<button class="btn btn-primary pull-right" ng-if=" vm.isNewApplication" ng-click="vm.startApplication(vm.targetAgent.brokerId)" ng-disabled="vm.targetAgent === undefined">
							{{'agency.transfer_consumer_delegations.agent_table.start_consumer_application'| translate}}
						</button>
					</th>
				</tr>
				<tr ng-if="vm.agentsData.brokers.length === 0">
					<td colspan="5">
						{{'agency.transfer_consumer_delegations.agent_table.message2'| translate}}
					</td>
				</tr>

				<tr ng-repeat="agent in vm.agentsData.brokers" ng-if="vm.agentsData.brokers.length > 0">
					<td class="txt-center">
						<input type="radio" id="{{agent.brokerId}}" name="targetAgent" ng-model="vm.targetAgent" ng-value="{{agent}}">
					</td>
					<td>
						<label for="{{agent.brokerId}}">{{agent.firstName}} {{agent.lastName}}</label>
					</td>
					<td>
						<label for="{{agent.brokerId}}">{{agent.email}}</label>
					</td>
					<td colspan="2">
						<label for="{{agent.brokerId}}">{{agent.primarySite}}</label>
					</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="center" ng-if="vm.agentsData === undefined">
			<span class="alert alert-info inline-block">
				<i class="icon-info-sign"></i>
				{{'agency.transfer_consumer_delegations.agent_table.message1'| translate}}
			</span>
		</div>
	</div>

	<div general-modal-directive modal-id="'transferSuccess'"
		modal-header-content="'agency.transfer_consumer_delegations.transfer_result_modal.success_header'"
		submit-content="'agency.transfer_consumer_delegations.transfer_result_modal.colse'"
		>

		<p class="alert alert-success">{{'agency.transfer_consumer_delegations.transfer_result_modal.success1'| translate}} {{vm.agentName}}.</p>
	</div>

	<div general-modal-directive modal-id="'transferError'"
		modal-header-content="'agency.transfer_consumer_delegations.transfer_result_modal.failure_header'"
		submit-content="'agency.transfer_consumer_delegations.transfer_result_modal.colse'"
		>

		<p class="alert alert-error">
			{{'agency.transfer_consumer_delegations.transfer_result_modal.failure'| translate}}
		</p>
	</div>
</div>
