<div spinning-loader="vm.loader"></div>

<div class="gutter10 agent-list-container" ng-init="vm.init()">
	<div class="row-fluid">

		<div id="sidebar" class="span3">
			<div class="header">
				<h4>
					{{'agency.universal.refine_results_by'| translate}}
					<a class="pull-right" href="javascript:void(0)" ng-click="vm.reset()">{{'agency.universal.reset_all'| translate}}</a>
				</h4>
			</div>

			<form id="aid-view-agentlist-search" class="gutter10">
				<div class="control-group">
					<label for="first-name" class="control-label">{{'agency.view-agent-list.first_name'| translate}}</label>
					<div id="first-name" class="controls">
						<input type="text" ng-model="vm.inputData.firstName" class="span12">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->

				<div class="control-group">
					<label for="last-name" class="control-label">{{'agency.view-agent-list.last_name'| translate}}</label>
					<div class="controls">
						<input id="last-name" type="text" ng-model="vm.inputData.lastName" class="span12">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->


				<div class="control-group margin30-b">
					<fieldset>
						<legend class="form-legend">{{'agency.view-agent-list.agent_status'| translate}}</legend>

						<div class="controls">
							<label class="radio inline span5" for="aid-ag-status-active">
					  				<input type="radio" class="radio-status" name="aid-ag-status" id="aid-ag-status-active" ng-model="vm.inputData.status" value="active"> {{'agency.view-agent-list.active'| translate}}
							</label>
							<label class="radio inline span5" for="aid-ag-status-inactive">
					  				<input type="radio" class="radio-status" name="aid-ag-status" id="aid-ag-status-inactive" ng-model="vm.inputData.status" value="inactive"> {{'agency.view-agent-list.inactive'| translate}}
							</label>
						</div><!-- end of controls -->
					</fieldset>
				</div><!-- end of control-group -->

				<div class="control-group">
					<label for="certification-status" class="control-label">{{'agency.view-agent-list.certification_status'| translate}}</label>
					<div id="certification-status" class="controls">
						<select
							name="certificationStatus"
							ng-init="vm.inputData.certificationStatus = vm.certificationStatusList[0]"
							ng-model="vm.inputData.certificationStatus" class="span12">
							<option value="">{{'agency.view-agent-list.select_certification_status'| translate}}</option>
							<option ng-repeat="status in vm.certificationStatusList" value="{{status}}">{{status}}</option>
					    </select>
					</div><!-- end of controls -->
				</div><!-- end of control-group -->


				<div class="control-group">
					<label for="license-number" class="control-label">{{'agency.view-agent-list.license_number'| translate}}</label>
					<div id="license-number" class="controls">
						<input type="text" cname="aid-license-number" ng-model="vm.inputData.licenseNumber" class="span12">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->

				<div class="txt-center">
					<button id="go-btn" class="btn" ng-click="vm.refineResult=true;vm.getData()">{{'agency.universal.go'| translate}}</button>
				</div>
			</form>

		</div>


		<div id="rightpanel" class="span9">
			<div class="center"  ng-if="!vm.isResultsFound">
	          	<p class="alert alert-info">{{'agency.error_messages.no_records_found'| translate}}</p>
	        </div>
			<table class="table agent-list-table" ng-if="vm.isResultsFound">
				<thead>
					<tr>
						<th class="sortable">
							<a href="javascript:void(0)" ng-click="vm.getSorting('agentName')">{{'agency.view-agent-list.agent_name'| translate}}</a>
						</th>
						<th>{{'agency.view-agent-list.active_inactive'| translate}}</a></th>
						<th>{{'agency.view-agent-list.consumers'| translate}}</a></th>
						<th class="sortable">
							<a href="javascript:void(0)"  ng-click="vm.getSorting('agentLicense')">{{'agency.view-agent-list.agent_license'| translate}} #</a>
						</th>
						<th>{{'agency.view-agent-list.table_certification_status'| translate}}</th>
						<th ng-if="vm.certificationStatus === 'CERTIFIED' && vm.currentUserRole === 'AGENCY_MANAGER'">{{'agency.view-agent-list.actions'| translate}}</th>
						<th ng-if="vm.certificationStatus === 'CERTIFIED' && vm.currentUserRole === 'APPROVEDADMINSTAFFL2'&& vm.adminStaffApprovalStatus === 'APPROVED' && vm.adminStaffActivityStatus !== 'InActive'">{{'agency.view-agent-list.actions'| translate}}</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="agent in vm.agentList track by $index">
						<td>{{agent.firstName}} {{agent.lastName}}</td>
						<td>{{agent.status}}</td>
						<td>{{agent.consumersCount}}</td>
						<td>{{agent.licenseNumber}}</td>
						<td>{{agent.certificationStatus}}</td>
						<td ng-if="vm.certificationStatus === 'CERTIFIED' && vm.currentUserRole === 'AGENCY_MANAGER'">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-cog"></i><i class="caret"></i>
								</a>
								<ul class="dropdown-menu pull-right" role="menu">
									<li ng-if="!vm.adminSwitchToAgency">
										<a class="action-link" href="/hix/broker/viewcertificationinformation?ref={{agent.encryptedId}}">
											<i class="icon-pencil"></i>{{'agency.view-agent-list.edit'| translate}}
										</a>
									</li>
									<li>
										<a class="action-link" ui-sref="transferConsumerDelegations({delegatedAgent:agent, flow:'transferAll'})">
											<i class="icon-pencil"></i>{{'agency.view-agent-list.transfer_consumer_delegation'| translate}}
										</a>
									</li>
							 	</ul>
							</div>
						</td>
						<td ng-if="vm.certificationStatus === 'CERTIFIED' && vm.currentUserRole === 'APPROVEDADMINSTAFFL2' && vm.adminStaffApprovalStatus === 'APPROVED' && vm.adminStaffActivityStatus !== 'InActive'">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-cog"></i><i class="caret"></i>
								</a>
								<ul class="dropdown-menu pull-right" role="menu">
									<li>
										<a class="action-link" href="/hix/broker/viewcertificationinformation?ref={{agent.encryptedId}}">
											<i class="icon-pencil"></i>{{'agency.view-agent-list.edit'| translate}}
										</a>
									</li>
									<li>
										<a class="action-link" ui-sref="transferConsumerDelegations({delegatedAgent:agent, flow:'transferAll'})">
											<i class="icon-pencil"></i>{{'agency.view-agent-list.transfer_consumer_delegation'| translate}}
										</a>
									</li>
							 	</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pagination center table-list-pagination" ng-if="vm.isResultsFound">
    			<pagination max-size="10" class="pagination-sm" rotate="false" items-per-page="10" total-items="vm.paginationData.totalRecords" ng-model="vm.inputData.pageNumber" ng-change="vm.paginationResult=true;vm.getData()"></pagination>
			</div>
		</div>
	</div>
</div>
