<div spinning-loader="vm.loader"></div>

<div class="gutter10 agent-list-container" ng-init="vm.init()">
	<div class="row-fluid">

		<div id="sidebar" class="span3">
			<div class="header">
				<h4>
					{{'agency.universal.refine_results_by'| translate}}
					<a class="pull-right" href="javascript:void(0)" ng-click="vm.reset()">{{'agency.universal.reset_all'| translate}}</a>
				</h4>
			</div>

			<form id="aid-view-agentlist-search" class="gutter10">
				<div class="control-group">
					<label for="first-name" class="control-label">{{'agency.view-admin-staff-list.first_name'| translate}}</label>
					<div class="controls">
						<input id="first-name" type="text" ng-model="vm.inputData.firstName"
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->

				<div class="control-group">
					<label for="last-name" class="control-label">{{'agency.view-admin-staff-list.last_name'| translate}}</label>
					<div class="controls">
						<input id="last-name" type="text" ng-model="vm.inputData.lastName"
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->

				<div class="txt-center">
					<button id="go-btn" class="btn" ng-click="vm.refineResult=true;vm.getData()">{{'agency.universal.go'| translate}}</button>
				</div>
			</form>

		</div>


		<div id="rightpanel" class="span9">
			<div class="center"  ng-if="!vm.isResultsFound">
	          	<p class="alert alert-info">{{'agency.error_messages.no_records_found'| translate}}</p>
	        </div>
			<table class="table agent-list-table" ng-if="vm.isResultsFound">
				<thead>
					<tr>
						<th>{{'agency.view-admin-staff-list.staff_name'| translate}}</th>
						<th>{{'agency.view-admin-staff-list.active_inactive'| translate}}</a></th>
						<th>{{'agency.view-admin-staff-list.approval_status'| translate}}</a></th>
						<th>{{'agency.view-admin-staff-list.staff_id'| translate}} #</th>
						<th>{{'agency.view-admin-staff-list.level'| translate}}</th>
						<th>{{'agency.view-admin-staff-list.actions'| translate}}</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="adminStaff in vm.adminStaffList.agencyAssistants track by $index">
						<td>{{adminStaff.firstName}} {{adminStaff.lastName}}</td>
						<td>{{adminStaff.status}}</td>
						<td>{{adminStaff.approvalStatus}}</td>
						<td>{{adminStaff.staffId}}</td>
						<td>{{adminStaff.role}}</td>
						<td>
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-cog"></i><i class="caret"></i>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="action-link" ui-sref="adminstaff.addstaff({assistantId: adminStaff.encryptedId, registrationComplete: true, viewAdminStaffFlow: true })">
											<i class="icon-pencil"></i>{{'agency.universal.edit'| translate}}
										</a>
									</li>
							 	</ul>

							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pagination center table-list-pagination" ng-if="vm.isResultsFound">
    			<pagination max-size="10" class="pagination-sm" rotate="false" items-per-page="10" total-items="vm.paginationData.totalRecords" ng-model="vm.inputData.pageNumber" ng-change="vm.paginationResult=true;vm.getData()"></pagination>
			</div>
		</div>
	</div>
</div>
