<style>
#collapseIssuer .ui-grid-row, 
#collapseIssuer .ui-grid-cell {
	height: auto!important;
}
</style>

    <div ng-controller="workbenchContrl">

        <div class="top-chart" class="panel-group">
            <div class="panel panel-info">
                <div class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="control-group span3 offset1">
                                <div>
                                    <label for="name" class="control-label">Issuer Name</label>
                                    <div class="controls">
                                    <issuer-select></issuer-select>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group span3">
                                <div class="d-flex">
                                    <label for="name" class="control-label">Reconciliation Month</label>
                                    <div class="controls">
                                    <month-select></month-select>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group span2">
                                <div class="d-flex">
                                    <label for="name" class="control-label">Reconciliation Year</label>
                                    <year-select></year-select>
                                </div>
                            </div>

                            <div class="control-group span1 offset1">
                                <div class="">
                                    <!-- <button type="button" id="btnIssuerData" class="btn btn-primary" ng-click="fetchReconData()" style="text-align: center;margin-top:25%">GO</button> -->
                                    <button type="button" id="btnIssuerData" class="btn btn-primary" ng-click="updateMonthlyReconData(true)" style="text-align: center;margin-top:25%">GO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-chart">
            <div class="panel panel panel-info">
                <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMonthlyStatus">
                    <h4 class="panel-title">
                        <a class="accordion-toggle"><span ng-show="selectedIssuer !== null">{{selectedIssuer}} - </span>{{selectedMonth}} - Status</a>
                    </h4>
                </div>

                <div id="collapseMonthlyStatus" class="panel-collapse collapse in">
                    <div class="panel-body">
                            <div ng-class="isPieChartVisible() || isRollingTrendsChartVisible() ? 'span4' : 'span3'">
                                <div class="panel panel panel-default">
                                    <div class="panel-heading"><span></span>&nbsp;Enrollments</div>
                                    <div class="panel-body">
                                        <div ng-show="isPieChartVisible()">
                                        <div class="span7">
                                            <d3-pie-chart></d3-pie-chart>
                                        </div>
                                        <div class="span5" style="line-height: 3px;">
                                            <div class="panel panel panel-default panel-margin-bottom">
                                                <div class="panel-heading"><span class="color-desc policies-Fully-Matched" ></span>&nbsp;&nbsp;Fully Matched</div>
                                                <div class="panel-body">
                                                    <span class="no-margins" count-to="{{highLevelSummary.totalSuccess}}"
                                                          value="{{highLevelSummary.totalSuccess - (highLevelSummary.totalSuccess >= countUp ? countUp : 0)}}" duration="1"></span>
                                                </div>
                                            </div>
                                            <div class="panel panel panel-default panel-margin-bottom">
                                                <div class="panel-heading"><span class="color-desc policies-with-Discrepancies" ></span>&nbsp;&nbsp;Discrepancies</div>
                                                <div class="panel-body">
                                                    <span class="no-margins" count-to="{{highLevelSummary.totalEnrlDiscrepancyCount}}"
                                                          value="{{highLevelSummary.totalEnrlDiscrepancyCount - (highLevelSummary.totalEnrlDiscrepancyCount >= countUp ? countUp : 0)}}" duration="1"></span>
                                                </div>
                                            </div>
                                            <div class="panel panel panel-default panel-margin-bottom">
                                                <div class="panel-heading"><span class="color-desc policies-with-Error" > </span>&nbsp;&nbsp;Errors</div>
                                                <div class="panel-body">
                                                    <span class="no-margins" count-to="{{highLevelSummary.totalFailure}}"
                                                          value="{{highLevelSummary.totalFailure - (highLevelSummary.totalFailure >= countUp ? countUp : 0)}}" duration="1"></span>
                                                </div>
                                            </div>
                                            <div class="panel panel panel-default panel-margin-bottom">
                                                <div class="panel-heading"><span class="color-desc policies-missing-in-File" > </span>&nbsp;Missing in File</div>
                                                <div class="panel-body">
                                                    <span class="no-margins" count-to="{{highLevelSummary.totalMissingInFile}}"
                                                          value="{{highLevelSummary.totalMissingInFile - (highLevelSummary.totalMissingInFile >= countUp ? countUp : 0)}}" duration="1"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="data-not-available" ng-show="!isPieChartVisible()">DATA NOT AVAILABLE</div>
                                    </div>
                                    <div class="pichart-footer" ng-show="isPieChartVisible()" title="Policies in HIX - {{highLevelSummary.totalEnrlInHix}}">Total In HIX: <span class="no-margins">{{highLevelSummary.totalEnrlInHix}}</span></div>
                                    <div class="pichart-footer" ng-show="isPieChartVisible()">Policies missing in HIX: {{highLevelSummary.totalMissingInHix ? highLevelSummary.totalMissingInHix : 0}}</div>

                                </div>
                            </div>
                            <div ng-class="isTopDiscrepancyChartVisible() || isRollingTrendsChartVisible() ? 'span3' : 'span4'">
                                <div class="panel panel panel-default">
                                    <div class="panel-heading"><span></span>&nbsp;Top 5 Discrepancies</div>
                                    <div class="panel-body">
                                        <div ng-show="isTopDiscrepancyChartVisible()">
                                        <div class="panel panel panel-default panel-margin-bottom">
                                            <div class="panel-body">
                                                TOTAL: <span class="no-margins" count-to="{{highLevelSummary.totalDiscrepancyCount}}" value="{{highLevelSummary.totalDiscrepancyCount - 25}}" duration="1"></span>
                                            </div>
                                        </div>
                                        <d3-bar-chart data="topLevelDiscrepancyList"></d3-bar-chart>
                                    </div>
                                        <div class="data-not-available" ng-show="!isTopDiscrepancyChartVisible()">DATA NOT AVAILABLE</div>
                                    </div>
                                </div>
                            </div>

                            <div ng-class="isRollingTrendsChartVisible() ? 'span5' : 'span4'">
                                <div class="panel panel panel-default">
                                    <div class="panel-heading"><span></span>&nbsp;Rolling 12 Month Trend</div>
                                    <div class="panel-body">
                                        <div ng-show="isRollingTrendsChartVisible()">
                                        <d3-trend-chart>
                                        </d3-trend-chart>
                                    </div>
                                        <div class="data-not-available" ng-show="!isRollingTrendsChartVisible()">DATA NOT AVAILABLE</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-chart" class="panel-group" id="accordionIssuers" ng-if="isAllIssuers()">
            <div class="panel panel-info">
                <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordionIssuers" data-target="#collapseIssuers">
                    <h4 class="panel-title">
                        <a class="accordion-toggle">All - Issuers Activity</a>
                    </h4>
                </div>

                <div id="collapseIssuers" class="panel-collapse collapse in" ng-controller="issuersActivityCtrl">
                    <div class="panel-body">
                        <div ui-grid="gridOptions1" class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-chart" class="panel-group" id="accordionIssuer" ng-if="!isAllIssuers()">
            <div class="panel panel-info">
                <div class="panel-heading panel-header-bold" data-toggle="collapse" data-parent="#accordionIssuer" data-target="#collapseIssuer">
                    <h4 class="panel-title">
                        <a  ng-show="selectedIssuer !== null" class="accordion-toggle">{{selectedIssuer}} - Issuer Activity</a>
                        <a  ng-show="selectedIssuer === null" class="accordion-toggle">Issuer Activity</a>
                    </h4>
                </div>

                <div id="collapseIssuer" class="panel-collapse collapse in" ng-controller="issuerActivityCtrl">
                    <div class="panel-body">
                        <div ui-grid="gridOptionsForIssuer" class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>




