.Main_contant_ui_work {background:#f2f2f2; border:1px solid #999;}

/* .main_page_contant_message { 
	width: 93%;
	background:#fff;
	border: 1px solid #ccc;
	margin:20px auto;
} */

.content-link ul li{margin: 0 0 15px;}

input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: top;
}

.page-title{
	color: #2977A7;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.call-us-img{
	margin:-52px 24px 0 0;
}

.arrow_ui_design {
    margin: 0 8px 0 0;
}

.blue-background{
	background: #5586A4;
	color:#fff;
}

#ssapHeader li a{padding:12px 15px 11px; color:#fff;}


.visited a, .activeMiddle a, .activeLeft a, .activeRight a{
       color : #666666 !important;
}

.gutter10, .padding10 {
  padding: 10px;
}


/* .tooltip {text-align: left; z-index: 1060; display: inline;
    opacity: 1;
    position: relative;
    font-size: 13px;
    padding: 0;
} */



hr{
    border-top: 1px solid #CCCCCC;
    background: #CCCCCC;
    font: 1px;
    line-height: 1px;
}

.trBorderTop{
    border-top: 2px solid #CCCCCC;
}

.validation-error-text-container{
    background: none repeat scroll 0 0 #FFF8AF;
    border: 1px solid #BFBA91;
    border-radius: 0.32em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #990000;
    display: inline-block;
    /*float: left;*/
    font: 12px 'Droid Sans',Tahoma,arial,sans-serif;
    margin: 0 0 5px;
    padding: 3px 4px 3px 3px;
    text-align: left;
    width: auto;
}

.validation-error-icon{
    background: none repeat scroll 0 0 #EA5200;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 5px;
    padding: 0 4px 0 5px;
    width: auto;
}

.parsley-error-list{margin:0; list-style: none;}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    color:#555555;
}

.borderTop-sidebar{border-top:1px solid #E9E9E9;}

.input-append .dateSpanWithError{margin:-30px 0 0 -15px;}

.nameOfHouseHold{text-transform: capitalize;}

.camelCaseName{text-transform: capitalize;}
.page-title{
	display:none;
}

/* .nameOfHouseHold{
	display:none;
} */

#sidebar ul{
	visibility:hidden;
}


#titlebar{
	margin-top: 60px!important;
} 

#progressBarDiv{
	top: -19px;
	position: relative;
}

.ssapProgressBar{
	height: 10px; 
	margin-bottom: 0px;
}

.triangle-isosceles { 
  position: relative;
  padding: 2px 10px;
  background: #73C9E3; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
   display:inline-block; 
   visibility:hidden;
   text-align: center;
   top: -5px;
   font-size: 14px;
}


.triangle-isosceles:after {
    content: "";
	position: absolute;
	bottom: -6px;
	left: 18px;
	border-width: 6px 5px 0;
	border-style: solid;
	border-color: #73C9E3 transparent;
	display: block;
	width: 0;
}
/* .triangle-isosceles:before {
	content:"Your Progress";
	white-space: nowrap;
	margin-right:6px;
} */
#progressDiv{
	margin-left: auto;
    margin-right: auto;
	padding-right: 40px;
	text-transform: uppercase;
	/*position: fixed;*/
	top: 65px;
	width: 1060px;
	background: #fff;
	/*padding-top: 48px;*/
	z-index: 3;
	border-bottom: #73C9CD solid 1px;
}
/* #progressDiv.stuck {
	position: fixed;
	top: 65px;
	width: 940px;
	background: #fff;
	padding-top: 33px;
	z-index: 3;
	border-bottom: #73C9CD solid 1px;
} */


/* ####################################accessibility fix#################################### */
#countinue_button_div, #save_button_div{
	display:inline;
}

.accLegend{
	font-size: 14px !important;
	color: #5a5a5a;
}

/* #############################accessibility fix end####################################### */
