
.terminationPageTooltip {
	position: relative;
}
.terminationPageTooltip:after {
	content: 'Terminating a health plan will also terminate your dental plan';
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 172px;
	min-height: 40px;
	border: 1px solid #e3e3e3;
	background: white;
	text-align: center;
	position: absolute;
	padding: 5px 14px;
	top: -74px;
	left: -96px;
	opacity: 0.9;
	line-height: 18px;
}

.terminationPageTooltip:before {
	content: '\f0d7';
	font-family: "FontAwesome";
	color: #e3e3e3;
	position: absolute;
	top: -16px;
	left: 0;
	font-size: 20px;
}