select {
	height: 38px;
	border: 1px solid #ddd;
	width: 180px;
}




.fa-sort {
	position:relative;
	right:21px;
}


.error{

	display: block !important;
}
#zipcode {
	display: block;
}

#zipcode::-ms-clear {
	display: none;
}


.show{
	display:initial;
}
.hide{
	display:none;
}


#zipcode-error {
	display: inline-block;
	margin-top: 10px;
	
}

.btn-group-toggle {

	width: 100%;
	padding: 0px;

	label {
		font-size: 14px;
		height: 50px;
		width: 100%;
		border: 1px solid #1f4270;
		background-image: none;
		border-radius: 0px;
		text-transform: uppercase;
		line-height: 50px;
		padding: 0px;

		&.active {
			background-image: none;
			background-color: #1f4270;
			color: #fff;
			border: 1px solid #1f4270;	
		}

		&.focus {
			background-image: none;
			background-color: #1f4270;
			color: #fff;
			border: 1px solid #1f4270;
		}


	}


	.btn:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
	
	input[type=radio] {
		position: absolute;
		clip: rect(0,0,0,0);
		pointer-events: none;
	}
}


label {

}


#errorWrapper {
	margin-top: 10px;
}


.off-screen {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

