<div class="row">
	<div class="col-12">
		<legend>
			<h2 class="question-header mt-0">{{"DOCTOR_WHO.question.1st_part" | translate}}</h2>
		</legend>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-sm-12">
		<div class="form-group">
			<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="providerType">
				<label ngbButtonLabel class="btn btn-light">
					<input ngbButton type="radio" value="doctor" id="main-content">
					<span class="bracket-left">[</span>
					{{"DOCTOR_WHO.question.option1" | translate}}
					<span class="bracket-right">]</span>
					<span class="off-screen">1 of 2</span>
				</label>
				<label ngbButtonLabel class="btn btn-light">
					<input ngbButton type="radio" value="facility">
					<span class="bracket-left">[</span>
					{{"DOCTOR_WHO.question.option2" | translate}}
					<span class="bracket-right">]</span>
					<span class="off-screen">2 of 2</span>
				</label>
			</div>
		</div>
	</div>
</div>



<div class="row mb-4">
	<div class="col-lg-6 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="control-label">{{ "DOCTOR_WHO.input_form.search_provider" | translate}}</label>
			<doc-search-typeahead #docSerch
			(selectedDoctor)="receiveDoctor($event)"
			[zipcode]="datakeep.personalization.doctor.nearZipcode"
			[invalidZip]="_invalidZip"
			[searchtype]="providerType"
			[over5]="datakeep.personalization.doctor.doctorSearch.length === 5"
			[selectedType]="providerType"
			></doc-search-typeahead>

			<div id="errorWrapper">
				<p *ngIf="newAlert" class="form-control-feedback alert-danger alert" id="doc-search-error" aria-live="polite" >
					<span>{{ newAlert.msg | translate }}</span>
				</p>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-sm-6 col-xs-12">
		<div class="form-group">

			<label for="zipcode" class="control-label">{{ "DOCTOR_WHO.input_form.near" | translate}}</label>

			<input type="text"
			class="form-control"
			id="zipcode"
			placeholder="{{ 'DOCTOR_WHO.input_form.placeholder' | translate}}"
			[(ngModel)]="zipcode"
			(blur)="updateZipcode(zipcode)"
			(keyup)="validateZip(zipcode)"
			maxlength="5"
			[attr.aria-invalid]="_invalidZip"
			[ngClass]="{'form-control-danger':_invalidZip}">

			<p *ngIf="_invalidZip" id="zipcode-error" class="form-control-feedback alert-danger alert" aria-live="polite" tabindex="0" [innerText]="'DOCTOR_WHO.input_form.invalid_zip' | translate"></p>
		</div>
	</div>
</div><!--row provider-select-wrapper-->

<div class="row">
	<div class="col-md-6 col-12" *ngFor="let doc of listedDoctors; let i = index">
		<doctor-card [doctor]="doc" (destoryed)="handleCardDestroy($event)" [selectedType]="providerType" ></doctor-card>
	</div>
</div>

