<div id="{{handler}}" class="modal hide fade" tabindex="-1"  role="dialog" aria-labelledby="{{handler}}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{{'agency.bob.modal.markAsInactive.header'| translate}}</h3>
    </div>
    <div class="modal-body">
        <p>{{'agency.bob.modal.markAsInactive.body_1'| translate}} {{modalContent.name}} {{'agency.bob.modal.markAsInactive.body_1_1'| translate}}</p>
        <p>{{'agency.bob.modal.markAsInactive.body_2'| translate}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >{{'agency.bob.modal.actionBtn.cancel'| translate}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$parent.callbackbtn()">{{'agency.bob.modal.actionBtn.confirm'| translate}}</button>
    </div>
</div>