
	<div id="{{handler}}" class="modal hide fade" tabindex="-1"  role="dialog" aria-labelledby="{{handler}}" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{'agency.bob.modal.eligibility.header'| translate}}</h3>
            </div>
            <div class="modal-body">
                <!-- <h3>{{'agency.bob.modal.eligibility.body_1'| translate}}  {{modalContent.name}}</h3> -->
                <div class="alert alert-info">
                    <h4>{{'agency.bob.modal.eligibility.body_1'| translate}}  {{modalContent.name}}</h4><hr>
                    <div class="col-sm-6 col-md-4 col-lg-4 text-right infoLabel">{{'agency.bob.modal.eligibility.body_2'| translate}}</div>
                    <div class="col-sm-6 col-md-4 col-lg-6 infoLabelValue">{{$parent.$parent.responseData.eligibilityStatus}}</div>
                    <div class="col-sm-6 col-md-4 col-lg-4 infoLabel">{{'agency.bob.modal.eligibility.body_3'| translate}}</div>
                    <div class="col-sm-6 col-md-4 col-lg-6 infoLabelValue">{{$parent.$parent.responseData.advancedPremiumTaxCredit}}</div>
                </div>
                <table class="modalDataTable eligibilityPopupTable table table-striped margin10-t">
                        <thead>
                            <tr>
                                <th>{{'agency.bob.modal.eligibility.body_5'| translate}}</th>
                                <th>{{'agency.bob.modal.eligibility.body_6'| translate}}</th>
                                <th>{{'agency.bob.modal.eligibility.body_7'| translate}}</th>
                                <th>{{'agency.bob.modal.eligibility.body_8'| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="popup_table" ng-repeat="members in $parent.$parent.responseData.applicantEligibility">
                                <td>{{members.firstName}} {{members.lastName}}</td>
                                <td>{{members.medicalEligibilityStatus}}</td>
                                <td>{{members.advancedPremiumTaxCredit}}</td>
                                <td>{{members.costSharingReduction}}</td>
                            </tr>
                        </tbody>
               </table>
            </div>

</div>