
	<div id="{{handler}}" class="modal hide fade" tabindex="-1"  role="dialog" aria-labelledby="{{handler}}" aria-hidden="true" ng-controller="AgencyBOBCtrl">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{'agency.bob.modal.individual.header'| translate}}</h3>
            </div>
            <div class="modal-body">
                <p>{{'agency.bob.modal.individual.body_1'| translate}} {{modalContent.name}}. {{'agency.bob.modal.individual.body_1_1'| translate}}</p>
                <p>{{'agency.bob.modal.individual.body_2'| translate}}</p>
            </div>
            <div class="modal-footer">
					<label for="showPopupInFuture" class="pull-left">
					<!-- <input class="pull-left"  type="checkbox" id="showPopupInFuture" name="showPopupInFuture"  ng-change="$parent.callbackbtn-two($event)"/> -->
                    <input class="pull-left"  type="checkbox" id="showPopupInFuture" name="showPopupInFuture"  ng-click="$parent.callbackbtnTwo()"/>
                        &nbsp;{{'agency.bob.modal.individual.footer_1'| translate}}
                    </label>
                <button type="button" class="btn btn-default" data-dismiss="modal" >{{'agency.bob.modal.actionBtn.cancel'| translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="$parent.callbackbtn()">{{'agency.bob.modal.actionBtn.consumer_application'| translate}}</button>

            </div>
</div>
