<div class="header">
	<h4>Steps</h4>
</div>
<div>
	<ul class="nav nav-list">
		<li ui-sref-active="active">
		    <a ui-sref="agency.agencyInformation" href="#">Agency Information</a>
		</li>
		<li ui-sref-active="active">
		    <a ui-sref="agency.locationHour" href="#">Location and Hours</a>
		</li>
		<li ui-sref-active="active">
		    <a ui-sref="agency.documentUpload" href="#">Document Upload</a>
		</li>
		<li ui-sref-active="active">
		    <a ui-sref="agency.certificationStatus" href="#">Certification Status</a>
		</li>
		<li ui-sref-active="active" ng-if="vm.showPopupInFutureChecked !== 'N'">
		    <a href="javascript:void(0)" data-toggle="modal" ng-click="callViewAgencyAccountModal()">View Agency Account</a>
		</li>
		<li ui-sref-active="active" ng-if="vm.showPopupInFutureChecked === 'N'">
		    <a ng-href="{{vm.noPopupUrl}}">View Agency Account</a>
		</li>
	</ul>
</div>

<gi-modal handler="'viewAgencyAccountModal'" template-name="viewAgencyAccountModalPath" modal-content="name" callbackbtn="vm.switchToAgencyView()" callbackbtn-two="vm.isShowMsgCheckboxChecked()"></gi-modal>
