<div class="modal hide fade ng-scope in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3></h3>
	</div>
	<div class="modal-body">
		Are you sure you want to remove the file?
	</div>
	<div class="modal-footer txt-right">
		<button class="btn" data-dismiss="modal">Close</button>
		<button class="btn btn-primary" data-dismiss="modal" ng-click="vm.removeDoument()">Yes</button>
	</div>
</div>