<div id="{{handler}}" class="modal hide fade" tabindex="-1"  role="dialog" aria-labelledby="{{handler}}" aria-hidden="true" ng-controller="AgencyCtrl">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">{{'agency.view_agency_account.modal.header'| translate}}</h3>
      </div>
      <div class="modal-body">
          <p>{{'agency.view_agency_account.modal.body_1'| translate}}</p>
      </div>
      <div class="modal-footer">
					<label for="showMsgInFuture" class="pull-left">
						<input class="pull-left"  type="checkbox" id="showMsgInFuture" name="showMsgInFuture" ng-click="$parent.callbackbtnTwo()"/>
                  &nbsp;{{'agency.view_agency_account.modal.footer_1'| translate}}
      		</label>
        	<button type="button" class="btn btn-default" data-dismiss="modal" >{{'agency.view_agency_account.modal.action_btn.cancel'| translate}}</button>
          <button type="button" class="btn btn-primary" ng-click="$parent.callbackbtn()">{{'agency.view_agency_account.modal.action_btn.ok'| translate}}</button>
      </div>
</div>
