/* *** Checkbox *** */
<fieldset className="usa-fieldset-inputs usa-sans ">
    <ul className="usa-unstyled-list">
        <li>
            <UniversalInput
                label={{
                    text: 'Check if same as Primary Contact Home Address'
                }}
                inputData={{
                    isInputRequired: true,
                    type: INPUT_TYPES.CHECKBOX,
                    name: 'mailingAddressSameAsHomeAddressIndicator',
                    classes:['disp-styl'],
                    checked: mailingAddressSameAsHomeAddressIndicator,
                    currentData: currentData,
                    fields: ['householdContact']
                }}
                inputActions={{
                    onFieldChange: onCheckTheSameAddress
                }}
            />
        </li>
    </ul>
</fieldset>

/* *** Radiobutton *** */
<UniversalInput
    legend={{
        legendText:
            <span>
                    Is &nbsp;
                <strong>
                    {normalizeNameOfPerson(name)} &nbsp;
                </strong>
                a U.S. citizen or U.S. national?
            </span>
    }}
    label={{
        text: DROPDOWN_OPTIONS.YES_NO,
        labelClass: ['usa-width-one-whole', 'layout--02'] //Change layout as needed. Layout styles are in forms.sass
        lClass: ['usa-width-one-whole']
}}
    inputData={{
        isInputRequired: true,
        type: INPUT_TYPES.RADIO_BUTTONS,
        name: 'citizenshipStatusIndicator',
        value: citizenshipStatusIndicator,
        options: DROPDOWN_OPTIONS.YES_NO,
        currentData: currentData,
        fields: ['citizenshipImmigrationStatus']

    }}
    inputActions={{
        onFieldChange
    }}
/>

/* *** Dropdown *** */
<UniversalInput
    label={{
        text: 'Preferred Written Language'
    }}
    inputData={{
        isInputRequired: false,
        type: INPUT_TYPES.DROPDOWN,
        name: 'preferredWrittenLanguage',
        value: preferredWrittenLanguage,
        options: DROPDOWN_OPTIONS.LANGUAGE,
        currentData: currentData,
        fields: ['householdContact', 'contactPreferences']
    }}
    inputActions={{
        onFieldChange
    }}
/>

/* *** Regular Input *** */
<UniversalInput
    label={{
        text: 'Home Phone Number',
        labelClasses: []
    }}
    inputData={{
        isInputRequired: false,
        type: INPUT_TYPES.REGULAR_INPUT,
        name: '_phoneNumber',
        helperClasses: [],
        value: _phoneNumber,
        placeholder: '(xxx) xxx-xxxx',
        // validationType: 'isAllLetter',
        currentData: currentData,
        fields: ['householdContact', 'otherPhone']
    }}
    inputActions={{
        onFieldChange
    }}
/>