/* .skip-nav {
    height: 1px;
    overflow: hidden;
    position: absolute;
    text-indent: -10000px;
    width: 1px;
}

a.skip,
a.skip:link,
a.skip:hover,
a.skip:active,
a.skip:visited {
    color: #000;
    text-decoration: none;
}

a,
a.skip,
a.skip:link,
a.skip:hover,
a.skip:active,
a.skip:visited {
	border-bottom-color:transparent;
}
 */

/*#skip>a, #skip>a:hover, #skip>a:visited 
{ 
    left: 727px;
    position: absolute;
    right: 700px;
    top: 16px;
    width: 150px;
    z-index: 10000;
}
 #skip>a:active, #skip>a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} */