img[alt="Required!"] {
  margin-top: 0 ;
}
.form-actions input.btn[type="submit"].btn-primary[disabled] {
  color: #444;
  background-color: #ebc957;
}
.btn-primary[disabled] {
  color: #444 !important;
  background-color: #ebc957 !important;
}
.margin5-b {
  margin-bottom: 5px;
}
/*************************************
.
.  =Agency Portal Menubar
.
**************************************/
#body-agency_manager #menu .navbar-inner .dropdown-menu li a.disabled {
  cursor: not-allowed;
}
#body-agency_manager #menu .navbar-inner .dropdown-menu li a.disabled:hover {
  background: #fff;
  color: #555 !important;
}
a[rel~="tooltip"] {
  text-decoration: none;
  word-break: break-word;
}
.popover {
  border: 1px solid #777;
  border-top-color: #A6A6A6;
  background-color: #f7f7f7;
}
.popover-content {
  padding: 3px 12px;
}
.popover-content p {
  color: #222 !important;
  word-break: break-word;
}
#aid-agency-portal .disabled {
  cursor: not-allowed;
}
#aid-agency-portal .disabled a {
  cursor: not-allowed;
}
#aid-agency-portal .disabled-icon {
  cursor: not-allowed;
}
#aid-agency-portal #agency-portal-adminStaff #sidebar .nav-list li.disabled {
  border-bottom: none;
}
#aid-agency-portal .container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}
#aid-agency-portal .form-horizontal .form-actions {
  padding-left: 0;
}
#aid-agency-portal .help-inline {
  display: inline-block;
  margin-top: 10px;
}
#aid-agency-portal #adminStaffForm .help-inline {
  margin-top: 0;
}
#aid-agency-portal .help-inline-info {
  margin-left: 45px;
}
#aid-agency-portal #aid-docupload-form .form-actions {
  padding-left: 25px;
}
#aid-agency-portal .image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #3e3e3e;
  background-color: #e6e6e6;
  border-color: #ccc;
}
#aid-agency-portal .image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#aid-agency-portal .image-preview-input-title {
  margin-left: 2px;
}
#aid-agency-portal .image-preview input[type=text] {
  margin-left: -3px;
  border-left: 0;
}
#aid-agency-portal .accordion-heading.header {
  background: #e7e7e7 !important;
  color: #666;
}
#aid-agency-portal .accordion-heading h4 {
  background: #e7e7e7;
  color: #666;
}
#aid-agency-portal .accordion-inner h5 {
  border-bottom: 1px solid #dedcdc;
  padding-bottom: 5px;
  font-size: 1.2em;
  color: #575757;
}
#aid-agency-portal .accordion-body.collapse {
  width: 100%;
}
#aid-agency-portal table {
  width: 100%;
}
#aid-agency-portal table tbody tr td {
  display: table-cell;
  word-break: break-word;
}
#aid-agency-portal table tbody tr td .dropdown.open li:hover {
  background: #128794;
  color: #fff;
}
#aid-agency-portal table tbody tr td .dropdown.open li a {
  text-align: left;
  font-size: 0.8em;
  padding: 3px 10px;
  white-space: normal;
}
#aid-agency-portal table tbody tr td .dropdown.open li a [class^="icon-"] {
  padding-right: 3px !important;
  padding-top: 2px;
  float: left;
  margin-bottom: 7px;
}
#aid-agency-portal table tbody tr td .dropdown-menu {
  padding: 0 !important;
}
#aid-agency-portal table tbody tr td.overflow-wrap-hack {
  max-width: 1px;
}
#aid-agency-portal table tbody tr td.overflow-wrap-hack .comment {
  word-wrap: break-word;
  /*old browsers*/
  overflow-wrap: break-word;
}
#aid-agency-portal table.agent-list-table tbody td:first-child {
  width: 25%;
}
/*************************************
.
.  =Agency Location and Hours
.
**************************************/
.agency-location-hours-container .ag-accordion {
  border: none;
}
.agency-location-hours-container .ag-accordion .accordion-inner {
  border: none;
}
.agency-location-hours-container .ag-accordion .accordion-heading h4 {
  margin-bottom: 0 !important;
}
.agency-location-hours-container .agency-location-header {
  height: 30px;
}
.agency-location-hours-container .agency-location-header a {
  width: 87%;
  float: left;
  color: #666;
}
.agency-location-hours-container .agency-location-header button {
  float: left;
  margin-top: 2px !important;
}
.aid-radio-days-lbl {
  width: 80px;
}
input.radio-days {
  float: right !important;
  margin-left: 0 !important;
  margin-right: -20px !important;
}
label.radio-days {
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
}
select[id^="aid-from"] {
  margin-right: 15px;
}
.hrs-op-wrap {
  margin-left: 30px;
}
.all-week-chkbox {
  margin-left: -50px;
}
.timepicker {
  margin-left: 30px !important;
}
input[type="radio"] {
  margin-top: 4px !important;
}
.radio-closed {
  margin-left: -25px;
}
/*************************************
.
.  =Agency Manager Information
.
**************************************/
#rightpanel.aid-agcertification .form-horizontal .form-actions {
  padding-left: 0;
}
#rightpanel.aid-agbuildprofile .form-horizontal .controls {
  margin-left: 0;
}
/*************************************
.
.  =Agency Agent List
.
**************************************/
.agent-list-container #sidebar .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 0 0 40px;
}
.agent-list-container #sidebar .form-legend {
  font-weight: normal;
  border-bottom: 0;
  margin-bottom: 0;
  line-height: 30px;
}
.agent-list-container #sidebar legend {
  margin-bottom: 0!important;
  font-weight: normal;
}
.agent-list-container table.agent-list-table th.sortable a:after {
  color: #909aa2;
  content: "\f0dc";
  font-family: "FontAwesome";
  font-size: 12px;
  margin-left: 4px;
}
.agent-list-container table.agent-list-table tbody tr td .dropdown.open li a {
  text-align: left;
  font-size: 0.8em;
  padding: 3px 10px;
}
.agent-list-container table.agent-list-table tbody tr td .dropdown.open li a[class^="icon-"] {
  padding-left: 3px !important;
}
/*************************************
.
.  =Agency Admin CertificationStatus
.
**************************************/
.form-horizontal .update__wrapper .update__input__label {
  text-align: right;
}
.form-horizontal .update__wrapper .controls {
  margin-left: 21px !important;
}
.form-horizontal .upload__label {
  margin-right: 20px;
  text-align: right;
}
.file-name-display {
  display: inline-block;
  width: 160px;
}
.table-list-pagination ul li:not(.active) a:hover {
  font-weight: inherit;
}
/*****************************************
.
.  =Agency Delegations - Active Consumers
.
******************************************/
.dataSortContainer {
  padding-top: 20px;
}
#sortDataForm {
  margin-bottom: 0;
}
.searchPanelWrapper {
  margin: 0px;
  background-color: #dededf;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.searchPanelWrapper form {
  margin: 0;
}
.searchPanelWrapper .clear-all {
  display: block;
  margin-top: 25px;
  padding-right: 10px;
}
.searchPanel {
  margin-bottom: 0px;
  display: none;
  margin-top: 15px;
}
.searchPanel.fullCollapse {
  border: 1px solid red;
  height: 0;
  overflow: hidden;
  width: 0;
}
.btnShowHideSearchFilter {
  border-radius: 10px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.btnSearchFilter {
  background-color: red;
  content: "";
  height: 40px;
  margin: auto;
  position: fixed;
  left: 153px;
  vertical-align: middle;
  width: 40px;
}
.removeFilter {
  cursor: pointer;
}
.stuck {
  position: fixed;
  width: 910px;
  top: 0px;
  z-index: 1000;
}
.noPadding {
  padding: 0px !important;
}
.noMargin {
  margin: 0px !important;
}
.appliedFilters {
  margin-left: 10px;
}
.export-BOB-links a i {
  margin-left: 5px;
}
.export-BOB-links a.disabled {
  color: #b3b3b3;
}
.gridDataContainer {
  /*display:none;*/
}
.gridDataContainer .gridHeader {
  background-color: #dededf;
  color: black;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}
.gridDataContainer .gridBody .gridRow {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px;
}
.gridDataContainer .gridBody .gridRow p {
  margin-bottom: 0px;
  font-size: 12px;
}
.gridDataContainer .gridBody .gridRow label {
  font-size: 12px;
}
.gridDataContainer .gridBody .gridRow .rowHead {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
}
.gridDataContainer .gridBody .gridRow .labelValue {
  color: #292929;
  word-break: break-all;
}
.gridDataContainer .gridBody .gridRow .labelValue a {
  font-weight: bold;
}
.gridDataContainer .gridBody .gridRow [class^="icon-"] {
  margin-top: 3px;
  margin-right: 5px;
  float: left;
}
.gridDataContainer .gridBody .gridRow .icon-envelope {
  margin-bottom: 10px;
}
.gridDataContainer .gridBody .gridRow .labelValue-addr-ln2 {
  margin-left: 17px;
  color: #000;
}
.gridDataContainer .gridBody .gridRow .actions {
  text-align: center;
  float: left;
  margin-left: 15px;
}
.gridDataContainer .gridBody .gridRow .actions .dropdown .dropdown-menu {
  padding: 0;
}
.gridDataContainer .gridBody .gridRow .actions .dropdown a {
  text-align: left;
  color: #3e3e3e;
}
.gridDataContainer .gridBody .gridRow .actions .dropdown a [class^="icon-"] {
  color: #3e3e3e !important;
}
.gridDataContainer .gridBody .gridRow .actions .dropdown a .squareroot {
  margin-right: 10px;
}
.gridDataContainer .gridBody .gridRow .actions .dropdown a [class="icon-cog"],
.gridDataContainer .gridBody .gridRow .actions .dropdown a .caret {
  color: #356ea9 !important;
}
.gridDataContainer .gridBody .gridRow .actions .dropdown .dropdown-menu a:hover,
.gridDataContainer .gridBody .gridRow .actions .dropdown .dropdown-menu a:focus {
  color: #fff !important;
}
.gridDataContainer .gridBody .gridRow .actions .dropdown .dropdown-menu a:hover [class^="icon-"],
.gridDataContainer .gridBody .gridRow .actions .dropdown .dropdown-menu a:focus [class^="icon-"] {
  color: #fff !important;
}
.gridDataContainer .gridRow,
.gridDataContainer .gridHeader {
  padding: 10px 0 6px;
}
.gridDataContainer label {
  display: inline;
  color: #676767 !important;
  white-space: nowrap;
}
.gridDataContainer table td {
  vertical-align: top;
}
.gridDataContainer table tr.email td {
  white-space: pre-wrap;
  word-break: break-all;
}
/* for hosuehold info */
#houseHoldInfolModal {
  /*      left:38%;
 */
  width: 900px;
}
.householdDataTable th,
.householdDataTable td {
  white-space: nowrap !important;
}
/* for ligibility info */
#eligibilityInfolModal {
  /* left:47%; */
  width: 700px;
}
#eligibilityInfolModal div.span4.text-right {
  line-height: inherit;
}
.noResultMsg {
  display: none;
  text-align: center;
}
.tpMenu {
  left: -19px;
  position: relative;
  margin-bottom: 10px;
}
.actionListContainer,
.actionListContainer * {
  border-radius: 0px !important;
}
.actionListContainer {
  font-size: 16px;
  position: relative;
}
.actionListContainer .btn-group > .btn,
.actionListContainer .btn-group > .dropdown-menu,
.actionListContainer .btn-group > .popover {
  font-size: 11px;
  background-color: transparent;
  border: none;
  color: #000;
  line-height: 17px;
}
.searchPanelWrapper .panel-heading .btn.slider-handler {
  font-size: 22px;
  padding: 0px 6px;
}
#householdModal {
  width: 72% !important;
}
#eligibilityModal {
  width: 65%;
}
#eligibilityModal .alert {
  font-weight: normal;
  overflow: hidden;
}
#eligibilityModal .alert h4 {
  color: #3e3e3e !important;
}
#eligibilityModal .alert hr {
  margin: 5px 0 10px;
}
#eligibilityModal .infoLabel {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  color: #676767 !important;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: none  !important;
  background-color: transparent !important;
}
#eligibilityModal .infoLabelValue {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #292929;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: none;
  background-color: transparent;
}
#eligibilityModal .eligibilityPopupTable thead th {
  word-wrap: normal;
  word-break: normal;
  white-space: nowrap;
}
.panel-container__header {
  background-color: #dededf;
  border-radius: 5px;
  padding: 10px;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
.panel-container__header--attach {
  border-radius: 5px 5px 0 0;
}
.panel-container__body {
  padding: 10px;
}
.panel-container__body .control-group {
  margin-top: 10px;
}
.panel-container__body--attach {
  border: 1px solid #dededf;
}
.panel-container table th a.btn-primary {
  color: #444444;
  background: #fc0 !important;
  background: -webkit-linear-gradient(#ebc957 0%, #dcb42f 100%) !important;
  background: -o-linear-gradient(#ebc957 0%, #dcb42f 100%) !important;
  background: linear-gradient(#ebc957 0%, #dcb42f 100%) !important;
  font-weight: bold;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .modalDataTable.table,
  .modalDataTable thead,
  .modalDataTable tbody,
  .modalDataTable th,
  .modalDataTable td,
  .modalDataTable tr {
    display: block;
  }
  .modalDataTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .modalDataTable td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .modalDataTable td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(1):before {
    content: "Name";
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(2):before {
    content: "Relationship";
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(3):before {
    content: "Date of Birth";
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(4):before {
    content: "Gender";
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(5):before {
    content: "SSN Information";
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(6):before {
    content: "Home Address";
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(7):before {
    content: "Mailing Address";
  }
  .modalDataTable.householdPopupTable:lang(en) td:nth-of-type(8):before {
    content: "Seeking Coverage?";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(1):before {
    content: "Name";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(2):before {
    content: "Relationship";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(3):before {
    content: "Date of Birth";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(4):before {
    content: "Gender";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(5):before {
    content: "SSN Information";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(6):before {
    content: "Home Address";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(7):before {
    content: "Mailing Address";
  }
  .modalDataTable.householdPopupTable:lang(es) td:nth-of-type(8):before {
    content: "Seeking Coverage?";
  }
  .modalDataTable.eligibilityPopupTable:lang(en) td:nth-of-type(1):before {
    content: "Name";
  }
  .modalDataTable.eligibilityPopupTable:lang(en) td:nth-of-type(2):before {
    content: "Medi-Cal Eligibility";
  }
  .modalDataTable.eligibilityPopupTable:lang(en) td:nth-of-type(3):before {
    content: "Advance Premium Tax Credit";
  }
  .modalDataTable.eligibilityPopupTable:lang(en) td:nth-of-type(4):before {
    content: "Cost Sharing Reduction";
  }
  .modalDataTable.eligibilityPopupTable:lang(es) td:nth-of-type(1):before {
    content: "Name";
  }
  .modalDataTable.eligibilityPopupTable:lang(es) td:nth-of-type(2):before {
    content: "Medi-Cal Eligibility";
  }
  .modalDataTable.eligibilityPopupTable:lang(es) td:nth-of-type(3):before {
    content: "Advance Premium Tax Credit";
  }
  .modalDataTable.eligibilityPopupTable:lang(es) td:nth-of-type(4):before {
    content: "Cost Sharing Reduction";
  }
}
@media (min-width: 320px) and (max-width: 472px) {
  .modal {
    width: 90% !important;
  }
  /*-- Agency Information --*/
  #aid-agency-portal .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
  }
  #aid-agency-portal #agencyInfo h4 {
    text-align: left;
  }
  form[name="agencyInformationForm"] {
    padding-left: 0 !important;
  }
  form[name="agencyInformationForm"] .control-label {
    width: 100%;
  }
  form[name="agencyInformationForm"] input {
    width: 100%;
  }
  form[name="agencyInformationForm"] .form-actions {
    width: 100%;
    padding-right: 7px;
    padding-left: 6px !important;
  }
  /*-- Location & Hours --*/
  .agency-location-hours-container .agency-location-header a {
    width: 97%;
    padding: 1px 0;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
  }
  .agency-location-hours-container .agency-location-header a span.pull-left {
    font-weight: bold;
  }
  .agency-location-hours-container .agency-location-header a span.pull-right {
    float: left;
    margin-left: 12px;
    line-height: 1.2em;
  }
  .agency-location-hours-container .accordion-group .location-header {
    width: 100%;
  }
  .agency-location-hours-container .accordion-group .address-header {
    width: 100%;
  }
  .agency-location-hours-container .hrs-op-container {
    position: relative;
  }
  .agency-location-hours-container .hrs-op-wrap {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .agency-location-hours-container .hrs-op-wrap .all-week-chkbox {
    margin-left: 0;
    text-align: left;
    margin-bottom: 10px;
  }
  .agency-location-hours-container .hrs-op-wrap .radio-operation-hrs {
    width: 200px;
  }
  .agency-location-hours-container .hrs-op-wrap .radio-days {
    float: left !important;
    margin-left: 0 !important;
    margin-right: 0;
  }
  .agency-location-hours-container .hrs-op-wrap label.radio-open {
    width: 63px;
    padding: 5px 0;
    padding-right: 25px;
  }
  .agency-location-hours-container .hrs-op-wrap label.Wednesday {
    width: 84px;
    padding-right: 3px;
  }
  .agency-location-hours-container .hrs-op-wrap label.Thursday,
  .agency-location-hours-container .hrs-op-wrap label.Saturday {
    width: 70px;
    padding-right: 22px;
  }
  .agency-location-hours-container .hrs-op-wrap label.Friday {
    width: 52px;
    padding-right: 37px;
  }
  .agency-location-hours-container .hrs-op-wrap label.Sunday {
    width: 61px;
    padding-right: 27px;
  }
  .agency-location-hours-container .hrs-op-wrap .radio-closed {
    margin-left: -48px;
    margin-right: 0;
    padding-left: 0;
    width: 60px;
  }
  .agency-location-hours-container .hrs-op-wrap .radio-closed input {
    margin-right: 0;
    margin-left: 0;
  }
  .agency-location-hours-container .action-btn-wrapper {
    text-align: left !important;
  }
  .agency-location-hours-container .action-btn-wrapper button {
    float: left !important;
    margin-left: -4px;
  }
  #searchFilterForm button {
    float: right;
    margin-top: 20px;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .container-fluid {
    margin-left: 0;
    padding-left: 18px !important;
    padding-right: 0 !important;
  }
  form[name="agencyInformationForm"] .control-label {
    padding-right: 20px !important;
  }
  .form-horizontal .control-label {
    padding-left: 0;
  }
  .form-horizontal .controls {
    margin-left: 0px;
  }
  #searchFilterForm button {
    float: right;
    margin-top: 20px;
  }
  .gridDataContainer .index-col {
    text-align: left;
  }
  .gridDataContainer .gridHeader .index-col {
    margin-left: 10px;
  }
  .gridDataContainer .gridHeader .household {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridDataContainer .gridHeader .case {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridDataContainer .gridHeader .coverage {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridDataContainer .gridHeader .agent {
    padding-left: 15px;
  }
  .gridDataContainer .gridBody .col-sm-2,
  .gridDataContainer .gridBody .col-sm-3 {
    margin: 5px 0;
    padding: 5px 15px;
  }
  .gridDataContainer .gridBody .gridRow .index-col {
    margin-left: 10px;
    padding-top: 10px;
  }
  .gridDataContainer .gridBody .gridRow .labelValue-addr-ln2 {
    margin-left: 0;
  }
  .gridDataContainer .gridBody .gridRow .actions {
    text-align: left;
    margin-left: 0;
    padding-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-horizontal .control-label {
    width: 33.33%;
    margin-right: 15px;
  }
  .form-horizontal .controls {
    margin-left: 220px;
  }
  #location-info .control-group {
    margin-left: -50px;
  }
  /*-- Location & Hours --*/
  .agency-location-hours-container .agency-location-header .agency-location-header-content {
    width: 95%;
  }
  .agency-location-hours-container .hrs-of-op .control-group .controls {
    margin-left: 0 !important;
  }
  .agency-location-hours-container .hrs-of-op .control-group .controls .select-time {
    margin-left: 20px;
    margin-right: -5px;
  }
  .agency-location-hours-container .hrs-of-op .radio-days {
    font-weight: bold;
  }
  .agency-location-hours-container .hrs-of-op .radio-closed {
    margin-left: -17px;
  }
  .dataSortContainer .export-BOB-links {
    float: right;
  }
  .dataSortContainer .export-BOB-links a {
    float: right;
  }
  #searchFilterForm button {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
  }
  .gridDataContainer .index-col {
    text-align: left;
    margin-left: 22px;
  }
  .gridDataContainer .case-value label {
    font-weight: bold;
  }
  .gridDataContainer .gridBody .gridRow .actions {
    text-align: left;
  }
  .gridDataContainer .gridBody .gridRow .select-consumer input[type="checkbox"] {
    margin-left: 0;
  }
}
@media (min-width: 992px) and (max-width: 1999px) {
  #sidebar {
    margin-right: 10px;
  }
  #sidebar h4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #rightpanel {
    width: 73%;
    float: right;
  }
  .form-horizontal .control-label {
    width: 33.33%;
    margin-right: 15px;
  }
  .form-horizontal .controls {
    margin-left: 220px;
  }
  #location-info .control-group {
    margin-left: -50px;
  }
  .agency-location-hours-container .agency-location-header .agency-location-header-content {
    width: 95%;
  }
  .agency-location-hours-container .hrs-of-op .control-group .controls {
    margin-left: 0 !important;
  }
  .agency-location-hours-container .hrs-of-op .control-group .controls .select-time {
    margin-left: 20px;
    margin-right: -5px;
  }
  .agency-location-hours-container .radio-days {
    font-weight: bold;
  }
  .agency-location-hours-container .radio-closed {
    margin-left: -12px;
  }
  .dataSortContainer .export-BOB-links a {
    float: right;
  }
  #searchFilterForm button {
    margin-top: 20px;
  }
  .gridDataContainer .index-col {
    text-align: left;
    margin-left: 12px;
  }
  .gridDataContainer .select-consumer input[type="checkbox"] {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  #sidebar h4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .form-horizontal .controls {
    margin-left: 220px;
  }
  #location-info .control-group {
    margin-left: -50px;
  }
  .hrs-of-op .control-group .controls {
    margin-left: 0 !important;
  }
  .hrs-of-op .control-group .controls .select-time {
    margin-left: 20px;
    margin-right: -5px;
  }
  .dataSortContainer .export-BOB-links a {
    float: right;
  }
  #searchFilterForm button {
    float: right;
    margin-top: 20px;
  }
  .gridDataContainer .index-col {
    text-align: left;
    margin-left: 12px;
  }
  .gridDataContainer .gridRow input[type="checkbox"] {
    margin-left: 0 !important;
  }
}
