.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.nav-list > li > span {
	display: block;
	padding: 3px 0;
}

.input-margin {
	margin-left: 17px;
}

.form-actions,
.control-group {
	clear: both;
}

.map {
	padding-bottom: 30px;
	padding-right: 15px;
	width: 250px;
}

.other-view {
	padding: 12px 0 0 30px;
}

.control-value {
	float: left;
	font-size: 13px;
	line-height: 18px;
	padding: 5px 0 0 15px;
}

.feedback-additions,
#disclaimer {
	height: 100px;
}

.hztl-list {
	margin: 0;
	padding: 0;
}

.hztl-list li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.feedback-type li {
	padding: 0 15px;
}

#assister-view-profile .data,
#assister-detail .data,
#frmupdatecertification .data {
	clear: both;
	padding: 30px 0 0;
}

#assister-view-profile .data .control-value,
.assister-search .control-value {
	width: 245px;
}

#assister-detail .data .control-value {
	width: 714px;
}

#assister-identification a {
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;
}

.profilephoto {
	background: #fff url('../images/icon_no_photo_100x100.png') 4px 4px no-repeat;
	height: 100px;
	width: 100px;
}

#assister-identification .text {
	float: left;
	overflow: hidden;
	padding: 10px 0 0;
	width: 588px;
}

#assister-cert-status .form-horizontal .form-actions {
	padding-left: 20px;
}

#assister-detail #assister-identification .text {
	width: 830px;
}

#assister-identification .text * {
	margin: 0 0 0 15px;
	padding: 0 0 5px;
}

select.input-xlarge {
	width: 280px;
}

select.input-medium {
	width: 163px;
}

.phone-group input {
	margin-left: 17px;
}

.phone-group .area-code {
	margin-left: 0;
}

#frmmanageassister .page-header {
	margin-top: 0;
}

.assister-name {
	text-transform: capitalize;
}