.form-horizontal tbody tr td {border: none;} /* used to disable default border style on employers, employercontactinfo.jsp */
table#brokerStatusHistory{border: 1px solid #ddd; border-top: none;table-layout: fixed;}
table#brokerStatusHistory tbody td{padding-left: 12px;word-break: break-word;}
/* table#brokerStatusHistory th{padding: 11px 5px;} */
/* table th:first-child {padding: 0 0 0 20px;}
table td:first-child {padding: 0 20px 0 10px;}
table tbody td:first-child {padding: 0 0 0 20px;} */

/*HIX-113012 :: removed height:24px and height: 28px\0;*/
select,
input[type="file"],
td input{line-height: 24px;
}
.form-actions:after {float:right;}
.form-actions {padding:19px 120px 20px;}
.form-actions  .btn:first-child {float: right;}

.announcement {margin-top: 20px;}

/************ header *****************/
.header a.btn {margin-top: 0;} /*made margin-top 0 so that right pannel header's height matches with the side-bar */

/************Search Modal / Search Page *****************/

.bottomBorder {border-bottom: 1px solid #ccc;}
.topPadding {padding-top: 10px;}
p.additional-header {margin-top: -15px; padding-bottom: 10px;}
