.titlebar {
  margin-top: 0 !important;
  margin-left: 20px;
}
.titlebar h1 {
  margin-left: 0;
}
.thumbnail > img {
  max-width: 94%;
  margin-top: 12px;
}
.thumbnails {
  margin-bottom: 0 !important;
}
.thumbnails li {
  width: 47%;
  margin-bottom: 0 !important;
}
.thumbnails .thumbnail-para {
  margin-bottom: 20px;
  min-height: 100px;
}
.thumbnails .thumbnail {
  min-height: 434px;
}
@media screen and (max-width: 767px) {
  .thumbnails li {
    width: 100%;
  }
  .titlebar {
    margin-left: 0px;
  }
}
