@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'FontAwesome';
	src: url('../font/fontawesome-webfont.eot');
	src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/fontawesome-webfont.svg') format('svg'),
		url('../font/fontawesome-webfont.woff') format('woff'),
		url('../font/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.right {
	float:right;
}

label {
    margin-bottom:1px;
    margin-top:10px;
}

.carousel {
    line-height: 22px;

}


.tab-content >.active {
   /* min-height: 240px;*/
}

.span8 .widget.content-l .widget-content{
    min-height:460px;
    /*min-height:500px;*/
}

.content-r {
    background: #e5e5e5;
  /*  margin-top:255px;*/
}

.content-r p {
    margin-bottom:0;
}

.content-r .widget-header  {
   /*  background:#e5e5e5; */
    padding:10px 15px;
}


.well.widget.content-r {
	background:#eaeaea;
}


.content-r .widget-header h3.title {
    font-size:24.5px;
}

.item > .span8 > .well.content-l > .widget-content{
    min-height: 480px;
}

.gutter10 {
    padding:10px;
}

.counter {
   /* min-height:240px;*/
    position:absolute;
    top:15px;
    right:15px;
    z-index: 100;
   /*width: 28.3239%;*/
    width:28.4%;
}


.content-r.well {
    /* padding: 5px 19px; */
}
.content-r .widget-header {
    /*padding: 5px 15px;*/
}
.content-r .widget-header h3.title {
    font-size:18px;
    margin:0;
    font-family: Rokkitt, 'DroidSansRegular', sans-serif;
}
.content-r .tabbable {
    font-size: 14px
}
.content-r form { 
    margin-bottom: 0;
}
.content-r .tabbable .nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}




.counter h3 {
    font-size:24px;
    margin:0;
    font-family: Rokkitt, 'DroidSansRegular', sans-serif;
}
h3.ribbon, .ribbon {
    font-size:14px;
    line-height: 28px;
    color:white;
    text-align: left;
    width:130px;
    position:absolute;
    left: -1px;
    padding-left:15px;
    background: #999999;
    background: -moz-linear-gradient(top, #999999 0%, #7f7f7f 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#7f7f7f));
    background: -webkit-linear-gradient(top, #999999 0%,#7f7f7f 100%); 
    background: -o-linear-gradient(top, #999999 0%,#7f7f7f 100%);
    background: -ms-linear-gradient(top, #999999 0%,#7f7f7f 100%);
    background: linear-gradient(to bottom, #999999 0%,#7f7f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0px 1px 3px #595959;
    filter: dropshadow(color=#595959, offx=0, offy=1);
}
.carousel {
     height:558px; /* !important; */
     height:578px;/* !important; */
     position:relative;
     overflow:hidden;
     margin-bottom: 0;
}
#slides.carousel-inner {
    position:relative;
    top:0;
}

#slides.carousel-inner #item-0,
#slides.carousel-inner #item-1,
#slides.carousel-inner #item-2,
#slides.carousel-inner #item-3,
#slides.carousel-inner #item-4
{
     height:580px;  

}

#slides.carousel-inner #item-5 {
	height:auto;
}

#myCarousel .widget.well.content-l {
	padding-top:0px
}

#item-0 fieldset {
	padding-top:10px;
}

.alert-block > p {
    margin-bottom: 10px;
}

.table thead th {
    vertical-align: middle;btn-danger
}

.alert-block {
    float:left;
}

#sampleplan.table tr th:first-child {
    /*width:40%;*/
} 
/* #sampleplan.table thead  {
    width: 100%;
    text-align: center;
} */

#sampleplan.table {
    background:#fff;
    z-index: 200;
    float: left;
    margin-top:10px;
    margin-bottom: 10px;
}

.well blockquote {

    border:none;
}

.widget .widget-footer {
    height:45px;
}

#showplans {
    font-size:12px;

}

#showplans h3{
    marign:0;
}

#flip-counter {
    clear:both;
    left:50%;
    position:relative;
    margin-top:5px;
    background:url(../images/digits_80p.png) left bottom no-repeat;
    padding:0 0 0 42px;
    height:82px;

}

.flip-counter li.t {
    background-position: 0 0;
    /* height: 30px; */
    width: 42px;
}

.message-1 p {
    /*font-family: Georgia,Helvetica,Arial,sans-serif;*/
    font-size: 14px;
    
}

.message-1 .alert {
    /* font-style: italic; */
    font-style: normal!important;
    font-family: Georgia,Helvetica,Arial,sans-serif;
    }

.ta-right{
    text-align: right;
}

.ta-center {
    text-align: center !important;
}
#item-0 blockquote {
	/* background:url(../images/info-place.png) no-repeat bottom right; */
	height:400px;
}

.well.content-r.special ul li {

	line-height:24px;
}

#item-1 .span4 .well.content-r.faq2,
#item-2 .span4 .well.content-r.uncleSamDiv,
#item-3 .span4 .well.content-r.uncleSamDiv,

 {
	margin-top:180px;
	
}


/* green styles */

#main_content .well,
#main_content .well.widget
 {
	border:none;
	box-shadow:none;
}

#main_content .widget {
	box-shadow:none;
} 

#main_content .widget .widget-footer {
	background:#fff;
}

.btn-info {
    background-color: #0088CC;
    background-image: -moz-linear-gradient(center top , #009ae7, #0088CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* import */

#progress-wrap {
    display: none;
}

#mask {
    opacity: 1;
    float: inherit;
    width:100%;
    
}

/* tabs */

 ul.qlist {
    margin-left: 15px !important;
    list-style-type: none
}

 ul.qlist li{
    padding:7px 0 ;

}


.tabs-custom {
    margin-bottom: 10px;
    margin-top:10px;
}


#form-wrap {

    min-height: 440px;
    width:inherit;
}

#progressprofile {
    margin-top:10px;

}

/* safari hack */

@media screen and (-webkit-min-device-pixel-ratio:0) {

 .tabs-custom .tab-content .tab-pane  { 
    margin:10px }



.span8 .widget.content-l .widget-content {
    height:500px;
}

#sampleplan.table {
    margin-top:30px;
}

h3.ribbon, .ribbon {
/* top:164px; */
top:32%;
    }

}



#sampleplan article.total {
	
	/* margin-top: 10px !important;
	border : 1px solid #ccc !important;
	border-radius:3px !important;
	background : #fff;
	box-shadow : 11px 1px 10px 2px rgba(150, 150, 150, .3) !important;
	-webkit-box-shadow : 1px 1px 10px 2px rgba(150, 150, 150, .3) !important; */
	
	clear:both;
	position:relative;
	top:10px;
	
	
}

#sampleplan article.total header {
	min-height:none !important;
}

/* safari hack */




@media (min-width:679px) and (max-width:1024px) {
.content-r{
/*     margin-top:275px;  */
 }
}

@media (min-width:1025px)  and (max-width:2400px) {
.content-r{
 /*    margin-top:180px ; */
    }
}

@media only screen and (max-width:1024px)  {
    .counter {
        width:247px;

    }

    .content-r {
        margin-top:255px;
    }

}

@media only screen and (max-width: 480px)  { 

    #item-0 blockquote {
    /*background:url(../images/family_280w.png) no-repeat 50% 100%;*/
	/* background:url(../images/info-place280w.png) no-repeat 50% 100%; */
    height:280px;
     padding-left:0;
    
}



#item-0 blockquote  p{

    width:100%;
    line-height:24px;
    font-size:14px;
    padding-top:0px;
    line-height:18px;


    }

    .counter {
        width:227px;
        height:110px;
    }

    .counter h3 {
        font-size:14px;
        padding:0px;
        line-height:18px;
    }

    .content-l {
        margin-top:160px;
    }

    .content-l legend {
        font-size:16px;
        margin-bottom:10px;
    }

    .content-l fieldset legend {
        line-height:18px;
    }

    .span8 .widget.content-l .widget-content {
        height:320px;
    }

    .navbar-inner {
        display:none;
    }

 }

 @media only screen and (max-width: 320px)  { 

    #left_layout {
        margin-left:0;
    }

    #left_layout #main_content.container-fluid {
        margin-right:0;
    }

    #left_layout #sidebar.nav.nav-pills.nav-stacked {
    left:0;
    }
    .counter {
        width:210px;
        height:100px;
        padding: 10px;
    }

    .content-l {
        margin-top:130px;
        padding: 15px;
    }

    #item-0 blockquote {
     height:220px;
     padding-left:0;
     margin-bottom:0;
     /* background:url(../images/family_40p.png) no-repeat 50% 100%;*/
	/* background:url(../images/info-place_40p.png) no-repeat 0% 100%; */
    
    }
    .content-l .widget-content {
        padding:0px;
    }

    .span8 .widget.content-l .widget-content {
        height:268px;
    }


    #header.navbar { 
    margin:0;
}


 }


/* media queries */

label {
    display:block;
    width:auto;
}

.accordion, 
.accordion-inner {
    z-index:200;
}
.popover {
    top:20px;
    width:280px;
    z-index:300;
}


.ui-slider .ui-slider-handle {
    height: 1.8em !important;
}

.ui-slider-horizontal .ui-slider-handle {
    
    top: -0.95em !important;
}


a.accordion-toggle {
    text-decoration: none
}

.icon-chevron-down, .icon-chevron-right {
    width:11px;
}

#editincome,#editincome a {
    color:#0088CC;
}

span .icon-question-sign {
    color:#999999;
}

.ui-slider .ui-slider-handle, .ui-slider,
.ui-slider .ui-slider-range {

border-radius: 10px !important;
    }

    .ui-slider .ui-slider-handle {
        height:2.5em !important;
        top:-.5em;
    }
.sliderwrap label {
    float:left; 
    margin-right:10px
}

.sliderwrap .slider-r {
        float:left; 
        margin-left:10px;
        width:40%;
        padding-top:20px;
}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    font-size: inherit;
}


blockquote p {
    margin-top:7px;
}
label {
    line-height: 28px;
    padding-top:7px;
}
fieldset {
   /*  margin-bottom:20px; */
}



.margin-right, .margin-r {margin-right: 20px;}
.margin-t {margin-top:20px;}
.margin-b {margin-bottom:20px;}
.margin-l {margin-left:20px;}

.alert-info {
    font-style: normal!important;
}


h3 {
    font-family: 'Rokkitt', 'DroidSerifRegular', 'BebasNeueRegular', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
    /*color: #0088CC;*/
}

.color {
    color: #0a982f;
}

.line {
    border-bottom: 1px solid #bce8f1;
    margin:20px 0;
}

/*.span4 a {
     margin-top:17.5%; 
}*/
/* #sampleplan img {
    margin-left:25%;
    max-width:45%;
    } */

.popover, .popover-content {
    z-index: 1070;
}

.popover, .popover-content {
    /*white-space: pre;*/
}

article.total{
    border:1px solid #cfcfcf;
    width:75%;
    margin:10px auto 0;
    text-align: center;
    list-style-type: none;  
    border-radius: 5px;
    -webkit-box-shadow:  1px 1px 10px 2px rgba(150, 150, 150, .3);   
    box-shadow:  1px 1px 10px 2px rgba(150, 150, 150, .3);
}
article.total header {
    background: #e4e4e4;
    border-radius: 5px 5px 0 0;
    /*min-height:40px;*/
	/* min-height:80px; */
}

article.total header img {
    padding:5px 0;
}

article.total header p {
    padding-bottom:5px;
    font-size:14px;
    text-transform:uppercase;
   
}
article.total h4 {
    font-size:32px;
    margin:20px 10px;
    font-family:"Rokkitt", "DroidSansRegular", sans-serif;
    font-weight:bold;
}

article.total li {
    text-align: left;
    color: #999;
    list-style-type: none;
    line-height: 21px
}
article.total li:last-child {
    margin-bottom:20px;
}
article.total li .pull-right {
    margin-right:25px;
    color: #333;
}
.crossed {
    text-decoration:line-through;
}

.householdBox {
    max-height: 400px;
    overflow-y: auto;
}
.incomeBox {
    width: 50%;
    float:left;
    overflow-y:auto;
    margin-right:5%;
    height: 220px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.incomeBox table {
    width:95%;
}
.deductionBox {
    width:45%;
    display:inline-block;
    border:1px solid #dddddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #FAFAFA;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.deductionBox .ui-slider {
    width: 100%;
}
form .well {
    height: 280px;
}

#item-5 .alert {
    text-align: center;
    font-family: 'DroidSansRegular', Helvetica, Arial, sans-serif;
    font-size:15px;
}
#item-5 h5 {
    text-align: center;
    padding:10px 0 0 0;
    font-size: 18px;
}
#item-5 .alert {
    margin-bottom:0;
    display: table;
    vertical-align: middle;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;

}

#item-5  #emailForm {
	margin-bottom:5px;

}


#item-5 .alert legend {
    font-size: 16px;
    border-bottom: none;
    display: inline;
    width:auto;
    margin:0;
    /* color: #fff; */
}
#item-5 .alert p {
    margin: 5px 0 5px 0;
    font-family: 'Rokkitt', 'DroidSerifRegular', 'BebasNeueRegular', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    /* color: #fff; */
}
#item-5 .infoBox {
    /* display: table; */
    vertical-align: middle;
    position: relative;
    text-align: left;
/*     height: 6em; */
    float: left;
    border:1px solid #ddd;
    /* margin:0 1%; */
    padding: 10px 5px;
    /* width: 23%; */
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #f1f1f1; /* Old browsers */
    /* background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); Opera 11.10+
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); IE10+
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); IE6-9 */
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
#item-5 .infoBox p {
    font-family: 'Rokkitt', 'Droid Sans', sans-serif;
    font-size: 18px;
    margin:0;
    /* padding: 5% 0 0 25%;  */
    line-height:13px;
    letter-spacing:-.5px;
    margin: 7px 0 0 15%;
}
#item-5 .infoBox.withIcon:before {
    content:"\f058"; 
    font-family: "FontAwesome";
    font-size: 12px;
    color: white;
    position:absolute;
    top: 27%;
    left: 5%;
    /* background:#A3A3A3; */
    /* border:1px solid #929292; */
    /* padding:5px 5px 1px 5px; */
    -webkit-border-radius: 24px;
    border-radius: 24px;
   /*  -webkit-box-shadow:  0px 4px 10px 1px rgba(10, 10, 10, .1);    
    box-shadow:  0px 4px 10px 1px rgba(10, 10, 10, .1); */
    color: #585858;
}
h3.uncleSam { 
    font-size: 18px;
    color:#7d7d80;
    line-height: 25px;
    margin-left: 55px!important; 
    postion:relative;
}
h3.uncleSam:before { 
    content:url('../images/UncleSam_small.png'); 
    position: absolute;
    top:10px;
    left: 10px;
}
.widget {
    min-height: 75px;
}
.border-r { border-right: 1px solid #bce8f1; }
.no-margin-r { margin-right: 0!important; }
.no-margin-l { margin-left:0!important; }
.no-margin-b { margin-bottom:0!important;}

#item-1 .widget-content,
#item-5 .widget-content {
/*     overflow-y:scroll;
 */}

i.icon-question-sign {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #777;
    font-size: 14px;
}
i.icon-question-sign:hover {
    color:#0088CC;
}
.haspopover {
    cursor: pointer;
}
.popover-title {
    border-bottom: none;
    background: #fff;
}
.close {
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 15px;
    color: #777;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 1;
    filter: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border:1px solid #777;
    padding:1px 2px;
    border-radius: 15px;
}

.digitsDashImage {
    margin-right:-100%;
    clear:both;
}

label.error span, label.error {
	color: #DB2525;
/* 	border: 1px solid red;
 */	/* padding: 0px 6px 2px; */
}

ul.nav.pull-right li.navBtn{
	margin-top:7px;
}

label.radio div.radio span input{
	cursor: default;
}

div.medicareEligible{
	color: #358835;
}

#mask1{
	overflow-y:auto;
	max-height:400px;
	/* overflow:hidden; */
} 

div.message-1{
	/* max-height: 380px; */
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom:15px;
	max-height:390px;
	display: inline-block;
}

.dependentMessage{
	 color:#DB2525;
}

div.widget-footer a.btn.btn-info,
div.widget-footer a.btn.left{
	margin-top:0.5%;
}

.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-default:active{
	border-color:rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
a.ui-slider-handle,
a.ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus{
	border: 1px solid #ccc;
}

#zipCode_error,
#zipCode_error label{
	display:inline;
}

.alert{
	padding:7px 10px 6px 10px;
	text-align:center;
}

#zipCode{
	margin-bottom:0;
}
/* 
#selfName{
	float:left;
}
 */
 
 #refineincome{
 	padding:5px 0 2px 5px;
 	font-size:16px;
 }
 
 header#medicarePlan,
 header#medicaidplan{
 	background:none;
 }

.alert.alert-error{
	display:inline-block;
	margin-bottom:0;
}

label.error{
	margin-top:0;
	line-height:6px;
}

.accordion-heading .accordion-toggle,
div.error{
	display:inline-block;
}

/* #selfDob_error.error{
	padding:7px 10px 6px 10px;
	text-align:center;
	line-height:12px;
	background-color:#f2dede;
	border-color: #eed3d7;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	border:1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px;
} */

#healthplan{
	/* margin-top:170px; */
}

h3.left.muted.ribbon{
	/* margin-top:8%; */
}

article.total{
	/* margin-top:50%; */
	/* border: 1px solid #CFCFCF;
	box-shadow: 11px 1px 10px 2px rgba(150, 150, 150, .3);
	-webkit-box-shadow:1px 1px 10px 2px rgba(150, 150, 150, .3); */
}

article.total header#healthplan{
	background: #e4e4e4;
	clear:both;
	
}

div#calculateincome{
	clear: both;
}

div.deductionBox h3{
	padding-left: 20px;
	color:#888888;
}

div.deductionBox div.row-fluid div.span6{
	position:relative;
	top: -15px;
	margin-left: 20px;
}

div.deductionBox div.marginL20{
	margin-left:20px;
}

div.deductionBox div.marginL20 div.span2{
	position: relative;
	width:auto;
	margin-right: 0;
}

div.deductionBox div.row-fluid div.span6.offset1{
	margin-top:23px;
}
div.deductionBox div.row-fluid div.span4{
	margin-left:20px;
}

#showplans{
	text-align: center; 
	margin-top: -15px; 
	text-transform: uppercase; 
	background:url('../images/appliedto.png') no-repeat center center;
	height:70px;
	letter-spacing:-1px; 
}

#showplans h3{
	display:none;
	}

div#flipCounterDiv h3.page-title{
	float: none;
	text-align:center;
	
}

div#wrapper {
	float:right;
	left:-50%;
	position:relative;
}

form#profileForm fieldset legend.row-fluid{
	margin-bottom:5px;
}

div#progress-wrap div#progress_bar div.ui-progress {
	width: 0.1%;
}

div#mask1 div.floatLeft{
	float:left;
}

input#isMarried{
	opacity:0;
}

form#householdForm div.widget-content fieldset legend{
	padding-left:10px;
}

div.span3 label div.radio.pregnant span input.fancy{
	opacity: 0;
}

div#collapseTwo {
	height: 0px;
}
div.well.widget.content-r.box-shadow-right.special,
.well.widget.content-r.faq2.box-shadow-right,
.well.widget.box-shadow-right.content-r.uncleSamDiv

 {
	margin-top:200px;
}

div.well.widget.content-r.faq1
,

{
	margin-top:20px;
}

label#householdError{
	display:inline-block;
	margin-bottom:10px;
}

#spouseDob_error{
	margin-left: 36px;
}

#householdAccordian{
	height: 396px;
	overflow-y: auto;
	overflow-x:hidden;
}

form#householdForm{
	margin-bottom:0;
}

#myCarousel .accordion-heading {
	background:#0088CC;
	color:#fff;
	}
	
#myCarousel .accordion-heading  a,
#myCarousel .accordion-heading i
 {
	color:#fff;
	}
	
#medicaidMessageNearCounter{
	/* position: absolute;
	top:140px;
	margin-left:31%; */
	display:block;
	 float: left;
    position: relative;
     width: 90%;
}

#selfDob_error,
#spouseDob_error,
#dependent_1_dob_error,
#dependent_2_dob_error,
#dependent_3_dob_error,
#dependent_4_dob_error,
#dependent_5_dob_error,
#dependent_6_dob_error,
#dependent_7_dob_error,
#dependent_8_dob_error,
#dependent_9_dob_error,
#dependent_10_dob_error,
#dependent_11_dob_error,
#dependent_12_dob_error,
#dependent_13_dob_error,
#dependent_14_dob_error,
#dependent_15_dob_error,
#dependent_16_dob_error,
#dependent_17_dob_error,
#dependent_18_dob_error,
#dependent_19_dob_error{
	float:right;
	margin-right:5px;
	margin-top:5px;	
}

#numberOfDependentsDecrement,
#numberOfDependentsIncrement{
	vertical-align: top;
	font-size: 24px;
	-moz-border-radius: 35px;
	border-radius: 4px;
	padding:0 12px;
}

.btn.btn-default.btn-large.right{
	margin-top: 0.5%;
}

fieldset legend span i.icon-question-sign{
	font-size:14px;	
}

input#numberOfDependents{
	width: 25px;
}

input#numberOfDependentsDecrement,
input#numberOfDependentsIncrement{
	width:43px;
	height:30px;
	outline:0;
}

input#numberOfDependentsIncrement{
	padding-top:4px;
}

input#numberOfDependentsIncrement{
	padding-top:2px;
}

div#emailError{
	margin:10px 20%;
}

/* a#count0{
		margin-top: -84px;
		margin-right: 35px;
}
 */
 
div#left_layout div#main_content div.row-fluid div.well.widget.counter{
	padding-bottom:0;
}
 
/********* MEDIA QUERIES STARTS ***********/

@media all and (max-width: 360px) and (min-width: 321px) {
  .counter {
    width:160px;
      width:76%;
  }
  #item-0 blockquote {
    /*background: url("../images/family_45p.png") no-repeat scroll 32% 71% transparent;
	background: url("../images/info-place_45p.png") no-repeat scroll 32% 71% transparent;*/
  }
}

@media all and (max-width: 768px) and (min-width: 361px) {
  .counter {
    width:160px;
     width:82%;
  }
}

@media all and (max-width: 800px) and (min-width: 769px) {
  .counter {
    width:172px;
      width:82%;
  }
}

@media all and (max-width: 980px) and (min-width: 801px) {
  .counter {
    width:233px;
    width: 25.8%;
  }
  .row-fluid .offset8:first-child{
  	margin-left:0;
  }
}
@media all and (max-width:1087px) and (min-width:980px){
		input#refineincome{
			width: 70%;
		}
	}
	
@media all and (max-width:1225px) and (min-width:980px){
		.counter h3{
			font-size: 19px;
		}
}

@media all and (max-width: 1300px) and (min-width: 1025px) {
  .counter {
    width:331px;
    width:28%;
  }
  .content-r {
    margin-top: 240px;
    width: 330px;
    left: 3px;
    width:90%;
  }
  .infoBox {
    height: 3em;
    padding: 0;
  }
    #item-5 .infoBox p{
    	font-size:12px;
    	top:27%;
    	left:5%;
    	padding: 5% 0 0 0;
    	line-height: 12px;
    	margin: 0 0 0 18%;
    }
    #item-5 .infoBox.withIcon:before{
    	padding:0px 4px 0px 4px;
    	font-size:12px;
    }
    
    #item-5 .infoBox {
    	padding:2% 0% 0 0;
    }

}

/* HOME PAGE IMAGE */


.carousel #item-5 #resultsTabContent.message-1  p small {
	line-height:13px !important;
	display:block;
	font-size:11px;
	margin:4px 0;
	 color:#999;
}

#item-5 #resultsTabContent.message-1 p small em {
 color:#666;
 	
	}
	
	.message-1 p small {
	line-height:9px !important;
	}
	
		.message-1 p small em{
		 color:#666;	
		}
legend {
	color:#6AB05F;
}

#item-0 .widget fieldset legend {
	color:#fff;
	border-bottom: solid 1px #fff;
	padding-top:10px;
}
#item-0 .well.widget.content-l {
	  /* background: url("../images/info3grn_808.png") no-repeat scroll 0 -20px #5BA84F; */
	  background: url("../images/infographic-eligibility.png") no-repeat scroll #80ba53;
	background: url("../images/infographic-eligibility.png"), -moz-linear-gradient(top,  #80ba53 0%, #80ba53 14%, #59a84f 100%); /* FF3.6+ */
	background:url("../images/infographic-eligibility.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ba53), color-stop(14%,#80ba53), color-stop(100%,#59a84f)); /* Chrome,Safari4+ */
	background:url("../images/infographic-eligibility.png"), -webkit-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Chrome10+,Safari5.1+ */
	background:url("../images/infographic-eligibility.png"), -o-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Opera 11.10+ */
	background:url("../images/infographic-eligibility.png"), -ms-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* IE10+ */
	background:url("../images/infographic-eligibility.png"), linear-gradient(to bottom,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ba53', endColorstr='#59a84f',GradientType=0 ); /* IE6-9 */ 
	background-repeat: no-repeat; 
	background-size: auto;
	background-position: center;
}

#item-0 blockquote p {
	font-family:"DroidSansRegular", sans-serif;
	font-size:14px;
	padding-left:15px;
	color: #333;
	/* 	margin: 30px 50px 0 5px; */
	margin: 30px 0 0 -25%;
	width:40%;
	line-height:20px;
	}

#main_content #item-0 .widget .widget-footer{
	 /* background:#6AB05F; */
	 background:transparent;
	 /* border-top:solid 1px #99D18A; */
	 border-top: none;
}
@media all and (max-width: 1430px) and (min-width: 1380px) {
  #item-0 blockquote {
    /* background: url("../images/info-place_460_352.png") no-repeat scroll top right transparent; */
    background:none;
  }
}
@media all and (max-width: 1379px) and (min-width: 1240px) {
  #item-0 blockquote {
    /* background: url("../images/info-place_440_337.png") no-repeat scroll top right transparent; */
    height:380px;
     background:none;
  }
}
@media all and (max-width: 1239px) and (min-width: 1160px) {
  #item-0 blockquote {
    /* background: url("../images/info-place_410_314.png") no-repeat scroll top right transparent; */
     background:none;
  }
}
@media all and (max-width: 1159px) and (min-width: 1100px) {
  #item-0 blockquote {
    /* background: url("../images/info-place_370_283.png") no-repeat scroll top right transparent; */
     background:none;
  }
}
@media all and (max-width: 1099px) and (min-width: 980px) {
  #item-0 blockquote {
    /* background: url("../images/info-place_330_252.png") no-repeat scroll top right transparent; */
     background:none;
  }
}
@media all and (max-width: 979px) and (min-width: 830px) {
  #item-0 blockquote {
   /*  background: url("../images/info-place_275_210.png") no-repeat scroll top right transparent; */
     background:none;
  }
}
@media all and (max-width: 829px) and (min-width: 700px) {
  #item-0 blockquote {
    /* background: url("../images/info-place_260_199.png") no-repeat scroll top right transparent; */
     background:none;
  }
}
	
/******media queries for infographic small*****/

	@media all and (max-width: 802px) and (min-width: 400px){
		
	}

	@media all and (max-width: 802px) and (min-width: 400px){
		#item-0 .well.widget.content-l{
				background: url("../images/infographic-eligibility-small_v2.png") no-repeat scroll #80ba53;
				background: url("../images/infographic-eligibility-small_v2.png"), -moz-linear-gradient(top,  #80ba53 0%, #80ba53 14%, #59a84f 100%); /* FF3.6+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ba53), color-stop(14%,#80ba53), color-stop(100%,#59a84f)); /* Chrome,Safari4+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -webkit-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Chrome10+,Safari5.1+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -o-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Opera 11.10+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -ms-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* IE10+ */
				background:url("../images/infographic-eligibility-small_v2.png"), linear-gradient(to bottom,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ba53', endColorstr='#59a84f',GradientType=0 ); /* IE6-9 */ 
				background-repeat: no-repeat; 
				background-size: auto;
				background-position: center 27%;
		}
		ul.qlist{
			margin-left:5px !important;
		}
		#item-0 blockquote p{
			margin: 244px 0 0 -240%;
			font-weight:bold;
			width: 330%;
			color:#fff;
			line-height:16px;
		}
		legend{
			font-size:20px;
		}
		.content-r .widget-header h3.title{
			font-size:14px;
		}
		div#left_layout div#main_content div.row-fluid div.well.widget.counter{
			padding-top: 10px;
		}
		.widget-content p, .widget-content label, .widget-content input, .widget-content button, .widget-content select, .widget-content textarea, .widget-content table{
			font-size: 12px;
		}
	}
	@media all and (max-width: 862px) and (min-width: 400px){
		label.error span{
				font-size:10px;
		}
		legend{
			font-size:16px;
		}
	}
	@media all and (max-width: 862px) and (min-width: 803px){
		#item-0 .well.widget.content-l{
				background: url("../images/infographic-eligibility-small_v2.png") no-repeat scroll #80ba53;
				background: url("../images/infographic-eligibility-small_v2.png"), -moz-linear-gradient(top,  #80ba53 0%, #80ba53 14%, #59a84f 100%); /* FF3.6+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ba53), color-stop(14%,#80ba53), color-stop(100%,#59a84f)); /* Chrome,Safari4+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -webkit-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Chrome10+,Safari5.1+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -o-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Opera 11.10+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -ms-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* IE10+ */
				background:url("../images/infographic-eligibility-small_v2.png"), linear-gradient(to bottom,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ba53', endColorstr='#59a84f',GradientType=0 ); /* IE6-9 */ 
				background-repeat: no-repeat; 
				background-size: auto;
				background-position: center 27%;
		}
		ul.qlist{
			margin-left:5px !important;
		}
		#item-0 blockquote p{
			margin: 244px 0 0 0%;
			font-weight:bold;
			width: 300%;
			color:#fff;
			line-height:16px;
		}
		legend{
			font-size:16px;
		}
		.content-r .widget-header h3.title{
			font-size:14px;
		}
		div#left_layout div#main_content div.row-fluid div.well.widget.counter{
			padding-top: 10px;
		}
		.alert{
			padding:5px;
			font-size:
		}
	}
	@media all and (max-width: 910px) and (min-width: 400px){
			h3{
			font-size:18px;
		}
	}
	@media all and (max-width: 910px) and (min-width: 863px){
		#item-0 blockquote p{
			margin: 250px 0 0 0%;
			font-weight:bold;
			width: 300%;
			color:#fff;
			line-height:16px;
		}
		legend{
			font-size:18px;
		}
		.content-r .widget-header h3.title{
			font-size:14px;
		}
		#item-0 .well.widget.content-l{
			background: url("../images/infographic-eligibility-small_v2.png") no-repeat scroll #80ba53;
			background: url("../images/infographic-eligibility-small_v2.png"), -moz-linear-gradient(top,  #80ba53 0%, #80ba53 14%, #59a84f 100%); /* FF3.6+ */
			background:url("../images/infographic-eligibility-small_v2.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ba53), color-stop(14%,#80ba53), color-stop(100%,#59a84f)); /* Chrome,Safari4+ */
			background:url("../images/infographic-eligibility-small_v2.png"), -webkit-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Chrome10+,Safari5.1+ */
			background:url("../images/infographic-eligibility-small_v2.png"), -o-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Opera 11.10+ */
			background:url("../images/infographic-eligibility-small_v2.png"), -ms-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* IE10+ */
			background:url("../images/infographic-eligibility-small_v2.png"), linear-gradient(to bottom,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ba53', endColorstr='#59a84f',GradientType=0 ); /* IE6-9 */ 
			background-repeat: no-repeat; 
			background-size: auto;
			background-position: center 26%;
		}
	}
	@media all and (max-width: 930px) and (min-width: 400px){
		#item-5 .infoBox.withIcon:before{
			display:none;
		}
		#item-5 .infoBox p{
			margin: 2px 0 0 8%;
			padding:0;
			top: 0;
			letter-spacing: 0;
			font-size:11px;
			font-family: "Droid Sans", Helvetica, Arial;
		}	
		#item-5 .infoBox{
			padding: 5px 0px;
		}
		
	}
	@media all and (max-width: 979px) and (min-width: 910px){
			.content-r .widget-header h3.title{
			font-size: 16px;
		}
		legend{
			font-size:20px;
		}
	}
	@media all and (max-width: 979px) and (min-width: 400px){
		.well.widget.box-shadow-right.content-r.special, .content-r .tabbable{
			font-size: 10px;
		}
	}
	@media all and (max-width: 979px) and (min-width: 400px){
		ul, ol{
			margin: 0 0 10px 15px;
		}
	}
	@media all and (max-width: 979px) and (min-width: 911px){
		#item-0 blockquote p{
			margin: 285px 0 0 0%;
		}
		ul, ol{
			margin: 0 0 10px 15px;
		}
	}
	@media all and (max-width: 979px) and (min-width: 911px){
		#item-0 blockquote p{
			font-weight:bold;
			margin: 285px 0 0 0%;
			width: 300%;
			color:#fff;
			line-height:16px;
		}
	}	
	@media all and (max-width: 999px) and (min-width: 400px){
			.counter h3{
			font-size: 16px;
			line-height:20px;
		}
	}
	@media all and (max-width: 1029px) and (min-width: 400px){
		div.message-1{
			max-height:360px;
		}
	}
	@media all and (max-width: 1075px) and (min-width: 930px){
		#item-5 .infoBox p{
			margin: 6px 0 0 17%;
			padding:0;
			top: 0;
			letter-spacing: 0;
			font-size:11px;
			font-family: "Droid Sans", Helvetica, Arial;
		}	
	}
	@media all and (max-width: 1097px) and (min-width: 400px){
		.tabs-custom{
			margin-bottom:5px;
		}
	}
	@media all and (max-width: 1097px) and (min-width: 980px){
		#item-0 blockquote p{
			font-weight:bold;
			margin: 285px 0 0 -220%;
			width: 300%;
			color:#fff;
			line-height:16px;
		}	
		legend{
			font-size:20px;
		}
	}
	@media all and (max-width: 1097px) and (min-width: 1000px){
			.counter h3{
			font-size: 18px;
			line-height:20px;
		}
	}
/****** media queries results page******/
	

/****** media queries for home page with large infographic and right side bar ******/
	@media all and (max-width: 1179px) and (min-width: 980px){
		.well.widget.box-shadow-right.content-r.special,
		.content-r .tabbable{
			font-size:12px;
		}
		.well.widget.content-r.faq1.box-shadow-right{
			margin-top:0;
		}
		.well.widget.box-shadow-right.content-r.special{
			margin-top:210px !important;
		}
	}
	@media all and (max-width: 1171px) and (min-width: 1098px){
		#item-0 blockquote p{
			margin: 52px 0 0;
			width: 80%;
			line-height: 16px;
		}
		.counter h3{
			font-size: 18px;
		}	
	}
	@media all and (max-width: 1279px) and (min-width: 1172px){
		#item-0 blockquote p{
			margin: 45px 0 0;
			width: 75%;
			line-height: 18px;
		}
		.counter h3{
			font-size: 20px;
		}
	
	}
	@media all and (max-width: 1309px) and (min-width: 1180px){
		.well.widget.box-shadow-right.content-r.special{
			margin-top:210px !important;
		}
		.well.widget.content-r.faq1.box-shadow-right{
			margin-top:0;
		}
	}
	@media all and (max-width: 1316px) and (min-width: 1030px){
		div.message-1{
			max-height:400px;
		}
	}
	@media all and (max-width:1318px) and (min-width:1280px){
		.counter h3{
			font-size:22px;
		}
	}	
	@media all and (max-width:1342px) and (min-width:1319px){
		#item-5 .infoBox p{
			font-size: 16px;
		}
	}
	@media all and (max-width: 1439px) and (min-width: 1098px){
		#item-0 .well.widget.content-l{
			background-size:100%;
		}
	}
	@media all and (max-width: 1460px) and (min-width: 1315px){
		div.message-1{
			max-height:350px;
		}
	}
	@media all and (max-width: 1349px) and (min-width: 400px){
		#item-0 blockquote p{
			font-size:12px;
		}
	}
	@media all and (max-width: 1509px) and (min-width: 1280px){
		#item-0 blockquote p{
			margin:30px 0 0 0%;
			width: 75%;
		}
	}

	@media all and (max-width: 1629px) and (min-width: 1510px){
		#item-0 blockquote p{
			/* margin: 30px 70px 0 5px; */
			margin:30px 0 0 -5%;
			width: 65%;
		}
	}
	@media all and (max-width: 1784px) and (min-width: 1630px){
		#item-0 blockquote p{
			/* margin:30px 80px 0 -5px; */
			margin: 30px 0 0 -10%;
			width: 65%;
		}
	}
	@media all and (max-width: 1899px) and (min-width: 1785px){
		#item-0 blockquote p{
			/* margin:30px 100px 0 -5px; */
			width:60%;
			margin: 30px 0 0 -15%;
		}
	}
	@media all and (max-width: 2044px) and (min-width: 1900px){
		#item-0 blockquote p{
			/* margin:30px 120px 0 -5px; */
			width:50%;
			margin: 30px 0 0 -15%;
		}
	}
	@media all and (max-width: 2180px) and (min-width: 2045px){
		#item-0 blockquote p{
			/* margin: 30px 120px 0 -15px; */
			width:50%;
			margin: 30px 0 0 -20%;
		}
	}
	@media all and (max-width: 1920px) and (min-width: 1310px){
		.well.widget.box-shadow-right.content-r.special{
			margin-top:190px;
		}
		.well.widget.content-r.faq1.box-shadow-right{
			margin-top:0;
		}
	}
	@media all and (max-width: 2300px) and (min-width: 2181px){
		#item-0 blockquote p{
			margin: 30px 0 0 -20%;
			width:40%;
		}
	}
	/* media queries for home page with infographic ENDS */
	
/* HOME PAGE IMAGE ENDS*/

/* ================================================== */

/* LAPTOP */
@media all and (max-width: 1920px) and (min-width: 1721px) {
    .counter {
        width: 28.8%;
    }
    .content-r {
      /*   margin-top: 180px; */
    }
    .span8 .widget.content-l .widget-content {
        min-height: 490px;
    }
/*     #incomeUncleSam{
    	margin-top: 185px;
    } */
}
@media all and (max-width: 1720px) and (min-width: 1461px) {
    .counter {
        width: 28.5%;
    }
    .content-r {
       /*  margin-top: 180px; */
    }
     .span8 .widget.content-l .widget-content {
        min-height: 490px;
    } 
/*     #incomeUncleSam{
    	margin-top: 182px;
    } */
}
@media all and (max-width: 1460px) and (min-width: 1380px) {
    .counter {
        width: 27.9%;
    }
    .content-r {
       /*  margin-top: 180px; */
    }
    .well {
        margin-bottom:15px;
    }
/*      #incomeUncleSam{
    	margin-top: 187px;
    } */
}
@media all and (max-width: 1379px) and (min-width: 1319px) {
    blockquote p {
      /*   font-size: 18px!important; */
    }
    label {
        line-height: 24px;
        padding-top: 4px;
    }
/*     #item-5 .infoBox p {
        font-size: 16px;
        padding: 1% 0 0 25%;
        line-height:18px;
    } */
    #item-5 .infoBox {
        height: 4em;
        padding:5px;
    }
    .span8 .widget.content-l .widget-content {
        min-height: 480px;
    }
    .counter {
        width: 27.7%;
    }
    .content-r {
       /*  margin-top: 180px; */
    }
    .sliderwrap .slider-r {
        padding-top: 15px;
    }
    .sliderwrap label {
        margin-top:0;
    }
    .well {
        margin-bottom: 15px;
    }
/*     #incomeUncleSam{
    	margin-top: 187px;
    } */
}
@media all and (max-width: 1065px) and (min-width:400px) {
    #item-5 .infoBox p {
        font-size: 10px;
/*         padding: 5% 0 8% 30%; */
        line-height: 14px;
    }
}
@media all and (max-width: 1318px) and (min-width: 1066px) {
    #item-5 .infoBox p {
        font-size: 12px;
/*         padding: 5% 0 8% 30%; */
        line-height: 14px;
    }
}
@media all and (max-width: 1318px) and (min-width: 1025px) {
    article.total {
        width:85%;
    }
    p {
        font-size: 13px;
    }
    li {
        line-height: 19px;   
    }
    form .well {
        height: 240px;
    }
    blockquote {
        height: 366px!important;
    }
    blockquote p {
        font-size: 17px;
    }
    label {
        font-size: 13px!important;
        line-height: 22px;
        padding-top: 4px;
    }
    #item-5 p {
        font-size: 13px;
    }
    #item-5 .alert p {
        font-size: 14px;
    }
    #item-5 .infoBox {
        height: 4em;
        padding:5px;
    }
    #item-5 .infoBox.withIcon:before {
        font-size: 14px;
        top: -20%;
        left: 5%;
        padding: 2px 2% 0;
        -webkit-border-radius: 24px;
        border-radius: 24px;
    }

    #item-5 .infoBox.withIcon:before {
        top:27%;
    }
    #item-5 h5 {
        /* padding: 0 0 1.5% 0; */
    }
    .content-r .widget-header h3.title {
        font-size: 18px;
    }
    .content-r .widget-header h3.title {
        font-size: 17px;
    }
    .counter {
        width: 27.1%;
        /* right: 2.5%; */
    }
    .content-r {
        margin-top: 222px;
    }
    .content-r .tabbable .nav-tabs > li > a {
        padding-top: 3px;
        padding-bottom: 2px;
    }
    .content-r.well {
        width: 88%;
        left:0;
        margin-top: 222px;
    }
    .incomeBox {
        font-size: 13px
    }
    .incomeBox a {
        font-size: 13px!important;
    }
    .deductionBox {
        width: 45%;
    }
    .deductionBox h3 {
        font-size: 22px;
    }
    .deductionBox label {
        font-size: 13px;
    }
    .deductionBox .gutter10 {
        padding: 5px 10px;
    }
    .incomeBox .table td {
        padding: 5px 10px 5px 3px;
        line-height: 17px;
    }
    .sliderwrap .slider-r {
        padding-top: 15px;
    }
    .sliderwrap label {
        margin-top:0;
    }
    .span8 .widget.content-l .widget-content {
        min-height: 500px;
        padding-top:10px;
    }
    .tabs-custom .tab-content {
        height: 85px;
    }
    .well {
        margin-bottom: 13px;
    }
    .incomeUncleSam{
    	margin-top:204px;
    }
}


@media all and (max-width: 979px) and (min-width: 910px) {
    h3 {
        line-height: 35px;
    }
    li {
        line-height: 19px;
    }
    /* SIDE BAR */
    .well {
        margin-bottom: 10px;
    }
    .counter {
        width: 26.2%;
        right: 23px;
    }
    .content-r {
        /* width: 255px; */
        margin-top: 215px;
        margin-left: -14px;
        font-size: 13px;	
    }
    .content-r.well {
        width: 87%;
    }
    .content-r .widget-header {
        padding: 5px 10px;
    }
    .nav-tabs > li > a, 
    .nav-pills > li > a {
        padding: 2px 6px;
    }
    .tabs-custom {
        margin-top:5px;
        margin-bottom: 5px;
    }
    h3.ribbon, 
    .ribbon {
        top: 190px;
    } 
    article.total {
        width: 90%;
    }
    article.total p.muted {
        font-size: 12px;
    }
    article.total li {
        font-size: 12px;

    }
    
/*     #item-5 .infoBox p{
    	font-size: 14px;
    	padding: 20% 0 0 0;
    	line-height: 14px;
    	text-align:center;
    } */
    #item-5 .infoBox{
    	padding: 1% 0;
    }
    #item-5 .infoBox.withIcon:before{
    	top:0%;
    	left:40%;
    }
    .content-r .widget-header h3.title.uncleSam{
    	line-height:18px;
    	font-size: 16px;
    	margin-top: 3%
    }
    
    /* SIDE BAR ENDS*/

    /* MAIN CONTENT BOX */
    .widget-content p,
    .widget-content label, 
    .widget-content input, 
    .widget-content button, 
    .widget-content select, 
    .widget-content textarea,
    .widget-content table {
        font-size: 13px;
        /* line-height: 19.5px; */
    }
    fieldset {
        margin-bottom: 10px;
    }
    blockquote p {
        font-size: 18px;
    }
    #item-5 .alert h3 {
        font-size: 18px;
        line-height: 27px;
    }
    #item-5 .alert .btn-large {
        font-size: 15px;
        padding: 7px 12px;
    }
    #item-5 .alert {
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    #item-5 .alert .line {
        margin-bottom:10px;
    }
    #item-5 .alert ul {
        margin-bottom: 0px;
    }
    #item-5 .alert p {
        margin-bottom: 0;
    }    
    #item-5 .infoBox.withIcon:before{
    	font-size:10px;
    	padding: 11px 3%;
    	border-radius: 20px;
    	-webkit-border-radius: 20px;
    	line-height: 15px;
    }
    /* MAIN CONTENT BOX ENDS */
}

@media all and (max-width: 909px) and (min-width: 835px) {
    blockquote {
        height: 360px!important;
    }
    h3 {
        line-height: 35px;
    }
    li {
        line-height: 19px;
    }
    /* SIDE BAR */
    /* .btn {
        padding: 3px 8px;
    } */
    .well {
        margin-bottom: 10px;
    }
    .counter {
        width: 26.2%;
        right: 2.5%;
    }
    .content-r {
        /* width: 255px; */
        margin-top: 200px;
        margin-left: -14px;
        font-size: 13px;
    }
    .content-r.well {
        width: 87%;
    }
    .content-r .widget-header {
        padding: 5px 10px;
    }
    .nav-tabs > li > a, 
    .nav-pills > li > a {
        padding: 2px 3px;
        font-size: 11px!important;
    }
    .tabs-custom {
        margin-top:5px;
        margin-bottom: 5px;
    }
    h3.ribbon, 
    .ribbon {
        top: 190px;
    } 
    article.total {
        width: 90%;
    }
    article.total p.muted {
        font-size: 12px;
    }
    article.total li {
        font-size: 12px;

    }
    /* SIDE BAR ENDS*/

    /* MAIN CONTENT BOX */
    .widget-content p,
    .widget-content label, 
    .widget-content input, 
    .widget-content button, 
    .widget-content select, 
    .widget-content textarea,
    .widget-content table {
        font-size: 13px;
        /* line-height: 19.5px; */
    }
    fieldset {
        margin-bottom: 10px;
    }
    blockquote p {
        font-size: 16px;
    }
    #item-5 .alert h3 {
        font-size: 18px;
        line-height: 27px;
    }
    #item-5 .alert .btn-large {
        font-size: 15px;
        padding: 7px 12px;
    }
    #item-5 .alert {
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    #item-5 .alert .line {
        margin-bottom:10px;
    }
    #item-5 .alert ul {
        margin-bottom: 0px;
    }
    #item-5 .alert p {
        margin-bottom: 0;
    }    
    /* MAIN CONTENT BOX ENDS */
}

@media all and (max-width: 834px) and (min-width: 769px) {
    blockquote {
        height: 360px!important;
    }
    h3 {
        line-height: 35px;
    }
    li {
        line-height: 19px;
    }
    /* SIDE BAR */
    .well {
        margin-bottom: 10px;
    }
    .counter {
        width: 26.2%;
        right: 2.5%;
    }
    .content-r {
        /* width: 255px; */
        margin-top: 200px;
        margin-left: -14px;
        font-size: 13px;
    }
    .content-r.well {
        width: 87%;
    }
    .content-r .widget-header {
        padding: 5px 10px;
    }
    .nav-tabs > li > a, 
    .nav-pills > li > a {
        padding: 2px 6px;
    }
    .tabs-custom {
        margin-top:5px;
        margin-bottom: 5px;
    }
    h3.ribbon, 
    .ribbon {
        top: 190px;
    } 
    article.total {
        width: 90%;
    }
    article.total p.muted {
        font-size: 12px;
    }
    article.total li {
        font-size: 12px;

    }
    /* SIDE BAR ENDS*/

    /* MAIN CONTENT BOX */
    .widget-content p,
    .widget-content label, 
    .widget-content input, 
    .widget-content button, 
    .widget-content select, 
    .widget-content textarea,
    .widget-content table {
        font-size: 13px;
        /* line-height: 19.5px; */
    }
    fieldset {
        margin-bottom: 10px;
    }
    blockquote p {
        font-size: 16px;
    }
    #item-5 .alert h3 {
        font-size: 18px;
        line-height: 27px;
    }
    #item-5 .alert .btn-large {
        font-size: 15px;
        padding: 7px 12px;
    }
    #item-5 .alert {
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    #item-5 .alert .line {
        margin-bottom:10px;
    }
    #item-5 .alert ul {
        margin-bottom: 0px;
    }
    #item-5 .alert p {
        margin-bottom: 0;
    }    
    /* MAIN CONTENT BOX ENDS */
}
/* LAPTOP*/

/* ================================================== */

/* IPAD HORIZONTAL */
@media all and (max-width: 1097px) and (min-width: 910px){
	#item-0 .well.widget.content-l{
		background: url("../images/infographic-eligibility-small_v2.png") no-repeat scroll #80ba53;
		background: url("../images/infographic-eligibility-small_v2.png"), -moz-linear-gradient(top,  #80ba53 0%, #80ba53 14%, #59a84f 100%); /* FF3.6+ */
		background:url("../images/infographic-eligibility-small_v2.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ba53), color-stop(14%,#80ba53), color-stop(100%,#59a84f)); /* Chrome,Safari4+ */
		background:url("../images/infographic-eligibility-small_v2.png"), -webkit-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Chrome10+,Safari5.1+ */
		background:url("../images/infographic-eligibility-small_v2.png"), -o-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Opera 11.10+ */
		background:url("../images/infographic-eligibility-small_v2.png"), -ms-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* IE10+ */
		background:url("../images/infographic-eligibility-small_v2.png"), linear-gradient(to bottom,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ba53', endColorstr='#59a84f',GradientType=0 ); /* IE6-9 */ 
		background-repeat: no-repeat; 
		background-size: auto;
		background-position: center 33%;
	}
}
@media all and (max-width: 1024px) and (min-width: 400px) {

	/*Home Tab*/
/* 	.counter h3{
		font-size: 18px;
	} */
	#item-0 blockquote p{
		/* margin: 284px -90px 0 -320px; */
		/* line-height:18px;
		font-size:12px;
		width:250%; */
		margin-left: 0px;
	}	
/* 	#item-0 .well.widget.content-l{
		background: url("../images/infographic-eligibility-small_v2.png") no-repeat scroll #80ba53;
		background: url("../images/infographic-eligibility-small_v2.png"), -moz-linear-gradient(top,  #80ba53 0%, #80ba53 14%, #59a84f 100%); FF3.6+
		background:url("../images/infographic-eligibility-small_v2.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ba53), color-stop(14%,#80ba53), color-stop(100%,#59a84f)); Chrome,Safari4+
		background:url("../images/infographic-eligibility-small_v2.png"), -webkit-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); Chrome10+,Safari5.1+
		background:url("../images/infographic-eligibility-small_v2.png"), -o-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); Opera 11.10+
		background:url("../images/infographic-eligibility-small_v2.png"), -ms-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); IE10+
		background:url("../images/infographic-eligibility-small_v2.png"), linear-gradient(to bottom,  #80ba53 0%,#80ba53 14%,#59a84f 100%); W3C
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ba53', endColorstr='#59a84f',GradientType=0 ); IE6-9 
		background-repeat: no-repeat; 
		background-size: auto;
	} */
	
	input#refineincome{
		width: 70%;
	}
	input#alimonyPaid,
	input#studentLoans{
		width: 80%;
	}
	div#calculateincome div.deductionBox div.row-fluid div.span6.offset1{
		width:40%;
	}
	div.deductionBox div.row-fluid div.span6{
		width:90%;
	}

/* 	#item-5 .infoBox{
		padding: 1.5% 0 0;
	} */
	#item-5 .infoBox.withIcon:before{
		left:2%;
	}
	.icon-question-sign:before{
		font-size: 11px;
	}
	form#emailForm input#email{
		float: left;
	}
	.margin-l{
		margin: 0;
	}



    h3 {
        line-height: 35px;
    }
    li {
        line-height: 19px;
    }
    /* SIDE BAR */
    .well {
        margin-bottom: 10px;
    }
    .counter {
/*         width: 27.4%; */
        right: 17px;
    }
    .content-r {
        width: 255px;
        margin-top: 0px;
        font-size: 13px;
    }
    .content-r.well {
        width: 88%;
    }
    .content-r .widget-header {
        padding: 5px 10px;
    }
    .nav-tabs > li > a, 
    .nav-pills > li > a {
        padding: 2px 6px;
    }
    .tabs-custom {
        margin-top:5px;
        margin-bottom: 0px;
    }
    h3.ribbon, 
    .ribbon {
        top: 190px;
    } 
    article.total {
        width: 90%;
    }
    article.total p.muted {
        font-size: 12px;
    }
    article.total li {
        font-size: 12px;

    }
     .content-r .widget-header h3.title.uncleSam {
        line-height: 18px;
        font-size: 14px;
/*         padding: 5% 0 0 3%; */
    }
    /* SIDE BAR ENDS*/

    /* MAIN CONTENT BOX */
    .widget-content p,
    .widget-content label, 
    .widget-content input, 
    .widget-content button, 
    .widget-content select, 
    .widget-content textarea,
    .widget-content table {
        font-size: 13px;
        /* line-height: 19.5px; */
    }
    fieldset {
        margin-bottom: 10px;
    }
    blockquote p {
        font-size: 18px;
    }
    #item-5 .alert h3 {
        font-size: 18px;
        line-height: 27px;
    }
    #item-5 .alert .btn-large {
        font-size: 15px;
        padding: 7px 12px;
    }
    #item-5 .alert {
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    #item-5 .alert .line {
        margin-bottom:10px;
    }
    #item-5 .alert ul {
        margin-bottom: 0px;
    }
    #item-5 .alert p {
        margin-bottom: 0;
    }    
  
    /* MAIN CONTENT BOX ENDS */
}
/* IPAD HORIZONTAL ENDS */
@media all and (max-width: 867px) and (min-width: 400px){
	#item-5 .infoBox.withIcon:before{
			display:none;
		}
		#item-5 .infoBox{
			width:46%;
			text-align:center;
			vertical-align:middle;
			margin:7px 10px 1px 0px;
		}
		#item-5 .infoBox p{
			font-family:"Droid Sans", Helvetica, Arial;
			font-size:13px;
			margin:0;
			letter-spacing:0;
		}
		#item-5 .infoBox span p i{
			font-size:11px;
		}
		#item-5 .alert{
			margin-bottom: 0;
		}
		#item-5 .alert p{
			font-size:14px;
			line-height:19px;
		}
}

/********************  IPAD PORTRAIT ******************* */
@media all and (max-device-width: 768px) and (min-device-width: 400px) and (orientation: portrait){
			#header.navbar .brand{
				font-size:20px;
			}
			.counter{
				width:25%;
			}
			.row-fluid .offset8:first-child{
				margin-left:-5%;
			}
			#item-0 blockquote p{
				margin:275px 0 0 0;
			}
			div.well.widget.content-r.box-shadow-right.special, .well.widget.content-r.faq2.box-shadow-right, .well.widget.box-shadow-right.content-r.uncleSamDiv{
				margin-top: 178px;
			}
			.content-r.well{
				width:78%;
			}
			.content-r .widget-header h3.title{
				line-height:18px;
			}
			.content-r .widget-header{
				padding: 10px 22px;
			}
			.btn-large{
				font-size:14px;
			}
			ul, ol{
				margin: 0 0 0 15px;
			}
			.widget-content p, .widget-content label, .widget-content input, .widget-content button, .widget-content select, .widget-content textarea, .widget-content table{
				font-size:12px;
			}
			#myCarousel .accordion-heading{
				font-size:12px;
			}
			.content-r .widget-header h3.title.uncleSam{
				font-size:13px;
			}
			span#editincome{
				width:24%;
			}
			#refineincome{
				font-size:14px;
			}
}
@media all and (max-width: 786px) and (min-width: 469px){

/*nav*/
	#header.navbar .nav > li > a{
		font-size:16px;
	}
/*nav end*/

/*left sidebar*/
#sidebar.nav.nav-pills.nav-stacked{
	width:64px;
}
#left_layout #main_content.container-fluid{
	margin:0 10px 10px 64px;
}
#left_layout{
	background: url("../images/bg-nav-bg-blk.png") repeat-y scroll -11px top transparent;
}
.counter{
	right:
}

/*sidebar*/
	div#flipCounterDiv h3.page-title{
				margin-top:-17px;
			}

	.counter h3{
		font-size:14px;
		line-height:21px;
		letter-spacing: -0.5px;
	}
	.content-r{
		margin-top:0;
	}
	.content-r .widget-header{
			padding:13px 5px 0 19px;
		}
	.content-r .widget-header h3.title{
		font-size: 14px;
		line-height:16px;
		padding-bottom:7px;
	}
	.well.widget.box-shadow-right.content-r.special{
		font-size:12px;
	}
	.well.content-r.special ul li{
		line-height:22px;
	}
	div.well.widget.content-r.box-shadow-right.special, .well.widget.content-r.faq2.box-shadow-right, .well.widget.box-shadow-right.content-r.uncleSamDiv{
		margin-top:170px;
	}
	.alert.alert-error{
			font-size: 10px;
			line-height:15px;
			text-align:left;;
	}
	label.error span, label.error{
			font-size:10.5px;
	}
	div#flipCounterDiv div.span div#medicaidMessageNearCounter.alert{
		margin-bottom:0;
	}
	div#main_content div.row-fluid div.well.widget.counter{
		padding-bottom:0;
	}
	.content-r .widget-header h3.title.uncleSam{
		line-height:17px;
		font-size:14px;
	}
	h3.title.uncleSam{
		margin: 5px 0 0;
	}
	
/*sidebar end*/

/*infographic*/
	#item-0 blockquote p{
		/* margin:259px 0 0 -241%;
		width: 320%;
		color:white; */
		margin-left:-240%;
	}
	#item-0 .well.widget.content-l{
				background: url("../images/infographic-eligibility-small_v2.png") no-repeat scroll #80ba53;
				background: url("../images/infographic-eligibility.png") top: 50px, -moz-linear-gradient(top,  #80ba53 0%, #80ba53 14%, #59a84f 100%); /* FF3.6+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ba53), color-stop(14%,#80ba53), color-stop(100%,#59a84f)); /* Chrome,Safari4+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -webkit-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Chrome10+,Safari5.1+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -o-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* Opera 11.10+ */
				background:url("../images/infographic-eligibility-small_v2.png"), -ms-linear-gradient(top,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* IE10+ */
				background:url("../images/infographic-eligibility-small_v2.png"), linear-gradient(to bottom,  #80ba53 0%,#80ba53 14%,#59a84f 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ba53', endColorstr='#59a84f',GradientType=0 ); /* IE6-9 */ 
				background-repeat: no-repeat; 
				background-size: auto;
				background-position: center 32%;
	}
	#item-0 .widget fieldset legend{
		font-size:20px;
	}
	ul.qlist{
		margin:0 0 0 5px !important;
		font-size:12px;
	}
	ul, ol {
		margin: 0 0 0 5px !important;
	}
	
/*infographic end*/
/*body*/
	.btn-large{
				font-size:14px;
			}
	legend{
			font-size:21px;
			line-height:52px;
			margin-bottom:10px;
		}
		.deductionBox h3{
			font-size: 19px;
			line-height: 28px;
		}
		div.span6.offset1 div#eq1{
			width:100%;
		}
		.incomeBox{
			height:158px;
		}
		div#calculateincome div.deductionBox{
/* 			width:100%; */
			margin-top:10px;
			font-size:18px;
		}
		div#calculateincome div#calculateincomeBox{
/* 			width:100%; */
		}
		div#calculateincome div.deductionBox h3{ 
			font-size: 21px;
		}
		div#calculateincome div.deductionBox div.row-fluid div.span6 label{
			padding-top:0;
		}
		form#incomeForm fieldest legend{
			margin-bottom:0;
			font-size:21px;
			line-height:52px;
		}
		form#incomeForm fieldest legend p{
			padding:0;
		}
		.widget-content p, .widget-content label, .widget-content input, .widget-content button, .widget-content select, .widget-content textarea, .widget-content table{
				font-size:12px !important;
				line-height:18px;
			}
		#refineincome{
				width:70%;
				font-size:14px;
			}
		.btn-large{
			font-size:14px;
		}
/*body end*/
/*results page*/
	
		input#submitEmail{
			margin-top:5px;
		}
		article.total header img{
			width:80%;
		}
		article.total header p{
			font-size:12px;
		}
		div#cs1Individual ul{
			margin:0 -7px 10px 15px;
		}
		article.total li{
			font-size:10px !important;
			line-height:17px;
		}
		p.margin-t{
			margin-top:15px;
		}
		#item-5 h5{
			padding:0;
		}
		#showplans{
		background-size:90%;
		}
		article.total h4{
		font-size:28px;
		}
/*results page end*/
}
/******************* IPAD PORTRAIT END ******************* */


@media all and (max-width: 2050px) and (min-width: 1920px) {
  .counter {
    width:528px;
  }
}

  @media all and (max-width: 1600px) and (min-width: 1281px)  {
  .counter {
   /*width: 31%;*/
  }
}

@media all and (min-width: 1200px){
	.span4{
	
	}
}


