body {
	padding: 10px 0px 10px 10px;
	min-width: 850px;
}

.headline {
	color: green;
	font-size: 24px;
	font-weight: bold;
	font-family: arial;
}

#zipEntry, #incomeEntry {
	padding: 8px 0px 20px 30px;
}

#left-family-pane {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	position: relative;
}

#left-family-pane button {
	margin: 0px 0px 10px 0px;

}

#right-family-pane {
	display: inline-block;
	vertical-align: top;
	border: 2px solid gray;
	padding-top: 20px;
}

#family-members-container {
	margin-top: 12px;
	margin-left: 30px;
}

#zipCode {
	margin-left: 20px;
}

.inlineDiv {
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
}

.remove-label {
	padding-left: 20px;
	padding-right: 20px;
	color: blue;
}

.member-label {
	margin-right: 20px;
}

.member-birthday {
	margin-right: 20px;
}

 input.coverage-input {
 	margin-right: 70px;
 	margin-left: 80px;
 }

  input.tobacco-input {
 	margin-right: 60px;
 	margin-left: 50px;
 }

 #members-repeat-container {
 	padding: 0;
 	margin: 0;
 }

.member-type-container {
	width: 90px;
	text-align: right;
}

.label-above-content-box {
	position: absolute;
	left: 0px;
	top: -49px;
}

#tobacco-label-above-box {
	left: 16px;
}

#coverage-label-above-box {
	left: 20px;
}

#family-label {
	position: absolute;
	left: 0px;
	top: -27px;
	line-height: 17px;
	font-size: 14px;
}

#check-for-savings {
	float: right;
	margin-right: 100px;
}

#right-family-pane input {
	text-align: center;
}

#familyLabels {
	position: relative;
}

#family-members-label, #birthdate-label, #birthdate-label, #tobacco-use-label, #seeking-coverage-label {
	position: absolute;
	font-weight: bold;
	top: -13px;
	line-height: 18px;
	font-size: 16px;
}

#family-members-label {
	left: 30px;
}

#birthdate-label {
	left: 275px;
}

#tobacco-use-label {
	left: 445px;
}

#seeking-coverage-label {
	left: 585px;
}