
   	.popover {
   		background: #ececec;
   	}

   	.redBorder {
   		border-color: red !important; 
   	}
	
	#resultsSection .resultsTitle {
		font-family: georgia, serif;
		font-size: 20px;
		color: green;
		margin-bottom: 20px;
	}

	#resultsSection div {
		margin: 0;
		padding: 0;
	}

	#resultsSection li {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100% !important;
		color: black;
		margin-bottom: 16px;
		font-weight: bold;
	}

	#resultsSection #container {
		margin: 0 auto;
	}

	#resultsSection .outerBox {
		height: 180px;
		border: 2px solid #d97b00;
	}

	#resultsSection .leftResBox {
		width: 20%;
		height: 180px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		position: relative;
	}

	#resultsSection .leftResBoxBackground {
		background: url('../img/NM-header-BG.png') repeat top left !important;
		opacity: 0.6;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#resultsSection .rightResBox {
		width: 80%;
		height: 180px;
		display: inline-block;
		position: relative;
	}

	#resultsSection .rightInnerBox {
		border-left: 3px solid #70b5e1;;
		height: 160px;
		padding: 10px;
		background: url('../img/NM-header-BG.png') repeat top left !important;
	}

	#resultsSection .leftBoxContents {
		position: relative;
		top: 50%;
		margin-top: -38.5px;
	}

	#resultsSection .title {
		border-bottom: 2px solid gray;
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 16px;
		font-family: georgia, serif;
		color: green;
	}

	#resultsSection .subtitle {
		font-family: georgia, serif;
		font-size: 14px;
		margin-bottom: 12px;
	}

	#resultsSection .contents {
		font-size: 14px;
		font-family: arial, sans-serif;
		text-align: left;
		font-weight: normal;
	}