
body {
	/*font-family: 'Raleway', Arial, sans-serif;*/
	/*color: #2C2C2C;*/
	color:#555B5E;
    font: 18px/30px "proxima-nova","Proxima Nova",'Raleway',Arial, sans-serif;
    text-align: center;
}

.navbar-inner {
/*	color:#;*/
	border:none;
	/*border-bottom:solid 2px #51A351;*/
	padding:0;
background:  #48a95e;
filter:none;
-ms-filter:none;
min-height:0;
/*background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(255,255,255,0.66) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(17%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.66))); 
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0.66) 100%); 
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0.66) 100%); 

background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0.66) 100%);
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0.66) 100%);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ddffffff',GradientType=1)";*/
}

.navbar .nav > li > a {
   color: #ffffff;
  float: none;
 padding: 15px 20px;
/*  text-decoration: none;*/
  /*text-shadow: 0 1px 0 #000;*/
  opacity: 1;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:active
 {
 background:#59BA6F;
 color:#ffffff;
 }

 .navbar .nav > li > a {
	text-shadow:none;
}

.navbar .brand {
 background:white;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 200;
  margin-left:21px;
  left:1%;
  position:absolute;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
  padding:3px 10px;
  margin-top: -16px;
}

.navbar-fixed-top .navbar-inner .container {
	width: 100%;
}

.navbar  .navbar-inner a.brand span {
	display:none !important;
	visibility:hidden !important;
}
.navbar  .navbar-inner a:not(.brand) span {
	color: #11fed3;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
  background-color: 36964B;
  color: #FFFFFF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background: none repeat scroll 0 0 #59BA6F;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
  background-color: #59BA6F;
  color: #FFFFFF;
}

#topnav {
	font-size:14px;

}
#prelaunch-main .panelwrap{
	margin: 50px 0 auto;
}

#hero-wrapper {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0 transparent;
	border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	color:#fff;
	padding:0;
	text-align: center;
	font-weight: 500;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#33000000')"; /* IE6-9 */
}


#hero-wrapper  h1 {
	font-size:2.5em;
	text-shadow: 0 1px 0 #000;
	line-height: 1.25em;
	font-family:"ff-tisa-web-pro", "proxima-nova", sans-serif;
	font-weight:400;
}

#hero-wrapper  h4{
	font-size:1.25em;
	text-shadow: 0 1px 0 #000;
}


.input-append .add-on, .input-prepend .add-on {
  background:#D8EBD6;
  color:#13771C;
  text-shadow:none;
}


#hero-wrapper .well {
	margin-top:20px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0 transparent;
	border: none;
	padding-bottom: 0;
	padding-top:0;

}

#hero-wrapper form {
	margin-bottom: 0;
	padding-bottom:0;
}


#formzip {
	font-size:1.5em;
	font-weight: bold;
	padding:11px 10px 10px 10px;
	height:auto;
	border-radius:0;
	border-color:#3D99DF;

}

#hero-wrapper fieldset {
	display: inline-block;
	margin:10px;
	text-align: left;
}

#location {
	vertical-align: top;
}

#location label {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
	line-height: 24px;
}

#familymembers legend {
	color:#fff;
	font-size:.8em;
	margin-bottom: 0;
	 border-bottom: 1px solid rgba(0, 0, 0, 1);
	line-height: 24px;
	
	}

	#familymembers label {
		margin-left: 20px
	}


#familymembers button {
	margin-left: 20px
}

#hero-wrapper  .wrap{
		 border-top: 1px solid rgba(255, 255, 255, 0.2);
		 padding:10px 0;

	}

#location label {
	display: block;
	margin:0;
}

#getstarted,#editzip,#zipcounties  {
	font-size:1.6em;
	font-weight: 400;
	padding:16px;
	margin-left: 20px;
	background: none repeat scroll 0 0 #3D99DF;
	border-radius:0;
	text-transform: uppercase;
}

#zipcounties span.caret {
	border-left-width: 10px;
	border-right-width: 10px;
	border-top-width: 10px;
}
[data-panel=page1] .panelwrap label{
	font-size:20px;
	margin: 0px 0 10px 0;
	
}

.panelwrap label {
	font-weight:600;
}

/* .panel { */
/* 	min-height: 400px; */
	
/* /* 	border-bottom: solid 1px #ccc; */ */

/* } */

form#form-cov {
	margin-left: 0;
	margin-top:20px;
}
section.container-fluid {
	padding:0;
}

.btn {

}

.btn-info {
	
}
.next-button-wrap {
		width:100%;
		position:absolute;
		bottom:0;
}
.next-button a.btn.btn-large{

	font-size:20px;
	font-weight: bold;
	text-shadow:none;
	box-shadow: none;
	margin: -30px 5px 0;
	padding:15px 45px;
		border-radius:0;
}
.next-button a.btn.btn-large.btn-link
{
	color:inherit;
	background:#ffffff;
	border:1px solid #E0E0DE;
}
.next-button a.btn.btn-large.btn-link:hover,
.next-button a.btn.btn-large.btn-link:focus,
.next-button a.btn.btn-large.btn-link:active{
	background: #FCFCFC;
	color:#000000;
	text-decoration: none;
}
.next-button a.btn.btn-large.btn-info{
	background: #3D99DF;
	border-radius:0;
	color:white;
}
.next-button a.btn.btn-large.btn-info:hover,
.next-button a.btn.btn-large.btn-info:active,
.next-button a.btn.btn-large.btn-info:focus
{
	background:#2285CE;
}
.btn-info.disabled {
    background-color: #A0C0D8 !important;
    opacity: 1 !important;
}

.next-button a.btn.btn-large.btn-warning{
	background: #F89406;
	border-radius:0;
	color:white;
}
.next-button a.btn.btn-large.btn-warning:hover,
.next-button a.btn.btn-large.btn-warning:active,
.next-button a.btn.btn-large.btn-warning:focus
{
	background:#E28505;
}
.btn-warning.disabled {
    background-color: #DFB479 !important;
    opacity: 1 !important;
}

.next-button a.btn.btn-large.btn-success
{
	color:#fff;
	background:#48A95E;
	border:1px solid #317340;
}
.next-button a.btn.btn-large.btn-success:hover,
.next-button a.btn.btn-large.btn-success:focus,
.next-button a.btn.btn-large.btn-success:active{
	background: #429B56;
	text-decoration: none;
}
/* section[data-panel=page1] .next-button  */
/* { */
/* 	padding: 3px 0;  */
/* } */

/* mov to less */

input, button, select, textarea {
	 font-family:'proxima-nova',Arial, sans-serif;
}
.rem-p {
	font-size: 1.5em;
}

.input-append input[class*="span"], 
.input-append .uneditable-input[class*="span"],
 .input-prepend input[class*="span"], 
 .input-prepend .uneditable-input[class*="span"],
  .row-fluid input[class*="span"],
   .row-fluid select[class*="span"],
    .row-fluid textarea[class*="span"],
     .row-fluid .uneditable-input[class*="span"],
      .row-fluid .input-prepend [class*="span"],
       .row-fluid .input-append [class*="span"],
       .input-prepend.input-append input,
        .input-prepend.input-append select,
         .input-prepend.input-append .uneditable-input {
       
       font-weight:600;
       font-size:20px;
   }
   
   textarea,
    input[type="text"],
     input[type="password"],
      input[type="datetime"],
       input[type="datetime-local"],
        input[type="date"],
         input[type="month"],
          input[type="time"],
           input[type="week"], 
           input[type="number"],
            input[type="email"],
             input[type="url"], 
             input[type="search"],
              input[type="tel"],
               input[type="color"],
                .uneditable-input {
                
                border: 1px solid #3D99DF;
                border-radius:0 0 0 0;
            
                }