/* large monitor default */

@font-face {
    font-family: "proxima-nova", "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
   /* src: local("Raleway Medium"), local("Raleway-Medium"), url("http://themes.googleusercontent.com/static/fonts/raleway/v6/CcKI4k9un7TZVWzRVT-T8xsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
   */
}
@font-face {

    font-family: "proxima-nova", "Raleway", Arial, sans-serif;
   
    font-style: normal;
    font-weight: bold;
   /* src: local("Raleway Bold"), local("Raleway-Bold"), url("http://themes.googleusercontent.com/static/fonts/raleway/v6/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
   */
}
/* new checkbox and radio stuff */

input[type=checkbox],input[type=radio] {
  margin:0;
display:none;
  visibility:hidden;

}
#allblack {
    position:fixed;
    height:100%;
    width:100%;
    background:black;
    background:rgba(0,0,0,0.8);
    z-index:1101;
    display:none;
}
a i.icon-youtube-play {
    text-decoration: none;
}
a i.icon-youtube-play:hover {
    color: #aa2222;
}
i.icon-youtube-play {
    font-size: 70px;
    color:#cc2222;
}
#mediabox {
/*    position:fixed;*/
    top:15%;
    left:15%;
    margin:5% auto 0;
    width:70%;
    height:70%;
    background:rgba(0,0,0,0.9);
    z-index: 1102;
    display:none;
    color:#ffffff;
    text-align: right;
}   
#mediabox-content {
    width:100.1%;
    height:100%;
    border:none;
}
#mediabox-close {
    text-decoration: none;
    font-size:30px;
    margin-right:6px;
/*    margin-right:-30px;*/
}
#mediabox-close:hover {
    /*text-shadow:0 0 2px #0000ff;*/
    color:#ffffff;
    text-decoration: none;
}
.custom-rc i,.custom-rc span {
  line-height:inherit;
    visibility:hidden;  
}

.custom-rc {
  text-align:center;
  display:inline-block;
  width:24px;
  height: 24px;
  margin-bottom:-5px;
  margin-right:10px;
  top:3px;
  /* gradient */
  background:#ffffff;
  background: -webkit-linear-gradient(top, #fcfff4 0%, , #ededed 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%,, #ededed 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, , #ededed 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #ededed 100%);
    background: linear-gradient(top, #fcfff4 0%, #ededed 100%);
    
   /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );*/
  border:solid 1px #3D99DF ;/*#959C9F ;*/
  border-radius:1px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,1.5);
  
   /* box-shadow: inset 0px 1px 1px white, 0px 1px 1px rgba(0,0,0,0.5);*/
}

.custom-rc .icon-ok {
	line-height:1em;
}
.custom-rc.rad {
    margin-top:-10px;
      font-size:35px;
      border-radius:30px;
      position:relative;
      /*width:20px;
      height:20px;*/
}
.custom-rc.hovered {
  
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(50,50,200,1);
}
ul.reglist {
    list-style-type: inherit;
    list-style-position: inside;
    text-indent: 15px;
}
/* end new checkbox stuff */
/* prelaunch page */
#prelaunch-main {
	text-align:left;
	padding:50px;
	height:auto;
}
#prelaunch-main small{
	line-height: 
}
/* thank you page */
.well-white-inner {
	background-color:white;
	padding:40px;
	margin:30px 4%;
}
.siteslist li {
	padding:10px;
	
}

.siteslist li i {
	font-size:1.1em;
	color:#3D99DF;
}
.proflist li{
	/* padding: 5px 0; */
}
.siteslist i{
	padding-right:10px;
}

.siteslist li a {
		color:#3D99DF;
}

h4 a, h4 a:hover{
		color:#3D99DF;
}


.navbar-fixed-top {
    position:fixed !important;
}
#formzip {
	line-height:normal;
}
.hide {
    opacity:0;
}
.dnone {
    display:none;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
p label {
    font-size:20px;
}
/* ticker */
#hc-ticker {
	position:relative;
	
	overflow:hidden;	
	opacity:.8;
    text-align: center;
    margin:10px 0 0 0;
    background:#222;
}
#hc-ticker-wrap {
    
    opacity:.80;
    width:50%;
    margin:10px auto 0 auto;
    /* border-radius: 3px 3px 3px 3px; */
    text-align:center;
}

#hc-ticker p {
	display:block;
	position:relative;
    text-align: center;
    

}
#hc-ticker ul {
	display:block;
	margin:5px 0 ;
	padding:5px 0 10px 0;
	  text-align:center;
}

#hc-ticker ul li {
    
      margin:auto auto;
        text-align:center;
	margin-top: -5px;
    line-height:0;
    padding:0;


}

#gps {
    position: absolute;
    bottom:2%;
    text-align: center;
    width: 100%;
    padding:0;
    }

#gps img {
   bottom:0;
}



#intro-message {
    min-height:1%;
	position:absolute;
	width:100%;
	bottom:0%;
	padding: 0;
	color:white;
	background: transparent;
	/* background: rgba(0,0,0,0.2)  transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#33000000')"; IE6-9 */
		border-top:1px solid #48A95E;
		 background:url(../images/overlay-11-grad.png) repeat-x 70% 0;
	
	
	
}


#intro-message p{
    margin:auto auto;
     width:100%;
    /*  position:absolute;
     bottom:100%; */
     /* left:33%; */
     font-size:1.5em;
     font-weight:normal;
     padding:25px 0;
     font-family:"ff-tisa-web-pro", "proxima-nova", sans-serif;
     text-shadow: 0 1px 0 #333;
    
    /*  border-top:1px solid rgba(255,255,255, 0.2); */
}

#intro-message p a{
	color:#3D99DF;
	}

#intro-message p a:hover{
	text-decoration:underline;

	}

#intro-message span {
	margin:auto auto;
  	display:block;
   	width:100%;
   	height:50px;
   background:url(../images/arrow-d-tran.png) no-repeat 50% 0%;
}

#intro-message  span .pull-left, #intro-message span .pull-right {
	display:inline-block;
	width:40%;
	background:#fff;
	height:50px;
}

section:not(#intro, #page1) h2 {
    font-size:45px;
}
footer {
    height:auto;
    background:#47A75D;
    padding:70px 0 30px 0;
    text-align:left;
    font-size:14px;
}
footer > div.container-fluid {
	width:70%;
	margin:0 auto;
}

ul.media-icons li{
	padding:10px 10px 0 0;
	display:inline-block;
	color:#17772D;
}
ul.media-icons a:hover,
ul.media-icons a:active,
ul.media-icons a:focus{
	color:#228238;
}

ul.media-icons .icon-stack {
	display: inline-block;
	height: 4em;
	line-height: 4em;
	position: relative;
	vertical-align: -35%;
	width: 3.5em;
}

.icon-stack .icon-stack-base {
  font-size: 4em;
}

footer img.trans {
	opacity:.5
}

.footer-links {
	margin-top:15px;
}
.footer-links li {
	color:white;
	padding-bottom:10px;
		font-size:16px;
}
.footer-links li a:hover,
.footer-links li a:active,
.footer-links li a:focus {
	color:#CDE0CB;
	text-decoration:none;

}
.blog-link {
	background-color: #3C9C52;
	border-radius:4px;
	color:#ffffff;
	padding:15px 30px;
}
.blog-link h5{
	border-bottom:1px solid #CDE0CB;
	letter-spacing: 0.125em;
	padding-bottom:8px;
	text-transform:uppercase;
	color: #CDE0CB;
}
.blog-link a:hover,
.blog-link a:active,
.blog-link a:focus {
	color: #CDE0CB;
	text-decoration:none;
}
.blog-link p{
	color: #CDE0CB;
	line-height:17px;
	font-weight:bold;
}
.copyright {
	color:#17772d;
	border-top:1px solid #3c9c52;
/* 	font-size:12px; */
	margin-top:40px;
	padding-top:10px;
}
.label {
    font-size:16px;
    font-weight: inherit;
    padding:5px 11px;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);
}
legend {
    color:inherit;
}

.panel {
	
}
.panel p {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
}
section .panel p.pnot {
    margin: 20px 0 0 0;
   
}

section .panel legend p.pnot {
 font-family: "ff-tisa-web-pro","proxima-nova",sans-serif;
    font-size:20px;
    margin:25px 0 15px 0;
    color:#48A95E;
}

a {
    color: inherit;
}
/*a i.icon-remove:hover,a i.icon-remove:focus{
    text-decoration: none;
    color:red;
}*/
 img {
    max-width: 100%;
}
legend {
    border:none;
    margin-bottom:4px;
}
p.small, pre {
    font-size: 70%;
}
section {
    position: relative;
    /*padding:80px 0px 0px 60px;*/
    height: 100%;
    background:#fff;
    /*#84BE53;*/
    /*margin-right: 20%;*/
    text-align: center;
}
section#intro {
    margin-right:0;
}
section#prelaunch-main span.add-on {
	font-size:30px;
	padding:0 2px;
}
section div.panelwrap {
    margin:95px auto 0;
/*     width:80%; */
width:100%;
    /*background: #fafafa;*/
    /*border:solid 1px #ededed;*/
    text-align: left;
}
section div.panelwrap h2 {
    color:#48A95E;
    margin: 20px 0;
    border-bottom:1px solid #E0E0DE;
    font-weight: 600;
    font-weight: normal;
    font-family: "ff-tisa-web-pro","proxima-nova",sans-serif;
    
}

#prelaunch-main p {
	 /* font-family: "ff-tisa-web-pro","proxima-nova",sans-serif; */
}

#prelaunch-main input {
	font-weight:bold;
	font-size:18px;
}

.panel h4 {
   color: #48A95E;
	font-family: "ff-tisa-web-pro","proxima-nova",sans-serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 1.4em;
	margin: 30px 0 30px 0;
    
}
section#intro {
    padding:0;
    background: none;
}
::-ms-clear {
    display: none;
}

/* .sticky-wrapper {
	background:none!important;
	
} */
#floatpanel {
    text-align: center;
    top:0px;
    float:left;
    width:11%;
    min-width: 130px;
    max-width: 240px;
    /*position: relative;*/
    z-index: 1000;
    margin-right: 100px;
    padding:20px;
    background: #EDF2F5;
    border-radius:0 4px 4px 0;
    border:1px solid #D9EDF7;
    color:inherit;
    visibility:hidden;
    height:auto;
}
#floatpanel-inner {
    text-align:left;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    overflow:hidden;
}

#floatpanel  ul li {
		font-size:.8em;
		color:#222
	}
#floatpanel  ul li span{
	color:#666;
	}
section div.panel.span12 {
    width:95%;
    padding-left:17%;
}
/* prevent the intro link from taking up any space */
 a[data-panel=intro] {
    padding:0!important;
}
li a[data-panel=intro] {
    padding:0!important;
}
.next-button {
    border:none;
}
.next-button {
/*  border-top: 2px solid  #fff;
  box-shadow: inset 0 1px 0 #ccc;*/
    padding:0 0 60px;
    background-color: #f0f0f0;
}
section[data-panel=page2] .panelwrap .next-button-wrap .next-button.panelmenu.span12
{
    padding: 0 0 70px;
}
#floatpanel.stuck {
    /*margin:0px;*/
    position: fixed;
    top:25%;
    /*right:10%;*/
    left:0;
    z-index: 1000;
    margin: auto auto;
    visibility: visible;
/*     min-height:50%; */
height:auto;

}
#progressbarwrap {
    /* background:#6EB335;*/
    width:100%;
    margin-top:-1px;
    position: relative;
    z-index: 1000;
    text-align:center;
    visibility:hidden;
}
#progressbarwrap.stuck {
    position: fixed;
    top:52px;
    /*     margin:0px; */
    /*     z-index: 1000; */
    /*     text-align: center; */
    visibility:visible;
}
.progressbar {
    /*
    list-style-type: none;
    text-align: center;
    margin: auto auto;
    position: relative;
    left:10%;
    */
    padding:5px;
    z-index: 1000;
    background: #D8EBD6;
    background: rgba(216, 235, 214, 0.9);
    z-index: 1000;
    /*font-weight: bold;*/
    color:#48a95e;
}
.progressbar li {
    /*float: left;*/
    display:inline;
    white-space: nowrap;
    position:relative;
}
.progressbar li a {
    padding:10px 20px;
    font-size:18px;
    /*display: inline-block;*/
}
.progressbar li a:hover {
    text-decoration: none;
    color:#13771c;
    /*display: inline-block;*/
}
.progressbar li a:active,.progressbar li a:focus {
    text-decoration: none;
      color: #13771c;
}
.progressbar li .active {
    color: #13771c;
    background-color: #A6CEA2;
}

/*
.progressbar li i {
    color:#D8EBD6;
    position:absolute;
    right:45%;
    bottom:-150%;
    font-size:45px;
}*/
.progressbar li a.active+span.prog-caret{
    border-bottom: 10px solid #D8EBD6;
}
.prog-caret {
     width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    left:45%;
    /* bottom:-57%; */
    bottom:-46%;
}
.pageform {
    float:left;
    padding-right: 50px;
}
.big-text {
    padding:20px;
    padding-top: 40px;
    margin:15px;
    background-color: #B0CCEE;
}
.hc-boxes {
    background-color: #B0CCEE;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    float:left;
}
.benefits-check {
    list-style-type: none;
    float:left;
}
.quality-check {
    list-style-type: none;
    width:200px;
    float:left;
}
.very-small {
    font-size: 12px;
}
.footer {
    background-color: #444444;
    bottom: 0;
    color: #FFFFFF;
    min-height: 50%;
    position: absolute;
    width: 100%;
}
.quality-check-wrapper {
    float:none;
}
#page2-results {
    float:left;
}

#resultsSection {
	text-align:center;
}

#resultsSection .resultwrap {
	
	background:#EDF2F5;
	border:solid 1px #D9EDF7;
	color:#555B5E;
	border-radius:0 0 0 0;
	margin:auto auto;
	text-align:left;
	float:none;
	margin-bottom:10px;
}

#resultsSection .resultwrap p{
	margin-top:0;
	
}
#resultsSection .resultwrap .topwrap h2 {
	margin:0;
	line-height:12px;
	text-align:center;
	padding-bottom:5px
}

#resultsSection .resultwrap .topwrap .centered h4 {
	display:inline-block;
	padding:15px 10px 20px 70px;
	margin-bottom:0;
	font-size:1em;
}

#resultsSection .resultwrap .nano .content p {
	font-family: ff-tisa-web-pro,proxima-nova,sans-serif;
	font-size:.85em;
}

#resultsSection .resultwrap .topwrap h2 small {
	font-size:.5em;
	color:##555B5E;
}

label.radio-inline {
	diplay:inline;
}

   .centered {
   text-align:center!important
   }
   
   .bordertop {
   border:none;
   border-top-width:  1px;
   border-radius:0 0 0 0 }
   
   /* #resultsSection .centered > :first-child div{
   top:-10px;
   } */
   
   /*  #resultsSection .centered #aptcNoPlans,
    #resultsSection .centered #aptcAllPlans,
    #resultsSection .centered #aptcAllPlansNoAptc {
    top:-10px
    } */
   
#resultsSection .centered .span3,
#resultsSection .centered .span6,
#resultsSection .centered .span4,
#resultsSection .centered .span9
{
	display:inline-block; 
	float:none; /* center tile on page */
	/* float:left\0; IE8, IE9
	float:left9\0;Only works in IE9 */
	vertical-align:top;
	
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-right:5px;
	margin-top:10px;
	margin-left:15px;
	
}

.ie10 #resultsSection .centered .span3{
	/* float:left; */
}

#resultsSection .centered .span3 p {
	text-align:left;
	font-size:.85em;
	margin-top:0;
}

#resultsSection .centered .span3 .nano .content {
	margin-bottom:10px;
}

#resultsSection .resultwrap  h3, #resultsSection .resultwrap  h5 {
	text-align:center;
}

#resultsSection .resultwrap  h4 {
	margin:10px;
	line-height:1em;
}

#resultsSection .resultwrap  h4 small{
	display:block;
	color:#555;
}

#resultsSection .resultwrap  h3 {
	margin-bottom:0;
}

#resultsSection .resultwrap  h3 small{
	color:#555;
}

#resultsSection .resultwrap .topwrap h3 .subtitle{
	display:block;
	margin:0px 5px 10px 5px;
		
}



#callUs h3 {
	margin:0;

}

#callUs h3 small {
	/* display:block; */
	margin-left:20px;
	line-height:0;
}

#callUs p.header {
	font-size:1.5em;
	font-weight:bold;
	margin:5px 0;
	
}


#callUs ul.unstyled {
	text-align:center !important;
}

#callUs ul.unstyled li {
	text-aligh:center;
	float:left;
	margin:10px 20px 0 10px;
	font-size:.9em;
}

#callUs ul.unstyled li i {
	margin-right:5px;
	color:#80A4B2;
}

#resultsSection .centered .span3 .score{
	position:absolute;
	z-index:1000;
	top:-25px;
	left:-20px;
}

#aptcAllPlans .score img {
	
}

ul {
    list-style-type: none;
    margin-left: 0px;
}

ul#ben-list li {
	padding:5px 0;
}
ul#ben-list li label{
    font-size:20px;
    padding:5px;
    line-height:1em;
}
.hero-wrapper {
    text-align: center;
    background-color: #f5f5fe;
    margin-bottom:50px;
    padding: 30px;
}
.hero-form {
    padding:20px;
    background-color: lightblue;
}
.add-plus-pop ul li:before {
    content:'\f007';
}
.add-user-drop {
    padding: 5px 5px 10px 10px !important;
    background-color: #fff;
}
a.icon-remove-sign {
    text-decoration: none;
}
.add-cov-table-wrap {
    float:left;
}
.span-flex {
    width:65.9574% !important;
}
.next-button {
    /* position:absolute;*/
    text-align: center;
    width: 90%;
    /* top: 70%;*/
}
[rel=tooltip], [rel=tooltip]:hover, [rel=tooltip]:focus {
    text-decoration: none;
    color:inherit;
    white-space:nowrap;
}
section .panel p.radiopg3.pnot {
    margin-bottom:10px;
    margin-top:0;
}
.radiopg3 label {
    display:inline-block;
    padding-right: 15px;
    font-size:20px;
}
a[data-toggle=tooltip], a[data-toggle=tooltip]:hover {
    text-decoration: none;
    border-bottom:1px dotted;
    border-color:#aaa;
    white-space:nowrap;
}
p#postfloat{
    line-height:normal;
    font-size:12px;
    position:relative;
    bottom:0;
    padding:5px 5px 0 0;
    margin-right:0;
    border-top:1px solid #fff;
    text-align:left;
}
.tooltip-inner {
    text-align:left;
}
input[type=checkbox] {
    margin-right:10px;
}
.circle {
    color:green;
    font-size: 2em;
    margin: -1.4em 0em 0em -1.6em;
}
.hc-option {
    background-color: #F8F8F8;
}
.hc-option-content {
    text-align: center;
}
#fam-cov-plus,#fam-cov-minus {
    border:1px solid #3D99DF; /*#959c9f;*/
    background: #3D99DF; /*#C1C1C1;*/
    color:#ffffff;
    text-shadow:none;
}
#fam-cov-plus {
border-radius: 0 3px 3px 0;
}
#fam-cov-minus {
    border-radius: 3px 0 0 3px;
}
#fam-cov {
    border:1px solid #3D99DF; /*#959c9f;*/
    width:50px;
    font-weight: bold;
    background: #ffffff;

}
.bdate {
    border:1px solid #3D99DF !important; /* #959C9F*/
    border-radius: 1px !important;
}
/*#fam-cov {
    color: #62C462;
}
#fam-cov:after {
    padding-left: 5px;
    content: "\f007";
    font-family: "FontAwesome";
}
#fam-cov:hover,#fam-cov:focus {
    color:#51A351;
    text-decoration: none;
}

.fam-pop {
   position: absolute; 
   padding: 10px;
   margin-top:20px;
   margin-left: 45%;
   background-color: rgba(0, 0, 0, 0.7);
}*/

/*.chk-plan-table {

    margin-bottom: 5px;
    font-size: .8em;
    float:right;
}*/

/*.fam-done {
background-color: #000000;
    float:right;
}*/
 .zipinput {
    margin-top: 10px;
    margin-right:-5px;
    /*text-align: center;*/
}
div#page1-form_error {
    padding-top: 5px;
    padding-bottom: 2px;
    /*     height:30px; */
}

div#page1-form_error label.error {
	font-size:16px;
}

a[data-panel=page3] small, #pg2-1-noThanks {
    color:#3D99DF;
}
.cov-remove {
    font-size: .8em;
    
    color:#3D99DF;
}

 #chk-plan-table.table th, #chk-plan-table.table td {
 	text-align:center;
 }
#chk-plan-table tbody tr span.add-on{
background-color: #fff;
    border:none;
width:30px;
}
#chk-plan-table tbody tr:first-of-type span.add-on {
    color:#555B5E;
    font-size:14px;
    margin-right:10px;
}

#chk-plan-table tbody tr:first-of-type span.add-on em {
	font-style:normal;
	text-transform:uppercase;
	
}

.cov-remove:focus, .cov-remove:hover {
    text-decoration: none;
}
#fam-cov_error {
    color:#B90000 !important;
    font-size:15px !important;
    padding-left:5px;
    white-space:normal;
    line-height: 13px;
}
#fam-cov_error label {
/*     line-height:30px !important; */
    font-weight:normal;
    font-size:16px;
    line-height: 16px;
    margin-top:10px;
}
.bday_error {
    /* height:10px; */
   /*  width:180px;
    margin: -9px -16px -13px 48px; */
    font-size:16px;
    color: #B90000;
    margin-left:40px;
}
    .preform_error {
    font-size: 16px;
    color: #B90000;
    /*  margin-left:40px; */
    }
#fam-cov {
    text-align: center;
}
/* error class for input */
 input.error {
    background-color: #FEEAE7 !important;
    color:#B90000 !important;
    border-color: #B94A48 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}
#chk-plan-table.table th, #chk-plan-table.table td {
    /* padding: 8px 0 4px; */
    border:none;
}

#chk-plan-table.table td.col1  {
	width:44%;
}
	
small {
    font-size: 14px;
    margin-top: 10px;
}

/* #zipcounties { */

/*     margin-left:-6px !important; */

/*     font-size: 48px !important; */

/*     border-radius: 0 4px 4px 0 !important; */

/*     height:52px !important; */

/* } */
.getassistance-dd{
    top:48px;
    text-align: left;
    border-radius: 0;
}  
 #formzip.inpcounties {
    /*     border-radius: 4px 0 0 4px; */
    /*     margin-right:0px; */
}
.dropdown-menu:before{
 display:none!important; /*remove the caret */
}
.dropdown-menu:after{
 display:none!important; /*remove the caret */
}

.btn-group {
    font-size:inherit;
}
.countymenu.dropdown-menu {
    color:black;
}
.countymenu {
    /*     top:inherit !important; */
    /*     margin-left: 236px !important; */
    /*     margin-top: 1px; */
    margin-left:20px;
    width:248px;
}
ul.cov-ben li:before {
    font-family: "FontAwesome";
    content:'\f046\00a0\00a0';
    font-size:22px;
}
.countymenu.dropdown-menu > li > a:hover, .countymenu.dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #32B3F4;
    background-image: linear-gradient(to bottom, #32BAFE, #32A9E5);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
}
.countyactive {
    background-color: #0081C2 !important;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3) !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}
.a-image {
    text-decoration: none !important;
}
ul.nav > li {
    padding: 1px 0 0 0;
}
.tooltip {
    font-weight: normal !important;
    font-size: 13px !important;
}
#hero-wrapper {
    margin-top:20%;
}
/* nano scrolling */
 .nano {
    height:120px;
    margin-bottom:20px;
}
#chk-plan-table tbody tr td:not(:nth-of-type(1)){
	text-align:center;
vertical-align: top;
}

#cont-table-header th {
font-weight: 600;
font-size: 20px;
text-align:center;
padding-bottom:3px;
padding-left:15px;
}

#chk-plan-table tbody {
	
	border:1px solid #ededed;
	
}

 #chk-plan-table tbody tr td {
	padding:5px 0px;
} 
.nano .content {
    padding: 10px;
}
.nano .pane {
    background: #ddd;
}
.nano .slider {
    background: #111;
}

#pg3 fieldset {
	padding:10px 0;
	margin-bottom:10px;
}
}
/* prelaunch page */
 dt, dd {
    line-height: 33px;
}
dt {
    font-weight:normal;
    width:300px;
    text-align:left;
}
dd {
/*     margin-left:255px; */
}

.gutter10 {
	padding:10px;
}

.gutter20 {
	padding:20px;
}

.gutter30 {
	padding:30px;
}
.gutter30m {
    margin:30px 0 30px;
}

.gutter20m {
	margin:20px 0 20px;
}

.gutter10m {
	margin:10px 0 10px;
}


section[data-panel=page1] .span2 label {
   margin-top:4px;
   margin-bottom:12px;
   }
   
 
 #updateLead {
    background: none repeat scroll 0 0 #3D99DF;
    border-radius: 0 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
    color:#fff;
    text-shadow:none;
    padding:15px 45px;
   


}

.white {
	background:#fff!important;
}

.l-border {
	border:none;
	border-radius:0;
	border-left: 1px solid #e3e3e3;
	box-shadow:none;
}

#leadName, #leadEmail, #leadPhone {
	width:80%;
	height:30px;
	

}


   
   
/*laptop-----------------------------------------------*/
 @media all and (max-height: 810px) {
    #hero-wrapper {
        margin-top:10%;
        margin-left:3%;
        margin-right:3%;
    }
    
    #hc-ticker-wrap {
    width:60%
    }
    
    
   /* section[data-panel=page1] .span-flex {
        width:97% !important;
        margin-top:-10px;
        margin-left: -28px;
        margin-bottom: -18px;
    }*/
    form#formcov {
        margin:0;
    }
    .bday_error {
/*         display:inline-block; */
/*         margin-left:-60px; */
/*margin-left:10px;*/
        vertical-align:middle;
/*        margin-top:-9px;*/
        padding-left:0;
        line-height:14px;
    }

    #chk-plan-table.table th, #chk-plan-table.table td {
        padding-top: 10px;
    }
    .table th, .table td {
        border:none;
    }
/*     .panel { */
/*         margin-top:-30px; */
/*     } */
/*    .progressbar {
        padding: 5px;
    }*/
/*     section[data-panel=page1] h2 { */
/*         font-size:25.5px; */
/*         line-height: 26px; */
    #chk-plan-table thead th {
        padding-bottom:6px !important;
    }
    #floatpanel {
        top:78px;
        padding:8px;
    }
    .next-button {
/*  border-top: 2px solid  #fff;
  box-shadow: inset 0 1px 0 #ccc;*/
    padding:0 0 30px;
    background-color: #f0f0f0;
}
section[data-panel=page2] .panelwrap .next-button-wrap .next-button.panelmenu.span12
{
    padding: 0 0 0px;
}

}

/*l endlaptop-----------------------------------------------*/



@media all and (max-height:920px) {
	#gps img {
	width:25%;
	}
}

@media all and (max-width: 1432px) {
    .bday_error {
       /*  margin-left:-61px;
        margin-right:-14px;
        width:167px; */
        font-size:14px;
    }
    #floatpanel {
        top:78px;
        padding:8px;
    }
}

/* @media all and (max-width: 1030px) {
	
    #chk-plan-table.table tr, #chk-plan-table.table td, #chk-plan-table.table th {
        	padding: 1px 11px 2px;
        text-align:center;
        border:none;
    }
    .span-flex {
        margin-top:-9px;
    }
    #getstarted, #editzip, #zipcounties {
        margin-bottom: 9px !important;
    }
    .next-button {
        padding: 15px !important;
    }
    input:not(#formzip) {
        font-size:12px;
    }
    .next-button .btn {
        font-size:14px !important;
        padding: 6px 11px;
    }

    .panel {
        margin-top:-30px;
    }
    .progressbar {
        padding:4px
    }
    .progressbar li a {
        padding: 7px;
    }
    .panel p {
        font-size:18px;
        line-height:22px;
    }
    section:not([data-panel=page1]) label {
        font-size:16px;
    }
    small {
        font-size:14px;
    }
    #floatpanel {
        padding:19px;
    }
    ul {
        font-size:14px;
    }
    #floatpanel p {
        font-size:17.5px;
        line-height:18px;
        padding:2px;
        margin-bottom:-2px;
    }
    section:not([data-panel=page1]) h2 {
section h2{
        font-size:30px;
        line-height:29px;
        margin: 60px 0 16px !important;
    }
    #form-cov {
        margin-top:0px !important;
        margin-bottom: 0px !important;
    }
    #chk-plan-table thead {
        font-size: 14px;
    }
    #chk-plan-table tbody tr td div.input-prepend {
        padding-right:0px !important;
    }
    #chk-plan-table thead tr {
        padding-right: 5px;
    }
    .table th, .table td {
        vertical-align: top;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top:none;
    }
    .navbar-inner {
        background: #48A95E !important;
    }
} */
@media all and (max-width:944px) {
    h2 {
        /* 		font-size:18.5px !important; */
        /* 		line-height: 18px !important; */
       /*  margin-top: 44px !important; */
        margin-bottom: 3px !important;
    }
    .bday_error {
        display:none !important;
    }
    #chk-plan-table.table th, #chk-plan-table.table td {
        padding: 1px 0 4px;
    }
    section[data-panel=page1] .span-flex {
        width:99% !important;
    }
}

@media all and (max-width:900px) {
section#prelaunch-main .span3
{
	display:none;
visibility:hidden;
opacity:0;
}

}

/* mobile phone */
/* @media only screen and (min-device-width : 300px) and (max-device-width : 730px) {

	.navbar-inner {
	background-color:#ffffff;
	}
    input[type=checkbox], input[type=radio] {
        -webkit-transform:scale(3, 3);
        -icab-transform:scale(3, 3);
        -moz-transform:scale(3, 3);
        -ms-transform:scale(3, 3);
        -o-transform:scale(3, 3);
        transform:scale(3, 3);
        margin:20px;
    }
    html, body {
        height:auto;
    }
    #hero-wrapper {
        padding: 10px;
        top:27% !important;
    }
    .navbar-inner .brand img {
        height:100px !important;
        padding-bottom:30px;
    }
    .navbar-inner a:not(.brand) {
        background: #fff !important;
        width:100%;
    }
    #topnav li a {
        padding: 5px 11px !important;
        font-size:40px !important;
        padding:45px 20px 25px 10px !important;
    }
    #topnav li:nth-of-type(3) {
        display:none;
    }
    #hc-ticker {
        height: 60px;
    }
#hc-ticker ul {
    font-size:31px;
    margin-left:60px;
    display:block;
}
#hc-ticker span {
    font-size:32px;
}
#intro-message {
    padding: 20px 0;
    font-size:33px;
    line-height: 40px;
    width:100%;
}
#mediabox {
    width:100%;
    height:40%;
}
        img[alt^=Getinsured] + span {
            display:none !important;
        }
        .progressbar, .progressbarwrap, .tooltip {
            display:none;
            visibility:hidden;
        }
        .input-append .add-on, .input-prepend .add-on {
            font-size: 36px !important;
            padding: 14px !important;
        }
        #income {
            font-size:40px !important;
            width: 177px !important;
            height: 40px !important;
        }
        section[data-panel=page2] .input-append.input-prepend {
            margin: 30px 0;
        }
        div[class^=span] {
            width:99% !important;
        } */
        /* 		h1, h2, h3, h4, h5, h6 { */
        /* 	margin:5px 0 !important; */
        /* 	} */
     /*    div.panelwrap {
            background: #fff !important;
            border:none !important;
            padding:0 !important;
            width:90% !important;
        }
        .radio */
        /*okay font*/
      /*   section[data-panel] h2 {
            font-size:70px !important;
            line-height:65px !important;
            margin-bottom: 40px!important;
        }
        .custom-rc {
            width:50px;
            height:50px;
        }
        #cont-table-header {
        display:none !important;
        visibility: hidden !important;
        }
        
        [rel=tooltip], 
        [rel=tooltip]:hover, 
        [rel=tooltip]:focus,
		[data-toggle=tooltip],
		[data-toggle=tooltip]:hover,
		[data-toggle=tooltip]:focus
		 {
    	white-space:normal;
    	border:none;
		}
		i.icon-question-sign {
		display:none;
		visibility:hidden;
		} */

/*         .panel { */
/*             margin-top: -20px!important; */
/*         } */
    /*     #hero-wrapper h1 {
            font-size:80px !important;
            line-height:80px !important;
            margin-bottom:40px !important;
        }
        #hero-wrapper h4 {
            font-size:50px !important;
            line-height: 50px !important;
            margin-bottom:20px !important;
        } */
        /*okay font*/
     /*    .panel p {
            font-size:50px !important;
            line-height:50px !important;
            margin: 30px 0 30px !important;
        }
        section:not([data-panel=page1]) label {
            font-size:50px !important;
            line-height: 49px !important;
        }
        .next-button .btn {
            font-size: 50px !important;
            padding: 35px !important;
            border-radius: 15px !important;
            margin: 40px 0 30px;
        }
        section[data-panel=page2] .panelwrap .panel .span8 p:last-of-type {
            line-height:25px !important;
        }
        small {
            font-size:40px !important;
            line-height: 40px !important;
        }
        #formzip {
            font-size: 70px !important;
            padding: 10px !important;
            width:310px;
            height: 100px !important;
            border-radius:10px !important;
            margin-bottom:20px !important;
        } */
        /* make everything centered */
     /*    input.bdate,#formzip {
        line-height:normal;
        }
        span.label {
        font-size: 33px !important;
        padding: 30px;
        border-radius: 30px;}
        #getstarted, #editzip, #zipcounties {
            font-size:70px !important;
            padding: 50px !important;
            margin-bottom:10px !important;
            border-radius:20px !important;
        }
        .countymenu {
            min-width: 80px !important;
            width: 609px !important;
            font-size:70px!important;
        }
        .countymenu li a {
            padding: 40px;
        }
        section[data-panel=page1] label {
            font-size: 45px !important;
            margin-top:40px !important;
            margin-bottom:40px !important;
        }
        #chk-plan-table thead th {
            font-size:50px !important;
            font-weight:normal !important;
            padding-bottom: 8px !important;
            padding-top: 8px !important;
            line-height:46px !important;
        }
        #chk-plan-table thead th:last-of-type {
            display:none !important;
        }
        section[data-panel=page1] span.add-on {
            display:none;
        }
        section[data-panel=page1] input.bdate {
            border-radius:4px !important;
            font-size:33px !important;
            padding:4px !important;
            margin-right:-15px !important;
            width:246px!important;
            height:60px !important;
        }
        #fam-cov-plus, #fam-cov-minus {
            font-size:50px;
            padding: 6px 26px;
        }
        #fam-cov {
            min-height:0;
            width:108px;
            height: 66px;
            font-size: 52px !important;
            margin-bottom:50px;


        }
        #fam-cov_error {
            display:block;
        }
        .cov-remove {
            font-size:6em !important;
        }
        #fam-cov_error label {
            white-space: normal;
            line-height: 25px !important;
            font-size:25px !important;
        }
    }

 */
 /*-------*/
 
 
 .custom-rc:focus{
 	outline:none;
 }
 
@media (max-height: 610px) {
	.next-button{
		padding-bottom:0;
	}
}

a.skip-nav:link, a.skip-nav:hover, a.skip-nav:visited {
	position: absolute;
	top: -1000px;
}

a.skip-nav:active, a.skip-nav:focus {
	left: -150px;
	height: auto;
	width: auto;
	padding: 5px 10px;
	position: absolute;
	top: 0;
}

#disclaimer{
	background-color: #f0f0f0;
	text-align:left;
}

#disclaimer p{
	padding: 20px;
	line-height: 25px;
}

#disclaimer ul{
	list-style-type: disc;
	padding-left: 65px;
	padding-bottom: 20px;
}

 #resultsSection {
	padding-left: 11.5%;
}

@media (max-width: 1100px) {
	 #resultsSection {
	padding-left: 16%;
}
}