@charset "utf-8";
/* CSS Document */

.displaytagtable {
	/* border: 1px solid #666;
	width: 95%; */
	margin: 20px 0 20px 0;
}

.displaytagtable th,td {
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

.displaytagtable thead tr {
	height: 43px;
	background-color: #999999; 
}

.displaytagtable th.sorted {
	background-color: #eee;
}

.displaytagtable th a,th a:visited {
	color: black;
}

.displaytagtable th a:hover {
	text-decoration: underline;
	color: black;
}

.displaytagtable th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

.displaytagtable th.sortable a {
	background-image: url(../images/arrow_off.png);
    background-repeat: no-repeat;
}

.displaytagtable th.order1 a {
	background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
}

.displaytagtable th.order2 a {
	background-image: url(../images/arrow_up.png);
    background-repeat: no-repeat;
}

.displaytagtable tr.odd {
	background-color: #fff
}

.displaytagtable tr.tableRowEven,tr.even {
	background-color: #eee;
}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    /*border-top:1px solid black;*/
}
.group-2 {
    font-style:italic;
    /*border-top: 1px solid black;*/

}

.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
