hr {
	margin-top: 0;
}

#rightpanel {
	padding-top: 0;
}

.span3 a.btn {
	margin-top: 10px;
}

.affix {
	min-width: 213px;
}

h1 {
	font-size: 22px;
	line-height: normal;
}

#titlebar, #main.titlebar{
	background-color: #ffffff;
    background-repeat: repeat-x;
    border-top: 4px solid ##99cc00;
	border-bottom:solid 1px #ccc;
}
hr {
	margin: 0;
}

.tab-content {
  height:auto; /*280px*/
}

.blue {
    color: #0088CC;
    background: none;
}
.blue:hover{
    color: #0088cc;
    text-decoration: underline;
    cursor: pointer;
}
.affix {
	min-width: 213px;
}
#footer {
	padding:15px 0;
}
.nav-tabs.nav-stacked > li > a {
	border: 1px solid #ddd;
}
.nav-tabs.nav-stacked > li > a:hover {
	border: 1px solid #ddd;
}
.row-fluid ul li.active a {
    background: none repeat scroll 0 0 #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.row-fluid ul li.active a:hover {
    background: none repeat scroll 0 0 #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

#masthead .brand {
    color: #FFFFFF;
    font-family: 'Droid Serif',Georgia,Times,serif;
    font-size: 20px;
    text-indent: 30px;
    text-shadow: 0.025em 0.025em 0.025em #333333;
    background-color: #fff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.navbar .brand {
    margin-left: -10px;
}



/********************* Navhelp bar ***********************/

#navhelp ul {
	float:right;
}



#titlebar h3, #main.titlebar h3 {
  line-height: 54px;
}


/********************* Navhelp bar ***********************/

#navhelp ul {
	float:right;
	margin-right:0;
}

#navhelp .navbar-inner {
    background-color: #FFF;
    background-image: none;
    background-repeat: repeat-x;
    border: none;
    box-shadow: none;
    min-height: 39px;
    padding-left: 20px;
    padding-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


#navhelp.navbar .nav li.dropdown.open > .dropdown-toggle, 
#navhelp.navbar .nav li.dropdown.active > .dropdown-toggle, 
#navhelp.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}

#navhelp .nav > li > a.helptip {
	padding:0;
}

.help-shortcut {
	list-style:none;
}

.help-shortcut > span.help-icon {
display: block;
cursor: pointer;
color: #A8A8A8;
font-weight: bold;
font-size: 12px;
line-height: 15px;
vertical-align: middle;
font-family: arial;
border: 2px solid rgba(51, 51, 51, 0.3);
width: 15px;
height: 15px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
margin:2px 0 0 8px;
}

.help-shortcut:hover > span.help-icon,
.help-shortcut:active > span.help-icon,
.help-shortcut:focus > span.help-icon {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #1286CD;
    background-image: linear-gradient(#58B0E6, #3295D1);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    width: 20px;
	height: 19px;
	padding-top:2px;
	margin:0 0 0 5px;
}

#navhelp .nav > li > .help-panel:after {
    border-bottom: 6px solid #1F92D2;
}

#navhelp .pull-right > li > .dropdown-menu,
#navhelp .nav > li > .dropdown-menu.pull-right {
	right:-10px;
}

.help-panel {
	background-color:#1f92d2;
	padding:10px 15px 15px 15px;
	left:29px;
	color:#FFF;
	width:240px;
}

#navhelp h2 {
	font-size:18px;
	font-weight:normal;
	margin:0;
	border-bottom:1px solid #CCEBFF;
}

#navhelp h3 {
	font-size:14px;
	font-weight:normal;
	margin: 15px 0 0;
	line-height: 30px;
}

#navhelp .dropdown-menu h3 a {
	padding-left:0;
	color:#FFF;
}

#navhelp .help-panel ul {
	list-style:none;
	width:100%;
}


#navhelp .help-panel a {
    color: #CCEBFF;
    white-space: normal;
    line-height: 16px;
    padding: 5px 10px 8px 18px;
}

#navhelp .dropdown-menu li > a:hover, #navhelp .dropdown-menu li > a:focus, #navhelp .dropdown-submenu:hover > a {
    background-color: #239EE0;
    background-image:none;
    color: #FFF;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#navhelp .dropdown-menu .btn-close {
	font-weight:bold;
	padding:3px 5px;
	margin-top:7px;
}


/******************** help-shortcut END ************************/

.well-small {
	background-color: #F5F5F5;
  	border: 1px solid #E3E3E3;
  	border-radius: 4px 4px 4px 4px;
 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	padding:9px;
	min-height: 20px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0;
}

.margin-top {
	margin-top: 20px;
}
.margin-right {
	margin-right: 10px;
}
.margin-bottom {
	margin-bottom: 20px;
}
.margin-left {
	margin-left: 10px;
}
 .nav-stacked {
	min-width: 184px;
}
.span3 a.btn {
	margin: 10px 0 0 10px;
}
.span3 a:hover {
	text-decoration: none;
}

/*********************** "See if you qualify" modal box *****************************/
.red {
	color: #A50000;
}
#qualify-coverage .modal-body{
	min-height: 230px;
}

#myTabContent #home .well, #myTabContent #hcoverage .well, #myTabContent form, #myTabContent #chip .well, #myTabContent #incomelevel .well, #myTabContent #outcome .well {
	margin-bottom: 0;
}

#myTabContent p:nth-of-type(1) {
	margin-top: 20px;	
}

#myTabContent #home .well {
	margin-top: 30px;
}

#myTabContent #hcoverage .well {
	margin-top: 80px;
}

 #myTabContent #chip .well {
 	margin-top: 105px;
 }
 #myTabContent #incomelevel .well {
 	margin-top: 105px;
 }
 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/****************************** Changes in Circumstance *********************/
.changes .span5 {
	margin: 20px;
}
.span5 .radio {
	min-width: 160px;
}


.clear {
  clear:both;
  display:block;
}
.form-vertical hr {
  margin: 10px 0;
  clear: both;
  display: block;
}

#rightpanel {
	position:relative;
	float:right;
	padding:10px 0 30px 0;
	min-height:200px;
}
.tab-content {
  height:auto; /*280px*/
}

.blue {
    color: #0088CC;
    background: none;
}
.blue:hover{
    color: #0088cc;
    text-decoration: underline;
    cursor: pointer;
}

.no-margin {
	margin-bottom:0;
}

#numberpeople p {
	margin-bottom:9px;
}

/****************************** Scroll to the next section *********************/

.section {
  display: none;
}
.clear:after {
  content:"";
  display:table;
  clear:both;
}
.edit, .save, .cancel {
  display:none;
}



/********************************* .kid *************************************/
.kid{
	border: 1px solid #ccc;
	padding: 20px 0 5px ;
	margin:10px 0;
	border-radius: 4px;
	background: #fcfcfc;
}



.margin-bottom {
	margin-bottom: 15px;
}
.no-margin{
	margin:0;
}
.margin-left{
	margin-left:10px;
}
input[type="checkbox"].custom-select{
	margin:-3px 5px 0 ;
}
.custom-select{
	padding:2px 4px;
	background: #f5f5f5;
	border:1px solid #e3e3e3;
	border-radius: 3px;

}