 /*------------------------------------------------\
|                     General                       |
 \------------------------------------------------*/
a {
	text-decoration: none;
}
a:hover {
	border-bottom: 1px dotted transparent;
}
ul.nav-list > li > a { border-bottom: 1px dotted transparent;}
.left {float: left;}
.right {float: right;}
.indent {margin-left: 15px;}

.data-display div:nth-child(2n+1) {
    float: left;
}
.data-display div:nth-child(2n) {
    text-align: right;
}


.notes {
	font-size: 85%;
}
.notes label {
	font-size: 85%;
}
 /*------------------------------------------------\
|                      Content                       |
 \------------------------------------------------*/
#sidebar #list-2 {
	margin-top: 15%;
}
#enroll-date .dl-horizontal {
    float: right;
    margin: 0;
    position: relative;
    margin:10px 10px 0 0;
}
#progress-bar {
	margin-top: 50px;
	margin-bottom: 68px;
}

#bar {
	width: 97%;
	height: 15px;
	background-color: #eeebf1;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;

}
#bar ul {
	display: inline;
}
#bar li {
    list-style: none;
    float: left;
}
#bar li#one, #bar li#two, #bar li#three, #bar li#four {width: 23%;}
.steps{
	float: left;
    position: relative;
    z-index: 10;
}
.inactive-state,
.active-state,
.completed-state {
	width: 47%;
	top: -28px;
}
.active-state#step-one,
.active-state#step-two,
.active-state#step-three,
.active-state#step-four {
    background-image: url('../img/blue-circle.png');
}
.inactive-state#step-one,
.inactive-state#step-two,
.inactive-state#step-three,
.inactive-state#step-four {
    background-image: url('../img/gray-circle.png');
}
.completed-state#step-one,
.completed-state#step-two,
.completed-state#step-three,
.completed-state#step-four {
    background-image: url('../img/green-circle.png');

}
#step-one, 
#step-two, 
#step-three, 
#step-four {
	background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 73px;
}
#step-one {
    left: 29%;
}
#step-two {
    left: 33%;
}
#step-three {
    left: 35%;
}
#step-four {
    left: 39.5%;
}

.step-number {
	left: 27px;
    top: 24px;
}
.inactive-state .step-number {
	color: #aaa;
}

.step-number {
    color: #fff;
    float: left;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    z-index: 20;
    top: 27px;
    left: 24px;
}
.step-details {
	display: block;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    position: relative;
}
#s1 {
	left: 24px;
    top: -20px;
}
#s2 {
	left: 28px;
    top: -20px;
}
#s3 {
	left: -19px;
    top: 52px;
}
#s4 {
	left: 6px;
    top: 49px;
}

#employer-dashboard #s2 {
    left: 75px;
    top: -20px;
}
#employer-dashboard #s3 {
    left: 123px;
    top: -21px;
}

#employer-dashboard #s4 {
    left: 167px;
    top: -21px;
}

/* #s3, #s4 { text-align: center;} */

.info-block {min-height: 500px; height: auto;}
.info-block .header{
	margin-bottom: 0;
}
.info-block .data-display div:nth-child(2n) {
	font-weight: bold;
}

.info-block .info-header h5 {margin-top:0;}
.info-block .info-header p {margin-bottom:0;}

.tile {
	background-color: #F8F8F8;
	background-image: linear-gradient(bottom,#ffffff 40%, #f9f9f9 75%, #f8f8f8 90%);
	background-image: -o-linear-gradient(bottom, #ffffff 40%, #f9f9f9 75%, #f8f8f8 90%);
	background-image: -moz-linear-gradient(bottom, #ffffff 40%, #f9f9f9 75%, #f8f8f8 90%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 40%, #f9f9f9 75%, #f8f8f8 90%);
	background-image: -ms-linear-gradient(bottom, #ffffff 40%, #f9f9f9 75%, #f8f8f8 90%);
	min-height: 290px;
	height: auto !important;
}
#waive-emp-coverage form {margin-bottom: 0;}
#waiving-reason {
	border-bottom: 1px dotted #ccc;
}

#employee-esign label,
#employee-esign-date label { width: 35%; }
#employee-esign input { margin-right: 2%;}

.mask {
    opacity: 0.8;
    padding: 10px 0 0 55px;
    position: absolute;
    z-index: 11;
}
.mask img{
    float: left;
    position: relative;
    right: 82px;
    top: 8px;
}
#employee-attestation label	{
	display: inline-block;
	float:	right;
	width: 93%;
}
#employee-attestation input{
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
    display: inline-block;
    margin-left: 15px;
}
#sample-plan-summary .info-header,
#sample-plan-summary .well { opacity: 0.3;}
#waiver-form .controls {
	margin: 0 15px 20px;
}
#waiving-reason .radio input[type="radio"] {margin-top: 4px;}
#employee-esign .controls {
	margin: 0;
}
#employee-esign label,
#employee-esign-date label {
	margin: 0 0 0 15px;
}



#plan-selected .dl-horizontal dt {
	text-align: left;
	width: 150px;
	font-weight: normal;
}
#plan-selected .dl-horizontal dd {
	margin-left: 155px;
}
/*HIX-20424*/
.dl-horizontal dt{width:175px;}

.esign-text{
	float: right;
    width: 320px;
}