#foradd {
	margin-top: 20px;
}


.table tbody tr th {
	color: #515151!important;
	background: #fff!important;
	padding: 0 0 0 10px;
	height: 34px;
	font-weight: normal;
}


.span9 form .legend-header  {
		font-size: 16px;
		text-indent: 10px;
  	}
  	


/* Remove Breadcrumbs - HIX-10721 */
.l-page-breadcrumb {
	display: none;
}


#rightpanel .well {
	background: #fff;
	border: none;
	box-shadow: none;
}