/*#08c;*/
#masthead.navbar-inverse .navbar-inner {
  background-color: #0064cd;
  background-image: -moz-linear-gradient(center top, #049cdb, #0064cd);
  background-repeat: repeat-x;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
}
#masthead.navbar {
  border-bottom: 4px solid #9d261d;
}
/* masthead */
/* help bar */
.help-panel {
  background-color: #0064cd;
}
