@charset "utf-8";
/* CSS Document */

@import url("ghixgrid.css");
body {
	background: -moz-linear-gradient(center top, #fff, #ededed) !important;
	background: -webkit-linear-gradient(center top, #fff, #ededed) !important;
	padding-top: 40px;
	padding-bottom: 0px;
	font-family:  "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size:13px;
}

h1 {
	font-size:2.1em;
	line-height:normal;
}

.page-header {
	margin-bottom:5px;
}


h4 {
	font-size:1.1em;
}

#main {
	background:transparent;
	margin-top:20px;
}
#main .container, #topnav .container {
	background:#fff;
}
#main .container {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
#masthead.navbar {
	border-bottom: solid 4px #99cc00;
	font-family:"Droid Sans", Arial, Sans-serif;
	font-weight:normal;
	font-size:95%;
}
#masthead.navbar .nav {
	float:left;
}
#masthead.navbar-inverse .navbar-inner {
	background-color: #1B1B1B;
	background-image: -moz-linear-gradient(center top, #4d4d4d, #343434);
	background-repeat: repeat-x;
	border-color: #252525;
}
#masthead .brand {
	font-weight:bold;
	color:#99cc00;
}
#titlebar, #main.titlebar {
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(center top, #F5F5F5 0%, #fff 100%);
	background-repeat: repeat-x;
	/*border-top: 1px solid #99cc00;*/
	border-bottom:solid 1px #99cc00;
	border-radius: 0;
}
#titlebar-ms, #main.titlebar-ms {
	/* background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #fff 100%);
    background-repeat: repeat-x;
    border-top: 1px solid #99cc00;
	border-bottom:solid 1px #99cc00;
	border-radius: 0;
*/
}
.premium small {
	display:block;
	font-size:65%;
}
/*--generic--*/

.gutter10 {
	padding:10px;
}
h2 {
	margin-left:10px;
}
#footer.container ul.nav li a {
	font-size:95%;
}
footer p#copyrights {
	color:#999;
	font-size:90%;
	font-family:"Droid Sans", Arial, Sans-serif;
}
footer h6#copyrights {
	color:#999;
	font-size:90%;
	font-family:"Droid Sans", Arial, Sans-serif;
	text-transform: none;
	font-weight:normal;
}
#footer a {
	font: normal .75em "Droid Sans", Arial, Sans-serif;
	color: #797979;
}
/*------------Bread Crumb Styles--------------*/

.breadcrumb-bar {
	height:40px;
	z-index:20;
}
.breadcrumb {
	/*background:url(../img/bg-hline.png) repeat-x 0 60% !important;*/
	border:none;
	margin:0;
	z-index:30;
}
.breadcrumb li {
	padding-right:15px;
	color:#A0A0A0;
}
.breadcrumb .dot {
	float:left;
	background:#D8D8D8;
	width:22px;
	height:20px;
	border:3px solid #AAAAAA;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
	font-size:1em;
	font-weight:bold;
	color:#AAAAAA;
	text-align:center;
	margin-right:5px;
	padding-top:2px;
}
.breadcrumb .active .dot, .breadcrumb a:hover .dot {
	float:left;
	background:#99cc00;
	width:22px;
	height:20px;
	border:3px solid #74b33c;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
	font-size:1em;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	margin-right:5px;
	padding-top:2px;
}
.breadcrumb li > a:hover {
	text-decoration:none;
	color:#6FB449;
}
.breadcrumb li > a:hover em {
	color:#6FB449;
}
.breadcrumb .active em strong {
	color:#6FB449;
}
.breadcrumb {
	text-align:center;
}
.breadcrumb-bar hr.strike {
	margin:0;
	position:relative;
	top:-20px;
	z-index: 25;
}
.breadcrumb li > a > em {
	background:#fff;
	font-style:normal;
	color:#A0A0A0;
	line-height: 27px;
}
/*----------End Bread Crumb Styles------------*/


/*------------Bread Crumb Styles For Mississippi--------------*/

.breadcrumb-ms {
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #F5F5F5);
	background-repeat: repeat-x;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	font-size: 85%;
	margin: 0 0 18px;
	padding: 5px 14px;
	color:#0069D6;
}
.breadcrumb-ms li {
	color:#A0A0A0;
	padding:5px;
	display:inline-block;
 *display: inline;
	/* IE7 inline-block hack */
	list-style: none;
	text-shadow: 0 1px 0 #FFFFFF
}
.breadcrumb-ms .dot {
	float:left;
	background:#D8D8D8;
	width:22px;
	height:20px;
	border:3px solid #AAAAAA;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
	font-size:1em;
	font-weight:bold;
	color:#AAAAAA;
	text-align:center;
	margin-right:5px;
	padding-top:2px;
}
.breadcrumb-ms .active .dot, .breadcrumb-ms a:hover .dot {
	float:left;
	background:#99cc00;
	width:22px;
	height:20px;
	border:3px solid #74b33c;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
	font-size:1em;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	margin-right:5px;
	padding-top:2px;
}
.breadcrumb-ms li > a:hover {
	text-decoration:none;
	color:#00438A;
}
.breadcrumb-ms li > a:hover em {
	color:#6FB449;
}
.breadcrumb-ms .active {
	color:#404040;
}
.breadcrumb-ms li > a > em {
	background:#fff;
	font-style:normal;
	color:#A0A0A0;
}
/*----------End Bread Crumb Styles For Mississippi------------*/

.popover {
	background-clip: padding-box;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 1px;
	position: absolute;
	top: 0;
	width: 236px;
	z-index: 1010;
}
.popover.top {
	margin-bottom: 10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-right: 10px;
}
.popover-title {
	background-color: #F7F7F7;
	border-bottom: 1px solid #EBEBEB;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 8px 14px;
}
.popover-content {
	padding: 9px 14px;
}
.popover-content p, .popover-content ul, .popover-content ol {
	margin-bottom: 0;
}
.popover .arrow, .popover .arrow:after {
	border-color: transparent;
	border-style: solid;
	display: inline-block;
	height: 0;
	position: absolute;
	width: 0;
}
.popover .arrow:after {
	content: "";
	z-index: -1;
}
.popover .arrow, .popover .arrow:after {
	border-color: transparent;
	border-style: solid;
	display: inline-block;
	height: 0;
	position: absolute;
	width: 0;
}
.popover .arrow:after {
	content: "";
	z-index: -1;
}
.popover.bottom .arrow {
	border-bottom-color: #FFFFFF;
	border-width: 0 10px 10px;
	left: 50%;
	margin-left: -10px;
	top: -10px;
}
.popover.bottom .arrow:after {
	border-bottom-color: rgba(0, 0, 0, 0.25);
	border-width: 0 11px 11px;
	left: -11px;
	top: -1px;
}
/*-- button style --*/

.btn-large {
	font-weight:bold;
}
#subnav {
	margin-top:5px;
}

.box-loose {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	margin: 15px 0;
	padding: 29px 14px 19px 14px;
	position: relative;
}
.box-tight {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	margin: 15px 0;
	padding: 9px;
	position: relative;
g
}
form.box-loose div:last-child {
	margin-bottom:0;
}
/* button styles */

.btn-primary {
	background-color: #0e9bd2;
	background-image: -moz-linear-gradient(center top, #1db4e0, #0082c4);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
body#user-login .form-horizontal {
	margin-bottom:0;
}
label.radio {
	display:inline-block;
	margin-right:15px;
}
.table th, .table td {
	vertical-align:middle;
}
/*------------ Plan view styles -----------------------*/
h4.planType {
	margin:2px 0 5px 0;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0 0 transparent;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	line-height: auto;
	outline: medium none;
	overflow: visible;
	white-space: nowrap;
	display:inline-block;
}
h4.planType small {
	/*border-top: 1px solid rgba(255, 255, 255, 0.2);*/
	color: #FFFFFF;
	line-height: .2em;
	padding:2px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	text-transform:uppercase;
	font-size: 85%;
}
#rightpanel h4.planType.gold {
	background-color:#E0B200;
}
#rightpanel h4.planType.silver {
	background-color: #c9c9c9;
}
#rightpanel h4.planType.bronze {
	background-color: #C1A628;
}
#rightpanel h4.planType.platinum {
	background-color: #B2CFD7;
}

.graysidebar .accordion-inner {
	border:0px;
	padding:0px;
}
.graysidebar .accordion-group, .nav-tabs.nav-stacked > li > a {
	border:0px;
}
.graysidebar ul.nav {
	padding-left:10px;
	margin-bottom: 5px;
	/*background:#dbe6e9;*/
}
.graysidebar ul.nav li {/*background:#6CF;*/}
.graysidebar .nav-tabs > li > a {
	padding-left:0px;
}
.graysidebar ul.nav.active {
	list-style-type: decimal;
	margin-left:35px;
}
.graysidebar li.active {
	list-style-type: none;
}
.graysidebar .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	border: 0px;
	border-bottom-color: transparent;
	cursor: default;
}
.graysidebar .nav-pills > li > a {
	padding-bottom:0px;
	padding-bottom:6px;
}
.graysidebar .accordion-heading .accordion-toggle {
	padding:10px;
}
.graysidebar .accordion { margin: 10px 0;}

.lightgray {background: #EEE;}

.lightgray p {	font-size: 12px;}
.whitebg {background:#fff;}
#sidebar h4, .graysidebar .accordion-heading a {color:#fff; background:#666; padding:10px;}
.graysidebar a.accordion-toggle {font-size:14px; line-height:18px; font-weight:bold;}
.graysidebar a.accordion-toggle:hover {text-decoration:none;}
.graysidebar .nav > li > a:hover {
text-decoration: none;
background-color: none;
}
.graysidebar .graytitle h4 {background:#eee; padding:10px;}
div#sidebar.span3 {
margin-top: 10px;
}

.gray h4 {
       color: white;
       background: #666;
       padding: 10px;
       line-height: 18px;
}

.graybg {
       background: #EEE;
}

.graydrkbg, .graydrkbg a {
       background: #666;
       color: #FFF;
}

.graydrkbg .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.graydrkaction {
	background: #666;
	color: #fff;
	margin-top:10px;
	padding:5px 10px;
	height:28px;
}

.graydrkaction h4 {
	margin:4px 0 0 0;
}

.gray h5 {
       color: #949494;
       font-size: 11px;
       font-weight: normal;
       text-transform: uppercase;
}
h4.lightgray {padding:8px;}

.error:after {
  content: "";
  display: table;
  clear: both;
}

#sidebar ul.nav li.active a {
	background:none;
}
#sidebar ul.nav li.active {
	background:#ededed;
}

#titlebar h3 {
	padding-left:10px;
}
}

