/*!
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FONT AWESOME CORE
 * -------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline;
}
/* increased font size for icon-large */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em;
}
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.4285714285714286em;
}
.icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.icons-ul > li {
  position: relative;
}
.icons-ul .icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  text-align: center;
  line-height: inherit;
}
[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none;
}
.icon-muted {
  color: #eeeeee;
}
.icon-light {
  color: #ffffff;
}
.icon-dark {
  color: #333333;
}
.icon-border {
  border: solid 1px #e9e9e9;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.icon-5x {
  font-size: 5em;
}
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}
/* keeps Bootstrap styles with and without icons the same */
.btn [class^="icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}
/* Fixes alignment in nav lists */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  line-height: inherit;
}
/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}
.icon-stack [class^="icon-"],
.icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}
.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}
/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Icon rotations and mirroring */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* ensure rotation occurs inside anchor tags */
a .icon-rotate-90:before,
a .icon-rotate-180:before,
a .icon-rotate-270:before,
a .icon-flip-horizontal:before,
a .icon-flip-vertical:before {
  display: inline-block;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-alt:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-power-off:before,
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file-alt:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before,
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up-alt:before {
  content: "\f087";
}
.icon-thumbs-down-alt:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-unchecked:before,
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paperclip:before,
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-file-text-alt:before {
  content: "\f0f6";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-sign:before {
  content: "\f0fd";
}
.icon-plus-sign-alt:before {
  content: "\f0fe";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-blank:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-close-alt:before {
  content: "\f114";
}
.icon-folder-open-alt:before {
  content: "\f115";
}
.icon-expand-alt:before {
  content: "\f116";
}
.icon-collapse-alt:before {
  content: "\f117";
}
.icon-smile:before {
  content: "\f118";
}
.icon-frown:before {
  content: "\f119";
}
.icon-meh:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard:before {
  content: "\f11c";
}
.icon-flag-alt:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-question:before {
  content: "\f128";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-off:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-empty:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-sign-left:before {
  content: "\f137";
}
.icon-chevron-sign-right:before {
  content: "\f138";
}
.icon-chevron-sign-up:before {
  content: "\f139";
}
.icon-chevron-sign-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-horizontal:before {
  content: "\f141";
}
.icon-ellipsis-vertical:before {
  content: "\f142";
}
.icon-rss-sign:before {
  content: "\f143";
}
.icon-play-sign:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-sign-alt:before {
  content: "\f146";
}
.icon-check-minus:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-sign:before {
  content: "\f14a";
}
.icon-edit-sign:before {
  content: "\f14b";
}
.icon-external-link-sign:before {
  content: "\f14c";
}
.icon-share-sign:before {
  content: "\f14d";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-collapse:before {
  content: "\f150";
}
.icon-collapse-top:before {
  content: "\f151";
}
.icon-expand:before {
  content: "\f152";
}
.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}
.icon-gbp:before {
  content: "\f154";
}
.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}
.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}
.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}
.icon-renminbi:before,
.icon-cny:before {
  content: "\f158";
}
.icon-won:before,
.icon-krw:before {
  content: "\f159";
}
.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-sort-by-alphabet:before {
  content: "\f15d";
}
.icon-sort-by-alphabet-alt:before {
  content: "\f15e";
}
.icon-sort-by-attributes:before {
  content: "\f160";
}
.icon-sort-by-attributes-alt:before {
  content: "\f161";
}
.icon-sort-by-order:before {
  content: "\f162";
}
.icon-sort-by-order-alt:before {
  content: "\f163";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-youtube-sign:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-xing:before {
  content: "\f168";
}
.icon-xing-sign:before {
  content: "\f169";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stackexchange:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-adn:before {
  content: "\f170";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-sign:before {
  content: "\f172";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-sign:before {
  content: "\f174";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-trello:before {
  content: "\f181";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-sun:before {
  content: "\f185";
}
.icon-moon:before {
  content: "\f186";
}
.icon-archive:before {
  content: "\f187";
}
.icon-bug:before {
  content: "\f188";
}
.icon-vk:before {
  content: "\f189";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-renren:before {
  content: "\f18b";
}
.dropdown-menu,
.tooltip {
  border-radius: 0!important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
#rightpanel .header #myinfo-edit {
  padding: 0 12px;
}
label,
label.error {
  text-transform: capitalize;
}
label.checkbox {
  text-transform: none;
}
body {
  background: #ffffff url('../img/NM-BG.png') repeat top left;
  font-size: 13px!important;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 18px!important;
  line-height: normal;
  font-weight: normal;
}
h1 small {
  font-size: 14px;
}
h1 img {
  margin-right: 15px;
  width: 130px;
  height: 100px;
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 20px;
}
.slide h2 {
  color: #7e183f;
  font-family: "Merriweather", serif;
  font-size: 26px;
  font-weight: normal;
}
h3 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 18.5px;
}
h5 {
  font-size: 12px;
}
a {
  color: #1f5a7e;
}
a:hover {
  color: #153d55;
  text-decoration: none;
}
a.breadcrumb-nav {
  font-size: 14px;
  text-transform: lowercase;
  margin: 0 10px 0 5px;
}
a.breadcrumb-nav:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 5px;
}
label {
  margin-bottom: 0;
  font-size: 13px;
}
legend {
  font-size: 15px;
  color: #7e183f;
  font-weight: bold;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] .uneditable-input {
  border: 1px solid #e9e9e9;
  box-shadow: none;
  font-size: 13px;
}
.alert {
  margin-top: 0;
}
.accordion-group {
  border: 1px solid #e9e9e9;
}
.accordion-inner {
  border: 1px solid #e9e9e9;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.bgBox {
  border-radius: 0!important;
}
.box-loose {
  border-radius: 0!important;
  border: 1px solid #e9e9e9;
}
.border-custom {
  border: 1px solid #e9e9e9;
}
.line {
  border: 1px solid #e9e9e9;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.plans-container {
  border: 1px solid #e9e9e9;
  border-top: none;
  border-bottom: none;
}
.small {
  font-size: 10px;
}
p.small {
  font-size: 12px;
}
.thumbnail {
  border: 1px solid #e9e9e9;
}
.well-custom {
  background: transparent;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  border: none;
}
.mixins-icons-color {
  color: #5485a3;
}
a [class^="icon-"],
a [class*=" icon-"] {
  text-decoration: none;
  font-size: 14px;
  padding: 3px;
}
.active a .icon-ok {
  color: #666;
}
.icon-question-sign {
  color: #5485a3;
}
.icon-cog {
  color: #5485a3;
}
.icon-share-alt,
.icon-user {
  color: orange!important;
}
.icon-eye-open {
  color: #666;
}
.mixins-nm-header-font-size {
  font-size: 13px;
}
.mixins-nm-header {
  font-family: "Merriweather", serif;
  font-weight: normal!important;
}
#titlebar,
#main.titlebar,
.titlebar {
  border-bottom: 1px solid #ececec;
  width: 100%;
  margin-bottom: 20px;
}
#titlebar:after,
#main.titlebar:after,
.titlebar:after {
  border-bottom: 1px solid #65a2be;
  width: 11.2%;
  position: absolute;
}
#sidebar h4,
#sidebar .header,
#sidebar .header h4,
#sidebar .accordion-heading a,
.header,
.graydrkbg,
.table th {
  font-family: "Merriweather", serif;
  font-weight: normal!important;
  font-size: 13px;
  min-height: 20px;
  background: #b3c4db url('../img/NM-header-BG.png') repeat top left !important;
}
#sidebar h4 i,
#sidebar .header i,
#sidebar .header h4 i,
#sidebar .accordion-heading a i,
.header i,
.graydrkbg i,
.table th i {
  color: #666;
}
#masthead.navbar {
  border-bottom: none!important;
}
#masthead .brand {
  position: absolute;
  top: -3px;
  left: 45px;
  padding: 13px 10px 8px 10px;
  max-width: none;
}
#masthead .navbar-inner {
  background-color: #629fc6;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#629fc6), to(#70b5e1));
  background: -webkit-linear-gradient(#629fc6, #70b5e1);
  background: -moz-linear-gradient(#629fc6, #70b5e1);
  background: -o-linear-gradient(#629fc6, #70b5e1);
  background: linear-gradient(#629fc6, #70b5e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#629fc6', EndColorStr='#70b5e1');
  border-bottom: 5px solid #d97b00;
}
#masthead .nav li.dropdown.open > .dropdown-toggle {
  background: none;
  text-shadow: none;
  box-shadow: none;
}
#masthead .nav li a {
  color: #ffffff;
}
#masthead .nav .dropdown-toggle:hover .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
#masthead .nav .dropdown-toggle .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
  margin-top: 8px;
}
#masthead .nav .dropdown-menu {
  border-radius: 0;
}
#masthead .nav .dropdown-menu li a {
  color: #1f5a7e;
}
#masthead .nav .dropdown-menu li a:hover,
#masthead .nav .dropdown-menu li a:focus {
  background: none;
}
.mixins-nav-bar-border {
  border: 1px solid #4a85a8;
}
#menu {
  margin-bottom: 0;
}
#menu .navbar-inner {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  border: 1px solid #4a85a8;
  background-color: #629fc6;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#629fc6), to(#70b5e1));
  background: -webkit-linear-gradient(#629fc6, #70b5e1);
  background: -moz-linear-gradient(#629fc6, #70b5e1);
  background: -o-linear-gradient(#629fc6, #70b5e1);
  background: linear-gradient(#629fc6, #70b5e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#629fc6', EndColorStr='#70b5e1');
}
#menu .navbar-inner .nav li a {
  color: #ffffff;
  text-shadow: none;
}
#menu .navbar-inner .nav li a i.caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
#menu .navbar-inner .nav li.active a {
  box-shadow: none;
  background: none;
  color: #3d3d3d!important;
}
#menu .navbar-inner .nav li.active a i.caret {
  border-top-color: #3d3d3d;
  border-bottom-color: #3d3d3d;
}
#menu .navbar-inner .nav li.open a {
  background: none!important;
  color: #666666;
}
#menu .navbar-inner .nav li.open a i.caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
#menu .navbar-inner .nav .dropdown-menu {
  border-radius: 0;
  padding: 0;
}
#menu .navbar-inner .nav .dropdown-menu a {
  padding: 8px 20px;
  color: #666;
  border-bottom: #e9e9e9;
}
#menu .navbar-inner .nav .dropdown-menu a:hover {
  background: transparent;
  color: #1a4b6a;
}
#menu .navbar .nav li.dropdown.open > .dropdown-toggle,
#menu .navbar .nav li.dropdown.active > .dropdown-toggle,
#menu .navbar .nav li.dropdown.open.active > .dropdown-toggle,
#menu .navbar .nav li.dropdown.open > .dropdown-toggle a,
#menu .navbar .nav li.dropdown.active > .dropdown-toggle a,
#menu .navbar .nav li.dropdown.active > .dropdown-toggle a i.caret,
#menu .navbar .nav li.dropdown.open.active > .dropdown-toggle a {
  background: none!important;
  text-shadow: none!important;
  color: orange!important;
}
#menu a[title="Home"],
#menu #menu a[title="Issuer Home"] {
  font-size: 0;
  color: transparent;
  position: relative;
  margin-right: 10px;
}
#menu a[title="Home"]:after,
#menu #menu a[title="Issuer Home"]:after {
  content: "\f015";
  font-family: FontAwesome;
  font-size: 14px;
  color: inherit;
  position: absolute;
}
.header-reset {
  padding-top: 7px;
  border-left: none;
}
#breadcrumbs,
.breadcrumb,
.page-breadcrumb {
  display: none;
}
.mixins-button-font-size {
  font-size: 13px;
}
.mixins-button-font {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.mixins-primary-btn-font-color {
  color: #fff;
}
.mixins-primary-btn-bg {
  background: #5586a4;
}
.mixins-primary-btn-bg-hover {
  background: #38617a;
}
.mixins-primary-btn-border {
  border: 1px solid #4b7b9a;
}
.mixins-primary-btn-active-bg {
  background: #d37100;
}
.mixins-primary-btn-active-font-color {
  color: #fff;
}
.mixins-primary-btn-active-border {
  border: 1px solid #d37100;
}
.mixins-secondary-btn-border {
  border: 1px solid #dedede;
}
.mixins-secondary-btn-bg {
  background: #f1f1f1;
}
.mixins-secondary-btn-bg-hover {
  background: #ececec;
}
.mixins-secondary-btn-font-color {
  color: #7a7a7a;
}
.btn {
  border: 1px solid #dedede;
  background: #f1f1f1;
  color: #7a7a7a;
  text-shadow: none;
}
.btn:hover,
.btn:focus {
  background: #ececec;
}
.btn-primary {
  color: #fff;
  background: #5586a4;
  border: 1px solid #4b7b9a;
  text-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #38617a;
}
.btn-primary i.icon-cog,
.btn-primary i.caret {
  color: #fff;
}
a.btn.active {
  background: #d37100;
  border: 1px solid #d37100;
  box-shadow: none;
}
.header .btn {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}
.plan .btn {
  padding: 4px 7px;
  font-size: 13px;
}
.btn-custom {
  display: inline-block;
  padding: 5px 14px;
  margin-top: 10px;
  min-width: 4px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #5586a4;
}
.mixins-sidebar-font-color {
  color: #666!important;
}
.mixins-sidebar-font-size {
  font-size: 13px;
}
#sidebar .nav-list li {
  background: #ffffff !important;
  border: 1px solid #e9e9e9;
  border-top: none;
  padding: 10px;
  color: #666!important;
  font-size: 13px;
}
#sidebar .nav-list li:hover {
  text-decoration: none;
}
#sidebar .nav-list li a {
  color: #666!important;
}
#sidebar .nav-list li a:hover {
  background: #ffffff !important;
}
#sidebar .nav-list .active {
  background: #e8e8e8 url(../img/NM-BG.png) repeat top left !important;
  margin-left: 0;
  font-weight: normal;
  color: #666!important;
  font-size: 13px;
}
#sidebar .nav-list .active a,
#sidebar .nav-list .active a:hover {
  font-weight: normal;
  text-shadow: none;
  background: transparent!important;
  color: #666!important;
  font-size: 13px;
}
#sidebar #list-2 {
  margin-top: 20px;
}
#sidebar .box-tight {
  border-radius: 0!important;
  border-color: #ebedef!important;
}
#sidebar .header {
  min-height: 40px;
  line-height: 40px;
}
#sidebar form {
  border: 1px solid #ebedef;
  border-top: none;
}
#sidebar form legend {
  font-family: "Merriweather", serif;
  font-weight: normal!important;
}
#sidebar #frmSecureInbox {
  border: none;
}
table#brokerStatusHistory {
  border: 1px solid #e9e9e9;
}
input[type="radio"] {
  margin: 0 5px 0 0;
}
.mixins-rightpanel-subhead-bg {
  background: #eee;
}
#rightpanel h4 {
  padding: 10px;
  border-top: 1px solid #65a2be;
  background: #eee;
  font-family: "Merriweather", serif;
  font-weight: normal!important;
  font-size: 13px;
}
#rightpanel h4 a.btn {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#rightpanel a.btn {
  margin: 0 5px;
}
#rightpanel div.header a.btn,
#rightpanel div.header input[type="submit"],
#rightpanel button.btn.btn-small {
  margin: 10px 5px;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#rightpanel .graydrkaction,
#rightpanel .graylightaction,
#rightpanel .header {
  height: 40px;
  background: #b3c4db url('../img/NM-header-BG.png') repeat top left !important;
}
#rightpanel .graydrkaction h4,
#rightpanel .graylightaction h4,
#rightpanel .header h4 {
  background: none;
  border-top: none;
}
#rightpanel .graydrkaction a.btn,
#rightpanel .graylightaction a.btn,
#rightpanel .header a.btn {
  background: #f1f1f1;
}
#rightpanel .graydrkaction a.btn-primary,
#rightpanel .graylightaction a.btn-primary,
#rightpanel .header a.btn-primary {
  background: #5586a4;
}
#rightpanel .table td h4 {
  background: none;
  border-top: none;
  padding: 0;
  font-size: 18px!important;
}
#rightpanel .light {
  opacity: 1!important;
}
#rightpanel .accordion-header {
  background: #eee;
}
#menu li.act a {
  border: 1px solid #e9e9e9;
  background: #ffffff;
  color: #7e183f;
}
.mixins-PS-insert-box-shadow {
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
}
#planSelect #titlebar:after {
  border-bottom: none;
  position: static;
  width: auto;
}
#planSelect .scroll-left-arrow,
#planSelect .scroll-right-arrow {
  background: transparent;
}
#planSelect .scroll-left-arrow:hover,
#planSelect .scroll-right-arrow:hover {
  background: transparent;
}
#planSelect .icon-arrow-left,
#planSelect .icon-arrow-right {
  opacity: 1!important;
}
.plan a.addtofav.addedToFav {
  color: #ffffff;
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
}
.intro-indiv h4,
#titlebar h3,
h3#titlebar {
  color: #7e183f!important;
}
.plans-section-header h3 {
  border: 1px solid #e9e9e9;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 0;
  padding-left: 15px;
  color: #1a4b6a !important;
  font-size: 14px;
}
.plans-section-content .label-info {
  font-size: 13px;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal !important;
  background: #f2dede;
  color: #b94a48;
  border: #eed3d7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.plans-section-content h3 {
  text-transform: none;
}
.plans-section-content .plan {
  overflow-y: hidden;
}
#benchmark #titlebar,
#tierdetails #titlebar {
  background: #e2dfd7;
}
#benchmark #titlebar h3,
#tierdetails #titlebar h3 {
  color: #4f4f4f;
}
#benchmark #titlebar span#sort,
#tierdetails #titlebar span#sort {
  float: right;
}
#benchmark .scroll-right-arrow-wrapper,
#tierdetails .scroll-right-arrow-wrapper,
#benchmark .scroll-left-arrow-wrapper,
#tierdetails .scroll-left-arrow-wrapper {
  height: 112px;
  background: #e2dfd7;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow {
  background: none;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow:hover,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow:hover {
  background: inherit;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow h1,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow h1,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow h1,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow h1,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow h1,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow h1,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow h1,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow h1 {
  color: #1d73b6;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow h1 i,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow h1 i,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow h1 i,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow h1 i,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow h1 i,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow h1 i,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow h1 i,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow h1 i {
  color: inherit;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow h1 i:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow h1 i:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow h1 i:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow h1 i:hover,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow h1 i:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow h1 i:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow h1 i:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow h1 i:hover {
  opacity: 0.8;
}
#tierdetails #titlebar {
  margin-bottom: 0;
}
#tierdetails .plans-section {
  border-left: 1px solid #e9e9e9;
}
#tierdetails .plans-section table.planNameWrap td.planName {
  text-align: center!important;
}
#plansbar #pagination li.active a,
#benchmark #pagination li.active a,
#tierdetails #pagination li.active a {
  color: #4f4f4f!important;
}
#plansbar #pagination li a:hover,
#benchmark #pagination li a:hover,
#tierdetails #pagination li a:hover {
  color: #333!important;
}
.enrollmentPeriodDate {
  border-radius: 0!important;
}
.enrollmentPeriodDate:hover {
  border-color: #e9e9e9 !important;
  background-image: none!important;
  background: #f7f7f7;
}
.calSheet .month {
  background-color: #66abe2;
  background: -webkit-gradient(linear, left top, left bottom, from(#66abe2), to(#5894c3));
  background: -webkit-linear-gradient(top, #66abe2, #5894c3);
  background: -moz-linear-gradient(top, #66abe2, #5894c3);
  background: -ms-linear-gradient(top, #66abe2, #5894c3);
  background: -o-linear-gradient(top, #66abe2, #5894c3);
  border: 1px solid #5894c3;
  border-radius: 2px 2px 0 0;
  color: #ffffff;
}
.calSheet .day {
  border-radius: 0 0 2px 2px;
  border-right: 1px solid #4d4d4d;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  color: #666666;
  font-weight: bold;
  letter-spacing: -0.1em;
  line-height: 1.4em;
}
.mixins-table-font-size {
  font-size: 13px;
}
.mixins-table-tr-font {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.mixins-table-th-font {
  font-family: "Merriweather", serif !important;
}
.mixins-table-th-font-color {
  color: #666!important;
}
.mixins-table-tr-bg {
  background: #f3f9f9;
}
.table {
  border: 1px solid #ebedef;
  margin-bottom: 15px!important;
}
.table th.sortable img {
  display: none;
}
.table th a {
  background: none!important;
  font-weight: normal;
  color: #666!important;
  font-family: "Merriweather", serif !important;
}
.table th a.btn {
  border: 1px solid #dedede;
  background: #f1f1f1;
  color: #7a7a7a;
}
.table th.txt-right {
  text-transform: capitalize;
}
.table td {
  border: 1px solid #e9e9e9;
  font-size: 12px;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.table td h4 {
  background: none;
}
.table td .caret {
  border-top: 4px solid #5485a3;
}
.table td .dropdown-menu li > a:hover {
  background: none;
  color: #1a4b6a;
}
.table td.txt-right {
  text-transform: capitalize;
}
.table tbody tr th {
  background: #ffffff !important;
}
.table tbody th {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.lightgray,
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background: #f3f9f9;
}
.graydrkbg thead tr,
thead tr.graydrkbg {
  border-top: none;
  border-bottom: none;
}
form#frmesign h2 {
  margin-left: 0;
}
.form-actions {
  border: 1px solid #e9e9e9;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 10px;
}
.pagination ul > li > a,
.pagination ul > li > span {
  border: 1px solid #e9e9e9;
  color: #7e183f;
}
.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
  border-radius: 0!important;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  background: #e5eeeb;
  color: #d4286a;
}
.pagination ul > li > a:hover {
  background: #adcfc3;
}
#footer.container ul.nav li a:hover {
  color: #1f5a7e;
}
.datepicker td.active,
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  background-color: red!important;
  border-radius: 0!important;
}
.markCompleteHeader .header {
  height: 40px;
}
.markCompleteHeader .header h4 {
  margin-left: 10px!important;
  color: #666!important;
  line-height: 40px!important;
  font-weight: normal!important;
}
.markCompleteHeader .header button.dialogClose {
  background: transparent!important;
  line-height: 40px;
  margin-right: 10px!important;
  color: #666!important;
}
#viewempModal .modal-header {
  height: 40px;
}
#viewempModal .modal-header h4 {
  margin-left: 10px!important;
  color: #666!important;
  line-height: 40px!important;
  font-weight: normal!important;
}
#viewempModal .modal-header button {
  background: transparent!important;
  line-height: 40px;
  margin-right: 10px!important;
  color: #666!important;
}
#brokerdetail table#list thead tr {
  height: 40px;
}
#brokerdetail table#list tbody tr td a h4 {
  font-size: 14px;
}
#frmdetail #display-info tbody tr th {
  background: #fff!important;
}
div#alert1.modal {
  top: 15%;
}
.modal-header {
  background: #b3c4db url('../img/NM-header-BG.png') repeat top left;
  border-radius: 6px 6px 0 0;
  min-height: 20px;
}
.modal-header h4 {
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: normal;
}
.modal-header .close {
  margin-top: 0;
}
.modal-footer {
  background: none;
  border-top: none;
}
.hugeModal {
  width: 767px!important;
  margin-left: -350px !important;
  height: 460px;
}
#qualified-event .modal-body {
  max-height: 315px;
}
#successbox .modal-header {
  background: none;
  border-radius: 0;
}
iframe {
  border: 0px;
}
iframe #successbox .header {
  background: none;
  background-image: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
iframe#success .modal-header {
  border-radius: 6px 6px 0 0;
}
iframe#success .modal-body {
  padding: 0;
}
iframe#search {
  min-height: 520px;
  /*Changed from 430px to 520px - HIX-19095*/
}
iframe#search h3 {
  font-size: 18.5px;
}
iframe#search .bottomBorder {
  border-bottom: none!important;
}
iframe body {
  background: #fff;
  background-image: none;
}
body.shellmodal-body {
  background: #fff!important;
}
body.shellmodal-body .table {
  border: none;
}
#Dental-light_box #title {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 17px;
}
#Dental-light_box #info {
  margin: 20px 0 25px 0;
}
#Dental-light_box .premium {
  font-size: 17px;
}
#Dental-light_box .plan {
  margin: 0 10px;
  border: 1px solid #e9e9e9;
}
#Dental-light_box .form-actions {
  background: #fff;
  border: none;
}
