9@CHARSET "ISO-8859-1";

<style type="text/css"> 


/*--------move to base ----------*/

a.btn:hover, a.btn:hover, a.btn:hover {
	/*background:#D9321D none repeat scroll 0 0;
	border-color:#860100;
	color:#FFFFFF;*/
}

a:hover, a:link:hover, a:visited:hover {
	text-decoration:none;
}

a:hover, a:link:hover, a:visited:hover {
	text-decoration:none;
}

a.btn {
	/*-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:2px;
	-x-system-font:none;
	background-color:#FFFFFF;
	border:1px solid #d1e1ef; 
	color:#476F07;
	font-family:normal verdana,sans-serif;
	line-height:normal;
	margin:4px 4px 4px 0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	
	text-decoration:none;*/
	
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding:4px 5px;
	/*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.btn:hover {
	text-decoration: none;
}
.btn:active {
	position: relative;
	top: 1px;
}

a.btn:hover span.text-M {
	padding:4px 14px 4px 16px;
}

a.btn span.text-M {
	border:medium none;
	color:#FFFFFF;
	display:block;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.2em;
	font-weight:bold;
	margin:0 auto;
	padding:4px 15px;
	text-align:center;
}


/* white button*/
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #990000;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* blue */
.blue {
	color: #fff; /*#d9eef7;*/
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#65C6F7), to(#0086CE));
	background: -moz-linear-gradient(top,  #65C6F7,  #0086CE);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#65C6F7', endColorstr='#0086CE');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
a.red-M, a.grn-M {
	background:#d9321d url(../images/btn-bg-red-M.png) repeat-x bottom left;
	/*border-style:solid;
	border-color:#fff; /*#900603;*/
	/*border-width:2px;*/
	min-height:22px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	display:block;
}

a.grn-M {
	background:#bce27f url(../images/btn-bg-grn-M.png) repeat-x bottom left;
}

a.red-M:hover,a.grn-M:hover  {
	background:#d9321d;
	border-color:#860100;
	border-width:2px;
}	

.btn.bronze {
    background-color: #0064CD;
    background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#showplans-body .form-stacked {
	padding-left:0;
}

#showplans-body .form-stacked fieldset {
	padding-top:0;
}


#showallplans {
	*float:right;
	*padding:1px 5px 1px 0;
}

#sidebar1 #showallplans span {
	margin:0;
}

a#showbestfitplan {
	position:relative;
	top:-1px;
}
a#showbestfitplan span{
	background:url(../images/i-gilogo-tick.png) no-repeat 0 40%;
	padding-left:20px;
	*float:right;
}

.bestfit {
	background:url(../images/bg-grd-org-25.png) repeat-x left top;
	float:right;
	padding:4px 5px 0 0px;
	font-size:85%;
	text-decoration:none;
	position:relative;
	top:-5px;
	left:5px;
}

.bf-chk {
	background:url(../images/i-gilogo-tick.png) no-repeat left center;
	padding:1px 0 1px 20px;
	color:#606060;
	font: 10px Arial,Tahoma,sans-serif;
    text-transform: uppercase;
}

button.control {
	float:right;
}

.twoColFixLt #container { 
	background:#fff;/* #eef3f6;/*#EDF8FC; /*#E2F3FA;*/
	margin: 0 auto; 
	border: 2px solid #fff;
	text-align: center;
	width:980px;
}

.wrap-all {
	margin: 0 auto; 
	text-align:center;	
	min-width:960px;
}

.twoColFixLt #sidebar1 {
	float: left; 
	width: 180px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	_width:120px;
	padding: 0 0 10px 0;
	margin:0 10px 0 0;
	clear:both;
}

.twoColFixLt #mainContent { 
	/*background:#fff url(../images/bg-sp-sidebar.gif) repeat-y top left;*/
	float:right;
	width:auto;
	margin: 0px 0 0 0; 
	padding: 0 10px 10px 10px; 
	text-align:left;
	/*-moz-border-radius-bottomleft: 8px;
    -moz-border-radius-topleft: 8px;*/
} 

.twoColFixLt #mainContent .wrap-r{
	/*float:left;*/
	/*padding: 0 0 0 200px;*/
}

.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

table.header-print {
	display:none;
}	

.twoColFixLt .print {
	background:url("../images/printer.gif") no-repeat scroll left center transparent;
	font-size:0.85em;
	font-weight:normal !important;
	margin:3px 0 0 5px;
	padding:0 0 2px 20px;
}

#sidebar1 dl{
    color: #444;
    text-decoration: none;
	font-size:100%;
	margin:5px 0;
	width:174px;
	float:left;
}

#sidebar1 #applicant {
	font-size:95%;
	margin:10px 0 5px 0;
}

#sidebar1 #mainlogo {
	margin:0;
}

#sidebar1 dl dd {
	float:left;
	display:block;
	width:100%;
	padding:2px;
	*padding:2px 0;
	color:#333333;
	
}

#sidebar1 dl dt {
	float:left;
	display:block;
	width:170px;
	padding:5px 0 5px 10px;
	background:#E5F2FF;
	background: -moz-linear-gradient(top, #E5F2FF, #CFE6FC 100%);  
	background: -webkit-gradient(linear, from(#E5F2FF), to(#CFE6FC));  
}

#sidebar1 dl.call {
	width:180px;
	border: 1px solid #8CC4E2;
	margin:5px 0 0 0;
}

#sidebar1 dl.call dd {
	width:180px;
	margin:0;
	padding:0;
}

#sidebar1 dl.call dd#csr {
	background:#fff url(../images/sp-sprite.png) no-repeat 95.6px -12.25px;
	height:62px;
	border-top:1px solid #D1E1EF;
	margin-bottom:-17px;
}

#sidebar1 dl.chat {
	background-color:transparent !important;
	border:none;
	margin:0 0 5px 0;
}

#sidebar1 dl.chat a {
	outline:none;
}

#sidebar1 dl.call dd#csr h3 {
    font-family: tahoma;
    font-size: 110%;
    line-height: 1.3em;
    margin: 7px 0 0 10px;
}

#sidebar1 dl.call dd#csr h3 span {
	font-size:115%;
	color:#CC0000;
	margin:0;
}

#sidebar1 iframe {
	padding:10px 0 10px 10px;
}
	
dl dd {
	margin:0;
	padding:0;
	text-indent:0;
}

dl dt {
	font-weight:bold;
	font-family:tahoma;
}

#sidebar1 dl dd input{
	margin-right:5px;
	*margin-right:1px;
	
}
#sidebar1 dl dd label{
    font: 100% tahoma,arial,sans-serif;
}

#sidebar1 dl dd span {
	margin-left:5px;
}



#sidebar1 dl.guarantee {
	width:180px;
	border:none;
}

#sidebar1 dl.guarantee dd#p-assurance {
	float:left;
	position:relative;
	z-index:1000;
	margin:0;
	padding:2px 0;
}

#sidebar1 dl.guarantee dd#p-assurance a{
	 color:#000000;
	 font-weight:bold;
}

#sidebar1 dl.guarantee dd#p-assurance a span.pass {
	display:none;
}

#sidebar1 dl.guarantee dd#p-assurance a:hover span.pass {
	display:block;
	z-index:5020;
	position:absolute;
	left:98%;
	top:-1px;
	width:185px;
	background:#FFF3CF; 
	width:190px;
	text-align:left;
	padding:10px;
	border:solid 3px #FFB30D;
	font:normal 100% Tahoma, sans-serif;
	color:#000;
}

#sidebar1 dl#applicant dt,
#sidebar1 dl#applicant dd {
	_width:160px;
}

*html #sidebar1 dl.guarantee dd#p-assurance a:hover span.pass {
	left:63%;
	}

#sidebar1 dl.guarantee dd#p-assurance a:hover span.pass p {
	margin:5px 0;
}

#sidebar1 dl a.more {
	display:block;
	margin:0 0 10px 10px;
	color:#666;
}

table {
	width:100%;
	border-collapse:collapse;
	background:none;
}

div.title {
	/*background-color:#A5C763;*/
	float:left;
	padding:0 0 0 1px;
}	

/***************** Filters Begin ************************/

div#header4 {
	background:url(../images/bg-blu-grd-wide-top.png) no-repeat 50% 100%;
	float:left;
	width:965px;
	padding:0 0 0 5px;
}

#main-logo {
	float:left;
}

#main-gi-logo {
	background-color:#FFFFFF;
	float:left;
	width:180px;
	padding:0 10px 10px 10px;
	margin:0 0 0 -10px;
}

div#header4 h3 {
	background:url(../images/chat-sm.png) no-repeat right 0;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:90%;
	color:#666666;
	margin:0;
	padding:30px 50px 8px 0;
}

div#header4 a {
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:85%;
	margin:0;
	padding:0 10px;
}

#sidebar1 dl.gilogo {
	margin:0 auto 10px auto;
	_margin:0 0 10px 0;
	_width:165px;
	border:none;
	background: #EFF7FF;
}

#sidebar1 dl.gilogo dd {
	margin-top:0;
}

#filter-wrap {
	float:left;
	background-color:#EFF7FF;
	border:1px solid #8CC4E2;
	padding:3px;
	margin:10px 0;
}

div.filter-container {
	float:left;
	background: #fff;
    color: #444;
}

div.filter-container a {
	background: url(../images/btn-plus-minus.png) no-repeat scroll 0px -19px;
	float:left;
	width:144px;
    font: bold 90%/1.3em Tahoma,sans-serif;
	text-decoration:none;
	outline:none;
	color:#222222;
	padding:5px 5px 5px 23px;
}

div.close a {
	background: url(../images/btn-plus-minus.png) no-repeat scroll 0px 4px;
	float:left;
	width:144px;
    font: bold 90%/1.3em Tahoma,sans-serif;
	text-decoration:none;
	outline:none;
	color:#222222;
	padding:5px 5px 5px 23px;
}

#sidebar1 div.filter-container dl {
	display:block;
}

div.filter-container a:hover {
	color:#444444;
	text-decoration:underline;
}
	
div#filters {
	float:left;
	min-width:760px;
	/*padding:5px 3px 5px 3px;*/
}

div#filters h2 {
	float:left;
	margin:0 0 2px 5px;
	width:auto;
	font-size:125%;
	/*background:#b9da95;*/
	color:#000;
}

div#filters p.right {
	background:#C4DF99 url(../images/sp-sprite.png) no-repeat scroll 124px -98px;
	border:solid 3px #ACCF74;
	border-bottom:none;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:70%;
	font-weight:bold;
	color:#3D5F23;
	position:relative;
	padding:4px 20px 4px 25px;
	margin:0;
	top:3px;
	*top:4px;
	left:1px;
	*left:2px;
	z-index:100;
}

div#filters ul {
	float:right;
	padding:3px 0 3px 0px;
	width:99.50%;
	border:solid 3px #ACCF74;
	background:#C4DF99;
	position:relative;
	left:1px;
	*left:0;
}

div#filters ul li {
	float:right;
	text-align:right;
	padding:0 2px 0 12px;
	font-size:85%;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	color:#222222;
}

div#filters ul input[type='checkbox'] {
	position:relative;
	top:2px;
}

#app-wrap {
	background-color:#8FD0E8;
	border-bottom:1px solid #A7CCF2;
	margin:5px 0 3px 0;
	padding:0 0 5px 0;
	background: -moz-linear-gradient(top, #E5F2FF, #CFE6FC 100%);  
	background: -webkit-gradient(linear, left top, left bottom, from(#E5F2FF), to(#CFE6FC));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5F2FF', endColorstr='#CFE6FC');
}

#sidebar1 #filter-showall {
	background:none;
}

#sidebar1 #filter-showall dd {
	float:left;
	color:#666666;
	padding:0;
}

#sidebar1 #filter-showall #plan-num {
	width:31%;
	font-size:2.3em;
	font-weight:bold;
	line-height:0.9em;
	padding:0 0 0 2px;
	color:#000;
}

#sidebar1 #filter-showall #plan-fnd {
	width:22%;
	line-height:1em;
	font-size:95%;
}

#sidebar1 #filter-showall #plan-all {
	width:42%;
	float:right;
}

#sidebar1 #filter-showall #plan-all a{
	/*background: url(../images/btn-showall-grn.png) no-repeat scroll 0 0 transparent;*/
	float:right;
	font: 10px Arial,Tahoma,sans-serif;
    text-align: center;
    text-transform: uppercase;
	
}

#sidebar1 #filter-showall #plan-all a:hover {
}

/***************** Filters End ************************/

div.wrap-1 {
	float:left;
	width:auto;
	height:130px;
	*height:141px;
	/*padding:1px;*/
	position:relative;
	min-width:740px;
	*min-width:760px;
	padding-bottom:20px;
	background:url(../images/bg-blu-grd-wide.png) no-repeat 50% 116%;
	*background:url(../images/bg-blu-grd-wide.png) no-repeat 50% 117%;
	/*background-color:#A5C763;*/
	margin-bottom:10px;
}

body:nth-of-type(1) div.wrap-1 {
	background:url(../images/bg-blu-grd-wide.png) no-repeat 50% 116%;
}

*+html div.wrap-1 {
	padding:0 0 0px 0;
	/*background:url(../images/bg-mtx-wrap.gif) repeat-x right bottom;*/
}

*html div.wrap-1  {
	padding:0 0 0px 0;
	/*background:url(../images/bg-mtx-wrap.gif) repeat-x right bottom;*/
	width:100%;
}

table#matrix {
	width:auto;
	min-width:760px;
	float:left;
	font-family:Arial,Tahoma, sans-serif;
	font-size:100%;
	border-collapse:collapse;
	/*border:1px solid #A5C763;*/
	border:none;
}

*html table#matrix {
	min-width:100%;
	width:auto;
	float:left;
}

.btn.micro {
	font-size:11px;
	padding:3px 9px;
}

#matrix .btn.micro {
	margin:3px 0 0 3px;
}

#matrix tr {
	display:block;
	float:left;
	width:100%;
	min-width:764px;
}

#matrix td {
    width:100px;
    float:left;
    padding:0 30px 0 0;
    text-align:right;
	border-top:none;
}

#matrix th {
	width:130px ;
	float:left;
	padding:0;
}

table#matrix tr.even, table#matrix tr.odd {
	border-bottom:1px solid #CADEF2;
}

table#matrix tr.even td, table#matrix tr.odd td {
	*border-bottom:1px solid #CADEF2;
}

table#matrix tr.even, table#matrix tr.even td, table#matrix tr.even td.range {
	/*background:#f6fbfe;*/
}

table#matrix tr.odd, table#matrix tr.odd td, table#matrix tr.odd td.range{
	/*background:#fff;*/
}

table#matrix tr.head {
	 /* url(../images/bg-mtx-top-tr.png) repeat-x right bottom;*/
	border:1px solid #8CC4E2;
	background:#CFE6FC;
	background: -moz-linear-gradient(top, #E5F2FF, #CFE6FC 100%);  
	background: -webkit-gradient(linear, from(#E5F2FF), to(#CFE6FC));  
}

table#matrix th {
	height:38px;
	padding:0;
	text-align:center;
	background:url(../images/bg-mtx-aro-dwn.gif) no-repeat center bottom;
	*background-color:#C4DBF2;
	border-right:1px solid #CADEF2;
	/*border-bottom:1px solid #C4DBF2;*/
}

#matrix th.cell-1{
	font-family: Arial, Helvetica, san-serif;
	font-size:90%;
	color:#222222;
	width:180px;
	float:left;
	background:#EFF7FF; /* #a5c763;  url(../images/bg-mtx-top-tr.png) repeat-x right bottom;*/
	/*border-bottom:solid 3px #a5c763;
	border-left:1px solid #8CC4E2;*/
	background: -moz-linear-gradient(top, #E5F2FF, #CFE6FC 100%);  
	background: -webkit-gradient(linear, from(#E5F2FF), to(#CFE6FC));  
	border-left: 1px solid #CADEF2;

}

#matrix th.cell-1 span{
	/*padding:10px 10px 5px 10px;*/
	display:block;
	/*background: url(../images/i-aro-btmr-grn.png) no-repeat bottom right;
	_background: url(../images/i-aro-btmr-grn-IE6.png) no-repeat bottom right;*/
}

#matrix th.cell-1 span.select-carrier {
	background: url(../images/i-aro-blu-r.png) no-repeat 122px 4px;
	float:right;
	width:80px;
	padding:0 19px 0 42px;
	margin:0;
}

#matrix th.cell-1 span.select-deduct {
    background:url("../images/i-aro-blu-dwn.png") no-repeat scroll 160px 5px;
    float: right;
    padding: 2px 20px 2px 12px;
    width: 146px;
	text-align:right;
}	

#matrix th a.c_logo span {
	text-indent:-10000px;
	display:none;
}

#matrix th a.c_logo {
	display:block;
	width:100%;
	height:35px;
	padding:0;	
	text-decoration:none;
	/*border:1px solid #81AF36;*/
}

#matrix th a#Aetna {background: #fff url(../images/sp_mtx_aetna.png) no-repeat 50% 0%;}
#matrix th a#Anthem {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Anthem_Blue_Cross_of_California {background: #fff url(../images/sp_mtx_anthem_bc_ca.png) no-repeat center bottom;}
#matrix th a#Anthem_Blue_Cross_Blue_Shield {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Anthem_Blue_Cross_and_Blue_Shield {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Anthem_Blue_Cross_and_Blue_Shield_of_CT {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Anthem_Blue_Cross_and_Blue_Shield_of_NH {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Anthem_Blue_Cross_and_Blue_Shield_of_VA {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Anthem_Blue_Cross_Blue_Shield_of_Connecticut {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Anthem_BlueCross_and_BlueShield_of_Georgia {background: #fff url(../images/sp_mtx_bcbs_ga.png) no-repeat center bottom;}
#matrix th a#Arise_Health_Plan {background: url(../images/sp_mtx_arise_health_plan.png) no-repeat 50% 0%;}
#matrix th a#Blue_Cross_Blue_Shield_of_Missouri {background: #fff url(../images/sp_mtx_anthem.png) no-repeat center bottom;}
#matrix th a#Assurant {background: #fff url(../images/sp_mtx_assurant.png) no-repeat center bottom;}
#matrix th a#Assurant_TIME_MGA {background: #fff url(../images/sp_mtx_assurant.png) no-repeat center bottom;}
#matrix th a#Assurant_TIME {background: #fff url(../images/sp_mtx_assurant.png) no-repeat center bottom;}
#matrix th a#BlueCross_BlueShield_of_Texas {background: #fff url(../images/sp_mtx_bcbs.png) no-repeat center bottom;}
#matrix th a#BlueCross_BlueShield {background: #fff url(../images/sp_mtx_bcbs.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Arizona {background: #fff url(../images/sp_mtx_bcbs_az.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Arkansas {background: #fff url(../images/sp_mtx_bcbs.png) no-repeat center bottom;}
#matrix th a#BlueCross_BlueShield_of_Connecticut {background: #fff url(../images/sp_mtx_bcbs_ct.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Florida {background: #fff url(../images/sp_mtx_bcbs_fl.png) no-repeat center bottom;}
#matrix th a#BlueCross_and_BlueShield_of_Georgia {background: #fff url(../images/sp_mtx_bcbs_ga.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_of_Idaho {background: url(../images/sp_mtx_bc_id.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Illinois {background: #fff url(../images/sp_mtx_bcbs.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Kansas_City {background: #fff url(../images/sp_mtx_bcbs_ks_city.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Nebraska {background: #fff url(../images/sp_mtx_bcbs.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_New_Mexico {background: #fff url(../images/sp_mtx_bcbs.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Oklahoma {background: #fff url(../images/sp_mtx_bcbs_ok.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_Blue_Shield_of_Michigan {background: #fff url(../images/sp_mtx_bcbs_mi.png) no-repeat center bottom;}
#matrix th a#Blue_Cross_and_Blue_Shield_of_Minnesota {background: #fff url(../images/sp_mtx_bcbs_mn.png) no-repeat center bottom;}
#matrix th a#Blue_Shield_of_California {background: #fff url(../images/sp_mtx_bs_ca.png) no-repeat center bottom;}
#matrix th a#Highmark_Blue_Cross_Blue_Shield_West_Virginia {background: #fff url(../images/sp_mtx_bcbs_wv.png) no-repeat center bottom;}
#matrix th a#Premera_Blue_Cross_of_Alaska {background: #fff url(../images/sp_mtx_premera_bc_ak.png) no-repeat center bottom;}
#matrix th a#Premera_Blue_Cross_of_Washington {background: #fff url(../images/sp_mtx_premera_bc.png) no-repeat center bottom;}
#matrix th a#Premera_Blue_Cross {background: #fff url(../images/sp_mtx_premera_bc.png) no-repeat center bottom;}
#matrix th a#CBA {background: #fff url(../images/sp_mtx_cba.png) no-repeat center bottom;}
#matrix th a#Cigna {background: #fff url(../images/sp_mtx_cigna.png) no-repeat center bottom;}
#matrix th a#CIGNA {background: #fff url(../images/sp_mtx_cigna.png) no-repeat center bottom;}
#matrix th a#CIGNA_HealthCare {background: #fff url(../images/sp_mtx_cigna.png) no-repeat center bottom;}
#matrix th a#Celtic_Insurance_Company {background: #fff url(../images/sp_mtx_celtic.png) no-repeat center bottom;}
#matrix th a#Celtic {background:#fff url(../images/sp_mtx_celtic.png) no-repeat center bottom;}
#matrix th a#Markel  {background: #fff url(../images/sp_mtx_markel.png) no-repeat center bottom;}
#matrix th a#Companion_Life {background: #fff url(../images/sp_mtx_companion.png) no-repeat center bottom;}
#matrix th a#CoventryOne {background: #fff url(../images/sp_mtx_coventry_one.png) no-repeat center bottom;}
#matrix th a#Health_America_One {background: url(../images/sp_mtx_hao.png) no-repeat center bottom;}
#matrix th a#Health_Net {background: #fff url(../images/sp_mtx_healthnet.png) no-repeat center bottom;}
#matrix th a#HealthNet_of_Oregon {background: url(../images/sp_mtx_healthnet.png) no-repeat center bottom;}
#matrix th a#Health_Net_of_California {background: #fff url(../images/sp_mtx_healthnet.png) no-repeat center bottom;}
#matrix th a#HealthPartners {background: #fff url(../images/sp_mtx_healthpartners.png) no-repeat center bottom;}
#matrix th a#HII {background: #fff url(../images/sp_mtx_hii.png) no-repeat center bottom;}
#matrix th a#Humana {background: #fff url(../images/sp_mtx_humana.png) no-repeat center bottom;}
#matrix th a#HPA {background: #fff url(../images/sp_mtx_hpa.png) no-repeat center bottom;}
#matrix th a#Independence_Blue_Cross {background: url(../images/sp_mtx_ibc_pa.png) no-repeat center bottom;}
#matrix th a#IHC {background: #fff url(../images/sp_mtx_ihc.png) no-repeat center bottom;}
#matrix th a#Kaiser_Permanente {background: #fff url(../images/sp_mtx_kaiser.png) no-repeat center bottom;}
#matrix th a#LifeWise_Health_Plan {background: #fff url(../images/sp_mtx_lifewise.png) no-repeat center bottom;}
#matrix th a#LifeWise_Health {background: #fff url(../images/sp_mtx_lifewise.png) no-repeat center bottom;}
#matrix th a#Markel  {background: #fff url(../images/sp_mtx_markel.png) no-repeat center bottom;}
#matrix th a#Medica  {background: #fff url(../images/sp_mtx_medica.png) no-repeat center bottom;}
#matrix th a#Medical_Mutual  {background: #fff url(../images/sp_mtx_medical_mutual_oh.png) no-repeat center bottom;}
#matrix th a#Med_Mutual_of_Ohio  {background: #fff url(../images/sp_mtx_medical_mutual_oh.png) no-repeat center bottom;}
#matrix th a#Oxford  {background: #fff url(../images/sp_mtx_oxford.png) no-repeat center bottom;}
#matrix th a#ODS {background: url(../images/sp_mtx_ods.png) no-repeat center bottom;}
#matrix th a#PacifiCare {background: #fff url(../images/sp_mtx_pacificare.png) no-repeat center bottom;}
#matrix th a#PacifiCare_HMO {background: #fff url(../images/sp_mtx_pacificare.png) no-repeat center bottom;}
#matrix th a#PacifiCare_PPO {background: #fff url(../images/sp_mtx_pacificare.png) no-repeat center bottom;}
#matrix th a#PacificSource_Health_Plans {background: url(../images/sp_mtx_pacificsource.png) no-repeat center bottom;}
#matrix th a#PacificSource_Health_Plans_of_Idaho {background: url(../images/sp_mtx_pacificsource_id.png) no-repeat center bottom;}
#matrix th a#PCIP {background: #fff url(../images/sp_mtx_pcip.png) no-repeat center bottom;}
#matrix th a#PreExisting_Condition_Insurance_Plan {background: #fff url(../images/sp_mtx_pcip.png) no-repeat center bottom;}
#matrix th a#PreferredOne {background: #fff url(../images/sp_mtx_preferredone.png) no-repeat center bottom;}
#matrix th a#Providence {background: #fff url(../images/sp_mtx_providence.png) no-repeat center bottom;}
#matrix th a#Regence_Blue_Shield {background: #fff url(../images/sp_mtx_regence_bs.png) no-repeat center bottom;}
#matrix th a#Regence_Blue_Shield_of_Washington {background: #fff url(../images/sp_mtx_regence_bs_wa.png) no-repeat center bottom;}
#matrix th a#Regence_BlueShield_of_Washington {background: #fff url(../images/sp_mtx_regence_bs_wa.png) no-repeat center bottom;}
#matrix th a#Regence_BlueCross_BlueShield_of_Washington {background: #fff url(../images/sp_mtx_regency_bcbs.png) no-repeat center bottom;}
#matrix th a#Regence_BlueCross_BlueShield {background: #fff url(../images/sp_mtx_regency_bcbs.png) no-repeat center bottom;}
#matrix th a#Regence_Blue_Shield_of_Idaho {background: url(../images/sp_mtx_regence_bs_id.png) no-repeat center bottom;}
#matrix th a#Regence_BlueCross_BlueShield_of_Oregon {background: #fff url(../images/sp_mtx_regence_bcbs_or.png) no-repeat center bottom;}
#matrix th a#Regence_Blue_Cross_Blue_Shield_of_Oregon {background: #fff url(../images/sp_mtx_regence_bcbs_or.png) no-repeat center bottom;}
#matrix th a#Regence_BlueCross_BlueShield_of_Utah {background: #fff url(../images/sp_mtx_regency_bcbs_ut.png) no-repeat center bottom;}
#matrix th a#Rocky_Mountain_Health_Plans {background: #fff url(../images/sp_mtx_rocky_mt_hp.png) no-repeat center bottom;}
#matrix th a#SDO {background: #fff url(../images/sp_mtx_sdo.png) no-repeat center bottom;}
#matrix th a#UnitedHealthOne {background: #fff url(../images/sp_mtx_uhc.png) no-repeat center bottom;}
#matrix th a#UniCare {background: #fff url(../images/sp_mtx_unicare.png) no-repeat center bottom;}
#matrix th a#UniCare_Sound {background: #fff url(../images/sp_mtx_unicare_sound.png) no-repeat center bottom;}
#matrix th a#Golden_Rule {background: #fff url(../images/sp_mtx_uhc.png) no-repeat center bottom;}
#matrix th a#UnitedHealthcare_Underwritten_by_Golden_Rule {background: #fff url(../images/sp_mtx_uhc.png) no-repeat center bottom;}
#matrix th a#BlueCross_of_Idaho{background: #fff url(../images/sp_mtx_bc_id.png) no-repeat center bottom;}
#matrix th a#Regence_BlueSheild_of_Idaho{background: #fff url(../images/sp_mtx_regence_bs_id.png) no-repeat center bottom;}
#matrix th a#PacificSource_Health_Plans_of_Idaho{background: #fff url(../images/sp_mtx_pacificsource_id.png) no-repeat center bottom;}
#matrix th a#Providence{background: #fff url(../images/sp_mtx_providence.png) no-repeat center bottom;}
#matrix th a#HealthNet_of_Oregon{background: #fff url(../images/sp_mtx_healthnet.png) no-repeat center bottom;}
#matrix th a#PacificSource_Health_Plans{background: #fff url(../images/sp_mtx_pacificsource.png) no-repeat center bottom;}
#matrix th a#ODS{background: #fff url(../images/sp_mtx_ods.png) no-repeat center bottom;}
#matrix th a#WPS_Health_Insurance {background: url(../images/sp_mtx_wps.png) no-repeat center bottom;}

#matrix tr.d-row td.range {
	background:url(../images/sp-sprite.png) no-repeat 170px -154px;
	width:180px;
	float:left;
	text-align:left;
	padding:0; 
	border-right:1px solid #FFFFFF;
}

#matrix th.carriers {
	background:#fff;
	padding:1px 3px;
	border-top:solid 1px #ccc;
}

#matrix td a.price {
	font:bold 100%  Tahoma, sans-serif;
	color:#014c96; /*#0e3f9c;*/
	padding:1px 0;
	line-height:1.9em;
}

#matrix td a.price span.hoverclass {
	font-size:85%;
	padding:0;
	margin:0;
}

#matrix td a.price span.avail {
	color:#990000;
	font-size:85%;
	display:block;
}

#matrix td a.price span.sub{
	font:normal 75% Arial, Helvetica, sans-serif;
	position:relative;
	top:0px;
	color:#498CCC;
}

#matrix td a.deduct {
	text-decoration:none;
	color:#0e3f9c;
	display:block;
	float:right;
	padding: 0 15px 1px 0;
	margin: 0 5px 0 0;
/*	background:url(../images/i-aro-grn-s.png) no-repeat 100% 50% ;*/
	background:url(../images/i-aro-blu-r.png) no-repeat right 7px;
	*background:url(../images/i-aro-blu-r.png) no-repeat right 2px;
}

body table#matrix tr.d-row #high_deductible,
body table#matrix tr.d-row #medium_deductible,
body table#matrix tr.d-row #low_deductible {
	background-color:#FFFFFF;
	width:180px;
}

body table#matrix tr.d-row #high_deductible div.range,
body table#matrix tr.d-row #medium_deductible div.range,
body table#matrix tr.d-row #low_deductible div.range {
	width:180px;
 	position:relative;
	float:right;
}

body table#matrix tr.d-row #high_deductible div.range a.hoverclass,
body table#matrix tr.d-row #medium_deductible div.range a.hoverclass,
body table#matrix tr.d-row #low_deductible div.range a.hoverclass {
	width:180px;
}

body table#matrix tr.d-row td div.range {
	width:100px;
 	position:relative;
	float:right;
}

body table#matrix tr th div.range {
 	position:relative;
}

body table#matrix tr.d-row td div.range a.hoverclass,
body table#matrix tr th div.range a.hoverclass {
	display:none;
}

body table#matrix tr.d-row td div.range a.hoverclass {
	width:130px;
	position: absolute;
	left:0;
	top:0em;
	background:#FCFECC;
	opacity:1;
	padding:1px 0;
	margin:0;
	color:#990000;
	/*border-bottom:1px solid #ACCF74;*/
	text-align:center;
	z-index:100;
}

body table#matrix tr th div.range a.hoverclass {
background:#FCFECC;
	top:0;
	left:0;
	width:120px;
	position: absolute;
	font-size:85%;
	font-weight:normal;
	opacity:1;
	border:none;
	padding:4px 5px;
	margin:0;
	color:#990000;
	text-align:center;
	z-index:100;
}

body .ui-dialog {
	width:810px !important;
}

#matrix tr td.range div.range a.hoverclass {
	font-size:85%;
	font-weight:normal;
	width:123px;
}
	
#matrix tr td.range div.range a.hoverclass span{
	font-size:120%;
	font-size:110%;
	font-weight:bold;
	padding:0;
}

body table#matrix tr td div.range a.hoverclass {
	font-size:100%;
	font-weight:bold;
	padding:2px 0;
}

body table#matrix tr th div.range a.hoverclass span {
	font-size:120%;
	font-weight:bold;
	padding:2px 0 0 0;
	}

body table#matrix tr td div.range a.hoverclass span{
	font-size:85%;
	font-weight:normal;
}	
body table#matrix tr td div.range a.hoverclass span.rng {
	font-size:100%;
	font-weight:bold;
	padding:2px 0 0 0;
	}

#matrix td a.deduct span.cost {
	font:bold 100% Arial, Helvetica, sans-serif;
	color:#014c96; /*#0e3f9c;*/
	float:left;
	padding:5px 0 0 0;
	*padding:0;
	*margin:0 0 3px 0;
	margin-left:5px;
	border-bottom:solid 1px #0e3f9c;
}
	
body table#matrix tr th div.range a.hoverclass span,
body table#matrix tr.d-row td.range div.range a.hoverclass span,
body table#matrix tr.d-row td div.range a.hoverclass span,
body table#matrix tr.d-row td div.range a.hoverclass em {
	display:block;
}	

#matrix td a.deduct sup{
	font-size:90%;
	font-size:110%\9;  /* IE 8 */
	color:#000;
	float:left;
	width:50%;
	text-align:right;
}

#matrix td a.deduct span.hide {
	display:none;
}

#matrix tr.btm-shd{
	margin:0 auto;
	border:none;
}

*html #matrix tr.btm-shd{ 
	border:none;
	background:none;
}

#matrix tr.btm-shd td{
	width:auto;
	padding:0;
	border:none;
}

*html #matrix tr.btm-shd td{
	height:3px;
	background:#a5c763;
}

*+html #matrix tr.btm-shd td{
	background:#a5c763;
	height:3px;
}

.displayplanrow {
	float:left;
	width:760px;
	padding:3px 0 0 0;
}

div.toolbar {
	float:left;
	width:760px;
	_width:730px;
	padding:5px;	
	margin:3px 0 -35px 0;
	background:#fff;/*url(../images/bg-wht-blu-s.png) repeat-x top left;*/
	 -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
}

div.toolbar ul.hrz {
	float:right;
	text-align:right;
	margin:5px 5px 0 0;
	*width:420px;	
}

div.toolbar ul.hrz li{
	float:right;
	line-height:1em;
}

div.toolbar ul.hrz li{
	font-size:85%;
	}

div.toolbar ul.hrz li#li-bf {
	*width:190px;
	*padding-left:200px;
}

div.toolbar ul.hrz li#li-sa {
	*width:75px;
	margin-right:10px;
}

div.btn-row {
	/*clear:left; */
	float:left;
	background:url('../images/bg-btn-row.png') no-repeat bottom left;
	padding:0 10px;
	width:auto;
	text-align:left;
	margin:3px 0 3px 0;
}

div.btn-row a.btn, div.toolbar a.btn { 
	margin-left:10px;
	float:left;
    font: 10px Arial,Tahoma,sans-serif;
    text-align: center;
    text-transform: uppercase;
}

p.sort {
	font:normal 85% Tahoma,arial,sans-serif;
	margin:5px 10px 0 10px;
	float:left;
	text-align:left;
	padding:0 0 0 10px;
	*width:220px;
}

p.sort span{
	float:right;
}

p.sort a {
	margin-left:8px;
}

p.sort span a span {
	background-image:url(../images/i-aro-blu-sort.png);
	background-position:100% 50%;
	background-repeat:no-repeat;
	padding:0 15px 0 5px;
}

p.sort #shortprice, p.sort #shortdeductible {
	position:relative;
	top:-5px;
}

p.sort #shortprice {
	*width:70px;
}

p.sort #shortdeductible {
	*width:100px;
}
		
p.sort span a.sortdown span {
	background-image:url(../images/i-aro-red-dwn.png);
	background-repeat:no-repeat;
	padding:0 15px 0 5px;
}

p.sort span a.sortup span {
	background-image:url(../images/i-aro-red-up.png);
	background-position:95% 50%;
	background-repeat:no-repeat;
	padding:0 15px 0 5px;
}

a.i-pop-gry {
	background:transparent url(../images/i-pop-gry.gif) no-repeat scroll 98% 0%;
	padding-right:10px;
	padding-top:2px;
	padding-right:15px;
}

div.resultrow {
	width:790px;
	float:left; 
	background:#fff url('../images/bg-compare-dots.png') no-repeat top left;
}

*html div.resultrow { 
	width:760px;
}

div.resultrow.last{
	background:url('../images/bg-compare-last.png') no-repeat top left;
}
	
div.resultrow input.comp{
	margin:20px 5px 0 0;
	*margin:20px 0 0 0;
	float:left;
}

div.result-wrap {
	padding:0 ;
	float:left;
	background:url(../images/bg-result-shd-top.png) no-repeat top left;
}
	
div.result {
	float:right;
	margin:5px 0;
	padding:0 0px 0px 0;
	/*background:transparent url(../images/bg-h-shd-1000w.png) no-repeat scroll right bottom;
	_background:transparent url(../images/bg-h-shd-1000w-IE6.png) no-repeat scroll right bottom;
	
	background:#fff url('../images/bg-result-org.png') repeat-y top left;
	 -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;*/
	-moz-box-shadow: 0px 0px 3px #bababa;
	-webkit-box-shadow: 0px 0px 3px #bababa;
	box-shadow: 0px 0px 3px #bababa;
	border:solid 1px #d0d0d0;
}

*+html div.result {
	width:756px;
	float:left;
}

*html div.result {
	float:right;
	width:756px;
	padding:5px 7px 5px 10px;
}

div.details-header {
	width:735px;
	float:left;
}

div.details-header h4 {
	margin-top:10px;
}

div.planprice {
	float:left;
	width:120px;
	margin:0 5px 10px 0 ;
}
	
div.result div.toprow {
	padding:0;
	width:740px;
	_width:700px;
	float:left;
	*border:solid 1px #CADEF2; /*#9ebecb;*/
	margin:0;
}	

div.result div.bottomrow {
	_clear:both;
	float:left;
	width:565px;
	margin-top:0px;
}

div.apply .applytable .affordmsg-a {
	color:#058224;
	font-weight:bold;
	border-bottom:none;
}

div.apply .applytable .affordmsg-b {
	color:#990000;
	font-weight:bold;
	border-bottom:none;
}

.twoColFixLt div.highslide-body h4 {
	margin-left:10px;
	width:600px;
}

.twoColFixLt div.bottomrow {
	_clear:both;
	float:none;
	clear:left;
	background:transparent url(../images/bg-price-g-org.png) no-repeat -10px 100%;
	margin:-5px auto 0 auto;
	width:115px;
}

.twoColFixLt .details-header div.bottomrow {
	margin:0;
}

.twoColFixLt div.details-header h2 {
	padding:0 5px 5px 5px;
}

.twoColFixLt div.details-header h2 span {
	color:#FFFFFF !important;
}

*html div.result div.bottomrow {
	clear:both;
}

div.result div.toprow div.c-name {
	float:right;
	width:565px;
	border-bottom:dotted 1px #ccc;
	margin:5px 5px 5px 3px;
}

*+html div.result div.toprow div.c-name {
	width:630px;
}

*html div.result div.toprow div.c-name {
	width:630px;
}

.addon {
	background-color:#FFF3CF;
	width:105px;
	color: #993300;
    font-family: Arial,sans-serif;
    font-size: 0.8em;
	font-weight:bold;
    text-align:left;
	border:5px solid #FFE08F;
	border-bottom:none;
	padding:5px 0;
	margin:0;
}

.addon span.addon-type {
	width:59%;
	float:left;
	text-align:right;
	font-weight:normal;
}

.addon span.addon-type2 {
	width:50%;
	float:left;
	text-align:right;
	font-weight:normal;
}

.apply span {
	color: #993300;
    font-family: Arial,sans-serif;
    font-size: 0.8em;
}

.trate {
	border-top:1px solid #993300;
	padding:0 15px;
}

div.result div.toprow div.midrow a.jTip h5{
	float:left;
	width:180px;
	height:55px;
	margin:0;
}

div.result div.toprow div.midrow a.jTip h5 span {
	display:none;
}

div.result div.toprow h5 span {
	display:none;
}

div.result div.toprow div.c-name h5.uhc{
	background: url(../images/logo_UnitedHealthcare_Underwritten_by_Golden_Rule.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:0 5px;
}	

div.result div.toprow div.c-name p.planname{
	font:bold 85% Tahoma, sans-serif;
	color:#000;
	float:right;
	text-align:left;
	margin-right:5px;
	float:left;
	line-height:1.3em;
	width:100%;
}

span.view-all {
	margin-bottom:2px;
	display:block;
	float:right;
}

div.result div.apply {
	float:left;
	width:150px;
	text-align:center;
	background:#D2E8FC;
	padding:5px;
}

div.apply .applytable td {
	font-size:10px;
	border-top:0;
	border-bottom:1px solid #148FCC;
	padding:2px;
	line-height:1.3em;
	vertical-align: middle;
}

div.apply .applytable td.costcol {
	text-align:right;
	vertical-align: middle;
}

div.apply .applytable h3.val .smaller {
	font-size:12px;
	display:inline;
}

div.result div.apply  h2 {
	margin:0;
	text-align:center;
}

div.result div.apply  h2 a.btn {
	margin:0 auto 5px auto;
	width:70px;
	text-transform:none;
}

div.result div.apply  h2 a.btn span{
	padding:3px 0;
}

.twoColFixLt div.apply {
	clear:left;
	width:105px;
	text-align:center;
	background:#FFF3CF ;
	border:5px solid #FFE08F;
	margin:0 auto;
}

.twoColFixLt div.apply h2 {
	margin:0;
	text-align:center;
}

.twoColFixLt div.apply  h2 a.btn {
	margin:0 auto 5px auto;
	width:70px;
	text-transform:none;
}

.twoColFixLt div.apply  h2 a.btn span{
	padding:2px 0;
}

div.result div.midrow {
	float:left;
	/*width:634px;*/
}

*html div.result div.midrow { 
		width:590px;
}	

div.result div.toprow ul.planrow {
	float:right;
	width:410px;
	margin:5px 0 0 0;
}

*html div.result div.toprow ul.planrow {
	width:410px;
}

div.result div.toprow ul.planrow li{
	font:normal 100% tahoma,arial,sans-serif;
}

div.result div.toprow div.left{
	width:100%;
}

div.result div.toprow a.jTip {
	color:#858585;
}

div.result div.toprow p.planname a.jTip {
	margin:0 5px 0 5px;
}

div.result div.toprow a.i-pop-gry {
	font-size:100%;
	font-family:tahoma,arial,sans-serif;
	font-weight:normal;
	margin:0 0 5px 1px;
}

ul.planrow li {
	float:left;
	padding:0px 3px;
	margin:0;
	text-align:center;
}

ul.planrow li.drv {
	width:90px;
	/*border-right:dotted 1px #ccc;*/
}

*html ul.planrow li.drv {
	width:90px;
}

ul.planrow li.drv  p.header {
	text-align:center;
}

ul.planrow li.ddt{
	width:70px;
}	
	
*html ul.planrow li.ddt{
	width:55px;
}

ul.planrow li.coins {
	width:79px;
}

*html ul.planrow li.coins {
	width:65px;
}

ul.planrow li.rx {
	width:140px;
	text-align:center;
}

ul.planrow li.rx p{
	background:url(../images/i-grn-aro-s.png) no-repeat left center;
	padding-left:18px;		
}

ul.planrow li.rx p.header {
	background:none;
	padding:0;
}

ul.planrow li.rx ul.hrz { 
	padding:0;
	margin-left:5px;
}	

ul.planrow li.rx ul.hrz li{
	text-align:left;
	padding-left:0;
}

span.unchkfilter {
	background-color:#FFFFFF;
}
 
div.toprow div.apply h3.val, div.toprow div.apply h3.val span.total-p {
	color: #000000;
    display: inline;
    font-size:16px;
	margin:0;
	line-height:1.2em;
}

.twoColFixLt div.apply h3.val {
	font-size:175%;
	margin:5px;
}

div.toprow div.apply h3.val span {
	display:block;
	font-size:55%;
	color:#444;
	line-height:10px;
}

.twoColFixLt div.toprow div.apply h3.val span.total-p {
	display:inline;
	font-size:100%;
	color:#000;
}

ul.planrow li p.header, p.header {
	margin-bottom:5px;
	font:normal 10px Arial,Tahoma, sans-serif;
	color:#858585;
	text-transform: uppercase;
	text-align:center;
}

ul.planrow li p.header a.jTip{
	font:normal 10px Arial,Tahoma, sans-serif !important;
	color:#999;
	
}

div.result div.toprow h5 {
	float:left;
}

/* --------------------------- Begin h5 logo 1109 -------------------------- */

div.result div.toprow h5.Arise_Health_Plan {
	background: url(../images/logo_Arise_Health_Plan.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Aetna{
	background: url(../images/logo_Aetna.png) no-repeat center center;
	height:50px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.aetna{
	background: url(../images/logo_Aetna.png) no-repeat center center;
	height:50px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.anthem {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_BlueCross_BlueShield {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}


div.result div.toprow h5.Anthem_Blue_Cross_Blue_Shield {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_Blue_Cross_and_Blue_Shield {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_Blue_Cross_and_Blue_Shield_of_CT {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
	}

div.result div.toprow h5.Anthem_Blue_Cross_and_Blue_Shield_of_NH {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
	}

div.result div.toprow h5.Anthem_Blue_Cross_and_Blue_Shield_of_VA {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
	}

#salesagent div.result div.toprow h5.Anthem_Blue_Cross_Blue_Shield {
	background: url(../images/sp_mtx_anthem.png) no-repeat center center;
	height:35px;
	width:123px;
	margin:0px;
	}

div.result div.toprow  h5.Anthem_Blue_Cross_of_California {
	background: url(../images/logo_Anthem_Blue_Cross_of_California.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.california{
	background: url(../images/logo_Anthem_Blue_Cross_of_California.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
	
}

div.result div.toprow h5.Anthem_Blue_Cross_Blue_Shield_of_Colorado {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_Blue_Cross_and_Blue_Shield_of_Colorado {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_Blue_Cross_Blue_Shield_of_Connecticut {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_BlueCross_BlueShield_of_Georgia {
	background: url(../images/logo_BlueCross_and_BlueShield_of_Georgia.png) no-repeat center center;
	height:31px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.BlueCross_BlueShield_of_Connecticut {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.BlueCross_and_BlueShield_of_Georgia {
	background: url(../images/logo_BlueCross_and_BlueShield_of_Georgia.png) no-repeat center center;
	height:31px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_BlueCross_and_BlueShield_of_Georgia {
	background: url(../images/logo_BlueCross_and_BlueShield_of_Georgia.png) no-repeat center center;
	height:31px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_of_Idaho {
	background: url(../images/logo_Blue_Cross_of_Idaho.png) no-repeat center center;
	height:31px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Kansas_City {
	background: url(../images/logo_Blue_Cross_Blue_Shield_of_Kansas_City.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_and_Blue_Shield_of_Minnesota {
	background: url(../images/logo_Blue_Cross_and_Blue_Shield_of_Minnesota.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_BlueCross_BlueShield_of_Missouri {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_BlueCross_and_BlueShield_of_Missouri {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_BlueCross_BlueShield_of_Nevada {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Anthem_BlueCross_and_BlueShield_of_Nevada {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Premera_Blue_Cross {
	background: url(../images/logo_Premera_Blue_Cross.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Premera_Blue_Cross_of_Alaska {
	background: url(../images/logo_Premera_Blue_Cross_of_Alaska.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Premera_Blue_Cross_of_Washington {
	background: url(../images/logo_Premera_Blue_Cross.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Regence_Blue_Shield_of_Washington {
	background: url(../images/logo_Premera_Blue_Cross.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Assurant {
	background: url(../images/logo_Assurant.png) no-repeat center center;
	height:50px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.assurant {
	background: url(../images/logo_Assurant.png) no-repeat center center;
	height:50px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Assurant_TIME_MGA {
	background: url(../images/logo_Assurant.png) no-repeat center center;
	height:50px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Assurant_TIME {
	background: url(../images/logo_Assurant.png) no-repeat center center;
	height:50px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.bluecross{
	background: url(../images/logo_BCBS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield {
	background: url(../images/logo_BCBS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.BlueCross_BlueShield {
	background: url(../images/logo_BCBS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_and_Blue_Shield {
	background: url(../images/logo_BCBS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.BlueCross_BlueShield_of_Arizona {
	background: url(../images/logo_BlueCross_BlueShield_of_Arizona.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Arizona {
	background: url(../images/logo_BlueCross_BlueShield_of_Arizona.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_and_Blue_Shield_of_Arizona {
	background: url(../images/logo_BlueCross_BlueShield_of_Arizona.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Florida {
	background: url(../images/logo_Blue_Cross_Blue_Shield_of_Florida.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Michigan {
	background: url(../images/logo_Blue_Cross_Blue_Shield_of_Michigan.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.BlueCross_BlueShield_of_Missouri {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Missouri {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_and_Shield_of_Missouri {
	background: url(../images/logo_Anthem_Blue_Cross_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Oklahoma {
	background: url(../images/logo_BlueCross_BlueShield_of_Oklahoma.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_and_Shield_of_Oklahoma {
	background: url(../images/logo_BlueCross_BlueShield_of_Oklahoma.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.BlueCross_BlueShield_of_Texas {
	background: url(../images/logo_BlueCross_BlueShield_of_Texas.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Texas {
	background: url(../images/logo_BlueCross_BlueShield_of_Texas.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_and_Blue_Shield_of_Texas {
	background: url(../images/logo_BlueCross_BlueShield_of_Texas.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.BlueCross_BlueShield_of_Nebraska {
	background: url(../images/logo_BCBS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_Blue_Shield_of_Nebraska {
	background: url(../images/logo_BCBS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Cross_and_Blue_Shield_of_Nebraska {
	background: url(../images/logo_BCBS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Highmark_Blue_Cross_Blue_Shield_West_Virginia {
	background: url(../images/logo_Highmark_Blue_Cross_Blue_Shield_West_Virginia.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Blue_Shield_of_California {
	background: url(../images/logo_Blue_Shield_of_California.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow div.midrow h5.CBA {
	background: url(../images/logo_CBA.png) no-repeat center center;
	height:70px;
	width:93px;
	margin:5px 10px;
}	

div.result div.toprow h5.Celtic {
	background: url(../images/logo_Celtic.png) no-repeat center bottom;
	height:50px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Celtic_Insurance_Company {
	background: url(../images/logo_Celtic.png) no-repeat center bottom;
	height:50px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Cigna {
	background: url(../images/logo_Cigna.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.CIGNA {
	background: url(../images/logo_Cigna.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.CIGNA_HealthCare {
	background: url(../images/logo_Cigna.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Companion_Life {
	background: url(../images/logo_Companion_Life.png) no-repeat center bottom;
	height:40px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.CoventryOne {
	background: url(../images/logo_Coventry_One.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Coventry_One {
	background: url(../images/logo_Coventry_One.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Coventry_Health_Care {
	background: url(../images/logo_Coventry_One.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Health_America_One  {
	background: url(../images/logo_Health_America_One.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Health_Net {
	background: url(../images/logo_Health_Net.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.HealthNet_of_Oregon {
	background: url(../images/logo_Health_Net.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.Health_Net_of_California {
	background: url(../images/logo_Health_Net.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px
}

div.result div.toprow h5.HealthPartners {
	background: url(../images/logo_HealthPartners.png) no-repeat center bottom;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.HII {
	background: url(../images/logo_HII.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Humana {
	background: url(../images/logo_Humana.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.humana{
	background: url(../images/logo_Humana.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.HPA {
	background: url(../images/logo_hpa.png) no-repeat center center;
	height:40px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Independence_Blue_Cross {
	background: url(../images/logo_Independence_Blue_Cross.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.IHC {
	background: url(../images/logo_IHC.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Kaiser {
	background: url(../images/logo_Kaiser_Permanente.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.kaiser {
	background: url(../images/logo_Kaiser_Permanente.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Kaiser_Permanente {
	background: url(../images/logo_Kaiser_Permanente.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.LifeWise_Health {
	background: url(../images/logo_LifeWise_Health_Plan.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.LifeWise_Health_Plan {
	background: url(../images/logo_LifeWise_Health_Plan.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Markel  {
	background: url(../images/logo_Markel.png) no-repeat center center;
	height:51px;
	width:200px;
	margin:5px;
}

div.result div.toprow  h5.Medica  {
	background: url(../images/logo_Medica.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Medical_Mutual  {
	background: url(../images/logo_Medical_Mutual_of_Ohio.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Med_Mutual_of_Ohio  {
	background: url(../images/logo_Medical_Mutual_of_Ohio.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.ODS  {
	background: url(../images/logo_ODS.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Oxford {
	background: url(../images/logo_Oxford.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PacifiCare {
	background: url(../images/logo_PacifiCare.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PacifiCare_PPO {
	background: url(../images/logo_PacifiCare.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PacifiCare_HMO {
	background: url(../images/logo_PacifiCare.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PacificSource_Health_Plans {
	background: url(../images/logo_PacificSource_Health_Plans_of_Idaho.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PacificSource_Health_Plans_of_Idaho {
	background: url(../images/logo_PacificSource_Health_Plans_of_Idaho.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PCIP {
	background: url(../images/logo_PCIP.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PreExisting_Condition_Insurance_Plan {
	background: url(../images/logo_PCIP.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.PreferredOne {
	background: url(../images/logo_PreferredOne.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Providence {
	background: url(../images/logo_Providence.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_Blue_Cross {
	background: url(../images/logo_Regence_Blue_Cross.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_Blue_Shield {
	background: url(../images/logo_Regence_Blue_Shield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_Blue_Shield_of_Idaho {
	background: url(../images/logo_Regence_Blue_Shield_of_Idaho.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_BlueShield_of_Washington {
	background: url(../images/logo_Regence_BlueShield_of_Washington.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_Blue_Shield_of_Washington {
	background: url(../images/logo_Regence_BlueShield_of_Washington.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_BlueCross_BlueShield_of_Washington {
	background: url(../images/logo_Regence_BlueShield_of_Washington.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_BlueCross_BlueShield {
	background: url(../images/logo_Regence_BlueCross_BlueShield.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_BlueCross_BlueShield_of_Oregon {
	background: url(../images/logo_Regence_BlueCross_BlueShield_of_Oregon.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Regence_Blue_Cross_Blue_Shield_of_Oregon {
	background: url(../images/logo_Regence_BlueCross_BlueShield_of_Oregon.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Rocky_Mountain_Health_Plans {
	background: url(../images/logo_Rocky_Mountain_Health_Plans.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.SDO {
	background: url(../images/logo_SDO.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow h5.Golden_Rule {
	background: url(../images/logo_UnitedHealthcare_Underwritten_by_Golden_Rule.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:1px;
}

div.result div.toprow h5.UnitedHealthOne {
	background: url(../images/logo_UnitedHealthcare_Underwritten_by_Golden_Rule.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:1px;
}

div.result div.toprow h5.unitedhealthone{
	background: url(../images/logo_UnitedHealthcare_Underwritten_by_Golden_Rule.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:1px;
}

div.result div.toprow h5.UnitedHealthcare_Underwritten_by_Golden_Rule {
	background: url(../images/logo_UnitedHealthcare_Underwritten_by_Golden_Rule.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:1px;
}

div.result div.toprow  h5.UniCare {
	background: url(../images/logo_UniCare.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.unicare{
	background: url(../images/logo_UniCare.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.sound{
	background: url(../images/logo_UniCare_Sound.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.UniCare_Sound {
	background: url(../images/logo_UniCare_Sound.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.ODS {
	background: url(../images/logo_ODS.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Health_Net_Oregon{
	background: url(../images/logo_Health_Net_Oregon.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.Providence{
	background: url(../images/logo_Providence.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.WPS_Health_Insurance {
	background: url(../images/logo_WPS_Health_Insurance.png) no-repeat center center;
	height:45px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.logo_Regence_Blue_Shield_of_Idaho{
	background: url(../images/logo_Regence_Blue_Shield_of_Idaho.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.logo_PacificSource_Health_Plans_of_Idaho{
	background: url(../images/logo_PacificSource_Health_Plans_of_Idaho.png 	) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}

div.result div.toprow  h5.logo_Blue_Cross_of_Idaho{
	background: url(../images/logo_Blue_Cross_of_Idaho.png) no-repeat center center;
	height:55px;
	width:160px;
	margin:5px;
}


/* --------------------------- End h5 logo 1109 -------------------------- */


ul.planrow li p.header a.jTip {
	margin-left:0;
}

ul.planrow li.coins, ul.planrow li p {
	font:normal 85% tahoma,arial,sans-serif;
	color:#000;
}

div.bottomrow a.guarantee {
	/*background:transparent url(../images/btn-pa.png) no-repeat center bottom;*/
	font-size:85%;
	color:#990000;
	width:115px;
	height:12px;
	clear:both;
	display:block;
	text-decoration:none;
	padding:5px 0;
	margin:0;
	outline:none;
	float:left;
}

div.bottomrow a.guarantee em {
	display:none;
}

a.btn-close {
	background:transparent url(../images/btn-close-12.png) no-repeat right top;
	float:right;
	padding:0 15px 0 0;
	margin-top:-3px;
	*margin-top:0;
	color:#666666;
}

a.btn-close:hover {
	background:transparent url(../images/btn-close-12.png) no-repeat right bottom;
	float:right;
	padding:0 15px 0 0;
	margin-top:-3px;
	*margin-top:0;
	color:#000000;
}

div.bottomrow ul.hrz li a.ambest-link {
	margin:0 10px;
	font-size:85%;
	*font-size:80%;
	text-decoration:underline;
}

div.bottomrow ul.hrz li a.ncqa-link {
	font-size:85%;
	*font-size:80%;
	margin: 0 5px 0 10px;
	text-decoration:underline;
}

div.bottomrow ul.hrz li a.ncqa1 {
	background:url('../images/ncqa_stars.png') no-repeat 17px 0;
	padding:5px 63px 0 0;
}

div.bottomrow ul.hrz li a.ncqa2 {
	background:url('../images/ncqa_stars.png') no-repeat 32px -30px;
	padding:5px 63px 0 0;
}

div.bottomrow ul.hrz li a.ncqa3 {
	background:url('../images/ncqa_stars.png') no-repeat 47px -60px;
	padding: 5px 63px 0 0;
}

div.bottomrow ul.hrz li a.ncqa4 {
	background:url('../images/ncqa_stars.png') no-repeat 99px -90px;
	padding:5px 63px 0 0;
}

div.bottomrow a.guarantee em{
	background:url(../images/i-aro-red.gif) no-repeat 100% 60%;
	padding:2px 12px 2px 8px;
	font-style:normal;
	/*-moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;*/
	text-align:center;
}

div.bottomrow a.guarantee:hover {
	/*background:transparent url(../images/btn-pa.png) no-repeat 40% bottom;*/
	color:#000;
	outline:none;
}

div.bottomrow a.guarantee:hover em{
	width:100%;
	padding: 2px 25px 2px 12px;
	background-color:#FFB30D;
	background-position: 95% 60%;
	border:none;
	/*font-weight:bold;*/
	}

div.bottomrow a.guarantee span, a.guarantee span {
	display:none;
}

div.bottomrow span.pass {
	display:block;
	position:absolute;
	background:#FFF3CF; /*url(../images/p-guarantee-2.png) no-repeat center center;*/
	width:190px;
	text-align:left;
	padding:10px;
	border:solid 3px #FFB30D;
	font-size:0.85em;
	font-family:Tahoma,Arial,San-serif;
	z-index:1001;
	margin:0 0 0 110px;
	*margin:0 0 0 -195px;
}

.twoColFixLt div.bottomrow a:hover.guarantee span.pass {
	display:block;
	*display:block !important;
	position:relative;
	*position:absolute;
	background:#FFF3CF; /*url(../images/p-guarantee-2.png) no-repeat center center;*/
	width:190px;
	text-align:left;
	padding:10px;
	border:solid 3px #FFB30D;
	font-size:1em;
	font-family:Tahoma,Arial,San-serif;
	z-index:1001;
	margin:0 0 0 110px;
	*margin:0;
}

a.guarantee span p,
div.bottomrow span p {
	padding:3px 0;
}

#price-assurance span p {
	font-size:1.1em;
}

dl#offer {
	/*background:url(../images/bg-blu-ame-m.png) repeat-x top left;*/
	width:180px;
	_width:170px;
	text-align:center;
	font-weight:normal;
	border:1px solid #8CC4E2;
}	

dl#offer dd {
	width:170px;
}

dl#offer dd.left {
	width:30%;
	margin-left:25px;
	_margin-left:15px;
}

dl#offer dd.right {
	width:30%;
	margin-right:25px;
	_margin-left:15px;
}

dl#offer dd.left h3, dl#offer dd.right h3 {
	font:bold 210%  Arial, Helvetica, san-serif;
	line-height:.65em;
	margin:5px 0 5px 0;
}

dl#offer dd.left h3 span, dl#offer dd.right h3 span {	
	color:#444444;
	display:block;
	font-family:Tahoma, Arial, Helvetica, san-serif;
	font-size:45%;
	_font-size:35%;
	line-break:.2em;
	margin:0
}

dl#offer p {
	font-family:Tahoma, Arial, Helvetica, san-serif;
}

dl#offer a.grn-M span.text-M {
	/*background:transparent url(../images/ico-opg.png) no-repeat right center;*/
	font-size:1.1em;
	padding: 3px 5px 0 5px;
	margin:0;
}

dl#offer dd.center {
	padding:10px 5px;
	clear:both;
}

dl#offer a.grn-M {
	width:100px;
	margin:0 auto;
	padding:2px;
	border:solid 1px #7db037;
}

#twitter-sp {
	float:left;
	color:#6699CC;
	text-decoration:none;
	padding:2px 0 2px 10px;
	margin:5px 0;
}

div.disclaimer-wrap {
	float:left;
	padding:0 0 0 185px;
}

div.disclaimer {
	clear:left;
	float:left;
	width:720px;
	margin:10px 0;
	padding:0 0 0 25px;
	font-size:85%;
	color:#666;
}
div.disclaimer h6{
	margin:0;
	padding:0;
	color:#666;
	}

div.disclaimer ul li {
	list-style-position:outside;
}
	
table.compare tr.resultrow0 td {
	background:#fff;
	padding:2px;
}

table.compare tr td.resultcolhead {
	padding:2px;
}

table.compare {
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}

table.gry {
	background:none repeat scroll 0 0 #F6FBFE;
	width:100%;
	border-top:1px solid #D1E1EF;
	margin:0 0 10px 0;
}	

table.gry tr td.email-form {
	display:block;
	text-align:right;
	width:185px;
	float:left;
	height:22px;
	padding:5px;
}

#email_app_pro {
	margin:5px 0 10px 0;
}

#email_msg {
	border:none !important;
}

#email_msg span {
	display:none;
}

table.gry tr {
	border-bottom:1px solid #D1E1EF;
}

div.btn-div {
	clear:both;
	height:25px;
	margin:0 0 5px;
	padding:0;
}

#TB_window a#compare-email {
	color:#014C96;
	padding:3px 5px;
}

#am-best table h4 {
	float:left;
	margin-bottom:0;
	text-align:left;
	display:inline;
}

#am-best table td.resultcolhead {
	text-align:right;
}

#am-best table td.resultcolhead p {
	font-size:70%;
	font-weight:normal;
	margin:5px 0;
}

#ncqa .info {
	float:left;
	padding:20px 0 10px 0;
}

#ncqa {
	font-size:12px;
}	

#ncqa .header-ncqa {
	border-bottom:1px solid #CCCCCC;
	margin:0 0 10px 0;
}

#ncqa .header-ncqa h3 {
	padding-left:10px;
}

#ncqa .ratecol h3 {
	padding:10px 0 0 10px;
	margin:0;
}

#ncqa h5 {
	margin-top:5px;
	padding-left:5px;
}

#ncqa p {
	padding: 0 5px 10px 10px;
}

#ncqa .small {
	border-top:1px solid #CCCCCC;
	padding:10px;
}

#ncqa dl {
	width:400px;
	float: left;
	clear:both;
	padding:3px 10px; 
}

#ncqa dd.left {
	width:50%;
	padding:5px 0 0 0;
	font-weight: bold;
}

#ncqa dl {
	font-size:12px;
}

#ncqa .ratecol dl h4 {
    width: 225px;
    margin: 0;
    padding: 2px 0 0;
}


#ncqa dl.starcol {
	padding-left:35px;
}

#ncqa label {
	width:130px;
	float:right;
	text-align:right;
	padding-right:70px;
}

#ncqa ul {
	padding:0 10px 20px 10px;
	margin:0 10px;
}

#ncqa dl dd.date {
	width:70%;
	padding:5px 0 0 15px;
	font-weight:normal;
	font-size:10px;
}

#ncqa dl dd.date span {
	padding-left:7px;
}

#ncqa #overall, #ncqa dl #overall h4 {
	width:300px;
}

#ncqa #overall span {
	padding-left:5px;
}

.starrate { 
	padding:5px 0 0 0;
}

.star1 {
	background:url('../images/ncqa_stars_left.png') no-repeat right 0;
}

.star2 {
	background:url('../images/ncqa_stars_left.png') no-repeat right -30px;
}

.star3 {
	background:url('../images/ncqa_stars_left.png') no-repeat right -60px;
}

.star4 {
	background:url('../images/ncqa_stars_left.png') no-repeat right -90px;
}

.ncqa_text {
	width:430px;
	float:left;
	padding:10px 0 0 10px;
}

#ncqa .ratecol {
	width:300px;
	padding:10px 0 0 0;
}

.twoColFixLt div.highslide-body .ncqa_text h4 {
	width:430px;
	padding:10px 0 0 0;
}

#am-best tr.resultrow0,
#williqualify p,
#williqualify tr.resultrow0 {
	font-size:11px;
}

#williqualify table.conditions {
	margin:0 5px;
}

#williqualify table.conditions th p {
	border-bottom:1px solid #AFAFAF;
	padding:0 0 2px 0;
	margin:0 0 3px 0;
	text-align:left;
}

#williqualify table.conditions td {
	padding-right:5px;
}

#williqualify ol {
	padding:0 0 0 20px;
}

#williqualify ol li {
	list-style-position:outside;
	list-style-type:decimal;
	padding:5px 6px;
	margin:0 10px;
}

#williqualify a.btn {
	width:75%;
	margin-left:33px;
	padding:5px;
}

#williqualify a.btn span {
	font-size:1.1em;
	padding:4px 7px;
}

#am-best ul.notes-sq li {
	list-style-type:none;
	font-size:x-small;
}

#am-best table td table {
	width:350px;
	float:left;
	vertical-align:top;
	margin:0 0 0 20px;
}

#am-best table.rating1 {
	border-right:1px solid #CADEF2;
	z-index:10;
}

div#footer {
	color: #666666;
	border-top:1px solid #E8F1CE;
	margin-top:10px;
	width:960px;
	background:#fff;
}

div#footer ul {
	width:100%;
}

div#footer ul.links li {
	padding: 4px 15px 4px 0;
}	
	
div#footer ul.links li a {
	text-decoration:none;
	color:#6699CC;
}

div#footer ul.links li#verisign {
	float:right;
}

div#footer ul#copyrights {
	margin-left:0;
	font-size:x-small;
	margin:5px 0;
}

</style>
<!--[if IE 5]>
<style type="text/css"> 
/* place css box model fixes for IE 5* in this conditional comment */
.twoColFixLt #sidebar1 { width: 230px; }
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColFixLt #sidebar1 { padding-top: 30px; }
.twoColFixLt #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->


div#sidebar1 ul#legend li {
	padding:3px 0 3px 18px;
}

#sidebar1 .content {
	width:180px;
	float:left;
	color:#222;
	margin:5px 0;
	border:solid 1px #8CC4E2;
	background:#fff;
}

#sidebar1 .content dt {
	float:left;
	display:block;
	width:170px;
	padding:5px 0 5px 10px;
	background:#E5F2FF;
	background: -moz-linear-gradient(top, #E5F2FF, #CFE6FC 100%);  
	background: -webkit-gradient(linear, from(#E5F2FF), to(#CFE6FC));  
}

#sidebar1 .content dd {
	width:165px;
	padding:2px 5px 2px 10px;
}

.content ul li {
	width:100%;
	float:left;
}

#displayplanrow #note-filter {
	background-color:#FEFFBF;
	float:left;
	padding:20px;
	margin:35px 0 0 0;
	_width:700px;
}


/************** filters ******************/

.red {
	color:#990000 !important;
}

.blue-link {
	color:#014C96 !important;
}

.planloader{
	padding-top:340px;
	text-align:center;
}

.txt-r {
	text-align:right;
}

.txt-l {
	text-align:left;
}

.gray-txt {
	color:#666666;
}

.w37pc {
	width:37%;
}

.w40pc {
	width:40%;
}

.w77pc {
	width:77%!important;
}

.clear-b {
	clear:both;
}

.gutter5-b {
	padding-bottom:5px;
}

body {
	font:13px/1.231 arial,helvetica,verdana,clean,sans-serif;
	*font-size:small;
	background: #fff;
}

table {
	font-size:inherit;
	font:100%;
}

/*---------------------New Plan Filters---------------------*/

#planfilters { 
	width:150px;
	padding:10px 5px;
	border:1px solid #D0D0D0;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 4px;
}

#planfilters .form-stacked { 
	padding-left:0;
}

#planfilters label.togglelink { 
	background:transparent url("../images/ico-plus-minus-sp.png") no-repeat 0 4px;
	padding-left:15px;
}

/* Headings, Headers
--------------------------------------------------------------
From YUI px - percent conversion :
px  %
10 77
11 85
12 93 (was 92)
13 100
14 108 (was 107)
15 116 (was 114)
16 123.1 (was 122)
17 131 (was 129)
18 138.5 (was 136)
19 146.5 (was 144)
20 153.9 (was 152)
21 161.6 (was 159)
22 167
23 174
24 182
25 189
26 197

--------------------------------*/


/*--------Text, Anchors ----------------------*/

p { 
	margin: 0 0 .1em; 
}

a img {
	border:none;
	text-decoration:none;
}

/*------------Lists-----------------------------*/

ul.inset li {
	margin-left:2em;
}

ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}

.bottomrow ul.hrz {
	margin:20px 0 0 0;
}


ul.hrz, ul.hrz li {
	float:left;
	list-style:none;
}


/*------------Generic-----------------------------*/

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear {display: inline-table;}
/* Hides from IE-mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* End hide from IE-mac */


.left {
	float:left;
}

.clearright{
	clear:right;
}

.right {
	float:right;
}

.gutter10 {
	padding:10px;
}

.gutter0_b {
	padding-bottom:0 !important;
}

.w100pc {
	width:100%;
}

.red-ncqa {
	color:#E2361E;
}

.blue-ncqa {
	color:#025C8D;
}