#header.navbar {margin:10px 10px 0 10px;
}

#header .navbar-inner {
	min-height: 50px;
	padding-right: 0;
	padding-left: 20px;	
/* 	background-color: #4C4C4C;
	background-image: -moz-linear-gradient(top, #4C4C4C, #404040);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4C4C4C), to(#404040));
	background-image: -webkit-linear-gradient(top, #303030, #101010);
	background-image: -o-linear-gradient(top, #4C4C4C, #404040);
	background-image: linear-gradient(to bottom, #4C4C4C, #404040);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff#9BD325', endColorstr='#ff#77C21C', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-image:-moz-linear-gradient(center top , #333333 0%, #1A1A1A 100%);
	background-image:-moz-linear-gradient(center top , #4C4C4C 0%, #404040 100%); */
	/*border-color: #558A0F #558A0F #558A0F #558A0F;	*/
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom:solid 4px #6AB05F; /*#414141; /*#71be19;*/
	/*  background: -moz-linear-gradient(center top , #303030 0%, #101010 100%) repeat scroll 0 0 transparent; */
}
#header.navbar .brand {
	padding: 0 0 0 10px;
	font-size: 24px;
	line-height:50px;
	min-width:150px;
	
	color: #999; /*#71be19;*/
	text-shadow: 0 1px 0 #fff;
	font-family: "Rokkitt", "Droid Sans", sans-serif;
	/*font-weight: bold;*/
}

#header.navbar .brand img {
	margin-right:10px;
}
#header .navbar-search {
	margin-top: 10px;
	margin-right:10px;
}
#header .navbar-search .search-query {
	background-color: #184552;
	border-color: #77C21C;
	color:#fefefe;
}
#header.navbar .nav > li > a {
	color: #BDDB85;
	color:#ccc;
	/* text-shadow: 0 1px 0 #558A21; */
	text-shadow: none;
	padding: 0 10px;
	font-size:18px;
	line-height:50px;
	transition: all 0.5s ease;
}
#header.navbar .nav > li > a:focus, 
/*#header.navbar .nav > li > a:hover {color: #333;}*/
#header.navbar .nav > li > a:hover {color: #cccccc;}
#header.navbar .divider-vertical {
	height: 52px;
	margin: 0;
	border-right-color: #9BD325;
	border-left-color: #77C21C;
}
#header.navbar .navbar-search .search-query:-moz-placeholder {color: rgba(255,255,255,0.6);}
#header.navbar .navbar-search .search-query:-ms-input-placeholder {color: rgba(255,255,255,0.6);}
#header.navbar .navbar-search .search-query::-webkit-input-placeholder {color: rgba(255,255,255,0.6);}

#header.navbar .nav > li > .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-top:0;
}
#header.navbar .nav > li > .dropdown-menu:before {
	top: -11px;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #77C21C;
	border-left: 11px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
}
#header.navbar .nav > li > .dropdown-menu:after {
	top: -10px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
	border-left: 10px solid transparent;
}
#header.navbar .nav li.dropdown.open > .dropdown-toggle, 
#header.navbar .nav li.dropdown.active > .dropdown-toggle, 
#header.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #9BD325;
	background-image: -moz-linear-gradient(top, #77C21C, #9BD325);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#77C21C), to(#9BD325));
	background-image: -webkit-linear-gradient(top, #77C21C, #9BD325);
	background-image: -o-linear-gradient(top, #77C21C, #9BD325);
	background-image: linear-gradient(to bottom, #77C21C, #9BD325);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff#77C21C', endColorstr='#ff#9BD325', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#header.navbar .dropdown-menu li > a:hover, 
#header.navbar .dropdown-menu li > a:focus, 
#header.navbar .dropdown-submenu:hover > a {text-shadow:none;}
/*==================================================
* dropdown user account
* ===============================================*/
.dropdown-menu.dropdown-user-account {width:365px;}
.dropdown-menu.dropdown-user-account .account-img-container {
	float:left;
	width:130px;
	margin-bottom:15px;
}
.dropdown-menu.dropdown-user-account .account-img {
	margin:15px 0px 0px 15px;
	border:1px solid #d3d3d3;
	padding:4px;
	background-color:#fefefe;
	width:90px;
	height:90px;
}
.dropdown-menu.dropdown-user-account .account-info {
	float:left;
	/*width:210px;*/
	margin-bottom:15px;
}
.dropdown-menu.dropdown-user-account .account-info h3, 
.dropdown-menu.dropdown-user-account .account-info p{margin:15px 0px 0px 10px;}
.dropdown-menu.dropdown-user-account .account-info h3 {
	margin-bottom:-10px;
	font-size: 18px;
	line-height: 27px;
}
.dropdown-menu.dropdown-user-account .account-info p a{
	display:inline-block;
	color:#454545!important;
	margin:0;
	padding:0;
}
.dropdown-menu.dropdown-user-account .account-footer{
	clear:both;
	border-top:1px solid #cccccc;
	background-color:#ededed;
	margin:15px 0px -4px 0px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}
.dropdown-menu.dropdown-user-account .account-footer .btn {
	display:inline-block;
	clear:none;
	float:left;
	padding: 3px 9px;
	line-height: 18px;
	margin:10px;
}
.dropdown-menu.dropdown-user-account .account-footer .btn-primary,
.dropdown-menu.dropdown-user-account .account-footer .btn-primary:hover,
.dropdown-menu.dropdown-user-account .account-footer .btn-danger,
.dropdown-menu.dropdown-user-account .account-footer .btn-danger:hover {color: #ffffff;}