.well.widget.box-shadow-right.content-r{
	margin-top: 175px;
}

.well.widget.content-r{
	margin-top:175px;
}

#item-0 BLOCKQUOTE {
	background-image: url(../images/info-place-ie.png) no-repeat bottom right important!;
}