/* MASTHEAD STYLES */
#container-wrap {
	margin-top: 20px;
}
#container-wrap .container {
	margin-top: 0!important;
}


/*MISC */
.width-lock {
	word-break: break-all;
}



/*Successbox Modal - HIX-16104*/
#successbox .modal-header .header {
	height: 40px;
}
#successbox .modal-header .header h4 {
	line-height: 40px; 
}

.head-status{
	width:75px;
}

.gear-wheel{
	width:30px;
}


/*pop modal for incorrect address field in add employee*/
.popup-address {
    margin-top: 3%; /* hix-HIX-18182 */
}

/* shop/employer/employercomments/216#     HIX-18272 */
/* div#alert1.modal { 
  top: 55%;
} */


/* PORTAL MODAL - fix for HIX-20704 */
#portal #step-progress #progress-bar UL LI:after {
	position: absolute;
	bottom: 44px;
	width: 145px;
	z-index: 0;
}
#portal #step-progress #progress-bar UL LI.active-state .step-text:after { /* This is to move "you are here" sign */
	text-indent: 10px
}
#portal #step-progress #progress-bar UL LI.completed-state .s-no {
	color: #fff;
}
#portal #step-progress #progress-bar UL LI.completed-state .s-no:after {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 22px;
	position: absolute;
	left: 9px;
	color: #e97b00;
}


/* HIX-26592 */
#rightpanel .plans-container .plans-section-content .plan {
	width: 25% !important;
}
/* HIX-26592 ends*/