.light {
	filter: alpha(opacity=75);
}

.row-fluid [class*="span"] {
	min-height: 20px;
}

#footer, #footer .container{
	padding:10px;
}

/* Commented out because this is causing the cursor to stagger in IE8. */
/* #main .container { */
/* 	filter:progid:DXImageTransform.Microsoft.Shadow(color=#dedede,direction=135,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#dedede,direction=225,strength=5) */
/* } */

#menu {margin-left:5px;}

.view-plans {margint-bottom: 10px !important;}

#planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {left: 0px !important;}

.stuck.plans-header {margin-top: -10px}
#plansbar {height:auto !important;}
.view-plans {margin-top: 11px !important;}
.plans-header.stuck {top: 130px !important;}

.container {padding:10px 0 10px 10px;}


.table.tablesorter{
	table-layout: fixed;	
}

.table.tablesorter tr td{
	word-wrap:break-word;
}

.head-status{
	width:75px;
}

.gear-wheel{
	width:30px;
}

select.ie8-select:focus { 
	width:auto ;
}

/* HIX-22473 */
td pre {
	display: none;
}
/* HIX-22473 ends */


/* HIX-26007 */
.agentClose {
	margin-bottom: 0px;
}
/* HIX-26007 ends */

 .ball, .ball1 {display: none !important;}
 .iefall {display: block !important;}