.navbar-fixed-top .navbar-inner .container {width: 930px !important;}
#footer .container {margin: -10px 0 0 -6px !important; width: 930px !important;}

#container-wrap .container #menu {margin-left: -20px; width: 950px;}

