@charset "utf-8";
/* CSS Document */
/*--inbox styles --*/
#inbox .read {
	font-weight: normal;
}
#inbox .unread {
	font-weight: bold;
}
#inbox td.read{
	word-break: normal;
} /* HIX-45221 */
#inbox td.unread{
	word-break: normal;
} /* HIX-45221 */
#inbox .checked {
	background: #0c9bd2;
	color: #fff;
}
#inbox .checked a {
	color: #fff;
}
#inbox tbody tr {
	background: #f6f6f6;
}
#inbox .checked .dropdown {
	color: #111;
}
#inbox tbody > tr {
	opacity: 0.7;
	border-bottom: 1px solid #e4e4e4;
}
#inbox tbody tr:hover {
	color: #000;
	background: #fff;
	opacity: 1;
}
#inbox .checked .dropdown li a {
	color: #111;
	opacity: 1;
}
#inbox .checked .dropdown li a:hover {
	color: #fff;
	opacity: 1;
}
.checked:hover {
color: #fff;
background: #0C9BD2 !important;
}

.checked:hover td {
color: #fff;
}

.graydrkbg a {
	text-decoration: none;
	padding: 0 4px;
}
#inbox .none {
	border: 0px
}
#inbox .none tr {
	opacity: 1;
	background: none;
	border: 0px;
}
#inbox .none tr:hover {
	background: none;
	color: #666;
}
.row-fluid [class^="icon-"], 
.row-fluid [class*=" icon-"] {
 display: inline-block;
 width: 14px;
 height: 14px;
 line-height: 14px;
 vertical-align: text-top;
 /* background-image: url("../img/glyphicons.png"); */
 background-image: none;
 background-position: 14px 14px;
 background-repeat: no-repeat;
}
.title {min-height: 20px;}
 .icon-envelope {
	background-position: 0 -23px;
}
 .icon-attachment {
	background-position: -48px -143px;
}
.icon-envelope-read {
	background-position: 0 -287px;
}
 .icon-envelope-unread {
	background-position: 0 -23px;
}
 .icon-envelope-replied {
	background-position: -72px -287px;
}
 .icon-person {
	background-position: -73px 0;
}
 .icon-notification {
	background-position: -74px -792px;
}
 .icon-mark-read {
	background-position: 0 -287px;
}
 .icon-mark-unread {
	background-position: 0 -23px;
}
 .icon-archive {
	background-position: -96px -311px;
}
 .icon-archive:hover {
	background-position: -96px -311px;
}
 .icon-update {
	background-position: -96px -311px;
}
 .icon-terminate {
	background-position: -168px -455px;
}
 .icon-print {
	background-position: -120px -24px;
}
 .icon-reply {
	background-position: -24px -528px;
}
 .icon-eye-open {
	background-position: -24px -120px;
}
 .icon-comment {
	background-position: 0 -360px;
}
i.icon-person, i.icon-notification {
	padding: 0 5px 0 0;
}
.icon-pencil {background-position: 0 -72px;}
 .icon-trash {background-position: -145px -23px;}

i.caret.icon-white {
	width: 2px;
	height: 2px;
	margin-top: 5px;
}

.icon-envelope {color: #fff;}
.icon-attachment:before {content: "\f0c6"; font-size: 18px;}
/* .icon-cog:before {content: none !important;} */ /*HIX-18985*/
.icon-reply:before,
.icon-print:before {
    color: rgb(255, 255, 255);
    position: relative;
    top: -2px;
}
.icon-reply:before {
    content: "\f112";
}
.icon-print:before {
    content: "\f02f";
}
.badge {
	margin-left: 6px;
}

.bigModal .modal-body {
	max-height: 510px;
}
.chzn-container {
	width: 543px !important;
}
.chzn-results {
	width: 541px !important;
}
#inbox .header {width: 20px;}



/************************* Select *********************************/

.chzn-container-multi .chzn-choices {
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	color: #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: none;
	background: url('../img/address.png') 98% 50% no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #D9EDF7;
	border-color: #b1dbe4;
	background-image: none;
	-webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	font-size: .885em;
	padding : 3px 20px 3px 5px;
	margin: 3px 0 3px 5px;
	position: relative;
	cursor: default;
	padding: 3px 20px 3px 5px;
}
.chzn-container .chzn-drop {
	background: #eee;
	border: 1px solid #AAA;
	border-top: 0;
	position: absolute;
	top: 29px;
	left: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.chzn-container .chzn-results .highlighted {
	background-color: #eee;
	filter: none;
	background-image: none;
	background: #fff;
	color: #111;
}
.chzn-results li {
	border-bottom: 1px solid #b8b8b8;
}
.chzn-results li:last-child {
	border-bottom: 0px solid #b8b8b8;
}
.msgbody {
	word-wrap: break-word;
}
.search, .folders {
	margin-bottom: 20px;
}
#upload_files_container {
	clear:both;
}
.template-download span {
	margin: 4px;
	font-size:11px;
}
.template-download {
	margin: 2px 4px 2px 0px;
	font-size:12px;
	background-color: #D9EDF7;
	border-color: #B1DBE4;
	padding: 1px;
	border-radius: 3px;
}
.template-upload span {
	margin: 4px;
	font-size:11px;
}
.fileupload-buttonbar .btn {
	margin-bottom: 0px;
}
.control-group {
	margin-bottom: 5px;
}
textarea {
	margin-top:5px;
}
.alert {margin-bottom: 20px;}

/*HIX-18896 fixes*/
#inbox .read .icon-attachment :before{
    color: #2977A7 ;
}