/* For loader in appeals and contactUs pages  */

#loaderDiv {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: white;
   opacity: .6;
}

.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
}

.normal-case.btn.btn-primary{
	text-transform: none;
}

.referal{
	font-size: 14px;
  vertical-align: text-top;
}

.exemptCell {
  width: 150px;
}

/* input.exempt {
  width: 100px;
  height: 15px;
  padding: 1px 6px;
} */