/*  ********************************************************************

    LANDING PAGE ICONS - qephome.jsp

 ******************************************************************** */
#set-1 input{
  /*HIDE CHECKBOX ON LANDING PAGE*/
  display:none;
}
input:checked + span > img {
  /* (CHECKED) IMAGE STYLES */
  /*background: #2B9438 !important;*/
  content: url('../img/lce/checked.png');
  width: 120px;
  height: 120px;
  display: none;
}
label.checkbox div {
  display: inline-block;
  background: url('../img/lce/checked.png') center no-repeat;
  vertical-align:middle;
  position: absolute;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  display: block;
  top: 0px;
  left: 0px;
  z-index: -1;
}
label.checkbox div > p {
  position: absolute;
  top: 130px;
  width: 160px;
  left: -20px;
}
label.checkbox :checked + div {
    display: none;
}
.checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding: 0 20px 20px 20px;
  margin: -50px;
}
/* HI ICON*/
.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}
/* ON HOVER THIS MAKES SURE ICON IS SAME SIZE AS ONE BELOW*/
.hi-icon {
  display: inline-block;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* BLUE ICONS AND ON HOVER COLOR TRANSITION */
.hi-icon-effect-1 .hi-icon {
  background: none;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
/* ON HOVER OF BLUE ICON; GREEN ICON */
.hi-icon-effect-1 .hi-icon:after {
  background: url('../img/lce/checked.png');
  background-size: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: #FFF;
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #2B9438;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}
.hi-icon-effect-1a .hi-icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.hi-icon-wrap {
  padding: 20px 0 0 0 !important;
}
#selectedItems {
  display: list-item;
}
.emptygreendiv {
  display:none;
}
.eventnameblock {
  display:block !important;
}
.title {
  font-family: "montserratbold", Arial, serif;
  font-size: 14px;
  border-bottom: 1px solid #7EBB1F;
}
.eachsection {
  background: #f6f6f6;
  margin-bottom: 15px;
  padding: 0 0 15px 0;
}
.repeateditems {
  background: #f6f6f6;
  margin-bottom: 15px;
  padding: 0 10px 0 10px;
}