.nav-list > li > span {
	display: block;
	padding: 3px 0;
}

.hztl-list {
	margin: 0;
	padding: 0;
}

.hztl-list li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 20px;
}

.error{
	display: none;
}