﻿@-webkit-keyframes scaleout{from{-webkit-transform:scale3d(1,1,1);opacity:1.0}to{-webkit-transition-duration:0.75s;-webkit-transform-style:preserve-3d;-webkit-transform:scale3d(1.2,1.2,1.2);opacity:0}}
@-webkit-keyframes fadein{from{opacity:0}99%{opacity:1.0}to{}}
@-webkit-keyframes tilefadein{from{opacity:0}to{opacity:1.0}}
@-webkit-keyframes tilefadeout{from{opacity:1.0}to{opacity:0}}
@-webkit-keyframes moveright{from{margin-left:-100%}to{margin-left:100%}}
@-webkit-keyframes detfadeout{from{opacity:0.7}to{opacity:0}}