@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #helpWindow {
    display: none!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  body {
    background: #47a75d;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  .modal {
    width: 90%;
    left: 5%;
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  .modal .modal-header {
    border-bottom: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #masthead .container {
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #masthead .container a {
    font-size: 14px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #masthead .container .brand {
    max-width: 144px;
    left: 26px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #masthead .container .brand {
    max-width: 150px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #masthead .container .brand {
    max-width: 180px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #masthead .container .btn-navbar {
    background: #39854a;
    border-color: #367e46;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #masthead .container .nav-collapse .nav {
    margin-top: 0!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #masthead .navbar-fixed-top {
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    top: -40px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap {
    height: auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap {
    background: #fff!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap form {
    margin: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap #sidebar {
    padding-top: 0;
    border-right: none;
    border-bottom: 1px solid #e6eaeb;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap #sidebar.span3 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap #sidebar.span3 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap #sidebar .gutter10 {
    padding: 20px 20px 14px 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap #rightpanel {
    border-left: none;
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap #rightpanel.span9 {
    width: 100%;
    padding: 10px!important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap #rightpanel.span9 {
    width: 100%;
    padding: 0!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap #progressbarwrap {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap #progressbarwrap {
    top: 48px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .carousel {
    height: auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .carousel {
    padding: 20px;
    margin-bottom: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .container {
    width: 100%;
    border: none!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item label {
    font-size: 18px;
    line-height: 44px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .item label {
    font-size: 18px;
    line-height: 44px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .item label {
    font-size: 16px;
    line-height: 44px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .item input[type="radio"],
  #container-wrap .item input[type="checkbox"] {
    font-size: 18px;
    margin: -4px 10px 0 0;
    float: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .item input[type="radio"],
  #container-wrap .item input[type="checkbox"] {
    font-size: 24px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item h3 {
    font-size: 2em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .item h3 {
    font-size: 26px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item h4 {
    font-size: 1.2em;
    line-height: 1.3em;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  /* #container-wrap .item p {
    position: absolute;
    top: 51px;
    left: 190px;
  } */
  #container-wrap .item p small {
    font-size: 16px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
  }
  #container-wrap .item p small:after {
    content: '.';
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .item p {
    left: 280px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item a.btn {
    font-size: 22px;
    padding: 14px 20px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap .item a.btn {
    font-size: 20px;
    padding: 10px 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item #nextButton {
    font-size: 22px;
    padding: 14px 20px;
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap .item #nextButton {
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap .item .button-controls {
    padding-top: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item .button-controls a.btn.reset.offset1 {
    margin-left: 0!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .item .button-controls a.btn.reset.offset1 {
    margin-left: 5%!important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .item .button-controls a.btn.reset.offset1 {
    margin-left: 14%!important;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap .item .button-controls a.btn.reset.offset1 {
    margin-left: 16%!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item .span5 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .item .span5 {
    width: 55%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .item .span5 {
    width: 45%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item .span6 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .item .span6 {
    width: 40%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .item .span6 {
    width: 35%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .item .span8 {
    margin-left: 0!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .item .span8 div:last-child {
    margin-bottom: 20px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap .push {
    height: 220px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .top-nav {
    margin: 44px 0 0 0;
    width: 100%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #container-wrap .top-nav {
    padding-bottom: 6px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .top-nav {
    padding-top: 60px;
    padding-bottom: 6px;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .top-nav .span3 {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .top-nav h1.span8 {
    width: 100%!important;
    padding-bottom: 10px;
    font-size: 2.1em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .top-nav h1.span8 {
    width: auto !important;
    margin-left: 24%!important;
    line-height: 60px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .top-nav #nextButton {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #container-wrap .top-nav #nextButton {
    margin-top: 22px;
  }
}
.mixin-table-pseudo-element-font-size {
  font-size: 26px;
  margin-left: 4px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper {
    height: auto!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .top-nav {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .sticky-wrapper .stuck {
    margin-top: 0;
    padding-top: 0;
    position: static;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .stuck {
    margin-top: 0;
    position: static;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .customize-plans {
    border-top: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .customize-plans ul:first-child {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .customize-plans #compare {
    display: none!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .sticky-wrapper .customize-plans .detailBackToAll {
    left: -290px !important;
    top: -116px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .customize-plans .detailBackToAll {
    left: -530px !important;
    top: -116px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .forward {
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .sticky-wrapper .go a:before {
    content: "NEXT: Register";
    width: 100%;
    border: 1px solid #278ddb;
    background: #3d99df;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    font-size: 18px;
    padding: 14px 0;
    opacity: 0.9;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #sidebar {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #sidebar .personalize {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .tiles #rightpanel {
    padding-left: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .tiles #rightpanel .loading {
    width: 100%;
    padding-top: 0;
    position: relative;
    top: -216px;
    left: 0;
    right: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .loading {
    top: -160px;
    width: 100%;
    padding-top: 0;
    position: relative;
    left: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .tiles #rightpanel .first-time {
    left: 4.5%!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .first-time {
    left: 24%!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .first-time.arrow {
    display: none!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .tiles #rightpanel .tile {
    width: 80%!important;
    margin-left: 10%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .tile {
    width: 43%;
    margin-left: 6%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .tiles #rightpanel .tile:nth-child(3n-1) {
    margin-left: 10%;
    margin-right: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .tile:nth-child(3n-1) {
    margin-left: 5%;
    margin-right: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .tile:hover {
    border-color: #e6e6e6;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .tile .plan-actions div {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel .tile .plan-actions .addToCart {
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
    border-left: 0!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #carrierInfo {
    text-align: center;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #carrierInfo h4 {
    border-bottom: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span4 {
    width: 100%!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .tiles #rightpanel #detailHead .span4 .details {
    display: block;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span4 .details.clearfix {
    padding-left: 5%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span4 .addToCart {
    font-size: 16px!important;
    padding: 10px 20px !important;
    width: 80%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #container-wrap .tiles #rightpanel #detailHead .span4 .addToCart {
    margin-top: -20px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span4 .circle-num {
    padding-top: 18px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span4 .title-header p {
    line-height: 24px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span4 .plan-options {
    padding-bottom: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span8 {
    width: 98%!important;
    margin-left: 1%!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) table,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) thead,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) tbody,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) th,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) tr {
    display: block!important;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) thead tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) tr,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) tr {
    border: 1px solid #d2d9db;
    margin-bottom: 1em;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td {
    border: none;
    border-bottom: 1px dotted #e6eaeb;
    position: relative;
    padding-left: 50%;
    min-height: 3em;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:before,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:last-child,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:last-child {
    border-bottom: 0;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) .txt-center,
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) .txt-center {
    text-align: left!important;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) tbody:before {
    content: 'Doctor Visits';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:nth-of-type(1):before {
    content: "Doctor visit";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(3) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) tbody:before {
    content: 'Tests';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:nth-of-type(1):before {
    content: "Tests";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(4) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) tbody:before {
    content: 'Drugs';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:nth-of-type(1):before {
    content: "Drugs";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(5) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) tbody:before {
    content: 'Outpatients';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:nth-of-type(1):before {
    content: "Outpatient";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(6) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) tbody:before {
    content: 'ER & Urgent Care';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:nth-of-type(1):before {
    content: "ER & Urgent care";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(7) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) tbody:before {
    content: 'Hospitals';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:nth-of-type(1):before {
    content: "Hospital";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(8) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) tbody:before {
    content: 'Mental/Behavioral Health';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:nth-of-type(1):before {
    content: "Mental health";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(9) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) tbody:before {
    content: 'Pregnancy';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:nth-of-type(1):before {
    content: "Pregnancy";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(10) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) tbody:before {
    content: 'Other Special Needs';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:nth-of-type(1):before {
    content: "Other special needs";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(11) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) tbody:before {
    content: "Children's Vision";
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:nth-of-type(1):before {
    content: "Children's vision";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(12) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) tbody:before {
    content: 'Dental';
    font-size: 26px;
    margin-left: 4px;
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:nth-of-type(1):before {
    content: "Dental";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:nth-of-type(2):before {
    content: "In-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:nth-of-type(3):before {
    content: "Applies to deductible";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:nth-of-type(4):before {
    content: "Tier 2 network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:nth-of-type(5):before {
    content: "Out-of-network";
  }
  #container-wrap .tiles #rightpanel #detailHead .span8 table:nth-child(13) td:nth-of-type(6):before {
    content: "Limits / Exclusion";
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #container-wrap .tiles #rightpanel #detailHead .span8 th.span4 {
    width: 17%!important;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer {
    padding: 10px 0 0 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid div:first-child {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #footer footer .container .row-fluid ul {
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #footer footer .container .row-fluid ul {
    margin-left: 30px!important;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container .row-fluid ul {
    margin-left: 56px!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #footer footer .container .row-fluid ul.media-icons {
    margin-left: 13%;
    margin-bottom: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid ul.media-icons {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid ul.media-icons li {
    margin: 10px 26px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid ul.media-icons .icon-stack-base {
    font-size: 66px!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid ul.media-icons .icon-light {
    font-size: 1.7em;
    padding: 10px 0 5px 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid ul.media-icons .icon-facebook {
    padding: 12px 0 0 26px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #footer footer .container .row-fluid .span3 {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid .span3 {
    width: 50%;
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container .row-fluid .span3 {
    width: 30%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #footer footer .container .row-fluid .span3 img {
    margin-left: 15%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #footer footer .container .row-fluid .span3 img {
    margin-left: 15%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #footer footer .container .row-fluid .span3 img {
    margin-left: 20px!important;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container .row-fluid .span3 img {
    margin-left: 40px!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid .span3 .pull-right {
    float: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  #footer footer .container .row-fluid .span5 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid .span5 {
    width: 50%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container .row-fluid .span5 {
    width: 30%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container .row-fluid .span5 .pull-right {
    float: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape), only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container .row-fluid .offset1 {
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container .icon-light {
    padding: 6px 0 0 18px!important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait), only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
  #footer footer .container #copyrights {
    text-align: center;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container #copyrights {
    margin-top: 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation : portrait) {
  #footer footer .container #copyrights {
    text-indent: 20px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  #footer footer .container #copyrights {
    text-indent: 40px;
  }
}
