/* Smartphones  ----------- */
@media (max-width: 322px) and (min-width: 0px){
	#chk-plan-table tbody tr td div.input-prepend {
		margin-top: -25px;
	}
	#resultDivs{
		margin-left:0px;
	}
	.row-fluid{
		/*margin-left:50px;*/
	}
	#tobacco-2, #cov-check-2, #tobacco-1,#cov-check-1, #tobacco-3,#cov-check-3, #tobacco-4,#cov-check-4, #tobacco-5,#cov-check-5{
		
	width: 25px !important;
	}
}
@media (max-width: 400px) and (min-width: 0px){
	
	#disclaimer .row-fluid{
		/*width: 85% !important;*/
	}
}
@media (max-width: 979px) and (min-width: 768px){
	.navbar .brand {
		margin-top: -30px !important;
	}
	.navbar-fixed-top {
		position: fixed !important;
	}
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 14px !important;
	}
	.navbar-fixed-top img {
		max-width: 100%;
	}	
}
@media all and (min-width: 0px)and (max-width: 600px){
	.vegas-background{
		height: 480px !important;
	}
	#intro{
		height:480px !important;
	}
}
@media all and (min-width: 0px)and (max-width: 768px){
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: static !important;
	}
	.navbar-fixed-top img {
		max-width: 85%;
	}
	
	.pull-left{
		margin-left:17px !important;
	}
	footer .container .row-fluid{
		padding-left:50px;
	}
}
@media all and (min-width: 0px) and (max-width: 980px){
	.navbar .brand {
			padding: 0;
			margin-top:-21px;
			padding:0;
			padding: 3px 5px;
	}
	#resultsSection .centered .span3, #resultsSection .resultwrap {
		width: 92%;
		height:320px !important;
		margin-bottom: 10px !important;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{
		margin-right:0px !important;
		margin-left:0px !important;
	}
	 #frmAffIndQuote{
	 	margin:0px;
	 }
	
	#intro-message { 
		position: relative;
		margin-top: 60px !important;
	}
	
	.navbar .btn-navbar {
		background:#5DC674 !important;
		border-color:#45A55A !important;
		border-radius:0 0 0 0 !important;
		margin-right:25px !important;
		margin-bottom:0px !important;
		margin-top:0 !important;
		display:block !important;
	}
	.navbar .btn-navbar .icon-bar {
		display: block !important;
		width: 18px !important;
		height: 2px !important;
		background-color: #f5f5f5 !important;
		-webkit-border-radius: 1px !important;
		-moz-border-radius: 1px !important;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
		-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
		box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	}
	.nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0px !important;
    color:#fff !important;
}
	 .nav-collapse .nav {
	 margin-top:40px !important;
	 	}

	.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover,
	#topnav li.dropdown > a > ul.dropdown-menu >li > a:hover{
 	 background-color: #59BA6F !important;
	}
	
	.nav-collapse .dropdown-menu a:hover {
	  background-color: #59BA6F !important;
	}
	
	.nav-collapse .nav > li {
  	float: none;
 	 text-align: left;
	}
	.navbar .nav-collapse .nav.pull-right {
 	 float: none;
	  margin-left: 20px !important;
	}
	
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	  border-radius: 0 0 0 0 !important;
	  color: #fff !important;
	  font-weight: bold !important;
	  padding: 3px 15px !important;
	}

	section div.panelwrap {
		
	}
	#hero-wrapper h1 {
		font-size: 1.2em; 
 		font-weight:normal;
	}
	#hero-wrapper {
		margin-top: 20%; 
 		margin-left: 1%;
 		margin-right: 1%;
	}
	#formzip {
		font-size: 1.25em; 
		padding: 6px 5px 5px 5px !important; 	
		padding: 6px 7px 5px 7px; 
 		width:36%;
	}	
	#hc-ticker-wrap {
		width: 90%;
	}	
	#resultsSection .resultwrap {
		/*height:300px !important;*/
		display: inline-block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding-right: 5px;
		margin-top: 10px;
		margin-left: 15px;
	}
	#resultsMain{
		/* height:auto !important; */
	}
	#noSubsidy .gutter10{
		font-size:10px;
	}
}	
@media all and (min-width: 0px) and (max-width: 720px){
	*, *:before, *:after {
	  -moz-box-sizing: border-box; 
	  -webkit-box-sizing: border-box; 
	  box-sizing: border-box;
	 }
/*html, body { width:100%;  overflow:hidden; }*/

	#intro-message { 
		position: relative;
		margin-top: 60px !important;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: static !important;
	}
	.navbar-fixed-top img {
		max-width: 85%;
	}
	
	.navbar a.btn-navbar {
		background:#5DC674 !important;
		border-color:#45A55A !important;
		border-radius:0 0 0 0 !important;
		margin-right:25px !important;
		margin-bottom:0px !important;
		margin-top:0 !important;
		display:block !important;
	}
	.navbar .btn-navbar .icon-bar {
		display: block !important;
		width: 18px !important;
		height: 2px !important;
		background-color: #f5f5f5 !important;
		-webkit-border-radius: 1px !important;
		-moz-border-radius: 1px !important;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
		-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
		box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	}
	.nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0px !important;
    color:#fff !important;
}
	 .nav-collapse.collapse ul#topnav{
	 margin-top:40px !important;
	 	}

	.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover,
	#topnav li.dropdown > a > ul.dropdown-menu >li > a:hover{
 	 background-color: #59BA6F !important;
	}
	
	.nav-collapse .dropdown-menu a:hover {
	  background-color: #59BA6F !important;
	}
	
	.nav-collapse .nav > li {
  	float: none;
 	 text-align: left;
	}
	.navbar .nav-collapse .nav.pull-right {
 	 float: none;
	  margin-left: 20px !important;
	}
	
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	  border-radius: 0 0 0 0 !important;
	  color: #fff !important;
	  font-weight: bold !important;
	  padding: 3px 15px !important;
}

	section div.panelwrap {
		
	}
	#hero-wrapper h1 {
		font-size: 1.2em; 
 		font-weight:normal;
	}
	#hero-wrapper {
		margin-top: 20%; 
 		margin-left: 1%;
 		margin-right: 1%;
	}
	#formzip {
		font-size: 1.25em; 
		padding: 6px 5px 5px 5px !important; 	
		padding: 6px 7px 5px 7px; 
 		width:36%;
	}	
	#hc-ticker-wrap {
		width: 90%;
	}
	#hc-ticker-wrap ul {
		font-size: 11px !important;
	}
	#getstarted, #editzip {
		margin-top: 8px !important;
		font-size: 1.25em !important;
		padding: 10px !important;
		margin-left: 11px !important;
	}
	#hc-ticker p {
		font-size: 16px !important;
	}
	#intro-message {
 		bottom:5%;
 	}
	#intro-message p {
		/*background: url(../images/gps-arrow-mobile.png) no-repeat 50% 0%;
			/* background: url(../images/gps-arrow-mobile.png) no-repeat 50% 0%;	 */
 				font-size:.9em;
 				font-weight:normal;
 				padding:10px 0;
 				line-height:1.2em;
 				width:80%;
	}
	.input-medium {
		width: 120px !important;
	}
	#gps{
		bottom: inherit !important;
	}
	#gps img {
		width: 90% !important;
	}
	.panel h4{
		font-size: 15px !important;
		line-height: 21px !important;
		margin-bottom: 15px !important;
	}
	.next-button-wrap {
		position: relative !important;
		clear:both;
	}
	#savingsButtons{
		position: absolute !important;
	}
	section[data-panel=page2] .next-button-wrap {

	} 
	section div.panel.span12 {
		padding-left: 5% !important;
	}
	input:not(#formzip) {
		width: 80px !important;
		font-size: 10px !important;
	}
	.cov-remove {
		font-size: 11px !important;
	}
	#chk-plan-table tbody tr:first-of-type span.add-on {
		font-size: 12px !important;
		width: 33px !important;
	}
	.nano .content {
		padding-left: 1px !important;
	}
	#cont-table-header th {
		font-size: 15px !important;
	}
	#chk-plan-table thead {
		font-size: 14px;
	}
	.next-button a.btn.btn-large {
		padding: 5px 3px !important;
		font-size: 12px !important;	
		display: inline-block !important;	
	}
	#pg2-2-next{
		display: none !important;
	}
	.panel p{
		font-size: 12px !important;
		line-height: 20px !important;
		margin: 12px 0px;
	}
	section .panel legend p.pnot {
		font-size: 15px !important;
		margin: 0;
	}
	.custom-rc {
		width: 16px;
		height: 16px;
		top: 0;
	}
	.custom-rc.rad {
		font-size: 24px;
		position: relative;
		line-height: 12px;
	}
	.custom-rc.rad span{
		position: absolute;
		left: 3px;
		top: 0px;
	}	
	.radio{
		padding-left: 0px !important;
		padding-right: 5px !important;
		margin-left: 0 !important;
	}
	.radio.inline+.radio.inline, .checkbox.inline+.checkbox.inline {
		margin-left: 8px !important;
	}
	.radio.inline+.radio.inline:first-child, .checkbox.inline+.checkbox.inline:first-child 								, .radio.inline+.radio.inline:nth-child(3){
		margin-left: 0px !important;
	}
	section:not([data-panel=page1]) label {
		font-size: 11px !important;
	}
	#pg3 fieldset {
		padding: 2px 0 !important;
		margin-bottom: 0px !important;
	}
	ul#ben-list li label {
		font-size: 13px !important;
		padding: 2px !important;
	}
	.cov-ben {
		font-size: 11px !important;
	}
	.cov-ben li {
		line-height: 14px !important;
	}
	ul.cov-ben li:before {
		font-size: 12px !important;
	}
	ul#ben-list li {
		padding: 0px 0 !important;
	}
	.well {
		padding: 3px !important;
	}
	[data-panel=page1] .panelwrap label {
		font-size: 16px !important;
		margin-bottom:0px !important;
	}
	.next-button {
		padding-top: 10px !important;
	}
	footer{
		clear: both;
	}
	footer .span3{
		padding-top: 20px;
	}
	.input-append .add-on, .input-prepend .add-on {
		line-height: 11px;
	}
	/*---------------style for result page----------------*/
	
	#callUs ul.unstyled li:last-child {
		margin-bottom: 20px;
	}
	/*---------------style for prelaunch page-----------------*/
	#prelaunch-main {
		padding:0 !important;
	}
	.row-fluid .offset2:first-child {
		margin: 0 !important;
		padding:0 !important;
	}
	.rightcol p.span12 {
		margin: 0 !important;
	}
	#preLaunchForm{
		margin-top: 20px;
	}
	#preLaunchForm input:not(#formzip) {
		width: 250px !important;
		font-size: 14px !important;
		height:50px;
	}
	#updateLead {
		padding: 15px 82px !important;
	}
}	

@media (min-width: 767px) {
	#dropDoenIcon{
		display: none;
	}
	footer .span3{
		padding-top: 0px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 720px) {
	#hero-wrapper h1 {
		font-size: 22px !important;
	}
	#formzip {
	font-size: 20px !important;
	padding: 11px 10px 10px 10px !important;
	}
	#getstarted, #editzip {
	font-size: 20px !important;
	padding: 11px !important;
	}
	#gps img {
		width: 40%;
	}
	#intro-message {
		margin-top: 105px !important;
		height: 270px !important;
	}
	#hero-wrapper {
		margin-top: 1% !important;
	}
	.row-fluid {
		clear:both;
	}
	.row-fluid .span2 {
    	width: 30% !important;
    	float: left;
	}
	#fam-cov{
		width:30px !important;
	}
	#fam-cov-minus, #fam-cov-plus{
		padding: 4px 6px;
	}
	.nano{
		width: 68%;
	}

	.panel h4 {
    	margin-bottom: 3px;
    }
    .custom-rc{
    	margin-right: 2px;
    }
    .row-fluid .span7 {
    	width: 50%;
    	float: left;
    }
    .row-fluid .span5 {
    	width: 50%;
    	float: left;
    }
    ul#ben-list li label {
    font-size: 12px;
	}
 	.radio.inline+.radio.inline:nth-child(3){
		margin-left: 8px !important;
	}
	.next-button a.btn.btn-large {
		padding: 10px 9px !important;
		font-size: 16px !important;
	}
	#resultsSection .resultwrap{
		/*height:200px !important;*/
	}
	
}
@media only screen and (min-width: 720px) and (max-width: 980px) {
	.nano {
		/* margin-left: 40px; */
	}
	.row-fluid .span3 {
		/*width: 33%;*/
	}
	#resultsSection .centered .span3 p {
		width: 80%;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1400px) {
	#callUsWrap .well {	
		margin-top: -43px;
	}
	
}
@media (max-width: 480px) and (min-width: 0px){
	.pull-right, .pull-left{
		float: none !important;
	}
	[class*="span"], .row-fluid [class*="span"] {
		width:100%;
	}
}	
@media (max-width: 770px) and (min-width: 480px){
	.row-fluid .span3 {
    	width: 50%;
    	float: left;
    }
	.pull-left, .pull-right {
		float:none !important;
	}
	.span3 .pull-right { 
		margin-top: -10px;
	}
	
}

@media (max-width: 979px) and (min-width: 780px){
	
	.row-fluid .offset1 {
		/*margin-left: 0;*/
	}
	.row-fluid .span5 .pull-right{
		float:left;
	}
}




