/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 480px) {
	.navbar .brand {
		padding: 0;
		margin-top:-4px;
		padding:0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: static !important;
	}
	.navbar-fixed-top img {
		max-width: 85%;
	}
	
	.navbar a.btn-navbar {
		background:#5DC674;
		border-color:#45A55A;
		border-radius:0 0 0 0;
		margin-right:25px;
		margin-bottom:0px;
		margin-top:0;
	}
	
	.nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0px;
    color:#fff
}
	 .nav-collapse.collapse ul#topnav{
	 margin-top:40px;
	 	}

	.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover,
	#topnav li.dropdown > a > ul.dropdown-menu >li > a:hover
	
	 {
 	 background-color: #59BA6F !important;
	}
	
	.nav-collapse .dropdown-menu a:hover {
	  background-color: #59BA6F !important;
	}
	
	.nav-collapse .nav > li {
  	float: none;
 	 text-align: left;
	}
	.navbar .nav-collapse .nav.pull-right {
 	 float: none;
	  margin-left: 20px;
	}
	
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	  border-radius: 0 0 0 0;
	  color: #fff;
	  font-weight: bold;
	  padding: 3px 15px;
}

	#hero-wrapper h1 {
		font-size: 1.2em;
		font-weight:normal;
	}
	#hero-wrapper {
		margin-top: 20%;
		 margin-left: 1%;
		 margin-right: 1%;
	}

	#formzip {
		font-size: 1.25em;
		padding: 6px 7px 5px 7px;
		width:36%;
	}	
	#hc-ticker-wrap {
		width: 90%;
	}
	#hc-ticker-wrap ul {
		font-size: 11px;
	}
	#getstarted {
		margin-top: 8px;
		font-size: 1.25em;
		padding: 10px;
		margin-left: 11px;
	}
	
	#intro-message {
		bottom:5%;
	}
	#intro-message p {
		/* background: url(../images/gps-arrow-mobile.png) no-repeat 50% 0%;	 */
		font-size:.9em;
		font-weight:normal;
		padding:10px 0;
		line-height:1.2em;
		width:80%;
	}
	.input-medium {
		width: 120px;
	}
	#gps img {
		width: 90%;
	}
}

@media only screen and (max-width: 320px) {
	#hc-ticker-wrap ul li  {
	font-size:1.1em;
	line-height:auto;
	padding:0;
}
	
	#hc-ticker p {
	padding-top:0px;
	font-size:.85em;
}		
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-width: 480px) {
	#intro-message p {
  	width:100%
}

#hc-ticker {
	margin-top:0;
}

#hc-ticker-wrap {
	margin-top:2px;
}

#hc-ticker-wrap  ul {
	margin-bottom:0;
}

#hc-ticker-wrap ul li  {
	font-size:1.5em;
}


#hc-ticker p {
	padding-top:0px;
	font-size:.85em;
}
	
}

	@media (max-width: 480px) {
#hero-wrapper {
		margin-top: 5%;
	}


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}