@charset "utf-8";
/* CSS Document */
.tabbedSections {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	/*overflow: auto;
overflow-x: hidden;*/
padding:0;
	margin:0;
}
.sticky#plansbar, .sitcky#sidebar {
	position:fixed;
	top:0;
}
.sticky .tabbable, .sticky .view-plans .plan-header {
	position:fixed !important;
	top:0;
}
#planSelect .view-plans {
	display: table;
	position: absolute;
	z-index: 1;
	top: 0px;
	width: 100%;
	background:white;
	max-width:100%;
}
#planSelect .view-plans .scroll-left-button, #planSelect .view-plans .scroll-right-button {
	background: none;
	width: 29px;
	/*border-right: 1px solid #E2E1E1;
*/border-left: none;
	cursor: pointer;
	position: relative;
	z-index: 4;
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
	left: -20px;
	border-right: 1px solid #E2E1E1;
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
	position: absolute;
	top: 0px;
	height: 178px;
	width: 29px;
	z-index: 1;
}
#planSelect .view-plans .plans-container {
	width: 96.3%;/*100%*/
	overflow: hidden;
	background:white;
	margin-left:15px;
}
#planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {
	overflow: hidden;
	background: url(../img/scallops.png) repeat-x left bottom;
	padding-bottom: 3px;
	height: 265px;
	position: relative;
	z-index:20;
	width:100%;
}
#planSelect .view-plans .plans-container .plans-section-content {
	overflow: hidden;
	position: relative;
	left: 0;
	z-index:5;
	border-bottom: 1px solid #E2E1E1;
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
	position: absolute;
	top: 0px;
	height:120px;
	width: 24px;
	background:white;
	z-index: 1;
}
#planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
	position:absolute;
	right: 0px;
	border-left: 1px solid #E2E1E1;
	background:#ededed;
	z-index:25;
	height:112px;
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
	position:absolute;
	left: 15px;
	border-right: 1px solid #E2E1E1;
	background:#ededed;
	z-index:25;
	height: 112px;
}
#planSelect .view-plans .plans-container .sticky .scroll-left-arrow-wrapper {
	left:-26px;
}
#planSelect .view-plans .plans-container .sticky .scroll-right-arrow-wrapper {
	right:-26px;
}
#planSelect .view-plans .plans-container .plans-header .plans-section-content {
	background-color:white;
}
#planSelect .view-plans td.center-container {
	padding: 0;
	background-color: white;
}
/*--generic --*/

.gutter10 {
	padding:10px !important;
}
#rightpanel {
	position:relative;
	float:right;
	padding:20px 0 30px 0;
	min-height:200px;
}
.plans-section-header h3 {
	border-top:solid 1px #ccc;
	padding-left:15px;
	background:#eaeaea;
	color:#000;
	margin: 0px;
}
.view-plans .table td {
	border-top:solid 1px #eaeaea;
}
.view-plans .table tr td:first-child {
	width: 58%;
}
.view-plans .table tr td a {
	text-align:left;
}
.view-plans .table th {
	border-top:none;
}
h4.planName {
	margin:2px 0;
	font-size:1em;
	color:#666666;
}
h4.planType {
	margin:2px 0;
}
#titlebar .nav {
	margin-bottom:0;
}
#plansbar h3 {
	margin:0px 10px 5px 10px;
}
#plansbar div, #plansbar h2 {
	display:inline-block;
}
#plansbar .pagination {
	margin:0px 10px;
	height:18px;
	position:relative;
	top:8px;
}
#plansbar .pagination a {
	background:#fff;
	line-height:8px;
	padding:6px;
}
#plansbar.form-actions {
	padding: 10px;
}
#plansbar h3.span3 {
	margin-left:0;
}
#plansbar a#favorites, #plansbar #ui-multiselect {
	margin-top:4px;
}
.plans-section {
/*position:relative;*/
}
.plans-section-content {
	position:absolute;
	left:0;
}
/*slider left */

.filter-wrap {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	padding: 10px 8px;
	width:90%;
	margin-bottom:5px;
}
.filter-wrap input, .filter-wrap select {
	margin-bottom:0;
}
.layout-slider {
	background-color: #fff;/*#F7F7F9;*/
	border: 1px solid #E1E1E8;
	padding: 20px 0px;
	width:100%;
	margin-bottom:5px;
}
.gutter5 {
	padding:5px;
}
.scroll-left-arrow {
	position:absolute;
	left:10px;
	cursor:pointer;
	top:92px;
}
.scroll-right-arrow {
	position:absolute;
	right:10px;
	cursor:pointer;
	top:92px;
}
.scroll-right-arrow-wrapper, .scroll-left-arrow-wrapper {
	cursor:pointer;
}
.content {
	overflow: hidden;
	border-left: #ccc solid 1px;
}
.plans-section-content .plan {
	float:left;
	width:22.64%; /*209px;*/
	/*	margin-right:10px;*/
	position:relative;
	/*border-right:solid 1px #e2e2e2;*/
	padding:10px 5px;
}
.plans-section-content .plan-0 {
	border-left:solid 1px #e2e2e2;
}
.plans-section-content .plan label-info, .plans-section-content .label-info,  .plans-section-content .plan label-warning, .plans-section-content .label-warning,  .plans-section-content .plan label-danger, .plans-section-content .label-danger,  .plans-section-content .plan label-success, .plans-section-content .label-success {
	white-space:normal !important;
}
.plans-section-content .plan label-info, .plans-section-content .label-info {
	background-color: #CDDFEE!important;
	font-weight:normal !important;
	color:#326289 !important;
}
.plans-section-content .plan h4.label {
	font-size:100% !important;
	font-weight:bold !important;
}
table.view-plans td.center-container {
	position:relative;
}
/*sticky scroll */

.sticky#titlebar {
	position:fixed !important;
	top:56px;
	z-index:15 !important;
	width:944px;
}
.plans-container .sticky {
	position:fixed !important;
	top:98px;
	MARGIN-LEFT:9px;
	background:White;
	opacity:1;
	width: 900px;
	padding-top:5px;
}
.plans-container .sticky .scroll-right-arrow-wrapper {
	left:885px;
}
#sidebar {
	margin-top:20px;
}
#sidebar.sticky {
	position:fixed !important;
	top:85px;
	width: 14.0769%;
}
.titlebar {
	padding: 7px 10px 5px 10px;
}
#titlebarh4 {
	margin-top:6px;
}
#titlebar, #main.titlebar {
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(center top, #F5F5F5 0%, #fff 100%);
	background-repeat: repeat-x;
	border-top: 4px solid ##99cc00;
	border-bottom:solid 1px #ccc;
	border-radius: 4px 4px 4px 4px;
}
#titlebar .nav {
	margin-bottom:0px;
}
.well > .accordion {
	background:#fff;
}
.well > .form-actions {
	margin-bottom:0;
	padding-bottom:0;
}
.container > #titlebar.sticky h3.span3, .container #titlebar.sticky {
	z-index:10;
	width:940px;
	top:54px;
}
.view-plans .plans-container .plans-header .plans-section-content {
	width:100%;/*890px*/
}
.view-plans .plans-container .plans-header.sticky .plans-section-content {
	background:#fff;
	z-index:50 !important;
}
#planstoolbar {
	margin:5px 0 10px 0;
	padding:8px 0;
	background:white;
	border-color: 1px solid #BBBBBB;
	font-size:.95em;
}
#planstoolbar .btn, #planstoolbar fieldset select, #planstoolbar fieldset select, #planstoolbar fieldset select option, #planstoolbar fieldset span {
	font-size:.95em;
}
.sticky#planstoolbar {
	position:fixed !important;
	top:76px;
	z-index:30 !important;
	width: 890px;
}
.plans-section-header .accordion-group {
	border-left:none;
	border-right:none;
}
.plans-section-header .accordion-inner {
	padding:0;
}
.gutter10 {
	padding:10px;
}
#footer {
	padding:15px 0;
}
#footer a {
	color:#999;
	font-size:90%;
}
#footer a:hover {
	color:#333;
}
.plan h2, .plan h4, .plan .actions {
	margin:0;
}
#rightpanel.ShopByOptions .well {
	padding:10px;
	min-height:300px;
}
#rightpanel.ShopByOptions .well .btn {
	padding:0;
	width:100% !important;
	min-height:85px;
	margin-bottom:20px;
}
#rightpanel.ShopByOptions .well .btn >span.gutter10 {
	display:block;
	padding:10px;
	font-size:.8em;
	vertical-align:middle;
}
#rightpanel.ShopByOptions .well .btn >span >strong {
	display:block;
	font-size:1.4em;
	margin-bottom:10px;
}
#planSelect .view-plans .plans-container .plans-header .plans-section-content {
	text-align:center !important;
	padding-top:0;
	border-bottom:none !important;
}
#planSelect .view-plans .plans-container .plans-header .plans-section-content .plan {
	padding-bottom: 36px;
	padding-top: 33px;
	border-left:1px solid #E2E1E1;
}
#planSelect .view-plans .plans-container .plans-header .plans-section-content .actions {
	margin-top:10px;
}
.plans-section-content .plan .table {
	margin-bottom:0;
}
.employerC, .employeeC {
	width:60px;
	background:#99cc00;
	text-align:center;
}
.employeeC {
	background:#74B33C;
}
.employerC small, .employeeC small {
	text-align:center;
	color:#fff;
	font-weight:bold;
}
.plan .table h4 small {
	display: block;
}
/*.plan h4 small {
    display: block;
    font-size: 85%;
}
h4.planType small {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    font-size: 85%;
    line-height: 1em;
    padding: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    white-space: nowrap;
}
*/

.row-fluid:after {
	clear: both;
}
.row-fluid:before, .row-fluid:after {
	content: "";
	display: table;
}
.row-fluid:after {
	clear: both;
}
.row-fluid:before, .row-fluid:after {
	content: "";
	display: table;
}
.row-fluid:before, .row-fluid:after {
	content: "";
	display: table;
}
.row-fluid:before, .row-fluid:after {
	content: "";
	display: table;
}
#plans-header {
	z-index: 2;
}
.plans-wrap {
	background: url("../img/teeth.png") repeat-x scroll left bottom #FFFFFF;
	float: left;
	height: 210px;
	position: relative;
	width: 640px;
}
.row-fluid {
	width: 100%;
}
.row-fluid {
	width: 100%;
}
.plans-top-wrapper {
	text-align: center;
}
body {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 13px;
}
body {
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}
html {
	font-size: 100%;
}
.addtofav {
	background-image: url("../img/glyphicons-halflings-sprite.png");
	background-position: 8px 6px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	line-height: 14px;
	width: 14px;
}
.seeplandetails {
	background-image: url("../img/glyphicons-halflings-sprite.png");
	background-position: 8px -17px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	line-height: 14px;
	width: 14px;
}
.seeplandetails:hover{
	background-image: url("../img/glyphicons-halflings-sprite.png");
		background-position: 8px -17px;
}
.addtofav:hover {
	background-image: url("../img/glyphicons-halflings-sprite.png");
	background-position: 8px 6px;
}

.plan h4 small {
	display: block;
	font-size: 85%;
}
h4.planName {
	margin-bottom:5px;
	color:#999999;
}
h4.planName .dark {
	color:#333333;
}
h4.planType {
	margin:2px 0 5px 0;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0 0 transparent;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	line-height: auto;
	outline: medium none;
	overflow: visible;
	white-space: nowrap;
	display:inline-block;
}
h4.planType small {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	color: #FFFFFF;
	line-height: 1em;
	padding:2px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	text-transform:uppercase;
	font-size: 85%;
}
h4.planType.Gold {
	background-color:#E0B200;
}
h4.planType.Silver {
	background-color: #c9c9c9;
}
h4.planType.Bronze {
	background-color: #C1A628;
}
h4.planType.Platinum {
	background-color: #B2CFD7;
}
.row-fluid .header h4.span3 {margin-left:10px; margin-bottom: 0px;}
h4 small {font-size: 12px;}
.carttable h4, .carttable h5 {margin-top: 0px; margin-bottom: 0px;}
.plan h4 {font-size: 13px;}
.margin8 {margin-top: 8px;}

.plans-section-content{
	height:250px\9;
}

.plans-section.plans-header.row-fluid.stuck{
	top:200px\9;
}