#map-modal {
	width: 915px;
}

.provider-map {
	display: flex;  
}

.provider-map__sidebar {
	
} 

.provider-map__map {
	width: 100%;
} 


.doctor-sb {
	max-height: 350px;
	width: 300px;
	overflow-y: auto;
}


.google-map {
	width: 100% !important;
	height: 100% !important;
}

#google-map-canvas {
	height: 100%;
}





.doctor-sb__pin {
	width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #004892;
    margin-right: 5px;
    padding: 1px 5px;
    color: #fff;
}
.doctor-sb__detail__name {
	color: #004892;
}
.doctor-sb__doctor {
	margin-top: 10px;
}
.doctor-sb__detail__p {
	margin-left: 20px;
	margin-bottom: 0 !important;
}

.infowindow p {
  margin: 0;
}
.google-map .conceal {
	display: none;
}

provider-map-pagination {
	float: left;
}
.provider-pagination .provider-pagination__links {
  list-style: none;
  margin: 0;
  padding: 3px;
}
.provider-pagination .provider-pagination__links li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.provider-pagination .provider-pagination__links .provider-pagination__option {
  display: inline-block;
  min-width: 15px;
  margin: 0;
  padding: 2px 2px;
  border: 1px solid transparent;
  text-align: center;
  background: none;
  cursor: pointer;
  box-sizing: content-box;
  color: #3b65a7;
  text-decoration: none;
}
.provider-pagination .provider-pagination__links .provider-pagination__option:hover {
  text-decoration: underline;
  border-color: #cbd6e7;
  background: #f0f3f8;
}
.provider-pagination .provider-pagination__links .current {
  font-weight: bold;
  color: #333;
  border-color: #e5e5e1;
  background: #C1C1C1;
  cursor: auto;
}
.provider-pagination .provider-pagination__arrow {
  cursor: pointer;
}

.planNameWrapper{
	font-size: 16px;
	margin: 15px 20px;
}


@media (max-width: 992px) {
	#map-modal {
		width: 80%;
	}
}

@media (max-width: 992px) and (orientation: landscape){
	.doctor-sb {
		max-height: 200px;
	}
}

@media (max-width: 768px) {
	.provider-map {
		flex-direction: column;
	}
	
	.provider-map__map {
		height: 250px;
	}
	
	.doctor-sb {
		max-height: 200px;
		width: 100%;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	.doctor-sb {
		max-height: 120px;
	}
	
	.provider-map__map {
		height: 150px;
	}
	
	.provider-map {
		flex-direction: row;
	}
}

