@charset "utf-8";
/* CSS Document */

.view-plans .table tr td a {
	text-align:left;
}

.view-plans .table th {
	border-top:none;
}

h4.planName {
	margin:2px 0;
	font-size:1em;
	color:#666;
	min-height:72px;
}

h4.planType {
	margin:2px 0;
}
#titlebar .nav {
	margin-bottom:0;
}


#plansbar h3{
	margin:0px 0px 10px 0px;
	line-height:20px;
	
}
#plansbar div.pull-left, #plansbar div.pull-right,  #plansbar h2 {
	display:inline-block;
}


#plansbar .pagination a {
	background:#fff;
	line-height:8px;
	padding:6px;	
}

#plansbar.form-actions {
	padding: 10px;
}

#plansbar h3.span3 {
	margin-left:0;
}

#plansbar a#favorites, #plansbar #ui-multiselect{
	margin-top:4px;
}


.plans-section {
	/*position:relative;*/
}

.plans-section-content{
	position:absolute;
	left:0;
}


/*slider left */

.filter-wrap {
	background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 10px 8px;
	width:90%;
	margin-bottom:5px;
	
}

.filter-wrap input, .filter-wrap select{
	margin-bottom:0;
}

.layout-slider {
	background-color: #fff;/*#F7F7F9;*/
    border: 1px solid #E1E1E8;
    padding: 20px 0px;
	width:100%;
	margin-bottom:5px;
	
}

.gutter5 {
	padding:5px;
}

.scroll-left-arrow, .scroll-right-arrow {
	position:absolute;
	
	cursor:pointer;
	top:82px;
	width:24px;
	border:solid 1px #e2e2e2;
	 height:48px;
	
}

.scroll-left-arrow {
	left:-20px;
	border-right:none;
	border-radius:6px 0 0 6px;

}

.stuck .scroll-left-arrow {
	left:9px;
	}
.scroll-right-arrow  {
	right32px;
	border-left:none;
	border-radius:0px 6px 6px 0;
}

.scroll-left-arrow .nextprev, .scroll-right-arrow .nextprev{
	padding:10px 4px;
	position:relative;
	top:12px;
}

.scroll-right-arrow-wrapper, .scroll-left-arrow-wrapper  {
	cursor:pointer;
}

.content {
overflow: hidden;
border-left: #ccc solid 1px;
}

.plans-section-content .plan label-info, .plans-section-content .label-info,
 .plans-section-content .plan label-warning, .plans-section-content .label-warning,
  .plans-section-content .plan label-danger, .plans-section-content .label-danger,
   .plans-section-content .plan label-success, .plans-section-content .label-success
  { 
 	white-space:normal !important;
 }
 

.plans-section-content .plan label-info, .plans-section-content .label-info {
	font-weight:normal !important;
}

.plans-section-content .plan h4.label {
	font-size:100% !important;
	font-weight:bold !important;	
}

table.view-plans td.center-container {
position:relative;
}


/*sticky scroll */

.sticky#titlebar{
	position:fixed !important;
	top:56px;
	z-index:15 !important;
	width:944px;
	
}


.plans-container .sticky {
	position:fixed !important;
	top:98px;
	margin-left:9px;
	background:White;
	opacity:1;
	width: 900px;
	padding-top:5px;

}

.plans-container .sticky .scroll-right-arrow-wrapper {
	left:885px;
}

 #sidebar {
	 margin-top:20px;
 }
 #sidebar.sticky {
	position:fixed !important;
	top:85px;
	width: 14.0769%;

 }

.titlebar{
   padding: 7px 10px 5px 10px;
}

#titlebarh4 {
	margin-top:6px;	
}


h3#titlebar {
	margin-top:0;

}
.gutter10>h3#titlebar {
	margin-top:-15px;
}

#titlebar .nav {
	margin-bottom:0px;
}

.well > .accordion {
	background:#fff;
}

.well > .form-actions {
	margin-bottom:0;
	padding-bottom:0;
	
}

.container > #titlebar.sticky h3.span3, .container #titlebar.sticky {
	z-index:10;
	width:940px;
	top:54px;
}


.view-plans .plans-container .plans-header .plans-section-content {
	width:100%;/*890px*/
	
	
}

.view-plans .plans-container .plans-header.sticky .plans-section-content {
	background:#fff;
	z-index:50 !important;
}

#planstoolbar {
	margin:5px 0 10px 0;
	padding:8px 0;
	background:white;
	border-color: 1px solid #BBBBBB;
	font-size:.95em;
  
	
}
#planstoolbar .btn, #planstoolbar fieldset select,#planstoolbar fieldset select,#planstoolbar fieldset select option, #planstoolbar fieldset span{
	font-size:.95em;
}


.sticky#planstoolbar{
	position:fixed !important;
	top:76px;
	z-index:30 !important;
	width: 890px;
}

.plans-section-header .accordion-group {
	border-left:none;
	border-right:none;
}


.plans-section-header .accordion-inner {
	padding:0;
}


.gutter10 {
	padding:10px;
}

#footer {
	padding:15px 0;
}

#footer a {
	color:#999;
	font-size:90%;
}

#footer a:hover{
	color:#333;
}



#planSelect .view-plans .plans-container .plans-header .plans-section-content {
	text-align:center !important;
	padding-top:0;
	border-bottom:none !important;
/* 	border-top:1px solid #E2E2E2; */
}

#planSelect .view-plans .plans-container .plans-header .plans-section-content .plan{
	padding-bottom:2px;
/* 	 border-right:solid 1px #ededed;  */
}

#planSelect .view-plans .plans-container .plans-header .plans-section-content .actions {
	margin-top:10px;
}
.plans-section-content .plan .table {
	margin-bottom:0;
}

.employerC, .employeeC {
	width:60px;
	background:#99cc00;
	
	text-align:center;
	
}
.employeeC {
	background:#74B33C;
}

.employerC small, .employeeC small{
	text-align:center;
	color:#fff;
	font-weight:bold;
	
}

.plan .table h5 small {
    display: block;
}


#planSelect .view-plans .plans-container .plans-header .plans-section-content .planNameWrap {
	width:100%;
	
}


#planSelect .view-plans .plans-container .plans-header .plans-section-content .planNameWrap .planName h4, .planName h4 {
font-weight:normal;
font-size:1em;
}


h3.premium {
	line-height:30px;
}

h4.green {
	color:#768E0B;
}

#mainSummary h4.green {
	margin-top:60px;
}



