@charset "utf-8";
/* CSS Document */


#rightpanel {
	position:relative;
	height:1400px;
	float:right;
}

footer {
	position:relative;
	clear:both;
	
}
.view-plans h3 {
	border-top:solid 1px #ccc;
	padding-left:5px;
	background:#ededed;
	color:#000;
}


.plans-section-header h3 {
    background: none repeat scroll 0 0 #EAEAEA;
    border-top: 1px solid #CCCCCC;
    color: #4F4F4F;
    font-size: 1.4em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
}

.view-plans .table td  {
	border-top:solid 1px #eaeaea;
}

.view-plans .table th {
	border-top:none;
}

h4.planName {
	margin:10px 0;
	font-size:1.2em;
	color:#666666;	
}

h4.planType {
	margin:5px 0;
}

#plansbar .pagination {
	margin:0;
	height:18px;	
}

#plansbar .pagination a {
	
	line-height:8px;
	padding:10px;	
}

#plansbar.form-actions {
	padding: 10px;
}

#plansbar h3.span3 {
	margin-left:0;
}

#planstoolbar {
	
}

.plans-section {
	/*position:relative;*/
}

.plans-section-content{
	position:absolute;
	left:0;
}


/*slider left */

.filter-wrap {
	background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 10px 8px;
	width:90%;
	margin-bottom:5px;
	
}

.filter-wrap input, .filter-wrap select{
	margin-bottom:0;
}

.layout-slider {
	background-color: #fff;/*#F7F7F9;*/
    border: 1px solid #E1E1E8;
    padding: 20px 0px;
	width:100%;
	margin-bottom:5px;
	
}

.gutter5 {
	padding:5px;
}

.scroll-left-arrow  {
	position:absolute;
	left:10px;
	cursor:pointer;
	top:92px;
	
}
.scroll-right-arrow  {
	position:absolute;
	right:10px;
	cursor:pointer;
	top:92px;
}

.scroll-right-arrow-wrapper, .scroll-left-arrow-wrapper  {
	cursor:pointer;
}

.content {

overflow: hidden;
border-left: #ccc solid 1px;
}

.plans-section-content .plan {
	float:left;
	width:33%;
}


table.view-plans td.center-container {
position:relative;
}


/*sticky scroll */

.sticky#contentbar{
	position:fixed !important;
	top:40px;
	z-index:15 !important;
	width:1168px;
	
}


.plans-container .sticky {
	position:fixed !important;
	top:130px;
	background:White;
	opacity:1;
	width: 820px;
	padding-top:5px;

}

 #sidebar.sticky {
	position:fixed !important;
	top:85px;
	width: 14.0769%;
	
 
 }

#contentbar {
   padding: 7px 10px 5px 10px;
   	
}

#contentbar h4 {
	margin-top:6px;	
}

#contentbar.span12{
	background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
 
}

#contentbar.sticky h3.span3, #contentbar.sticky {
	z-index:10;
}

.view-plans .plans-container .plans-header .plans-section-content {
	width:820px;
	
}

#planstoolbar {
	margin:5px 0 10px 0;
	padding:8px 0;
	background:white;
	border-color: 1px solid #BBBBBB;
	font-size:.95em;
  
	
}
#planstoolbar .btn, #planstoolbar fieldset select,#planstoolbar fieldset select,#planstoolbar fieldset select option, #planstoolbar fieldset span{
	font-size:.95em;
}


.sticky#planstoolbar{
	position:fixed !important;
	top:76px;
	z-index:30 !important;
	width: 820px;
	
	
	
}

#planSelect .view-plans .plans-container .plans-header .plans-section-content .plan img.logowrap {
	height:47px;
	width:207px;
	border:solid 1px red;
}




