.scroll-left-arrow-wrapper, .scroll-right-arrow-wrapper {
	width: 20px;
	padding: 60px 4px;
	cursor: pointer;
}
.scroll-left-arrow-wrapper {
	float: left;
	margin-left: -11px;
}
.scroll-right-arrow-wrapper {
	float: right;
	margin-right: -42px;
}

.plans-top-wrapper {
	position: relative;
	z-index: 2;
	text-align:center;
}
.plans-container {
	width:670px;
	
}

div.plans-top-wrapper.span6 {
	width:48.317948718%;
}
.scroll-left-arrow-wrapper {
	margin-left:0px;
}

.plans-section-content .plan {
	float: left;
	width: 163px;
	position: relative;
}
.view-plans .table th, .view-plans.table td, .view-plans .table td {
	border:0px;
	vertical-align: top;
	}
.dedictible .table td {
	border-bottom: 1px solid #E2E2E2;
}
#plans-header {
	z-index:2;
}
.plans-top-wrapper {
	z-index:3;
}

#cart-box {
	width: 380px; 
	border: 4px solid #4f4f4f; 
	background:#fff; 
	position:absolute; 
	z-index:10; 
	display:none;
	margin: 4px 0 0 22px;
	right: 0px;
}
#cart-body .cart-header h3 {color:#fff; margin: 0;}
#cart-box #cart-body .cart-header {background: #4f4f4f !important; width: 100%}

#health_cart,
#dental_cart {
	width:100%;
	margin: 0;
}

#cart-body h4 {margin: 0}
#cart-body .gutter10 {width: 94%;}
#cart-body .form-actions, #cart-body .controls {width: 89.5%}
.cart-header {background:#ededed;}
.closeout {
	position: relative;
	top: 10px;
	right: -3px;
	margin: -19px 0 0 0;
	border-radius: 9px; 
	
}
.remove {
background: #CCC;
padding: 0 4px 0 6px;
border-radius: 8px;
font-size: 10px;
position: absolute;
width: 50px;
right: 0;

}
.individual-subtotal h3 small {color:#666 !important; text-transform:lowercase;}

#plansbar {height: auto; width: 686px;}

#cart h4.green, h4.green {
	color:#768E0B;
}

#cart {text-align: center; padding: 0;}

#plansbar.stuck {
	background: none repeat scroll 0 0 #FFFFFF;
    position: fixed;
    padding-top: 99px;
	width: 686px;
	z-index: 20;
}
#planSelect .view-plans .plans-container {
	width: 655px;
	overflow: hidden;
	background:white;
	margin-left:15px;
}

.plans-header.stuck {
	background: none repeat scroll 0 0 #FFFFFF;
    position: fixed;
    /*top: 138px;*/
    width: 655px;
    z-index: 20;
}
.planName h4 { margin:0; line-height: 14px;}
.popover {z-index: 1060;}

table h4, table h5 { margin: 0;  }

.gutter {
	margin: -1px -2px -21px;
	height: 55px;
	position: absolute;
	width: 54px;
}

.GOLD {
background: url(/hix/resources/img/gold.png) no-repeat -3% 6%;

}
.SILVER {
  background: url(/hix/resources/img/silver.png) no-repeat -3% 6%;
}
.BRONZE{
  background: url(/hix/resources/img/bronze.png) no-repeat -3% 6%;
}
.PLATINUM {
  background:  url(/hix/resources/img/platinum.png) no-repeat -3% 6%;
}

.CATASTROPHIC {
  background:  url(/hix/resources/img/catastrophic.png) no-repeat -3% 6%;
}
/* Dental */
.dental .HIGH {
background: url(/hix/resources/img/high.png) no-repeat -3% 6%;

}
.dental .LOW {
  background: url(/hix/resources/img/low.png) no-repeat -3% 6%;
}

.HIGH {
background: url(/hix/resources/img/high.png) no-repeat -3% 6%;

}
.LOW {
  background: url(/hix/resources/img/low.png) no-repeat -3% 6%;
}
/*-------------- Left Column ol Wizard  ----------------*/

td.costs {border-right: solid 1px #ededed;} 
tr.plansRemove {border: solid 1px #ededed;} 
.plan .btn {
padding: 3px 6px 1px;
font-size: 12.5px;
}
.plans-header-content-wrapper .plan {padding-top: 0}
.view-plans {margin-top: -4px;}
h3.premium  {font-weight: bold; margin-top: 0px; font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px;}
h3.premium  small {font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#Nplans {font-size: 22px}
h5 small {font-size: 11.7px;}
.icon-chevron-down { padding: 4px;}
.icon-chevron-right {padding: 4px 6px;}
a[rel~="tooltip"] {
color: #666;
border-bottom-color:none;
}


.individual-subtotal {
	background: #82c0c7;
	color: #fff;
}
.individual-subtotal h3, 
.individual-cart-total h3 {
	margin: 0; 
	line-height: 30px;
	text-transform: none;
	color: #fff;
}
.individual-cart-total {
	background: #6FAFB6;
	color: #fff;
}

.val, .val input { font-size: 18px; font-weight: bold;}
.planimg {margin: 20px 0;}
#cart-body .planimg {width:130px; margin: 0px auto;}


.plans-container {border-right: 1px solid #dcdcdc; border-left: 0px; border-top: 0px; border-bottom: 0px;}

#benefits a[rel~="tooltip"] {
color: #666;
border-bottom: 1px dotted #B4B2B2;
display: inline-block;
}

.plan a[rel~="tooltip"] {
	display: inline-block;
}
	
#benefits a[rel~="tooltip"] i {
	display: none;
	}
	
#plansbar, #titlebar, #main.titlebar {
border-bottom: 0px;
}

.no-border {border: 0px !important;}
.border-right {
	border-right: 1px solid #dcdcdc;
	border-top: 0 !important;
	border-bottom: 0  !important;
	border-left: 0 !important;
	
}

h3.premium small {
color: #ccc;
}

 
.program-type{
font-size: 12px; line-height: 18px;}
 
h3.premium small {color:#ccc;}
.plan .table h5 small {color:#ccc;}
h3 small {text-transform: none;}
.no-health-plan{display:none;}
.no-health-plan p {
background: #f9f7c1;
border: 1px dashed #ccc;
padding: 36px 20px 30px;
text-align: center;
width: 80%;
margin: 20px auto;
}
#cart-body h3 {text-transform: none;}
.plan td {text-align: center; vertical-align: top;}
.border-right td {text-align: left !important;}

.cart-gutter {height: 50px; width: 50px; position:absolute; margin: -2px 0 0 -2px;}
/****************Arrows******************/
#planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
	position: absolute;
	right: 44px;
	z-index: 25;
	height: 80px;
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
	position: absolute;
	left: 173px;
	z-index: 25;
	height: 80px;
}

 #planSelect .view-plans .plans-container .stuck .scroll-left-arrow-wrapper {
	left: 129px;
}
 #planSelect .view-plans .plans-container .stuck .scroll-right-arrow-wrapper {
	right: 30px;
}

 .star-half {
	background: url(/hix/resources/img/half-empty-star.png) no-repeat -2px 2px;
	height: 15px;
	width: 15px;
	display: inline-block;
	
}

 .supported {
	background: url(/hix/resources/img/yes.png) no-repeat;
	height: 23px;
	width: 23px;
	display: inline-block;
}

 .not-supported {
	background: url(/hix/resources/img/no.png) no-repeat;
	height: 23px;
	width: 23px;
	display: inline-block;
}

 .half-supported {
	background: url(/hix/resources/img/yesno.png) no-repeat;
	height: 23px;
	width: 23px;
	display: inline-block;
}

 .true {
	background: #468847;
	display: inline-block;
	padding: 1px 3px;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	content:'In Plan';
	border-radius: 3px;
	float: right;
}

.true:before {content:'In Plan';}

.false {
	background: #9E9E9E;
	display: inline-block;
	padding: 1px 3px;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 3px;
	float: right;
}
.false:before {	
	content:'Not In Plan';
}

.tier2 {
	background: #3a87ad;
	display: inline-block;
	padding: 1px 3px;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 3px;
	float: right;
}
.tier2:before {	
	content:'Tier 2';
}

 .keep, .shop, .review{ background: #f3f9f9; border: 3px solid #3895b6; padding: 0 0 10px 30px; margin: 0 7px 50px 0; position: relative;}
 .keep h4, .shop h4,.review  h4 {margin: 12px 0 6px;}
 
.keep .active-arrow:before,
 .keep .active-arrow:after, 
 .shop .active-arrow:before, 
 .shop .active-arrow:after,
 .review .active-arrow:before, 
 .review .active-arrow:after
 {
  content: "";
  position: absolute;
  z-index: 1000;
  border-top: 20px solid #f3f9f9;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 0;
  bottom: -17px;
  left: 120px;  
}

 .keep .active-arrow:before,
 .shop .active-arrow:before,
 .review .active-arrow:before
{
  border-top: 20px solid #3895b6;
  bottom: -20px;
  left: 120px;
}

.shop h4, .review h4, .keep h4 { background: none !important; padding-left: 0px !important;}

 .has-deductible-Yes:before {
  content: "\f14a";
  font-family: "FontAwesome" !important;
  font-size: 19px;
  cursor: pointer;
  position: relative;
  font-style: normal;
}
.has-deductible-No:before {
  content: "\f146";
  font-family: "FontAwesome" !important;
  font-size: 19px;
  cursor: pointer;
  position: relative;
  font-style: normal;
}
 #dentalModelSelect{
 height : 230px;
 }
 
 .view-plans .benefits-label,  .view-plans .plan-details  {width: 147px;}
 .view-plans .plan-details  {text-align:center; vertical-align: middle;}
.plan-name td {height: auto;}
.plans-section-content table.table {width: auto}
.top-border {border-top:1px solid #808080;}
#rightpanel tr.planName th {height: 1px; width: 1px; color:#fff !important; padding:0px; line-height: 0;}
#rightpanel th.benefits-label a {color: #666 !important;} 
#rightpanel tr.planName {height: 1px; width: 1px; padding: 0; margin: 0; }

table.plan tr {height: 40px}

.pagination ul > li:last-child > a:after {content: " "}
#rightpanel #benefits .benefits-label a small {color: #004892 !important;} 
#rightpanel #benefits .benefits-label a small:hover {color: #11828E !important;}
#rightpanel .plans-section-content  .tier[rel~="tooltip"] {display:block}
.plans-section-content .carrierlogo {margin: 0 auto;}

.tooltip-inner {
max-width: 20em;
padding: 10px 15px;
color: #222;
text-align: left;
text-decoration: none;
border: 1px solid #CECECE;
border-top-color: #CECECE;
background: #F8F8F8 !important;
font-size: 13px;
line-height: 19px;
box-shadow: 0px 1px 5px 0px rgba(10, 10, 10, 0.2);
-webkit-border-radius: 0;
-moz-border-radius: 0px;
border-radius: 0px;
text-shadow: 0 -1px 0 rgba(141, 141, 141, 0.25);
}

.logowrap {margin-top: 15px; height: 61px;}
.side-nav.stuck {position: fixed; width: 220px}

#mainSummary table.plan td.vertical-align-top {height: 75px;}