@charset "utf-8";
/* CSS Document */

.tabbedSections {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0;
	margin: 0;
}
.sticky#plansbar, .sitcky#sidebar {
	position:fixed;
	top: 0;
}
.sticky .tabbable, .sticky .view-plans .plan-header {
	position:fixed !important;
	top: 0;
}
#planSelect .view-plans {
	display: table;
 	position: absolute; 
	z-index: 1;
/* 	top: 0px; */
	width: 100%;
	background:white;
	max-width:100%;
}
#planSelect .view-plans .scroll-left-button, #planSelect .view-plans .scroll-right-button {
	background: none;
	width: 29px;
	border-left: none;
	cursor: pointer;
	position: relative;
	z-index: 4;
}

#planSelect .view-plans .plans-container .plans-header {
	height:228px;
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
	left: -20px;
	/*border-right: 1px solid #E2E1E1;*/
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
	position: absolute;
	top: 0px;
	height: 178px;
	width: 29px;
	z-index: 1;
}

#planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {
	overflow: hidden;
	background: url(../img/scallops.png) repeat-x left bottom;
	padding-bottom: 3px;
	height: 235px;
	position: relative;
	z-index: 20;
	width: 100%;
/* 	top: -25px; 
 	border-top: 1px solid #E2E2E2; */
}
#planSelect .view-plans .plans-container .plans-section-content {
	overflow: hidden;
	position: relative;
	left: 0;
	z-index: 5;
/* 	border-bottom: 1px solid #E2E1E1; */
}
#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
	position: absolute;
	top: 0px;
	height: 178px;
	width: 22px;
	z-index: 1;
}


#planSelect .view-plans .plans-container .plans-header .plans-section-content {
	background-color: white;
}
#planSelect .view-plans td.center-container {
	padding: 0;
	background-color: white;
}

.sticky-wrapper > .plans-section > .scroll-left-arrow-wrapper {
	left:-31px;
} 
