/*!
 *
 * Global Portal - contains portal styles.
 **/
/*Mixin*/
/* #111111;*/
/*#222222;*/
/*.icon-cog {
	.color(@colorThreeDark);
}*/
.alert-disabled {
  background-color: #eeeeee;
  border-color: #dddddd;
  color: #468847;
}
a {
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid transparent;
}
a.inactive,
a.inactive:visited,
a.inactive:active,
a.inactive:hover {
  background-color: #d9d9d9 !important;
  color: #138F9D;
}
.bottom-border {
  border-bottom: 1px solid #dddddd;
}
small a {
  font-size: inherit;
}
.dl-horizontal dt {
  font-weight: normal !important;
}
.dl-horizontal dd {
  font-weight: bold  !important;
}
.dl-horizontal dt,
.dl-horizontal dd {
  line-height: 1.7em;
}
.dl-horizontal address {
  margin-top: 7px;
  margin-bottom: 0 !important;
}
.dl-lr-style dt {
  text-align: left;
}
.dl-lr-style dd {
  font-weight: normal !important;
  text-align: right;
}
ul.nav-list > li > a {
  border-bottom: 1px solid transparent;
}
#sidebar a .icon-cog {
  color: inherit;
}
#sidebar #quick-links {
  border-bottom: 1px solid #dddddd;
  padding: 0;
}
#sidebar #quick-links a {
  border-bottom: 1px solid transparent;
}
#sidebar .nav-list > span {
  background: none;
  border-bottom: 1px solid transparent;
  color: #138F9D;
  font-size: 1em;
  margin-right: -15px;
  padding: 14px;
}
.mask {
  opacity: 0.8;
  padding: 10px 0 0 55px;
  position: absolute;
  z-index: 11;
}
.mask img {
  float: left;
  position: relative;
  right: -3px;
  top: 8px;
}
.info-block {
  min-height: 500px;
  height: auto;
}
.info-block .header {
  margin-bottom: 0;
}
.info-block .info-header {
  margin: 10px 0 14px 0;
}
.info-block .info-header h5 {
  margin-top: 0;
}
.info-block .info-header p {
  margin-bottom: 0;
}
.tile {
  background-color: #F8F8F8;
  background-image: linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
  background-image: -o-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
  background-image: -moz-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
  background-image: -ms-linear-gradient(bottom, #ffffff 0%, #f9f9f9 29%, #f8f8f8 90%);
  min-height: 290px;
  height: auto !important;
}
.alert {
  padding: 8px !important;
}
.sub-header {
  background-color: #8FA884;
}
.sub-header h4 {
  font-size: 0.95em !important;
  color: #fff;
  padding: 3px 7px;
}
h5.header-secondary {
  background: none repeat scroll 0 0 #eeeeee;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
}
#plan-summary .dl-horizontal dt,
#emp-contribution .dl-horizontal dt {
  text-align: left;
  width: 189px;
  font-weight: normal;
}
#plan-summary .dl-horizontal dd,
#emp-contribution .dl-horizontal dd {
  margin-left: 191px;
  text-align: right;
}
#plan-summary .dl-horizontal dl,
#emp-contribution .dl-horizontal dl {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#plan-summary .dl-horizontal dl dt,
#emp-contribution .dl-horizontal dl dt {
  margin-left: 10px;
  width: 179px;
}
#plan-summary .dl-horizontal dt#c-s-d,
#emp-contribution .dl-horizontal dt#c-s-d {
  width: 133px !important;
}
#plan-summary .dl-horizontal dd#coverage-s-date,
#emp-contribution .dl-horizontal dd#coverage-s-date {
  margin-left: 175px !important;
}
#sample-plan-summary .info-header,
#sample-plan-summary .well {
  opacity: 0.3;
}
.plan-selected .well {
  box-shadow: none;
}
.plan-selected .dl-horizontal dt {
  text-align: left;
  width: 130px;
  font-weight: normal;
  font-size: 12px;
}
.plan-selected .dl-horizontal dd {
  margin-left: 140px;
  margin-bottom: 16px;
  text-align: right;
  font-size: 12px;
}
/**
* My Information
*/
#myinfo-edit {
  padding: 2px 12px;
}
#myinfo .dl-horizontal dt {
  width: 42% !important;
}
#myinfo .dl-horizontal dd {
  margin-left: 45%;
}
#myinfo .dl-horizontal #worksite address {
  margin-top: 8px;
  margin-bottom: 7px !important;
}
/**
* Edit My Information
*/
form#edit-myinfo .control-label,
form#edit-mydependents .control-label {
  width: 219px !important;
}
form#edit-myinfo .controls,
form#edit-mydependents .controls {
  margin-left: 220px !important;
}
form#edit-myinfo .dl-horizontal dd,
form#edit-mydependents .dl-horizontal dd {
  margin-left: 239px !important;
}
form#edit-myinfo .dl-horizontal dt,
form#edit-mydependents .dl-horizontal dt {
  width: 225px !important;
}
/**
* My Dependents
*/
#mydependent-info .dl-horizontal dd {
  margin-left: 239px !important;
}
#mydependent-info .dl-horizontal dt {
  width: 225px !important;
}
/**
* Modal
*/
#employee-esign label,
#employee-esign-date label {
  margin: 0 0 0 15px;
}
#employee-esign .controls {
  margin: 0;
}
#employee-esign input#esignName {
  margin-bottom: 11px;
}
#u-here {
  position: relative;
  left: 60px;
  top: -10px;
}
#member-portal #u-r-h {
  float: left;
  font-family: georgia;
  font-size: 10px;
  left: 74px;
  position: relative;
  top: -39px;
}
#member-portal #step-progress {
  clear: both;
  position: relative;
  top: -40px;
  width: 97.5%;
}
#member-portal #step-progress #progress-bar {
  width: 100%;
  height: 15px;
}
#member-portal #step-progress #progress-bar ul {
  display: inline;
}
#member-portal #step-progress #progress-bar ul li {
  list-style: none;
  float: left;
}
#member-portal #step-progress #progress-bar ul li.steps {
  width: 5%;
  height: auto;
  padding: 8px 0 7px 0;
}
#member-portal #step-progress #progress-bar ul li.active-state,
#member-portal #step-progress #progress-bar ul li.completed-state {
  background-color: #5abc5a;
  border-left: 1px solid #4aac4a;
}
#member-portal #step-progress #progress-bar ul li.inactive-state {
  background: #e1e1e1;
  border-left: 1px solid #ececec;
}
#member-portal #step-progress #progress-bar ul li.inactive-state span {
  color: #adadae;
}
#member-portal #step-progress #progress-bar ul li.step-desc {
  height: auto;
}
#member-portal #step-progress #progress-bar ul li.step-desc span {
  color: #fff;
  position: relative;
  float: left;
  line-height: 2.5em;
  font-size: 1em;
}
#member-portal #step-progress #progress-bar ul li.active,
#member-portal #step-progress #progress-bar ul li.complete {
  background-color: #62c462;
  border-right: 1px solid #68ca68;
}
#member-portal #step-progress #progress-bar ul li.inactive {
  background-color: #e8e8e8;
  border-right: 1px solid #eaeaea;
}
#member-portal #step-progress #progress-bar ul li.inactive span {
  color: #b9b9ba;
}
#member-portal #step-progress #progress-bar ul li.step-desc {
  width: 19.6%;
}
#member-portal #step-progress #progress-bar ul li.step-desc span {
  left: 3%;
}
#member-portal .arrow {
  position: relative;
  background: #62c462;
}
#member-portal .arrow:after {
  top: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#member-portal .active .arrow:after {
  border-color: #ffffff #62c462 #62c462;
  border-top-color: #fff;
  border-width: 7px;
  left: 68%;
  margin-left: -30px;
}
#member-portal .s-no {
  float: left;
  left: 39%;
  position: relative;
  top: 20%;
  color: #fff;
}
#member-portal .s-no i.icon-ok {
  left: -4px;
  position: relative;
}
#member-portal #oep-msg {
  position: relative;
  top: -25px;
}
#member-portal #oep-msg .well-border-b {
  background-color: none;
  border-top: none !important;
  border-right: none !important;
  border-bottom: 1px solid #f5f5f5 !important;
  border-left: none !important;
  padding: 19px 19px 0;
}
#member-portal #oep-msg #complete-oep h4 {
  margin: 0 0 10px;
}
#member-portal #oep-msg .action {
  position: relative;
  top: 35px;
}
#account-settings .dl-horizontal {
  margin-bottom: 0;
}
#account-settings .dl-horizontal dt {
  font-weight: normal;
}
#account-settings .dl-horizontal dd {
  font-weight: bold;
}
#account-settings #account-settings dt {
  margin-bottom: 15px;
}
#account-settings #account-settings dd {
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 180px;
  width: 160px;
}
#account-settings #change-email label,
#account-settings #change-email input {
  margin: 10px 0;
}
#account-settings #change-password label,
#account-settings #change-password input {
  margin: 10px 0;
}
#account-settings #change-questions .form-group {
  form: left;
  margin: 5px 0;
}
#qualified-event label {
  margin-left: 0;
}
#select-event .date input {
  min-height: 24px;
}
#select-event .date .input [type=date] {
  height: 24px;
  line-height: 24px;
}
#select-event .date .add-on {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
}
#select-event .date .add-on .icon-calendar:before {
  color: #4889A7;
}
#select-event label input[type=checkbox] {
  display: none;
}
#select-event label:before {
  border-radius: 3px;
  border-bottom: 1px none;
  box-shadow: 0 1px 1px #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.5);
  content: "";
  display: inline-block;
  height: 14px;
  left: 0;
  margin: 3px 10px 0 15px;
  position: absolute;
  width: 14px;
}
#select-event label:hover:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 11px;
  font-weight: bold;
  color: #4889A7;
  text-align: center;
  line-height: 14px;
}
#select-event label.checked:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 11px;
  font-weight: bold;
  color: #4889A7;
  text-align: center;
  line-height: 14px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
