.form-actions,
.control-group {
    clear: both;
}

h1 {
    font-size: 20px;
    line-height: 22px;
}

h1 small {
	font-size: .8em;
}

.sub-h1 {
	color: #888;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}


.sort .active {
    font-weight: bold;
}

#gi_provider_results .provider .provider_list
{
    clear: right;
    float: right;
}

#gi_provider_results .provider .more {
    padding: 0 0 18px;
}

#gi_provider_results .provider div,
#gi_provider_results .provider h2 {
    clear: left;
    float: left;
}

#gi_provider_results .provider {
    clear: both;
    border-top: 1px solid #eee;
    padding: 18px 0 0;
}

#gi_provider_results .provider-results {
    float: left;
    height: 370px;
    overflow: auto;
    padding: 0 50px 0 0;
    width: 390px;
}

#gi_provider_results .sort {
    float: left;
    padding: 0 0 18px;
}

#gi_provider_results .count {
    float: right;
    padding: 0 0 18px;
}

#gi_provider_results .pagination {
    clear: both;
    padding: 30px 0;
}

#gi_provider_details .control-value {
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0 0 15px;
    width: 305px;
}

#gi_provider_details #provider-search {
    clear: right;
    float: right;
    margin: 0;
    padding: 15px 0 0;
}

#gi_provider_details #provider-search li {
    margin: 0 5px 5px 0;
    padding: 0;
    text-align: right;
}

#gi_provider_details #provider-search .last {
    margin: 0 5px 0 0;
}

#gi_provider_details .modal-header h1 {
    width: 560px;
}

