/* Plan selection */
.tool-bar {display: inline-block !important;}
#benefits .border-right {border-right: 0px solid #DCDCDC !important;}
#rightpanel #plansbar.stuck {padding-top: 0 !important; top: 57px !important; padding-top:10px !important;}
#rightpanel #planbar {padding: 10px 0 !important;}
#rightpanel .plans-header.stuck{top: 150px !important;}
#rightpanel .plans-container {border-right: 0 !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {left: 173px !important;}
#rightpanel #planSelect .view-plans .plans-section.plans-header.row-fluid.stuck .scroll-left-arrow-wrapper {left: 130px !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {right: 41px !important;}
#rightpanel #planSelect .view-plans .plans-container .stuck .scroll-right-arrow-wrapper {right: 17px !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header {height: 276px;}
#Nplans .pagination {margin: 0px !important;}
#rightpanel #plansbar {padding:10px !important}
#rightpanel .pagination {margin: 10px 0 !important; font-size: 12px; }
#rightpanel .plans-section-content .plan:nth-child(3n) {border-right: 1px solid #ededed;}
#rightpanel .plans-section-content .plan {border-left: 1px solid #ededed; border-top: 1px solid #ededed; width: 164px;}
#rightpanel .plan .premium { font-weight: bold; font-size: 15px; color: #5586A4; }
#rightpanel .plans-section-content .plan:nth-child(3n) {border-right: 1px solid #ededed;}
.relative {position: relative}
#rightpanel h4.green {background: #fff;}
td.planNameWrap {height: 47px}

#rightpanel .plans-header-content-wrapper .plan {height:246px;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {height: 276px;}
#rightpanel .plan p {margin-bottom: 5px; padding: 0 10px}
#rightpanel #planSelect .view-plans .plans-container {width: 658px}
#rightpanel .plans-header.stuck {width: 658px;}

#benefits table td {padding: 8px 10px;}
#benefits table td.plan-details {border-left: 1px solid #ededed; vertical-align: middle;}
#benefits table td.plan-details p {margin: 0}
#benefits table th {vertical-align: middle;}
#planSelect #titlebar {border-radius: 0; margin-top:0;}

#plansbar .nav {margin-bottom: 13px;}
#plansbar.stuck ul.nav.inline {margin-bottom: 2px;}
#planSelect .view-plans {margin: 0px;}
.plans-section-content .table {border-top: 0px;}

#rightpanel #benefits h5 a {font-weight: bold;}

#rightpanel .pagination { margin: 10px 0 !important; font-size: 12px;}
.pagination ul > li.active a{font-weight: bold;}/*HIX-20476*/
.mshide {display:none!important;}

/*pop modal for incorrect address field in add employee*/
.popup-address {
    left: 53%;
    margin-top: 10%;
    width: 36%;
} 

.tbl-97{
   width:97%; 
}

.row-fluid form .controls strong, .span12 .table td{word-break: break-all;} 

#rightpanel h4{border:0;}

#rightpanel h4.graydrkbg {
  background-color: transparent;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  filter:none;

}

div#alert1 .modal-comment{
  position:absolute;
  top:22%;
}

input.span10.adj-width.error {
    width: inherit;
}

/*hix - 18705 */
form#frmterminatecoverage div.controls label#comp_name,
form#frmterminatecoverage div.controls label#representative,
form#frmterminatecoverage div.controls label#todaysDate {
  margin-top: 5px;
}
/*hix - 18705 ends*/

/*Fix for HIX-18244*/
#frmaddemployee .control-label {
    width: 175px;
  font-size:13px
}

.btn.disabled, .btn[disabled]{
  background-color: #F4F4F4;
    border: 1px solid #AEB3B6 !important;
    color: #6D6D6D;
}

.auto-height-header{
  height:auto !important;
  margin:0;
}

.justified-text{
  text-align:justify;
}

.center-text{
  text-align:center;
}


.modal-txt-center{
	text-align:center;
	margin-top:-15px;
}

/*Fixes for HIX-19589*/
#rightpanel .graydrkaction, #rightpanel .graylightaction, #rightpanel .header{height: 43px;}


/*HIX-18896*/
#inbox .read .icon-attachment {
    color: #2977A7;
}

.profilephoto{
	width:100px !important;
	height:100px !important; 
}

.tierName{
	height:40px;
}

#summary .alignCenter{margin:0 auto;}

.width128{width:128px !important;}

/* TEMP FIX FOR HIX-20424 */
#rightpanel .subheader h4 {
	background: #8FA884;
}
/* TEMP FIX FOR HIX-20424 ENDS */

.autoWidthDetails table th label{
	width:auto !important;
}

/* Masthead fixes */
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {padding: 10px}

#rightpanel .heightAuto{height: auto;}
#rightpanel .heightAuto h4{max-height: none;}

#userlistTbl th{
	height:26px !important;
}


.pie-Descrip h4 {
    color: #E97B00;
}

/* HIX-21648 */
iframe#search.searchModal-body body#body-employee #navtopview {
	top: 10px;
}
/* HIX-21648 ends */

.frmremittancewidth{
	width:100%; /* width changed due to HIX-25784 */
}
.frmremittancewidth .width48{
	width:48px;
} 

.inline-errLabel{
	width:332px;
}

.dropdown.width34{
	width:34px;
}
.disableLink{
	pointer-events:none;
	cursor:text;	
}

/*HIX-25892 to display DD even when it is blank*/	
.dl-horizontal dd.DDagentdetails:after {
    clear: both;
    content: "";
    display: table;
}

#frmorderconfirm .cart h3{
	color:#fff !important;
}

#iframeMain{
	overflow:auto !important;
}

.requesterLoader{
	width:20px;
	display:none;
	float:left;
	padding-left:10px;
}

.companyLoader{
	width:20px;
	display:none;
	float:left;
	padding-left:10px;
}

.hide-for-ms{
	display:none;
}

.ms-esignature-agree{
	background-color: #C9C9C9;
    height: 200px;
    overflow: auto;
    padding: 20px;
    text-align: justify;
}
#sidebar .header h4 a {color:#fff;}

.text-Normal{text-transform: none;}


/* HIX-26784 - to move to less*/
div.uploadText {
	width: 90%;
	margin-left: 5%;
}
div.uploadText h4{
	font-family: "Raleway", Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 25px;
}
div.uploadText p {
	font-family: Arial, sans-serif;
}
div.uploadText a {
	margin:  0 0 10px;
	display: inline-block;
}
div.uploadText .btn-primary {
	margin-left: 10px;
}
/* HIX-26784 ends*/

.header h3 {color: #fff !important;}


/*HIX-37083*/
.dropdown-menu li > a#updateStatus {
    color: #5A5A5A !important;
}



/* HIX-33937 - move to less!!!!!!!*/ 
.topnav {
	background: #D6E4EB;
	border-top: 10px solid #fff;
	border-right: 10px solid #fff;	
}
.topnav a[rel~="tooltip"] {
	color: #2977a7!important;
}
.topnav ul li {position: relative; padding: 0px;
	width: 24.6%;text-align: center; 
}
.topnav ul li:last-child {
	width: 24.9%;
}
.topnav li.active {background: #A2C2CE;} 
.topnav li.active a:after {
	border-left: 20px solid #A2C2CE;
}
.topnav li:hover {color: #4897A9;} 
.topnav li.active a {color: #fff!important;} 

.topnav li a:before {
	border-bottom: 30px solid rgba(0, 0, 0, 0);
	border-left: 30px solid #FFFFFF;
	border-top: 30px solid rgba(0, 0, 0, 0);
	content: " ";
	display: block;
	height: 0;
	left: 100%;
	margin-left: 0;
	margin-top: -30px;
	position: absolute;
	top: 50%;
	width: 0;
	z-index: 1;
}

.topnav li a:after {
	border-bottom: 20px solid rgba(0, 0, 0, 0);
	border-left: 20px solid #D6E4EB;
	border-top: 20px solid rgba(0, 0, 0, 0);
	content: " ";
	display: block;
	height: 0;
	left: 100%;
	margin-top: -20px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 0;
	z-index: 2;
}
.topnav li a {
	display: block;
	font-size: 14px;
	padding: 10px 0;
}

.topnav li a.last:before, 
.topnav li a.last:after {border:0 !important;}

.top-nav.stuck {
	top: -10px!important;
}
/* HIX-33937 ends */


#preferencesForm #progressbarwrap {
	top: 80px;
}

/* HIX-38046, HIX-42363 to move to less once there will be less branches to committ to. */
.info-message,
.info-message-tribe {
	position: relative;
}
.info-message.checked:before {
	content: "The event will only enable you to remove your dependents from your insurance coverage.";
	position: absolute;
	display: inline-block;
	width: 230px;
	font-size: 13px;
	left: -252px;
	top: -24px;
	text-transform: none;
	text-align: center;
	padding:8px 6px;
	border: 1px solid #999;
	line-height: 18px;
	border-radius: 3px;
	background: #fff;
}
.info-message-tribe.checked:before {
	content: "Members of federally recognized tribes can enroll in health plan any time of year. You can change plans as ofter as once a month.";
	position: absolute;
	display: inline-block;
	width: 230px;
	font-size: 13px;
	left: -252px;
	top: -38px;
	text-transform: none;
	text-align: center;
	padding:8px 6px;
	border: 1px solid #999;
	line-height: 18px;
	border-radius: 3px;
	background: #fff;
}
.info-message.checked:after,
.info-message-tribe.checked:after {
	content: "\f0da";
	font-family: "FontAwesome";
	position: absolute;
	top: 3px;
	left: -9px;
	color: #999;
}
/* HIX-38046, HIX-42363 ends */


#myPereferences .active {
	background: #fff;
}
.view-broker .dropdown.open .dropdown-menu {
	z-index: 10000;
}
#menu .nav li.active {
	background: transparent;
}  
/* HIX-40378  Start*/
.upload-failure-area{overflow:hidden;}
/* HIX-40378  End*/
  
/* HIX-30598 Start */
.loss-mec-radio.checked{
	position:relative;
}
.loss-mec-radio.checked:before{
	content: attr(title);
	display: inline-block;
	width: 230px;
	font-size: 13px;
	left: -253px;
	top: -230px;
	text-transform: none;
	text-align: center;
	padding:8px 6px;
	border: 1px solid #999;
	line-height: 18px;
	border-radius: 3px;
	background: #fff;position:absolute;
}
.loss-mec-radio.checked:after {
	content: "\f0da";
	font-family: "FontAwesome";
	position: absolute;
	top: 3px;
	left: -9px;
	color: #999;
}
/* HIX-30598 End */