.phixhide {display:none;}


/* This is temp before new theme will take effect */
.btn-save {
	margin: 0 5px 0 0;
}



/*############################ Planselection #################################*/
#rightpanel #plansbar.stuck {top: 50px; padding-top: 10px;}

#rightpanel #planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {left: 158px !important;}
#rightpanel #planSelect .view-plans .plans-section.plans-header.row-fluid.stuck .scroll-left-arrow-wrapper {left: 129px !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {right: 44px !important;}
#rightpanel #planSelect .view-plans .plans-container .stuck .scroll-right-arrow-wrapper {right: 22px !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {height: 250px;}

#rightpanel .plans-header.stuck {top: 134px;}

.pagination {margin: 5px 0;}
#planSelect #titlebar {border-radius: 0; margin-top:0;}

#plansbar .nav {margin-bottom: 13px;}
#plansbar.stuck ul.nav.inline {margin-bottom: 12px;}
#planSelect .view-plans {margin: 0px;}

#rightpanel #planSelect .view-plans .plans-container .plans-header {height:250px;}
.plans-section-header h3 {padding: 10px; font-size: 15px;}

#benefits a[rel~="tooltip"]{font-weight: normal}
small {font-family: "proxima-nova", sans-serif}
#benefits .table th a small {color: #2977A7;}
#rightpanel .plans-container {border: 0;}

#planSelect .view-plans .plans-container .plans-header .plans-section-content .plan {border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED;}
#rightpanel .plans-section-content .plan {width: 163px;}

#rightpanel .plans-section-content .plan:nth-child(3n) {border-right: 1px solid #ededed;}

.plans-section-content {height: 242px;}
.plans-section-content .plan {height: 240px;}
.plan a.addtofav.addedToFav {box-shadow: 0px; -moz-box-shadow: 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px;}
#rightpanel #planSelect .view-plans .plans-container {width: 680px}
#rightpanel .plans-header.stuck {width: 658px;}

#benefits table td {padding: 8px 10px;}
#benefits table td.plan-details {border-left: 1px solid #ededed; vertical-align: middle;}
#benefits table td#rightpanel #planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper.plan-details p {margin: 0}
#benefits table th {vertical-align: middle;}

#rightpanel #planSelect .scroll-left-arrow, #planSelect .scroll-right-arrow {background: #428FD5}
#rightpanel #planSelect .scroll-left-arrow:hover, #planSelect .scroll-right-arrow:hover {background: #4D98DD}
#rightpanel .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {background: #4D98DD; background-image: #4D98DD}
#filter label {font-size: 15px}
#rightpanel .nav > li > a.btn-primary:hover {background-color: #3B93D6 !important;}
.planname th {line-height: 2px; padding: 0px; border: 0px;}


#endDateTd > img, #startDateTd > img {
    position: absolute;
}

#rightpanel #plansbar .pagination .active a {background:#428FD5;}

.plans-section .scroll-left-arrow, .plans-section .scroll-right-arrow {border: 0px;}
.plan .gutter {z-index: 1}

.navPhixbar li > ul{
	padding:12px 0 0 !important;
} 

.navPhixbar li > ul li{
	padding:5px 0 0 !important;
}
.requesterLoader{
	width:20px;
	display:none;
	float:left;
	padding-left:10px;
}
.companyLoader{
	width:20px;
	display:none;
	float:left;
	padding-left:10px;
}

