.cahide {display:none;}
#navtopview {
    border-top: 4px solid #54a4aa;
}

#navtopview div {
    background-color: #00828D;
    background-image: linear-gradient(to bottom,#54a4aa,#00828D);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

@media screen and (max-width:767px){
    #navtopview {
        margin-top:0px;
    }
}
@media screen and (min-width:768px) and (max-width:1240px) {
    #navtopview {
        margin-top:-1px;
    }
}

#currentAppStatus {
    padding: 20px !important;
    margin: 0px;
}

#pastAppStatus {
    padding: 20px !important;
}

