/* Plan selection */
.tool-bar {display: inline-block !important;}
#benefits .border-right {border-right: 0px solid #DCDCDC !important;}
#rightpanel #plansbar.stuck {padding-top: 0 !important; top: 57px !important; padding-top:10px !important;}
#rightpanel #planbar {padding: 10px 0 !important;}
#rightpanel .plans-header.stuck{top: 150px !important;}
#rightpanel .plans-container {border-right: 0 !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {left: 173px !important;}
#rightpanel #planSelect .view-plans .plans-section.plans-header.row-fluid.stuck .scroll-left-arrow-wrapper {left: 130px !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {right: 41px !important;}
#rightpanel #planSelect .view-plans .plans-container .stuck .scroll-right-arrow-wrapper {right: 17px !important;}
#rightpanel #planSelect .view-plans .plans-container .plans-header {height: 276px;}
#Nplans .pagination {margin: 0px !important;}
#rightpanel #plansbar {padding:10px !important}
#rightpanel .pagination {margin: 10px 0 !important; font-size: 12px; }
#rightpanel .plans-section-content .plan:nth-child(3n) {border-right: 1px solid #ededed;}
#rightpanel .plans-section-content .plan {border-left: 1px solid #ededed; border-top: 1px solid #ededed; width: 164px;}
#rightpanel .plan .premium { font-weight: bold; font-size: 15px; color: #5586A4; }
#rightpanel .plans-section-content .plan:nth-child(3n) {border-right: 1px solid #ededed;}
.relative {position: relative}
#rightpanel h4.green {background: #fff;}
td.planNameWrap {height: 47px}

#rightpanel .plans-header-content-wrapper .plan {height:246px;}
#rightpanel #planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {height: 276px;}
#rightpanel .plan p {margin-bottom: 5px; padding: 0 10px}
#rightpanel #planSelect .view-plans .plans-container {width: 658px}
#rightpanel .plans-header.stuck {width: 658px;}

#benefits table td {padding: 8px 10px;}
#benefits table td.plan-details {border-left: 1px solid #ededed; vertical-align: middle;}
#benefits table td.plan-details p {margin: 0}
#benefits table th {vertical-align: middle;}
#planSelect #titlebar {border-radius: 0; margin-top:0;}

#plansbar .nav {margin-bottom: 13px;}
#plansbar.stuck ul.nav.inline {margin-bottom: 2px;}
#planSelect .view-plans {margin: 0px;}
.plans-section-content .table {border-top: 0px;}

#rightpanel #benefits h5 a {font-weight: bold;}

#rightpanel .pagination { margin: 10px 0 !important; font-size: 12px;}
.pagination ul > li.active a{font-weight: bold;}/*HIX-20476*/
.nmhide {display:none!important;}

/*pop modal for incorrect address field in add employee*/
.popup-address {
    left: 53%;
    margin-top: 10%;
    width: 25%;
} 

.tbl-97{
   width:97%; 
}

.row-fluid form .controls strong, .span12 .table td{word-break: break-all;} 

#rightpanel h4{border:0;}

#rightpanel h4.graydrkbg {
  background-color: transparent;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  filter:none;

}

div#alert1 .modal-comment{
  position:absolute;
  top:22%;
}

input.span10.adj-width.error {
    width: inherit;
}

/*hix - 18705 */
form#frmterminatecoverage div.controls label#comp_name,
form#frmterminatecoverage div.controls label#representative,
form#frmterminatecoverage div.controls label#todaysDate {
  margin-top: 5px;
}
/*hix - 18705 ends*/

/*Fix for HIX-18244*/
#frmaddemployee .control-label {
    width: 175px;
  font-size:13px
}

.btn.disabled, .btn[disabled]{
  background-color: #F4F4F4;
    border: 1px solid #AEB3B6 !important;
    color: #6D6D6D;
}

.auto-height-header{
  height:auto !important;
  margin:0;
}

.justified-text{
  text-align:justify;
}

.center-text{
  text-align:center;
}


.modal-txt-center{
	text-align:center;
	margin-top:-15px;
}

/*Fixes for HIX-19589*/
#rightpanel .graydrkaction, #rightpanel .graylightaction, #rightpanel .header{min-height: 43px;} /* Changed to min-height: HIX-49040 for larger band text */


/*HIX-18896*/
#inbox .read .icon-attachment {
    color: #2977A7;
}

.profilephoto{
	width:100px !important;
	height:100px !important; 
}

.tierName{
	height:40px;
}

#summary .alignCenter{margin:0 auto;}

.width128{width:128px !important;}

a{cursor: pointer;}

.autoWidthDetails table th label{
	width:auto !important;
}

.adjWidthEmail{
	width:auto !important;
	max-width:400px;	
}
	
#userlistTbl th{
	height:26px !important;
}

.pie-Descrip h4 {
    color: #E97B00;
}

/* HIX-21648 */
iframe#search.searchModal-body body#body-employee #navtopview {
	top: 10px;
}
/* HIX-21648 ends */

/* HIX-21748 */
#portal #step-progress {
	margin: 95px 0 0 15px; 
}
#portal .well-step {
	margin: 0 0px 20px 0;
	padding:0;
}
.well-step h4 {
	margin-right: 10px;
	margin-left: 10px;
}
/* HIX-21748 ends */
#rightpanel .well-step h4.infoBand{
	background: #fcf8e3; 
	border: 1px solid #fbeed5;
} /* HIX-44906 */

.esign-tip{
	font-size:11px;
	width:102px;
	float:right;
}

.headingterminateEmpCov{
	font-weight:bold;
	font-size:14px;
}

/* .frmremittancewidth{
	width:934px;
} */
.frmremittancewidth .width48{
	width:48px;	
}

ol.steps li{list-style: decimal;}

.table924{
	width:924px;
}

.disableLink{
	pointer-events:none;
	cursor:no-drop;	
}

.noWhiteSpace{
	white-space: pre-line !important;
	text-overflow: none !important;
}

#footer #build{
	visibility:hidden !important;
	opacity:0;
}	
.requesterLoader{
	width:20px;
	display:none;
	float:left;
	padding-left:10px;
}


.hide-for-nm{
	display:none;
}

td .dropdown .dropdown-toggle {
    display: block;
    width: 36px;
}

.btn-danger {
    background-color: #DA4F49;
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.companyLoader{
	width:20px;
	display:none;
	float:left;
	padding-left:10px;
}


/* HIX-28823 - temp fix and HIX-37262 */
#menu .navbar-inner .nav li a[title=Account] {
	padding-right: 30px;
}
#menu a[title=Account] i {
	position: absolute;
	top: 10px;
	right: 2px;
}
/* HIX-28823 ENDS */


/* HIX-26784 - to move to less*/
div.uploadText {
	width: 90%;
	margin-left: 5%;
}
div.uploadText h4{
	font-family: "Merriweather", serif;
	font-weight: normal;
	margin-bottom: 25px;
}
div.uploadText p {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.uploadText a {
	margin:  0 0 10px;
	display: inline-block;
}
div.uploadText .btn-primary {
	margin-left: 10px;
}
/* HIX-26784 ends*/


#ssapAppPages strong {
font-weight: 700;
}

#ssapAppPages hr {
	border-top:none!important;
	border-bottom:solid 1px #f4f4f7;
	margin:0;
}
.table th {
	color:#5a5a5a!important;
	font-family:"Droid Sans", sans-serif !important;
}

/* HIX-38046, HIX-42363 to move to less once there will be less branches to committ to. */
.info-message,
.info-message-tribe {
	position: relative;
}
.info-message.checked:before {
	content: "The event will only enable you to remove your dependents from your insurance coverage.";
	position: absolute;
	display: inline-block;
	width: 230px;
	font-size: 13px;
	left: -252px;
	top: -24px;
	text-transform: none;
	text-align: center;
	padding:8px 6px;
	border: 1px solid #999;
	line-height: 18px;
	border-radius: 3px;
	background: #fff;
}
.info-message-tribe.checked:before {
	content: "Members of federally recognized tribes can enroll in health plan any time of year. You can change plans as ofter as once a month.";
	position: absolute;
	display: inline-block;
	width: 230px;
	font-size: 13px;
	left: -252px;
	top: -38px;
	text-transform: none;
	text-align: center;
	padding:8px 6px;
	border: 1px solid #999;
	line-height: 18px;
	border-radius: 3px;
	background: #fff;
}
.info-message.checked:after,
.info-message-tribe.checked:after {
	content: "\f0da";
	font-family: "FontAwesome";
	position: absolute;
	top: 3px;
	left: -9px;
	color: #999;
}
/* HIX-38046, HIX-42363 ends */



/* temp fix for HIX-38956 */
#masthead .nav #masthead-inbox a i.icon-envelope {
	font-size: 16px;
}
#masthead .nav li .icon-home {
	font-size: 18px!important;
}
/* HIX-38956 ends */

/* HIX- 37874 Start*/
.eligibility-well-header{background: #b1d5de;}
/* HIX- 37874 End*/


/* HIX-39363 */
a.btn-primary [class^="icon-"] {
	color: #fff;
}
table#summary_table td h4 {
	color: #fff;
}
table#summary_table span#totalContribution {
	color: #666;
}
/* HIX-39363 ends */

.view-broker .dropdown.open .dropdown-menu {
	z-index: 10000;
}

/* HIX-40186 */
.tile small {
	font-size: 82%;
}
/* HIX-40186 ends */
   
/* HIX-30598 Start */
.loss-mec-radio.checked{
	position:relative;
}
.loss-mec-radio.checked:before{
	content: attr(title);
	display: inline-block;
	width: 230px;
	font-size: 13px;
	left: -253px;
	top: -230px;
	text-transform: none;
	text-align: center;
	padding:8px 6px;
	border: 1px solid #999;
	line-height: 18px;
	border-radius: 3px;
	background: #fff;position:absolute;
}
.loss-mec-radio.checked:after {
	content: "\f0da";
	font-family: "FontAwesome";
	position: absolute;
	top: 3px;
	left: -9px;
	color: #999;
}
/* HIX-30598 End */




.preferecesPage .view-broker {
	top: 8px!important;
	z-index: 10;
}
.preferecesPage.topnav {
 	top: -30px!important;
	width: 940px!important;
}
/* .preferecesPage	h1 {
	text-align: center;
} */
.preferecesPage #rightpanel .alert {
	padding: 30px 20px;
}
.preferecesPage #rightpanel .alert h4 {
	background: transparent;
	color: inherit;
}
.preferecesPage #rightpanel ul {
	margin: 10px 0 10px 10px;
	list-style-type: none;
	font-family: "Roboto Slab", slab-serif, serif;
}
.preferecesPage #rightpanel ul li {
	margin-bottom: 6px;
}
.preferecesPage	.zipcode img,
.preferecesPage	.household img {
	width: 50px;
	margin-right: 10px;
}

/* HIX-42035  Start*/
.upload-failure-area{overflow:hidden;}
form.upload-failure-area label.error{max-width:100% !important;}
/* HIX-42035  End*/
/* HIX-42402 Start */
.navbar-inner {
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
/* HIX-42402 End */
/* HIX-45911 Start */
#sidebar .faq-nav {border: 1px solid #ebedef;border-top: none;} 
#sidebar .faq-nav li:last-child{border-bottom: none;}
/* HIX-45911 End */

/*HIX-44960 Start */
.noTopPad{padding-top:0 !important;}
.noBotMar{margin-bottom:0 !important;}
/*HIX-44960 End */

#navtopview {
	width: 960px;
	position: fixed;
	top: 68px;
}
/* HIX-47423 */
.ui-slider-pips .ui-slider-number
{
    font-size:10px;
}
/* HIX-47423 ends */

/* HIX-49579 */
#resultDivs #container .span2, 
#resultDivs #container .span9 {
	width: 100%;
}
/* HIX-49579 End*/