#loading-spinner{
	margin: 10% 40%;	
}

form label.error {
	background: #FFF8AF none repeat scroll 0 0;
}

form label.error {
	width: auto;
	display: block;
	float: left;
	padding: 3px 4px 3px 3px;
	margin:0 0 5px 0;
	font: normal 12px 'Droid Sans', Tahoma, arial, sans-serif;
	color: #990000;
	background: #FFF8AF none repeat scroll 0 0;
	text-align: left;
	 border-radius: 0.32em 0.32em 0.32em 0.32em;
	 border:solid 1px #BFBA91;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

form label.error span em.excl {
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	background: #EA5200 none repeat scroll 0 0;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 5px;
	padding: 0 4px 0 5px;
	width: 190px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#rightpanel h4 {
	  margin-top: 0;
	  height: 23px;
	}
	#rightpanel .alert h5 {
	  font-size: 18px;
	  font-weight: 400;
	  margin-top: 5px;
	}
	#rightpanel span.doc-type {
	  font-size: 11px;
	  color: #999;
	  display: block;
	}
	#rightpanel span.alert {
	  margin-right: 10px;
	  font-size: 12px;
	  padding: 5px 7px;
	}
	#rightpanel small.note {
	  color: #B8B8B8;
	  font-size: 12px;
	  font-weight: 300;
	}
	#rightpanel table {
	  font-size: 14px;
	}
	#rightpanel .icon-remove{
		display:inline;
	}
	
	
.bootstrap-filestyle span{
	display:inline !important;
	width:auto !important;
}	