@charset "utf-8";
/* CSS Document */
/*--generic --*/
.gutter10 {
	padding: 10px !important;
}
#rightpanel {
	position: relative;
	float: right;
	padding: 0px 0 30px 0;
	min-height: 200px;
}
.plans-section-header h4 {
	background: #EAEAEA;
	border-top: 1px solid #CCC;
	color: #4F4F4F;
	font-size: 1.1em;
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px 7px 10px 10px;
}
.view-plans .table td {
	border-top: 1px solid #eaeaea;
	padding: 5px;
	vertical-align: middle !important;
}
.plan .table tr td:first-child {
	padding-right: 10px;
	text-align: right;
	width: 50%;
}
.view-plans .table th {
	border-top: none;
}
h4 {
	font-size: 14px;
}
.planNameWrap {
	margin: 2px 0;
	/*height: 50px; HIX-19463*/
	width: 100%;
}
#Nplans span {
	line-height: 32px;
	font-size: 1.33em;
	font-weight: bold;
}
#Nplans {
	margin: 0 0 0 10px;
}
#compare a.comparePlans, #compare a.backToAll {
	margin: 2px 0 0 0;
}
#plans-cost {
	margin-top: 0px;
}
.planNameWrap .planName {
	font-size: 1em;
	font-weight: bold;
	color: #999;
	vertical-align: top;
	text-align:left;
}
h4.planName {
	margin-bottom: 5px;
	color: #999;
}
h4.planName .dark {
	color: #333;
}
h4.planType {
	margin: 2px 0 5px 0;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.1) 0%,  rgba(0, 0, 0, 0.1) 100% ) repeat scroll 0 0 transparent;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	line-height: auto;
	outline: medium none;
	overflow: visible;
	white-space: nowrap;
	display: inline-block;
}
h4.planType small {
	color: #fff;
	line-height: .9em;
	padding: 2px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 85%;
}
h4.planType.GOLD {
	background-color: #E0B200;
}
h4.planType.SILVER {
	background-color: #c9c9c9;
}
h4.planType.BRONZE {
	background-color: #C1A628;
}
h4.planType.PLATINUM {
	background-color: #B2CFD7;
}
#titlebar .nav {
	margin-bottom: 0px;
}
#plansbar h3 {
	margin: 0 10px;
/* 	line-height: 24px; */
}
#plansbar div, #plansbar h2 {
	display: inline-block;
}
#plansbar .pagination {
	margin: 0px 10px;
	height: auto;
	position: relative;
}
#plansbar #sort .dropdown, #plansbar #compare .comparePlans {
	position: relative;
}
#plansbar .pagination a {
	background: #fff;
	line-height: 13px;
	padding: 6px;
}
#plansbar.form-actions {
	padding: 10px;
}
#plansbar h3.span3 {
	margin-left: 0px;
}
#plansbar a#favorites, #plansbar #ui-multiselect {
	margin-top: 4px;
}
.plans-section-content {
	margin: 0 auto;
}
/*slider left */
.filter-wrap {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	padding: 10px 8px;
	width: 90%;
	margin-bottom: 5px;
}
.filter-wrap input, .filter-wrap select {
	margin-bottom: 0px;
}
.layout-slider {
	background-color: #fff;
	border: 1px solid #E1E1E8;
	padding: 20px 0px;
	width: 100%;
	margin-bottom: 5px;
}
.gutter5 {
	padding: 5px;
}
.scroll-right-arrow-wrapper, .scroll-left-arrow-wrapper {
	cursor: pointer;
}
.scroll-right-arrow-wrapper, .scroll-left-arrow-wrapper{
	position: relative;
	
}
.scroll-right-arrow{
	margin-left: -4px;
}
.scroll-left-arrow{
	
	position: absolute;
	right:0px;
}
/* .scroll-left-arrow h1{
	margin-top: 1px;
	
} */
.content {
	overflow: hidden;
	border-left: #ccc solid 1px;
}
.plans-header-content-wrapper .lans-section-content {
	width: 96%;
}
.plans-section-content .plan .gutter {
	padding: 5px;
}
.plans-header-content-wrapper .plans-section-content .plan .gutter {
	padding: 32px 5px;
}
.plans-section-content .plan label-info, .plans-section-content .label-info, .plans-section-content .plan label-warning, .plans-section-content .label-warning, .plans-section-content .plan label-danger, .plans-section-content .label-danger, .plans-section-content .plan label-success, .plans-section-content .label-success, .plans-section-content .plan label-important, .plans-section-content .label-important {
	white-space: normal !important;
}
.plans-section-content .plan label-info, .plans-section-content .label-info, #cart.table .label-info {
	background-color: #CDDFEE !important;
	font-weight: normal !important;
	color: #326289 !important;
	white-space: normal;
	margin-bottom: 5px;
}
.plans-section-content .plan h4.label {
	font-size: 100% !important;
	font-weight: bold !important;
}
table.view-plans td.center-container {
	position: relative;
}
/*sticky scroll */
.sticky#titlebar {
	position: fixed !important;
	top: 56px;
	z-index: 15 !important;
}
.sticky {
	background: #fff;
	opacity: 1;
	height: 210px;
}
#sidebar {
	margin-top: 20px;
}
#sidebar.sticky {
	position: fixed !important;
	top: 85px;
	width: 14.0769%;
}
.titlebar {
	padding: 7px 10px 5px 10px;
}
#titlebarh4 {
	margin-top: 6px;
}
#titlebar .nav {
	margin-top: -4px;
}
.well>.accordion {
	background: #fff;
}
.well>.form-actions {
	margin-bottom: 0;
	padding-bottom: 0;
}
.view-plans .plans-container .plans-header .plans-section-content {
	width: 100%;
}
#planstoolbar {
	margin: 5px 0 10px 0;
	padding: 8px 0;
	background: #fff;
	border-color: 1px solid #bbb;
	font-size: .95em;
}
#planstoolbar .btn, #planstoolbar fieldset select, #planstoolbar fieldset select, #planstoolbar fieldset select option, #planstoolbar fieldset span {
	font-size: .95em;
}
.sticky#planstoolbar {
	position: fixed !important;
	top: 76px;
	z-index: 30 !important; /*width: 890px;*/
}
.plans-section-header .accordion-group {
	border-left: none;
	border-right: none;
}
.plans-section-header .accordion-inner {
	padding: 0;
}
.gutter10 {
	padding: 10px;
}
#footer {
	padding: 15px 0;
}
#footer a {
	color: #999;
	font-size: 90%;
}
#footer a:hover {
	color: #333;
}
#rightpanel.ShopByOptions .well {
	padding: 10px;
	min-height: 300px;
}
#rightpanel.ShopByOptions .well .btn {
	padding: 0px;
	width: 100% !important;
	min-height: 85px;
	margin-bottom: 20px;
}
#rightpanel.ShopByOptions .well .btn>span.gutter10 {
	display: block;
	padding: 10px;
	font-size: .8em;
	vertical-align: middle;
}
#rightpanel.ShopByOptions .well .btn>span>strong {
	display: block;
	font-size: 1.4em;
	margin-bottom: 10px;
}
#planSelect .view-plans .plans-container .plans-header .plans-section-content {
	text-align: center !important;
	border-bottom: none !important;
}
#planSelect .view-plans .plans-container .plans-header .plans-section-content .actions {
	margin-top: 10px;
}
.plans-section-content .plan .table {
	margin-bottom: 0px;
}
.plans-section-content {
	margin: 0 auto;
	padding-top: 0px;
	border: 1px solid #E2E2E2;
}
h4.premium {margin: 0}
#cartBtn {
	background-image: url("../img/glyphicons-halflings-sprite-white.png");
	background-position: 8px -41px;
	background-repeat: no-repeat;
	padding-left: 25px;
}
#compare .comparePlans {
	background-image: url("../img/glyphicons-halflings-sprite.png");
	background-position: 6px 7px;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 24px;
}
#compare .comparePlans:hover, .comparePlans:focus, .comparePlans:active {
	background-position: 6px 7px;
}
.seeplandetails {
	background-image: url("../img/glyphicons-halflings-sprite.png");
	background-position: 8px -17px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	line-height: 14px;
	width: 14px;
}
.seeplandetails:hover, .seeplandetails:focus, .seeplandetails:active {
	background-position: 8px -17px;
}
.addtofav {
	background-image: url("../img/glyphicons-halflings-sprite.png");
	background-position: 8px 6px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	line-height: 14px;
	width: 14px;
}
.actions .addedToFav {
	background-image: url("../img/glyphicons-halflings-sprite.png");
	background-repeat: no-repeat;
}
.addtofav:hover, .addtofav:focus, .addtofav:active {
	background-position: 8px 6px;
}
.actions .addToCart {
	background-image: url("../img/glyphicons-halflings-sprite-white.png");
	background-position: 8px -43px;
	background-repeat: no-repeat;
	padding-left: 23px;
}
.addToCart:hover, .addToCart:focus, .addToCart:active {
	background-image: url("../img/glyphicons-halflings-sprite-white.png");
	background-position: 8px -43px;
	background-repeat: no-repeat;
	padding-left: 23px;
}
.employerC, .employeeC {
	width: 60px;
	background: #99cc00;
	text-align: center;
}
.employeeC {
	background: #74B33C;
}
.employerC small, .employeeC small {
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.plan h4 small {
	display: block;
	font-size: 85%;
}
.plan .table h4 small {
	display: block
}
.plan .table tr td:first-child {
	width: 60%;
}
.empcost {
	width: 40%;
	vertical-align: bottom;
	text-align: center;
	float: left;
	font-weight: bold;
}
.max {
	background: #666;
	width: 100%;
	color: #fff;
}
.min {
	background: #999;
	width: 100%;
	color: #fff;
}
.lightgreen {
	background: #67c2c2;
}
.darkgreen {
	background: #009999;
}
p.employeeC {
	border-bottom: solid 1px #99cc00;
}
.contribution {
	vertical-align: none;
	margin: 0;
}
p.contribution em {
	font-style: normal;
	display: inline-block;
	width: 52%;
	vertical-align: bottom;
	text-align: right;
	margin-right: 10px;
	padding-bottom: 0px;
}
p.contribution span {
	display: inline-block;
}
p.contribution span.employerC b, p.contribution span.employeeC b {
	font-size: 1.1em;
	padding-top: 5px;
}
h1.nextprev {
	color: #fff;
	font-size: 2.8em;
}
/* New code for plan display*/

.tabbedSections {
	max-width: 99%;
	margin: 10px auto 0 0px;
	position: relative;
}
#planSelect .view-plans .scroll-left-button, #planSelect .view-plans .scroll-right-button {
	cursor: pointer;
	position: relative;
}
#titlebar, #main.titlebar {
	background-color: #eee;
	background-repeat: repeat-x;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 0;
}
div#sidebar.span3 {
	margin-top: 0px;
	word-wrap:break-word;
}
h4.graydrkbg {
	margin: 0px;
}
#rightpanel h3 {
	margin: 5px 20px;
	font-size: 19px
}
h4 small {
	font-size: 12px;
}
.nav-tabs.nav-stacked>li>a:hover {
	border: 0px;
}
.graysidebar ul.nav {
	margin-bottom: 5px;
	padding-left: 0px;
}
#rightpanel h3 {
	font-size:19px;
}
#rightpanel .plans-section-header h3 {
	background: #EAEAEA;
	border-top: 1px solid #CCC;
	color: #4F4F4F;
	font-size: 1.1em;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 10px;
	border-right: 1px solid #DDD;
}
#rightpanel .plan h3 {
	margin: 0px;
	line-height: 1.3em;
}
.plan table td span {
	font-weight:bold;
}
.selections {
	display: none;
}

/* Slider code */
.selections {display:none;}

.ui-widget-header {
	background:#51ABE2 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #CCC;
	background: # url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #1C94C4;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #CCC;
	background: #F6F6F6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #1C94C4;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: .5em;
	height: 2.5em !important;
	cursor: default;
	border-radius: 0px;
}
.ui-widget-content {
	border: 1px solid #ccc;
	background: none;
}
.ui-slider-handle .ui-state-default .ui-corner-all .ui-state-focus {
	border:0px
}
/* a:focus {
	outline: 0px;
} */
.ui-corner-all {
	border-radius: 0px;
}
.ui-slider {
	background:#CACACA;
	border-bottom:1px solid #EBEAE5;
	height:15px;
	margin:0;
	padding:0px;
}
.ui-slider .ui-slider-handle {
	border:0 !important;
	margin:0;
	padding:0px;
	display:inline-block;
	width:0.5em !important;
	height:3em !important;
	background: #868686 !important;
	top: -0.47em !important;
}

#tijdlijnWrap {
	position:absolute;
	top:42px;
	left:0%;
	width:600px;
	background:transparent;
	margin-left:100px;
}
#sliderdiv {
	position:relative;
	margin-left:130px;
	width:50px;
	height:12px;
	text-align:center;
	font-size:0.8em;
}
#employee, #dependent {
	font-size:0.7em;
	font-weight:bold;
	float:right;
	margin:0 1.5em 0 78%;
	/* position:absolute; */
	color:#333;
	line-height:3em;
	white-space: nowrap;
	z-index:10;
}
#employer {
	margin:0 0 0 1.5em;
	line-height:3em;
	color:#fff;
	white-space: nowrap;
}
/* a.btn { */
/* 	cursor: pointer; */
/* 	background-color: whiteSmoke; */
/* 	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6)); */
/* 	background-image: -webkit-linear-gradient(top, white, #E6E6E6); */
/* 	background-image: -o-linear-gradient(top, white, #E6E6E6); */
/* 	background-image: linear-gradient(to bottom, white, #E6E6E6); */
/* 	background-image: -moz-linear-gradient(top, white, #E6E6E6); */
/* 	background-repeat: repeat-x; */
/* 	border: 1px solid #BBB; */
/* 	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
/* 	border-color: #E6E6E6 #E6E6E6 #BFBFBF; */
/* 	font-weight:normal; */
/* 	color: #000; */
/* } */

/* .btn-primary { */
/*   min-width: 100px; */
/*   text-align: center; */
/*   background-color: #f7df82; */
/*   background: -webkit-gradient(linear, left top, left bottom, from(#f7df82), to(#dcb626)); */
/*   background: -webkit-linear-gradient(top, #f7df82, #dcb626); */
/*   background: -moz-linear-gradient(top, #f7df82, #dcb626); */
/*   background: -ms-linear-gradient(top, #f7df82, #dcb626); */
/*   background: -o-linear-gradient(top, #f7df82, #dcb626); */
/*   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important; */
/*   border: 1px solid #dcb626; */
/*   color: #666666; */
/*   text-shadow: none; */
/*   font-weight: bold; */
/*   font-size: 15px; */
/* } */

/* .btn-primary:hover { */
/* background-color: #DCB626; */
/* background: -webkit-gradient(linear, left top, left bottom, from(#DCB626), to(#F7DF82)); */
/* background: -webkit-linear-gradient(top, #DCB626, #F7DF82); */
/* background: -moz-linear-gradient(top, #DCB626, #F7DF82); */
/* background: -ms-linear-gradient(top, #DCB626, #F7DF82); */
/* background: -o-linear-gradient(top, #DCB626, #F7DF82); */
/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important; */
/* border: 1px solid #DCB449; */
/* color: #666; */
/* text-shadow: none; */
/* font-weight: bold; */
/* font-size: 15px; */
/* } */

.plan .btn-primary {
	min-width: 100px;
}

#body-employer .ui-widget-header{border:0; border-bottom: 1px solid #DDDDDD}

#rightpanel #summary .plans-section-content .plan {width: 155px !important }
 #summary h4.premium {background: #fff; padding: 0 10px;}
 #rightpanel .plans-section-content .plan {border-top: 0px;}
 #rightpanel .plans-wrap {height: 290px; margin-bottom: 8px;}
 #rightpanel .plans-section-header {text-align: left;}
 #rightpanel .scroll-left-arrow, #rightpanel .scroll-right-arrow {
    background: #2977A7;
    height: 49px;
    width: 34px;
}

 #rightpanel .scroll-left-arrow:hover, #rightpanel .scroll-right-arrow:hover {
    background: #08C;

}
#rightpanel .plans-section-content .plan {
  width: 169px;
  border-left: 0px;

}

#rightpanel .plans-section-content .plan:nth-child(3n) {
	border-right: 0px !important;
}

#rightpanel .center-container .plans-section-content .plan:nth-child(3n) {
	border-right: 1px solid #E2E2E2 !important;

}

#rightpanel .view-plans table {border: 0px; margin-bottom: 0 !important;}
.center-container .plans-section-content, .plans-section-content .row-fluid {padding-top: 0px;}
#rightpanel .center-container .plans-section-header {width: 97.7%}
#rightpanel #tier-container .plans-section-content .plan {width: 165px;}
#rightpanel #tier-container .plans-section-content {padding-top: 0px;}
#rightpanel #tier-container table {border: 0px; margin-bottom: 15px !important;}
#rightpanel #tier-container .plans-section-content .plan:nth-child(4n) {
	border-right: 1px solid #E2E2E2 !important;
	border-left: 1px solid #e2e2e2;
}

#rightpanel #tier-container .plans-section-header {width: 99.9%}

.premium small {line-height: 20px;}

