#sidebar.nav.nav-pills.nav-stacked {
	position:absolute;
	width:75px;
}
#left_layout #sidebar.nav.nav-pills.nav-stacked {
	left:10px;
	top:65px;

}
#sidebar.nav-pills > li > a, 
.widget .nav-pills.nav-stacked > li > a {
	height:70px;
	padding:0 0 5px 0;
	margin:0;
	text-align:center;
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px;
	background: #4C4C4C;
	background: -moz-linear-gradient(top, #4C4C4C 0%, #404040 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C4C4C), color-stop(100%,#404040));
	background: -webkit-linear-gradient(top, #4C4C4C 0%,#404040 100%);
	background: -o-linear-gradient(top, #4C4C4C 0%,#404040 100%);
	background: -ms-linear-gradient(top, #4C4C4C 0%,#404040 100%);
	background: linear-gradient(top, #4C4C4C 0%,#404040 100%);
/* 	background: #63a814;
	background: -moz-linear-gradient(top, #71be19 0%, #63a814 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71be19), color-stop(100%,#63a814));
	background: -webkit-linear-gradient(top, #71be19 0%,#63a814 100%);
	background: -o-linear-gradient(top, #71be19 0%,#63a814 100%);
	background: -ms-linear-gradient(top, #71be19 0%,#63a814 100%);
	background: linear-gradient(top, #71be19 0%,#63a814 100%); */
	/* color: #a4a4a4; */
	color:#fff;
	/* text-shadow: 0 1px 0 #3c3c3c; */
/* 	border-top: 1px solid #5C5C5C;
	border-bottom: 1px solid #303030;
	border-top: 1px solid #85ce30;
	border-bottom: 1px solid #589413; */
	 border-top: 1px solid #868686;
	border-bottom: 1px solid #2c2c2c;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#sidebar.nav-pills > li > a:hover, 
.widget .nav-pills.nav-stacked > li > a:hover {color:#fefefe;}
#sidebar.nav-pills > li.avatar > a {
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	background-color: #bd362f;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-top-color: #fcb6b4;
	border-bottom-color: #802420;
	height:110px;
}
#sidebar.nav-pills > li.avatar > a  img{
	width:55px;
	height:55px;
	margin-top:10px;
}
#sidebar.nav-pills > li.avatar > a span{
	display:block;
	text-align:center;
	color:#fcb6b4;
	text-shadow:none;
	margin-top:10px;
}
#sidebar.nav-pills > li > a [class^="micon-"], 
#sidebar.nav-pills > li > a [class^="icon-"] {
	padding:12px 0 3px 0;
	font-size:30px;
	display:block;
}
#sidebar.nav-pills > li:last-child, 
.widget .nav-pills.nav-stacked > li:last-child {
	border-bottom: 1px solid #868686;
}
#sidebar.nav-pills > .active > a, 
#sidebar.nav-pills > .active > a:hover {
/* 	background: #101010;
	background: -moz-linear-gradient(top, #303030 0%, #101010 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#101010));
	background: -webkit-linear-gradient(top, #303030 0%,#101010 100%);
	background: -o-linear-gradient(top, #303030 0%,#101010 100%);
	background: -ms-linear-gradient(top, #303030 0%,#101010 100%);
	background: linear-gradient(top, #303030 0%,#101010 100%);
	color: #f4f4f4;
	text-shadow: 0 1px 0 #1c1c1c;
	border-top-color: #505050;
	border-bottom-color: #000000; */
	background: #FFF;

	/* color: #71be19; */
	color:#0088CC;
	color:#6AB05F;
	/* text-shadow: 0 1px 0 #61a514; */
	/* border-top: 1px solid #85ce30;
	border-bottom: 1px solid #589413; */
	 border-top: 1px solid #868686;
	border-bottom: 1px solid #2c2c2c;
	
}
#sidebar.nav-pills .open .dropdown-toggle, 
#sidebar.nav-pills > li.dropdown.open.active > a:hover {
	color:#fefefe;
	background-color:#303030;
	background-image:none;
	border-color:#303030;
}
#sidebar.nav-pills .dropdown .dropdown-menu {
	top: -2px;
	left: 75px;
	background-color:#303030;
	border-color:#303030;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#sidebar.nav-pills .dropdown .dropdown-menu li {
	margin-left:5px;
	margin-right:5px;
}
#sidebar.nav-pills .dropdown .dropdown-menu li > a {
	color: #fefefe;
	line-height:25px;
}
#sidebar.nav-pills .dropdown .dropdown-menu li > a  [class^="micon-"],
#sidebar.nav-pills .dropdown .dropdown-menu li > a  [class^="icon-"] {margin:3px 10px 0 -10px;}
#sidebar.nav-pills .dropdown .dropdown-menu li > a:hover {
	background-color:#5C5C5C;
	background-image:none;
}
#sidebar .dropdown-menu .divider {
	background-color: rgba(0,0,0,0.5);
	border-bottom-color: rgba(255,255,255,0.2);
}