

/* Gallery styles */

#gallery{
	/* CSS3 Box Shadow */
	/* -moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	 *//* box-shadow:0 0 3px #AAAAAA;
	 */
	/* CSS3 Rounded Corners */
	
	/*-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	border:1px solid white;
	
	background: #fff;*/
	
	/* The width of the gallery */
	/*width: 940px;
	overflow: hidden !important;
	*position: relative;
	top:-10px;
	background : transparent url('../images/home-gallery-top.png') no-repeat top center;*/
	margin-top: 55px;
	margin-bottom: 18px;
}

#slides{
	/* This is the slide area */
	height: 465px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width: 940px;
	/*overflow: hidden !important;*/
}

.slide{
	float: left;
	text-align: right;
	width: 263px;
	position: relative;
	height: auto;
	vertical-align: bottom;
	margin-left: 35px;
	border: 1px solid #e8e8e8;
}
.slide:first-child{
	margin-left: 45px;
}

.slide h2 {
/* 	font: 30px "Droid Serif", Georgia, Times, serif; */
/* 	color:#779f00; */
	line-height: 25px;
	margin-right: 18px;
	letter-spacing: -1px;
	font-size: 20px;
	margin-left: 0;
}



.slide img{
	float: right;
	text-align: right;
	vertical-align: bottom;
		
		position:relative;
		
}

.slide span.left {
	float: left;
	padding: 0 10px 10px 10px;
	text-align: left;
	position: absolute;
	top: 6%;
	left: 0;
	}
.slide span.left p{
	font-size: 12px;
}
#slides .slide span.left .btn-primary {
  width: 216px;
  position: absolute;
	top: 168px;
}
#agentsText{
}

#menu{
	/* This is the container for the thumbnails */
	/*height: 50px;*/
}

#gallery #slides .slide #menu ul {
	text-align: center;
	background-color: #e5e6e8;
/*     background-image: -moz-linear-gradient(center top , #ffffff, #ffffff 25%, #efefef); */
/*     background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#efefef)); */
/*  	background-image: -moz-linear-gradient(top, #ffffff, #efefef); */
/*  	background-image: -ms-linear-gradient(top, #FFFFFF, #efefef); */
/*   	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #efefef)); */
/*   	background-image: -webkit-linear-gradient(top, #ffffff, #efefef); */
/*   	background-image: -o-linear-gradient(top, #FFFFFF, #efefef); */
/*   	background-image: linear-gradient(top, #FFFFFF, #efefef); */
/*   	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0); */
  	*padding-left: 80px;
  	margin: 0 !important;
  	/*height: 50px;*/
  	height: 25px;
  	position: relative;
  	border:0;
}

#gallery #slides .slide #menu ul li{
	/* Every thumbnail is a li element */
	width: auto;
	/*height:40px;*/
	display: inline-block;
	list-style: none;
	overflow: hidden;
	padding: 0px 0 0px 0 !important;
	background: none !important;
	margin: 0 !important;
	line-height: 27px;
	*float: left;
	margin: 0;
	
}
#menu ul li:last-child, #menu ul li.last{
	border-right: none;
}

#menu ul li a {
   /*  background-image: -moz-linear-gradient(center top , #99cc00, #99cc00 25%, #99cc00);*/
	padding: 4px 15px;
	margin: 0 !important;
	border: none;
	/*  backxground-image: -moz-linear-gradient(center top , #99cc00, #99cc00 25%, #99cc00);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
 	background-image: -moz-linear-gradient(top, #99cc00, #99cc00);
 	background-image: -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #E6E6E6));
  	background-image: -webkit-linear-gradient(top, #99cc00, #99cc00);
  	background-image: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
  	background-image: linear-gradient(top, #FFFFFF, #E6E6E6);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cc00', endColorstr='#99cc00', GradientType=0);*/
  	font: bold 1em "Droid Sans", Arial, sans-serif;
  	/* text-shadow: 0 -1px 0 #74B33C;*/	
/*     border-radius: 4px; */
/*   	color:#008dc4; */
  	font-size:1.2em;
}

#menu ul li a:hover {
	text-decoration: none;
/* 	color:#94c500; */
}

#menu li.act {
	background: #fff;
	padding-top: 0;
}
#menu li.act a{
/* 	background: #94c500; */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c500', endColorstr='#729800', GradientType=0);
/* 	color: #fff; */
/* 	text-shadow: none; */
/* 	border-radius:20px; */
/* 	box-shadow:inset 0px 0px 5px rgba(0,0,0,.2); */
/* 	-webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,.2); */
/* 	-moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,.2); */
}

#main li.inact:hover, #main li.inact a:hover {
	/* The inactive state, highlighted on mouse over */
/* 	color: #93c400; */
	text-decoration: none;
}

#main li.act:hover, #main li.act a:hover {
	/* The inactive state, highlighted on mouse over */
	color: #fff;
	text-decoration: none;
}


#main li.act,li.act:hover {
	/* The active state of the thumb */
	border-top: none;
	border-bottom: none;
	color:#94c500;
	background:none;
}

#main li.act a{
	cursor: default;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width: 2px;
}

#main li a{
	display: block;
	/*height:35px;*/
}

#main a img{
	border: none;
}


ul.eventsSmall li {
	list-style:none;
	font-size:14px;
}

ul.eventsSmall span.calSheet {
    display: inline;
    float: left;
    margin-left: -45px;
}

span.calSheetSmall {
    width: 35px;
}

a .calSheet {
    cursor: pointer;
}

span.calSheet {
    display: block;
    text-align: center;
}

ul.eventsSmall li.last {
    border-bottom: 0 none;
}

ul.eventsSmall li.first {
    border-top: 0 none;
}

ul.eventsSmall li {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #FFFFFF;
    line-height: 1.18182em;
    padding: 5px 5px 5px 20px;
}

span.calSheetSmall span.day {
    font-size: 18px;
}

span.calSheet span.day {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
/*     background: none repeat scroll 0 0 #FFFFFF; */
/*     border-color: -moz-use-text-color #CCCCCC #CCCCCC; */
/*     border-radius: 0 0 2px 2px; */
/*     border-right: 1px solid #CCCCCC; */
/*     border-style: none solid solid; */
/*     border-width: medium 1px 1px; */
/*     color: #000000; */
/*     font-weight: bold; */
/*     letter-spacing: -0.1em; */
/*     line-height: 1.4em; */
}

span.calSheet span {
    display: block;
    float: left;
    width: 100%;
}

span.calSheetSmall span.month {
    font-size: 9px;
    height: 10px;
}

span.calSheet span.month {
    background: -moz-linear-gradient(#E21403, #D20F02) repeat scroll 0 0 transparent;
    border: 1px solid #D51007;
    border-radius: 2px 2px 0 0;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
}

span.calSheet span {
    display: block;
    float: left;
    width: 100%;
}

#content-bottom {
	background: transparent url('../images/home-bg-gray.png') no-repeat top center;
}

