table .header {
  cursor: pointer;
}
table .sort-col.header:after {
  content: "";
  /* float: right; */
  margin-top: 7px;
  margin-left: 1px; 
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #333 transparent;
  visibility: visible;
  position:absolute;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .sort-col.headerSortUp, table .sort-col.headerSortDown {
  background-color: #f7f7f9;
}
table .sort-col.header:hover:after {
  visibility: visible;
}

table .sort-col.headerSortDown:after {
  content: "";
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #333 transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  position:absolute;
}
table .sort-col.headerSortUp:after {
  content: "";

  border-width: 4px 4px 0;
}