
#masthead.navbar-inverse .navbar-inner {
  /* background: url('../img/nm_header_bg_default.png') repeat-x;
  */ border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #2997da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2997da), color-stop(100%, #0183ba));
  background-image: -webkit-linear-gradient(top, #2997da, #0183ba);
  background-image: -moz-linear-gradient(top, #2997da, #0183ba);
  background-image: -ms-linear-gradient(top, #2997da, #0183ba);
  background-image: -o-linear-gradient(top, #2997da, #0183ba);
  background-image: linear-gradient(top, #2997da, #0183ba);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2997da, endColorstr=#0183ba);
  box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,.2);
  -webkit-box-shadow:inset 0px 0px 5px  rgba(0,0,0,.2);
  -moz-box-shadow:inset 0px 0px 5px  rgba(0,0,0,.2);
}

body #masthead.navbar {
  border-bottom: solid 5px #F72104;
  font-family: "Droid Serif",Arial,Sans-serif;
  font-size: 95%;
  font-weight: normal;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

#masthead .brand {
  color: #ffffff;
  font-weight: bold;
  background: url("../img/ms_header_logo.png") no-repeat scroll left 2px transparent;
  text-indent: 30px;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
  color: #E3E3E3;
  background-color: transparent;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret:hover {
  border-bottom-color: #E3E3E3;
  border-top-color: #E3E3E3;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #FFFFFF;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0;
}


