@CHARSET "ISO-8859-1";


a {
	outline:none;
}

.right {
	float:right
	}

.topbar .fill {
background-color:#2375B6;
    background-image: -moz-linear-gradient(center top , #1494D0, #155C9F);
}

.topbar-inner {
	background-color: #222222;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    border-bottom: 1px solid #E86800;
}

.topbar a {
	color:#fff;
}
    
.topbar div > ul.right, .nav {
	float:right;
}

.container .topbar-wrapper {
	margin-bottom:20px;
}

h2 {
	margin-top:10px;
}

h2, h3, h4, h5, h6 {
    line-height: 24px;
    margin-bottom:10px;
}
a.brand, .topbar .brand {
	font-family: 'Droid Serif', Georgia, Times, serif;
	font-size: 24px;
	line-height: auto;
}

.topbar div > ul, .nav, #menu ul li.menuItem a {
	font-family: 'Droid Serif', Georgia, Times, serif;
	font-size: 14px;
	outline:none;
}

.topbar div > ul .active > a, .nav .active > a {
  background-color:#E86800;
   background-image: -moz-linear-gradient(center top , #FFB200, #E86800);
   outline:none;
  
}
  
.nav, #menu ul li.menuItem a {
	font-size:16px;
	outline:none;
	
}

.topbar div > ul a, .nav a {
	line-height:24px;
}

.topbar-inner h3 {
	float:left;
	padding-top:10px;
}

p.small {
	font-size:95%;
}

.btn.notify {
  color: #ffffff;
  background-color: #D68102;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FFB83F), to(#D68102));
  background-image: -moz-linear-gradient(top, #FFB83F, #D68102);
  background-image: -ms-linear-gradient(top, #FFB83F, #D68102);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFB83F), color-stop(100%, #D68102));
  background-image: -webkit-linear-gradient(top, #FFB83F, #D68102);
  background-image: -o-linear-gradient(top, #FFB83F, #D68102);
  background-image: linear-gradient(top, #FFB83F, #D68102);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB83F', endColorstr='#D68102', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #D68102 #D68102 #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#menu ul {
margin-left:0;
*width:890px;
}

.img-holder {
	  text-align: right;
	  margin: 10px 10px 0 10px;;
	  box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.25);
	 float:left;
}

.img-holder  img {
	padding:5px 5px 0 5px;
	width:100px;
}

.img-holder  figcaption {
	font-size:10px;
	font-weight:bold;
	color:#666;
	padding:0 5px;
	text-align:center;
	margin:0;
}
figcaption  span {
	line-height:5px;
	padding:0 0 7px 0;
	display:block;
	font-weight:normal;
}

fieldset legend {
	line-height:36px;
}
.form-stacked label.stacked {
	display:inline-block;
	margin-right:10px;
}

.togglelink {
	display:block;
	color: #0069D6;
	border-bottom:1px solid #DDDDDD;
	width:100%;
}

.well-2 {
	min-height: 20px;
    padding: 20px 0 0 0;
     border-top: 1px solid #DDDDDD;
	}

	footer p {
	color:#7A7A7A;
	font-size:85%;
}

ol li {
padding-bottom:10px;
}

.small {
	font-size:85%;
}

ul.tabs li {
	font-weight:bold;
}

.tab-pane .MNFPPA {
background:url(../images/Eli-MNDHS-logo.png) no-repeat left top;
padding-top:55px;
margin:0 0 15px 0;

}

.form-stacked .inputs-list li label.question, label.question, .question,
	.form-stacked .inputs-list li label.question span {
font-weight:bold;
}

.actions-right {
background: #f5f5f5;
  margin-top: 5px;
  margin-bottom: 18px;
  padding: 12px 20px 13px 10px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  clear:both;
  float:right;
  width:910px;
  text-align:right;
  
  }

.popover .title {
	margin-bottom:1px;
}

.txtcenter {
	text-align:center;
}

.txtright {
	text-align:right;
}

/*-- notes on the side -- */
#feedback-badge-right {
	display:none;
	background: url('../images/feedback_badge_right.png') no-repeat;
	width:62px;
	height: 149px;
	margin-right:-16px;
	right: 0px;
	display: inline;
    float: right;
    position: fixed;
    top: 41%;
    z-index: 999;
}
#feedback-badge-right span {
	display:none;
}

#feedback-badge-right:hover {
	margin-right:-14px;
}

#feedback-badge-right:active {
	margin-right:-18px;
}

#feedback-badge-right span {
	display: none;
}


/* The floating div */

#popup {
	position:absolute;
	margin-top:15%;
	margin-left:30%;
	background: #fff;
}

.ui-dialog {
 	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

ul.side-nav {
list-style-type:none;
}

#myTable tr td,#myTable tr th  {
	text-align:center;
}
#myTable tr td {
	vertical-align:middle
	}
#myTable tr td.t-left {
	text-align:left;
}
#myTable tr td.t-left .name {
	font-weight:bold;
	font-size:125%;
}

.loc-address {width: 175px; clear: both; padding-top: 10px;}
.loc-address .marker {float: left; margin-right: 5px; }
.loc-address .address {float: left; width: 150px;}


fieldset.group {
	background: -moz-linear-gradient(#FCFDFE, #F4F8FC) repeat scroll 0 0 #FCFDFE;
    border: 1px solid #C9DDF2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -2px 0 rgba(204, 223, 243, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.1);
    margin-top:20px;
     background-image: -ms-linear-gradient(top, #FCFDFE, #F4F8FC);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFDFE), color-stop(100%, #F4F8FC));
  background-image: -webkit-linear-gradient(top, #FCFDFE, #F4F8FC);
  background-image: -o-linear-gradient(top, #FCFDFE, #F4F8FC);
  background-image: linear-gradient(top, #FCFDFE, #F4F8FC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFE', endColorstr='#F4F8FC', GradientType=0);
	
	}
fieldset.group legend {
	padding-left:0px;
	margin:0 20px 15px 20px;
	padding-right:0px;
	background:none;
	line-height:0;
	font: bold 18px 'Droid Serif',Georgia,Times,serif;
}

fieldset.group {
	position:relative;
	top:25px;
	padding-top:25px;
}
fieldset.group legend.doctors {
	background: url(../images/i-doctor.png) no-repeat -25% 50%;
	padding: 15px 10px 12px 50px;
	position:absolute;
	top:-65px;
	top:-40px\9;
}

fieldset.group legend.clinics {
	background: url(../images/i-clinic.png) no-repeat -5% 50%;
	padding: 15px 10px 12px 70px;
	position:absolute;
	top:-65px;
	top:-40px\9;
}

fieldset.group legend.hospitals {
	background: url(../images/i-hospital.png) no-repeat 2% 30%;
	padding: 15px 10px 12px 90px;
	position:absolute;
	top:-65px;
	top:-40px\9;
}



h2.doctors {
background: url(../images/i-doctor.png) no-repeat left center;
padding: 12px 0 12px 70px;
}
h2.clinics {
background: url(../images/i-clinic.png) no-repeat left center;
padding: 12px 0 12px 80px;
}

h2.hospitals {
background: url(../images/i-hospital.png) no-repeat left center;
padding: 12px 0 12px 90px;
}


.page-header div .btn  {
display:block;
vertical-align:center;
margin-top:20px;
}

.droid-m {
 	font-family: 'Droid Serif',Georgia,Times,serif;
    font-size: 14px;
}

/*  vertical tabs */

.tabcontent dl dt {
	font:bold 14px Arial, sans-serif;
}
.tabcontent dl dd {
font-size:11px;
color: #73736b;
}

div.tabscontainer div.tabs{
    list-style: none;
    width: 180px;
    cursor: pointer;
    float:left;
    left: 0px;
    z-index: 2;
}
 
div.tabscontainer div.curvedContainer{
    margin-left: 179px;
    min-height:400px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
div.tabscontainer div.curvedContainer .tabcontent{
    display:none;
    padding:20px;
    font-size:12px;
}

div.tabscontainer div.tabs {
 	 margin-top:20px;
}
div.tabs div.tab{
    display: block;
    height: auto;
    background: #F5F5F5;
    border-bottom: #d6d6d2 solid 1px;
    position: relative;
  
}
 
div.tabs div.link{
    padding:10px;
    font-size: 12px;
}

div.tabs div.link a {
	font-size:12px;
	outline:none;
}
div.tabs div.tab.selected {
    color: #000;
    border-right-color: #aeaeaa;
    
}
div.tabs div.tab.selected a { color:#000;outline:none;}
 
div.tabs div.tab.selected{
    background: #fff;
}
 
div.tabs div.tab.first{
    border-top: #dbdbb7 solid 1px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}
 
div.tabs div.tab.last{
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
 
div.tabs div.tab div.arrow{
    position: absolute;
    /*background:url(../images/i-aro-r-org.png) no-repeat;*/
    height: 36px;
    width: 18px;
    left: 100%;
    top: 0px;
    display: none;
}
 
div.tabs div.tab.selected div.arrow{
    display: block;
}


ul.pills#mod {
margin-bottom:15px;;
border-bottom:solid 1px #E86800;
}

ul.pills#mod a {
	border-radius: 3px  3px 0 0 ;
    line-height: 30px;
    margin: 5px 3px 0px 0;
    padding: 0 10px;
    font-size:11px;
    font-weight:bold;
    font-family:Arial, 'Droid Sans',sans-serif;
}

ul.pills#mod .active {
	border-bottom:solid 3px #E86800;
	padding-right:0;
}
ul.pills#mod .active a{
    background-color:#eeeeee;/* #0069D6;*/
    color: #fff;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
    margin-right:0;
}

ul.pills#mod a:hover  {
 background-color:#eeeeee;/* #0069D6;*/
    color: #0069D6;
    text-shadow: none;
}

ul.pills#mod li.active a {
background-color: #222222;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}


/* root element for tabs  */
ul#mod{ 
	list-style:none; 
	margin:0 0 10px 0;
	padding:0;	
	border-bottom:1px solid #dddddd;	
	height:32px;
}

/* single tab */
ul#mod li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

ul#mod li.current { 

}
/* link inside the tab. uses a background image */
ul#mod a { 
	background: url(/tools/img/tabs/blue.png) no-repeat -420px 0;
	display:block;
	height: auto;
	line-height:22px;
	width: auto;
	text-align:center;	
	text-decoration:none;
	 color: #0069D6;
	padding:5px 8px;
	padding:5px 6px\9;
	margin:0px;	
	position:relative;
	top:1px;
}

ul#mod a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul#mod  a:hover {
	background-position: -420px -31px;	
	color:#000 ;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul#mod  a.current, ul#mod  a.current:hover, ul#mod  li.current a {
	background-position: -420px -62px;		
	cursor:default !important; 
	background-color: #0069D6;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    color:#fff !important;
     border-radius: 4px 4px 0 0;
}

ul#mod  a.current {
		/*border-bottom:solid 2px #E86800;
		padding-bottom:3px;*/
}
/* Different widths for tabs: use a class name: s, l, xl */


/* width 1 */
ul#mod  a.s 			{ background-position: -553px 0; width:81px; }
ul#mod  a.s:hover 	{ background-position: -553px -31px; }
ul#mod  a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul#mod  a.l 			{ background-position: -247px -0px; width:174px; }
ul#mod  a.l:hover 	{ background-position: -247px -31px; }
ul#mod  a.l.current  { background-position: -247px -62px; }


/* width 3 */
ul#mod  a.xl 			{ background-position: 0 -0px; width:248px; }
ul#mod  a.xl:hover 	{ background-position: 0 -31px; }
ul#mod  a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}

.message-m {
    margin: 0;
    padding: 6px 4px;
    text-align: left;
    font: normal 12px 'Droid Serif',Georgia,Times,serif;
    text-align:center;
    color:#000;
    border-radius: 3px 3px 3px 3px;
    border:solid 1px #E86800;
  
  } 
   .message-m span{
   text-transform:uppercase;
   font-size:14px;
   font-style:normal;
   font-weight:bold;
   }
   
   .row dl dt {
   font: bold 14px Arial, Droid Sans, sans,serif;
   padding:5px 0 2px 0;
   }
   
    .row dl dd {
    margin-bottom:10px;
    }
    
    .row a img.thumb-m, img.thumb-m {
     border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .hidden, .hidden2 { display:none;}
    
    .caption, dd.caption, p.caption, .tabcontent dl dd.caption{
    color: #73736B;
    font-size:85%;
    margin:5px 0;
    }
    
    .bargraph p.pointer {
    border-radius: 4px;
    overflow: hidden;
    padding: 5px 0;
 
    line-height:30px;
    }
    
    .tooltip
{
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  outline: none;
}

.tooltip em
{
  visibility: hidden;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 240px;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
  font-weight:normal;
}

.tooltip:hover
{
  border: 0; /* IE6 fix */
  color:#000;
}

.tooltip:hover em
{
  visibility: visible;
}

.tooltip em:before,
.tooltip em:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltip em:before
{
  border-top-color: #ccc;
  bottom: -8px;
}


/* Blue */

.blue-tooltip em 
{
  border-color: #333;
  background-color: #F5F5F5;
  color: #404040;
  line-height:14px;
  text-align:left;
}

.blue-tooltip em:after
{ 
  border-top-color: #333;
}

.blue-tooltip em:before
{
  border-top-color: #333;
}

.imgwrap {
 margin:20px 0;
   border:solid 1px #ccc;
}

.imgwrap p {
margin:10px;
padding:10px;
  border-bottom:solid 1px #ccc;
 }

.w110 { 
	width:110px;
}

.pinkform, form.pinkform {
	background-color: #FEFBF3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 9px;
    float:inherit;
	}

.topbar ul.nav li.faq {
	margin-right:30px;
}

	.topbar ul.nav li.signin {
		font:normal 12px Arial, verdana, sans-serif;
		text-transform:uppercase;
		
}

.topbar ul.nav li.helpline,.topbar ul.nav li.chat, .topbar ul.nav li.faq {	
	font:bold 14px 'Droid Serif',Georgia,Times,serif;
}

.topbar ul.nav li.helpline a:hover {
	background:none;
	cursor:default;
}

.ui-dialog-content	p {
	margin-bottom:10px;
}

.ui-dialog-content	ul li{
	font-size:12px !important;
	margin-bottom:10px;
}
.ui-dialog-content	h4{
	margin:10px 0;
}

ul.errors li{  
	 background: none repeat scroll 0 0 #FFF8AF;
    border: 1px solid #BFBA91;
    border-radius: 0.32em 0.32em 0.32em 0.32em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #990000;
    display: block;
    float: left;
    font: 12px 'Droid Sans',Tahoma,arial,sans-serif;
    margin: 5px 0 4px;
    padding: 3px 4px 3px 3px;
    text-align: left;
    width: auto;
}

.form-stacked .profile .co-location {
	margin:0;
	padding:0;
}

/* -------------------- GENERIC ----------------------- */

.margin0 {
	margin:0 !important;
}

.padding-t10 {
	padding-top:10px;
}