
#masthead.navbar-inverse .navbar-inner {
  background: url('../img/ms_header_bg_default.png') repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

body #masthead.navbar {
  border-bottom: solid 5px #F72104;
  font-family: "Droid Serif",Arial,Sans-serif;
  font-size: 95%;
  font-weight: normal;
}

#masthead .brand {
  color: #ffffff;
  font-weight: bold;
}

#masthead a.brand-nm, .topbar .brand-nm {
  background: url("../img/ms_header_logo.png") no-repeat scroll left 2px transparent;
  color: #FFFFFF;
  float: left;
  font-family: 'Droid Serif',Georgia,Times,serif;
  font-size: 18px;
  margin-left: -15px;
  padding: 11px 0 10px 15px;
  text-decoration: none;
  text-indent: 30px;
  text-shadow: 0.025em 0.025em 0.025em #333333;
}