header {
  height: 4em;
  border-bottom: 5px solid #d97b00;
  background-color: #70b5e1;
  background: -webkit-gradient(linear, left top, left bottom, from(#70b5e1), to(#629fc6));
  background: -webkit-linear-gradient(top, #70b5e1, #629fc6);
  background: -moz-linear-gradient(top, #70b5e1, #629fc6);
  background: -ms-linear-gradient(top, #70b5e1, #629fc6);
  background: -o-linear-gradient(top, #70b5e1, #629fc6);
}
header article {
  width: 940px;
  margin: 0 auto;
}
header .brand {
  position: relative;
  top: 1em;
}
.dropdown-menu,
.tooltip {
  border-radius: 0!important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
#rightpanel .header #myinfo-edit {
  padding: 0 12px;
}
label,
label.error {
  text-transform: capitalize;
}
label.checkbox {
  text-transform: none;
}
body {
  background: #ffffff url('../img/NM-BG.png') repeat top left;
  font-size: 13px!important;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 18px!important;
  line-height: normal;
  font-weight: normal;
}
h1 small {
  font-size: 14px;
}
h1 img {
  margin-right: 15px;
  width: 130px;
  height: 100px;
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 20px;
}
.slide h2 {
  color: #7e183f;
  font-family: "Merriweather", serif;
  font-size: 26px;
  font-weight: normal;
}
h3 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 18.5px;
}
h5 {
  font-size: 12px;
}
a {
  color: #1f5a7e;
}
a:hover {
  color: #153d55;
  text-decoration: none;
}
a.breadcrumb-nav {
  font-size: 14px;
  text-transform: lowercase;
  margin: 0 10px 0 5px;
}
a.breadcrumb-nav:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 5px;
}
label {
  margin-bottom: 0;
  font-size: 13px;
}
legend {
  font-size: 15px;
  color: #7e183f;
  font-weight: bold;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] .uneditable-input {
  border: 1px solid #e9e9e9;
  box-shadow: none;
  font-size: 13px;
}
.alert {
  margin-top: 0;
}
.accordion-group {
  border: 1px solid #e9e9e9;
}
.accordion-inner {
  border: 1px solid #e9e9e9;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.bgBox {
  border-radius: 0!important;
}
.box-loose {
  border-radius: 0!important;
  border: 1px solid #e9e9e9;
}
.border-custom {
  border: 1px solid #e9e9e9;
}
.line {
  border: 1px solid #e9e9e9;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.plans-container {
  border: 1px solid #e9e9e9;
  border-top: none;
  border-bottom: none;
}
.small {
  font-size: 10px;
}
p.small {
  font-size: 12px;
}
.thumbnail {
  border: 1px solid #e9e9e9;
}
.well-custom {
  background: transparent;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  border: none;
}
.mixins-icons-color {
  color: #5485a3;
}
a [class^="icon-"],
a [class*=" icon-"] {
  text-decoration: none;
  font-size: 14px;
  padding: 3px;
}
.active a .icon-ok {
  color: #666;
}
.icon-question-sign {
  color: #5485a3;
}
.icon-cog {
  color: #5485a3;
}
.icon-share-alt,
.icon-user {
  color: orange!important;
}
.icon-eye-open {
  color: #666;
}
.mixins-nm-header-font-size {
  font-size: 13px;
}
.mixins-nm-header {
  font-family: "Merriweather", serif;
  font-weight: normal!important;
}
#titlebar,
#main.titlebar,
.titlebar {
  border-bottom: 1px solid #ececec;
  width: 100%;
  margin-bottom: 20px;
}
#titlebar:after,
#main.titlebar:after,
.titlebar:after {
  border-bottom: 1px solid #65a2be;
  width: 11.2%;
  position: absolute;
}
#sidebar h4,
#sidebar .header,
#sidebar .header h4,
#sidebar .accordion-heading a,
.header,
.graydrkbg,
.table th {
  font-family: "Merriweather", serif;
  font-weight: normal!important;
  font-size: 13px;
  min-height: 20px;
  background: #b3c4db url('../img/NM-header-BG.png') repeat top left !important;
}
#sidebar h4 i,
#sidebar .header i,
#sidebar .header h4 i,
#sidebar .accordion-heading a i,
.header i,
.graydrkbg i,
.table th i {
  color: #666;
}
#masthead.navbar {
  border-bottom: none!important;
}
#masthead .brand {
  position: absolute;
  top: -3px;
  left: 45px;
  padding: 13px 10px 8px 10px;
  max-width: none;
}
#masthead .navbar-inner {
  background-color: #629fc6;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#629fc6), to(#70b5e1));
  background: -webkit-linear-gradient(#629fc6, #70b5e1);
  background: -moz-linear-gradient(#629fc6, #70b5e1);
  background: -o-linear-gradient(#629fc6, #70b5e1);
  background: linear-gradient(#629fc6, #70b5e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#629fc6', EndColorStr='#70b5e1');
  border-bottom: 5px solid #d97b00;
}
#masthead .nav li.dropdown.open > .dropdown-toggle {
  background: none;
  text-shadow: none;
  box-shadow: none;
}
#masthead .nav li a {
  color: #ffffff;
}
#masthead .nav .dropdown-toggle:hover .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
#masthead .nav .dropdown-toggle .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
  margin-top: 8px;
}
#masthead .nav .dropdown-menu {
  border-radius: 0;
}
#masthead .nav .dropdown-menu li a {
  color: #1f5a7e;
}
#masthead .nav .dropdown-menu li a:hover,
#masthead .nav .dropdown-menu li a:focus {
  background: none;
}
.mixins-nav-bar-border {
  border: 1px solid #4a85a8;
}
#menu {
  margin-bottom: 0;
}
#menu .navbar-inner {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  border: 1px solid #4a85a8;
  background-color: #629fc6;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#629fc6), to(#70b5e1));
  background: -webkit-linear-gradient(#629fc6, #70b5e1);
  background: -moz-linear-gradient(#629fc6, #70b5e1);
  background: -o-linear-gradient(#629fc6, #70b5e1);
  background: linear-gradient(#629fc6, #70b5e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#629fc6', EndColorStr='#70b5e1');
}
#menu .navbar-inner .nav li a {
  color: #ffffff;
  text-shadow: none;
}
#menu .navbar-inner .nav li a i.caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
#menu .navbar-inner .nav li.active a {
  box-shadow: none;
  background: none;
  color: #3d3d3d!important;
}
#menu .navbar-inner .nav li.active a i.caret {
  border-top-color: #3d3d3d;
  border-bottom-color: #3d3d3d;
}
#menu .navbar-inner .nav li.open a {
  background: none!important;
  color: #666666;
}
#menu .navbar-inner .nav li.open a i.caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
#menu .navbar-inner .nav .dropdown-menu {
  border-radius: 0;
  padding: 0;
}
#menu .navbar-inner .nav .dropdown-menu a {
  padding: 8px 20px;
  color: #666;
  border-bottom: #e9e9e9;
}
#menu .navbar-inner .nav .dropdown-menu a:hover {
  background: transparent;
  color: #1a4b6a;
}
#menu .navbar .nav li.dropdown.open > .dropdown-toggle,
#menu .navbar .nav li.dropdown.active > .dropdown-toggle,
#menu .navbar .nav li.dropdown.open.active > .dropdown-toggle,
#menu .navbar .nav li.dropdown.open > .dropdown-toggle a,
#menu .navbar .nav li.dropdown.active > .dropdown-toggle a,
#menu .navbar .nav li.dropdown.active > .dropdown-toggle a i.caret,
#menu .navbar .nav li.dropdown.open.active > .dropdown-toggle a {
  background: none!important;
  text-shadow: none!important;
  color: orange!important;
}
#menu a[title="Home"],
#menu #menu a[title="Issuer Home"] {
  font-size: 0;
  color: transparent;
  position: relative;
  margin-right: 10px;
}
#menu a[title="Home"]:after,
#menu #menu a[title="Issuer Home"]:after {
  content: "\f015";
  font-family: FontAwesome;
  font-size: 14px;
  color: inherit;
  position: absolute;
}
.header-reset {
  padding-top: 7px;
  border-left: none;
}
#breadcrumbs,
.breadcrumb,
.page-breadcrumb {
  display: none;
}
.mixins-button-font-size {
  font-size: 13px;
}
.mixins-button-font {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.mixins-primary-btn-font-color {
  color: #fff;
}
.mixins-primary-btn-bg {
  background: #5586a4;
}
.mixins-primary-btn-bg-hover {
  background: #38617a;
}
.mixins-primary-btn-border {
  border: 1px solid #4b7b9a;
}
.mixins-primary-btn-active-bg {
  background: #d37100;
}
.mixins-primary-btn-active-font-color {
  color: #fff;
}
.mixins-primary-btn-active-border {
  border: 1px solid #d37100;
}
.mixins-secondary-btn-border {
  border: 1px solid #dedede;
}
.mixins-secondary-btn-bg {
  background: #f1f1f1;
}
.mixins-secondary-btn-bg-hover {
  background: #ececec;
}
.mixins-secondary-btn-font-color {
  color: #7a7a7a;
}
.btn {
  border: 1px solid #dedede;
  background: #f1f1f1;
  color: #7a7a7a;
  text-shadow: none;
}
.btn:hover,
.btn:focus {
  background: #ececec;
}
.btn-primary {
  color: #fff;
  background: #5586a4;
  border: 1px solid #4b7b9a;
  text-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #38617a;
}
.btn-primary i.icon-cog,
.btn-primary i.caret {
  color: #fff;
}
a.btn.active {
  background: #d37100;
  border: 1px solid #d37100;
  box-shadow: none;
}
.header .btn {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}
.plan .btn {
  padding: 4px 7px;
  font-size: 13px;
}
.btn-custom {
  display: inline-block;
  padding: 5px 14px;
  margin-top: 10px;
  min-width: 4px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #5586a4;
}
.mixins-sidebar-font-color {
  color: #666!important;
}
.mixins-sidebar-font-size {
  font-size: 13px;
}
#sidebar .nav-list li {
  background: #ffffff !important;
  border: 1px solid #e9e9e9;
  border-top: none;
  padding: 10px;
  color: #666!important;
  font-size: 13px;
}
#sidebar .nav-list li:hover {
  text-decoration: none;
}
#sidebar .nav-list li a {
  color: #666!important;
}
#sidebar .nav-list li a:hover {
  background: #ffffff !important;
}
#sidebar .nav-list .active {
  background: #e8e8e8 url(../img/NM-BG.png) repeat top left !important;
  margin-left: 0;
  font-weight: normal;
  color: #666!important;
  font-size: 13px;
}
#sidebar .nav-list .active a,
#sidebar .nav-list .active a:hover {
  font-weight: normal;
  text-shadow: none;
  background: transparent!important;
  color: #666!important;
  font-size: 13px;
}
#sidebar #list-2 {
  margin-top: 20px;
}
#sidebar .box-tight {
  border-radius: 0!important;
  border-color: #ebedef!important;
}
#sidebar .header {
  min-height: 40px;
  line-height: 40px;
}
#sidebar form {
  border: 1px solid #ebedef;
  border-top: none;
}
#sidebar form legend {
  font-family: "Merriweather", serif;
  font-weight: normal!important;
}
#sidebar #frmSecureInbox {
  border: none;
}
table#brokerStatusHistory {
  border: 1px solid #e9e9e9;
}
input[type="radio"] {
  margin: 0 5px 0 0;
}
.mixins-rightpanel-subhead-bg {
  background: #eee;
}
#rightpanel h4 {
  padding: 10px;
  border-top: 1px solid #65a2be;
  background: #eee;
  font-family: "Merriweather", serif;
  font-weight: normal!important;
  font-size: 13px;
}
#rightpanel h4 a.btn {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#rightpanel a.btn {
  margin: 0 5px;
}
#rightpanel div.header a.btn,
#rightpanel div.header input[type="submit"],
#rightpanel button.btn.btn-small {
  margin: 10px 5px;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#rightpanel .graydrkaction,
#rightpanel .graylightaction,
#rightpanel .header {
  height: 40px;
  background: #b3c4db url('../img/NM-header-BG.png') repeat top left !important;
}
#rightpanel .graydrkaction h4,
#rightpanel .graylightaction h4,
#rightpanel .header h4 {
  background: none;
  border-top: none;
}
#rightpanel .graydrkaction a.btn,
#rightpanel .graylightaction a.btn,
#rightpanel .header a.btn {
  background: #f1f1f1;
}
#rightpanel .graydrkaction a.btn-primary,
#rightpanel .graylightaction a.btn-primary,
#rightpanel .header a.btn-primary {
  background: #5586a4;
}
#rightpanel .table td h4 {
  background: none;
  border-top: none;
  padding: 0;
  font-size: 18px!important;
}
#rightpanel .light {
  opacity: 1!important;
}
#rightpanel .accordion-header {
  background: #eee;
}
#menu li.act a {
  border: 1px solid #e9e9e9;
  background: #ffffff;
  color: #7e183f;
}
.mixins-PS-insert-box-shadow {
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
}
#planSelect #titlebar:after {
  border-bottom: none;
  position: static;
  width: auto;
}
#planSelect .scroll-left-arrow,
#planSelect .scroll-right-arrow {
  background: transparent;
}
#planSelect .scroll-left-arrow:hover,
#planSelect .scroll-right-arrow:hover {
  background: transparent;
}
#planSelect .icon-arrow-left,
#planSelect .icon-arrow-right {
  opacity: 1!important;
}
.plan a.addtofav.addedToFav {
  color: #ffffff;
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.3);
}
.intro-indiv h4,
#titlebar h3,
h3#titlebar {
  color: #7e183f!important;
}
.plans-section-header h3 {
  border: 1px solid #e9e9e9;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 0;
  padding-left: 15px;
  color: #1a4b6a !important;
  font-size: 14px;
}
.plans-section-content .label-info {
  font-size: 13px;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal !important;
  background: #f2dede;
  color: #b94a48;
  border: #eed3d7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.plans-section-content h3 {
  text-transform: none;
}
.plans-section-content .plan {
  overflow-y: hidden;
}
#benchmark #titlebar,
#tierdetails #titlebar {
  background: #e2dfd7;
}
#benchmark #titlebar h3,
#tierdetails #titlebar h3 {
  color: #4f4f4f;
}
#benchmark #titlebar span#sort,
#tierdetails #titlebar span#sort {
  float: right;
}
#benchmark .scroll-right-arrow-wrapper,
#tierdetails .scroll-right-arrow-wrapper,
#benchmark .scroll-left-arrow-wrapper,
#tierdetails .scroll-left-arrow-wrapper {
  height: 112px;
  background: #e2dfd7;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow {
  background: none;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow:hover,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow:hover {
  background: inherit;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow h1,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow h1,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow h1,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow h1,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow h1,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow h1,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow h1,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow h1 {
  color: #1d73b6;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow h1 i,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow h1 i,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow h1 i,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow h1 i,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow h1 i,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow h1 i,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow h1 i,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow h1 i {
  color: inherit;
}
#benchmark .scroll-right-arrow-wrapper .scroll-left-arrow h1 i:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-left-arrow h1 i:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-left-arrow h1 i:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-left-arrow h1 i:hover,
#benchmark .scroll-right-arrow-wrapper .scroll-right-arrow h1 i:hover,
#tierdetails .scroll-right-arrow-wrapper .scroll-right-arrow h1 i:hover,
#benchmark .scroll-left-arrow-wrapper .scroll-right-arrow h1 i:hover,
#tierdetails .scroll-left-arrow-wrapper .scroll-right-arrow h1 i:hover {
  opacity: 0.8;
}
#tierdetails #titlebar {
  margin-bottom: 0;
}
#tierdetails .plans-section {
  border-left: 1px solid #e9e9e9;
}
#tierdetails .plans-section table.planNameWrap td.planName {
  text-align: center!important;
}
#plansbar #pagination li.active a,
#benchmark #pagination li.active a,
#tierdetails #pagination li.active a {
  color: #4f4f4f!important;
}
#plansbar #pagination li a:hover,
#benchmark #pagination li a:hover,
#tierdetails #pagination li a:hover {
  color: #333!important;
}
.enrollmentPeriodDate {
  border-radius: 0!important;
}
.enrollmentPeriodDate:hover {
  border-color: #e9e9e9 !important;
  background-image: none!important;
  background: #f7f7f7;
}
.calSheet .month {
  background-color: #66abe2;
  background: -webkit-gradient(linear, left top, left bottom, from(#66abe2), to(#5894c3));
  background: -webkit-linear-gradient(top, #66abe2, #5894c3);
  background: -moz-linear-gradient(top, #66abe2, #5894c3);
  background: -ms-linear-gradient(top, #66abe2, #5894c3);
  background: -o-linear-gradient(top, #66abe2, #5894c3);
  border: 1px solid #5894c3;
  border-radius: 2px 2px 0 0;
  color: #ffffff;
}
.calSheet .day {
  border-radius: 0 0 2px 2px;
  border-right: 1px solid #4d4d4d;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  color: #666666;
  font-weight: bold;
  letter-spacing: -0.1em;
  line-height: 1.4em;
}
.mixins-table-font-size {
  font-size: 13px;
}
.mixins-table-tr-font {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.mixins-table-th-font {
  font-family: "Merriweather", serif !important;
}
.mixins-table-th-font-color {
  color: #666!important;
}
.mixins-table-tr-bg {
  background: #f3f9f9;
}
.table {
  border: 1px solid #ebedef;
  margin-bottom: 15px!important;
}
.table th.sortable img {
  display: none;
}
.table th a {
  background: none!important;
  font-weight: normal;
  color: #666!important;
  font-family: "Merriweather", serif !important;
}
.table th a.btn {
  border: 1px solid #dedede;
  background: #f1f1f1;
  color: #7a7a7a;
}
.table th.txt-right {
  text-transform: capitalize;
}
.table td {
  border: 1px solid #e9e9e9;
  font-size: 12px;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.table td h4 {
  background: none;
}
.table td .caret {
  border-top: 4px solid #5485a3;
}
.table td .dropdown-menu li > a:hover {
  background: none;
  color: #1a4b6a;
}
.table td.txt-right {
  text-transform: capitalize;
}
.table tbody tr th {
  background: #ffffff !important;
}
.table tbody th {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.lightgray,
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background: #f3f9f9;
}
.graydrkbg thead tr,
thead tr.graydrkbg {
  border-top: none;
  border-bottom: none;
}
form#frmesign h2 {
  margin-left: 0;
}
.form-actions {
  border: 1px solid #e9e9e9;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 10px;
}
.pagination ul > li > a,
.pagination ul > li > span {
  border: 1px solid #e9e9e9;
  color: #7e183f;
}
.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
  border-radius: 0!important;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  background: #e5eeeb;
  color: #d4286a;
}
.pagination ul > li > a:hover {
  background: #adcfc3;
}
#footer.container ul.nav li a:hover {
  color: #1f5a7e;
}
.datepicker td.active,
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  background-color: red!important;
  border-radius: 0!important;
}
.markCompleteHeader .header {
  height: 40px;
}
.markCompleteHeader .header h4 {
  margin-left: 10px!important;
  color: #666!important;
  line-height: 40px!important;
  font-weight: normal!important;
}
.markCompleteHeader .header button.dialogClose {
  background: transparent!important;
  line-height: 40px;
  margin-right: 10px!important;
  color: #666!important;
}
#viewempModal .modal-header {
  height: 40px;
}
#viewempModal .modal-header h4 {
  margin-left: 10px!important;
  color: #666!important;
  line-height: 40px!important;
  font-weight: normal!important;
}
#viewempModal .modal-header button {
  background: transparent!important;
  line-height: 40px;
  margin-right: 10px!important;
  color: #666!important;
}
#brokerdetail table#list thead tr {
  height: 40px;
}
#brokerdetail table#list tbody tr td a h4 {
  font-size: 14px;
}
#frmdetail #display-info tbody tr th {
  background: #fff!important;
}
div#alert1.modal {
  top: 15%;
}
.modal-header {
  background: #b3c4db url('../img/NM-header-BG.png') repeat top left;
  border-radius: 6px 6px 0 0;
  min-height: 20px;
}
.modal-header h4 {
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: normal;
}
.modal-header .close {
  margin-top: 0;
}
.modal-footer {
  background: none;
  border-top: none;
}
.hugeModal {
  width: 767px!important;
  margin-left: -350px !important;
  height: 460px;
}
#qualified-event .modal-body {
  max-height: 315px;
}
#successbox .modal-header {
  background: none;
  border-radius: 0;
}
iframe {
  border: 0px;
}
iframe #successbox .header {
  background: none;
  background-image: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
iframe#success .modal-header {
  border-radius: 6px 6px 0 0;
}
iframe#success .modal-body {
  padding: 0;
}
iframe#search {
  min-height: 520px;
  /*Changed from 430px to 520px - HIX-19095*/
}
iframe#search h3 {
  font-size: 18.5px;
}
iframe#search .bottomBorder {
  border-bottom: none!important;
}
iframe body {
  background: #fff;
  background-image: none;
}
body.shellmodal-body {
  background: #fff!important;
}
body.shellmodal-body .table {
  border: none;
}
#Dental-light_box #title {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 17px;
}
#Dental-light_box #info {
  margin: 20px 0 25px 0;
}
#Dental-light_box .premium {
  font-size: 17px;
}
#Dental-light_box .plan {
  margin: 0 10px;
  border: 1px solid #e9e9e9;
}
#Dental-light_box .form-actions {
  background: #fff;
  border: none;
}
.eligibility-wrapper button#check-for-savings {
  position: relative;
  right: -514px;
}
.eligibility-wrapper input[type="text"],
.eligibility-wrapper input[type="checkbox"] {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.eligibility-wrapper input[type="text"].member-birthday,
.eligibility-wrapper input[type="checkbox"].member-birthday {
  text-align: center;
}
.eligibility-wrapper ul {
  margin-left: 0;
  border: 1px solid #e9e9e9;
  text-align: center;
  margin-bottom: 0;
}
.eligibility-wrapper ul#familyLabels {
  border-bottom: none;
  line-height: 40px;
  font-family: "Merriweather", serif;
  font-size: 13px;
  background: #ececec;
}
.eligibility-wrapper ul#members-repeat-container {
  border-top: none;
  padding: 10px 0;
}
.eligibility-wrapper li {
  display: inline-block;
  font-size: 12px;
  width: 17%;
  text-align: center;
}
.eligibility-wrapper li:last-child {
  width: 10%;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 11px;
}
.eligibility-wrapper .input-append,
.eligibility-wrapper .input-prepend {
  margin-bottom: 0;
}
.eligibility-wrapper .input-append .add-on,
.eligibility-wrapper .input-prepend .add-on {
  border: 1px solid #e9e9e9;
  background: #fff;
}
.eligibility-wrapper .input-prepend.input-append .add-on:first-child,
.eligibility-wrapper .input-prepend.input-append .add-on:last-child,
.eligibility-wrapper .input-prepend .add-on:first-child {
  border-radius: 0;
}
.eligibility-wrapper .header {
  margin-bottom: 10px;
}
#incomeEntry,
#zipEntry {
  margin: 10px 0 20px;
}
#incomeEntry p,
#zipEntry p {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
}
#zipEntry .add-on:before {
  content: "\f041";
  font-family: "FontAwesome";
}
#zipEntry .ng-binding {
  font-size: 12px;
  margin-left: 5px;
}

#family-members-container {
	margin-bottom: 30px;
}

#family-members-container button {
  margin: 10px 0;
  float: right;
}
#family-members-container button:before {
  content: "\f067";
  margin-right: 5px;
  font-family: "FontAwesome";
}
#family-members-container .member-label:before {
  content: "\f007";
  margin-right: 5px;
  font-family: "FontAwesome";
}
#family-members-container .remove-label {
  color: transparent;
  font-size: 0;
}
#family-members-container .remove-label:after {
  content: "\f00d";
  margin-left: 5px;
  font-family: "FontAwesome";
  font-size: 14px;
  color: #B90000;
  opacity: 0.8;
}
#family-members-container .remove-label:hover:after {
  opacity: 0.9;
}
footer {
  font-size: 0.8em;
  color: #777;
  height: 4em;
}
footer article {
  width: 940px;
  margin: 0 auto;
  padding-top: 10px;
}
