
body#body-broker #masthead.navbar-inverse div.navbar-inner {
    /* background: url('../img/nm_header_bg_default.png') repeat-x;
    */ border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-color: #2997da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2997da), color-stop(100%, #0183ba));
  background-image: -webkit-linear-gradient(top, #2997da, #0183ba);
  background-image: -moz-linear-gradient(top, #2997da, #0183ba);
  background-image: -ms-linear-gradient(top, #2997da, #0183ba);
  background-image: -o-linear-gradient(top, #2997da, #0183ba);
  background-image: linear-gradient(top, #2997da, #0183ba);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2997da, endColorstr=#0183ba);
  box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,.2);
  -webkit-box-shadow:inset 0px 0px 5px  rgba(0,0,0,.2);
  -moz-box-shadow:inset 0px 0px 5px  rgba(0,0,0,.2);
    
}

body #masthead.navbar {
	border-bottom: solid 5px #FF9600;
	font-family:"Droid Serif", Arial, Sans-serif;
	font-weight:normal;
	font-size:95%;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

#masthead .brand {
  color: #ffffff;
  font-weight: bold;
  background: url("../img/ms_header_logo.png") no-repeat scroll left 2px transparent;
  text-indent: 30px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
  color: #E3E3E3;
  background-color: transparent;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret:hover {
  border-bottom-color: #E3E3E3;
  border-top-color: #E3E3E3;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #FFFFFF;
}


.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0;
}

/*-------------- Left Column ol Wizard  ----------------*/

#body-broker ol.nav-list > li {
	background-color:#eee;
	border-bottom:1px solid #999;
}
#body-broker ol.nav-list > li.active > a {
	color:#fff;
}
#body-broker ol.nav-list li.active, #body-broker ul.nav-list li.active {
	background: url("../img/arrowleft-white.png") no-repeat scroll right 50% #51ABE2;
	color:#fff;
}
#body-broker ol.nav-list .done {
	background:#eee url(../img/checkmark-gray.png) no-repeat 6px 14px;
}
#body-broker ol.nav-list .done:hover {
	background:#ccc url(../img/checkmark-gray.png) no-repeat 6px 14px;
}
#body-broker ol.nav > .done > a:hover {
	background-color:#ccc;
}
#body-broker ol.nav-list .visited:hover {
	background-color:#ccc;
}
#body-broker ol.nav > .visited > a:hover {
	background-color:#ccc;
}
#body-broker ol.nav.nav-list li ol li.active {
	color: #666;
}
#body-broker ol.nav.nav-list li ol li a {
	color: #666;
}
#body-broker ol.nav.nav-list li ol li.active a {
	color: #666;
}
/*-------------- End Left Column ol Wizard  ----------------*/
/*-------------- Left Column ul Nav  ----------------*/

#body-broker ul.nav-list > li {
	background-color:#F7F7F7;
	border-bottom:1px solid #dddddd;
}
#body-broker ul.nav-list > li.active > a {
	color:#fff;
}
#body-broker ul.nav-list li.active, #body-broker ul.nav-list li.active:hover {
	background:#51ABE2 url(../img/arrowleft-white.png) no-repeat right 50%;
	color:#fff;
}
#body-broker ul.nav-list li.active a:hover {
	background-color:#51ABE2;
}
#body-broker ul.nav-list li:hover, #body-broker ul.nav-list > li > a:hover {
	background-color:#EDEDED;
	/* background-color:#B3B3B3; */
}
/*-------------- End Left Column ul Nav  ----------------*/

/*-------------------- Bar colors  ----------------------*/

#body-broker .gray h4 {
	color:#666;
/* 	background:#666; */
	padding:10px;
	line-height:24px;
	
	background-color: #FBFBFB;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(100%, #B3B3B3));
	background-image: -webkit-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -moz-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -ms-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -o-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: linear-gradient(top, #C9C9C9, #B3B3B3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9C9C9, endColorstr=#B3B3B3);
	border:1px solid #E3E3E3;
}

#body-broker .span3 .gray h4 {
	border-left:none;
	border-right:none;
}

#body-broker .graybg {
	background:#F7F7F7;
}
#body-broker .graydrkbg {
	background-color: #C9C9C9;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C9C9C9), color-stop(100%, #B3B3B3));
	background-image: -webkit-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -moz-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -ms-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -o-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: linear-gradient(top, #C9C9C9, #B3B3B3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9C9C9, endColorstr=#B3B3B3);
	border-top:1px solid #E3E3E3;
	color:#666;
}

#body-broker .graydrkbg a {
	color:#FFF;
}

#body-broker .graydrkbg td {
	color: #666;
}
#body-broker .graydrkbg .caret {
	border-top-color:#fff;
	border-bottom-color:#fff;
}
#body-broker .graydrkaction {
	color:#666;
	padding:5px 10px;
	height:28px;
	background-color: #FBFBFB;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C9C9C9), color-stop(100%, #B3B3B3));
	background-image: -webkit-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -moz-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -ms-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: -o-linear-gradient(top, #C9C9C9, #B3B3B3);
	background-image: linear-gradient(top, #C9C9C9, #B3B3B3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9C9C9, endColorstr=#B3B3B3);
	border-top:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3;
}
#body-broker .graylightaction {
	background:#999;
	color:#fff;
}
#body-broker .graydrkaction h4, #body-broker .graylightaction h4 {
	margin:8px 0 0 0;
}
#body-broker .gray h5 {
	color:#949494;
}

/*-------------------- End Bar colors  ----------------------*/