.container #rightpanel a.btn {margin: 0;}
 .container #rightpanel table {margin-bottom: 0}
 .top-nav {margin: 10px 0 0 -10px; width: 980px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08); border-bottom: 1px solid #EBEBEB;}
 .top-nav .nav > li > a:hover {background: none}
 .top-nav.stuck {/*position: fixed; padding-top: 10px;*/ top: 30px; z-index: 10; background: #fff;}
 .top-nav h1 {border: 0; margin-top: 4px; /*width: 460px;*/ padding-bottom:5px; margin-bottom: 0px !important;}
/*  .back, .forward {padding: 5px 10px;}

 .back { float: left;}  */
 .margin15-t {margin-top: 15px;}
 .btn-primary a {color: #fff;}

 .carrier-disclaimers, .additional-notices {border-top: 1px solid #eee; clear: both; opacity: .6; filter: alpha(opacity=60); font-size: 13px;}
 .carrier-disclaimers h3, .additional-notices h3 {text-align: center; font-size: 18px; }
 #carrierInfo > div > h4, .additional-notices h4 {font-size: 14px; padding: 10px 10px 10px 0 !important;}

 .container .row-fluid .span3, .container .row-fluid .benefits .span3  {width: 17.404%; padding-top: 0;}
 .container .row-fluid .dental-benefits .span3  {width: 17.404% !important;}

 .container .row-fluid .span9 {width: 81.068%; padding-left: 30px !important; padding-top: 23px !important; margin-left: 10px;}
/*  .container h1 { font-family: "ff-tisa-web-pro","proxima-nova",sans-serif; font-weight: 400; font-size: 2em;} */
 footer .container .row-fluid .span3 {width: 23.404255319148934%}

/*-------------------------------------------------\
|                  Preferences                      |
 \-------------------------------------------------*/

 legend {margin:  0 0 5px 0; border: 0; font-weight: normal; line-height: 1.5em}
 legend + .control-group {margin: 0;}
 /* legend h3, #filter h3 {margin: 0; color: #434951; line-height: 1.2em; font-size: 15px} */
 legend p {margin: 0}
 legend p small {color: #434951; font-size: 13px}

 .carousel-inner {min-height: 350px;}
 #rightpanel .carousel-inner h4 {background: none;}
 .item fieldset, .item .fieldset {min-height: 250px;}
 /* .item fieldset label {font-size: 15px;} */
 .carousel-inner .carousel-caption {background: none; padding: 0}
 .item  a[rel~="tooltip"] {color: #666; border-bottom: 1px dotted #B4B2B2;}
 .container #rightpanel a.btn.reset.offset1 {margin-left: 24.638298% !important;}


 #sidebar.span4 {padding-top: 20px; border: 0 !important}
 .benefits-error {margin:0 0 10px 0;}
 .essential-benefits li:before {content: "\f00c";  font-family: "FontAwesome" !important; font-size: 13px; cursor: pointer; position: relative;
  font-style: normal;
  padding-right: 2px;
  }

 #nextButton {/*font-size: 16px;  font-family: "proxima-nova","Proxima Nova",'Raleway',Arial, sans-serif; font-weight: 300;*/ margin: 10px 10px 0 0;}

 #rightpanel legend h4 {padding: 10px 10px 10px 0; border: 0; margin: 0}
 #preferencesForm div#rightpanel.span8 {width: 76.4957% !important;}


/* ###############################Provider Search Start###############################*/
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  width: 252px !important;
}
.ui-autocomplete li{
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1.4;
  width: 98% !important;
}

.ui-autocomplete li:hover {
  background-color: #ededed;
}

.ui-autocomplete li:last-child {
  border-bottom: none;
}
ul.provider-results.inline li.search-choice {
  padding: 6px 22px 6px 8px;
  margin-top: 0;
}

li.search-choice .chzn-details {
  color: #353434;
  font-size: 11px;
}

li.search-choice .chzn-details b{
	font-weight: bold !important;
}

li.search-choice span b {
  color: black;
  font-size: 13px;
  display: block;
  margin-bottom: -10px;
}

li.search-choice .search-choice-close {
  position: absolute;
  top: 7px;
  cursor: pointer;
}

#providerSelectedList {
  margin-left: -5px;
}


.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active
  {
  background: #ededed;
  text-shadow: none;
  border: 0px;
  color: #404040;
  font-weight: normal;
}

.chzn-container-multi .chzn-choices .search-choice {
  position: relative;
  margin: 5px;
  //padding: 8px 22px 7px 9px;
  padding: 0;
  border: 1px solid #BCCEDB;
  background: #fdfdfd;
  color: #333;
  line-height: 14px;
  cursor: default;
  border-radius: 0;
  width: 30%;
  min-height: 124px;
}
@media  (max-width: 450px) {
  .chzn-container-multi .chzn-choices .search-choice {
    width: 96%;
    min-height: 103px;
  }
}
.chzn-container-multi .chzn-choices .search-choice .chzn-header {
  border-bottom: 1px solid #ddd;
  padding: 8px 22px 5px 9px;
  text-transform: uppercase;
  font-size: 11px;
  background-color: #f6f6f7;
}
.chzn-container-multi .chzn-choices .search-choice .chzn-details { padding: 5px 22px 7px 9px;}
.chzn-container-multi .chzn-choices {
  border: 0px;
  background-image: none;
  width: 100%;
}
.chzn-container-multi .chzn-choices .search-choice .chzn-details b { font-size: 13px; line-height: 1.5em;}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close
  {
  top: 9px;
  right: 5px;
}

#providerName{
  width: 270px;
  margin-right: 5px;
}

.ps-dropdown-list-style {
  padding-bottom: 5px;
  border-bottom: 1px solid #c5c5c5;
  font-size: 11px;
}


/* ###############################Provider Search Ends###############################*/


/* ###############################Drug Search Starts###############################*/
#drugName{
	width: 240px;
}
#drugDosages{
	background-color: #f7f7f9;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.drugDosagesHeader{
	padding: 15px;
	font-size: 15px;
	border-bottom: 1px solid #86C48C;
}

.selectedDrug{
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25em;
    margin: 0 9px 10px 0 !important;
    word-break: break-word;
}

.selectedDrugHeader{
	background-color: #f7f7f9;
	padding: 10px;
	font-size: 1.2em;
}

.selectedDrugGenericName{
	border-top: 1px solid #86C48C;
	color: #808080;
	padding: 15px;
    font-size: 1.2em;
}
/* ###############################Drug Search Ends###############################*/

/*-------------------------------------------------\
|                  Tiles page                       |
 \-------------------------------------------------*/
#sidebar .control {margin: 0 5px; padding: 6px;}
 #sidebar .radio input[type="radio"], .checkbox input[type="checkbox"]{margin-top: 2px}
 #sidebar .metal-tier.sidebar-form-inputs .checkbox .filter_checkbox.plantTier {margin-left: 0px; margin-right: 8px;}
/*  #sidebar #sort label, #sidebar #filter label {font-size: 14px;}
 #filter h3 {padding: 15px 10px 10px 0;} */
 #totalCount {padding: 2px; min-width: 9px; display: inline-block; text-align: center;}
 #compare .popover {border: 1px solid #ededed; border-radius: 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); left: -47px; top: 5px; width: 188px}
 #compare .popover.bottom .arrow:after {left: -2px}
 h1.span8.choose-plan, h1.span8.comparing-plans, h1.span8.detail-plan {width: 64.4957% !important; text-align: center; margin-left: 0 !important;}
/*  .top-nav h1 small {display:block; line-height: 25px;} */
 .personalize {min-height: 450px;}
 .span9.benefit-details {min-height: 550px;}
 .planimg {height: 40px}
 .payment h3 {letter-spacing: 1px;}
 #mainSummary .tile > a[rel~="tooltip"]{height: 66px; width: 66px;  display: block; left: -25px; top: -25px; position: absolute;}
 #filter small {line-height:16px;}
 /*#mainSummary {
  position: relative;
  width: 100%;
  margin-left: 15px;
  }*/
 /*------------------------------------------------\
|                      Header                       |
 \------------------------------------------------*/

 .go   {
  -webkit-animation-name: go;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 40;
}

.table {border: 0px !important;}
 .top-question {background: #e9e9e9; padding: 0 0 10px  0;}
 .top-question p {margin: 20px 0 0 0;}

 /*------------------------------------------------\
|                 Customize Plans                   |
 \------------------------------------------------*/


 .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
 .clearfix { display: inline-block; }
/* start commented backslash hack \*/
 * html .clearfix { height: 1%; }
 .clearfix { //display: block; }
/* close commented backslash hack */

 .customize-plans > .nav {margin:0; padding: 0}
 .customize-plans p {margin-bottom: 0px}
 .customize-plans .pagination {margin: 0 !important;}
 .customize-plans  {border-top: 1px solid #eee; }
 .plans-separator{ border-bottom: 1px solid #eee; margin: 0 -10px; padding: 0 10px; display:block;}
 .row-fluid .customize-plans ul > li > div {padding:6px 10px;}
 .row-fluid .customize-plans ul > li {padding: 0;}
 .row-fluid .customize-plans .pagination ul > li > a, .pagination ul > li > span {float: none;}
 .row-fluid .customize-plans .pagination ul > .active > a, .pagination ul > .active > a:hover, .pagination ul > .active > span {background: #89BCE9}

.planSelectionPage h1 a small{color:#4e9dd1;}
 /*------------------------------------------------\
|                     Tiles.css                     |
 \------------------------------------------------*/
 .loading {
  //position: absolute;
  //width: 980px;
  width:100%;
    z-index: 30;
    background: #FFF;
    height: 450px;
    left: -100px;
  /* top position and padding changed for HIX-59139 */
  //top: -231px;
  //padding-top: 151px;
 }
 @media (max-width: 768px) {
  .loading {
    left:0;
  }

 }
 .loading table th {font-size: 13px;}
 .loading .score .circle-num {display: inline-block}
 .loading .score {top: -25px; left: -25px;}
 .loading .tile {
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 30%;
  min-width: 220px;
  }
 .loading h3 {text-align: center; margin-bottom: 24px;}
 .loading .tile-header p {height: auto}
 .loading .plan-actions a {cursor: default}
 .loading.dentalHealthLoading {
  //top: -291px;
 }
 .center-circle { border-radius: 50px; width: 65px; height: 65px; background: #4EAA45; position: absolute; z-index: 1; }

 .score .circle-num {text-align:center; z-index: 20;  color: #ffffff; padding-top:15px;}
 .circle-core { width: 50px; height: 50px;  background: #339928; position: absolute; z-index: 2; left: 7px; top: 8px; font-size: 28px;  color: #FFF; }

 .score .slice { position:absolute; width:65px; height:65px; -moz-border-radius: 120px; -webkit-border-radius: 120px; border-radius: 120px; }
 .score .slice.score50 {clip:rect(auto, auto, auto, auto); }
 .score .slice > .pie {
  position:absolute;
  width:65px; /* 1 - (2 * border width) */
  height:65px; /* 1 - (2 * border width) */
  clip:rect(0px,33px,65px,0px);
  -moz-border-radius:120px;
  -webkit-border-radius:120px;
  border-radius:120px;
  z-index: 2;
 }
 .score .slice > .pie.fill {
  -moz-transform:rotate(180deg) !important;
  -webkit-transform:rotate(180deg) !important;
  -o-transform:rotate(180deg) !important;
  transform:rotate(180deg) !important;
  }

 .lessfifty {clip:rect(0px, 65px, 65px, 30px);}
 .pie-color {background-color: #89DA81;}

 .arc { position:absolute; top:0; left:0;  width:60px;  height:60px;  border-radius:50px;  border:8px solid;  z-index: 2;}

 .center-circle { border-radius: 50px; width: 65px; height: 65px; position: absolute; z-index: 0;}
 .circle-core { width: 50px; height: 50px; background: #339928;  position: absolute; z-index: 2; left: 7px; top: 8px; font-size: 28px; color: #fff;}

 .circle-num {padding: 15px 6px;font-weight: 600;}

 .best .pie-color {background: #89DA81}
 .best .circle-core {background: #339928}

 .ok .center-circle { background: #F3BD58;}
 .ok .pie-color {background: #FBDE59;}
 .ok .circle-core { background: #eaab00;}

 .poor .center-circle { background: #DC4643;}
 .poor .pie-color {background: #F0775F;}
 .poor .circle-core { background: #be0300;}
 span.best {font-size: 13px !important;}
 span.best i {color:#4EAA45; font-size: 12px !important;}
 span.ok i {color:#EAAB00; font-size: 12px}
 span.poor i {color:#F16054; font-size: 12px}

 .smart-choice-score { background: #89DA81; border-radius: 50px; width: 80px; height: 80px; overflow: hidden; margin: 0 15px 0 0;}
 .tile:nth-child(3n-1) { margin-left: 30px; margin-right: 30px;} /* needed this for other pages */
 .tile.middleTile { margin-left: 30px; margin-right: 30px;} /* Required important due to above line to fix for certain scenario's through JS code */

 .tile {
  border: 1px solid #E6E6E6;
  box-shadow: 1px 1px 3px #F3F3F3;
  background: #fff;
  width: 31.9%;
  margin-top:0;
  margin-bottom:20px;
  margin-right: 10px !important;
  color:#a1a1a1;
  float:left;
  position: relative;
}







/*  .tile:hover {border: 1px solid #84c3fd;} */
.tile.dentalTile, .tile.detailPlanTile, .tile.dummyTileDisplay{min-height: 0;}
.tile.detailPlanTile, .detailPlanTile #tile{margin-top:0;}
.tile.detailPlanTile.details .tile-header {margin-bottom: 5px;}
.tile.detailPlanTile.details .plan-options {padding: 0 3px;}
.tile.detailPlanTile.details .plan-options table tr {height: 40px;}
.tile.detailPlanTile.details table th {    vertical-align: top; line-height: 1.2;}
.tile.detailPlanTile.details .pcv {margin-top: -11px;}
.tile.detailPlanTile.details .drug {margin-top: -7px;}
.dummyTileDisplay h3 {font-weight: bold; }
.dummyTileDisplay .tile-header img { margin-top: 20px; height: 18px;}
 .tile h3 {text-transform: none; color: #444; line-height: 0; margin-top: 15px; font-size: 1.6em; display: inline-block}
 .tile-header {text-align: center;}
 .tile-header a {
  color: #005e8d;
    //text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
  }
 .tile-header .planimg {margin-bottom: 0;}
 .tile .score {position: absolute; z-index: 1; }
 .tile-header img {margin: 0 auto; height: 40px;}
 .tile .tile-header p, .tile .tile-header p a {font-size: 13px;}
 .tile-header a.removeCompare {color: #c00000;}
 .tile.details .tile-header small{display:inline-block; margin-top:5px;} /* Added for HIX-45460 12/Aug/14 */

 /* .select {background: #428FD5 !important} */
/*  .tile .plan-actions a.select, a.select, .select a {color: #fff;} */
 /* .selected, .compared-selected {border: 1px solid #53a6e1; box-shadow: 3px 3px 3px rgb(224, 224, 224);} */
/*  .selected:hover,  .compared-selected:hover  {border: 1px solid #53a6e1;} */

/* HIX-56732 */
 .tile .ratings-stars{text-align:center; font-size: 14px;}
  .tile .ratings-stars a{border-bottom:none;}
  .tile .ratings-stars i{color:#f98509;}
/* HIX-56732 */

 .tile .payment {text-align: center; font-size: 14px;}
 .payment p {margin: 0 0 5px 0;}
 .was {font-weight:normal;}

 .plan-options .table {margin: 0 0 7px 0 !important; color:#666; border:0px;}
 .plan-options .table th, .plan-options .table td { border:0; padding:1px 2px 1px 0; min-height: auto;}
 .plan-options .table td.span1, .table th.span1 {width: 115px}
 .plan-options .table th {text-align: right;}
 .plan-options .table td {line-height:14px; text-align: left;padding-left:10px;color:#555; font-size:13px;}
 .plan-options {padding:0 10px 0 10px;}
 .plan-options p {margin: 0; padding-top: 1px;}
 .plan-options p small {font-size: 100%};
 .plan-options .table th  a[rel~="tooltip"] {color: #666; border-bottom: 1px dotted; font-weight:300; font-size: 13px;
 /*font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/}
 .plan-options a[rel~="tooltip"]:hover {text-decoration: none;}
 .plan-options .table td.gutter20-l {padding-left: 20px;}


 .plan-actions {border-top:1px solid #E1E1E1;}
 .plan-actions .input-append .btn:active { box-shadow: none;}
 .plan-actions .input-append .add-on, .input-append .btn, .input-append .btn-group {margin: 0 !important}
 .plan-actions a.btn-info {float:right; text-align: right;}
 .plan-actions a.btn-info:hover {color:#fff; background: #428fd5}
 .plan-actions .radio input[type="radio"],
 .plan-actions .radio.inline + .radio.inline, .plan-actions .checkbox.inline + .checkbox.inline {margin-left: 0;}
 .plan-actions .checkbox input[type="checkbox"] {margin-left: 9px;}
 .plan-actions input[type=checkbox] {margin-right: 0; margin-top: 8px;}
 .plan-actions .btn-small {color: #0088CC; padding: 5px 2px 3px 5px; text-transform: uppercase; margin:1px}
 .plan-actions a.btn-small {text-decoration: none; width:  94px; text-align: center; }
 .plan-actions a.btn-small:hover {text-decoration: none;}
.plan-options .table td.quality-rating-height {line-height: 20px;}
.tile .plan-actions-sample .input-append {width: 146px !important;}
.tile .plan-actions-sample .addToCompareLbl input {margin-top: 4px;}
.tile .plan-actions-sample a.addToCompare.btn {width: 67px !important;}

 .plan-actions .compare {width: 70px;}
 .plan-actions .input-append, .plan-actions .input-prepend {margin: 0; padding-right: 1px}
 .plan-actions .clearfix {text-align: center;}
 .plan-options,
 .plan-actions .clearfix {clear:both;}
 .plan-actions .btn, .plan-actions .btn:hover, .plan-actions .btn:focus {border: 0;}
  #rightpanel .plan-actions a.btn.btn-small {margin: 0;}
 .plan-actions .compared {background: #e7e7e7;}
 .span12.benefit-details {margin-left: 8px; margin-top: 10px;}
 .plan-actions .compared a.removeCompare {
    color: white !important;
 }

 .all-plans {padding: 5px; float:left;}

 .benefit-label {width: 27%; padding: 5px 10px;}

 .plan-detail {width: 21.1999519148954%; margin: 0; float: left; position:relative;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 97%, #f3f3f3 97%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(95%,#ffffff), color-stop(95%,#c4c4c4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 97%,#f0f0f0 97%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 97%,#f0f0f0 97%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 97%,#f0f0f0 97%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 97%,#f0f0f0 97%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
   border-radius: 2px 6px 0 0; color: #A1A1A1;}

 .plan-detail .tile-header {height: auto; border-top: 1px solid #f1f1f1; border-left: 1px solid #f7f7f7; border-radius: 2px 4px 0 0; margin: 0 6px 0 0; }

 .plan-detail .payment {margin-bottom: 10px; color: #a1a1a1;}
 .plan-detail .payment p {font-size: 11px; margin: 0 0 10px 0;}
 .plan-detail .payment a.btn {background: #fff; border: 0;}
 .plan-detail .payment a.select {color: #fff; border: 0;}

 .plan-detail h3 {color:#444; text-transform: none; font-weight: normal; margin: 5px 0 0 0;}

 .plan-details .tile {margin: 0 auto; float: none;  border: 0; box-shadow: 0 0 0 #fff; height: 60px;}
 .plan-details .tile .score {position: relative; z-index: 1; top: -2px; left: 0px; right: 0px; }
 .benefits .plan-details .tile a[rel~="tooltip"]{border: 0; color: #666; cursor: default;}
 .benefit-details .accordion-group {border: 0; margin: 0 0 5px 0;}
 .benefit-details .accordion-heading a {font-weight: bold; color: #727272; text-shadow: 1px 1px 3px #D6D6D6; }
 .benefit-details .accordion-heading a:hover {color:#727272; text-decoration: none;}
 .benefit-details .accordion-inner {padding: 0; border: 0;}
 .benefit-details .plan-details {width: 21.1999519148954%;
  background: #ffffff;
   text-align: center; padding: 10px 0;}
 .benefit-details .row-fluid {display: table; border-collapse:collapse; border-spacing:0px;}
 .benefit-details .test {display: table-row; border-spacing:0px;}
 #benefitHead .plan-details {padding: 5px 23px 5px 10px;}
 #detailHead .clearfix.details { width: 100%;}
 #detailHead .benefits td {word-break: normal;}
 small.muted {display: block; margin-top: -5px;}
 .dotted {border-bottom: 1px dotted #B4B2B2;}

 .tile > a[rel~="tooltip"]{width: 75px; height: 60px; position: absolute; left: 0px;}
 .top-border {border-top: 1px solid #666}
 .details a[rel~="tooltip"]{left: -25px !important; top: -25px !important;}
 .tile .table a[data-original-title=""] {
  cursor: default;
  border-bottom: none !important;
  color:#555 !important;
  text-transform: none;
 }
 .tooltip-inner p {margin-bottom:2px;}
 .tooltip-inner {
  max-width: 20em;
  padding: 10px 15px;
  color: #222;
  text-align: left;
  text-decoration: none;
  border: 1px solid #CECECE;
  border-top-color: #CECECE;
  background: #fcfcfc !important;
  font-size: 13px;
  line-height: 19px;
  box-shadow: 0 1px 5px 0 rgba(10, 10, 10, 0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: 0 0 0 rgba(141, 141, 141, 0.25);
}
.tooltip-inner div.qr-label {
  float: left;
  width: 220px;
  font-weight: bold;
}
.tooltip-inner div.qr-value {
  float: right;
}

 .tooltip-inner table.table.table-border-none {margin-bottom: 0 !important}
 .tooltip-inner table td {font-size: 13px;}
 .border-none, .border-none > ul > li > div {border: 0 !important}
 .popover.first-time {left: 72px; font-size: 14px; width: 275px; top: -15px;}
 .first-time .popover-content {padding:0 5px 5px 5px; clear: both;}
 .first-time .popover-title {background: transparent; font-weight: bold; font-size: 16px; float: left; border: 0}
 .first-time button {padding: 5px 10px;}
 .first-timer {margin-bottom: 5px !important; float: right; }

 .tax-credit {
  line-height: 13px !important;;
 }

.table-row-large{
  height: 47px !important;
}
 /*-------------------------------------------------\
|                  Compare Plans                     |
 \-------------------------------------------------*/

 .all-plans {padding: 5px; float:left;}
 .legend span {width: 40px; height: 8px; display: inline-block; margin-right: 5px;}
 .legend ul {margin: 70px 0 0 0;}
 .legend ul li {list-style: none;}
 .legend .best  {background: #8aad38;}
 .legend .ok {background: #fecc2f;}
 .legend .poor{background: #e33d33;}

 #mainSummaryCmpHead .plan-details {
  background: #ffffff;
  color: #A1A1A1;
 }

 #mainSummaryCmpHead .plan-details .select {
  background-color: #11828E;
  color: #fff !important;
 }


 #mainSummaryCmpHead .plan-details .tile-header {height: auto; /*border-top: 1px solid #f1f1f1; border-left: 1px solid #f7f7f7; border-radius: 6px 6px 0 0;*/ margin: 0 6px 0 0; }
 #mainSummaryCmpHead .plan-details .payment {margin-bottom: 10px; color: #a1a1a1;}
 #mainSummaryCmpHead .plan-details .payment p { margin: 0 0 10px 0; line-height: 13px}
 #mainSummaryCmpHead .plan-details h3 {color:#444; text-transform: none; font-weight: normal; margin: 0; display: inline-block; line-height: 24px;}

  #mainSummaryCmp .addToCart{
    border-left: none !important;
  }

 .benefit-details .accordion-group {border: 0; margin: 0;}
 .benefit-details .accordion-heading {font-weight: bold; color:#fff; background: #595959; border-bottom: 1px solid #eee;}
 .benefit-details .accordion-heading a {color: #FFF; text-shadow: 1px 1px 3px #969696;}
 .benefit-details .accordion-heading a:hover {color:#fff; text-decoration: none;}
 .benefit-details .accordion-inner {padding: 0; border: 0;}
 .benefit-details .plan-details, #mainSummaryCmpHead .plan-details {
  background: #ffffff;
   text-align: center; padding: 0 1px 5px 10px;}

 .benefit-details .row-fluid, #mainSummaryCmpHead {display: table; border-collapse:collapse; border-spacing:0px;}
 .table-row {display: table-row; border-spacing:0px;}
 .table-row .plan-details .smart-choice-score {margin: 0 auto;}
 

 .legend {width: 33%}
 small.muted {display: block; margin-top: -5px;}
 .remove {position: absolute; color:#979797; font-size: 16px; top:-10px; right:0px; display:none;}
/*  i.icon-chevron-right, i.icon-chevron-down {width: 10px; display: inline-block;} */

  /*-------------------------------------------------\
|                Compare Plan Widget - iframe         |
 \-------------------------------------------------*/
.compare-widget-position.iframe-compare-widget-position {right: 0; top: 56%;}
.iframe-compare-widget-position .compare-tray {width: 29.7em; height: 100%; position: fixed; right: 15px}
.iframe-compare-widget-position .compare-tray-content {
  border-color: #554D57 #dcd9d9 #dcd9d9 #dcd9d9;;
  border-style: solid;
  border-width: 3px 1px 1px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow:2px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  top: 31%;
}
.iframe-compare-widget-position .compare-tray-content ul  {margin: 13px 4px 0px 10px; float: none;}
.iframe-compare-widget-position .compare-tray-content ul > li{ float: none; min-height: 74px;}
.iframe-compare-widget-position .compare-tray-content .action-plan-wrap {float: none;}
.iframe-compare-widget-position .compare-tray-content .action-plan-wrap .btn { margin: 20px 0px 10px 9px;}
.iframe-compare-widget-position .compare-tray-tab {right:-1px;}
.iframe-compare-widget-position .compare-tray-tab .tab[data-handle-state="hide"]{padding: 7px 20px;}
.iframe-compare-widget-position .compare-tray-tab .tab-show{padding: 7px 12px 5px!important;}
.iframe-compare-widget-position .compare-tray-tab a [class*="icon-circle-arrow-"] {padding-right: 10px;}
.iframe-compare-widget-position .compare-tray-tab a [class^="icon-"]:before {
  /*-right: -18px; -*/
  position: relative;}
.compare-tray-tab-iframe--wrap { float: right; position: fixed; top: 32.9%; right: 168px;}
.compare-tray-tab--iframe .tab {padding: 6px 10px; border-top-radius: 4px; border-bottom-radius: 4px; }
.compare-tray-tab--iframe {top: -45px; transform: rotate(90deg); transform-origin: top left 0; left: -168px;}
.compare-tray-tab--iframe .tab {
    // -webkit-border-bottom-left-radius: 4px;
    // -webkit-border-bottom-right-radius: 4px;
    // -moz-border-radius-bottomleft: 4px;
    // -moz-border-radius-bottomright: 4px;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1451px) and (max-width : 1919px) {
  .compare-widget-position.iframe-compare-widget-position {position: absolute; top: 38%;}
  .iframe-compare-widget-position .compare-tray {
        position: absolute;
        right: -387px;
        top: -505px;
    }
    .compare-tray-tab-iframe--wrap {
        top: 23%;
        right: -203px;
        position: absolute;
    }

}
@media only screen and (min-width: 1200px) and (max-width : 2000px) {
  .iframe-compare-widget-position .compare-tray-tab a [class^="icon-"]:before {transform: rotate(0deg);}
}
@media only screen and (min-width: 1200px) and (max-width : 1450px) {
  .iframe-compare-widget-position .compare-tray {
        right: -227px;
    }
    .compare-tray-tab-iframe--wrap {
      top: 33%;
      right: -41px;
    }
}

@media only screen and (max-width : 1199px) {
  .iframe-compare-widget-position .compare-tray-tab a [class^="icon-"]:before {transform: rotate(0deg);}
  .iframe-compare-widget-position .compare-tray {
        right: -245px;
    }
    .compare-tray-tab-iframe--wrap {
      top: 33%;
      right: -178px;
    }

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .iframe-compare-widget-position .compare-tray-content {
      position: fixed;
      right: 15px;
  }
  .iframe-compare-widget-position .compare-tray {
        right: -245px;
    }
    .compare-tray-tab-iframe--wrap {
      top: 33%;
      right: -178px;
    }

}
@media only screen and (max-width : 768px) {
    .iframe-compare-widget-position .compare-tray {
        right: -245px;
    }
    .compare-tray-tab-iframe--wrap {
      top: 33%;
      right: -183px;
    }

}
@media only screen and (max-width : 640px) {
    .iframe-compare-widget-position .compare-tray {
        right: -245px;
    }
    .compare-tray-tab-iframe--wrap {
      top: 33%;
      right: -202px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 560px) {
  .iframe-compare-widget-position .compare-tray {
      right: -245px;
  }
  .compare-tray-tab-iframe--wrap {
      top: 33%;
      right: -202px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .iframe-compare-widget-position .compare-tray {
      right: -246px;
  }
  .compare-tray-tab-iframe--wrap {
      top: 33%;
      right: -200px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 450px) {
  .iframe-compare-widget-position,
  .compare-tray-tab-iframe--wrap {display: none;}
}

  /*-------------------------------------------------\
|                Compare Plan Widget - noiframe       |
 \-------------------------------------------------*/
.compare-widget-position.noiframe-compare-widget-position {right: 15px;}
.noiframe-compare-widget-position .compare-tray-content ul > li{ float: left;}
.noiframe-compare-widget-position .compare-tray-content .action-plan-wrap {float: right;}
.noiframe-compare-widget-position .compare-tray-content ul > li:last-child{margin-right:0;}
.noiframe-compare-widget-position .compare-tray-content {padding: 10px 7px; min-width:100%;}
.noiframe-compare-widget-position .compare-tray-content .action-plan-wrap{float:right; }
.noiframe-compare-widget-position .compare-tray-content .action-plan-wrap .btn {margin-top: 40px;}
.noiframe-compare-widget-position .compare-tray-tab {right:20px;}
.noiframe-compare-widget-position .compare-tray-tab .tab{
  padding: 6px 12px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

  /*-------------------------------------------------\
}
|                Compare Plan Widget                  |
 \-------------------------------------------------*/
.compare-widget-position {
    position: fixed;
    bottom: 0;
    //right: auto;
    left: auto;
    //right:15px;
    width: 960px;
    margin: 0 auto;
    height: 0;
    z-index: 1000;
}

.compare-tray {
    box-sizing: border-box;
    //background: #fff;
    min-height: 100px;
    position: absolute;
    right: 16px;
    bottom: 0;
    z-index: 1050;
    white-space: normal;
}
.compare-tray-tab {position:absolute; top:-32px;}

.compare-tray-tab--iframe .tab,
.compare-tray-tab .tab {
    display: inline-block;
    float: right;
    //padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #5a5a5a;
}
.compare-tray-tab--iframe .tab.phix-theme,
.compare-tray-tab .tab.phix-theme {
    background-color: #554D57;
    border-color: #554D57;
    clear: both;
    color: #fff;
    font-size: 12px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:2px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
}
.compare-tray-tab .tab.phix-theme [class*="icon-"], .compare-tray-tab .tab.phix-theme [class^="icon-"]{color:#fff;}
.compare-tray-content {
  background:#fff;
   position:relative;
   border-style: solid solid none;
   border-width: 3px 1px medium;
   box-shadow: 0 0 10px rgba(184, 184, 184, 0.55);
   border-color: #554D57 #b5b5b5;
   float:left;
//min-width:100%;
//   padding: 10px 7px;
}
.compare-tray-content ul {
    list-style: none;
    padding:0;
    margin: 0;
    float:left;
}
.compare-tray-content ul > li{
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    box-shadow: 1px 1px 3px #F3F3F3;
    color: #555;
    padding: 5px;
    margin-right:7px;
    text-align: center;
    //float:left;
    position: relative;
    min-width:110px;
    font-size:11px;
    min-height:61px;
}

.compare-tray-content img{clear:both; margin-bottom:10px; display:block; width:75px; height:31px;}
.compare-tray-content .plan-compare {border: 1px solid #d9d9d9;}
.compare-tray-content .emptyPlanText{height: 38px; padding: 18px 5px 5px; display:inline-block; font-style: italic;}
//.compare-tray-content .action-plan-wrap{float:right; }
.compare-tray-content .action-plan-wrap .btn{position:relative; margin-top:40px;}
.compare-tray-content .close-icon {
   font-size: 16px;
   color: #1A4549;
   position: absolute;
   z-index: 100;
   top: -8px;
   right: -6px;
   font-style: normal;
}

 /*-------------------------------------------------\
|                    Plan Details                    |
 \-------------------------------------------------*/

 .span8 {width: 76.4957% !important; margin-left: 17px !important;}
 @media (min-width: 320px) and (max-width: 400px) {
    #myPereferences .carousel-inner .span8 {
      width: 100% !important;
      margin-left: 0 !important;
    }
    #detailHead .span8 {
      width: 100% !important;
      margin-left: 0 !important;
    }
 }
 .row-fluid .span4 {margin-top: 5px; margin-left: 6px; width: 200px;}
 .span4 .tile {margin-bottom: 5px; width: 100%;}
 .benefits h5, .benefits h5 a {margin: 0; font-weight: bold !important;}
 .benefits p {
  margin: 10px 0;
 }
 .benefits small {font-size: 100%;} /*font size changed from 90% as per HIX-33664*/
 .unstyled  .btn {font-size: 12px;
/*font-family: "proxima-nova","Proxima Nova",'Raleway',Arial, sans-serif;
font-weight: 300;*/
margin: 10px 0 0 0 !important;
text-transform: uppercase;
padding: 4px 10px 2px;}

/* Added for HIX-45460 & HIX-44868 dated : 12/Aug/14 */
.unstyled .addToCart.select{color:#0092b3;}
  .unstyled .addToCart.select:hover{color:#5a5a5a;}
/* Added for HIX-45460 & HIX-44868 dated : 12/Aug/14 */

 .unstyled li {padding:3px 0;}
 .plan-benefit-details {text-align: center;}
 /*  .benefits.clearfix table td p, .benefits .span2, .benefits .span3 {text-align: center;} */

/* #sidebar h4, #sidebar .header, #sidebar .header h4, #sidebar .accordion-heading a, .header, .graydrkbg, .table th,
 #rightpanel .graydrkaction, #rightpanel .graylightaction, #rightpanel .header {background: none !important;}*/
 .true {
  background: #468847;
  display: inline-block;
  padding: 1px 3px;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  content:'In Plan';
  border-radius: 3px;
  float: right;
}

.true:before {content:'In Plan';}

.false {
  background: #9E9E9E;
  display: inline-block;
  padding: 1px 3px;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  float: right;
}
.false:before { content:'Not In Plan';}

.tier2 {
  background: #3a87ad;
  display: inline-block;
  padding: 1px 3px;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  float: right;
}
.tier2:before { content:'Tier 2'; }

 .keep, .shop, .review{ background: #f3f9f9; border: 3px solid #3895b6; padding: 0 0 10px 30px; margin: 0 7px 50px 0; position: relative;}
 .keep h4, .shop h4,.review  h4 {margin: 12px 0 6px;}

 .keep .active-arrow:before,
 .keep .active-arrow:after,
 .shop .active-arrow:before,
 .shop .active-arrow:after,
 .review .active-arrow:before,
 .review .active-arrow:after
 {
  content: "";
  position: absolute;
  z-index: 1000;
  border-top: 20px solid #f3f9f9;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 0;
  bottom: -17px;
  left: 120px;
}

 .keep .active-arrow:before,
 .shop .active-arrow:before,
 .review .active-arrow:before
{
  border-top: 20px solid #3895b6;
  bottom: -22px;
  left: 120px;
}

.tile .tile-header a.select {
  color: #fff !important;
}

 .has-deductible-Yes:before {
  content: "\f14a";
  font-family: "FontAwesome" !important;
  font-size: 19px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  margin: 0 auto;
  width: 19px;
  display: block;
}
 .has-deductible-No:before {
  content: "\f146";
  font-family: "FontAwesome" !important;
  font-size: 19px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  margin: 0 auto;
  width: 19px;
  display: block;
}

 i.GOOD:before {
  content: "\f111";
  font-family: "FontAwesome" !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  color:#4eaa45;
}
i.OK:before {
  content: "\f111";
  font-family: "FontAwesome" !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  color: #F3BD58;
}
i.POOR:before {
  content: "\f111";
  font-family: "FontAwesome" !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  color: #f0775f;
}
i.NA:before {
  content: "\f05e";
  font-family: "FontAwesome" !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  color: #777;

}
i.UNKNOWN:before {
  content: "\f059";
  font-family: "FontAwesome" !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  color: #F3BD58;
}
i.user-md:before {
  content: "\f0f0";
  font-family: "FontAwesome" !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  color: #0088CC;

}
i.hospital:before {
  content: "\f0f8";
  font-family: "FontAwesome" !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  color: #0088CC;

}
 #rightpanel a.btn.btn-small.addToCart.icon-shopping-cart:before, a#addCartLink.btn-primary.btn.icon-shopping-cart:before, a.icon-shopping-cart:before {
  content: "\f07a";
  font-family: "FontAwesome" !important;
  position: relative;
  font-style: normal;
  font-size: 15px;
  }
 // .benefits {font-size: 0.9em;}
 .benefits table th {padding-top: 10px;}
 .benefits #estimatedCostDetail {border-bottom: 1px solid #d3d3d3;}
 .benefits #providerSearchInfo .details i,
 #collapseDoctorsFacilities #providerNames i {margin-right: 5px}


 .mobile-show {
  display:none;
  }

.table {
  display:table;
  width:100%;
}
.detail-wrapper div.table {
    border-collapse: separate;
  border-spacing: 0 1em;

}
.table .row{
  margin-left: 0;
   display:table-row;
   width:100%;
}
 .cell {
  display:table-cell;
   text-align:left !important;
   padding: 10px;
  word-break: normal;
  vertical-align: middle;
}
.row-detail{
  display:table-row;
  width:100%;
}
.table .header {
    height: 55px !important;
}
 @media (max-width: 987px)  {
  .column-name {
    //display:block !important;
    font-weight:600;
    padding-left:10px;
   }
  .mobile-show {
  display:block;
  }
  .mobile-table .cell{
  text-align: initial !important;
  display:block;
  }
}
 /*-------------------------------------------------\
|                    Progress bar                    |
 \-------------------------------------------------*/

 #progressbarwrap {left: 0; position: fixed; width: 100%; /*top: 80px;*/ z-index: 1000; right: 0; background: #D6E4EB;}
 .progressbar {list-style-type: none; height: 30px; text-align: center;}
 .progressbar li {
  font: 18px/30px "proxima-nova","Proxima Nova",'Raleway',Arial, sans-serif;
  display: inline;
  line-height: 40px;
  font-size: 18px;
  padding: 9px 10px;
  color: #48a95e;
  position:relative;
}
 .progressbar li a {color: #4897A9;}
 .progressbar li:hover {color: #4897A9;}
 .progressbar li a:hover {color: #136177;}
 .progressbar li.active {background-color: #A2C2CE;}
 .progressbar li.active span.prog-caret {border-bottom: 10px solid #FFF;}
 .prog-caret {width: 0;  height: 0;  border-left: 10px solid transparent; border-right: 10px solid transparent; position: absolute; bottom: 0%;}

 .progressbar li.active:after {content: '\f0d8';
   font-family: FontAwesome;
   color:#fff;
  font-size: 33px;
  margin: 10px 0 0 0;
  position: absolute;
  text-decoration: none;
  right: 0;
  left: 0;
  bottom: -1px;
  line-height: 10px;

}


 #progressbarwrap + div {padding-top:30px;}

 .row-fluid .error-page {min-height: 400px; padding: 40px 0 325px !important; font-size: 30px; background: url('/hix/resources/img/error-service.png') no-repeat 0 65px;}
 .memberportallink {position: absolute; top: 570px; height: 90px; width: 235px; right: 0; }


 /*-------------------------------------------------\
|                   Showcart page                    |
 \-------------------------------------------------*/

 .alert-color {color:#FFDC00;}
/*  .individual-subtotal {background: #F2F2F2;} */
 td.txt-right .btn-small {background: #69B2F5; color: #FFF;}
 .individual-cart-total {
  background: #e7e7e7;
  //color: #3e3e3e !important;
  font-weight: bold;}
  table#summary_table td h4 {
  color: #3e3e3e !important;
  }
 .individual-cart-total h4 {padding-left: 10px;}
 .cart-total-title {
  padding: 0 5px !important;
 }
 .table tbody + tbody {border-top: 1px solid #eee; }
 .carttable {border: 1px solid #eee;}


 .ui-slider .ui-slider-handle,
 .ui-slider-horizontal .ui-slider-handle {height: 34px !important;}
 .modal-backdrop,
 .modal-backdrop.fade.in { opacity: 0.4; filter: alpha(opacity=40);}
 .carousel {
 	line-height: 20px;
 }
 .carousel, .carousel-inner .item { height: 400px;}
.showCartCarousel {overflow-y: auto;}
.showCartCarousel .carousel-inner .item{height:auto;}
.showCartCarousel .table td{vertical-align: top;}

 .carousel-control {top: 15% !important;}
 #myCarousel { margin:0; }

 #carousel-nav a {background: #ccc; border-radius: 20px; color: #000000; display: inline-block; margin: 5px 0; opacity: 0.5; padding: 7px 14px;}
 #carousel-nav a.active { background: #0088CC; color: #fff;}
 .header h3 {margin: 0;}
 .header h3 {line-height: 25px}
 .well-small .span3 {width: 24.404255%}
 .planimg {margin: 10px 0}
 
 #summary_table  {
   margin-bottom: 0 !important;
}

 #health_cart .header {padding: 10px 10px 0;}

 .table-border {border: 1px solid #DDD; border-collapse: separate; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
 .gutter5-r {padding-right: 5px !important}
 .gutter5-l {padding-left: 5px !important}
 .gutter10-l {padding-left: 10px !important}
 .gutter15-l {padding-left: 15px !important}
 .gutter15-r {padding-right: 15px !important}
 .gutter20-r {padding-right: 20px !important}
 .gutter23-l {padding-left: 23px !important}
 .gutter25-l {padding-left: 4% !important}
 .gutter25-r {padding-right: 25px !important;}
 .gutter0-r {padding-right: 0px !important}
 .val, #montax, #anntax  {font-size: 18px;}
 .input-mini {width: 75px}
 .container .row-fluid .span12 .span3 {width: 28.404%}
 .individual-subtotal .top-bottom-padding {width: 609px; padding-top: 10px !important; padding-bottom: 10px !important; }
 td.txt-left.gutter25-l {width: 130px}
 .gutter15-l {padding-left: 15px !important}

 .table-border .planimg {width: 117px}
 .ie10 .plan-actions a.btn-small {width: 90px !important;}
 table .carttable {margin-bottom: 0px !important;}
 .margin15-l {margin-left: 15px;}
 .min100 {min-width: 100px;}
 .table-border .change {float:right; margin-right: 15px;}

.health-cart, .dental-cart, #summary_table {
  font-size: 15px;
}

#show-cart table tbody tr.caption th{
 	padding: 10px 0 10px 7px;
 	text-align: left;
 	font-weight: bold;
}

#show-cart .table .coverage-start-date {text-align: right; padding-right: 20px !important;}
#show-cart .table tr td {font-size: 1em !important; border: none !important;}
#show-cart .table .plan-carrier {font-weight: bold;}
#summary_table h4 {
  padding-right: 0;
}

  #show-cart table tr th {padding-right:5px !important;}
  #show-cart table tbody td.form-actions {
    padding-bottom: 30px;
    padding-top: 15px;
}
  #show-cart table tbody .form-spacer {height: 55px; border-bottom: 1px solid #eee;}
 /*-------------------------------------------------\
|                 eSignature page                   |
 \-------------------------------------------------*/

 .agreement  {background: #F3F3F3;}
 #eSignature {border-bottom: 1px solid #bbb;}
 .esign {background: #f2f2f2;}
 .agree::-webkit-scrollbar {width: 10px; height: 10px;}
 .agree::-webkit-scrollbar-track {background: #fff;}
 .agree::-webkit-scrollbar-thumb {background: #E2E2E2;}
 .controls.span6 {border-bottom: 1px solid #e3e3e3; font-family: 'Damion', cursive; font-size: 26px; color: #666;}
 #formesign .header {background: #F3F3F3}
 #frmesign .control-group {padding: 10px;}
 .agreements.header {background: #EBEBEB !important; border-top: 10px solid #FFF; }
 .container #rightpanel table.totalTable {margin-bottom: 0 !important}
 .tblogo {width: 160px;}
/*  .table-border strong {font-weight: bold !important} */

 /*-------------------------------------------------\
|                    Renewal page                    |
 \-------------------------------------------------*/
 #shop-all-plans .row-fluid .span4 {width: 30.914893617021278% !important; margin-left: 2.127659574468085%;}
 .margin50-r {margin-right: 50px;}
 .gutter15-r {padding-right: 15px;}

 table.renewal td.span2  {width: 155px;}
 /*-------------------------------------------------\
|               Tobacco Usage page                   |
 \-------------------------------------------------*/

 input#tobacco.tobacco {float: none;}
 .span7.center {float: none !important; margin: 0 auto !important; }
 h1.offset190 {padding-left: 190px;}
 #tobaccoUsageForm h4 {border: 0 !important; margin: 0!important}
 #tobaccoUsageForm h4.txt-center {font-size: 20px; line-height: 30px;}
 .shopqhp_m {margin-top: 50px; border-top: 1px solid #E7E7E7; padding-top: 30px;}
 #tobaccoUsageForm table td {font-size: 16px;}


 a[rel~="tooltipp"] {color:#434951; cursor: default}
 div.row-fluid.offset3.span9 {border-bottom: 1px solid #E6EAEB;}
 form label.error span em.excl {margin: 0 5px 0 0; padding: 0 6px 0 2px;}



/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
.dk_container {
  background-color: #fdfdfd;
  width: auto;
  font-size: 12px;
 }
  .dk_container:focus {
    outline: 0; }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;}

.dk_toggle {
  border: 1px solid #F4F4F4;
  padding: 5px 10px 4px 10px;
  text-shadow: #FFF 1px 1px 0;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  position: relative;
  font-size: 14px;
  color: #707070;
}

  .dk_toggle:hover, .dk_toggle:focus {
    border-color: #e3e3e3;
    background: #F8F8F8}
  .dk_toggle:after {
    position: absolute;
    top: 45%;
    right: 10px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #bababa; }


.dk_open {z-index: 10; }
 .dk_open .dk_toggle {
    background-color: #f8f8f8;
    border-color: #e3e3e3;

 }

.dk_open_top .dk_toggle {
}
.dk_open_top .dk_options, .dk_open_top .dk_options_inner {
}

.dk_options {
  background: #fff;
  box-shadow: 0 2px 2px #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;

 }
  .dk_options a {
    color: #707070;
    border-bottom: 1px solid #F8F8F8;
    padding: 5px 10px;
    font-size: 12px;
    }
  .dk_options a:hover, .dk_options:focus,
  .dk_options .dk_option_current a {
  color: #646464;
  background: #FBFBFB;
   }
  .dk_options li:last-child a {
    border-bottom: none; }
  .dk_options .disabled {
    cursor: default; }
    .dk_options .disabled a {
      color: #aaa; }
    .dk_options .disabled:hover, .dk_options .disabled:hover a
    .dk_options .disabled:focus, .dk_options .disabled:focus a {
      cursor: default;
      background-color: #fff;
      border-bottom-color: #e3e3e3;
      text-shadow: none; }

.dk_options_inner {
  max-height: 250px;
  margin: 0;
}

.dk_container {
  display: none;
 }
  .dk_container a {
    outline: 0; }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1; }

.dk_open {
  position: relative; }
  .dk_open .dk_options {
    display: block; }
  .dk_open .dk_label {
    color: inherit; }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 99%; }
  .dk_options a, .dk_options a:link, .dk_options a:visited {
    display: block; }

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch; }

.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden; }

.dk_mobile {
  position: relative; }
  .dk_mobile select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

    .pagination ul > .active > a, .pagination ul > .active > span {color:#fff;}


 /*-------------------------------------------------\
|                     Dental Page                    |
 \-------------------------------------------------*/

.dental .cart {
  border-left:1px solid #DDD;
  border-right:1px solid #DDD;
  border-bottom:1px solid #DDD;
  border-top:none;
/*  background: #EFEFEF; */
/*  color: #666;  */
  font-size: 90%;
  margin-bottom: 50px;}
.dental .span8 { width: 74.4957% !important; margin-left: 0px !important; margin-right: 0px !important;}
.dental .span4  h3 {background: #FBFBFB;  margin: 0; padding: 10px;
text-align: center; border-top: 5px solid #48A95E;}
.row-fluid.dental .span4.cart {width: 225px !important; margin-right: 10px; margin-top: 30px;}
.dental .plan-name {text-transform: uppercase;}
/* .cart .plan-name, .dental-price {font-weight: bold;} */
.dental .change, .dental .remove-dental {float:left; margin: 8px 0 0 10px;}
.dental .no-dental {border: 1px dashed #dcdcdc; padding: 10px; background: #F9F9F9;}
.dental .totals, .dental .apply, .dental .price { border-top: 1px solid #E3E3E3;
background: #EAEAEA;}
.dental .totals h4 {font-size: 15.5px;}
.dental .price p {margin: 0; padding:10px;}
.container .dental .icon-circle {color:#DBDBDB;}
.container .dental .icon-user {color:#FE7D57 !important;}
.dental-header {border-bottom:1px solid #E6EAEB; text-align: center;
margin: 0 20px 10px; padding: 0 0 10px 0;}
.dental-header h1 {border: 0; padding:0;}
small#subHeading {color:#9d9d9d; text-align: center;}
small#subHeading2 {color:#9d9d9d; text-align: center;}
.dental .accordion-heading {padding:8px 0px 8px 9px;}
.plan-name.span4 {width: 185px !important; margin: 0;}
.row-fluid .plan-name {width:187px;  display: table-cell; vertical-align: middle;}
.checkups,
.fillings,
.deductible,
.monthly-price,
.add { text-align: center; display: table-cell; vertical-align: middle; line-height: 13px; font-size: 1em;}
.dental-plans .details {width: 53px;}
.details {
  text-align: left;
}
.checkups {width: 100px;}
.fillings {width: 120px;}
.deductible {width: 75px;}
.monthly-price {width:84px; }

.monthly-price {margin: 0; line-height: 15px; font-size:17.5px; /* font-weight: bold; */}
.monthly-price small {font-size:80%; display: block;}
.heading .monthly-price {font-size: 14px;}
.accordion-heading {background: #f7f7f7;}
.accordion-heading p, .more-details p {margin: 0px;}
.accordion-group {border-radius: 0px}
.heading {padding: 10px 0 10px 10px; /* font-weight: bold; */}

 .more-details { border-top: 1px solid #EFEFEF; clear: both; padding: 5px 0 0 0; font-size: 14px;}
.show-all-plans, .dental-added, .remove-dental {display: none;}
.dental-added {margin-bottom: 10px;}
.accordion-heading.added {background: #e8e8e8}
.price p { padding:10px;}
.price p.pull-right, .credit p.pull-right {font-weight: bold; font-size: 16px;}
.total {font-size: 16px; font-weight: bold; margin-top: 5px;}
.total a {font-weight: normal; font-size: 12px;}
.add a {width: 52px}



 /*-------------------------------------------------\
|               Tobacco Usage page                   |
 \-------------------------------------------------*/



 

/*======== loading page ===========*/
.planselection-loading {
  position: fixed;
  background-color: #F1F1F1;
  z-index: 3;
  border-top: 1px solid #e9e9e9;
  padding-top: 108px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: none;
}

.planselection-loading__add-plan-header {
  text-align: center;
  font-size: 1.5em;
  margin-top: 2em;
}

.planselection-loading__sub-description {
  text-align: center;
  margin-top: 3em;
}

.planselection-loading__loading-image {
  margin: 0 auto;
  display: block;
}

/* responsive design */

    @media  (min-width: 600px) and (max-width: 992px)    {
  .tile {
    width: 45%;
      margin-right: 4% !important;
    }

}

 @media (max-width: 599px) {
  .tile {
    width:96%;
    //margin:auto !important;
  }

}

.tile .tile-header .noStarsMessage a{
  line-height:15px;
  font-size:13px !important;
}
.bar {
  width: 14px;
  height: 6px;
  display:inline-block;
  margin:0 1px;
}
.full-bar {
   border-bottom:4px solid #ff6200;
}
.first-half-bar {
  border-bottom:4px solid #ff6200;
  width:7px;
  margin:0;
}
.second-half-bar {
  border-bottom:4px solid gray;
  width:7px;
  margin:0;
}
.empty-bar {
  border-bottom:4px solid gray;
}
.tile .tile-header .quality-rating-label {
  line-height:15px;
}
.icon-star, .icon-star-half-empty,  .icon-star-empty {
  color: rgb(255, 98, 0);
}
//responsive design for plan detail page
@media (max-width: 987px) {
  #tile {
    width:200px !important;
    margin: 0 auto !important;
    float:none !important;
  }
  .detail-wrapper {
    width:100% !important;
    margin: 0 auto !important;
    float:none !important;
  }
  .subheader {
    width:100% !important;
  }
  .xs-hide {
  display:none !important;
  }
  .xs-show {
  display:block;
  }
  .column-name {
    width:100% !important;
    //display:block !important;
  }
  .columns {
    width:45%;
    float:left;
    div {
    //border:1px solid black;
    }
  }
  .vertical-align {
    display:block !important;
    width:100% !important;
    min-height: 20px !important;
    margin: 0 !important;
    padding: 10px;
  }

}

#dk_container_sortBy{
	display: inline;
}


#enrollNow .span4{
	width: 31.91489362%;
}
