
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.monthly-status{
    font-size: 15px;
}

.page-header{
    color: forestgreen;
    text-align: center;
    margin: 0; !important;
    padding-bottom: 0; !important;
}

.charts{
    margin-top: 25px;
}

.top-chart{
    margin-top: 5px;
}

.top-chart-filters{
    margin-bottom: 15px;
}

.item-label {
    display: inline;
    padding: .2em .6em .3em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.table-header{
    background-color: royalblue;
    color: whitesmoke;
    font-family: sans-serif;
}


/*.ui-grid-header-cell-label {*/
    /*display:inline-block;*/
    /*white-space:initial;*/
/*}*/

.ui-grid-header-cell .ui-grid-cell-contents {
    height: auto !important;;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
    margin-right: 15px;
}

.ui-grid-top-panel {
    background: white;
    color: #666;
}

div.tooltip-inner {
    background-color: #555;
    color: #fff;
}

div.chart-tooltip {
    opacity: 0;
    position: fixed;
    text-align: left;
    padding: 5px;
    font: 10px sans-serif;
    background-color: white;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 1099;
}

.summary{
    margin-left: 10px;
}

.axis text {
    font: 10px sans-serif;
}

.no-margins {
    margin: 0 !important;
    text-align: left;
    color: rgba(62, 62, 62, 0.96);
    font-weight: 700;
    font-size: 17px;
    line-height: 5px;
}

.splitter {
    border-style: 1px solid;
    border-right: thick double #ff0000;
}

.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.font-awesome-color {
    color: #20ff9e;
}

/*.panel-body {*/
    /*padding: 10px;*/
/*}*/

.panel-header-bold {
    font-weight:bold;
    text-transform: uppercase;
}

.panel-header-space {
    margin-bottom: 0; !important;
}

.panel {
    margin-bottom: 5px;
}

.panel-heading {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*.panel-body {*/
    /*padding-bottom: 0px;*/
/*}*/

.form-group {
    margin-bottom: 2px;
}

.panel-title {
    font-size: 13px;
}

.header-tabs {
    text-align: center;
}

.header-not-selected {
    color: grey;
}

.header-selected {
    text-decoration: underline;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
    text-align: left;
    font-family: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #676a6c;
    font-size: 9px;
    line-height: 1.42857143;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
}

.panel{
    border-color: #dddddd;
}

.panel-info > .panel-heading{
color: #31708f;
background-color: white;
border-color: #dddddd;
}

.ui-grid {
    border:none;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    height: 48px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
    margin-right: 15px;
    font-size: 12px;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    border:none;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    border:none;
}

.ui-grid-pager-panel {
    position: absolute;
    left: -9px;
    bottom: -5px;
    font-size: 12px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 2px;
    box-sizing: content-box;
}

.noDataGrid {
    height: 5%;
    border: 1px solid rgb(212,212,212);
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: baseline;
    padding: 0 10px 0 6px;
}

.ui-grid-pager-control button {
    height: 25px;
}

.ui-grid-pager-control input {
    height: 13px;
}

.ui-grid-pager-row-count-picker select {
    height: 25px;
}

.ui-grid-cell-contents {
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    font-size: 11px;
    text-align: left;
}

.ui-grid-header-cell {
    position: relative;
    box-sizing: border-box;
    background-color: inherit;
    border-right: 1px solid;
    border-color: #d4d4d4;
    display: table-cell;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0;
    border-color: transparent;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #3b80c6;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.panel-margin-bottom {
    margin-bottom: 3px;
}

.right-border {
    padding-right:20px;
    border-right: 1px solid #ccc;
}

.policies-in-HIX{
    background-color: #386cb0;
}

.policies-Fully-Matched{
    background-color: #66c2a5;
}

.policies-with-Discrepancies{
    background-color: #e78ac3
}

.policies-with-Error{
    background-color: rgb(141, 160, 203);
}

.policies-missing-in-File{
    background-color: #fc8d62;
}

 .policies-missing-in-HIX{
    background-color: rgb(141, 160, 203);
}

.top-discrepancies {
    background-color: rgba(249, 0, 0, 0.63);
}

.panel-default > .panel-heading {
    color: inherit;
}

.color-desc {
    display: inline-block;
    width:12px;
    height:12px;
    border:1px solid;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 15px;
}


body {
    padding : 10px ;

}

/*#exTab1 .tab-content {*/
    /*color : white;*/
    /*background-color: #428bca;*/
    /*padding : 5px 15px;*/
/*}*/

/*#exTab2 h3 {*/
    /*color : white;*/
    /*background-color: #428bca;*/
    /*padding : 5px 15px;*/
/*}*/

/*!* remove border radius for the tab *!*/

/*#exTab1 .nav-pills > li > a {*/
    /*border-radius: 0;*/
/*}*/

/*!* change border radius for the tab , apply corners on top*!*/

/*#exTab3 .nav-pills > li > a {*/
    /*border-radius: 4px 4px 0 0 ;*/
/*}*/

/*#exTab3 .tab-content {*/
    /*color : white;*/
    /*background-color: #428bca;*/
    /*padding : 5px 15px;*/
/*}*/


/*.nav {*/
    /*background-color: white !important;*/
/*}*/

/*.nav>li>a {*/
    /*background-color: #bce8f1 !important;*/
    /*color: #3f9ae4;*/
/*}*/

/*.nav > li.active > a:focus{*/
    /*color: #555555;*/
    /*background-color: #919191;*/
/*}*/

.pichart-footer {
    background-color: #ffffff;
    text-align: left;
    font-family: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 10.5px;
    line-height: 1.42857143;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}

.ui-grid-cell a {
    font-size: 11px;
}

#container-wrap .container {
	min-height: 0;
}

.panel {
    padding: 15px;
    /*margin-bottom: 20px;*/
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    padding: 5px 10px;
    margin: -15px -15px 15px;
    font-size: 17.5px;
    font-weight: 500;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-footer {
    padding: 10px 15px;
    margin: 15px -15px -15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-primary {
    border-color: #428bca;
}

.panel-primary .panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-warning {
    border-color: #fbeed5;
}

.panel-warning .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.panel-danger {
    border-color: #eed3d7;
}

.panel-danger .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.panel-info {
    border-color: #f5f1f4;
}

.panel-info .panel-heading {
    color: #3f9ae4;
    background-color: #ffffff;
    border-color: #bce8f1;
}


.panel-default {
    border-color: #ddd;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

/*.ui-grid-header-cell .ui-grid-cell-contents{*/
    /*text-align:center;*/
/*}*/


#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.fieldDiscrepancy{
    color: red;
}

.fieldRegular{
    color: #5A5A5A;
}


.ui-grid-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.ui-grid-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


.ui-grid-vcenter {
    text-align:center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.ui-grid-viewport .ui-grid-cell-contents {
    word-wrap: break-word;
    white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
    height: 30px;
}

.ui-grid-row div[role=row] {
    display: flex ;
    align-content: stretch;
}


.gridStyle {
    border: 1px solid rgb(212,212,212);
}


#discrepancyCommentModal .overrideTextarea {
    height: 100px;
    width: 96%;
}


.form-group-border{
    border-bottom:1px solid #ddd;
    padding-bottom: 15px;
}

.ui-grid-header-cell{
    font-size: 11px;
}

.grid {
    line-height: 15px;
}

@-moz-document url-prefix() {
    .grid {
        line-height: 15px;
        min-height: 330px;
    }
}

#collapseVisualSnapshot input[type="text"] {
     border: 1px solid #ffffff;
     background-color: white;
    cursor: text;
 }

#collapseVisualSnapshot textarea {
    border: 1px solid #ffffff;
    background-color: white;
}

.full-height {
    height: 100%;
}

.enrollment-label{
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

#collapseVisualSnapshot.control-label{
    text-align: left;
}

.data-not-available {
    color: #444;
    text-shadow:
            1px 0px 1px #ccc, 0px 1px 1px #eee,
            2px 1px 1px #ccc, 1px 2px 1px #eee,
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
    font-size:14px;
    word-spacing: 9999999px;
    text-align: center;
    margin: 25%;
}

.no-results-found {
    color: #444;
    text-shadow:
            1px 0px 1px #ccc, 0px 1px 1px #eee,
            2px 1px 1px #ccc, 1px 2px 1px #eee,
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
    font-size:14px;
    /*word-spacing: 9999999px;*/
    text-align: left;
}

#collapseVisualSnapshot span[title]:hover:after {
    content: attr(title)
    padding: 4px 8px;
    color: red;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.ui-grid-pager-count {
    visibility: hidden;
}

.statusLabelRecon{
	float : left;
}

.openBg {
  /* background-color: #ffb732; */
  background-color:#FFD2C4;
  text-align: center;
  width:25px;
  display: inline-table;
}

.holdBg {
  /* background-color: #e0e0e0; */
  background-color: #F1F7B9;
  text-align: center;
  width:25px;
  margin-left: 3px;
  display: inline-table;
}

.resolvedBg {
 /*  background-color: #ffff32; */
  background-color: #B4EDAD;
  text-align: center;
  width:25px;
  margin-left: 3px;
  display: inline-table;
}

.autofixedBg {
  /* background-color : #3232ff; */
  background-color : #ADEDD8;
  text-align: center;
  width:25px;
  margin-left: 3px;
  display: inline-table;
}