<!-- ADDRESS HEADER STARTS -->
<!--  <tr>
	<td>
		MNsure Operations<br>
		PO Box 64253<br>
		St. Paul, MN 55164-0253<br>
	</td>
</tr>-->

<tr class="row1">
	<td style="padding-left: 0px;">*</td>

	<td style="padding-left: 23px;">${todaysDate}</td>
	<td scope="col" width="33%"></td>
	<td style="font-family: Arial, Helvetica, sans-serif;">
		${fullName}
	</td>
</tr>
<tr>  
	<td></td>
	<!--<td style="font-family: Arial, Helvetica, sans-serif; padding-left: 23px; ">Enrollment Account:
			</td>-->
	<td style="margin-left: 26px;"></td>		
	<td scope="col" width="33%"></td> 
	<td style="font-family: Arial, Helvetica, sans-serif; ">
		${addressLine1} ${addressLine2}
	</td>
</tr>
<tr>
	<td></td>
	<td style="margin-left: 26px;"></td>
	<td scope="col" width="33%"></td>
	<td style="font-family: Arial, Helvetica, sans-serif; ">
		${cityName}, ${stateCode} ${pinCode} 
	</td>
</tr>
<!-- ADDRESS HEADER ENDS -->