<!-- EMAIL HEADER STARTS -->	
	<td width="100%" style="font-family: Arial, Helvetica, sans-serif; padding-left:36px;">
				MNsure Operations<br>
				PO Box 64253<br>
				St. Paul, MN 55164-0253<br>
	</td>					
	<td scope="col" width="55%"></td>
	<td class="header"  valign="top" height="70" class="logo" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0"><img src="${host}resources/img/mnsure-primary-logo-black-tag-nosafezone.jpg" alt="MNSure" width="120" height="80" border="0"></td>

<!-- EMAIL HEADER ENDS -->	