<!-- EMAIL FOOTER STARTS -->						
						<tr>
							<td>								
								<table class="emailFooterWrapper" width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
									<tr>
							 			<td scope="col" width="25" height="60" bgcolor="#dedbd1" class="spacer" border="0" cellspacing="0" cellpadding="0"></td>
										<td valign="middle" height="60" class="contactInfo" bgcolor="#dedbd1" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; color: #5a5a65;">
											&copy; ${footerYear!"2018"} MNSure
											<br>
											<a href="https://www.mnsure.org/resources/terms-conditions.jsp" style="color:#5e8aba; text-decoration: none;" target="_blank">Privacy Policy</a>
										</td>
										<td valign="middle" height="60" class="contactInfo" bgcolor="#dedbd1" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; text-align:right; color: #5a5a65;">
										</td>
										<td scope="col" width="25" height="60" class="spacer" bgcolor="#dedbd1" border="0" cellspacing="0" cellpadding="0"></td>
									</tr>
								</table>							
							</td>
						</tr>
<!-- EMAIL FOOTER ENDS -->	