  <tfoot>
  	<tr>
       <td bgcolor="#d5d5d5" style="padding: 1px 1px 1px 1px;" ></td>
    </tr>
    <tr>          
        <td bgcolor="#48a95e" style="padding: 20px 0 20px 30px; ">
          <table border="0" cellpadding="0" cellspacing="0" width="500" role="presentation">
            <tr>
              <td style="vertical-align:top;">
                <img src="${host}resources/images/email-gi-logo-gbg.gif" alt="GetInsured" width="144" height="46" style="display: block;" />
              </td>
              <td valign="top" width="500" style="vertical-align:top;padding:20px 0 20px 10px;color:#ffffff;font-family:Georgia,Times,serif;font-size:14.5px;font-style:italic">
                <table width="400" border="0" role="presentation">
                  <tr>
                    <th colspan="4" scope="col">Stay connected to the latest information on health insurance!</th>
                  </tr>
                  <tr>
                    <td width="13" valign="middle">&nbsp;</td>
                    <td width="9" valign="middle">&bull;</td>
                    <td width="90">Follow us on</td>
                    <td width="287"><a href="https://www.facebook.com/GetInsured" style="color: #ffffff; text-decoration: none;"><img src="${host}resources/images/email-facebook.gif" alt="Facebook" width="16" height="16" style="display: block;" /></a></td>
                  </tr>
    
                  <tr>
                    <td width="13" valign="middle">&nbsp;</td>
                    <td width="9" valign="middle">&bull;</td>
                    <td colspan="2">Learn more about <a href="#" style="color: #ffffff; text-decoration: none; border-bottom: 1px solid #ffffff">health insurance in your state</a></td>
                  </tr>
                  <tr>
                    <td width="13" valign="middle">&nbsp;</td>
                    <td width="9" valign="middle">&bull;</td>
                    <td colspan="2">Get more information on the <a href="http://www.hhs.gov/opa/affordable-care-act/index.html" target="_blank" style="color: #ffffff; text-decoration: none; border-bottom: 1px solid #ffffff" title="Link open in new window or tab">Affordable Care Act</a></td>
                  </tr>
                </table>
              </td>               
           </tr>            
          </table>
          <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td valign="top" style="vertical-align: top; padding: 20px 10px 20px 0; color: #ffffff; font-family: Georgia,Times,serif; font-size: 12px; font-style: italic">
                ©2018 GetInsured, 2595 East Bayshore Road, Suite 250, Palo Alto, CA 94303. All Rights Reserved.
              </td>
            </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" style="color:#ffffff;font-family:Georgia,Times,serif;font-size:12px;" role="presentation"> 
              <tr>
                  <td width="348" valign="top"></td>
                  <td width="100"><a href="http://www.getinsured.com/health-coverage/privacy-policy" style="color: #ffffff; text-decoration: none; border-bottom: 1px solid #ffffff">Privacy Policy</a></td>
                  <td width="145"><a href="http://www.getinsured.com/health-coverage/legal-and-licensing" style="color: #ffffff; text-decoration: none; border-bottom: 1px solid #ffffff">Legal and Licensing</a></td>
              </tr>
          </table>
        </td>
      </tr>
  </tfoot>
