<div id="privacy" >
    <p style="text-align:center;">
        <b>Notice of Privacy Practices</b><br />
        <b>EFFECTIVE AUGUST 30, 2017</b><br />
    </p>
    <br>
	
(i) MNSure is committed to maintaining the privacy and security of personally identifiable information; (ii) MNSure will use personally identifiable information only as permitted by MNSure&#39;s policies or required by law; and (iii) further information regarding MNSure&#39;s privacy and security practices and your rights regarding personally identifiable information is available on MNSure&#39;s Web site at https://www.mnsure.org/resources/terms-conditions.jsp
	
	<br>
</div>