<div class="card drug-wrapper" [@abc]>
    <div class="card-header">
        {{drug.drugDosage | titlecase}}
        <button 
        	(click)="destroy(drug); $event.stopPropagation()" 
        	role="button"
        	[attr.aria-label]="'Remove '+ drug.drugDosage + ' ' + (drug.genericName === undefined? '' : drug.genericName + '(Generic Name)')">
            <i class="fa fa-times danger"></i>
        </button>
    </div>

    <div class="card-block" *ngIf="drug.genericName as genericName">
        <div class="genericName col-12" *ngIf="drug.genericRxCode !==undefined">{{genericName | titlecase}} ({{"DRUG_CARD.generic_name" | translate}})</div>
    </div>

</div>