// ########################################################################################################
// #
// #
// #
// #          GOOGLE MAP VIEW
// #
// #
// #
// #########################################################################################################

@MM: ~"only screen and (min-width: 700px) and (max-width: 900px)";
@ML: ~"only screen and (min-width: 900px) and (max-width: 1400px) and (orientation: landscape)"; // ~ 13 inch mac air screen
@ML-V: ~"only screen and (min-width: 900px) and (max-width: 1400px) and (orientation: portrait)"; // ~ 13 inch mac air screen rotated and ipad vertical


.provider-map {
  padding: 0;
  .provider-map__sidebar {
    width: 295px;
    display: inline-block;
    @media @ML-V {
      width: 100%;
    }
  }
  .provider-map__map {
    vertical-align: top;
    display: inline-block;
  }
}
.google-map {
  min-width: 550px;
  @media @ML{
    min-width: 350px;
  }
  @media @ML-V {
    min-width: 576px;
    margin: 10px;
  }
}

.doctor-sb {
  overflow-y: scroll;
  height: 660px;

}

.infowindow {
  p {
    margin: 0;
  }

}

#google-map-canvas {
  border-left: 1px solid grey;
  height: 700px;
  @media @ML{
    height: 650px;
  }
  @media @ML-V {
    height: 400px;
  }
}

.doctor-sb__doctor {
  padding: 4px 10px;
  border-bottom: 1px solid green;
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }
  .doctor-sb__detail__p {
    margin: 0;
  }
  .doctor-sb__index {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
  }
  .doctor-sb__detail {
    display: inline-block;
  }
}

// map-modal
.map-modal__header {
  padding: 0 10px 0 10px;
}

.map-modal__title {
  text-align: left;
  margin-top: 15px;
}

.provider-pagination {
  .provider-pagination__links {
    list-style: none;
    margin: 0;
    padding: 3px;
    li {
      list-style-type: none;
      display: inline;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    .provider-pagination__option {
      display: inline-block;
      min-width: 15px;
      margin: 0;
      padding: 2px 3px;
      border: 1px solid transparent;
      text-align: center;
      background: none;
      cursor: pointer;
      box-sizing: content-box;
      color: #3b65a7;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        border-color: #cbd6e7;
        background: #f0f3f8;
      }
    }
    .current {
      font-weight: bold;
      color: #333;
      border-color: #e5e5e1;
      background: #C1C1C1;
      cursor: auto;
    }
  }
  .provider-pagination__arrow {
    cursor: pointer;
  }
}
