<!-- EMAIL HEADER STARTS -->
						<br/><br/>
						
						<tr>
							<td>
								<table  width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
									<tr>
										<td>${fullName}</td>
									</tr>
							 		<tr>
							 			<td>${addressLine1} ${addressLine2}</td>
									</tr>
									<tr>
							 			<td>${cityName}, ${stateCode} ${pinCode} </td>
									</tr>
								</table>
							</td>
						</tr>
<!-- EMAIL HEADER ENDS -->
