<!-- EMAIL HEADER STARTS -->						
						<tr>
							<td>								
								<table class="emailHeaderWrapper" width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td scope="col" width="25" class="spacer" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-bottom: 1px solid #dc8631;"></td>
										<td height="60" valign="middle" class="logo" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #dc8631;">
											<img src="${host}resources/img/logo_nv.png" alt="${exchangeName}" width="94" height="40" border="0">
										</td>
										<#if barcode??>
											<td scope="col" valign="top" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-bottom: 1px solid #dc8631; font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 12px; text-align:right; color: #5a5a65; padding-top: 6px;">
												${barcode}
											</td>
										</#if>
										<td scope="col" width="25" class="spacer" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-bottom: 1px solid #dc8631;"></td>
									</tr>
									<tr>
										<td colspan="4" bgcolor="#ffffff" height="5" border="0" cellspacing="0" cellpadding="0"></td>
									</tr>
							 		<tr>
							 			<td scope="col" width="25" height="24" bgcolor="#ffffff" class="spacer" border="0" cellspacing="0" cellpadding="0"></td>
										<td valign="top" height="24" class="contactInfo" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px;">
											
										</td>
										<td valign="top" height="24" class="contactInfo" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 12px; text-align:right; color: #5a5a65;">
											<br>
										</td>
										<td scope="col" width="25" height="24" class="spacer" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0"></td>
									</tr>
								</table>
							</td>
						</tr>
<!-- EMAIL HEADER ENDS -->	
