<!-- EMAIL FOOTER STARTS -->						
						<tr>
							<td>
								<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td scope="col" width="25" height="60" class="spacer" border="0" cellspacing="0" cellpadding="0"></td>
										<td colspan="3" valign="middle" height="60" class="contactInfo" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; color: #5a5a65;">
											Reference number: ${noticeUniqueId}
										</td>
									</tr>
								</table>
								<table class="emailFooterWrapper" width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td scope="col" width="25" height="60" bgcolor="#dedbd1" class="spacer" border="0" cellspacing="0" cellpadding="0"></td>
										<td valign="middle" height="60" class="contactInfo" bgcolor="#dedbd1" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; color: #5a5a65;">
										&copy; ${footerYear!"2019"} ${exchangeName}
										<br>
										${privacy_statement}
										</td>
										<td valign="middle" height="60" class="contactInfo" bgcolor="#dedbd1" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; text-align:right; color: #5a5a65;">
										</td>
										<td scope="col" width="25" height="60" class="spacer" bgcolor="#dedbd1" border="0" cellspacing="0" cellpadding="0"></td>
									</tr>
								</table>
							</td>
						</tr>
<!-- EMAIL FOOTER ENDS -->	
