<!-- EMAIL FOOTER STARTS -->
<tfoot>						
	<tr>
		<td>								
			<table class="emailFooterWrapper" width="600"  border="0" cellspacing="0" cellpadding="0">
				<tr>
		 			<td scope="col" width="25" height="60" bgcolor="#ffffff" class="spacer" border="0" cellspacing="0" cellpadding="0" style="border-top:1px solid #d97b00;"></td>
					<td valign="middle" height="60" class="contactInfo" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; color: #5a5a65; border-top:1px solid #d97b00;">
						&copy; ${footerYear!"2018"} ${exchangeName}
					</td>
					<td valign="middle" height="60" class="contactInfo" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; text-align:right; color: #5a5a65; border-top:1px solid #d97b00;">
						<a href="${privacyUrlEsp}" style="color:#5e8aba; text-decoration: none;" target="_blank">Politica de privacidad</a>
					</td>
					<td scope="col" width="25" height="60" class="spacer" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="border-top:1px solid #d97b00;"></td>
				</tr>
			</table>							
		</td>
	</tr>	
</tfoot>
<!-- EMAIL FOOTER ENDS -->
