@charset "UTF-8";
/* CSS Document */


    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */
	
	* {
		margin: 0;	
	}
	
	html, body {
      color: #666;
	  height: 100%;
    }
	
	.wrap {
		margin-right: auto;
	  	margin-left: auto;
		width: 960px;	
	}
	
	.container {
	  margin-right: auto;
	  margin-left: auto;
	  *zoom: 1;
	  background-color: rgb(250, 250, 250);
	 /* padding-bottom: 20px;*/
	  border: 1px solid rgb(224, 224, 224);
	  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.1);
	  -moz-box-shadow: 0 2px 8px rgba(0,0,0,.1);
	  box-shadow: 0 2px 8px rgba(0,0,0,.1);
	}
	
	.wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -10em;
	}
	
	.footer, .push {
		height: 10em;
	}
	
	.footer {
		color: #999;	
		font-size: 13px;
		font-weight: bold;
		background-color: rgb(63,63,63);
		margin-top:-140px;
		padding: 20px 0 0 0;
		height: 140px;
		clear: both;
		margin: 0 auto;
		width: 100%;
		bottom: 0;
	}
	
	.footer a {
		color: #fff;
		font-weight: normal;
		font-size: 11px;
		text-decoration: none;
	}
	
	.footer a:hover {
		color: #CCC;	
	}
	
	.footer ul {
		list-style: none;
	}

	
	.footerContainer {
		margin-right: auto;
		margin-left: auto;
		width: 960px;
		background: transparent;
		/*border-top: 1px solid #CCC;*/
		padding-top: 30px;
	}
	
	.row-fluid {
		padding-top: 10px;	
	}
	
	img .border {
		border: 3px solid #fff;	
	}
	
	h3 a {
		color: 	rgb(24, 111, 223);
		/*text-decoration: underline;*/
	}
	
	h3 a:hover {
		color: 	rgb(71,71,71);
		text-decoration: underline;
	}
	
	
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
	
	.navContainer {
	  margin-right: auto;
	  margin-left: auto;
	  *zoom: 1;
	  width: 960px;
	}
	
    .navbar-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 0px;
	  background: rgb(50, 109, 185);
	  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.32);
	  -moz-box-shadow: 0 2px 8px rgba(0,0,0,.32);
	  box-shadow: 0 2px 8px rgba(0,0,0,.32);
     /* margin-bottom: -90px; *//* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
	  /*border-bottom: 5px rgb(22, 71, 75) solid;*/
    }
    .navbar .navbar-inverse {
		margin-left: auto;
		margin-right: auto;
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
/*      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);*/
    }

    /* Downsize the brand/project name a bit */
    .brand {
      padding: 15px 25px 25px 15px; 
	  margin-top: 0px;
	  margin-left: 0px;
	  background-repeat: no-repeat;
	  position: fixed;
	  background: #fff;
	  color: #fff;
	  top: 0%;
	  z-index: 100;
	  border: solid #F9F9F9 1px;
	  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
      -moz-box-shadow: 0 2px 10px rgba(0,0,0,.15);
      box-shadow: 0 2px 10px rgba(0,0,0,.15);
    }
	
	
	/*.navbar .brand {
	  display: block;
	  float: left;
	  padding: 20px 100px 40px;
	  margin-left: -20px;
	  font-size: 16px;
	  font-weight: bold;
	  color: #777777;
	  text-shadow: 0 1px 0 #ffffff;
	  margin-top: 10px;
	  background-image: url(../assets/images/getinsured_logo.png);
	  background-repeat: no-repeat;
	}*/


    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
	
	#myCarousel h1 {
		color: rgb(71, 71, 71);
		font-weight: normal;
		font-size: 42px;
		font-family: "Rokkitt";
		font-weight: bold;
		line-height: 43px;
		/*text-shadow: 2px 2px rgb(52, 64, 82);*/
		max-width: 450px;
		text-shadow: 2px 2px #fff;

	}
	
    .carousel {
      margin-bottom: 0px;
	  margin-top: 30px;
    }

    .carouselContainer {
      position: relative;
      z-index: 9;
	  
    }

    .carousel-control {
      height: 50px;
	  width: 50px;
/*      margin-top: 0;
*/      font-size: 20px;
	  text-align: center;
/*      text-shadow: 0 1px 1px rgba(0,0,0,.4);
*/      background-color: rgba(0,0,0, .4);
      z-index: 10;
	  background: #222222;
 	  border: 3px solid #666;
/* 	  -webkit-border-radius: 50px 50px 50px 50px;
      -moz-border-radius: 50px 50px 50px 50px;
      border-radius: 50px 50px 50px 50px;*/
  	  opacity: 0.5;
  	  filter: alpha(opacity=50);
    }

    .carousel .item {
      height: 435px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 435px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      margin-top: -20px;
	  position: absolute; 
	  color: rgb(71, 71, 71);
	  top: 100px; 
	  margin-left: 0px;
	  padding: 0 50px;
    }


    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
	   left: 0; 
	   width: 100%; 
	   font-weight: normal;
/*      text-shadow: 0 1px 1px rgba(0,0,0,.4);
*/    }

    .carousel-caption .btn {
      margin-top: 20px;
	  text-decoration: none;
    }
	.carousel-caption .btn:hover {
	  text-decoration: none;
	  color: #fff;
    }
	
	.carousel-caption a:hover, a:focus {
		color: #333;
		text-decoration: underline;	
	}
	
	.carousel-caption p small a:link {
		color: rgb(31, 133, 230);
		text-decoration: underline;	
	}


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: 0px 0;
      }
	  
	  .carousel {
		margin-top: -30px;  
	  }

      .carousel .item {
        height: 435px;
      }
      .carousel img {
        width: auto;
        height: 80%;
		margin-top:60px;
		margin-left:30px;
      }
	  
	  .wrap {
		width: 724px;  
	  }
	  
	  .carousel-caption {
		margin-left: -40px;
		margin-top: 40px;
	  }
	  
	  .footerContainer {
		width: 850px;o  
	  }

    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
		z-index: 5;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }


    }
    
	/* Custom Classes
    -------------------------------------------------- */
	

	.top {
		margin-top: 80px;
	}

	
	.fullBg {
		/*padding: 25px 25px 25px 25px;	*/
	/*	background: #fff;
		-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.32);
		-moz-box-shadow: 0 2px 8px rgba(0,0,0,.32);
		box-shadow: 0 2px 8px rgba(0,0,0,.32);*/
		margin-top:30px;
		padding-bottom: 30px;
	}
	
	.fullBgGradient {
		background: #ffffff; /* Old browsers */
		-moz-linear-gradient: (top,  #ffffff 1%, #ffffff 43%, #f2f2f2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(43%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 43%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 1%,#ffffff 43%,#f2f2f2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 1%,#ffffff 43%,#f2f2f2 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 43%,#f2f2f2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

	}
	
	.fullBgLight {
		background-image: url(../images/background-sliver.png);
		background-image: url(../images/background-sliver.png);
x		background-size: auto;
		}

	.fullBgLightLight {
		background-color: #fff; 
	}
	
	.fullBgMed {
		background-color: #fff; 
		color:#FFF;
	}
	
	.fullBgMedLight {
		background-color: #fff; 
	}
	
	
	.box {
		padding: 10px 30px 30px 30px;
		vertical-align: top;
		color: #666;
	}
	
	.box img {
		float: left;
		padding-right: 20px;	
	}
	
	
	.box p {
		max-width: 280px;
	}
	
	.box .btn-mini {
		background: none;
		color: #333;
	}
	
	.box .btn-mini:hover {
		background: none;
		color: #FFF;
	}
	
	.boxFoot {
		background-color: rgb(50, 109, 185)	;
		padding: 20px;
		color: #fff;
	}
	
	.seperator {
		border-left: 1px #999999 dotted;
		height: 100%;
		padding-left: 20px;	
	}
	
	.gutter10 {
		padding: 10px 0 10px;
	}
	
	.gutter25 {
		padding: 25px;	
	}


	.sideCallOut {
		position: fixed;
		right: -44px;
		color: #fff;
		top: 30%;
		z-index: 100;
		font-size: 10px;
		
		-webkit-transform: rotate(-90deg);/* Safari */
		-moz-transform: rotate(-90deg);/* Firefox */
		-ms-transform: rotate(-90deg);/* IE */
		-o-transform: rotate(-90deg);/* Opera */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);/* Internet Explorer */
		
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	  	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	  	box-shadow: 0 2px 5px rgba(0,0,0,.2);
		
		background-color: rgb(24, 111, 223);
	}
	
	.sideCallOut .btn {
		text-decoration: none;
		padding: 10px;
	}
	
	.sideCallOut .btn:hover {
	}
	
	.logos{
		list-style-type: none;	
		margin:0 auto;
 		float:none;
		align: middle;
		min-height: 10em;
    	display: table-cell;
    	padding: 0 20px 0 20px;
	}
	
	hr .divider {
		width: 100%;
		border-top:	1px solid #CCC;
	}
	
	blockquote {
		text-indent: -0.5em;
		margin-left: 0px;	
/*		border-left: none;
*/	}
	
	.arrow {
		/*height: 0px;
		border-bottom: 100px solid transparent;
		border-left: 20px solid #999;
		border-top: 100px solid transparent;
		position:relative;*/
	/*	background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		background-position: right;*/
	}
	
	.shadow {
		background-color: #FFF;
		-webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.39);
	  	-moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.39);
	  	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.39);
		
		padding-bottom: 0px;
		padding-top: 10px;
	}
	
	h2 small {
		font-family: Droid Sans, Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	
	.border {
		border-bottom: solid 1px #CCC; 
		padding-bottom: 10px;	
	}
	
	.noBorder {
		padding-bottom: 10px;
		border: none;
	}
	
	.box #arrow {
		padding-right: none;
		margin-top: 30px;	
	}
	
	.footColor {
		background-color: rgb(50,109,185);
		color: #fff;
		font-weight: bold;
		font-size:15px;
	}
	
	.head {
		background-color: rgb(50,109,185);
		color: #fff;
		font-weight: bold;
		font-size:22px;
		font-family: "Rokkitt";
	}
	
	.head p {
		margin: 0 0 0 20px;
		padding: 15px;	
	}
	
	.head p a {
		color: #fff;
		/*border-bottom: 1px solid #fff;*/
	}
	
	.head p a:hover {
		color: #CCC;
		/*border-bottom: 1px solid #ccc;*/	
	}
	
	.footColor p {
		/*margin: 20px 0 0 0;	*/
		padding: 5px 0 5px 30px;
	}
	
	.footColor .btn {
		/*background-color: rgb(30, 82, 148);*/
		color: #fff;	
		font-size:18px;
		/*margin-left: 15px;*/
	}
	
	.footColor .btn:hover {
		/*background-color: rgb(6, 53, 112);*/
		color: #fff;		
	}
	
	.lightBg {
		background-color: rgb(231,231,231);	
	}
	
	.lightBg ul {
		list-style: none;
		margin: 0 0 10px 0;
	}
	
	.listLinks {
		list-style: none;
		margin-left: 2.564102564102564%;
	}
	
	.listLinks li {
		margin-bottom: 8px;
	}	
	
	.listLinks li a {
	}
	
	.listLinks li a:hover {
		font-weight: normal;
	}
	
	.listLinks li .active {
		color: rgb(50, 109, 185);	
		font-weight: bold;
	}
	
	.listLinks li .active:hover {
		font-weight:bold;	
	}
	
	.listLinks .btn {
		background-color: rgb(30,82,148);
		color: #fff;	
		font-weight: bold;
	}
	
	.listLinks li.btn:hover {
		background-color: rgb(6,53, 112);
		font-weight: bold;
	}
	
	.img-left-padding {
		padding: 0 0 5px 25px;	
	}
	
	.borderBottom {
		border-bottom: 1px rgb(238, 238, 238) solid;
		padding-bottom: 25px;
	}
	
	ul .pull-left {
		padding-right: 6px;	
	}
	
	#calculator {
		background-image:url(../images/Eligibility_Calc_Timeline.png);
		background-color: rgb(50,109,185);	
		background-repeat: no-repeat;
		padding-top: 110px;
		font-family: "Rokkitt";
		font-size: 16px;
		margin: 0;
		background-position: 10%;
	}
	
	#calculator li {
		list-style: none;
		float: left;
	}
	
	#calList1 {
		padding-left: 65px;
		max-width: 100px;	
		
	}
	
	#calList2 {
		padding-left: 35px;
		max-width: 100px;	
	}
	
	#startNow {
		font-weight: bold;
		margin-top: -47px;
		margin-left: -11px;	
	}
	
	.bottom25 {
		padding-bottom: 25px;	
	}
	
	.textWrapLeft {
		float: left;
		margin: 10px;
	}
	
	.textWrapRight {
		margin: 0 20px 20px 20px;
		float: right;	
	}
	
	.sideBar {
		padding-top: 0;
		margin-bottom: 15px;	
	}