.doctor-template {
    // width: 28vw;
    padding:7px 0 3px 0;
    >h4 {
        color: grey;
        margin-bottom: 0px;
    }
    .docName {
        font-size:14px;
    }

    .docDetail {
        font-size:12px;
    }
}

.alert {
    margin-top:15px;
    float:left;

    p{
        margin-bottom:0px;
    }
}


.error{
    color:#a94442;
    font-size: 1rem;
}
