<ng-template #customItemTemplate let-model="item">
    <div class="doctor-template" role="status" aria-label="{{model.name}}" aria-live="assertive">
        <div class="docName">{{model.name}}</div>
        <div class="docDetail">{{model.specialty}} at {{model.providerAddress[0].addline1}} in {{model.providerAddress[0].city}},{{model.providerAddress[0].state}}</div>
    </div>
</ng-template>
<ng-template #docListTemplate let-r="result" let-t="term">
        <div class="doctor-template" aria-label="{{r.name}}" aria-live="assertive">
            <div class="docName">{{r.name}}</div>
            <div class="docDetail">
            	{{r.specialty}} at
            	{{r.providerAddress[0].addline1}} {{r.providerAddress[0].addLine2}} in
            	{{r.providerAddress[0].city}}, {{r.providerAddress[0].state}}
            </div>
        </div>
    </ng-template>
<input
    [attr.aria-label]="typeStr"
    id="provider-search-field"
    [(ngModel)]="provider"
    [ngbTypeahead]="search"
    [resultTemplate]="docListTemplate"
    type="text"
    class="form-control gtm_provider_search"
    (selectItem)="onSelect($event)"
    (focus)="focusEvent()"
    (blur)="blurEvent()"
    placeholder="{{'DOC_SEARCH_TYPEAHED.placeholder' |translate}}"
    [inputFormatter]="formatter"
    [disabled]="invalidZip"
    (ngModelChange)="onProviderChange()"
    #ngbTypeahead="ngbTypeahead"
    #docInput/>

<div  *ngIf="searching">
    <i class="fa fa-spinner fa-spin fa-fw"></i>
</div>

<p
	id="provider-search-alert"
	aria-live="polite"
	class="alert alert-danger"
	*ngIf="over5 && inFocus"
	[innerText]="'DOC_SEARCH_TYPEAHED.error.add_over_5' | translate">
</p>

<p
	id="provider-search-alert"
	*ngIf="searchFailed"
	class="alert alert-danger"
	aria-live="polite"
	tabindex="0"
	[innerText]="'DOC_SEARCH_TYPEAHED.error.no_result' |translate">

</p>


