.form-control {
	color:#555555
}
.largeText {
	font-size:130%
}
h5 {
color: #337ab7;
}
body {
	background-color:#efefef;
	font-size:12px
}
.form-control.search {
	width:300px;
	margin:auto;
	margin-bottom:10px
}
.preAmt {
 font-size: 24px;
    font-weight: bold;
}
.actionListContainer:hover .dataActionLinks {
	display:block
}
.actionListContainer .dataActionLinks {
	display:block;
	padding:5px 5px;
	margin:0px -10px -5px -10px;
}
.actionListContainer .dataActionLinks .icon-home, .icon-user{color:#000!important;}
.actionListContainer .btn-group > .btn, .actionListContainer .btn-group > .dropdown-menu, .actionListContainer .btn-group > .popover {
	font-size:11px;
	  background-color: transparent;
  border: none;
  color: #000;
  line-height:17px
}
.actionListContainer .btn-group > .btn{
	padding: 5px 10px;
}
@media screen and (max-width:767px)
{
	.actionListContainer .btn-group > .btn
	{
		width:100%;
		display:block;
		text-align: left;
	}
}
@media screen and (min-width:768px)
{
	.actionListContainer .btn-group > .btn
	{
		width:auto;
		display:inline-block;
		text-align: left;
	}
}
.loader {
/*	background-color: white;
    border: 3px solid #337ab7; */
    font-size: 24px;
    height: 100px;
    left: 0;
    line-height: 100px;
    margin: auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 40%;
    vertical-align: middle;
    width: 100px;
    z-index: 1000;
	border-radius:10px;
}
.lazyLoader, .loader {
	display:none;
	width: 100%;
}
.lazyLoader .loaderMsg, .loader .loaderMsg {
	height:60px;
	 text-align: center
}
.lazyLoader .loaderMsg {
	height:24px;
}
.lazyLoader {
	margin-top:5px
}
.body {
	margin:auto;
	width:960px;
	background-color:white;
	padding:14px 25px 25px 25px;
	min-height:600px

}
.searchPanelWrapper {
	margin:0px;

	background-color:#dededf;
	padding:10px;
	margin-bottom:15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.searchPanel {
	margin-bottom:0px;
	display:none;
	margin-top:15px
}
.search {
	font-size: 22px;
	padding: 0 6px;
}

.btnShowHideSearchFilter {
	border-radius:10px;
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;


}
.searchPanel.fullCollapse {
    border: 1px solid red;
    height: 0;
    overflow: hidden;
    width: 0;
}

.btnSearchFilter {
    background-color: red;
    content: "";
    height: 40px;
    margin: auto;
    position: fixed;
	left:153px;
    vertical-align: middle;
    width: 40px;
}

.removeFilter {
	cursor:pointer
}
.stuck{
position:fixed;
width:910px;
top:0px;
z-index:1000;
}
.tpMenu
	{
		left:-19px;
		position:relative;
		margin-bottom:10px;
	}
.actionListContainer, .actionListContainer  * {
	border-radius:0px !important;
}
/*.actionListContainer {
  box-sizing: border-box;
  background-color: #cdcccc;
  color: #fff;
  padding: 4px 6px 4px 6px;
  border-radius: 2px !important;
  font-size: 16px;
   position: relative;
   text-align: center;
	width:30px;
	top:3px
}*/
#datepicker {
	width:70%;
}
.ui-datepicker-trigger {
	width:30px;
}
.dataActionLinks {
  bottom: 0px;
  background-color: #f0f0f0;

}
.dataActionLinks .btn {
	text-transform:capitalize
}
.noPadding {
	padding:0px !important
}

.noMargin {
	margin:0px !important
}
.appliedFilters {
	margin-left:10px
}

.gridDataContainer{
	display:none;
}
.gridDataContainer .gridHeader{
	background-color: #dededf;
	color:black;
	font-weight:bold;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 border-radius: 4px;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	 margin-top:20px;

}
.gridDataContainer .gridBody{
	margin-top: 10px
}
.gridDataContainer table td {
	vertical-align:top;
}
.gridDataContainer table tr.email td {
	white-space: pre-wrap;
	word-break: break-all;
}
.gridDataContainer .gridBody .gridRow{
	border:1px solid #dcdcdc;
	margin-top: 15px;
}

.gridDataContainer .gridBody .gridRow , .gridDataContainer .gridHeader {
	padding: 10px 10px 5px 10px;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.gridDataContainer label {
	display:inline;
	color:#858384 !important;
	white-space:nowrap;
}
.gridDataContainer .gridBody .gridRow p {
	margin-bottom:0px;
	font-size:12px
}
.gridDataContainer .gridBody .gridRow label {
	font-size:12px
}
.gridDataContainer .gridBody .gridRow .rowHead {
	border-bottom:1px solid #dcdcdc;
	margin-bottom:10px;
}
.gridDataContainer .gridBody .gridRow .labelValue {
	color:#000;
}

 /* for hosuehold info */
 #houseHoldInfolModal .householdDataTable-table-container{
	overflow: auto;
 }
 .householdDataTable th, .householdDataTable td {
 	white-space:nowrap !important;
 }
  /* for ligibility info */
 #eligibilityInfolModal {
 	/* left:47%; */
 	width:75%;
 }
 #eligibilityInfolModal .modal-header button.close{
	padding-top: 0px !important;
}
 #eligibilityInfolModal div.span4.text-right {
	line-height:inherit;
}
.noResultMsg {
	display:none;
	text-align:center;
}
/* Loading Circle */
.gpsoff .ball {
	background-color: rgba(0,0,0,0);
	border:5px solid #48A95E;
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin 2s infinite linear;
	-ms-animation:spin .5s infinite linear;
}

.gpsoff .ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid #2285CE;
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff .5s infinite linear;
	-webkit-animation:spinoff 1.5s infinite linear;
	-ms-animation:spinoff .5s infinite linear;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}
@-ms-keyframes spinoff {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(-360deg); }
}
