<div spinning-loader="vm.loader"></div>

<div class="gutter10" ng-init="vm.init()">


	<h1>
		{{'agency.manage_agencies.header'| translate}}
		<small>
			{{vm.paginationData.totalRecords}} {{'agency.manage_agencies.sub_header_1'| translate}}
			<span ng-if="vm.paginationData.totalRecords > 1">{{'agency.manage_agencies.sub_header_2'| translate}}</span>
			<span ng-if="vm.paginationData.totalRecords <= 1">{{'agency.manage_agencies.sub_header_3'| translate}}</span>
		</small>
	</h1>

	<div class="row-fluid">

		<div id="sidebar" class="span3">
			<div class="header">
				<h4>
					{{'agency.manage_agencies.refine_results'| translate}}
					<a class="pull-right" ng-click="vm.init()" href="javascript:void(0)">Reset all</a>
				</h4>
			</div>

			<form class="gutter10">
				<div class="control-group">
					<label class="control-label">{{'agency.manage_agencies.business_name'| translate}}</label>
					<div class="controls">
						<input type="text" class="span12" ng-model="vm.businessName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->


				<div class="control-group">
					<label class="control-label">{{'agency.manage_agencies.certification_status'| translate}}</label>
					<div class="controls">
						<select class="span12" ng-model="vm.certificationStatus" ng-options="status as status for status in vm.certificationStatusList">
							<option value="">{{'agency.manage_agencies.select'| translate}}</option>
						</select>
					</div><!-- end of controls -->
				</div><!-- end of control-group -->

				<div class="txt-center">
					<button class="btn" ng-click="vm.updateRefineResult=true;vm.getPagination()">{{'agency.universal.go'| translate}}</button>
				</div>
			</form>
		</div>


		<div id="rightpanel" class="span9">
			<div class="center"  ng-if="!vm.isResultsFound">
	          	<p class="alert alert-info">{{'agency.error_messages.no_records_found'| translate}}</p>
	        </div>
			<div class="center"  ng-if="vm.isResultsFound">
				<table class="table">
					<thead>
						<tr>
							<th class="span5 sortable">{{'agency.manage_agencies.business_name'| translate}}</th>
							<th class="span2">{{'agency.manage_agencies.submitted_on'| translate}}</th>
							<th class="span2">{{'agency.manage_agencies.certified_on'| translate}}</th>
							<th class="span2">{{'agency.manage_agencies.certification_status'| translate}}</th>
							<th class="span1">{{'agency.manage_agencies.actions'| translate}}</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="agency in vm.agencyList">
							<td>
								<!-- <a class="action-link" href="#" ui-sref="agency.agencyInformation({agencyId: agency.encryptedId})"> -->
								<a ng-if= "agency.certificationStatus !== 'Incomplete'" class="action-link" href="#" ng-click="vm.viewInfo(agency.encryptedId, agency.businessLegalName)">
									{{agency.businessLegalName}}
								</a>
								<span ng-if= "agency.certificationStatus === 'Incomplete'">{{agency.businessLegalName}}</span>
							</td>
							<td>{{agency.submittedOn}}</td>
							<td>{{agency.certifiedOn}}</td>
							<td>{{agency.certificationStatus}}</td>
							<td>
								<div class="dropdown" ng-if= "agency.certificationStatus !== 'Incomplete'">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<i class="icon-cog"></i><i class="caret"></i>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<!-- <a class="action-link" ui-sref="agency.agencyInformation({agencyId: agency.encryptedId})">
												<i class="icon-pencil"></i>{{'agency.universal.edit'| translate}}
											</a> -->
											<a class="action-link" href="#" ng-click="vm.viewInfo(agency.encryptedId, agency.businessLegalName)">
												<i class="icon-pencil"></i>{{'agency.universal.edit'| translate}}
											</a>
										</li>
								 	</ul>

								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="pagination center table-list-pagination">
	    			<pagination max-size="10" class="pagination-sm" rotate="false" items-per-page="10" total-items="vm.paginationData.totalRecords" ng-model="vm.paginationData.pageNumber" ng-change="vm.getPagination()"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>
