<div spinning-loader="vm.loader"></div>

<div class="gutter10 agent-list-container" ng-init="vm.init()">
	<div class="row-fluid">
		<h1>
			{{'admin.manage-admin-staff-list.header'| translate}}
			<small>
				{{vm.adminStaffList.count}} {{'admin.manage-admin-staff-list.sub_header_1'| translate}}
			</small>
		</h1>
	</div>
	<div class="row-fluid">
		<div id="sidebar" class="span3">
			<div class="header">
				<h4>
					{{'agency.universal.refine_results_by'| translate}}
					<a class="pull-right" href="javascript:void(0)" ng-click="vm.reset()">{{'agency.universal.reset_all'| translate}}</a>
				</h4>
			</div>

			<form id="aid-view-agentlist-search" class="gutter10">
				<div class="control-group">
					<label for="first-name" class="control-label">{{'admin.manage-admin-staff-list.first_name'| translate}}</label>
					<div class="controls">
						<input class="span12" id="first-name" type="text"  ng-model="vm.inputData.firstName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->

				<div class="control-group">
					<label for="last-name" class="control-label">{{'admin.manage-admin-staff-list.last_name'| translate}}</label>
					<div class="controls">
						<input class="span12" id="last-name" type="text" ng-model="vm.inputData.lastName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->
				<div class="control-group">
					<label for="business-name" class="control-label">{{'admin.manage-admin-staff-list.business_name'| translate}}</label>
					<div class="controls">
						<input class="span12" id="business-name" type="text" ng-model="vm.inputData.businessLegalName">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->
				<div class="control-group">
					<label for="staff-id" class="control-label">{{'admin.manage-admin-staff-list.staff_id'| translate}}</label>
					<div class="controls">
						<input class="span12" id="staff-id" name="staff-id" type="text" ng-model="vm.inputData.staffId">
					</div><!-- end of controls -->
				</div><!-- end of control-group -->
				<div class="control-group">
					<label class="control-label">{{'admin.manage-admin-staff-list.approval_status'| translate}}</label>
					<div class="controls">
						<select class="span12" ng-model="vm.inputData.approvalStatus" ng-options="status as status for status in vm.approvalStatusList">
							<option value="">{{'agency.universal.select_from_dropdown'| translate}}</option>
						</select>
					</div><!-- end of controls -->
				</div><!-- end of control-group -->
				<div class="txt-center">
					<button id="go-btn" class="btn" ng-click="vm.refineResult=true;vm.getData()">{{'agency.universal.go'| translate}}</button>
				</div>
			</form>

		</div>


		<div id="rightpanel" class="span9">
			<div class="center"  ng-if="!vm.isResultsFound">
	          	<p class="alert alert-info">{{'agency.error_messages.no_records_found'| translate}}</p>
	        </div>
			<table class="table agent-list-table" ng-if="vm.isResultsFound">
				<thead>
					<tr>
						<th>{{'admin.manage-admin-staff-list.staff_name'| translate}}</th>
						<th>{{'admin.manage-admin-staff-list.role'| translate}}</a></th>
						<th>{{'admin.manage-admin-staff-list.business_name'| translate}}</a></th>
						<th>{{'admin.manage-admin-staff-list.staff_id'| translate}}</th>
						<th>{{'admin.manage-admin-staff-list.approved_on'| translate}}</th>
						<th>{{'admin.manage-admin-staff-list.approval_status'| translate}}</th>
						<th>{{'admin.manage-admin-staff-list.actions'| translate}}</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="adminStaff in vm.adminStaffList.agencyAssistants track by $index">
						<td>{{adminStaff.firstName}} {{adminStaff.lastName}}</td>
						<td>{{adminStaff.role}}</td>
						<td>{{adminStaff.businessLegalName}}</td>
						<td>{{adminStaff.staffId}}</td>
						<td>{{adminStaff.approvedOn}}</td>
						<td>{{adminStaff.approvalStatus}}</td>
						<td>
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-cog"></i><i class="caret"></i>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="action-link" ui-sref="adminstaff.addstaff({assistantId: adminStaff.encryptedId})">
											<i class="icon-pencil"></i>{{'agency.universal.edit'| translate}}
										</a>
									</li>
							 	</ul>

							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pagination center table-list-pagination" ng-if="vm.isResultsFound">
    			<pagination max-size="10" class="pagination-sm" rotate="false" items-per-page="10" total-items="vm.paginationData.totalRecords" ng-model="vm.inputData.pageNumber" ng-change="vm.paginationResult=true;vm.getData()"></pagination>
			</div>
		</div>
	</div>
</div>
