<style>
    .form-actions input.btn[type="submit"] {
        height: auto;
    }
</style>
<script>
  $("#ssnRequiredNo").bind("click",function(event){
    $('#ssnNotReqdReasons').show();
    $('#ssnNotReqdReasons').attr('required',true);

  });
  $("#ssnRequiredYes").bind("click",function(event){
    $('#ssnNotReqdReasons').hide();
    $('#ssnNotReqdReasons').attr('required',false);

  });
  
  
//auto shift box for phone box and SSN
$("input[maxlength=3],input[maxlength=4]").bind("keyup",function(event){
  var keyCode = event.keyCode;

  if( keyCode == 16 || keyCode == 9 || keyCode == 37 || keyCode == 38 || keyCode == 39 || keyCode == 40){
    return;
  }
  var maxLength = parseInt($(this).attr('maxlength'));
  var nextElement = $(this).nextAll( "input[maxlength]:first");
  if($(this).val().length == maxLength && nextElement !== undefined){      
	  nextElement.focus();
	  nextElement.select();
  }

});

$(function(){
	var showCall = $("#showPermissionToCall").val();

	if(showCall != undefined && showCall == 'Y'){
		$('showPermissionToCallDiv').show();
	}else{
		$('#showPermissionToCallDiv').hide();

	}
	 if(dataToPopulate !="")
		{
			$("#mainSubmitButton").val("Continue to link");
		}
});

$('#phoneNumber1, #phoneNumber2, #phoneNumber3, #zipcode').on('change keyup', function() {
	  var sanitized = $(this).val().replace(/[^0-9]/g, '');
	  $(this).val(sanitized);
	});
</script>
<form class="form-horizontal" id="frmaddconsumer" name="frmaddconsumer" data-parsley-validate novalidate="novalidate" >
	<fieldset>
	<legend class="aria-hidden">Add Consumer Information</legend>  <!-- Accessibility use -->
    <div class="control-group">
        <label class="control-label" for="firstName">First Name <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></label>
        <div class="controls">
            <input ng-model="$parent.consumer.firstName" type="text" id="firstName" name="firstName" maxlength="100" required data-parsley-trigger="blur" data-parsley-mincheck="1"  data-parsley-pattern-message="Invalid First Name" ng-pattern="/^[a-zA-Z ,.'-]+$/i" data-parsley-pattern="/^[a-zA-Z ,.'-]+$/i"/>
            <span class="error" ng-show="$parent.showExactHouseholdError">First Name, Last Name, Date Of Birth and Zip Code match an existing record. Duplicate individual cannot be created.</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="lastName">Last Name <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></label>
        <div class="controls">
            <input ng-model="$parent.consumer.lastName" type="text" id="lastName" name="lastName"  maxlength="100" required data-parsley-trigger="blur" data-parsley-mincheck="1" data-parsley-pattern-message="Invalid Last Name" ng-pattern="/^[a-zA-Z ,.'-]+$/i" data-parsley-pattern="/^[a-zA-Z ,.'-]+$/i" />
        </div>
    </div>
	<div class="control-group">
		<label for="dob" class="control-label">Date Of Birth <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /> </label>
		<div class="controls input-append date date-picker" id="date" style="margin-left: 0px">
			<input class="input-medium" ng-model="$parent.consumer.dob" maxlength="10" type="text" name="dob" id="dob" pattern="MM/DD/YYYY" placeholder="MM/DD/YYYY" ui-mask="99/99/9999"  model-view-value="true" required/>
			<span class="add-on"><i class="icon-calendar"></i></span>
		</div>

	</div>
     <div class="control-group">
        <label class="control-label" for="zipcode">Zip Code <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></label>
        <div class="controls">
         		<input ng-model="$parent.consumer.zipcode" type="text" id="zipcode" name="zipcode" maxlength="5" ng-minlength="5" ng-maxlength="5"  On placeholder="" required data-parsley-trigger="blur" data-parsley-type="digits"  value=""/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="phoneNumber1">Phone Number <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></label>
        <div class="controls">
        	<div style="padding:0px;margin:0px;float:left;">
        		<input ng-model="$parent.phoneNumber1" type="text" id="phoneNumber1" name="phoneNumber1" maxlength="3" ng-minlength="3" ng-maxlength="3"  On placeholder="" required data-parsley-trigger="blur" data-parsley-type="digits" class="input-mini" value="" title="Enter first 3 digits of your phone number"/>
        		<input ng-model="$parent.phoneNumber2" type="text" id="phoneNumber2" name="phoneNumber2" maxlength="3" ng-minlength="3" ng-maxlength="3"   placeholder="" required data-parsley-trigger="blur" data-parsley-type="digits" class="input-mini" value="" title="Enter second 3 digits of your phone number"/>
        		<input ng-model="$parent.phoneNumber3" type="text" id="phoneNumber3" name="phoneNumber3" maxlength="4" ng-minlength="4" ng-maxlength="4" placeholder="" required data-parsley-trigger="blur" data-parsley-type="digits" class="input-mini" value="" title="Enter last 4 digits of your phone number"/>
        	</div>
        	<!-- <div style="margin:0px;padding:0px;">
        	<p ng-show="frmaddconsumer.phoneNumber1.$error.minlength" >Enter Valid phone number</p>
            <p ng-show="frmaddconsumer.phoneNumber1.$error.maxlength" >Enter Valid phone number</p>

            <p ng-show="frmaddconsumer.phoneNumber2.$error.minlength" >Enter Valid phone number</p>
            <p ng-show="frmaddconsumer.phoneNumber2.$error.maxlength" >Enter Valid phone number</p>

            <p ng-show="frmaddconsumer.phoneNumber3.$error.minlength" >Enter Valid phone number</p>
            <p ng-show="frmaddconsumer.phoneNumber3.$error.maxlength" >Enter Valid phone number</p>-->

        	<!-- </div> -->

         </div>
         <div class="error filled clear" ng-show="frmaddconsumer.phoneNumber1.$error.minlength || frmaddconsumer.phoneNumber1.$error.maxlength
        	|| frmaddconsumer.phoneNumber2.$error.minlength || frmaddconsumer.phoneNumber2.$error.maxlength
        	|| frmaddconsumer.phoneNumber3.$error.minlength || frmaddconsumer.phoneNumber3.$error.maxlength
        	">
         	<div class="parsley-pattern">Enter Valid phone number</div>
         </div>

         <div class="clearfix"></div> <!-- Required clearfix div for HIX-57616 (Critical)  -->
    </div>

    <div class="control-group">
        <label class="control-label" for="email">Email Address</label>
        <div class="controls">
            <input ng-model="$parent.consumer.emailAddress"  type="text" name="email" id="email" data-parsley-type="email" />
            <span class="error" ng-show="$parent.showInvalidEmailError">Email Address is already being used by an existing account</span>
            <p class="margin10-t clear">Note: If email is provided the new individual will be sent an email to activate a new account.</p>

        </div>
    </div>

    <div class="control-group" id="showSSNRequiredDiv">
        <fieldset>
            <legend class="control-label">SSN<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" /></legend>
        <div class="controls">
            <label class="radio inline" for="ssnRequiredYes"> <input type="radio" ng-model="$parent.consumer.ssnRequired"  name="ssnRequired" id="ssnRequiredYes" value="YES" required > SSN is required </label>
            <br/>
            <label class="radio inline" for="ssnRequiredNo"> <input type="radio" ng-model="$parent.consumer.ssnRequired"  name="ssnRequired"  id="ssnRequiredNo" value="NO"> SSN is not required. </label>
            <select aria-label="Select a Reason" name="ssnNotReqdReasons" id="ssnNotReqdReasons" class="input-medium" style="display: none;"  ng-model="$parent.consumer.ssnNotReqdReasons" ><img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
                    <option value="">Select Reason</option>
                    <option value="RELIGIOUS_EXCEPTION">Religious Exception</option>
                    <option value="JUST_APPLIED">Just Applied</option>
                    <!-- <option value="ILLNESS_EXCEPTION">Illness Exception</option> -->
                    <option value="CITIZEN_EXCEPTION">Citizen Exception</option>
                    <option value="OTHER">Other</option>
                </select>
            </fieldset>
        </div>
        <span class="error" id="ssnNotReqdReasonsError" style="display: none;">Please select a reason.</span>
    </div>

    <div class="control-group" id="showPermissionToCallDiv">
        <fieldset>
        <legend class="control-label">
        Permission to call?<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
        <div class="controls">
            <label class="radio inline" for="callBackPermission"> <input ng-model="$parent.consumer.callPermission" type="radio" name="callBackPermission" id="callBackPermission" value="YES" required> Yes </label>
            <label class="radio inline" for="callBackPermissionno"> <input ng-model="$parent.consumer.callPermission" type="radio" name="callBackPermission"  id="callBackPermissionno" value="NO"> No </label>
            <pre>{{$parent.consumer.callPermission}}</pre>
        </div>
        </legend>
        </fieldset>
    </div>
    
    <div class="form-actions">
        <a href="#" id="cancelButton" class="btn" onclick="window.location.reload();">Cancel</a>
        <!-- <input type="submit" value="Save" ng-click="consumerSave()" ng-disabled="!(consumer.callPermission == 'YES'||consumer.callPermission == 'NO')"  id="mainSubmitButton" role="button" class="btn btn-primary"  /> -->
        <input type="submit" value="Start" class="btn btn-primary" ng-click="consumerSave()"
         ng-disabled="!($parent.consumer.firstName && $parent.consumer.lastName && $parent.phoneNumber1 && $parent.phoneNumber2 
         && $parent.phoneNumber3 && $parent.consumer.zipcode && $parent.consumer.dob && $parent.consumer.ssnRequired && $parent.validateSSNField()  )"
           
         id="mainSubmitButton" role="button" class="btn btn-primary"  />
    </div>
    </fieldset>
</form>
      <!-- Modal -->
      
    <form name="dialogForm" id="dialogForm" method="POST"  action="../../crm/consumer/dashboard">
    <div id="viewIndividualAccount" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#goToAddConsumerForm').submit()"><span aria-hidden="true">×</span><i class="icon-remove"></i></button>
            <h3 id="myModalLabel">View Individual Account</h3>
        </div>
        <div class="modal-body">
            <p>Clicking "Individual View" will take you to the Individual Portal for {{consumer.firstName}} {{consumer.lastName}}.
                Through this portal you will be able to enroll on behalf of the individual.</p>
            <p>Proceed to Individual View?</p>
        </div>
  <div class="modal-footer clearfix">
 	 	<label for="checkConsumerView" class="aria-hidden">Check Consumer View Checkbox</label> <!-- Accessibility Use -->
        <input class="pull-left"  type="checkbox" id="checkConsumerView" name="checkConsumerView"  > 
        <div class="pull-left">&nbsp; Don't show this message again.</div>
        <button class="btn btn" data-dismiss="modal" aria-hidden="true" onclick="$('#goToAddConsumerForm').submit()">Cancel</button>
        <button class="btn btn-primary" type="submit">Individual View</button>
         <input type="hidden" name="switchToNonDefaultURL" id="switchToNonDefaultURL" />
         <input type="hidden" name="csrftoken_x" id="csrf" value="" />
        <input type="hidden" name="switchToModuleName" id="switchToModuleName" value="individual" />
        <input type="hidden" name="switchToModuleId" id="switchToModuleId" value="{{householdId}}" />
        <input type="hidden" name="switchToResourceName" id="switchToResourceName" value="{{consumer.firstName}}{{consumer.lastnameName}}" />
    <!--a href='<c:url value="/account/user/switchUserRole/employer/${employer.id}"/>'><button class="btn btn-primary">Employer View</button></a -->
  </div>
  </div>
  </form>  
  <!--  End Modal -->
  
  <form name="goToAddConsumerForm" id="goToAddConsumerForm" method="GET" action="../../cap/consumer/addconsumer" />

                
<!-- <pre>{ { consumer|json } }</pre> code modified for HIX-44404 -->

<script>
//date picker Initialization 
/* $('#dob').keypress(function(e){
  	if (window.event) { var charCode = window.event.keyCode; }
    else if (e) { var charCode = e.which; }
    else { return true; }
    console.log(charCode);
    if ((charCode >= 48 && charCode <= 57) || charCode==47) { return true; }
    return false;
  
}); */
$('.date-picker').datepicker({
    autoclose: true,
    dateFormat: 'MM/DD/YYYY',
    endDate:new Date()
});
</script>