<div class="gutter10 cusomter-history">
  <style type="text/css">
    .tableright {
      text-align: right;
    }
    td {
      padding: 5px;
    }
  </style>
  
  <input type="hidden" name="switchToModuleId" id="switchToModuleId" value="${household.id}" /></input>
  
  <!-- FILTER BAR -->
  <div class="row-fluid filter-row margin10-b" role="filter-role" ng-init="getRequest()">
    <div class="span12">
        <div id="filterhistory" class="gutter10">
          <i class="icon-filter margin10-r"></i>
          <select ng-model="select" ng-options="filter for filter in filters" class="margin10-t">
            <option value="">Filter By Type</option>
          </select>
          <select ng-model="selectRange" ng-options="filter for filter in dateRangeFilter" class="margin10-t">
            <option value="">Filter By Date Range</option>
          </select>
            <div class="pull-right margin10-t" ng-hide="hideAddBtn">
                <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-plus"></i> Add Record</a>
            </div>
        </div>
    </div>
  </div>
  <!-- FILTER BAR -->

  <div ng-repeat="history in histories.historyList | filter: filterFn({type:select,date:selectRange})">

    <!-- <div class="gutter10 margin20-b" style='background: #FBFAFA;' ng-if="history.mainData.desc || history.description">  -->
    <div class="gutter10 margin20-b" style='background: #FBFAFA;'> 
      <div class="row-fluid margin20-b">
       <div class="header" style="background: #F8F8F8; margin-bottom: 20px;">
          <h4>
          	<span ng-if="history.eventLevel">{{history.eventLevel}}</span> 
          	<!-- <span  class="margin30-l"><span ng-if="history.metadata.enteredBy">By: {{history.metadata.enteredBy}}</span></span>  -->
          </h4>
        </div>
        <strong><span ng-if="history.datetime">{{history.datetime | date:'MMMM dd, yyyy @ h:mma'}}</span>
        <span ng-if="history.metadata.dateTime">{{history.metadata.dateTime | date:'MMMM dd, yyyy @ h:mma'}}</span>
        <span  class="pull-right">Created By:<span ng-if="history.eventLevel"> {{history.createdByName}}</span>
        <span ng-if="history.metadata.enteredBy"> {{history.metadata.enteredBy}}</span></span> </strong>
        <div class="span12 " >
          <table width="100%" class="" ng-if="history.mainData.desc || history.description">
              <tr ng-if="history.datetime != undefined">
                  <td class="span2"><strong>Created Date: </strong></td>
                  <td class="span8">
                      <span>{{history.datetime | date:'MMMM dd, yyyy @ h:mma'}}</span>
                  </td>
              </tr>
              <tr ng-if="history.eventMetaData.effectiveDate != undefined">
                  <td class="span2"><strong>Effective Date:</strong></td>
                  <td class="span8">
                      <span ng-if="history.eventMetaData">{{history.eventMetaData.effectiveDate | date:'MMMM dd, yyyy @ h:mma'}}</span>
                  </td>
              </tr>
            <!-- <tr>
              <td class="span2"><strong>Enrollment ID:</strong></td>
              <td class="span8">
              	<span ng-if="history.eventMetaData">{{history.eventMetaData.enrollmentId}}</span>
              </td>
            </tr> -->
              <tr ng-if="history.eventMetaData.insureanceCompany != undefined">
                  <td class="span2"><strong>Insurance Company:</strong></td>
                  <td class="span8">
                      <span ng-if="history.eventMetaData">{{history.eventMetaData.insureanceCompany}}</span>
                  </td>
              </tr>
              <tr ng-if="history.eventMetaData.planName != undefined">
                  <td class="span2"><strong>Plan Name:</strong></td>
                  <td class="span8">
                      <span ng-if="history.eventMetaData">{{history.eventMetaData.planName}}</span>
                  </td>
              </tr>
              <tr ng-if="history.eventMetaData.policyId != undefined">
                  <td class="span2"><strong>Policy ID:</strong></td>
                  <td class="span8">
                      <span ng-if="history.eventMetaData">{{history.eventMetaData.policyId}}</span>
                  </td>
              </tr>
              <tr>
                  <td class="span2"><strong>Memo: </strong></td>
                  <td class="span8">
                      <span ng-if="history.description">{{history.description}}</span>
                      <span ng-if="history.mainData.desc">{{history.mainData.desc}}</span>
                  </td>
              </tr>
          </table>
          
          <table width="100%" class="" ng-if="history.metadata">
              <tr ng-if="history.metadata.callType != undefined">
                  <td class="span2"><strong>Call Type: </strong></td>
                  <td class="span8">
                      <span ng-if="history.metadata.callType">{{history.metadata.callType}}</span>
                  </td>
              </tr>
              <tr ng-if="history.metadata.duration != undefined">
                  <td class="span2"><strong>Duration: </strong></td>
                  <td class="span8">
                      <span ng-if="history.metadata.duration">{{history.metadata.duration}}</span>
                  </td>
              </tr>
              <tr ng-if="history.metadata.wrapCode != undefined">
                  <td class="span2"><strong>Wrap Code: </strong></td>
                  <td class="span8">
                      <span ng-if="history.metadata.wrapCode">{{history.metadata.wrapCode}}</span>
                  </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
    
  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="comment.mainData.desc=''" aria-hidden="true">&times;</button>
      <h3 id="myModalLabel">Add Record</h3>
    </div>

    <div class="modal-body">
      <form class="margin10-l">
      
        
        <div class="row-fluid" ng-show="comment.type == 'Notes'">
          <div class="span12">
			<div ng-init="comment.type= 'Notes'" class="hidden"></div>
			  <div>
				<h3>Please enter a note you would like to record.</h3>
			  </div>
			  <div>
			    <textarea rows="4" class="span12" ng-model="comment.mainData.desc" placeholder="Please write a memo to record."></textarea>
			  </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" ng-click="comment.mainData.desc=''" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" data-dismiss="modal" ng-show="comment.type=='Calls'" ng-click="postCallHistory()">Save This Call</button>
      <button class="btn btn-primary" data-dismiss="modal" ng-show="comment.type=='Notes'" ng-click="postNoteHistory()">Save This Note</button>
    </div>
  </div>
  <!-- Modal -->
</div><!--/.gutter10-->