<div class="cusomter-history" ng-init="getRequest()">
    <style type="text/css">
        .boxcontainer{
            max-height: 800px;
            overflow-x:auto;
            padding-right: 16px;
        }
        .historyBox{
            padding: 5px;
            border:1px solid rgb(218, 218, 218);
            margin-top:10px;
        }
        .historyBox .historyBoxHeader{
            border-top:1px solid rgb(218, 218, 218);
        }
        .historyBox .eventText{
            font-size: 14px
        }
        .historyBox .eventTime{
            font-size: 11px;
            color:grey;
        }
        .historyBox .infoRow{
            font-size: 12px;
        }
        .historyBox .boxdata{
            position: relative;
            display:none;
        }
        .historyBox .openbox{
            display:block;
        }
        .infoRow .infoFieldName{
            color:grey;
            text-align: right;
        }
        .infoRow .infoFieldValue{
        }
        .btn-success:hover{
            color:inherit;
        }
        #dateRange{
            color:#555;
            font-weight: normal;
            font-size: 13px;
        }
        #frmNewCall {
            margin-bottom:0;
        }
        #frmNewCall input{
            margin-bottom:5px;
        }
        #frmNewCall textarea{
            width:100%;
            margin-bottom:5px;
        }
        #frmNewCall .form_datetime{
            margin-bottom:0;
        }
        #frmNewCall .form_datetime>input{
            background-color: white;
            margin-bottom:5px;
        }
        .text-center{
            text-align: center;
        }
        .comment{
            font-size: 12px;
        }

    </style>


    <input type="hidden" name="switchToModuleId" id="switchToModuleId" value="${household.id}" /></input>

    <div class="row-fluid">
        <form class="">
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Category</label>
                        <div class="controls">
                            <select ng-change="categoryChange()" ng-model="$parent.eventCategory" ng-options="eventCate.text for eventCate in $parent.filteredCategory"></select>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Event Type</label>
                        <div class="controls">
                            <select ng-change="refreshResult()" ng-model="$parent.eventType" ng-options="event.text for event in $parent.eventTypeList"></select>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Created By Role</label>
                        <div class="controls">
                            <select ng-change="refreshResult()" ng-model="$parent.role" ng-options="nrole.text for nrole in $parent.roleList"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">                
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Date Range</label>
                        <div class="controls">
                            <!-- <input id="dateRange" ng-model="$parent.dateRangeField" ng-change="refreshResult()" /> -->
                            <div id="dateRange" class="" style="background: #fff; cursor: pointer; padding: 5px 7px; border: 1px solid #ccc; width: 94%; border-radius:5px;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar icon-calendar"></i>&nbsp;
                                <span class="datedisplay"></span> <i style="margin-top:3px;" class="icon-caret-down margin10-l pull-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 offset4" ng-if="memberAbtLogcall">
                    <div class="control-group pull-right">
                        <label class="control-label" for="inputEmail">&nbsp;</label>
                        <div class="controls">
                            <button class="btn" ng-click="onLogACallClick()">Log a Call</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid" ng-show="$parent.filteredEvents.length > 0">
        <div id="chartContainer" style="width: 660px; height: 100px; margin: 0 auto"></div>
    </div>
    <div class="row-fluid" ng-show="$parent.filteredEvents.length == 0 && $parent.isLoading==false">
        <div class="span12 text-center text-info">No records found</div>
    </div>
    <div class="row-fluid" ng-show="$parent.isLoading">
        <div class="span12 text-center text-info">Loading...</div>
    </div>
    <div class="row-fluid boxcontainer">
        <div class="row-fluid historyBox" ng-repeat="eventObj in $parent.filteredEvents" id="box_{{$index}}">
            <div class="row-fluid ">
                <div class="span11">
                    <span class="eventText">{{eventObj.type}} - {{eventObj.name}}</span> <span class="eventTime">on {{eventObj.creationTimeStamp | date : 'M/d/yyyy h:mm a'}} by {{eventObj.createdByUserName}} (<span style="text-transform:capitalize;">{{eventObj.createdByUserRole | camelcase}}</span>) </span>
                </div>
                <div class="span1 margin5-b">
                    <button class="btn smallBtn" ng-click="toggleBoxDetail(eventObj)"><i ng-hide="eventObj.open" class="icon-chevron-down"></i><i ng-show="eventObj.open" class="icon-chevron-up"></i></button>
                </div>
            </div>
            <div class="row-fluid boxdata historyBoxHeader" ng-class="{openbox:eventObj.open}">
                <div  class="row-fluid infoRow" ng-repeat="(key, value) in eventObj.eventObjects.mapParameters" ng-if="$parent.isKeyAllowed(key)">
                    <div class="span5 infoFieldName">{{key | fieldname }}</div>
                    <div class="span7 infoFieldValue">{{value}}</div>
                </div>
                <div  class="row-fluid infoRow" ng-init="eventObj.hideText=true" ng-if="memberAbtShowcomments" >
                     <div class="span5 infoFieldName">Comments</div>
                     <div class="span7 infoFieldValue"><a ng-show="eventObj.hideText" href="javascript:void(0)" ng-click="fetchComments(eventObj)">Show Comments</a>
                         <div class="row-fluid" ng-show="eventObj.isLoading">
                            <div class="text-info">Loading...</div>
                        </div>
                        <div class="commentList" ng-repeat="comment in eventObj.commentsList" ng-show="eventObj.showComments">
                            <div class="comment" id="comment_$index">
                            {{comment}}
                            </div>
                        </div>
                        <div ng-show="eventObj.noComments"><i>No Comments</i></div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    

    <!-- Modal -->
    <div id="modalLogACall" class="modal hide fade bigger-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="myModalLabel">Log a Call</h3>
        </div>

        <div class="modal-body">
            <form class="margin10-r" id="frmNewCall" name="frmNewCall">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">Date and Time <img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!"></label>
                            <div class="controls">
                                <div class="input-append date form_datetime">
                                    <input required size="16" type="text" name="newCallLogDateTime" ng-model="$parent.newCallLogDateTime" readonly>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <span class="error" ng-show="$parent.runValidate && frmNewCall.newCallLogDateTime.$invalid">Invalid Date and Time</span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label">Duration (min) </label>
                            <div class="controls">
                                <input type="text" only-number maxlength="3" name="newCallLogDuration" ng-model="$parent.newCallLogDuration">
                                <span class="error" ng-show="$parent.runValidate && frmNewCall.newCallLogDuration.$invalid">Invalid Duration</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label">Comments/Notes </label>
                            <div class="controls" >
                                <textarea name="newCallLogComment" ng-model="$parent.newCallLogComment"></textarea>
                                <span class="error" ng-show="$parent.runValidate && frmNewCall.newCallLogComment.$invalid">Comments/Notes required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label">Next Step(s) </label>
                            <div class="controls">
                                <textarea name="newCallLogNextStep" ng-model="$parent.newCallLogNextStep"></textarea>
                                <span class="error" ng-show="$parent.runValidate && frmNewCall.newCallLogNextStep.$invalid">Next Steps(s) required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="$parent.frmNewCallProxy=frmNewCall;onSubmitCallLog()">Save Call</button>
        </div>
    </div>
    <!-- Modal -->
</div><!--/.gutter10-->