<#assign home_url><@spring.url relativeUrl="${servletPath}/"/></#assign>
<#assign company_url><@spring.messageText code="company.url" text=companyUrl!"http://www.springsource.com"/></#assign>
<#assign company_name><@spring.messageText code="company.name" text=companyName!"SpringSource"/></#assign>
<#assign product_url><@spring.messageText code="product.url" text=productUrl!"http://static.springframework.org/spring-batch"/></#assign>
<#assign product_name><@spring.messageText code="product.name" text=productName!"Spring Batch"/></#assign>
<div id="primary-navigation">
	<div id="primary-left">
		<ul>
			<#list menuManager.menus as menu>
			<#assign menu_url><@spring.url relativeUrl="${menu.url}/"/></#assign>
			<li><a href="${menu_url}">${menu.label}</a></li>
			</#list>
		</ul>
	</div>
</div><!-- /primary-navigation -->