<navbar></navbar>

<div class="container component-wrapper">

    <app-header></app-header>
    
    <div class="row">
        <div class="col-12">
            <gi-doc-who [listedDoctors] = "personalization.doctor.doctorSearch"
                        [zipcode] = "personalization.doctor.nearZipcode"
                        (notifyZipcode)="onZipcodeChange($event)"></gi-doc-who>
        </div>

        <div class="col-12">
            <gi-doc-visit [picked_doctor_visitFrequency] = "personalization.doctor.visitFrequency"></gi-doc-visit>
        </div>

        <div class="col-12">
            <gi-drug-which [drugList] = "personalization.drug.drugSearch"></gi-drug-which>
        </div>

        <div class="col-12">
            <gi-prescription-search [picked_prescription_frequency] = "personalization.drug.monthlyPrescription"></gi-prescription-search>
        </div>

        <div class="col-12">
            <app-submit-set ></app-submit-set>
        </div>
    </div>
</div>
<error-screen [message]="errorMsg" [ngClass]="{'show':errorMsg}"></error-screen>


<footer></footer>