
/* Parsley.js - custom css styles */

input {
  width: 150px;
  margin: 0 2px;
  &.parsley-success {
    color: @successText;
    background-color: @successBackground;
    .box-shadow-success;
  }
  &.parsley-error {
    color: @errorText;
    background-color: @errorBackground;
    border: 1px solid @errorBorder;
    .box-shadow-error;
  }
}
 

ul {
  &.parsley-error-list {
    font-size: 10px;
    margin: 2px 0 0 0;
    list-style-type:none;
    background: @errorBackground;
    border: 1px solid @errorBorder;
    padding:10px;
    .border-radius;
    li {
      line-height: 12px;
      color: lighten(@errorText, 15%);
    }
  }
}

 