
/*! 
*
*	Custom changes starts from here 
* Changes could be made ONLY in custom.less
*
*/


// ==========================================================================
// General - elements
// ==========================================================================

// A
a {
	color: @linkColor;
	.transition-duration(0.3s);
	&:hover {
		color: @linkColorHover;
		text-decoration: none;
	}
} 

// B
body {
	background: #F0F0F0 url('../images/body-bg-gray1.png') repeat top left;
	font-size: @customFontSize;
	color: @customFontColor;
	font-family: @customFontFamily;
}
button {
	&.add {
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
	}
}

// FORMs
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	background-color: @white;
	.custom-border;
	.bootstrap-input-glow;
	padding: 14px 8px;
}

// H
h2 {
	font-family: @serifFontFamily;
	font-weight: normal;
}
h4 {
	&.header-container {
		.custom-header;
		.border-radius;
	}
}
h5 {
	.custom-subheader;
	.border-radius;
	&.trigger {
		.trigger;
	}
	small{
		.small-styles;
	}
}

// S
small {
	.transition-duration(0.3s);
}

// U
ul {
	li {
		list-style-type: none;
	}
}

// ==========================================================================
// IDs
// ==========================================================================
#main {
	.container {
		padding-top:@customSpacing*10;
	}
}

#wrap {
	background: @white;
	max-width: 960px;
	.box-shadow;
}



// ==========================================================================
// Classes & Mixins
// ==========================================================================

// A
.add {
	&:before {
		content:"";
	  .step-pseudo-before;
	  font-size: @customFontSize*3;
		color: @successText;
	}
}
.alert {
	position:relative;
	.add {
		position: absolute;
		top: 35%;
		right: 5%;
	}
}
.alert-success {
	background-image: url('../images/noise.png');
	border: .customBorder;
}
// B
.btn-primary {
	.primary-button-gradient;
}

.border-radius (@radius: 4px) {
	-webkit-border-radius:  	@radius;
	-moz-border-radius:     	@radius;
	border-radius:          	@radius;
	-moz-background-clip:    	padding;
	-webkit-background-clip: 	padding-box;
	background-clip:         	padding-box;
}

.border-radius {
	.border-radius (@radius: 4px);
}

.border-radius-t (@radius: 4px 4px 0 0) {
	-webkit-border-radius:  	@radius;
	-moz-border-radius:     	@radius;
	border-radius:          	@radius;
	-moz-background-clip:    	padding;
	-webkit-background-clip: 	padding-box;
	background-clip:         	padding-box;
}

.box-shadow {
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.box-shadow-inset {
	box-shadow:inset 0 0 45px rgba(0,0,0,0.1);
}
.box-shadow-error {
  box-shadow:inset 0 0 20px rgba(196,67,63,0.2);
}
.box-shadow-success {
  box-shadow:inset 0 0 6px rgba(90,196,71,0.3);
}
.bs-docs-sidenav {
	width: 215px;
}

// C
.container {
	width: 960px!important;
	.gutter;
}
.clear {
	overflow: hidden;
}
.custom-header {
	margin:0;
	background-color: @colorFour;
	height: @customElementHeight;
	color: @white;
	line-height: @customElementHeight;
	margin-bottom: @customSpacing*2;
	text-indent: @customSpacing*2;
}
.custom-subheader {
	.custom-header;
	//background: lighten(@colorFour, 20%);
}
.custom-border {
	border: 1px solid @customBorderColor;
}
.custom-border-t {
	border-top: 1px solid @customBorderColor;
}
.custom-border-r {
	border-right: 1px solid @customBorderColor;
}
.custom-border-b {
	border-bottom: 1px solid @customBorderColor;
}
.custom-border-l {
	border-left: 1px solid @customBorderColor;
}



// G
.gutter {
	padding: @customSpacing;
}
.gutter-t {
	padding-top: @customSpacing;
}
.gutter-r {
	padding-top: @customSpacing;
}
.gutter-b {
	padding-bottom: @customSpacing;
}
.gutter-l {
	padding-left: @customSpacing;
}

// H
.header {
	background-color: @colorFour;
	height: @customElementHeight;
	color: @white;
}
.hero-unit {
	.custom-border;
	.box-shadow-inset;
}

// N
.nav-list {
	padding:0;
	margin-bottom: 0;
	li {
		a {
			padding: 0;
			margin: 0;
			text-shadow: none;
		}
	}
}

// S
.small-styles {
	color: darken(@white, 15%);
	float: right;
	height: @customElementHeight;
	line-height: @customElementHeight;
	margin-right: @customSpacing*2;
}
.step-pseudo-before {
	font-family: "FontAwesome";
	font-size:9px;
	margin-right:@customSpacing;
	position:relative;
	top:-1px;
}
.step-pseudo-after {
	.step-pseudo-before;
	margin-right: 0;
	margin-left: @customSpacing;
}
.step-active {
	background: @colorThree;
	color: @white;
	a {
		color: @white;
		&:hover {
			background: desaturate(@colorThree, 15%)!important;
		}
		&:before {
	    content: "";
	    .step-pseudo-before;
  	}
	}
}
.step-finished {
	background: lighten(desaturate(@colorThree, 35%), 47%);
	a {
		&:before {
	    content: "";
	    .step-pseudo-before;
  	}
	}
}
.step-not-started {
	a {
		&:before {
	    content: "";
	    .step-pseudo-before;
  	}
	}
}

// T
.trigger {
	cursor:pointer;
	.transition-duration(0.3s);
	&:after {
		content: "";
		.step-pseudo-after;
		font-size: 15px;
		top:1px;
	}
	&:hover{
		color: @white;
		background: @colorThree;
	}
}
.text-to-right {
	text-align: right;
}
.text-to-left {
	text-align: left;
}

// ==========================================================================
// Masthead
// ==========================================================================
.navbar {
	.navbar-inner {
		min-height: 60px;
		border-bottom: 5px solid @colorFour;
		position:relative;
		.vertical-gradient-light-dark;
	}
	.brand {
		position: absolute;
		top:-4px;
		margin-left: @customSpacing*2;
		max-width: none;
		background: #ffffff;
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
	}		
}



// ==========================================================================
// Carousel - home page slideshow
// ==========================================================================
.carousel {
	background: transparent url('../images/home-gallery-top.png') no-repeat top center;
	.carousel-caption {
		background-color: transparent;
		float: left;
		width: 330px;
		text-align: left;
	 	margin: 0 20px 10px 40px;
	 	top: 10%;
		p {
			color: @customFontColor;
			margin: @customSpacing 0;
			a {
				margin: @customSpacing*2 0 0 0;
			}
		}
	}
	//This is a carousel navigation menu
	ul {	
		text-align: center;
		margin-bottom: @customSpacing;
		padding:0;
		margin: 0;
		height: 50px;
		position: relative;
		.custom-border;
		.border-radius;
		li {
			list-style-type: none;
			width: auto;
			display: inline-block;
			overflow: hidden;
			padding: 10px 0;
			&.act {
				a {
					background: @colorTwo;
					color: @white;
					text-shadow: none;
					.border-radius(5px);
					.box-shadow(inset 0 0 9px rgba(0, 0, 0, 0.3));
				}
			}
			a{
				padding: 5px 15px;
				font: @customFontFamily;
				line-height: 25px;
				font-size: @customFontSize + 3px;
				font-weight: bold;
				.transition-duration(0.1s);
			}
		}
	}
}


// ==========================================================================
// Sidebar - subnavigation
// ==========================================================================

#sidebar {
	.custom-border;
	.border-radius;
	h4{
		.custom-header;
		.border-radius-t;
		margin-bottom:0;
	}
	ul, ol {
		margin-left:0;
	}
	li {
		height: @customElementHeight;
		line-height: @customElementHeight; 
		text-indent: @customSpacing;
		.custom-border-b;
		&:last-child {
			border-bottom: none;
		}
	}
}




// ==========================================================================
// Section - main content
// ==========================================================================

#section {
	thead {
		th {
			text-align: center;
			&:first-child {
				text-align: left;
			}
		}
	}
	tbody {
		.checkbox {
			position: relative;
			top:5px;
		}
		td {
			text-align: center;
			&:first-child{
				text-align: left;
			}
		}
	}
	form {
		.gutter-t;
		.gutter-b;
		.gutter-l;
		&.form-horizontal {
			.controls {
				margin-left: 190px;
			}
			.control-label {
				width: 170px;
			}
		}
	}
}



// ==========================================================================
// Footer
// ==========================================================================
#footer {
	//.vertical-gradient-light-dark;
	background: @colorFour;
	.container {
		background: transparent;
	}
}



/*!
* 
* Custom changes ends here 
*
*/
