.vertical-gradient-light-dark (@startColor: @colorThree, @endColor: @colorThreeDark) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b9ca', endColorstr='#138f9d',GradientType=0 ); // IE6-8 
}


.bootstrap-input-glow{
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}


.primary-button-gradient (@startColor: @colorOne, @endColor: @colorOneDark) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
	border: 1px solid darken(@colorOneDark, 3%);
	border-color: darken(@colorOneDark, 3%) darken(@colorOneDark, 6%) darken(@colorOneDark, 5%);
	&:hover, 
	&:focus, 
	&:active, 
	&:disabled 
	{
		background: darken(@startColor, 1%);
	  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, darken(@endColor, 3%)), color-stop(1, darken(@startColor, 1%)));
	  background: -ms-linear-gradient(bottom, darken(@endColor, 3%), darken(@startColor, 1%));
	  background: -moz-linear-gradient(center bottom, darken(@endColor, 3%) 0%, darken(@startColor, 1%) 100%);
	  background: -o-linear-gradient(darken(@startColor, 1%), darken(@endColor, 3%));
	  border: 1px solid darken(@colorOne, 11%);
	  border-color: darken(@colorOne, 11%) darken(@colorOne, 14%) darken(@colorOne, 18%);
	}
}