// ==========================================================================
// Custom Colors
// ==========================================================================

// Theme Colors

// Amazon Color
@colorOneLight:			lighten(@colorOne, 10%);
@colorOne: 				#407A65;
@colorOneDark: 			darken(@colorOne, 10%);

// Amber Color 
@colorTwoLight:  		lighten(@colorTwo, 10%); 
@colorTwo: 				#DCB626; 
@colorTwoDark: 			darken(@colorTwo, 10%); 

// Sea Green Color
@colorThreeLight: 		desaturate(lighten(@colorThree, 45%), 25%);
@colorThree:        	#19B9CA;
@colorThreeDark: 		darken(@colorThree, 10%);

// Dark Eggplan Color
@colorFour:      		#554D57;



// ==========================================================================
// Custom Typography
// ==========================================================================

@customFontColor: @grayDark;
@customFontFamily: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@customFontSize: 13px;





// ==========================================================================
// Custom Spacing & Borders
// ==========================================================================

@customSpacing: 10px;
@gutter: @customSpacing;
@customElementHeight: 40px;
@customBorderColor: lighten(@grayLight, 25%);
