@charset "utf-8";
/* CSS Document */
@import url("ghixgrid.css");


/* HIX-32018, HIX-30580 issue seen only on Chrom browser, on Windows */
body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
/* HIX-32018, HIX-30580 ends */


body {
	padding-top: 20px;
	padding-bottom: 0;
}

a {border-bottom-color:transparent;}
#main {
  margin-top:20px;
}
#main .container, #topnav .container {
  background:#fff;
}
#container-wrap .container {
  background: #fff;
  margin-top: 28px;
  min-height: 600px;
}
#masthead.navbar {
  float:left;
}

#container-wrap, #main {
margin-top: 20px;
}

.navbar {
  margin-bottom:0;
}
/* .navbar .nav > li > a {
  padding: 10px 14px;
} */
#masthead .brand {
  font-weight:bold;
  color: #99cc00;
}

iframe {border: 0px;}
/********************* Navhelp bar ***********************/

#navhelp ul {
  float:right;
  margin-right:0;
}

#navhelp .navbar-inner {
    background-color: #FFF;
    background-image: none;
    background-repeat: repeat-x;
    border: none;
    box-shadow: none;
    min-height: 20px;
    padding-left: 20px;
    padding-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#navhelp .nav > li > a {
    padding: 2px 14px;
}

#navhelp.navbar .nav li.dropdown.open > .dropdown-toggle, 
#navhelp.navbar .nav li.dropdown.active > .dropdown-toggle, 
#navhelp.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}
.chat {
  margin:0 10px;
}
.chat ul {
  padding-bottom:10px;
}
#navhelp .nav > li.chat > a {
/*   background:transparent url(../img/chat-button.png) no-repeat 0 top; */
	text-transform: uppercase;
    padding: 1px 10px 1px 30px;
    border:1px solid #c2c2c2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#navhelp .nav > li.chat > a:before {
	content: "";
	font-family: "FontAwesome"!important;
	position: absolute;
	left: 10px;
}
#navhelp .nav > li.chat > a:hover, #navhelp .nav > li.chat > a:active   {
/*   background:transparent url(../img/chat-button.png) no-repeat 0 bottom; */
	color:white;
	text-shadow:none!important;
	border-top:1px solid #4ca8df;
	border-right:1px solid #3396d2;
	border-left:1px solid #3396d2;
	border-bottom:1px solid #2A7BAD; 
	background: #58b0e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #58b0e6 0%, #3295d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58b0e6), color-stop(100%,#3295d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58b0e6 0%,#3295d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58b0e6 0%,#3295d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58b0e6 0%,#3295d1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #58b0e6 0%,#3295d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58b0e6', endColorstr='#3295d1',GradientType=0 ); /* IE6-9 */
}
.chat li {
  background:transparent url(../img/chat-person.png) no-repeat 93% 31%;
}
.chat form {
  background:transparent url(../img/gi_footer_logo.png) no-repeat 5% 2%;
  padding:5px 10px 10px 10px;
}
.chat label {
  padding-left:47px;
  padding-bottom:70px;
}
/********************* Navhelp bar End ***********************/

/******************** help-shortcut ************************/

#navhelp .nav > li > a.helptip {
  padding:0;
}

.help-shortcut {
  list-style:none;
}

.help-shortcut > span.help-icon {
display: block;
cursor: pointer;
color: #A8A8A8;
font-weight: bold;
font-size: 12px;
line-height: 15px;
vertical-align: middle;
font-family: arial;
border: 2px solid rgba(51, 51, 51, 0.3);
width: 15px;
height: 15px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
margin:2px 0 0 8px;
}

.help-shortcut:hover > span.help-icon,
.help-shortcut:active > span.help-icon,
.help-shortcut:focus > span.help-icon {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    background-color: #1286CD;
    background-image: linear-gradient(#58B0E6, #3295D1);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    width: 20px;
  height: 19px;
  padding-top:2px;
  margin:0 0 0 5px;
}

#navhelp .nav > li > .help-panel:after {
    border-bottom: 6px solid #1F92D2;
}

#navhelp .pull-right > li > .dropdown-menu,
#navhelp .nav > li > .dropdown-menu.pull-right {
  right:-10px;
}

.help-panel {
  background-color:#1f92d2;
  padding:10px 15px 15px 15px;
  left:29px;
  color:#FFF;
  width:240px;
}

#navhelp h2 {
  font-size:18px;
  font-weight:normal;
  margin:0;
/*   border-bottom:1px solid #CCEBFF; */
}

#navhelp h3 {
  font-size:14px;
  font-weight:normal;
  margin: 15px 0 0;
  line-height: 30px;
}

#navhelp .dropdown-menu h3 a {
  padding-left:0;
  color:#FFF;
}

#navhelp .help-panel ul {
  list-style:none;
  width:100%;
}


#navhelp .help-panel a {
    color: #CCEBFF;
    white-space: normal;
    line-height: 16px;
    padding: 5px 10px 8px 18px;
}

#navhelp .dropdown-menu li > a:hover, #navhelp .dropdown-menu li > a:focus, #navhelp .dropdown-submenu:hover > a {
    background-color: #239EE0;
    background-image:none;
    color: #FFF;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#navhelp .dropdown-menu .btn-close {
  font-weight:bold;
  padding:3px 5px;
  margin-top:7px;
}


/******************** help-shortcut END ************************/

#titlebar h3, #main.titlebar h3 {
  line-height:20px;
  margin:0;
}
.premium small {
  display:block;
  font-size: 65%;
}
/*--generic--*/
.gutter10-b {
  padding-bottom: 10px;
}

.gutter10-lr {
  padding-left: 10px;
  padding-right: 10px;
}
.gutter10-tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.gutter10-trb {
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
}
.gutter10-rb {
 padding-right: 10px;
 padding-bottom: 10px;
}
.gutter10-trl {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.gutter10-rbl {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.gutter40-tb {
  padding-top:40px;
  padding-bottom:40px;
}

.gutter40-b {
  padding-bottom:40px;
}
.gutter40-tbl {
  padding-top:40px;
  padding-bottom:40px;
  padding-left: 40px;
}
h2 {
  margin-left:10px;
}
#footer.container ul.nav li {
  background:transparent;
  border:none;
  padding:3px 0;
}
#footer.container ul.nav li a {
  font-size:95%;
  padding:0 3px;
}
.form-actions {
  background-color:#fff;
}

.popover {
  background-clip:padding-box;
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:6px 6px 6px 6px;
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
  display:none;
  left:0;
  padding:1px;
  position:absolute;
  top:0;
  width:236px;
  z-index:1010;
}
.popover.top {
  margin-bottom:10px;
}
.popover.right {
  margin-left:10px;
}
.popover.bottom {
  margin-top:10px;
  z-index: 10001;
}
.popover.left {
  margin-right:10px;
}
.popover-title {
  background-color:#F7F7F7;
  border-bottom:1px solid #EBEBEB;
  border-radius:5px 5px 0 0;
  font-size:14px;
  font-weight:normal;
  line-height:18px;
  margin:0;
  padding:8px 14px;
}
.popover-content {
  padding:9px 14px;
}
.popover-content p, .popover-content ul, .popover-content ol {
  margin-bottom:0;
}
.popover .arrow, .popover .arrow:after {
  display:inline-block;
  height:0;
  position:absolute;
  width:0;
}
.popover .arrow:after {
  content:"";
  z-index:-1;
}
.popover .arrow, .popover .arrow:after {
  display:inline-block;
  height:0;
  position:absolute;
  width:0;
}
.popover .arrow:after {
  content:"";
  z-index:-1;
}
.popover.bottom .arrow {
  border-bottom-color:#fff;
  border-width:0 10px 10px;
  left:50%;
  margin-left:-10px;
  top:-10px;
}
.popover.bottom .arrow:after {
  border-bottom-color:rgba(0,0,0,0.25);
  border-width:0 11px 11px;
  left:-11px;
  top: -1px;
}
/*-- button style --*/
.btn-large {
  font-weight:bold;
}

#subnav { /* subnav will be eventually replaced by the new breadcrumbs style */
  margin-top:5px;
}

.box-loose { 
  background-color:#fff;
/*   border:1px solid #ddd; */
  border-radius:4px 4px 4px 4px;
  margin:15px 0;
  padding:29px 14px 19px 14px;
  position:relative;
}
.box-tight {
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:4px 4px 4px 4px;
  margin:10px 0;
  padding:9px;
  position:relative;
}
form.box-loose div:last-child {
  margin-bottom: 0;
}
/*------------ Button Styles -----------------------*/
/* .btn-primary { */
/*   background-color: #1286cd; */
/*   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008BD1), to(#5AB5ED)); */
/*   background: -webkit-linear-gradient(top, #5AB5ED, #008BD1); */
/*   background: -moz-linear-gradient(top, #5AB5ED, #008BD1); */
/*   background: -ms-linear-gradient(top, #5AB5ED, #008BD1); */
/*   background: -o-linear-gradient(top, #5AB5ED, #008BD1); */
/*   color:#fff; */
/*   text-shadow:0 -1px 0 rgba(0,0,0,0.25); */
/*   border: 1px solid #5EB2E5; */
/*   border-color: rgba(104, 186, 237, 1) rgba(94, 178, 228, 1) rgba(0, 134, 201, 1); */
/* } */

/* .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{ */
/*   background-color: #017CB2; */
/*   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007AED), to(#15ACED)); */
/*   background: -webkit-linear-gradient(top, #15ACED, #007AED); */
/*   background: -moz-linear-gradient(top, #15ACED, #007AED); */
/*   background: -ms-linear-gradient(top, #15ACED, #007AED); */
/*   background: -o-linear-gradient(top, #15ACED, #007AED); */
/*   color:#fff; */
/*   text-shadow:0 -1px 0 rgba(0,0,0,0.25); */
/*   border: 1px solid #58B4ED; */
/*   border-color: rgba(21, 172, 237, 1) rgba(94, 178, 228, 1) rgba(0, 122, 184, 1); */
/* } */


body#user-login .form-horizontal {
  margin-bottom:0;
}

label.radio {
  margin-right:15px;
}
.table td, .table th, .table thead th {
  vertical-align:middle;
/*   word-break: break-all; */
/*   word-wrap: break-word; */
}
.table td.txt-right, .table th.txt-right, .txt-right {
  text-align:right;
}
.table td.txt-center, .table th.txt-center {
  text-align:center;
}
.table td.txt-left, .table th.txt-left {
  text-align:left !important;
}
.table-border-none {
  margin-bottom:0;
  border: 0px;
}
.table-border-none th, .table-border-none td {
  border: none !important;
}
/*------------ Plan view styles ----------------------- JK
h4.planType {
  margin:2px 0 5px 0;
  -moz-border-bottom-colors:none;
  -moz-border-left-colors:none;
  -moz-border-right-colors:none;
  -moz-border-top-colors:none;
  -moz-user-select:none;
  background:-moz-linear-gradient(center top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100% ) repeat scroll 0 0 transparent;
  border-color:rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.4);
  border-image:none;
  border-style:solid;
  border-width:1px;
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  cursor:pointer;
  line-height:auto;
  outline:medium none;
  overflow:visible;
  white-space:nowrap;
  display:inline-block;
  border-radius :3px;
}
h4.planType small {
  color:#fff;
  line-height:.2em;
  padding:2px 4px;
  position:relative;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(0,0,0,0.25);
  white-space:nowrap;
  text-transform:uppercase;
  font-size:75%;
  top:-2px;
}
*/


ol.nav {
  padding:0;
}
ol.nav-list > li {
  background-color:#F7F7F7;
  list-style: decimal inside none;
  margin-left: 0;
  padding: 10px;
/*   border-bottom:1px solid #ddd; */
}
ol.nav-list > li > a {
  display: inline;
  margin-left: 0px;
  padding: 10px 3px;
  color:#666;
  line-height:22px;
}

ol.nav-list > li > a:hover {
  background-color:#F7F7F7;
}

/* ol.nav-list li.active, ul.nav-list li.active { */
/*   background:#51ABE2 url(../img/arrowleft-white.png) no-repeat right 50%; */
/*   font-weight:bold; */
/*   margin-left:0; */
/*   color:#fff; */
/* } */

ol.nav-list .done {
  background:#F7F7F7 url(../img/checkmark-gray.png) no-repeat 6px 14px;
  list-style:none;
}
ol.nav-list .done:hover {
  background:#DBF1FF url(../img/checkmark-gray.png) no-repeat 6px 14px;
  list-style:none;
  border-bottom:1px solid #CCECFF;
}
ol.nav-list .done a {
  margin-left:13px;
  color:#51ABE2;
}
ol.nav > .done > a:hover {
  background-color:#DBF1FF;
}
ol.nav-list .visited {
  list-style:decimal inside none;
  color:#51ABE2;
}
ol.nav-list > li.visited > a {
  color: #51ABE2;
}
ol.nav-list .visited:hover {
  background-color:#DBF1FF;
  border-bottom:1px solid #CCECFF;
}
ol.nav > .visited > a:hover {
  background-color:#DBF1FF;
}
ol.nav-list .link {
  list-style:decimal inside none;
}
ol.nav-list > li.link > a {
  cursor: default;
}
ol.nav.nav-list ol li {
  list-style:none;
  padding-top:6px;
}
ol.nav.nav-list  ol li.active {
  font-weight: bold;
  background: none;
  color: #666;
}
ol.nav.nav-list ol li a {
  color: #666;
}
ol.nav.nav-list ol li.active a {
  color: #666;
}
.blue-check {
	background: url('../img/blue-check.png');
}
/*-------------- End Left Column ol Wizard  ----------------*/
/*-------------- header  ----------------*/
.header {
  background-color: #C9C9C9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C9C9C9), color-stop(100%, #B3B3B3));
  background-image: -webkit-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: -moz-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: -ms-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: -o-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: linear-gradient(top, #C9C9C9, #B3B3B3);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9C9C9, endColorstr=#B3B3B3);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
/*   padding:10px; */
/*   border-radius:4px 4px 0 0 */
}
.header, 
h4.header,
#sidebar .header {
/* 	color: #666; */
/*     font-size: 1.1em; */
    font-weight: bold;
/*     vertical-align: middle; */
}
#sidebar .header,
table tr.header {
/*     line-height: 20px; */
/*     min-height: 17px; */
/*     max-height: 17px; */
/*     padding: 10px;    */
}
.header h4 {
	margin: 0;
/*     min-height: 23px; */
/*     max-height: 23px; */
}

/* .header th { */
/*   border-top:1px solid #E3E3E3 !important; */
/*   border-bottom:1px solid #E3E3E3;	 */
/*   color:#666; */
/* } */
/* .content-header {
  color:#00A0E2;
  padding:7px 10px;
  height:23px;
}

.header-reset {
	border-left: 1px solid #CCCCCC;
    float: right;
    height: 26px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    position: relative;
    top: -38px;
}*/

/*#-------------- header  ------- We could style all buttons to behave in header ---------*/
.btn-small {
    font-size: 11.9px;
/*     padding: 0 10px; */
}

/*-------------- Left Column ul Nav  ----------------*/
ul.nav {
  padding:0;
}
/* ul.nav-list > li { */
/*   background-color:#F7F7F7; */
/*   padding: 10px; */
/*   border-bottom:1px solid #dddddd; */
/* } */
#sidebar .nav-list li {
	
}
#sidebar .nav-list li.disabled > a {
color: #b3b3b3 !important;
}
ul.nav-list > li > a {
  margin:0;
  padding:0;
}

/*-------------- End Left Column ul Nav  ----------------*/

.graysidebar .accordion-inner {
  border:0px;
  padding:0px;
}
.graysidebar .accordion-group, .nav-tabs.nav-stacked>li>a {
  border:0px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  border-bottom:solid 1px #dddddd;
}
.graysidebar ul.nav {
  margin-bottom:5px;/*background:#dbe6e9;
  */
}

.graysidebar .nav-tabs>li>a {
  padding-left:0px;
}
.graysidebar ul.nav.active {
  list-style-type:decimal;
  margin-left:35px;
}
.graysidebar li.active {
  list-style-type:none;
}
.graysidebar .nav-tabs>.active>a, .nav-tabs>.active>a:hover {
  border:0px;
  border-bottom-color:transparent;
  cursor:default;
}
.graysidebar .nav-pills>li>a {
  padding-bottom:0px;
  padding-bottom:6px;
}
.graysidebar .accordion-heading .accordion-toggle {
  padding:10px;
  text-decoration:none;
}
.graysidebar .accordion {
  margin:10px 0;
}

.lightgray p {
  font-size:12px;
}
.whitebg {
  background:#fff;
}
.graysidebar .accordion-heading a {
  color:#555;
  padding:10px;
  margin:0;
padding: 10px;
line-height: 18px;
background-color: #C9C9C9;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#C9C9C9),color-stop(100%,#B3B3B3));
background-image: -webkit-linear-gradient(top,#C9C9C9,#B3B3B3);
background-image: -moz-linear-gradient(top,#C9C9C9,#B3B3B3);
background-image: -ms-linear-gradient(top,#C9C9C9,#B3B3B3);
background-image: -o-linear-gradient(top,#C9C9C9,#B3B3B3);
background-image: linear-gradient(top,#C9C9C9,#B3B3B3);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9C9C9, endColorstr=#B3B3B3);
border: 1px solid #E3E3E3;
border-left: none;
border-right: none;
}
#rightpanel h4.graydrkbg {
  margin:0;
  color:#555;
  background-color: #C9C9C9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C9C9C9), color-stop(100%, #B3B3B3));
  background-image: -webkit-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: -moz-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: -ms-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: -o-linear-gradient(top, #C9C9C9, #B3B3B3);
  background-image: linear-gradient(top, #C9C9C9, #B3B3B3);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9C9C9, endColorstr=#B3B3B3);

}

#rightpanel {
	overflow: auto;
}
.graysidebar a.accordion-toggle {
  font-size:14px;
  line-height:18px;
  font-weight:bold;
}
.graysidebar a.accordion-toggle:hover {
  text-decoration:none;
}
.graysidebar .nav>li>a:hover {
  text-decoration:none;
  background-color:transparent;
}
.graysidebar .graytitle h4 {
  background:#eee;
  padding:10px;
}
div#sidebar.span3 {
  margin-top:10px;
}
#sidebar h4, .gray h4 {
  padding:10px;
}
#sidebar h4 {
  margin:0;
  border-right:none;
  border-left:none;
  color:#666;
}

.graydrkbg {
/*   color:#666; */
}
.graydrkbg th, th.graydrkbg {
/*   height:28px; */
/*   font-size: 1.1em; */
}

.table thead th.graydrkbg {
  border-top:1px solid #E3E3E3 !important;
  border-bottom:1px solid #E3E3E3;
}

.graydrkbg td {
  color: #666;
}

.graydrkbg .caret {
  border-top-color:#666;
  border-bottom-color:#666;
}

th .caret {vertical-align : middle;}
th [class^="icon-"], th [class*=" icon-"] { padding: 4px; font-size: 14px;}

.graydrkaction h4, .graylightaction h4 {
  margin:4px 0 0 0;
}
/*.graydrkbg a {color: #fff;}*/
.gray h5 {
  color:#949494;
  font-size:11px;
  font-weight:normal;
  text-transform:uppercase;
}
h4.lightgray {
  padding:10px;
}
.error {
  display: block;
}
.error:after {
  content:"";
  display:table;
  clear:both;
}
/* #edit-button { JK*/
/*   margin-top:10px; */
/* } */
.margin0, .form-horizontal .margin0 {
  margin:0 !important;
}
.margin-top0 {
  margin-top:0;
}
#coverageStart_error {
  display:none;
}
.form-horizontal, #frmEmpAppAttestation .control-group .checkbox, #frmEmpAttestRslt .profile p  {
  clear:both;
}
#coverageStart_error {
  display:none;
}
div#sidebar.span3 {
  margin-top:0px;
}
/* i.icon-ok { */
/*   padding-right:10px; */
/* } */

.nav-tabs.nav-stacked>li>a:hover {
  border:0;
  text-shadow:none;
}
.ui-datepicker-trigger {
  padding-left:5px;
}
.close-white {
  color:#fff;
  opacity: 1;
  filter: alpha(opacity=100);
  text-shadow:0 1px 0 #3D3D3D;
}
#navtopview {
  width:100%;
    position: relative;
    text-align: center;
    top: 2px;
    border-top:4px solid #FBB450;
  margin-left: -10px;
    padding-left: 20px;
    z-index: 9;
}
#navtopview div {
  background-color:#FAA732;
  background-image:linear-gradient(to bottom,#FBB450,#F89406);
  background-repeat:repeat-x;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  padding:0 10px 4px 5px;
  position:relative;
  display:inline-block;
  border-bottom-right-radius:0.5em;
  border-bottom-left-radius:0.5em;
  z-index:10000;
  margin:0 auto;
}
#navtopview p {
  float:left;
  display:inline-block;
  margin:1px 0 0 7px;
}
#navtopview .btn {
  margin: 0 0 0 7px;
}

.pagination {
  margin:20px auto
}

ul.column li {
  width:40%;
  float:left;
  margin:0 0 0 10px;
}
.margin-top50 {
  margin-top:50px;
}
ul.right.dropdown-menu {
  left:-125px !important;
}
.marginL10 {
  margin-left:10px;
}
.padding0 {
  padding:0!important;
}
.txt-center {
  text-align:center;
}
.gray {
  color:#666;
}
.grayLight {
  color:#ccc;
}
.white {
  color:#fff;
}
.blur {
  color:#bbb;		
}
.paddingRL5 {
  padding: 0 5px;
}

.paddingR20 {
  padding-right:20px;
}


/*nav-steps*/
.nav-steps li {
  position:relative;
}
.completed {
  background:url(../images/ui-icons_0073ea_256x240.png) no-repeat scroll -66px -148px transparent;
  display:block;
  width:14px;
  height:10px;
  text-indent:-9999px;
  position:absolute;
  margin-top:-15px;
}
/*sub-menu*/
ul.sub-menu {
  margin:0;
  padding:0;
}
ul.sub-menu li {
  margin:0;
  padding:0 0 0 15px;
  list-style:none;
}
ul.sub-menu li a, ul.sub-menu li a:hover {
  color:#000;
  text-decoration:none;
  border-bottom-color:transparent;
}
ul.sub-menu li a.submenu-active {
  font-weight:bold;
}
.marginTop20 {
  margin-top:20px;
}
.pagination {
  /* width:311px; */
  margin:20px auto
}
ul.column li {
  width:40%;
  float:left;
  margin:0 0 0 10px;
}
.margin-top50 {
  margin-top:50px;
}
.txt-center, .center, .centr {
  text-align:center;
}
.txt-left {
  text-align:left;
}
.breadcrumb .divider {
  padding: 0 15px;
}
.margin-left0 {
  margin-left: 0px !important;
}
.marginL20 {
  margin-left:20px;
}
/* sidebar nav */

.accordion-nav, .sidenav {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
.sidenav {
  border: 1px solid #E5E5E5;
  border-radius: 4px 4px 4px 4px;
}
.accordion-nav .accordion-inner {
  padding:0
}
.accordion-nav .accordion-inner .nav-list {
  padding-left:0
}
.accordion-nav .accordion-inner > .nav-list > li.active, .accordion-nav .accordion-inner > .nav-list > li {
  padding-left:15px;
}
.sidenav .nav-stacked li.active, .nav-stacked li > a {
  transition: background 0.3s ease-in-out 0s;
}
.sidenav .nav-stacked li.active, .nav-stacked li.active > a {
  background-color:#51ABE2;
  color:#fff;
  text-shadow: 0px -1px #387fab;
}
.sidenav .selected {
  margin:0;
  background-color:#73beeb;
  padding-bottom:10px;
  color:#fff;
}
.sidenav .selected li {
  padding-left:20px;
  list-style:none;
  padding:5px 10px 5px 20px;
}
.sidenav .selected li.nav-header {
  color:#fff;
}

.light {
  opacity :.75;
  filter: alpha(opacity=75);
}
.lighter {
  opacity:.5;
  filter: alpha(opacity=50);
}
.control-group h3:after {
  content:"";
  display:table;
  clear:both;
}
.intro-indiv h4, .intro-indiv #titlebar h3 {
  color:#87a822;
}
.graydrkbg .even {
  background: #F9F9F9;
}
.paddingT5 {
  padding-top: 5px;
}
.row-fluid .control-group .paddingT5{
	font-weight: 700;
}


 
.nav-list > .active > a, .nav-list > .active > a:hover {
  background: none;
}
.gray h4.noBackground, .noBackground {
  background: none;
}
h4.review {
  color:#666;
}
h4.DocumentTxt {
  color:#3A87AD;
}

.table-border {
  border: 1px solid #DDD;
  border-collapse: separate;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-border td {
  border:0px;
}
.blue {
  background:#51ABE2;
  color:#fff;
}

ol.nav-list > li.list-style-none{
  list-style: none;
}

ul.marginT-10{
  margin-top:-10px;
}

.subtask-completed {
  background:url(../images/ui-icons_0073ea_256x240.png) no-repeat scroll -66px -148px transparent;
  display:block;
  width:14px;
  height:10px;
  text-indent:-9999px;
  position:absolute;
  margin:6px 0 0 -15px;
}

.paddingTB6{
  padding-top:6px; padding-bottom:6px; /*do not merge padding property. mainly used for input button*/
}

.marginL5{
  margin-left:5px;
}

.sidenavActive {
  background:#51ABE2 url(../img/arrowleft-white.png) no-repeat right 50%;
  font-weight:bold;
  color:#fff;
}
.inbox {
padding: 1px 4px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 15px;
font-size: 8.844px;
font-weight: bold;
line-height: 14px;
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
white-space: nowrap;
vertical-align: baseline;
background-color: red;
border: 2px solid white;
margin-left: 3px; 
}

.marginTop10 {
  margin-top:10px;
}

/* plan display breadcrumbs */
.marginR10{margin-right:10px;}
.hide, .highcharts-button {display:none;}
.superHide {display:none !important;}


/****************** Icons *********************/

i.icon-users {
  background-image: url("../img/glyphicons.png");
  background-position: -72px -96px;
}
i.icon-users.icon-white {
  background-image: url("../img/glyphicons-white.png");
  background-position: -72px -96px;
}
i.icon-activate {
  background-image: url("../img/glyphicons.png");
  background-position: -68px -143px;
  height:7px;
}
.dropdown-menu li > a:hover i.icon-activate {
	background-image: url("../img/glyphicons-white.png");
	background-position: -68px -144px;
	
}
i.icon-activate.icon-white {
  background-image: url("../img/glyphicons-white.png");
  background-position: -72px -143px;
}
a:hover i.icon-activate,
a:focus i.icon-activate,
a:active i.icon-activate {
  background-image: url("../img/glyphicons.png");
  background-position: -72px -143px;
}

i.icon-steps {
  background-image: url("../img/glyphicons.png");
  background-position: -218px -743px;
}

i.icon-steps.icon-white {
  background-image: url("../img/glyphicons-white.png");
  background-position: -218px -743px;
}


.caret-white, .nav .dropdown-toggle .caret-white {
  border-top-color:#fff;
  border-bottom-color:#fff;
}

.vertical-align-top, .table td.vertical-align-top {
  vertical-align: top;
  
}

/* Tooltip */
.inlineBlock {
	display: inline-block;
}
a[rel~="tooltip"]{
  
  text-decoration: none;
}
a[rel~="tooltip"] .icon-question-sign {
  /* padding:3px; */ 
  }
.tooltip {text-align: left; z-index: 1060;}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip-inner {
  max-width: 20em;
  padding: 10px 15px;
  color: #222;
  text-align: left;
  text-decoration: none;
  border:1px solid #777;
  border-top-color: #A6A6A6;
  background-color: #f7f7f7;
  font-size: 13px;
  line-height: 19px;
  box-shadow:  0px 4px 10px 0px rgba(10, 10, 10, .4);
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #666; 
  border-width: 5px 5px 0;
}
/* end to control tooltip question popover */
#footer #build {
  font-size:90%;
/*   visibility: hidden !important; */ /* HIX-25842 */
/*   opacity:0; */
}
#footer #buildshow {
  font-size:90%;
  visibility: visible;
}

#footer.container ul.nav li a:hover{
  background:none;
/*   color:#779F00 */
  }

#footer #twitter {
  background: transparent url('../images/footericons.png') no-repeat 0 0;
  width:23px;
  height:23px;
  text-indent:-9999px;
  padding:0;
  display:inline-block;
  
}
#footer a#twitter:hover {
  background-position: -23px 0;
}
  
  #footer #fb {
  background: transparent url('../images/footericons.png') no-repeat 0 -25px;
  width:23px;
  height:23px;
  text-indent:-9999px;
  padding:0;
  display:inline-block;
  }

  #footer #fb:hover {
  background-position: -23px -25px;
}


.breakword, .wrapword {
	word-wrap: break-word;
	word-break: break-all;
}
.bigModal {
	width: 730px;
	margin-left: -310px;
}
.modalsize-l {
	width: 1051px; /* increased size HIX-19095 */ 
	margin-left: -524px;
	top: 2% !important;
}
.bigModal .modal-body {
	max-height: 560px;
	clear:both;
	padding:0;
}



.form-small .form-horizontal .control-label {
	width:90px;
}

.form-small .form-horizontal .controls {
    margin-left: 110px;
}

.bg-none {
	background:transparent;
}

.popup-table td{padding:0 8px;}
/* .popup-address{margin-top:-295px;} */
.marginR20{margin-right:20px;}
.popup-table td{min-height: 0px !important;}

.link  {color: #0088cc !important; text-decoration: none !important;}
.link:hover {color: #005580 !important; text-decoration: underline !important;}
.clear {clear: both;}
.clrflt{clear:both;font-size: 0;line-height: 0;}
#date1{
	line-height: 15px;
	position: relative;
	left: 15px;
	top: 5px;
}
#date2{
	line-height: 15px;
	position: relative;
	left: 15px;
	top: 15px;
}
.enrollmentPeriodDate{
	margin-left: 30px;
	width: 22%;
	border: 1px solid transparent;
	border-radius: 6px;
	cursor: pointer;
	padding: 10px;
}
.enrollmentPeriodDate:hover, .gettingActiveDate{
	border: 1px solid #000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), to(#B3B3B3));
	background-image: -webkit-linear-gradient(top, #C9C9C9,#B3B3B3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#B3B3B3');
	background-image: -moz-linear-gradient(top, #C9C9C9,#B3B3B3);
	background-image: -ms-linear-gradient(top, #C9C9C9,#B3B3B3);
	background-image: -o-linear-gradient(top, #C9C9C9,#B3B3B3);
}
.paddingT20{
	padding-top: 20px;
}

.font10{
	font-size: 10px;
	line-height: 12px;
}
.marginL15{margin-left:15px;}
.enrollmentPeriodDate .icon-question-sign{height:16px; margin-top: -2px;}
.tableScroll{overflow-x: auto; overflow-y: hidden;}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
    clear: both;
}

	
		
.rows-section{border:1px solid #ccc; border-top:0;}
.headingGrey .graydrkbg th{background:#666 !important; color:#fff;}
.headingGrey td{border:0; padding:4px 8px; background:none; font-size:12px;}
.plan_border{border:1px solid #e0e0e0; padding:5px 0 0;}
.health_plan_logo{width:160px;}
.health_plan_name{width:250px;}
.health_plan_scheme, .premium_name{width:130px;}
.health_plan_rate, .total_prem_rate{width:120px;}
.health_plan_scheme p{margin:0;}
.health_plan_name h6{margin:0;}
.health_plan_name a{font-size:12px;}

.amount_pay{font-size:15px; font-weight:bold; margin:0;}
.total_amt{padding:5px 0; background:#5bb4db; margin:10px 0 0; color:#fff;}

.total-amount{padding:8px 8px 0; background:#0c9bd2;}

.premium_name p{font-size:13px; color:#fff;}
.total_prem_rate p{font-size:17px; font-weight:bold; color:#fff;}
.noBorder{border:0 !important;}
.register-message{background: yellow; padding:5px;}

#frmEditNoticeType fieldset legend{width:84%;}
	
#cke_template{width:485px !important;}
	
#external_template_err{display:none;}
.display_block{display: block !important;}



.hide_close_btn .ui-dialog-titlebar{display:none;}

.hide_close_btn #dialog-confirm, /*hix-24996*/.updateModalBox, .updateModalBox .modal-body{height: auto !important;}

.hide_close_btn .ui-dialog-buttonpane{border: none;}

.txt-bold{font-weight:bold;} /*Slated for delete Please use strong */

.graydrkaction a.btn{margin-top:6px;}	

.table td.valignTop, .calenderTable td{vertical-align:top;}

 input.width155{width: 155px !important;}
 .noresize{ resize:none;}
 
 a.ttclass{border-bottom: none;}
 a.ttclass i {
	display: inline;
	}

.form-actions input.btn[type="submit"]{height:30px;}

/*.table td{padding: 8px 11px;}  Please make this more specific. It's causing issues across the product */



/*serff page CSS*/
.dataRecords fieldset{border:1px solid #E1E8E9; padding:0 15px; background:#f6f6f6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.dataRecords fieldset legend{line-height:normal; margin-bottom:0; border:0; width:auto;}
.dataRecords .control-group{float:left; margin:20px 10px 0 0;}
.width112{width:112px;}
.width85{width:85px;}
.dataRecords .control-group:last-child{margin-right:0;}

.or-Text{float:left; padding:0 0 0 15px; margin-top:82px; font-weight:bold;}
.dataRecords .control-group .span12{margin-bottom:5px;}

#searchRecords{padding-bottom:20px;}
.table .attachments td{padding:0; margin:5px 0;}

.fileOpen{margin-right:25px;}

.width210{width:210px;}
.table td a.fileLink{border-bottom:1px solid #2977A7;}

.attach-active{background-color:#d3e7ec !important;}

.w90{width:90px;}
.w10{width:10px;}
.w120{width: 120px;}
.w200{width: 200px;}

 /*------------------------------------------------\
|            Proposed ghixcustom.css                |
 \------------------------------------------------*/
 

 /*------------------------------------------------\
|                      Spacing                      |
 \------------------------------------------------*/

/***************** Padding 0 **********************/
.gutter0      {padding: 0 !important;}
.gutter0-tb   {padding-top: 0; padding-bottom: 0;}
.gutter0-lr   {padding-left: 0; padding-right: 0;}
.gutter0-t    {padding-top: 0;}
.gutter0-l    {padding-left: 0;}
.gutter0-b    {padding-bottom: 0;}
.gutter0-r    {padding-right: 0;}

/***************** Padding 5 **********************/

.gutter5      {padding: 5px !important;}
.gutter5-tb   {padding: 5px 0;}
.gutter5-lr   {padding: 0 5px;}
.gutter5-t    {padding-top: 5px;}
.gutter5-l    {padding-left: 5px;}
.gutter5-b    {padding-bottom: 5px;}
.gutter5-r    {padding-right: 5px;}

/***************** Padding 10 **********************/

.gutter10     {padding: 10px !important;}
.gutter10-tb  {padding: 10px 0;}
.gutter10-lr  {padding: 0 10px;}
.gutter10-t   {padding-top: 10px;}
.gutter10-l   {padding-left: 10px;}
.gutter10-b   {padding-bottom: 10px;}
.gutter10-r   {padding-right: 10px;}

/***************** Padding 20 **********************/

.gutter20     {padding: 20px;}
.gutter20-tb  {padding: 20px 0;}
.gutter20-lr  {padding: 0 20px;}
.gutter20-t   {padding-top: 20px;}
.gutter20-l   {padding-left: 20px;}
.gutter20-b   {padding-bottom: 20px;}
.gutter20-r   {padding-right: 20px;}

/***************** Padding 40 **********************/

.gutter40     {padding: 20px;}
.gutter40-tb  {padding: 20px 0;}
.gutter40-lr  {padding: 0 20px;}
.gutter40-t   {padding-top: 20px;}
.gutter40-l   {padding-left: 20px;}
.gutter40-b   {padding-bottom: 20px;}
.gutter40-r   {padding-right: 20px;}

/***************** Margin 0 **********************/

.margin0      {margin: 0;}
.margin0-tb   {margin-top: 0; margin-bottom: 0;}
.margin0-lr   {margin-left: 0; margin-right: 0;}
.margin0-t    {margin-top: 0;}
.margin0-l    {margin-left: 0 !important;}
.margin0-b    {margin-bottom: 0;}
.margin0-r    {margin-right: 0;}

/***************** Margin 5 **********************/

.margin5     {margin: 5px;}
.margin5-tb  {margin: 5px 0;}
.margin5-lr   {margin: 0 5px;}
.margin5-t    {margin-top: 5px;}
.margin5-l    {margin-left: 5px !important;}
.margin5-b    {margin-bottom: 5px;}
.margin5-r    {margin-right: 5px;}

/***************** Margin 10 **********************/

.margin10    {margin: 10px;}
.margin10-tb {margin: 10px 0;}
.margin10-lr  {margin: 0 10px;}
.margin10-t   {margin-top: 10px;}
.margin10-l   {margin-left: 10px;}
.margin10-b   {margin-bottom: 10px !important;}
.margin10-r   {margin-right: 10px;}

/***************** Margin 20 **********************/

.margin20    {margin: 20px;}
.margin20-tb {margin: 20px 0;}
.margin20-lr  {margin: 0 20px;}
.margin20-t   {margin-top: 20px;}
.margin20-l   {margin-left: 20px;}
.margin20-b   {margin-bottom: 20px;}
.margin20-r   {margin-right: 20px;}

/***************** Margin 30 **********************/

.margin30      {margin: 30px;}
.margin30-tb   {margin: 30px 0;}
.margin30-lr   {margin: 0 30px;}
.margin30-t    {margin-top: 30px;}
.margin30-l    {margin-left: 30px;}
.margin30-b    {margin-bottom: 30px;}
.margin30-r    {margin-right: 30px;}

/***************** Margin 180 = .form-actions located in form (see bootstrap) **********************/

.margin180-l    {margin-left: 180px;}


/***************** Label margin **********************/

/* label.radio {margin-right:15px;} */

/***************** Border **********************/

.no-border 	   {border: none;}

 /*------------------------------------------------\
|                    Typography                     |
 \------------------------------------------------*/

/***************** Font size **********************/

/* h3      {font-size:18px;} */
/* h4      {font-size:1.1em; color:#666;}  */
/* .capitalize      {text-transform: capitalize;} */


/* label,  */
/* input,  */
/* button,  */
/* select,  */
/* textarea {font-size: 13px;} */

/* label,  */
/* input,  */
/* button,  */
/* select,  */
/* textarea {font-size: 13px;} */

/* .largest {font-size: } */
/* .larger {font-size: } */
/* .large {font-size: } */
/* .medium {font-size: } */
/* .normal {font-size: } */
/* .small {font-size: } */
/* .smaller {font-size: } */
/* .smallest {font-size: } */
/* .tiny {font-size: } */

 /*------------------------------------------------\
|                    Visibility                     |
 \------------------------------------------------*/

/***************** Hide **********************/ 

.hide       {display: none;}
.invisible  {visibility: hidden;}

/***************** Show **********************/ 

.show,
.block    {display: block;}
.visible  {visibility: visible;}


 /*------------------------------------------------\
|                    Alignment                      |
 \------------------------------------------------*/

/***************** Horizontal **********************/ 

/* .txt-center, */
/* .center       {text-align: center !important;} */
/* .txt-left     {text-align: left !important;} */
/* .text-right   {text-align: right !important;} */

/***************** Vertical **********************/ 

.vertical-align-top     {vertical-align: top;}
.vertical-align-middle  {vertical-align: middle;}
.vertical-align-bottom  {vertical-align: bottom;}


/*  /*------------------------------------------------\ */
/* |                    Tooltips                       | */
/*  \------------------------------------------------*/ 

/* a[rel~="tooltip"]{ */
/*   color:#333; */
/*   text-decoration: none; */
/* } */

/* a[rel~="tooltip"] .icon-question-sign { */
/*   padding:3px;  */
/*   } */

/* .tooltip {text-align: left; z-index: 1060;} */

/* .tooltip.in { */
/*   opacity: 1; */
/*   filter: alpha(opacity=100); */
/* } */

/* .tooltip-inner { */
/*   max-width: 20em; */
/*   padding: 10px 15px; */
/*   color: #222; */
/*   text-align: left; */
/*   text-decoration: none; */
/*   border:1px solid #777; */
/*   border-top-color: #A6A6A6; */
/*   background-color: #f7f7f7; */
/*   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#F0F0F0)); */
/*   background: -webkit-linear-gradient(top, #fff, #F0F0F0); */
/*   background: -moz-linear-gradient(top, #fff, #F0F0F0); */
/*   background: -ms-linear-gradient(top, #fff, #F0F0F0); */
/*   background: -o-linear-gradient(top, #fff, #F0F0F0); */
/*   font-size: 13px; */
/*   line-height: 19px; */
/*   box-shadow:  0 4px 10px 0 rgba(10, 10, 10, .4); */
/*   -webkit-border-radius: 4px; */
/*      -moz-border-radius: 4px; */
/*           border-radius: 4px; */
/* } */

/* .tooltip.top .tooltip-arrow { */
/*   bottom: 0; */
/*   left: 50%; */
/*   margin-left: -5px; */
/*   border-top-color: #666;  */
/*   border-width: 5px 5px 0; */
/* } */

/*  /*------------------------------------------------\ */
/* |                    Popovers                       | */
/*  \------------------------------------------------*/

/* .popover { */
/*   background-clip: padding-box; */
/*   background-color: #fff; */
/*   border: 1px solid rgba(0,0,0,0.2); */
/*   border-radius: 6px 6px 6px 6px; */
/*   box-shadow: 0 5px 10px rgba(0,0,0,0.2); */
/*   display: none; */
/*   left: 0; */
/*   padding: 1px; */
/*   position: absolute; */
/*   top: 0; */
/*   width:236px; */
/*   z-index:1010; */
/* } */

/* .popover.top { */
/*   margin-bottom:10px; */
/* } */

/* .popover.right { */
/*   margin-left:10px; */
/* } */

/* .popover.bottom { */
/*   margin-top:10px; */
/*   z-index: 10001; */
/* } */

/* .popover.left { */
/*   margin-right:10px; */
/* } */

/* .popover-title { */
/*   background-color:#F7F7F7; */
/*   border-bottom:1px solid #EBEBEB; */
/*   border-radius:5px 5px 0 0; */
/*   font-size:14px; */
/*   font-weight:normal; */
/*   line-height:18px; */
/*   margin:0; */
/*   padding:8px 14px; */
/* } */

/* .popover-content { */
/*   padding:9px 14px; */
/* } */

/* .popover-content p, .popover-content ul, .popover-content ol { */
/*   margin-bottom:0; */
/* } */

/* .popover .arrow, .popover .arrow:after { */
/*   display:inline-block; */
/*   height:0; */
/*   position:absolute; */
/*   width: 0; */
/* } */

/* .popover .arrow:after { */
/*   content:""; */
/*   z-index:-1; */
/* } */

/* .popover .arrow, .popover .arrow:after { */
/*   display:inline-block; */
/*   height:0; */
/*   position:absolute; */
/*   width:0; */
/* } */

/* .popover .arrow:after { */
/*   content:""; */
/*   z-index:-1; */
/* } */

/* .popover.bottom .arrow { */
/*   border-bottom-color:#fff; */
/*   border-width:0 10px 10px; */
/*   left:50%; */
/*   margin-left:-10px; */
/*   top:-10px; */
/* } */

/* .popover.bottom .arrow:after { */
/*   border-bottom-color:rgba(0,0,0,0.25); */
/*   border-width:0 11px 11px; */
/*   left:-11px; */
/*   top: -1px; */
/* } */

/*  /*------------------------------------------------\ */
/* |                      Tables                       | */
/*  \------------------------------------------------*/

/* .table td, .table th,  */
/* .table thead th { */
/*   vertical-align: middle; */
/* } */

/* .table-border-none {margin-bottom:0;} */
/* .table-border-none th,  */
/* .table-border-none td { */
/*   border: none; */
/* } */

/*  /*------------------------------------------------\ */
/* |                    Left Nav                       | */
/*  \------------------------------------------------*/ 

/* ol.nav { */
/*   padding:0; */
/* } */

/* ol.nav-list > li { */
/*   background-color:#F7F7F7; */
/*   list-style: decimal inside none; */
/*   margin-left: 0; */
/*   padding: 10px; */
/* } */

/* ol.nav-list > li > a { */
/*   display: inline; */
/*   margin-left: 0; */
/*   padding: 10px 3px; */
/*   color:#666; */
/*   line-height:22px; */
/* } */

/* ol.nav-list > li > a:hover { */
/*   background-color:#F7F7F7; */
/* } */

/* ol.nav-list li.active, ul.nav-list li.active { */
/*   font-weight:bold; */
/*   margin-left:0; */
/*   color:#fff; */
/* } */

/* ol.nav-list .done { */
/*   background:#F7F7F7 url(../img/checkmark-gray.png) no-repeat 6px 14px; */
/*   list-style:none; */
/* } */

/* ol.nav-list .done:hover { */
/*   background:#DBF1FF url(../img/checkmark-gray.png) no-repeat 6px 14px; */
/*   list-style:none; */
/*   border-bottom:1px solid #CCECFF; */
/* } */

/* ol.nav-list .done a { */
/*   margin-left:13px; */
/*   color:#51ABE2; */
/* } */

/* ol.nav > .done > a:hover { */
/*   background-color:#DBF1FF; */
/* } */

/* ol.nav-list .visited { */
/*   list-style:decimal inside none; */
/*   color:#51ABE2; */
/* } */

/* ol.nav-list > li.visited > a { */
/*   color: #51ABE2; */
/* } */

/* ol.nav-list .visited:hover { */
/*   background-color:#DBF1FF; */
/*   border-bottom:1px solid #CCECFF; */
/* } */

/* ol.nav > .visited > a:hover { */
/*   background-color:#DBF1FF; */
/* } */

/* ol.nav-list .link { */
/*   list-style:decimal inside none; */
/* } */

/* ol.nav-list > li.link > a { */
/*   cursor: default; */
/* } */

/* ol.nav.nav-list ol li { */
/*   list-style:none; */
/*   padding-top:6px; */
/* } */

/* ol.nav.nav-list  ol li.active { */
/*   font-weight: bold; */
/*   background: none; */
/*   color: #666; */
/* } */

/* ol.nav.nav-list ol li a { */
/*   color: #666; */
/* } */

/* ol.nav.nav-list ol li.active a { */
/*   color: #666; */
/* } */

/* /***************** Left Column ul Nav  *****************/

/* ul.nav { */
/*   padding:0; */
/* } */

/* ul.nav-list > li { */
/*   background-color:#F7F7F7; */
/*   padding: 10px; */
/*   border-bottom:1px solid #dddddd; */
/* } */

/* ul.nav-list > li > a { */
/*   margin:0; */
/*   padding:0; */
/* }  */


/*  /*------------------------------------------------\ */
/* |                Error handling                     | */
/*  \------------------------------------------------*/ 
/* /* */
/* .error { */
/*   display: block; */
/* } */

/* .error:after { */
/*   content:""; */
/*   display:table; */
/*   clear:both; */
/* } */ 

/*  /*------------------------------------------------\ */
/* |                    Clearfix                       | */
/*  \------------------------------------------------*/ 
/* /* */
/* .clearfix:before, */
/* .clearfix:after { */
/*     content: " "; 1 */
/*     display: table; 2 */
/* } */
/* /* */
/* .clearfix:after { */
/*     clear: both; */
/* } */

/* /** */
/*  * For IE 6/7 only */
/*  * Include this rule to trigger hasLayout and contain floats. */
 
/* .clearfix { */
/*     *zoom: 1; */
/*     clear: both; */
/* } */ 


/*  /*------------------------------------------------\ */
/* |                      Modals                       | */
/*  \------------------------------------------------*/ 

/* .biggerModal { */
	
/* } */
/* /* */
/* .bigModal { */
/* 	width: 710px; */
/* 	margin-left: -310px; */
/* } */

/* .bigModal .modal-body { */
/* 	max-height: 510px; */
/* 	clear:both; */
/* 	padding:0; */
/* } */ 

/* .smallModal { */
	
/* } */

/* .smallerModal { */
	
/* } */

/* /*.searchModal-body { */
/* 		width:100%; */
/* 		min-height: 385px; */
/* 		border: 0px; */

/* } */ 
	
/* .searchModal-header { */
/* 		border-bottom: 0; */
/* } */

/*  /*------------------------------------------------\ */
/* |                  Form Elements                    | */
/*  \------------------------------------------------*/ 
 
/*  .noresize {resize:none;} */

/*  /*------------------------------------------------\ */
/* |                  Background                       | */
/*  \------------------------------------------------*/ 

 .background-white {background: #fff !important; background-color: #fff !important;} 


.height26{height:26px;}/*used for button height across browser*/
.label-checkbox input{float:left; margin-right:5px;}
.label-checkbox span{float: left;}

/*ticket jsp pages css*/
.ticketTitle{background-color: #c9c9c9 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#b3b3b3)) !important;
  background: -webkit-linear-gradient(top, #c9c9c9, #b3b3b3) !important;
  background: -moz-linear-gradient(top, #c9c9c9, #b3b3b3) !important;
  background: -ms-linear-gradient(top, #c9c9c9, #b3b3b3) !important;
  background: -o-linear-gradient(top, #c9c9c9, #b3b3b3) !important; min-height: 30px;}
  .ticketTitle h4{max-height: none; min-height: 40px;}
  .ticketTitle span{font-size: 0.95em; line-height: 44px; color: #fff; }
  .ticketTitle a{color:#fff; text-decoration: underline;}
  .markCompleteHeader{padding:2px;}
  .markCompleteHeader h4{line-height: 35px; font-size:1.1em !important; color:#fff !important;}
  .dialogClose{background: #666666; border-radius: 16px 16px 16px 16px; color: #FFFFFF; margin: 0; opacity: 1; padding: 0; text-shadow: 0 1px 0 transparent; float:right; border:0;}
  .commentsBox{margin-bottom:10px;}
  .commentText{padding:5px 10px;  background-color: #f2f2f2; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px}
  textarea#comment{width:98%;}
  
  
  legend.customLegend {
	border-style: none;
	font-size: 13px;
	font-weight: normal;
	line-height:0;
  margin: 0px;
  }
  
  fieldset.edit-profile-fieldset{
    margin-bottom: 10px;
  }
	
	table.verticalThead tr th {
		background: #fff !important;
		color: #5A5A5A;
		font-weight: normal;
	}
.asterix{color:#f00;}

.page-breadcrumb li {
	display: inline;
	font-size: 11px;
	padding: 0;
	margin: 0 2px 0 0;
}

.page-breadcrumb li:first-child a {
  color: transparent;
  font-size: 0;
}
.page-breadcrumb li:first-child a:before {
  content: "";
  font-family: "FontAwesome" !important;
  font-size: 13px;
  color: #138F9D;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.page-breadcrumb li:first-child a:before:hover {
  color: #1f5a7e;
}
.page-breadcrumb li:after {
  content: "";
  font-family: "FontAwesome";
  font-size: 8px;
  margin: 0 10px;
}
.page-breadcrumb li:last-child:after {
  content: "";
}



#out-of-state .modal-header .close{margin-top:-7px}

.black{color:#000;}


/*participation detials page*/
.status_require_table ul li, .emp_enroll_table ul li{list-style-type: none;}
.emp_enroll_table ul li:first-child{background:#C9C9C9; padding:5px;}

.status_require_table ul li:before, .status_require_table ul li:after,.emp_enroll_table ul li:before,.emp_enroll_table ul li:after {
    content: " ";
    display: table; 
}

.status_require_table ul li:after,.emp_enroll_table ul li:after {
    clear: both;
}

.emp_enroll_table ul li{padding:0 5px;}

.width260{width: 260px;}
.width247{width:247px;}
.textareaH233{height:233px;}

/*  /*------------------------------------------------\ */
/* |                  Accessibility                    | */
/*  \------------------------------------------------*/

/* skip-link that skip navigation, hide offscreen */
a.skip-nav:link,
a.skip-nav:hover,
a.skip-nav:visited {
  position: absolute;
  top: -1000px;
}

/* make skip link visible when selected */
a.skip-nav:active,
a.skip-nav:focus {
  left: -135px;
  height: auto;
  width: auto;
  padding: 5px 10px;
  position: absolute;
  top: 0;
}


/* skip-link that skips menu, sidebar, and footer, hide offscreen */
a.skip-menu:link,
a.skip-menu:hover,
a.skip-menu:visited,
a.skip-sidebar:link,
a.skip-sidebar:hover,
a.skip-sidebar:visited,
a.skip-footer:link,
a.skip-footer:hover,
a.skip-footer:visited,
.offScreen{
  height: 1px;
  width: 1px;
  overflow:hidden;
  position: absolute;
}

/* make skip link visible when selected */
a.skip-menu:active,
a.skip-menu:focus,
a.skip-sidebar:active,
a.skip-sidebar:focus,
a.skip-footer:active,
a.skip-footer:focus {
  width: auto;
  height: auto;
  position: absolute;	
}

.headerLegend{
	border-bottom: 0;
	color: inherit;
}

legend.control-label {
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	border-bottom: 0;
}

.aria-hidden , .skip-sidebar, .skip-side-nav
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;

}


textarea {resize:none;overflow:auto;}

#frmsearchaffiliate table th, #frmsearchaffiliate table td{padding:4px;}

.parsley-error-list .required, .parsley-error-list .custom-error-message,.requiredError,.parsley-error-list .rangelength, .requiredError,.parsley-error-list .type,.parsley-error-list .range, .requiredError{color:red;}

.calenderTable td{position: relative;}
.font11{
	font-size: 11px;
}

/* .totalTable td h3, .totalTable td small{
	color:#FFFFFF !important;
} */

/* #errorBody p, .ui-dialog-title{font-family:"Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px;} */

.viewTD{
	width:200px !important;
	display:block;
	word-wrap:break-word;
}

.aff-greetings{
	vertical-align:top !important;
}

#startDateTd img, #endDateTd img {margin-left: -40px;}

.ui-autocomplete li{
	list-style:none !important;
	width:200px !important;
	border:none !important;
}

.ui-autocomplete{
	width:163px !important;
	
}

form label.error{
	height:auto !important;
}

/* .date-picker input[type="text"] {
    height: 30px !important;
} */

/* small{
	font-family: "Trebuchet MS","Times New Roman",Times,serif;
} */


legend.control-label {
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	border-bottom: 0;
}

#frmviewEntityContact .table th,
#frmviewpaymentinfo .table th,
#frmregistrationstatus .table th
#frmviewAssisterInformation.table th{
	background:none !important;
}

#frmbrokerProfile .btn-primary{
	width:auto !important;
	margin-left:20px !important;
}
.control-group.security-quest{
	margin-bottom:-8px !important;	
}
.control-group.security-ans{
	margin-bottom:25px !important;
}

#frmuserreg input#email:focus:invalid:focus ,#frmuserreg input#confirmEmail:focus:invalid:focus{
	border-color:#D6E2E3 !important;
	color:#000 !important;
	box-shadow:none !important;
}

#frmuserreg input#email:focus:invalid,#frmuserreg input#confirmEmail:focus:invalid{
	border-color:#D6E2E3 !important;
	color:#000 !important;
	box-shadow:none !important;
}

.form-horizontal .control-label{
	width: 165px;
}

#titlebar{
	margin-top:20px;
}

.editCommentBox{
	width:640px !important;
	word-wrap:break-word !important;
}

.modal-heading{
	background-color:#2E5949;
	color:#fff;
	font-weight: bold;
}
.btn-save {
    font-size: 12px;
    height: 22px;
    margin: 10px;
    min-width: 50px;
    padding: 0;
    width: 50px;
}

.btn-addpayment{
	padding:8px !important;
}

.datepicker-days tfoot {display:none;}
.datepicker-months table.table-condensed, .datepicker-years table.table-condensed { width: 100%}
#rightpanel .graylightaction {color: #fff;}

.tbl-uploadAttchmnt{
	width:350px;
	margin:0 auto;
}

.btn-attach{
	width:356px;
	margin:0 auto;
}


.addressErrModal {
    z-index: 1050;
}
#addressIFrame {
    z-index: 1052;
}
#frmbrokerProfile .checkbox{display:inline-block;}

.pull-right .hide_comment_btn{
	display:none;		
}

.paymentRadio {
    height: 175px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.small-icon img{
	float:right;
	height:30px;
}

.carrierlogo {margin: 0 auto;}
/* #alert{margin-left:-100px !important;} */

.cntrolgrp-frstname{
	width:50%;
	float:left;
}

.cntrolgrp-lastname{
	clear:right !important;
}
#iframeMain .markCompleteHeader .header{
font-family: "Merriweather", serif;
font-weight: normal!important;
font-size: 13px;
min-height: 20px;
background: #b3c4db url('../img/NM-header-BG.png') repeat top left !important;
height: 40px;
}
#iframeMain .markCompleteHeader .header h4 {
margin-left: 10px!important;
color: #666!important;
line-height: 40px!important;
font-weight: normal!important;
}

#iframeMain a.dialogClose {
background: transparent!important;
line-height: 40px;
margin-right: 10px!important;
color: #666!important;
margin: 0;
opacity: 1;
padding: 0;
text-shadow: 0 1px 0 transparent;
float: right;
border: 0;
border-radius: 16px 16px 16px 16px;
font-size: 13px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
}
#employeesummarypopup .modal-body{
	
padding: 0 !important;
}
.shellmodal-body {
	padding-left: 0;
	padding-right: 0;
}
.shellmodal-body #iframeMain .markCompleteHeader {
padding: 0px;
}
#empSumPopUp{
	padding-right: 20px;
	padding-left: 20px;
}
#body-employee #container-wrap .container .row-fluid h3{
	margin-top: 10px;
}
.margin68-t{
	margin-top:90px;	
}

/* HIX-24238 */
input[type="file"] {
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-overflow: ellipsis;
    width: 270px;
}
/* HIX-24238 ends */


/* Moved into ghixcustom_ms.less */
/* .btn-small{ */
/* 	margin:10px 5px !important; */
/* 	border-radius:2px; */
/* } */

.height30{height:30px;}

/*HIX-25892 to display DD even when it is blank*/	
.DDagentdetails:after {
    clear: both;
    content: "";
    display: table;
}

.hiddenInput{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity:0;
    opacity: 0;	
}
.hiddenInputBrowse{
	width:10px;
}

.label-Lowercase{
	text-transform:lowercase;
}

/* Search Modal Box  - main styles to keep here - to apply to both NM and MS. Color, fonts etc to be setup in profile specific css files... */
.searchModal-body {
		width:100%;
		min-height: 385px;
		border: 0px;
	}
	
.searchModal-header {
		border-bottom: 0;
	}
.agentClose {
	margin: 10px 15px -20px 0;
/* 	font-size: 35px; */
/* 	font-weight: normal; */
}
#frmbrokersearch .well{
	min-height: 260px;
	box-shadow: none;
}
#location_search.well {
	position: relative;
}
#location_search.well:after {
	content: " "; /* HIX - 32962/32465 */
	position: absolute;
	right: -37px;
	top: 40%;
	width: 32px;
	text-align: center;
	font-style: italic;
	font-size: 18px;
	background: none; /* color to setup in ghixcustom_*.less or quickfixes_*.css */
	color: #fff;
	border-radius: 34px;
	padding:15px 10px;
	text-transform: lowercase;
}

li#copyrights {
	margin-top: 7px;
}

.ms-esignature-agree{
	background-color: #C9C9C9;
    height: 200px;
    overflow: auto;
    padding: 20px;
    text-align: justify;
}

/* add and remove role */
#roleEdit label{	
	font-weight:bold;
	padding-bottom:10px;
}

#addRemoveDiv{
	text-align:center;
	margin-top:40px;
}

#addRemoveDiv a{
	margin-top:10px !important;
}

/* role change ms masthead */
#role-header-ms {
	position: relative;
	min-width: 330px;
}
#role-header-ms ul.nav{
       z-index:1000;
       position: absolute; 
       top:-42px;
       min-width: 535px;
       left: auto;
       right:0;
}
#role-header-ms ul.nav li {
	float: right;
}
#role-header-ms ul.nav li ul.dropdown-menu li {
	float: none;
}
#role-header-ms a{
	text-transform: capitalize !important;
}

#role-header-ms ul ul{
	margin-top: 5px;
	margin-right: 8px;
}

#role-header-ms ul ul a{
	padding: 0px 0 5px 10px !important;
}

#first-menu-bgcolor-ms{
	width: 100%;
	height: 25px;
	position: absolute;
}


.second-menu-ms {
	margin-top:-10px !important;
}


/* role change ms masthead */
#role-header-nm {
	position: relative;
}
#role-header-nm ul.nav{
	z-index:1000;
	position: absolute; 
	top:-20px;
	min-width: 535px;
	left: auto;
	right:0;	
}
#role-header-nm ul.nav li{
	float: right;
}
#role-header-nm ul.nav li ul.dropdown-menu li {
	float: none;
}
#second-menu-nm{
	/* margin-top: -10px !important; */
/* 	text-transform: uppercase !important; */ /* as per HIX-29057*/
}

.pointer-none{
	pointer-events: none;
	cursor:none\9;
	cursor:none\0;
}


#first-menu-bgcolor-nm{
	width: 100%;
	height: 25px;
	position: absolute;
}



/* account unlock */
#lockInfo{
	position: absolute;
	width: 300px;
	right: 80px;
}

#inactiveDormantInfo {
	position: absolute;
	width: 300px;
	right: 80px;
}

#inactiveInfo{
	position: absolute;
	width: 300px;
	right: 80px;
}

#accountLockedDiv{
	position:relative;
}
label[for="accountLocked"]{
	position:absolute;
	left: 300px;
	top: -30px;
}

.alert-error-custom{
	display: block; 
	margin: 10px 0 10px 0;
}


/* progressbar for lock and unlock */
#member-portal #step-progress {
  margin: 55px 0 0 0;
  background: #ffffff;
}

#member-portal #step-progress #progress-bar ul {
  margin: 0;
  padding: 0;
}

#member-portal #step-progress #progress-bar ul li {
  list-style: none;
  float: left;
  font-weight: 600;
  font-size: 15px;
  color: #999 !important;
  text-align: center;
  width: 37.6%;
  position: relative;
}

#member-portal #step-progress #progress-bar ul li:after {
  content: "";
  border: 8px solid #e6eaeb;
  position: relative;
  bottom: 40px;
  left: -7px;
  display: block;
}

#member-portal #step-progress #progress-bar ul li a.popup {
  color: #999 !important;
}

#member-portal #step-progress #progress-bar ul li a.popup .step-text {
  color: #999 !important;
}

#member-portal #step-progress #progress-bar ul li .s-no {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  top: -55px;
  left: 28%;
  border: 3px solid #e6eaeb;
  font-weight: 600;
  z-index: 1;
  color: #48a95e;
}

#member-portal #step-progress #progress-bar ul li.active-state {
  position: relative;
  color: #48a95e;
}

#member-portal #step-progress #progress-bar ul li.active-state .s-no {
  background: #82A4C9;
  color: #ffffff;
  font-size: 28px;
  line-height: 22px;
  border-color: #2E8ED6;
}

#member-portal #step-progress #progress-bar ul li.active-state .step-text:after {
  content: "You Are Here";
  position: absolute;
  font-size: 10px;
  border: 1px solid #48a95e;
  background: #48a95e;
  color: #ffffff;
  width: 95px;
  height: 24px;
  line-height: 24px;
  top: -90px;
  left: 9%;
  border-radius: 5px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#member-portal #step-progress #progress-bar ul li.active-state .step-text:before {
  content: "";
  position: absolute;
  top: -66px;

  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #48a95e;
  left: 34%;
}

#member-portal #step-progress #progress-bar ul li.active-state#step-one .step-text:after {
  left: 19%;
}

#member-portal #step-progress #progress-bar ul li.active-state#step-one .step-text:before {
  right: 58%;
}

#member-portal #step-progress #progress-bar ul li.active-state#step-two a {
  margin-left: -5px;
}

#member-portal #step-progress #progress-bar ul li.active-state#step-two .step-text:after {
  left: 19%;
}

#member-portal #step-progress #progress-bar ul li.active-state#step-two .step-text:before {
  right: 60%;
}

#member-portal #step-progress #progress-bar ul li.active-state#step-three .step-text:after {
  left: 14%;
}

#member-portal #step-progress #progress-bar ul li.active-state#step-three .step-text:before {
  right: 51%;
}

#member-portal #step-progress #progress-bar ul li.completed-state {
  position: relative;
}

#member-portal #step-progress #progress-bar ul li.completed-state .s-no {
  color: #ffffff;
}

#member-portal #step-progress #progress-bar ul li.completed-state .step-text:after {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  top: -41px;
  left: 81px;
  z-index: 1;
  color: #48a95e;
}

#member-portal #step-progress #progress-bar ul li#step-four .step-text:after {
  left: 52px;
}

#member-portal #step-progress #progress-bar ul li:last-child {
  width: 22.6%;
}

#member-portal #step-progress #progress-bar ul #step-one .step-text {
  margin-left: -51px;
}

#member-portal #step-progress #progress-bar ul #step-two a {
  margin-left: -35px;
}

#member-portal #step-progress #progress-bar ul #step-three a {
  margin-left: -24px;
}

#member-portal #step-progress #progress-bar ul #step-four a {
  margin-left: -17px;
}

#member-portal #oep-msg button {
  margin-top: 2%;
  font-size: 1.3em;
  padding: 7px;
  font-family: "Proxima-Nova", "san-serif";
}

.popover.steps-popup.top {
  margin-left: -4px;
  margin-top: -67px !important;
}

.well-nobg {
  background: transparent;
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-step {
  background: transparent;
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0 10px 20px 0;
  min-height: 20px;
  padding: 23px 5px 0px 19px;


}

.well-step .blurb {
  background-color: #f9f9f9;
  color: #666666;
  margin: 0 16px 8px 0;
  padding: 8px 15px 0 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.well-step .blurb h4 {
  color: #48a95e;
  background-color: transparent !important;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0 5px 10px;
  margin-bottom: 0;
  border-bottom: none !important;
}

#member-portal #step-progress #progress-bar ul li.completed-state .step-text:after
	{
	left: 50px;
}

#member-portal #step-progress #progress-bar ul #step-two .step-text {
	/* margin-left: -5px; */
}

#member-portal #step-progress #progress-bar ul li.active-state#step-two .step-text:before
	{
	right: 54% !important;
}
#step-four .step-text:before{
	right: 51% !important;
}

#member-portal #step-progress #progress-bar ul li .s-no{
	left: 24% !important;
}

#progress-bar .step5 { width: 20% !important;}
#progress-bar .step4 { width: 25% !important;}




/* HIX-31948 */
/* input.terminationPageTooltip {
	position: relative;
	display: inline-block;
}
.terminationPageTooltip:after {
	content: 'Terminating a health plan will also terminate your dental plan';
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 172px;
	min-height: 40px;
	border: 1px solid #e3e3e3;
	background: white;
	text-align: center;
	position: absolute;
	padding: 5px 14px;
	top: -74px;
	left: -96px;
	opacity: 0.9;
	line-height: 18px;
}

.terminationPageTooltip:before {
	content: '\f0d7';
	font-family: "FontAwesome";
	color: #e3e3e3;
	position: absolute;
	top: -16px;
	left: 0;
	font-size: 20px;
} */
div.header div.span4 {
	position: relative;
}
span.terminationPageTooltip {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 172px;
	min-height: 40px;
	border: 1px solid #e3e3e3;
	background: white;
	text-align: center;
	position: absolute;
	padding: 5px 14px;
	top: -70px;
	left: -74px;
	line-height: 18px;
	color: #333;
}
span.terminationPageTooltip:before {
	content: '\f0d7';
	font-family: "FontAwesome";
	color: #e3e3e3;
	position: absolute;
	top: 59px;
	left: 93px;
	font-size: 20px;
}
/* HIX-31948 ends */

/* RIDP */

#ridp-code{
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-size: 16px;
	color: #990033;
}
/* HIX - 32962/32465 */
#profile-info tr td,#frmassisterdetail tr td{vertical-align: top;}  

.parentCareTaker{
	display:none;
}

.hideIt{
	display:none !important;
}

.nav-collapse a{
	padding: 12px 10px 8px !important;
}

.marginT-5{margin-top:-5px !important;}


#plandetails {
    padding: 10px;
}

.txt-justified{
	text-align: justify;
}

#noticeElementsDialogDiv{
	height: 205px;
    overflow-y: scroll;
}

/*HIX-39743 */
#masthead .nav li a{margin:0 !important}
/*HIX-39743 ends*/
