<p>	<title th:remove=\"all\"></title></p><p>	
<meta content=\"text/html; charset=UTF-8\" http-equiv=\"Content-Type\" /></p><p>

Welcome <span>${consumerName}</span>, </br> 

A record has been created for you on the GHIXQA Exchange. Please click on below link or copy and paste it in your browser.  <a href=${activationUrl} target="_blank">${activationUrl}</a> </br> </br>

This is a one-time login, so it can be used only by once. This link expires after ${expirationDays} days. </br> </br>

Thank you!</br> 
${exchangeName} </br> 
${exchangeURL} </br>
${exchangePhone} </br> </br>
