body {
	margin: auto;
	padding: 0;
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#2B2B2B;
}


.wrapper{
	height:950px;
	width:700px;
	margin:auto;
}

.header{
	font-size:14px;
}

.main{
	margin:50px 50px 0 50px;
	height: 750px;
	line-height:22px;
}

table thead tr td.vertBottom small{
	line-height:12px;
}

.footer{
	height:50px;
	width:100%;
	border-top:#9ED18E 1px solid;
	text-align:center;
	font-size:11px;
}

.pull-right{
	float:right;
}

.pull-left{
	float:left;
}

.ta-right{
	text-align:right;
}

.vertBottom {
	vertical-align: bottom;	
}

.vertTop {
	vertical-align: top;	
}

td.vertTop.ta-right{
	vertical-align:top;
}

td{
	padding-bottom:20px;
}

div.vertTop p small a.pull-right{
	margin-top:-15px;
}

hr{border:1px solid #9ED18E; background: #9ED18E;}