
@font-face {
    font-family: 'Gudea';
    src: url('../fonts/gudea-regular-webfont.eot');
    src: url('../fonts/gudea-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-regular-webfont.woff') format('woff'),
         url('../fonts/gudea-regular-webfont.ttf') format('truetype'),
         url('../fonts/gudea-regular-webfont.svg#gudearegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gudea';
    src: url('../fonts/gudea-bold-webfont.eot');
    src: url('../fonts/gudea-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-bold-webfont.woff') format('woff'),
         url('../fonts/gudea-bold-webfont.ttf') format('truetype'),
         url('../fonts/gudea-bold-webfont.svg#gudeabold') format('svg');
    font-weight: bold;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
	font-family: 'Gudea', sans-serif;
}

.header{
	border-bottom: 2px solid #999999;
	min-height: 60px;
	text-align: right;
	background: #f5f5f5;
	padding-right: 50px;
}

.content{
	max-width: 870px;
	margin: 20px auto;
}

h1{
	color: #489c12;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 15px;
}

.generic-button{
	border: 0px;
	color:white;
	height: 33px;
	width: 130px;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: none;
	background: #3d8fb7;
	background: -moz-linear-gradient(top, #3d8fb7 0%, #3d8fb7 50%, #004f8a 51%, #004f8a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d8fb7), color-stop(50%,#3d8fb7), color-stop(51%,#004f8a), color-stop(100%,#004f8a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3d8fb7 0%,#3d8fb7 50%,#004f8a 51%,#004f8a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3d8fb7 0%,#3d8fb7 50%,#004f8a 51%,#004f8a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3d8fb7 0%,#3d8fb7 50%,#004f8a 51%,#004f8a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3d8fb7 0%,#3d8fb7 50%,#004f8a 51%,#004f8a 100%); /* W3C */
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
}

.yhi-button {
	border: 0px;
	background: #0081a0;
	border-radius: 5px; 
	color:white;
	height: 33px;
	width: 130px;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: none;
}

.idalink-button {
	border: 0px;
	color:white;
	height: 33px;
	width: 130px;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: none;
	background: #3d8fb7;
	background: -moz-linear-gradient(top, #92b63a 0%, #92b63a 50%, #548a00 51%, #548a00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92b63a), color-stop(50%,#92b63a), color-stop(51%,#548a00), color-stop(100%,#548a00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #92b63a 0%,#92b63a 50%,#548a00 51%,#548a00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #92b63a 0%,#92b63a 50%,#548a00 51%,#548a00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #92b63a 0%,#92b63a 50%,#548a00 51%,#548a00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #92b63a 0%,#92b63a 50%,#548a00 51%,#548a00 100%); /* W3C */
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
}

input[type='submit'], button{
	cursor: pointer;
	line-height: 33px;
}

input[type='submit'] span, button span {
	background: url(../img/next.png) no-repeat center center;
	display: inline-block;
	margin-left: 5px;
	height: 18px;
	width: 17px;
	top: 3px;
	position: relative;

}

.logos {
	max-width: 7000px;
	margin: 20px auto;
	clear:both;
}



.logos form {
	float: left;
	width: 49%;
	text-align: center;
	padding: 20px 0;
}

.yhi-form {
	border-right: 1px solid #999999;
}

