/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
body {
    font-family: "Avenir LT 55 Roman", Arial, Sans-serif;
    background-color:#ffffff;
    font-size: 14px;
    color: #333333;
}

@font-face {
    font-family: "Avenir LT 55 Roman";
    font-style: normal;
    font-weight: normal;
    src:
    url("./assets/fonts/Avenir-Roman-webfont.ttf") format("truetype"),
    url("./assets/fonts/Avenir-Roman-webfont.woff") format("woff"),
    url("./assets/fonts/Avenir-Roman-webfont.eot") format("embedded-opentype") ,
    url("./assets/fonts/Avenir-Roman-webfont.svg") format("svg")
    ;
}

@font-face {
    font-family: "Avenir LT 55 Roman";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Avenir55Roman.woff2");
}

@font-face {
    font-family: "Glypha LT Bold";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/glyphaLtBold.woff2");
}


.question-header {
    background-color: #eaf0f7;
    font-size: 1rem;
    line-height: 24px;
    font-family: "Avenir LT 55 Roman", Times, Serif;
    color: #153259;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 3%;
    border-top: 1px solid #326fb6;
}

div.alert {margin-top:5px}

.alert p, .alert h5 {margin-bottom:0}


.acc_hidden{
    display: none !important;
}

.danger {
    color:#dd1f17
}


.form-group {

    margin-bottom: 3%;

    .control-label {
        display: block;
        text-transform: uppercase;
    }
}


.form-control {
    height: 50px;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-color: #f3f3f3;
    border: 0px;
    border-left: 3px solid #409c21;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    margin-bottom: 3%;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;

    &:focus {
        border-color: #326fb6;
        background-color: #f3f3f3;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #326fb6;
    }
}

.form-control-danger {
    border: 3px solid #dd1f17;
    border-style: dashed;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    &:focus {
        border-color: #dd1f17;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    }
}

.alert-danger {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
    color: #dd1f17;
    font-style: italic;
}



.link {

}


.card {
    border: 1px solid #326fb6;
    border-radius: 0px;
    margin-bottom: 5%;
}

.card-block {
    padding: 10px 15px;
    color: #777777;
}

.card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: #153259;
    padding: 8px 16px;
    background-color: #eaf0f7;
    border: none;
    font-size: 16px;

    i {
        color: #153259;
    }

    legend {
        margin: 0;
    }

    button {
        border: none;
        background: transparent;
    }
}



input[type=radio] {
    margin-right: 10px;
    margin-bottom: 10px;
}

legend {
    font-size: 16px;
}

.btn {
    padding: 6px 12px;
    height: 40px;
    width: 100%;
    min-width: 60px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 3%;
}

.btn-secondary {
    color: #1f4270;
    background-color: #f3f3f3;
    border: 1px solid black;
    font-weight: bold;
    width: 100%;

    &:hover {
        background-color: #4a4a4a;
    }
}

.btn-primary {
    background-color: #246312;
    border: 0px;
    &:hover {
        background-color: #37871d;
    }
}



.btn-group-toggle {

    width: 100%;
    padding: 0px;

    .bracket-left {
        display: none;
        line-height: 46px;
        float: left;
        margin-left: 10px;
        font-size: 36px;
        color: #1f4270;
    }

    .bracket-right {
        display: none;
        line-height: 46px;
        float: right;
        margin-right: 10px;
        font-size: 36px;
        color: #1f4270;
    }

    label {
        font-size: 14px;
        height: 50px;
        width: 100%;
        border: 1px solid #1f4270;
        background-image: none;
        background-color: #ffffff;
        border-radius: 0px;
        text-transform: uppercase;
        line-height: 50px;
        padding: 0px;
        transition: none;

        &:hover {
            background-color: #ffffff;
            .bracket-left { display: block; }
            .bracket-right { display: block; }
        }

        &.active {
            background-image: none;
            background-color: #1f4270;
            color: #fff;
            border: 1px solid #1f4270;

            &:hover {
                .bracket-left { color: #ffffff; }
                .bracket-right { color: #ffffff; }
            }

        }

        &.focus {
            background-image: none;
            background-color: #1f4270;
            color: #fff;
            border: 1px solid #1f4270;
        }
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    input[type=radio] {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;

    }
}



.section-divider {
    border-bottom: 1px solid #326fb6;
    margin-top: 5%;
    margin-bottom: 5%;
}


