<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Employer Registration Email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
		Dear  <span th:text="${name}">uuuu</span> ,
		<p>
			Your account has been created! To complete registration,  
			click on the below link to confirm your e-mail address.
		</p>
		<p>
			http://localhost:8080/hix/account/user/login
		</p>
		<p>
			Thank you!
		</p>
    </body>
</html>