@charset "utf-8";
/* CSS Document */

@import url("ghixgrid.css");
@import url(//fonts.googleapis.com/css?family=Droid+Sans);



body{
background: -moz-linear-gradient(center top, #fff, #ededed) !important;
background: -webkit-linear-gradient(center top, #fff, #ededed) !important;
padding-top: 40px;
padding-bottom: 0px;
font-family:  "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
font-size:13px;


}

h4 {
	font-size:14px;
}




#main {
	background:transparent;
	margin-top:20px;
}
#main .container, #topnav .container {
	background:#fff;
}
#main .container{
box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/*
#masthead.navbar {
	border-bottom: solid 4px #99cc00;
	font-family:"Droid Sans", Arial, Sans-serif;
	font-weight:normal;
	font-size:95%;
}
*/

#masthead.navbar .nav {
	float:right;
}

/*
#masthead.navbar-inverse .navbar-inner {
    background-color: #1B1B1B;
    background-image: -moz-linear-gradient(center top , #4d4d4d, #343434);
    background-repeat: repeat-x;
    border-color: #252525;
}
*/

/***  Hawaii Mast   ***/

#masthead.navbar-inverse .navbar-inner {
    /*background-color: #2375B6;
    background-image: -moz-linear-gradient(center top , #1494D0, #155C9F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1494D0), to(#155C9F));
    background-image: url('../eligibility/img/bg-head.png');*/
    background-image: url('../img/nm_header_bg_light.png');
    background-repeat: repeat-x;
    border-color: #252525;
}

body #masthead.navbar {
	border-bottom: solid 5px #98BC05; /*originla green: 9ECE00;  new green: 98BC05*/
    /*border-bottom: solid 4px #005588; /* dark blue */
    /*border-bottom: solid 4px #749603; /* dark green */
    /*border-bottom: solid 4px #0088CC; 
    /*border-bottom: solid 4px #23357b; /* blue */
	font-family:"Droid Sans", Arial, Sans-serif;
	font-weight:normal;
	font-size:95%;
}

body .navbar-inverse .brand, body .navbar-inverse .nav > li > a, body .navbar .nav > li > a {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Droid Serif', Arial, Sans-serif;
	/*font-size:1em;
	font-weight:700;*/
    font-size: 95%;
    font-weight: normal;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    background-color: transparent;
    /*color: #EFAA75;*/
    color: #e3e3e3;
}

#masthead a.brand, .topbar .brand {
    float: left;
    font-family: 'Rokkitt',serif;
    font-size: 30px;
    font-weight: bold;
	color:#FFFFFF;
    margin-left: -5px;
    padding: 11px 0 0 0;
    text-shadow: 0.025em 0.025em 0.025em #333333;
}

/***  Hawaii Mast End  ***/


#masthead .brand {
	font-weight:bold;
	color:#99cc00;
}


#titlebar, #main.titlebar{
	background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #fff 100%);
    background-repeat: repeat-x;
    /*border-top: 1px solid #99cc00;*/
	border-bottom:solid 1px #99cc00;
    border-radius: 0;
 
}


/*--generic--*/

.gutter10 {
	padding:10px;
}

h2 {
	margin-left:10px;

}

#footer.container ul.nav li a {
	font-size:95%;
}

footer p#copyrights {
	color:#999;
	font-size:90%;
	font-family:"Droid Sans", Arial, Sans-serif;
}

#footer a {
	font: normal .75em "Droid Sans", Arial, Sans-serif;
	color: #797979;
	
}

/*------------Bread Crumb Styles--------------*/

.breadcrumb-bar {
	height:40px;
	z-index:20;
}
.breadcrumb  {
	/* background:url(../img/bg-hline.png) repeat-x 0 60% !important; */
	border:none;
	margin:0;
	z-index:30;
}

.breadcrumb  li {
	padding-right:10px;
	color:#A0A0A0;
}

	
.breadcrumb .dot {
	float:left;
	background:#D8D8D8;
	width:18px;
	height:14px;
	border:2px solid #AAAAAA;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
	font-size:1em;
	font-weight:bold;
	color:#AAAAAA;
	text-align:center;
	margin-right:5px;
	line-height: 12px;
	padding-top:2px;
}

.breadcrumb .active .dot, .breadcrumb a:hover .dot {
	background: none repeat scroll 0 0 #99CC00;
    border: 2px solid #74B33C;
    border-radius: 18px 18px 18px 18px;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
    color: #FFFFFF;
    float: left;
    font-size: 1em;
    font-weight: bold;
    height: 14px;
    line-height: 12px;
    margin-right: 5px;
    padding-top: 2px;
    text-align: center;
    width: 18px;
}

.breadcrumb li > a:hover {
	text-decoration:none;
	color:#6FB449;
}
.breadcrumb li > a:hover  em {
	color:#6FB449;
	
}


.breadcrumb .active em strong {
	color:#6FB449;
}

.breadcrumb{
	text-align:center;
}

.breadcrumb-bar hr.strike {
	margin:0;
	position:relative;
	top:-20px;
    z-index: 25;
}

.breadcrumb li > a > em {
	background:#fff;
	font-style:normal;
	color:#A0A0A0;
}

/*----------End Bread Crumb Styles------------*/



.popover {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 0;
    width: 236px;
    z-index: 1010;
}
.popover.top {
    margin-bottom: 10px;
}
.popover.right {
    margin-left: 10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-right: 10px;
}
.popover-title {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
}
.popover-content {
    padding: 9px 14px;
}
.popover-content p, .popover-content ul, .popover-content ol {
    margin-bottom: 0;
}
.popover .arrow, .popover .arrow:after {
    border-color: transparent;
    border-style: solid;
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0;
}
.popover .arrow:after {
    content: "";
    z-index: -1;
}

.popover .arrow, .popover .arrow:after {
    border-color: transparent;
    border-style: solid;
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0;
}
.popover .arrow:after {
    content: "";
    z-index: -1;
}

.popover.bottom .arrow {
    border-bottom-color: #FFFFFF;
    border-width: 0 10px 10px;
    left: 50%;
    margin-left: -10px;
    top: -10px;
}
.popover.bottom .arrow:after {
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-width: 0 11px 11px;
    left: -11px;
    top: -1px;
}


/*-- button style --*/

.btn-large {
	font-weight:bold;
}

#subnav {
	margin-top:5px;
}

.dropdown {
    /*top:2px;	*/
}

.box-loose {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 29px 14px 19px 14px;
    position: relative;
}

.box-tight {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 9px;
    position: relative;g
}


form.box-loose div:last-child {
	margin-bottom:0;
}


/* button styles */

.btn-primary {
    background-color: #0e9bd2;
    background-image: -moz-linear-gradient(center top , #1db4e0, #0082c4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

body#user-login .form-horizontal {
	margin-bottom:0;
}

/* --Custom labels-- */
.stacked-labels {
	padding-top: 5px;
margin: 10px 0;
	}

.span12::-webkit-scrollbar {
 width: 10px;
 height: 10px;
}
 
.span12::-webkit-scrollbar-track {
 background: #fff;
}
 
.span12::-webkit-scrollbar-thumb {
 background:#bbb;
}

.table td.txt-right {text-align:right;}

.modal .hide {display:none;}
form.form-vertical .span5 {padding:5px 0;}
.person {padding: 15px 0;}

.row-fluid ul li.active a {background:#08C; color:#fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);}
.row-fluid ul li.active a:hover {background:#08C; color:#fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);}
/*ul li a i.icon-chevron-right {float:right;}*/

.logo-img{
    background-image: url('../eligibility/img/bg-head.png');   
}

.margin-right{
    margin-right:10px;
}
.margin-left {
    margin-left:10px;
}
.padding-sides{
    padding-right: 20px;
    padding-left: 20px;
}
.well {
    _margin-bottom:0;
}
.blue {
    color: #0088CC;
}
.blue:hover{
    color: #0088cc;
    text-decoration: underline;
    cursor: pointer;
}
.box{
    margin-bottom: 30px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #FFFFFF;
}
#titlebar, #main.titlebar {
  border-bottom: 1px solid #666;
  border-radius: 0 0 0 0;
}
#masthead a.brand-nm, .topbar .brand-nm {
  color: #FFFFFF;
  font-family: 'Droid Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-indent: 30px;
  text-shadow: 0.025em 0.025em 0.025em #333333;
}

        .row-fluid .span12 {
          width:99.9%;
        }
        .clear {
          clear:both;
          display:block;
          margin-top:5px;
        }
        .form-vertical hr {
          margin: 10px 0;
          clear: both;
          display: block;
        }
        h4 {
          font-size:18px;
          line-height:30px;
          padding:10px 0 0;
        }
        h5 {
          padding:10px 0 0;
        }
        input.no-margin {
          margin:0;
        }
        input.txt-center {
          text-align:center;
        }
        .tab-content {height:250px;}
        .help-inline {
          color: red;
          backround-color: inherit;
          font-weight: bold;
        }