@charset "utf-8";
/* CSS Document */

/***  Hawaii Mast   ***/

#masthead.navbar-inverse .navbar-inner,
#masthead.navbar .navbar-inner {
    /*background-color: #2375B6;*/
    background-color: black;
    /*background-image: -moz-linear-gradient(center top , #1494D0, #155C9F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1494D0), to(#155C9F));
    background-repeat: repeat-x; */
    border-color: #252525;
}

#masthead.navbar {
	border-bottom: solid 6px #E86800;
	font-family:"Droid Sans", Arial, Sans-serif;
	font-weight:normal;
	font-size:95%;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a,
.navbar .nav > li > a {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Rokkitt',serif;
	font-size:1.2em;
	font-weight:700;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover,
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    /*color: #EFAA75;*/
    color: #e3e3e3;
}

#masthead a.brand, .topbar .brand {
    float: left;
    font-family: 'Rokkitt',serif;
    font-size: 30px;
    font-weight: bold;
	color:#FFFFFF;
    margin-left: -5px;
    padding: 11px 0 0 0;
    text-shadow: 0.025em 0.025em 0.025em #333333;
}

#masthead a.brand-ms, .topbar .brand-ms { 
    float: left;
    font-family: 'Droid Serif',Georgia,Times,serif;
    font-size: 18px;
	color:#FFFFFF;
    margin-left: -15px;
    padding: 11px 0 10px 20px;
    text-shadow: 0.025em 0.025em 0.025em #333333;
    text-decoration: none;
}
#masthead a.brand-ne, .topbar .brand-ne {
    background: url("../img/ne_header_logo.png") no-repeat scroll left 2px transparent;
    color: #FFFFFF;
    float: left;
    font-family: 'Droid Serif',Georgia,Times,serif;
    font-size: 18px;
    margin-left: -15px;
    padding: 11px 0 10px 40px;
    text-decoration: none;
    text-shadow: 0.025em 0.025em 0.025em #333333;
}

#masthead a.brand-nm, .topbar .brand-nm {
    background: url("../img/nm_header_logo.png") no-repeat scroll left 2px transparent;
    color: #FFFFFF;
    float: left;
    font-family: 'Droid Serif',Georgia,Times,serif;
    font-size: 18px;
    margin-left: -15px;
    padding: 11px 0 10px 15px;
    text-decoration: none;
    text-shadow: 0.025em 0.025em 0.025em #333333;
    text-indent: 30px;
}
.navbar .nav > li > a {
	padding:10px 5px;
}

.navbar-inverse .nav > li > a {
	padding:10px 10px 9px 0px;
}


/***  Hawaii Mast End  ***/

