@charset "utf-8";
/* CSS Document */


/*--generic --*/

.gutter10 {
	padding:10px !important;
}


#rightpanel {
	position:relative;
	float:right;
	padding:20px 0 30px 0;
	min-height:200px;
}

.plans-section-header h3 {
	border-top:solid 1px #ccc;
	padding-left:15px;
	background:#eaeaea;
	color:#000;
}

.view-plans .table td  {
	border-top:solid 1px #eaeaea;
}

.view-plans .table tr td:first-child  {
	width:50%;	
}

.view-plans .table tr td a {
	text-align:left;
}

.view-plans .table th {
	border-top:none;
}

h4.planName {
	margin:2px 0;
	font-size:1em;
	color:#666666;	
}

h4.planType {
	margin:2px 0;
}
#titlebar .nav {
	margin-bottom:0;
}

#plansbar h3{
	margin:5px 10px 5px 10px;
}
#plansbar div,  #plansbar h2 {
	display:inline-block;
}

#plansbar .pagination {
	margin:0px 10px;
	height:18px;
	position:relative;
	top:8px;
}

#plansbar .pagination a {
	background:#fff;
	line-height:8px;
	padding:6px;	
}

#plansbar.form-actions {
	padding: 10px;
}

#plansbar h3.span3 {
	margin-left:0;
}

#plansbar a#favorites, #plansbar #ui-multiselect{
	margin-top:4px;
}


.plans-section {
	/*position:relative;*/
}

.plans-section-content{
	position:absolute;
	left:0;
}


/*slider left */

.filter-wrap {
	background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 10px 8px;
	width:90%;
	margin-bottom:5px;
	
}

.filter-wrap input, .filter-wrap select{
	margin-bottom:0;
}

.layout-slider {
	background-color: #fff;/*#F7F7F9;*/
    border: 1px solid #E1E1E8;
    padding: 20px 0px;
	width:100%;
	margin-bottom:5px;
	
}

.gutter5 {
	padding:5px;
}

.scroll-left-arrow  {
	position:absolute;
	left:10px;
	cursor:pointer;
	top:92px;
	
}
.scroll-right-arrow  {
	position:absolute;
	right:10px;
	cursor:pointer;
	top:92px;
}

.scroll-right-arrow-wrapper, .scroll-left-arrow-wrapper  {
	cursor:pointer;
}

.content {

overflow: hidden;
border-left: #ccc solid 1px;
}

.plans-section-content .plan {
	float:left;
	width:22.64%; /*209px;*/
/*	margin-right:10px;*/
	position:relative;
	border-right:solid 1px #e2e2e2;
	padding:10px;
	
}

.plans-section-content .plan-0 {
	border-left:solid 1px #e2e2e2;
}
	
.plans-section-content .plan label-info, .plans-section-content .label-info,
 .plans-section-content .plan label-warning, .plans-section-content .label-warning,
  .plans-section-content .plan label-danger, .plans-section-content .label-danger,
   .plans-section-content .plan label-success, .plans-section-content .label-success
  { 
 	white-space:normal !important;
 }
 

.plans-section-content .plan label-info, .plans-section-content .label-info {
	background-color: #CDDFEE!important;
	font-weight:normal !important;
	color:#326289 !important;
}

.plans-section-content .plan h4.label {
	font-size:100% !important;
	font-weight:bold !important;	
}

table.view-plans td.center-container {
position:relative;
}


/*sticky scroll */

.sticky#titlebar{
	position:fixed !important;
	top:56px;
	z-index:15 !important;
	width:944px;
	
}


.plans-container .sticky {
	position:fixed !important;
	top:98px;
	MARGIN-LEFT:9px;
	background:White;
	opacity:1;
	width: 900px;
	padding-top:5px;

}

.plans-container .sticky .scroll-right-arrow-wrapper {
	left:885px;
}

 #sidebar {
	 margin-top:20px;
 }
 #sidebar.sticky {
	position:fixed !important;
	top:85px;
	width: 14.0769%;
	
 
 }

.titlebar{
   padding: 7px 10px 5px 10px;
   	
}

#titlebarh4 {
	margin-top:6px;	
}

#titlebar, #main.titlebar{
	/*background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #fff 100%);
    background-repeat: repeat-x; */
    border-top: 4px solid ##99cc00;
	border-bottom:1px solid #ccc;
    /*border-radius: 4px 4px 4px 4px;*/
    border-radius: 0 0 0 0;
 
}

#titlebar .nav {
	margin-bottom:0px;
}

.well > .accordion {
	background:#fff;
}

.well > .form-actions {
	margin-bottom:0;
	padding-bottom:0;
	
}

.container > #titlebar.sticky h3.span3, .container #titlebar.sticky {
	z-index:10;
	width:940px;
	top:54px;
}



.view-plans .plans-container .plans-header .plans-section-content {
	width:100%;/*890px*/
	
}

.view-plans .plans-container .plans-header.sticky .plans-section-content {
	background:#fff;
	z-index:50 !important;
}

#planstoolbar {
	margin:5px 0 10px 0;
	padding:8px 0;
	background:white;
	border-color: 1px solid #BBBBBB;
	font-size:.95em;
  
	
}
#planstoolbar .btn, #planstoolbar fieldset select,#planstoolbar fieldset select,#planstoolbar fieldset select option, #planstoolbar fieldset span{
	font-size:.95em;
}


.sticky#planstoolbar{
	position:fixed !important;
	top:76px;
	z-index:30 !important;
	width: 890px;
}

.plans-section-header .accordion-group {
	border-left:none;
	border-right:none;
}


.plans-section-header .accordion-inner {
	padding:0;
}


.gutter10 {
	padding:10px;
}

#footer {
	padding:15px 0;
}

#footer a {
	color:#999;
	font-size:90%;
}

#footer a:hover{
	color:#333;
}

.plan h2, .plan h4, .plan .actions {
	/*text-align:center !important;*/
}

#rightpanel.ShopByOptions .well {
	padding:10px;
	min-height:300px;
}

#rightpanel.ShopByOptions .well .btn {
	padding:0;
	width:100% !important;
	min-height:85px;
	margin-bottom:20px;

}

#rightpanel.ShopByOptions .well .btn >span.gutter10 {
	display:block;
	padding:10px;
	font-size:.8em;
	vertical-align:middle;

}

#rightpanel.ShopByOptions .well .btn >span >strong {
	display:block;
	font-size:1.4em;
	margin-bottom:10px;
	
}

#planSelect .view-plans .plans-container .plans-header .plans-section-content {
	text-align:center !important;
	padding-top:0;
	
	top:-10px;
	border-bottom:none !important;
}

#planSelect .view-plans .plans-container .plans-header .plans-section-content .plan{
	padding-bottom:29px;
	background: #fff;
}

#planSelect .view-plans .plans-container .plans-header .plans-section-content .actions {
	margin-top:10px;
}
.plans-section-content .plan .table {
	margin-bottom:0;
}

.employerC, .employeeC {
	width:60px;
	background:#99cc00;
	
	text-align:center;
	
}
.employeeC {
	background:#74B33C;
}

.employerC small, .employeeC small{
	text-align:center;
	color:#fff;
	font-weight:bold;
}

.plan .table h4 small {
    display: block;
}

