@charset "utf-8";
/* CSS Document */





.tabbedSections {
max-width: 820px;
margin: 0 auto;
position: relative;
/*overflow: auto;
overflow-x: hidden;*/
padding:0;
margin:0;

}

.sticky#plansbar, .sitcky#sidebar  {
	position:fixed;
	top:0;
}

.sticky .tabbable, .sticky .view-plans .plan-header {
	position:fixed !important;
	top:0;	
}


#planSelect .view-plans {
display: table;
position: absolute;
z-index: 1;
top: 50px;
width: 100%;
background:white;
max-width:100%;

}


#planSelect .view-plans .scroll-left-button, #planSelect .view-plans .scroll-right-button {
background: none;
width: 29px;
border-right: 1px solid #E2E1E1;
border-left: none;
cursor: pointer;
position: relative;
z-index: 4;
}

#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
left: -30px;
border-right: 1px solid #E2E1E1;
}

#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
position: absolute;
top: 0px;
height: 178px;
width: 29px;
z-index: 1;
}


#planSelect .view-plans .plans-container {
width: 820px;
overflow: hidden;
padding-top: 20px;
/*position:relative;*/
background:white;
}

#planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {
overflow: hidden;
background: url(../img/scallops.png) repeat-x left bottom;
padding-bottom: 3px;
height: 210px;
/*padding-left: 30px;
padding-right: 30px;*/
position: relative;
/*left: -30px;*/
z-index:20;
width:820px;
top:0px;
}

#planSelect .view-plans .plans-container .plans-section-content {
overflow: hidden;
position: relative;
left: 0;
z-index:5;
padding-top:20px;
}



#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
position: absolute;
top: 0px;
height: 178px;
width: 29px;
background:white;
z-index: 1;
}
#planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
position:absolute;
right: -30px;
border-left: 1px solid #E2E1E1;
background:#ededed;
z-index:25;
height:210px;
}

#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
position:absolute;
left: -24px;
border-right: 1px solid #E2E1E1;
background:#ededed;
z-index:25;
height:210px;
}

#planSelect .view-plans .plans-container .sticky .scroll-left-arrow-wrapper {
	left:-30px;
}


#planSelect .view-plans .plans-container .plans-header .plans-section-content {
background-color:white;
padding-left:20px;
}

#planSelect .view-plans td.center-container {
padding: 0;
background-color: white;
}