@charset "utf-8";
/* CSS Document */





.tabbedSections {
max-width: 100%;
margin: 0 auto;
position: relative;
/*overflow: auto;
overflow-x: hidden;*/
padding:0;
margin:0;

}

.sticky#plansbar, .sitcky#sidebar  {
	position:fixed;
	top:0;
}

.sticky .tabbable, .sticky .view-plans .plan-header {
	position:fixed !important;
	top:0;	
}


#planSelect .view-plans {
display: table;
position: absolute;
z-index: 1;
top: 0px;
width: 100%;
background:white;
max-width:100%;

}


#planSelect .view-plans .scroll-left-button, #planSelect .view-plans .scroll-right-button {
background: none;
width: 29px;
/*border-right: 1px solid #E2E1E1;
*/border-left: none;
cursor: pointer;
position: relative;
z-index: 4;
}

#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
left: -20px;
border-right: 1px solid #E2E1E1;
}

#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
position: absolute;
top: 0px;
height: 178px;
width: 29px;
z-index: 1;
}


#planSelect .view-plans .plans-container {
width: 97%;/*100%*/
overflow: hidden;
padding-top: 20px;
/*position:relative;*/
background:white;
margin-left:15px;
}

#planSelect .view-plans .plans-container .plans-header .plans-header-content-wrapper {
overflow: hidden;
background: url(../img/scallops.png) repeat-x left bottom;
padding-bottom: 3px;
height: 240px;
/*padding-left: 30px;
padding-right: 30px;*/
position: relative;
/*left: -30px;*/
z-index:20;
width:100%;
top:-12px;
}

#planSelect .view-plans .plans-container .plans-section-content {
overflow: hidden;
position: relative;
left: 0;
z-index:5;
/*padding-top:5px;*/
border-bottom: 1px solid #E2E1E1;
}



#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper, #planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
position: absolute;
top: 0px;
height: 178px;
width: 29px;
background:white;
z-index: 1;
}
#planSelect .view-plans .plans-container .plans-header .scroll-right-arrow-wrapper {
position:absolute;
right: 0px;
border-left: 1px solid #E2E1E1;
background:#ededed;
z-index:25;
height:240px;
opacity:.66;
}

#planSelect .view-plans .plans-container .plans-header .scroll-left-arrow-wrapper {
position:absolute;
left: 6px;
border-right: 1px solid #E2E1E1;
background:#ededed;
z-index:25;
height:240px;
opacity:.66;

}

#planSelect .view-plans .plans-container .sticky .scroll-left-arrow-wrapper {
	left:-26px;
}

#planSelect .view-plans .plans-container .sticky .scroll-right-arrow-wrapper {
	right:-26px;
}



#planSelect .view-plans .plans-container .plans-header .plans-section-content {
background-color:white;

}

#planSelect .view-plans td.center-container {
padding: 0;
background-color: white;
}

.brand {
	background: url("img/NewMexico.png") no-repeat scroll left 2px transparent;
    margin-left: -5px;
    padding: 8px 0 8px 40px;
}