
<div class="graydrkaction margin0">
	<h4>Authentication Information</h4>
</div>

<div spinning-loader="vm.loader"></div>

<div class="gutter10">
	<p class="alert alert-error" ng-if="vm.accountLock === true">
		Responses to some of the identity verification questions are incorrect. Reset password email cannot be sent to the user at this time.
		</p>
		<p class="alert alert-error" ng-if="vm.showServerErrorMessage === true">
			{{vm.serverErrorMessage}}
		</p>
	<p class="alert alert-error" ng-if="vm.showValidationErrorMessage === true">
			Responses to some of the identity verification questions are incorrect. {{vm.remainingRetries}} attempts left.
	</p>
	<div ng-if="vm.showQuestions === true">
		
		
	
		<form class="form-horizontal" novalidate id="dynamicSecurityQuestions" name="vm.dynamicSecurityQuestions">
			<div class="control-group" ng-if="vm.questions.indexOf('firstName') !== -1">
				<label class="control-label"> 
					First Name
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="firstName" class="input-large" ng-pattern="/^[a-z A-Z]{1,45}$/" required ng-model="vm.answers.firstName" />
	
					<div class="help-inline" id="firstName_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.firstName.$dirty && vm.dynamicSecurityQuestions.firstName.$error.required">
							<span> 
								<em class="excl">!</em> Please enter first name.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.firstName.$dirty && vm.dynamicSecurityQuestions.firstName.$error.pattern">
							<span> 
								<em class="excl">!</em> Please enter a valid first name.
							</span>
						</label>
					</div>
				</div>
			</div>
	
	
			<div class="control-group" ng-if="vm.questions.indexOf('lastName') !== -1">
				<label class="control-label"> 
					Last Name
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="lastName" class="input-large" ng-pattern="/^(([A-Za-z]|([O|L|D|o|l|d]'[A-Za-z]))+((\s|-)?([A-Za-z]|([O|L|D|o|l|d]'[A-Za-z])))*)$/" required ng-model="vm.answers.lastName" />
	
					<div class="help-inline" id="lastName_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.lastName.$dirty && vm.dynamicSecurityQuestions.lastName.$error.required">
							<span> 
								<em class="excl">!</em> 
								Please enter last name.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.lastName.$dirty && vm.dynamicSecurityQuestions.lastName.$error.pattern">
							<span> 
								<em class="excl">!</em> Please enter a valid last name.
							</span>
						</label>
					</div>
				</div>
			</div>
	
			<div class="control-group" ng-if="vm.questions.indexOf('dob') !== -1">
				<label class="control-label"> 
					Date of Birth
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="birthDate" class="input-medium" date-validation="birthDate" ui-mask="99/99/9999" model-view-value="true" required ng-model="vm.answers.dob" placeholder="MM/DD/YYYY" />
	
					<div class="help-inline" id="birthDate_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.birthDate.$dirty && vm.dynamicSecurityQuestions.birthDate.$error.required">
							<span> 
								<em class="excl">!</em> Please enter date of birth.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.birthDate.$dirty && vm.dynamicSecurityQuestions.birthDate.$error.birthDate">
							<span> 
								<em class="excl">!</em> Please enter a valid date of birth.
							</span>
						</label>
					</div>
				</div>
			</div>
	
			<div class="control-group" ng-if="vm.questions.indexOf('phoneNo') !== -1">
				<label class="control-label"> 
					Phone
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="phoneNumber" class="input-medium" ui-mask="(999) 999-9999" required ng-model="vm.answers.phoneNo" />
	
					<div class="help-inline" id="phoneNumber_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.phoneNumber.$dirty && vm.dynamicSecurityQuestions.phoneNumber.$error.required">
							<span> 
								<em class="excl">!</em> Please enter phone number.
							</span>
						</label>
					</div>
				</div>
			</div>
	
	
	
			<!-- RANDOM STARTS -->
	
			<div class="control-group" ng-if="vm.questions.indexOf('zipCode') !== -1">
				<label class="control-label"> 
					Zip Code
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="zipCode" class="input-small" ng-pattern="/^[0-9]{5}$/" required ng-model="vm.answers.zipCode" maxlength="5" />
	
					<div class="help-inline" id="zipCode_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.zipCode.$dirty && vm.dynamicSecurityQuestions.zipCode.$error.required">
							<span> 
								<em class="excl">!</em> Please enter zip code.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.zipCode.$dirty && vm.dynamicSecurityQuestions.zipCode.$error.pattern">
							<span> 
								<em class="excl">!</em> Please enter a valid zip code.
							</span>
						</label>
					</div>
				</div>
			</div>
	
	
			<div class="control-group" ng-if="vm.questions.indexOf('county') !== -1">
				<label class="control-label"> 
					County
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="county" class="input-medium" ng-pattern="/^[a-zA-Z .]+$/" required ng-model="vm.answers.county" />
	
					<div class="help-inline" id="county_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.county.$dirty && vm.dynamicSecurityQuestions.county.$error.required">
							<span> 
								<em class="excl">!</em> Please enter county.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.county.$dirty && vm.dynamicSecurityQuestions.county.$error.pattern">
							<span> 
								<em class="excl">!</em> Please enter a valid county.
							</span>
						</label>
					</div>
				</div>
			</div>
	
			<div class="control-group" ng-if="vm.questions.indexOf('sizeOfHousehold') !== -1">
				<label class="control-label"> 
					Total number of members in the household
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="householdTotal" class="input-small" ng-pattern="/^[0-9]+$/" required ng-model="vm.answers.sizeOfHousehold" />
					<div class="help-inline" id="householdTotal_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.householdTotal.$dirty && vm.dynamicSecurityQuestions.householdTotal.$error.required">
							<span> 
								<em class="excl">!</em> 
								Please enter number of members.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.householdTotal.$dirty && vm.dynamicSecurityQuestions.householdTotal.$error.pattern">
							<span> 
								<em class="excl">!</em> Please enter a valid number of members.
							</span>
						</label>
					</div>
				</div>
			</div>
	
	
	
			<div class="control-group" ng-if="vm.questions.indexOf('ssn') !== -1">
				<label class="control-label"> 
					Last 4 digits of SSN
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="ssn" class="input-small" ng-pattern="/^[0-9]{4}$/" maxlength="4" required ng-model="vm.answers.ssn"/>
					<div class="help-inline" id="ssn_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.ssn.$dirty && vm.dynamicSecurityQuestions.ssn.$error.required">
							<span> 
								<em class="excl">!</em> 
								Please enter social security number.
							</span>
						</label>
						<label class="error" ng-if="vm.dynamicSecurityQuestions.ssn.$dirty && vm.dynamicSecurityQuestions.ssn.$error.pattern">
							<span>
								<em class="excl">!</em> 
								Please enter a valid social security number.
							</span>
						</label>
					</div>
				</div>
			</div>
	
	
			<div class="control-group" ng-if="vm.questions.indexOf('gender') !== -1">
				<label class="control-label"> 
					Gender
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<label class="help-inline margin5-t"> 
						<input type="radio" name="gender" value="male" required ng-model="vm.answers.gender" /> 
						Male
					</label> 
					<label class="help-inline margin5-t"> 
						<input type="radio" name="gender" value="female" required ng-model="vm.answers.gender" />
						Female
					</label>
				</div>
			</div>
	
			<!-- <div class="control-group" ng-if=false>
				<label class="control-label"> 
					Email
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="email" name="emailAddress" class="input-large" required ng-model="vm.answers.emailAddress" />
	
					<div class="help-inline" id="emailAddress_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.emailAddress.$dirty && vm.dynamicSecurityQuestions.emailAddress.$error.required">
							<span> 
								<em class="excl">!</em> Please enter email address.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.emailAddress.$dirty && vm.dynamicSecurityQuestions.emailAddress.$error.email">
							<span> 
								<em class="excl">!</em> Please enter a valid email address.
							</span>
						</label>
					</div>
				</div>
			</div>
	
	
			<div class="control-group" ng-if=false>
				<label class="control-label"> 
					Medicaid ID
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="medicaidId" class="input-xlarge" ng-focus ng-pattern="/^[0-9a-zA-Z-]{1,30}$/" required ng-model="vm.answers.medicaidId" />
	
					<div class="help-inline" id="medicaidId_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.medicaidId.$dirty && vm.dynamicSecurityQuestions.medicaidId.$error.required && !vm.dynamicSecurityQuestions.medicaidId.$focused">
							<span> 
								<em class="excl">!</em> Please enter medicaid ID.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.medicaidId.$dirty && vm.dynamicSecurityQuestions.medicaidId.$error.pattern && !vm.dynamicSecurityQuestions.medicaidId.$focused">
							<span> 
								<em class="excl">!</em> Please enter a valid medicaid ID.
							</span>
						</label>
					</div>
				</div>
			</div>
	
			<div class="control-group" ng-if=false>
				<label class="control-label"> 
					Application Number
					<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="Required!" />
				</label>
				<div class="controls">
					<input type="text" name="caseNumber" class="input-xlarge" ng-focus ng-pattern="/^[0-9]*$/" required ng-model="vm.answers.caseNumber" />
	
					<div class="help-inline" id="caseNumber_error">
						<label class="error" ng-if="vm.dynamicSecurityQuestions.caseNumber.$dirty && vm.dynamicSecurityQuestions.caseNumber.$error.required && !vm.dynamicSecurityQuestions.caseNumber.$focused">
							<span> 
								<em class="excl">!</em> Please enter application case number.
							</span>
						</label> 
						<label class="error" ng-if="vm.dynamicSecurityQuestions.caseNumber.$dirty && vm.dynamicSecurityQuestions.caseNumber.$error.pattern && !vm.dynamicSecurityQuestions.caseNumber.$focused">
							<span> 
								<em class="excl">!</em> Please enter a valid application case number.
							</span>
						</label>
					</div>
				</div>
			</div> -->
			<!-- RANDOM ENDS -->
	
	
	
			<div class="form-actions">
				<button class="btn btn-primary" ng-disabled="vm.dynamicSecurityQuestions.$invalid" ng-click="vm.submitForm()">Submit</button>
			</div>
		</form>
	</div>
</div>

<!-- Modal-->
<div id="alternateEmailModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="alternateEmailModalHeader" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" ng-form="alternateEmailForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<form name="alternateEmailForm" class="modal-body">				
				<div class="control-group">
					<label class="control-label">
						Email address to send password reset link to:
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="required" />
					</label>

					<div class="controls">
						<label class="checkbox margin10-t"> 
							<input type="radio" name="email" value="hixEmail" ng-model="vm.alternateEmail.emailType" required>
							Current HIX Account Email
						</label> 
						<label class="checkbox margin10-t"> 
							<input type="radio" name="email" value="alternateEmail" ng-model="vm.alternateEmail.emailType">
							Alternate Email
						</label>
					</div>
					
					<input type="email" class="margin40-l" name="alternateEmail" ng-if="vm.alternateEmail.emailType === 'alternateEmail'" ng-model="vm.alternateEmail.email" required>
					
					<div class="help-inline">
						<label class="error" ng-if="alternateEmailForm.alternateEmail.$dirty && alternateEmailForm.alternateEmail.$error.required">
							<span> 
								<em class="excl">!</em> Please enter email address.
							</span>
						</label> 
						<label class="error" ng-if="alternateEmailForm.alternateEmail.$dirty && alternateEmailForm.alternateEmail.$error.email">
							<span> 
								<em class="excl">!</em> Please enter a valid email address.
							</span>
						</label>
					</div>
					
				</div>

				<div class="control-group" ng-if="vm.alternateEmail.emailType === 'alternateEmail'">
					<label class="control-label">
						Reason for alternate email
						<img src="/hix/resources/images/requiredAsterix.png" width="10" height="10" alt="required" />
					</label>

					<div class="controls">
						<textarea style="width: 97%" name="reason" ng-model="vm.alternateEmail.reason" required></textarea>
						
						<div class="help-inline">
							<label class="error" ng-if="alternateEmailForm.reason.$dirty && alternateEmailForm.reason.$error.required">
								<span> 
									<em class="excl">!</em> Please enter reason for alternate email.
								</span>
							</label> 
						</div>
					</div>
					
				</div>
				<p class="alert alert-info">
					This will not change the HIX account email address. It will only send the password reset email to an alternate email. 
					If they need to change their HIX account email, once they can log in, walk them through the account email change process.
				</p>
			</form>
			<div class="modal-footer txt-right">
				<button class="btn" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary" data-dismiss="modal" ng-disabled="alternateEmailForm.$invalid" ng-click="vm.submitAlternateEmail()">Submit</button>
			</div>
		</div><!-- /.modal-content-->
	</div> <!-- /.modal-dialog-->
</div>
<!-- Modal-->

