<div class="graydrkaction margin0">
	<h4>Your information</h4>
</div>
<div class="gutter10">
	<p>An email has been sent to: <strong>{{vm.email}}</strong></p>
	<p>Please check your inbox, and click on the link in the message.</p>
</div>