

.disclaimer {
    margin-top: 5%;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    border: 1px solid #333333;
    

    .imgSection {
        border-right: 1px solid #333333;
        padding: 16px;
        color: #fff;
        background-color: rgba(18, 125, 171, 0.875);
        font-size: 42px;
        text-align: center;
    }

    .textSection {
        padding: 16px;
    }

    margin-bottom: 3%
}

.highlight {
    font-weight: 700;
}