<div class="row disclaimer">
    <div class="col-lg-1 informativeNotice imgSection">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </div>
    <div class="col-lg-11 textSection">
        <label class="control-label">
            <div class="highlight">Notice:</div>
        </label> <label class="control-label textTransformNone"> {{"SUBMIT_SET.disclaimer" | translate}}
        </label>
    </div>
</div>

<div class="section-divider"></div>

<div class="row">

    <div class="col-lg-6 order-lg-2 col-xs-12">
        <button class="btn btn-primary pull-right gtm_calculate_plan_submit" (click)="redirect()" [disabled]="disableSubmit" id="forward_button" automationId="forward_button">
            {{"SUBMIT_SET.calculate" | translate}}
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>

    <div class="col-lg-6 order-lg-1 col-xs-12">
        <button class="btn btn-secondary gtm_calculate_plan_cancel" (click)="redirect1()" id="cancel_button" automationId="cancel_button">
            <i class="fa fa-chevron-left"></i>
            {{"SUBMIT_SET.cancel" | translate}}
        </button>
    </div>
</div>