/*

Styling the counter itself.
Set image paths accordingly.

THIS YOU NEED TO KEEP.

So you can have multiple counters on a page, just make sure each one has a class of "flip-counter".

You can download the background sprite here:
http://cnanney.com/journal/demo/apple-counter-revisited/img/digits.png

*/

.flip-counter ul.cd{float:left;list-style-type:none;margin:0;padding:0;}
.flip-counter li{background:url(../images/digits.png) 0 0 no-repeat}
.flip-counter li.t{background-position:0 0;width:53px;height:39px}
.flip-counter li.b{background-position:0 0;width:53px;height:64px}
.flip-counter li.s{background-position:-53px -1030px;width:14px;height:103px}

.flip-counter ul.cd{float:left;list-style-type:none;margin:0;padding:0;}
.flip-counter li{background:url(../images/digits_80p.png) 0 0 no-repeat}
.flip-counter li.t{background-position:0 0;width:42.4px;height:31.2px}
.flip-counter li.b{background-position:0 0;width:42.4px;height:51.2px}
.flip-counter li.s{background-position:-42.4px -824px;width:11.2px;height:82.4px}