@charset "utf-8";
/* CSS Document */

.right {
	float:right;
}

label {
    margin-bottom:1px;
    margin-top:10px;
}

.carousel {
    line-height: 22px;

}

	.knob-wrapper {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #B6B6B6;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #FFFFFF, #B6B6B6);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.13) inset, 0 2px 4px rgba(0, 0, 0, 0.5), 0 5px 5px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 60px;
    margin: 20px 20px 60px;
    padding: 10px;
    position: relative;
    width: 60px;
    z-index: 3;
}
.knob-wrapper:after {
    border-radius: inherit;
    bottom: -15px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.15);
    content: "";
    left: -15px;
    position: absolute;
    right: -15px;
   /* top: -15px;*/
    z-index: 1;
}
.knob-wrapper:before {
    border-radius: inherit;
    bottom: -10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13) inset;
    content: "";
    left: -10px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
}
.knob-wrapper:hover {
    text-decoration: none;
}
.panel-container .knob-wrapper {
    margin: 40px 20px;
}
.knob-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #B6B6B6, #FFFFFF);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: inherit;
    box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05), 0 2px 5px rgba(255, 255, 255, 0.1);
    color: #3E3E3E;
    display: block;
    height: 100%;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 100%;
    z-index: 5;
}
.knob-inner i, .knob-inner .txt {
    display: block;
    font-size: 26px;
    line-height: 70px;
    text-align: center;
}
.knob-inner .txt {
    font-family: 'RobotoBoldCondensed',Arial,san-serif;
    font-size: 24px;
}
.knob-inner small {
    bottom: -60px;
    color: #FDFDFD;
    font-family: 'RobotoCondensed',Arial,san-serif;
    font-size: 14px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px 0 #232323;
}
.well.block .knob-inner small {
    color: #232323;
    text-shadow: 1px 1px 0 #FDFDFD;
}
.knob-wrapper.knob-primary {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #0044CC;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #83AAF7, #0044CC);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.knob-wrapper.knob-primary .knob-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #83AAF7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #0044CC, #83AAF7);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #06212E;
    text-shadow: 1px 1px 0 #83AAF7;
}
.knob-wrapper.knob-warning {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F89406;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #F5C787, #F89406);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.knob-wrapper.knob-warning .knob-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F5C787;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #F89406, #F5C787);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #67410A;
    text-shadow: 1px 1px 0 #F5C787;
}
.knob-wrapper.knob-danger {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #BD362F;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #FDACA8, #BD362F);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.knob-wrapper.knob-danger .knob-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FDACA8;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #BD362F, #FDACA8);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #560C08;
    text-shadow: 1px 1px 0 #FDACA8;
}
.knob-wrapper.knob-success {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #51A351;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #B8F4B8, #51A351);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.knob-wrapper.knob-success .knob-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #B8F4B8;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #51A351, #B8F4B8);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #224822;
    text-shadow: 1px 1px 0 #B8F4B8;
}
.knob-wrapper.knob-info {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2F96B4;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), 		linear-gradient(to bottom, #93E2F9, #2F96B4);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.knob-wrapper.knob-info .knob-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #93E2F9;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #2F96B4, #93E2F9);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #1C4C5A;
    text-shadow: 1px 1px 0 #93E2F9;
}
.knob-wrapper.knob-inverse {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #222222;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #9A9A9A, #222222);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.knob-wrapper.knob-inverse .knob-inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #9A9A9A;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC"), linear-gradient(to bottom, #222222, #9A9A9A);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #000000;
    text-shadow: 1px 1px 0 #9A9A9A;
}
.knob-wrapper.knob-large {
    height: 80px;
    width: 80px;
}
.knob-wrapper.knob-large .knob-inner i {
    font-size: 34px;
    line-height: 80px;
}
.knob-wrapper.knob-chart {
    height:70px;
    margin: 20px 20px 70px;
   /* padding: 15px;*/
    width: 70px;
	top:-45px;
}
.knob-wrapper.knob-chart.with-button {
    margin-right: 60px;
}
.knob-wrapper.knob-chart.with-button .btn {
    border-radius: 50px;
    left: 60px;
    padding-left: 60px;
    position: absolute;
    top: 23px;
    z-index: 3;
}
.knob-wrapper.knob-chart.with-button.left {
    margin-left: 120px;
    margin-right: 20px;
}
.knob-wrapper.knob-chart.with-button.left .btn {
    left: auto;
    padding-left: 20px;
    padding-right: 60px;
    right: 50px;
    text-align: left;
	font-weight:bold;
	font-size:24px;
}

.knob-inner .percentage span {
    display: inline-block;
    font-family: 'RobotoBoldCondensed',Arial, san-serif;
    font-size: 24px;
    margin-left: -10px;
    margin-top: -10px;
    text-align: center;
}

.tab-content >.active {
   /* min-height: 240px;*/
}

.span8 .widget.content-l .widget-content{
    min-height:460px;
    /*min-height:500px;*/
}

.content-r {
    background: #e5e5e5;
  /*  margin-top:255px;*/
}

.content-r p {
    margin-bottom:0;
}

.content-r .widget-header  {
    background:#e5e5e5;
    padding:10px 15px;
}



.content-r .widget-header h3.title {
    font-size:24.5px;
}

.item > .span8 > .well.content-l > .widget-content{
    min-height: 480px;
}

.gutter10 {
    padding:10px;
}

.counter {
   /* min-height:240px;*/
    position:absolute;
    top:18px;
    right:15px;
    z-index: 100;
   /*width: 28.3239%;*/
    width:28.4%;
}


.content-r.well {
    /* padding: 5px 19px; */
}
.content-r .widget-header {
    /*padding: 5px 15px;*/
}
.content-r .widget-header h3.title {
    font-size:18px;
    margin:0;
    font-family: Rokkitt, 'DroidSansRegular', sans-serif;
}
.content-r .tabbable {
    font-size: 12px
}
.content-r form { 
    margin-bottom: 0;
}
.content-r .tabbable .nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}




.counter h3 {
    font-size:24px;
    margin:0;
    font-family: Rokkitt, 'DroidSansRegular', sans-serif;
}
h3.ribbon, .ribbon {
    font-size:14px;
    line-height: 28px;
    color:white;
    text-align: left;
    width:130px;
    position:absolute;
    left: -1px;
    padding-left:15px;
    background: #999999;
    background: -moz-linear-gradient(top, #999999 0%, #7f7f7f 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#7f7f7f));
    background: -webkit-linear-gradient(top, #999999 0%,#7f7f7f 100%); 
    background: -o-linear-gradient(top, #999999 0%,#7f7f7f 100%);
    background: -ms-linear-gradient(top, #999999 0%,#7f7f7f 100%);
    background: linear-gradient(to bottom, #999999 0%,#7f7f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0px 1px 3px #595959;
    filter: dropshadow(color=#595959, offx=0, offy=1);
}
.carousel {
     height:558px !important;
     height:578px !important;
     position:relative;
     overflow:hidden;
     margin-bottom: 0;
}
#slides.carousel-inner {
    position:relative;
    top:0;
}

#slides.carousel-inner #item-0,
#slides.carousel-inner #item-1,
#slides.carousel-inner #item-2,
#slides.carousel-inner #item-3,
#slides.carousel-inner #item-4,
#slides.carousel-inner #item-5,
#slides.carousel-inner #item-6

{
    height:580px;

}

.alert-block > p {
    margin-bottom: 10px;
}

.table thead th {
    vertical-align: middle;btn-danger
}

.alert-block {
    float:left;
}

#sampleplan.table tr th:first-child {
    /*width:40%;*/
} 
/* #sampleplan.table thead  {
    width: 100%;
    text-align: center;
} */

#sampleplan.table {
    background:#fff;
    z-index: 200;
    float: left;
    margin-top:10px;
    margin-bottom: 10px;
}

.well blockquote {

    border:none;
}

.widget .widget-footer {
    height:45px;
}

#showplans {
    font-size:12px;

}

#showplans h3{
    marign:0;
}

#flip-counter {
    clear:both;
    left:50%;
    position:relative;
    margin-top:5px;
    background:url(../images/digits_80p.png) left bottom no-repeat;
    padding:0 0 0 42px;
    height:82px;

}

.flip-counter li.t {
    background-position: 0 0;
    height: 30px;
    width: 42px;
}

.message-1 p {
    /*font-family: Georgia,Helvetica,Arial,sans-serif;*/
    font-size: 14px;
    
}

.message-1 .alert {
    /* font-style: italic; */
    font-style: normal!important;
    font-family: Georgia,Helvetica,Arial,sans-serif;
    }

.ta-right{
    text-align: right;
}

.ta-center {
    text-align: center !important;
}

#item-0 blockquote {
    background:url(../images/family.png) no-repeat bottom right;height:400px;
}



/* import */

#progress-wrap {
    display: none;
}

#mask {
    opacity: 1;
    float: inherit;
    width:100%;
    
}

/* tabs */

 ul.qlist {
    margin-left: 15px !important;
    list-style-type: none
}

 ul.qlist li{
    padding:2px 0 ;

}


.tabs-custom {
    margin-bottom: 10px;
    margin-top:10px;
}


#form-wrap {

    min-height: 440px;
    width:inherit;
}

#progressprofile {
    margin-top:10px;

}

/* safari hack */

@media screen and (-webkit-min-device-pixel-ratio:0) {

 .tabs-custom .tab-content .tab-pane  { 
    margin:10px }


.span8 .widget.content-l .widget-content {
    height:500px;

}

#sampleplan.table {
    margin-top:30px;
}

h3.ribbon, .ribbon {
/* top:164px; */
top:32%;
    }

}

/* safari hack */




@media (min-width:679px) and (max-width:1024px) {
.content-r{
    margin-top:275px; 
 }
}

@media (min-width:1025px)  and (max-width:2400px) {
.content-r{
    margin-top:210px ;
    }
}

@media only screen and (max-width:1024px)  {
    .counter {
        width:247px;

    }

    .content-r {
        margin-top:255px;
    }

}

@media only screen and (max-width: 480px)  { 

    #item-0 blockquote {
    background:url(../images/family_280w.png) no-repeat 50% 100%;
    height:280px;
     padding-left:0;
    
}



#item-0 blockquote  p{

    width:100%;
    line-height:24px;
    font-size:14px;
    padding-top:0px;
    line-height:18px;


    }

    .counter {
        width:227px;
        height:110px;
    }

    .counter h3 {
        font-size:14px;
        padding:0px;
        line-height:18px;
    }

    .content-l {
        margin-top:160px;
    }

    .content-l legend {
        font-size:16px;
        margin-bottom:10px;
    }

    .content-l fieldset legend {
        line-height:18px;
    }

    .span8 .widget.content-l .widget-content {
        height:320px;
    }

    .navbar-inner {
        display:none;
    }

 }

 @media only screen and (max-width: 320px)  { 

    #left_layout {
        margin-left:0;
    }

    #left_layout #main_content.container-fluid {
        margin-right:0;
    }

    #left_layout #sidebar.nav.nav-pills.nav-stacked {
    left:0;
    }
    .counter {
        width:210px;
        height:100px;
        padding: 10px;
    }

    .content-l {
        margin-top:130px;
        padding: 15px;
    }

    #item-0 blockquote {
     height:220px;
     padding-left:0;
     margin-bottom:0;
     background:url(../images/family_40p.png) no-repeat 50% 100%;
    
    }
    .content-l .widget-content {
        padding:0px;
    }

    .span8 .widget.content-l .widget-content {
        height:268px;
    }


    #header.navbar { 
    margin:0;
}


 }


/* media queries */

label {
    display:block;
    width:auto;
}

.accordion, 
.accordion-inner {
    z-index:200;
}
.popover {
    top:20px;
    width:280px;
    z-index:300;
}


.ui-slider .ui-slider-handle {
    height: 1.8em !important;
}

.ui-slider-horizontal .ui-slider-handle {
    
    top: -0.95em !important;
}


a.accordion-toggle {
    text-decoration: none
}

.icon-chevron-down, .icon-chevron-right {
    width:11px;
}

#editincome,#editincome a {
    color:#B94A48;
}

span .icon-question-sign {
    color:#999999;
}

.ui-slider .ui-slider-handle, .ui-slider,
.ui-slider .ui-slider-range {

border-radius: 10px !important;
    }

    .ui-slider .ui-slider-handle {
        height:2.5em !important;
        top:-.5em;
    }
.sliderwrap label {
    float:left; 
    margin-right:10px
}

.sliderwrap .slider-r {
        float:left; 
        margin-left:10px;
        width:40%;
        padding-top:20px;
}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    font-size: inherit!important;
}


blockquote p {
    margin-top:7px;
}
label {
    line-height: 28px;
    padding-top:7px;
}
fieldset {
    margin-bottom:20px;
}



.margin-right, .margin-r {margin-right: 20px;}
.margin-t {margin-top:20px;}
.margin-b {margin-bottom:20px;}
.margin-l {margin-left:20px;}

.alert-info {
    font-style: normal!important;
}


h3 {
    font-family: 'Rokkitt', 'DroidSerifRegular', 'BebasNeueRegular', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
    /*color: #0088CC;*/
}

.color {
    color: #0a982f;
}

.line {
    border-bottom: 1px solid #bce8f1;
    margin:20px 0;
}

/*.span4 a {
     margin-top:17.5%; 
}*/
/* #sampleplan img {
    margin-left:25%;
    max-width:45%;
    } */

.popover, .popover-content {
    z-index: 1070;
}

article.total{
    border:1px solid #cfcfcf;
    width:75%;
    margin:150px auto 0;
    text-align: center;
    list-style-type: none;  
    border-radius: 5px;
    -webkit-box-shadow:  1px 1px 10px 2px rgba(150, 150, 150, .3);   
    box-shadow:  1px 1px 10px 2px rgba(150, 150, 150, .3);
}
article.total header {
    background: #e4e4e4;
    border-radius: 5px 5px 0 0;
    min-height:40px;
}

article.total header img {
    padding:15px 0;
}

article.total header p {
    padding-bottom:5px;
    font-size:17px;
    font-weight: bold;
    letter-spacing: -1px;
}
article.total h4 {
    font-size:20px;
}

article.total li {
    text-align: left;
    color: #999;
    list-style-type: none;
    line-height: 21px
}
article.total li:last-child {
    margin-bottom:20px;
}
article.total li .pull-right {
    margin-right:25px;
    color: #333;
}
.crossed {
    text-decoration:line-through;
}

.householdBox {
    max-height: 355px;
    overflow-y: scroll;
}
.incomeBox {
    width: 50%;
    float:left;
    overflow-y:scroll;
    margin-right:5%;
    height: 220px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.incomeBox table {
    width:95%;
}
.deductionBox {
    width:45%;
    display:inline-block;
    border:1px solid #dddddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #FAFAFA;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.deductionBox .ui-slider {
    width: 100%;
}
form .well {
    height: 280px;
}

#item-5 .alert {
    text-align: center;
    font-family: 'DroidSansRegular', Helvetica, Arial, sans-serif;
    font-size:15px;
}
#item-5 h5 {
    text-align: center;
    padding:1.5% 0 0.5% 0;
    font-size: 18px;
}
#item-5 .alert {
    margin-bottom:0;
    display: table;
    vertical-align: middle;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;

}

#item-5 .alert form {

}
#item-5 .alert legend {
    font-size: 16px;
    border-bottom: none;
    display: inline;
    width:auto;
    margin:0;
    /* color: #fff; */
}
#item-5 .alert p {
    margin: 15px 0 5px 0;
    font-family: 'Rokkitt', 'DroidSerifRegular', 'BebasNeueRegular', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    /* color: #fff; */
}
#item-5 .infoBox {
    display: table;
    vertical-align: middle;
    position: relative;
    text-align: center;
    height: 6em;
    float: left;
    border:1px solid #cccccc;
    margin:0 1%;
    padding: 10px 5px;
    width: 23%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
#item-5 .infoBox p {
    font-family: 'Rokkitt', 'Droid Sans', sans-serif;
    font-size: 22px;
    margin:0;
    padding: 5% 0 0 0; 
}
#item-5 .infoBox.withIcon:before {
    content:"";
    font-family: "FontAwesome";
    font-size: 20px;
    color: white;
    position:absolute;
    top: -20%;
    left: 45%;
    background:#0088cc;
    border:1px solid #0074AD;
    padding:5px 5px 1px 5px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow:  0px 4px 10px 1px rgba(10, 10, 10, .1);    
    box-shadow:  0px 4px 10px 1px rgba(10, 10, 10, .1);
}
h3.uncleSam { 
    font-size: 18px;
    color:#7d7d80;
    line-height: 25px;
    margin-left: 55px!important; 
    postion:relative;
}
h3.uncleSam:before { 
    content:url('../images/UncleSam_small.png'); 
    position: absolute;
    top:10px;
    left: 10px;
}
.widget {
    min-height: 75px;
}
.border-r { border-right: 1px solid #bce8f1; }
.no-margin-r { margin-right: 0!important; }
.no-margin-l { margin-left:0!important; }
.no-margin-b { margin-bottom:0!important;}




/********* MEDIA QUERIES STARTS ***********/

@media all and (max-width: 360px) and (min-width: 321px) {
  .counter {
    width:160px;
      width:76%;
  }
  #item-0 blockquote {
    background: url("../images/family_45p.png") no-repeat scroll 32% 71% transparent;
  }
}

@media all and (max-width: 768px) and (min-width: 361px) {
  .counter {
    width:160px;
     width:82%;
  }
  #item-0 blockquote {
    background: url("../images/family_70p.png") no-repeat scroll 0% 35% transparent;
  }
}

@media all and (max-width: 800px) and (min-width: 769px) {
  .counter {
    width:172px;
      width:82%;
  }
  #item-0 blockquote {
    background: url("../images/family_80w.png") no-repeat scroll -6% 49% transparent;
  }
}

@media all and (max-width: 980px) and (min-width: 801px) {
  .counter {
    width:233px;
    width: 25.8%;
  }
}

@media all and (max-width: 1280px) and (min-width: 981px) {
  .counter {
    width:331px;
    width:28%;
  }
  .content-r {
    margin-top: 240px;
    width: 330px;
    left: -10px;
    width:90%;
  }
  .infoBox {
    height: 3em;
    padding: 0;
  }
  #item-5 .infoBox p {
    font-size: 18px;
    margin:0;
    padding: 3% 0 0 0;
}
}

@media all and (max-width: 2050px) and (min-width: 1920px) {
  .counter {
    width:528px;
  }
}

  @media all and (max-width: 1600px) and (min-width: 1281px)  {
  .counter {
   /*width: 31%;*/
  }
}