legend {
	font-family: 'Rokkitt', 'DroidSerifRegular', 'BebasNeueRegular', Helvetica, Arial, sans-serif;
	font-weight:normal;
	color:#888;
	font-size:24px;
	font-weight:bold;
	color: #0088CC;
}
label {line-height:24px;}
.help-block,
.help-inline {
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-size:11px;
}
.radio, 
.checkbox {padding-left: 0;}
.radio input.fancy, 
.checkbox input.fancy {margin-left: 0;}

/*prepend append*/
.input-append .add-on [class^="micon-"], 
.input-prepend .add-on [class^="micon-"] {
	display:block;
	margin-top:3px;
}
.input-append.info .add-on, 
.input-prepend.info .add-on,
.input-append.primary .add-on, 
.input-prepend.primary .add-on,
.input-append.success .add-on, 
.input-prepend.success .add-on,
.input-append.warning .add-on, 
.input-prepend.warning .add-on,
.input-append.danger .add-on, 
.input-prepend.danger .add-on,
.input-append.inverse .add-on, 
.input-prepend.inverse .add-on {
	font-weight:normal;
	color:#fefefe;
	text-shadow:none;
}
.input-append.info .add-on, .input-prepend.info .add-on, .input-prepend.info input[type="text"], .input-append.info input[type="text"] {border-color:#2f96b4;}

.input-append.primary .add-on, .input-prepend.primary .add-on, .input-prepend.primary input[type="text"], .input-append.primary input[type="text"] {border-color:#0044cc;}

.input-append.success .add-on, .input-prepend.success .add-on, .input-prepend.success input[type="text"], .input-append.success input[type="text"] {border-color:#51a351;}

.input-append.warning .add-on, .input-prepend.warning .add-on, .input-prepend.warning input[type="text"], .input-append.warning input[type="text"] {border-color:#f89406;}

.input-append.danger .add-on, .input-prepend.danger .add-on, .input-prepend.danger input[type="text"], .input-append.danger input[type="text"] {border-color:#bd362f;}

.input-append.inverse .add-on, .input-prepend.inverse .add-on, .input-prepend.inverse input[type="text"], .input-append.inverse input[type="text"] {border-color:#222222;}

/***********/

/*

Uniform Theme: Uniform Default
Version: 1.5
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/

/* Global Declaration */
div.selector, 
div.selector span, 
div.checker span, 
div.radio span, 
div.uploader, 
div.uploader span.action {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
}
.selector, 
.radio, 
.checker, 
.uploader, 
.selector *, 
.radio *, 
.checker *, 
.uploader *{
	margin: 0;
	padding: 0;
}
/* SPRITES */
/* Select */
div.selector {
	background-position: -483px -130px;
	line-height: 26px;
	height: 26px;
}
div.selector span {
	background-position: right 0px;
	height: 26px;
	line-height: 26px;
}
div.selector select {
	top: 3px;
	left: 3px;
	right: 0px;
	bottom: 3px;
}
div.selector:active, 
div.selector.active {background-position: -483px -156px;}
div.selector:active span, 
div.selector.active span {background-position: right -26px;}
div.selector.focus, 
div.selector.hover, 
div.selector:hover {background-position: -483px -182px;}
div.selector.focus span, 
div.selector.hover span, 
div.selector:hover span {background-position: right -52px;}
div.selector.focus:active, 
div.selector.focus.active, 
div.selector:hover:active, 
div.selector.active:hover {background-position: -483px -208px;}
div.selector.focus:active span, 
div.selector:hover:active span, 
div.selector.active:hover span, 
div.selector.focus.active span {background-position: right -78px;}
div.selector.disabled {background-position: -483px -234px;}
div.selector.disabled span {background-position: right -104px;}

/* Checkbox */
div.checker {
	width: 19px;
	height: 19px;
}
div.checker input {
	width: 19px;
	height: 19px;
}
div.checker span {
	background-position: 0px -260px;
	height: 19px;
	width: 19px;
}
div.checker:active span, 
div.checker.active span {background-position: -19px -260px;}
div.checker.focus span, 
div.checker:hover span {background-position: -38px -260px;}
div.checker.focus:active span, 
div.checker:active:hover span, 
div.checker.active:hover span, 
div.checker.focus.active span {background-position: -57px -260px;}
div.checker span.checked {background-position: -76px -260px;}
div.checker:active span.checked, 
div.checker.active span.checked {background-position: -95px -260px;}
div.checker.focus span.checked, 
div.checker:hover span.checked {background-position: -114px -260px;}
div.checker.focus:active span.checked, 
div.checker:hover:active span.checked, 
div.checker.active:hover span.checked, 
div.checker.active.focus span.checked {background-position: -133px -260px;}
div.checker.disabled span, 
div.checker.disabled:active span, 
div.checker.disabled.active span {background-position: -152px -260px;}
div.checker.disabled span.checked, 
div.checker.disabled:active span.checked, 
div.checker.disabled.active span.checked {background-position: -171px -260px;}

/* Radio */
div.radio {
	width: 18px;
	height: 18px;
}
div.radio input {
	width: 18px;
	height: 18px;
}
div.radio span {
	height: 18px;
	width: 18px;
	background-position: 0px -279px;
}
div.radio:active span, 
div.radio.active span {background-position: -18px -279px;}
div.radio.focus span, 
div.radio:hover span {background-position: -36px -279px;}
div.radio.focus:active span, 
div.radio:active:hover span, 
div.radio.active:hover span, 
div.radio.active.focus span {background-position: -54px -279px;}
div.radio span.checked {background-position: -72px -279px;}
div.radio:active span.checked, 
div.radio.active span.checked {background-position: -90px -279px;}
div.radio.focus span.checked, 
div.radio:hover span.checked {background-position: -108px -279px;}
div.radio.focus:active span.checked, 
div.radio:hover:active span.checked, 
div.radio.focus.active span.checked, 
div.radio.active:hover span.checked {background-position: -126px -279px;}
div.radio.disabled span, 
div.radio.disabled:active span, 
div.radio.disabled.active span {background-position: -144px -279px;}
div.radio.disabled span.checked, 
div.radio.disabled:active span.checked, 
div.radio.disabled.active span.checked {background-position: -162px -279px;}

/* Uploader */
div.uploader {
	background-position: 0px -297px;
	height: 28px;
}
div.uploader span.action {
	background-position: right -409px;
	height: 24px;
	line-height: 24px;
}
div.uploader span.filename {
	height: 24px;
	margin: 2px 0px 2px 2px;
	line-height: 24px;
}
div.uploader.focus, 
div.uploader.hover, 
div.uploader:hover {background-position: 0px -353px;}
div.uploader.focus span.action, 
div.uploader.hover span.action, 
div.uploader:hover span.action {background-position: right -437px;}
div.uploader.active span.action, 
div.uploader:active span.action {background-position: right -465px;}
div.uploader.focus.active span.action, 
div.uploader:focus.active span.action, 
div.uploader.focus:active span.action, 
div.uploader:focus:active span.action {background-position: right -493px;}
div.uploader.disabled {background-position: 0px -325px;}
div.uploader.disabled span.action {background-position: right -381px;}

/* PRESENTATION */
/* Select */
div.selector {
	margin-bottom: 20px;
	width: 190px;
	font-size: 12px;
}
div.selector select {
	width: 190px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	border: solid 1px #fff;
}
div.selector span {
	padding: 0px 25px 0px 2px;
	cursor: pointer;
}
div.selector span {
	color: #666;
	width: 158px;
	text-shadow: 0 1px 0 #fff;
}
div.selector.disabled span {color: #bbb;}

/* Checker */
div.checker {
	margin-right: 10px;
	margin-top:2px;
}

/* Radio */
div.radio {
	margin-right: 10px;
	margin-top:2px;
}

/* Uploader */
div.uploader {
	width: 190px;
	margin-bottom: 20px;
	cursor: pointer;
}
div.uploader span.action {
	width: 85px;
	text-align: center;
	text-shadow: #fff 0px 1px 0px;
	background-color: #fff;
	font-size: 11px;
	font-weight: bold;
}
div.uploader span.filename {
	color: #777;
	width: 82px;
	border-right: solid 1px #bbb;
	font-size: 11px;
}
div.uploader input {width: 190px;}
div.uploader.disabled span.action {color: #aaa;}
div.uploader.disabled span.filename {
	border-color: #ddd;
	color: #aaa;
}
/*

CORE FUNCTIONALITY 
Not advised to edit stuff below this line
-----------------------------------------------------
*/
.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus {outline: 0;}
div.selector {position: relative;padding-left: 10px;}
div.selector span {display: block;float: left;}
div.selector select {position: absolute;opacity: 0;}
div.checker {position: relative;float: left;}
div.checker span {display: block;float: left;text-align: center;}
div.checker input {opacity: 0;display: inline-block;}
div.radio {position: relative;float: left;}
div.radio span {display: block;float: left;text-align: center;}
div.radio input {opacity: 0;text-align: center;display: inline-block;}
div.uploader {position: relative;float: left;overflow: hidden;}
div.uploader span.action {float: left;display: inline;padding: 2px 0px;overflow: hidden;cursor: pointer;}
div.uploader span.filename {padding: 0px 10px;float: left;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
div.uploader input {opacity: 0;position: absolute;top: 0;right: 0;bottom: 0;float: right;}

/* chosen */
.chzn-container {
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #aaa;
	border-top: 0;
	position: absolute;
	top: 29px;
	left: 0;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0 4px 5px rgba(0,0,0,.15);
	box-shadow: 0 4px 5px rgba(0,0,0,.15);
	z-index: 1010;
}
.chzn-container-single .chzn-single {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color:#ffffff;
	border: 1px solid #aaaaaa;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 23px;
	line-height: 24px;
	padding: 0 0 0 8px;
	color: #444444;
	text-decoration: none;
}
.chzn-container-single .chzn-default {color: #999;}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url('../images/chosen-sprite.png') right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {background-position: right -11px;}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {background-position: right top;}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 18px;
}
.chzn-container-single .chzn-single div b {
	background: url('../images/chosen-sprite.png') no-repeat 0 0;
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container-single .chzn-search {
	padding: 3px 4px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
}
.chzn-container-single .chzn-search input {
	background: #fff url('../images/chosen-sprite.png') no-repeat 100% -22px;
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	outline: 0;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 1em;
}
.chzn-container-single .chzn-drop {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}
.chzn-container-multi .chzn-choices {
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
	border: 1px solid #aaa;
	margin: 0;
	padding: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	position: relative;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 100%;
	height: 15px;
	padding: 5px;
	margin: 1px 0;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.chzn-container-multi .chzn-choices .search-field .default {color: #999;}
.chzn-container-multi .chzn-choices .search-choice {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;
	border: 1px solid #aaaaaa;
	line-height: 13px;
	padding: 3px 20px 3px 5px;
	margin: 3px 0 3px 5px;
	position: relative;
	cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
	background-color: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	color: #666;
	border: 1px solid #cccccc;
	padding-right: 5px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {background: #d4d4d4;}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url('../images/chosen-sprite.png') right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {background-position: right -11px;}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {background-position: right -11px;}
.chzn-container .chzn-results {
	margin: 0 4px 4px 0;
	max-height: 240px;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
	margin: -1px 0 0;
	padding: 0;
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 15px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #3875d7;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );  
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
}
.chzn-container .chzn-results .highlighted em {background: transparent;}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999;
	font-weight: bold;
}
.chzn-container .chzn-results .group-option {padding-left: 15px;}
.chzn-container-multi .chzn-drop .result-selected {display: none;}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 321px; /* This should by dynamic with js */
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {bottom: 0;}
.chzn-container .chzn-results-scroll-down span {background: url('../images/chosen-sprite.png') no-repeat -4px -3px;}
.chzn-container .chzn-results-scroll-up span {background: url('../images/chosen-sprite.png') no-repeat -22px -3px;}

.chzn-container-active .chzn-single {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	background-color: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
	-webkit-border-bottom-left-radius : 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft : 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {background-position: -18px 1px;}
.chzn-container-active .chzn-choices {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {color: #111 !important;}
.chzn-disabled {
	cursor: default;
	opacity:0.5 !important;
}
.chzn-disabled .chzn-single {cursor: default;}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {cursor: default;}
.chzn-rtl {text-align: right;}
.chzn-rtl .chzn-single {
	padding: 0 8px 0 0;
	overflow: visible;
}
.chzn-rtl .chzn-single span {
	margin-left: 26px;
	margin-right: 0;
	direction: rtl;
}
.chzn-rtl .chzn-single div {
	left: 3px;
	right: auto;
}
.chzn-rtl .chzn-single abbr {
	left: 26px;
	right: auto;
}
.chzn-rtl .chzn-choices .search-field input {direction: rtl;}
.chzn-rtl .chzn-choices li {float: right;}
.chzn-rtl .chzn-choices .search-choice {
	padding: 3px 5px 3px 19px;
	margin: 3px 5px 3px 0;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
	left: 4px; 
	right: auto; 
	background-position: right top;
}
.chzn-rtl.chzn-container-single .chzn-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results .group-option {
	padding-left: 0;
	padding-right: 15px;
}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {border-right: none;}
.chzn-rtl .chzn-search input {
	background: #fff url('../images/chosen-sprite.png') no-repeat -38px -22px;
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);  
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
	padding: 4px 5px 4px 20px;
	direction: rtl;
}
.widget-nav .chzn-container {
	width:243px;
	margin-right:10px;
}
.widget-nav .input-navbar {
	width:300px;
	margin-top:9px;
	margin-right:20px;
	font-size:12px;
	height:16px;
	border:1px solid #aaa;
}