/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	/*content: attr(data-icon);*/
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="micon-"] {line-height:1;}
[class^="micon-"]:before, 
[class*=" micon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.micon-home:before {content: "\41";}
.micon-home-2:before {content: "\59";}
.micon-home-3:before {content: "\5a";}
.micon-newspaper:before {content: "\5b";}
.micon-pencil:before {content: "\5c";}
.micon-pencil-2:before {content: "\5d";}
.micon-droplet:before {content: "\5e";}
.micon-picture:before {content: "\5f";}
.micon-picture-2:before {content: "\60";}
.micon-camera:before {content: "\61";}
.micon-music:before {content: "\62";}
.micon-play:before {content: "\63";}
.micon-film:before {content: "\64";}
.micon-camera-2:before {content: "\65";}
.micon-spades:before {content: "\66";}
.micon-clubs:before {content: "\67";}
.micon-diamonds:before {content: "\68";}
.micon-broadcast:before {content: "\69";}
.micon-microphone:before {content: "\6a";}
.micon-book:before {content: "\6b";}
.micon-paper:before {content: "\6c";}
.micon-paper-2:before {content: "\6d";}
.micon-new:before {content: "\6e";}
.micon-copy:before {content: "\6f";}
.micon-folder:before {content: "\70";}
.micon-folder-2:before {content: "\71";}
.micon-tag:before {content: "\72";}
.micon-cart:before {content: "\73";}
.micon-basket:before {content: "\74";}
.micon-calculate:before {content: "\75";}
.micon-support:before {content: "\76";}
.micon-phone:before {content: "\77";}
.micon-mail:before {content: "\78";}
.micon-location:before {content: "\22";}
.micon-compass:before {content: "\23";}
.micon-history:before {content: "\24";}
.micon-clock:before {content: "\25";}
.micon-bell:before {content: "\26";}
.micon-bell-2:before {content: "\27";}
.micon-bell-3:before {content: "\28";}
.micon-calendar:before {content: "\29";}
.micon-mouse:before {content: "\2a";}
.micon-screen:before {content: "\2b";}
.micon-laptop:before {content: "\2c";}
.micon-mobile:before {content: "\2d";}
.micon-tablet:before {content: "\2e";}
.micon-mobile-2:before {content: "\2f";}
.micon-drawer:before {content: "\30";}
.micon-drawer-2:before {content: "\31";}
.micon-box-add:before {content: "\32";}
.micon-box-remove:before {content: "\33";}
.micon-database:before {content: "\34";}
.micon-undo:before {content: "\35";}
.micon-redo:before {content: "\36";}
.micon-forward:before {content: "\37";}
.micon-reply:before {content: "\38";}
.micon-reply-2:before {content: "\39";}
.micon-comments:before {content: "\3a";}
.micon-comments-2:before {content: "\3b";}
.micon-comments-3:before {content: "\3c";}
.micon-comments-4:before {content: "\3d";}
.micon-comments-5:before {content: "\3e";}
.micon-comments-6:before {content: "\3f";}
.micon-user:before {content: "\40";}
.micon-user-2:before {content: "\42";}
.micon-user-3:before {content: "\43";}
.micon-busy:before {content: "\44";}
.micon-loading:before {content: "\45";}
.micon-loading-2:before {content: "\46";}
.micon-search:before {content: "\47";}
.micon-search-2:before {content: "\48";}
.micon-zoom-in:before {content: "\49";}
.micon-zoom-out:before {content: "\4a";}
.micon-key:before {content: "\4b";}
.micon-key-2:before {content: "\4c";}
.micon-locked:before {content: "\4d";}
.micon-unlocked:before {content: "\4e";}
.micon-wrench:before {content: "\4f";}
.micon-equalizer:before {content: "\50";}
.micon-cog:before {content: "\51";}
.micon-pie:before {content: "\52";}
.micon-bars:before {content: "\53";}
.micon-stats-up:before {content: "\54";}
.micon-gift:before {content: "\55";}
.micon-trophy:before {content: "\56";}
.micon-diamond:before {content: "\57";}
.micon-coffee:before {content: "\58";}
.micon-rocket:before {content: "\79";}
.micon-meter-slow:before {content: "\21";}
.micon-meter-medium:before {content: "\7a";}
.micon-meter-fast:before {content: "\7b";}
.micon-dashboard:before {content: "\7c";}
.micon-fire:before {content: "\7d";}
.micon-lab:before {content: "\e000";}
.micon-remove:before {content: "\e001";}
.micon-remove-2:before {content: "\e002";}
.micon-remove-3:before {content: "\e003";}
.micon-briefcase:before {content: "\e004";}
.micon-briefcase-2:before {content: "\e005";}
.micon-cars:before {content: "\e006";}
.micon-bus:before {content: "\e007";}
.micon-cube:before {content: "\e008";}
.micon-cube-2:before {content: "\e009";}
.micon-puzzle:before {content: "\e00a";}
.micon-glasses:before {content: "\e00b";}
.micon-glasses-2:before {content: "\e00c";}
.micon-accessibility:before {content: "\e00d";}
.micon-accessibility-2:before {content: "\e00e";}
.micon-target:before {content: "\e00f";}
.micon-target-2:before {content: "\e010";}
.micon-lightning:before {content: "\e011";}
.micon-power:before {content: "\e012";}
.micon-power-2:before {content: "\e013";}
.micon-clipboard:before {content: "\e014";}
.micon-clipboard-2:before {content: "\e015";}
.micon-playlist:before {content: "\e016";}
.micon-grid-view:before {content: "\e017";}
.micon-tree-view:before {content: "\e018";}
.micon-menu:before {content: "\e019";}
.micon-menu-2:before {content: "\e01a";}
.micon-cloud:before {content: "\e01b";}
.micon-cloud-2:before {content: "\e01c";}
.micon-download:before {content: "\e01d";}
.micon-upload:before {content: "\e01e";}
.micon-upload-2:before {content: "\e01f";}
.micon-link:before {content: "\e020";}
.micon-link-2:before {content: "\e021";}
.micon-flag:before {content: "\e022";}
.micon-flag-2:before {content: "\e023";}
.micon-flag-3:before {content: "\e024";}
.micon-eye:before {content: "\e025";}
.micon-eye-2:before {content: "\e026";}
.micon-bookmark:before {content: "\e027";}
.micon-bookmark-2:before {content: "\e028";}
.micon-star:before {content: "\e029";}
.micon-star-2:before {content: "\e02a";}
.micon-star-3:before {content: "\e02b";}
.micon-heart:before {content: "\e02c";}
.micon-heart-2:before {content: "\e02d";}
.micon-thumbs-up:before {content: "\e02e";}
.micon-thumbs-down:before {content: "\e02f";}
.micon-happy:before {content: "\e030";}
.micon-smiley:before {content: "\e031";}
.micon-neutral:before {content: "\e032";}
.micon-plus:before {content: "\e033";}
.micon-minus:before {content: "\e034";}
.micon-help:before {content: "\e035";}
.micon-help-2:before {content: "\e036";}
.micon-info:before {content: "\e037";}
.micon-blocked:before {content: "\e038";}
.micon-cancel:before {content: "\e039";}
.micon-cancel-2:before {content: "\e03a";}
.micon-cancel-3:before {content: "\e03b";}
.micon-checkmark:before {content: "\e03c";}
.micon-minus-2:before {content: "\e03d";}
.micon-plus-2:before {content: "\e03e";}
.micon-enter:before {content: "\e03f";}
.micon-exit:before {content: "\e040";}
.micon-loop:before {content: "\e041";}
.micon-arrow-up:before {content: "\e042";}
.micon-arrow-right:before {content: "\e043";}
.micon-arrow-down:before {content: "\e044";}
.micon-arrow-left:before {content: "\e045";}
.micon-arrow-up-left:before {content: "\e046";}
.micon-arrow-up-2:before {content: "\e047";}
.micon-arrow-up-right:before {content: "\e048";}
.micon-arrow-right-2:before {content: "\e049";}
.micon-arrow-down-right:before {content: "\e04a";}
.micon-arrow-down-2:before {content: "\e04b";}
.micon-arrow-down-left:before {content: "\e04c";}
.micon-arrow-left-2:before {content: "\e04d";}
.micon-arrow-up-left-2:before {content: "\e04e";}
.micon-arrow-up-3:before {content: "\e04f";}
.micon-arrow-up-right-2:before {content: "\e050";}
.micon-arrow-right-3:before {content: "\e051";}
.micon-arrow-down-right-2:before {content: "\e052";}
.micon-arrow-down-3:before {content: "\e053";}
.micon-arrow-down-left-2:before {content: "\e054";}
.micon-arrow-left-3:before {content: "\e055";}
.micon-arrow-up-left-3:before {content: "\e056";}
.micon-arrow-up-4:before {content: "\e057";}
.micon-arrow-up-right-3:before {content: "\e058";}
.micon-arrow-right-4:before {content: "\e059";}
.micon-arrow-down-right-3:before {content: "\e05a";}
.micon-arrow-down-4:before {content: "\e05b";}
.micon-arrow-down-left-3:before {content: "\e05c";}
.micon-arrow-left-4:before {content: "\e05d";}
.micon-arrow-up-5:before {content: "\e05e";}
.micon-arrow-right-5:before {content: "\e05f";}
.micon-arrow-down-5:before {content: "\e060";}
.micon-arrow-left-5:before {content: "\e061";}
.micon-arrow-up-6:before {content: "\e062";}
.micon-arrow-right-6:before {content: "\e063";}
.micon-arrow-down-6:before {content: "\e064";}
.micon-arrow-left-6:before {content: "\e065";}
.micon-arrow-up-7:before {content: "\e066";}
.micon-arrow-right-7:before {content: "\e067";}
.micon-arrow-down-7:before {content: "\e068";}
.micon-arrow-left-7:before {content: "\e069";}
.micon-menu-3:before {content: "\e06a";}
.micon-enter-2:before {content: "\e06b";}
.micon-backspace:before {content: "\e06c";}
.micon-backspace-2:before {content: "\e06d";}
.micon-tab:before {content: "\e06e";}
.micon-tab-2:before {content: "\e06f";}
.micon-checkbox:before {content: "\e070";}
.micon-checkbox-unchecked:before {content: "\e071";}
.micon-checkbox-partial:before {content: "\e072";}
.micon-radio-checked:before {content: "\e073";}
.micon-radio-unchecked:before {content: "\e074";}
.micon-font:before {content: "\e075";}
.micon-paragraph-left:before {content: "\e076";}
.micon-paragraph-center:before {content: "\e077";}
.micon-paragraph-right:before {content: "\e078";}
.micon-left-to-right:before {content: "\e079";}
.micon-right-to-left:before {content: "\e07a";}
.micon-out:before {content: "\e07b";}
.micon-out-2:before {content: "\e07c";}
.micon-embed:before {content: "\e07d";}
.micon-seven-segment:before {content: "\e07e";}
.micon-seven-segment-2:before {content: "\e07f";}
.micon-seven-segment-3:before {content: "\e080";}
.micon-seven-segment-4:before {content: "\e081";}
.micon-seven-segment-5:before {content: "\e082";}
.micon-seven-segment-6:before {content: "\e083";}
.micon-seven-segment-7:before {content: "\e084";}
.micon-seven-segment-8:before {content: "\e085";}
.micon-seven-segment-9:before {content: "\e086";}
.micon-seven-segment-10:before {content: "\e087";}
.micon-bluetooth:before {content: "\e088";}
.micon-share:before {content: "\e089";}
.micon-share-2:before {content: "\e08a";}
.micon-mail-2:before {content: "\e08b";}
.micon-mail-3:before {content: "\e08c";}
.micon-google-plus:before {content: "\e08d";}
.micon-google-plus-2:before {content: "\e08e";}
.micon-google-plus-3:before {content: "\e08f";}
.micon-gplus:before {content: "\e090";}
.micon-facebook:before {content: "\e091";}
.micon-facebook-2:before {content: "\e092";}
.micon-facebook-3:before {content: "\e093";}
.micon-facebook-4:before {content: "\e094";}
.micon-twitter:before {content: "\e095";}
.micon-twitter-2:before {content: "\e096";}
.micon-twitter-3:before {content: "\e097";}
.micon-feed:before {content: "\e098";}
.micon-feed-2:before {content: "\e099";}
.micon-feed-3:before {content: "\e09a";}
.micon-youtube:before {content: "\e09b";}
.micon-youtube-2:before {content: "\e09c";}
.micon-vimeo:before {content: "\e09d";}
.micon-vimeo-2:before {content: "\e09e";}
.micon-flickr:before {content: "\e09f";}
.micon-flickr-2:before {content: "\e0a0";}
.micon-flickr-3:before {content: "\e0a1";}
.micon-picassa:before {content: "\e0a2";}
.micon-picassa-2:before {content: "\e0a3";}
.micon-dribbble:before {content: "\e0a4";}
.micon-dribbble-2:before {content: "\e0a5";}
.micon-dribbble-3:before {content: "\e0a6";}
.micon-forrst:before {content: "\e0a7";}
.micon-forrst-2:before {content: "\e0a8";}
.micon-deviantart:before {content: "\e0a9";}
.micon-deviantart-2:before {content: "\e0aa";}
.micon-github:before {content: "\e0ab";}
.micon-github-2:before {content: "\e0ac";}
.micon-github-3:before {content: "\e0ad";}
.micon-github-4:before {content: "\e0ae";}
.micon-github-5:before {content: "\e0af";}
.micon-github-6:before {content: "\e0b0";}
.micon-git:before {content: "\e0b1";}
.micon-github-7:before {content: "\e0b2";}
.micon-wordpress:before {content: "\e0b3";}
.micon-wordpress-2:before {content: "\e0b4";}
.micon-blogger:before {content: "\e0b5";}
.micon-blogger-2:before {content: "\e0b6";}
.micon-tumblr:before {content: "\e0b7";}
.micon-tumblr-2:before {content: "\e0b8";}
.micon-yahoo:before {content: "\e0b9";}
.micon-yahoo-2:before {content: "\e0ba";}
.micon-amazon:before {content: "\e0bb";}
.micon-amazon-2:before {content: "\e0bc";}
.micon-apple:before {content: "\e0bd";}
.micon-finder:before {content: "\e0be";}
.micon-android:before {content: "\e0bf";}
.micon-windows:before {content: "\e0c0";}
.micon-soundcloud:before {content: "\e0c1";}
.micon-soundcloud-2:before {content: "\e0c2";}
.micon-skype:before {content: "\e0c3";}
.micon-reddit:before {content: "\e0c4";}
.micon-linkedin:before {content: "\e0c5";}
.micon-lastfm:before {content: "\e0c6";}
.micon-lastfm-2:before {content: "\e0c7";}
.micon-delicious:before {content: "\e0c8";}
.micon-stumbleupon:before {content: "\e0c9";}
.micon-stumbleupon-2:before {content: "\e0ca";}
.micon-pinterest:before {content: "\e0cb";}
.micon-pinterest-2:before {content: "\e0cc";}
.micon-xing:before {content: "\e0cd";}
.micon-libreoffice:before {content: "\e0ce";}
.micon-file-pdf:before {content: "\e0cf";}
.micon-file-openoffice:before {content: "\e0d0";}
.micon-file-word:before {content: "\e0d1";}
.micon-file-excel:before {content: "\e0d2";}
.micon-file-powerpoint:before {content: "\e0d3";}
.micon-file-zip:before {content: "\e0d4";}
.micon-file-xml:before {content: "\e0d5";}
.micon-file-css:before {content: "\e0d6";}
.micon-html5:before {content: "\e0d7";}
.micon-html5-2:before {content: "\e0d8";}
.micon-css3:before {content: "\e0d9";}
.micon-chrome:before {content: "\e0da";}
.micon-firefox:before {content: "\e0db";}
.micon-IE:before {content: "\e0dc";}
.micon-opera:before {content: "\e0dd";}
.micon-safari:before {content: "\e0de";}
.micon-IcoMoon:before {content: "\e0df";}