/* *** Caluculate Line Height *** */
@function strip-unit($number)
  @return $number / ($number * 0 + 1)


@function compute-line-height($font-size)
   @return floor((strip-unit($font-size)) * 1.4)

@mixin computed-line-height ($line-height)
    margin-top: $line-height
    margin-top: $line-height / 2

@mixin btn
  border: 1px solid $border-btn !important
  background: $bg-color-btn
  color: $color-btn
  text-shadow: none
  box-shadow: none !important
  text-transform: $text-trans-btn
  font-weight: $font-weight-btn
  padding: 10px 15px
  border-radius: 4px
  font-size: $font-size-btn

@mixin btn-small
  padding: 5px 6px
  font-size: $font-size-btn-small

@mixin btn-disabled
  background-color: #93c8dc !important
  border: none
  cursor: not-allowed !important
  pointer-events: visible !important

@mixin btn-primary
  color: $color-primary-btn
  background: $bg-color-primary-btn
  border: 1px solid $border-primary-btn
  text-shadow: none
  text-transform: $text-trans-btn
  font-weight: $font-weight-primary-btn
  border-radius: 5px
  font-size: $font-size-primary-btn

@mixin btn-primary-hover
  color: #fff
  background: $bg-color-primary-btn-hover
  border: 1px solid $border-primary-btn-hover
  text-shadow: none
  text-transform: $text-trans-btn
  font-weight: $font-weight-primary-btn-hover
  border-radius: 5px
  font-size: $font-size-primary-btn-hover




