@import "variables_NV"
html
  box-sizing: border-box

*
  padding: 0
  margin: 0
*, *:before, *:after
  box-sizing: inherit


body, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: normal

a
  color: $color-link
  text-decoration: $link-text-decoration
  &:visited
    color: $color-link
    text-decoration: $link-text-decoration
  &:hover,&:focus
    color: $color-link-hover
    text-decoration: $link-text-decoration-u

#root
  position: relative

.font-weight-normal
  font-weight: $font-weight-normal


.margin-0
  margin: 0 !important
.margin-top-null
  margin-top: 0
.margin-t-0
  margin-top: 0 !important
.margin-t-20
  margin-top: 2em !important
.margin-t-30
  margin-top: 3em !important
.margin-t-40
  margin-top: 4em !important
.margin-t-5-ve
  margin-top: -5px !important

.margin-r-10
  margin-right: 1em !important
.margin-r-20
  margin-right: 2em !important
.margin-r-30
  margin-right: 3em !important
.margin-l-5-ve
  margin-left: -5px !important

.margin-b-0
  margin-bottom: 0 !important
.margin-b-10
  margin-bottom: 1em !important
.margin-b-20
  margin-bottom: 2em !important
.margin-b-40
  margin-bottom: 4em !important
.margin-b-10-ve
  margin-bottom: -1em !important


.margin-l-0
  margin-left: 0 !important
.margin-l-20
  margin-left: 2em !important
.margin-l-20-ve
  margin-left: -2em !important
.margin-tb-0
  margin-top: 0 !important
  margin-bottom: 0 !important
.margin-tb-5
  margin-top: 5px !important
  margin-bottom: 0 !important
.margin-tb-10-0
  margin-top: 1rem !important
  margin-bottom: 0 !important
.margin-tb-20-0
  margin-top: 2rem !important
  margin-bottom: 0 !important
.margin-tb-10
  margin-top: 1em !important
  margin-bottom: 1em !important
.margin-tb-20
  margin-top: 2em !important
  margin-bottom: 2em !important
.margin-tb-20-10
  margin-top: 2em !important
  margin-bottom: 1em !important
.margin-tb-10-20
  margin-top: 1em !important
  margin-bottom: 2em !important

.margin-lr-20
  margin-left: 2em !important
  margin-right: 2em !important

.padding-0
  padding: 0 !important
.padding-tb-0
  padding-top: 0 !important
  padding-bottom: 0 !important
.padding-t-20
  padding-top: 2em !important


.grid-offset-half
  margin-left: 3.333333%
  margin-right: -0.6%
.grid-offset-1
  margin-left: 8.333333%
  margin-right: -6.033333%
.grid-offset-2
  margin-left: 16.666667%
.grid-offset-3
  margin-left: 31.76157%
.grid-offset-4
  margin-left: 33.333333%
.grid-offset-5
  margin-left: 41.666667%
.grid-offset-6
  margin-left: 50%
.grid-offset-7
  margin-left: 58.333333%
.grid-offset-8
  margin-left: 66.666667%
.grid-offset-9
  margin-left: 75%
.grid-offset-10
  margin-left: 83.333333%
.grid-offset-11
  margin-left: 91.666667%

.grid-offset-one-twelfth
  margin-left: 8.5398%
.grid-offset-one-sixth
  margin-left: 17.055961%
.grid-offset-one-fouth
  margin-left: 25.58941%
.grid-offset-one-third
  margin-left: 34.11922%

.next-line
  display: inline-block

.hidden
  display: none!important
.shown
  display: initial
.txt-left
  text-align: left
.txt-right
  text-align: right
.txt-center
  text-align: center
.bordered
  //box-shadow: 0 0 1px 0 rgba(0,0,0,0.38), 0 1px 3px 0 rgba(0,0,0,0.15)
  margin-bottom: 1.5em
  padding: 1.5em 1.5em
  border: solid 1px #f1f1f3
  background-color: #fbfbfb
.bordered-t
  border-top: 1px solid $border-color

.bordered-b
  border-bottom: 1px solid $border-color
.bordered-b-box
  border-bottom: 1px solid $border-color
  margin-bottom: 15px
  padding: 20px
.fade-in
  -webkit-animation: fadein 2s /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s /* Firefox < 16 */
        -ms-animation: fadein 2s /* Internet Explorer */
         -o-animation: fadein 2s /* Opera < 12.1 */
            animation: fadein 2s

@keyframes fadein
  0%
    opacity: 0
  100%
    opacity: 1
/* **** Alert **** */
.alert--info
    color: $color-alert !important
    font-size: $font-m
    font-weight: 300
    background: $bg-alert
    border: 1px solid #dfe6ea !important
    margin-top: 1em !important
    margin-bottom: 1em !important
    border-radius: 5px
    //box-shadow: 0 0 1px 0 rgba(0,0,0,0.05), 0 1px 3px 0 rgba(0,0,0,0.15)
    padding: 1rem
    &:before
      background-color: $bg-alert-color
    .usa-alert-body
      padding-left: 1rem
    .usa-alert-text
      color: $color-alert !important
      b, strong
        span
          font-weight: 400
    &.alert__review
      margin-top: 0 !important
      margin-bottom: 2em !important

.controls-container
  margin-top: 2rem
  .controls
    margin-bottom: 20px

.pointer
  cursor: pointer

.divider
  border-bottom: 1px solid $border-color
  margin-top: 5px
  margin-bottom: 10px

/* **** Tooltip **** */
.tooltip
  &-anchor
    position: relative
    b
      color: $color-link
      font-weight: normal
  &-content
    display: none
.tooltip-anchor:hover .tooltip-content
  display: block
  position: absolute
  width: 250px
  height: 100px
  border: 1px solid black
  border-radius: 3px
  background-color: rgb(225, 243, 248)
  z-index: 10
  padding-top: 10px
  top: -110px
  left: -70px
  &:after
    content: ''
    display: block
    position: absolute
    top: 98px
    left: 115px
    border: 10px solid transparent
    border-top-color: black
.para-heading
  &-substyle
    font-size: $font-xs
  &-supporting-txt
    margin-top: 10px
    color: rgb(117,117,117)
  .fa-asterisk
    color: #560101
    height: 6px
    width: 6px

.gi__alert
  &--error
    background-image: none
    border: 1px solid #e0cfcf
    border-radius: 5px
    &::before
      background-color: transparent
    .usa-alert-body
      padding-left: 0
/* *******  Yury's Styles ******** */
.controls
  //border: 1px solid red
  padding: 2rem 0

// Buttons

.buttons-group
  text-align: right

// Table
.table-data
  font-size: $font-m
  padding: 3px 0
  word-break: break-all

.table-res
  width: 100%
  border: 1px solid transparent
  thead td, thead th
    background-color: transparent
    border: 1px solid transparent
  td
    border: 1px solid transparent

.lds-roller-container
  position: absolute
  width: 100%
  height: 100vw
  background-color: rgba(90, 90, 90, 0.3)
  z-index: 100000

.ls-roller-wrapper
  position: absolute
  top: 200px
  left: 50%
  height: 100px

.lds-roller-message
  display: inline-block
  font-size: 3rem
  margin: 0 auto
  color: #4aa564

.lds-roller
  display: inline-block
  width: 64px
  height: 64px
  //background-color: rgb(90, 90, 90)
  //margin-left: -32px

.lds-roller div
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  transform-origin: 32px 32px

.lds-roller div:after
  content: " "
  display: block
  position: absolute
  width: 6px
  height: 6px
  border-radius: 50%
  background: #4aa564
  //background: #fff
  margin: -3px 0 0 -3px

.lds-roller div:nth-child(1)
  animation-delay: -0.036s

.lds-roller div:nth-child(1):after
  top: 50px
  left: 50px

.lds-roller div:nth-child(2)
  animation-delay: -0.072s

.lds-roller div:nth-child(2):after
  top: 54px
  left: 45px

.lds-roller div:nth-child(3)
  animation-delay: -0.108s

.lds-roller div:nth-child(3):after
  top: 57px
  left: 39px

.lds-roller div:nth-child(4)
  animation-delay: -0.144s

.lds-roller div:nth-child(4):after
  top: 58px
  left: 32px

.lds-roller div:nth-child(5)
  animation-delay: -0.18s

.lds-roller div:nth-child(5):after
  top: 57px
  left: 25px

.lds-roller div:nth-child(6)
  animation-delay: -0.216s

.lds-roller div:nth-child(6):after
  top: 54px
  left: 19px

.lds-roller div:nth-child(7)
  animation-delay: -0.252s

.lds-roller div:nth-child(7):after
  top: 50px
  left: 14px

.lds-roller div:nth-child(8)
  animation-delay: -0.288s

.lds-roller div:nth-child(8):after
  top: 45px
  left: 10px

@keyframes lds-roller
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

// Additional error info

.additional-error-info
  & span
    display: inline-block
    background-color: rgba(76, 76, 76, 0.3)
    margin: 0 1.0rem
    padding: 0.5rem
    font-size: 1.2rem
    border-radius: 3px

  & div
    margin-top: 1.0rem

.hyper-navigation-tooltip
  display: none
  list-style-type: none
  background-color: orange
  padding: 10px 27px 10px 6px
  border-radius: 3px
  width: 380px
  position: relative
  font-weight: normal
  &.narrow
    width: 300px
  &.wide
    width: 500px
  & li
    font-size: 10px !important
    line-height: 8px !important
  &-number
    margin-right: 20px
  &-name
    position: absolute
    left: 30px
    //margin-right: 20px
  &-mirror-text
    position: absolute
    left: 250px
  &-mirror-code
    position: absolute
    left: 450px
  &-component
    position: absolute
    left: 250px
  &-anchor
    display: inline-block
    margin-left: 1em
    width: 21px
    height: 21px
    border-radius: 5px
    border: 3px solid black
    background-color: orange
    padding-left: 4px
    padding-top: 2px
    position: static
    cursor: pointer
  &-masks
    position: absolute
    left: 190px
  &-masks:hover
    color: blue

  .list-caption
    font-weight: bold
    font-size: 1.5em
    display: inline-block
    margin-bottom: 10px
  .masks-type
    font-weight: bold
    display: inline-block
    margin-bottom: 10px

  .hhm-masks
    font-weight: bold
    color: red
    margin: 10px 0

  .masks-wrapper
    border: 1px solid black
    border-radius: 2px
    width: 365px
    padding: 5px
    margin-bottom: 10px

.masks-type:hover
  color: red

.list-caption:hover
  color: blue

.diminutive
  width: 2em
  font-size: 0.5em

.showDetailButton
  display: inline
.hideDetailButton
  display: none

.hyper-navigation-tooltip-anchor:hover
  .hyper-navigation-tooltip
    display: block
    position: absolute
    left: 30px
    top: 100px
    z-index: 1000


button
  margin: 0 !important




// Paginator buttons

.paginator-btn-tooltip
  display: none

.hyper-btn
  position: relative

.hyper-btn:hover
  background-color: green !important
  color: white !important

.hyper-btn:hover
  .paginator-btn-tooltip
    display: inline-block
    position: absolute
    width: 220px
    height: 80px
    left: 0
    top: -90px
    background-color: orange
    border: 1px solid black
    color: black
    text-align: left
    padding: 3px
    z-index: 25000

  .explanation
    position: absolute
    top: 79px
    left: -1px
    display: block
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 10px solid orange

.member-btn:hover
  background-color: red !important


.ds-c-button
    color: #ffffff
    background: #007fae
    border: 1px solid #007fae
    text-shadow: none
    text-transform: uppercase
    font-weight: normal
    border-radius: 5px
    font-size: 1.5rem
    box-shadow: none !important

.ds-c-button:hover
  background: #006c95

.ds-c-button.usa-button-secondary:hover
  background: none !important
  border: 1px solid #007fae

.move-up-1 span
  display: inline-block
  position: relative
  top: -30px !important

.move-up-2 span
  display: inline-block
  position: relative
  top: -60px !important


.usa-form-group-day, .usa-form-group-month
  width: 5.3rem

.usa-table-borderless td, .usa-table-borderless th
  border-bottom: 1px solid #D6D8DB

.alert--info
  padding: 2rem

.pre_load_placeholder
  min-height: 400px

.address_l2
  background-color: #f5f6f6
  padding: 10px 30px 10px 10px
  display: table
  width: 100%
  margin-bottom: 10px
/**Overwritting uswds**/
/* stylelint-disable selector-no-qualifying-type */
ul.usa-footer-primary-content,
li.usa-footer-primary-content,
li.usa-footer-primary-content
  border-top: 0px solid #aeb0b5

ul.usa-footer-primary-content:last-child,
li.usa-footer-primary-content:last-child,
li.usa-footer-primary-content:last-child
  border-bottom: 0px solid #aeb0b5

@media screen and (min-width: 600px)
  ul.usa-footer-primary-content,
  li.usa-footer-primary-content,
  li.usa-footer-primary-content
    border: none

  ul.usa-footer-primary-content:last-child,
  li.usa-footer-primary-content:last-child,
  li.usa-footer-primary-content:last-child
    border: none
