@import "variables_NV"
*
  padding: 0
  margin: 0
html
  font-size: $base-font

body
  color: $color-body
  font-family: $font-family-body !important
  font-weight: $font-weight-body
  font-style: normal
  line-height: $line-height-body
  font-size: $font-size-body
  padding: 10px
  #root
    font-family: $font-root !important
    p, label, legend
      font-size: $font-size-p
      line-height: $line-height-p
      color: $color-text

a, span
  font-family: $font-family-body !important

h1
  color: $color-h1
  font-family: $font-family-h1 !important
  font-size: $font-size-h1
  font-weight: $font-weight-h1 !important
  letter-spacing: -0.5px
h2
  font-family: $font-family-h2 !important
  font-size: $font-size-h2
  color: $color-h2
  font-weight: $font-weight-h2
h3
  font-family: $font-family-h3 !important
  font-size: $font-size-h3
  font-weight: $font-weight-h3
  margin-bottom: 1em !important
h4
  color: $color-h4
  font-family: $font-family-h4
  font-size: $font-size-h4
  font-weight: $font-weight-h4
h5
  font-family: $font-family-h5 !important
  font-size: $font-size-h5
  font-weight: $font-weight-h5 !important

.h4-not-highlighted
  border-bottom: none

button
  font-weight: $font-weight-semibold !important
button.btn-small
  font-weight: $font-weight-normal !important
  



/* ******************* Side Navbar ******************* */

.usa-sidenav-list
  a
    &.usa-current
      font-family: $font-family-body !important
      font-weight: $font-weight-sidenav-current
      color: $color-sidenav-current !important


ul li .usa-sans a, .usa-sans li, .usa-sans p, .usa-sans span
     font-family: $font-family-body !important

.usa-sidenav-list
  li
    font-size: $font-size-body
