/* ******************* Errors & Required ******************* */
@import "variables_NV"
@import "abstracts"
.required
    font-size: 10px
    color: $asterisk-required
    float: left
    margin-right: 6px
    margin-top: 4px
    &.fas
      font-size: 8px
      color: $asterisk-required
      font-weight: 600
.required-true
    &:after
      display: inline
      content: '*'
      color: $asterisk-required
      height: 8px
      width: 8px
.required-false
    &:after
      display: none !important

.groupLabel
    font-size: large
    padding-top: 6px !important
    padding-bottom: 6px !important
    margin-bottom: 0 !important
    font-weight: normal
    line-height: inherit

label
  display: inline

input,
select
  font-size: $font-m
  border: .1rem solid #b5b5b5
  height: 4rem
  padding: 1rem 1rem
legend
  font-weight: $font-weight-normal
  margin-bottom: 1em
.gi-regular_input,  .gi-phone_number, .gi-money, .gi-ssn
    margin-bottom: 1rem
    .spl__width--01


.gi-regular_input,.gi-dropdown,.gi-phone_number,.gi-money
  label
    position: relative
    top: 1.2rem
.gi-datepicker
  legend
    top: 1.3rem
    position: relative

.gi-dropdown
  &-layout--02
    .gi-dropdown
      margin-top: 0
      margin-bottom: 1em
.gi-component
  .required-true
    &:after
      display: inline
      content: '*'
      color: $asterisk-required
      height: 8px
      width: 8px
.gi
  &-radio
    &_buttons,
    &_checkboxes
      fieldset
        legend
          font-weight: normal
          margin-right: 1.4em
          padding-top: 10px
          padding-bottom: 10px
        li
          margin-bottom: 10px
/* *** Radio Buttons *** */
.gi-radio_checkboxes
  label
  display: inline-block
  margin-top: 1rem !important

.gi-radio_buttons,
.gi-radio_checkboxes
  [type=radio]+label:before
    height: 1rem !important
    width: 1rem !important
    line-height: 1rem !important
  fieldset
    margin-bottom: 2em
.gi
  &-radio
    &_buttons
      .layout--01
        margin-left: 36%
        label
          &:before
            margin-right: 1rem
      .layout--02 //inline radiobuttons
        margin-top: 0.5em
        margin-bottom: 0.5em
      .layout--03 //inline radiobuttons without legend
       margin-bottom: 0.5em
      .layout--04 //inline radiobuttons
       margin-top: 0.5em
        margin-bottom: 0.5em

      .notice-instruction
        color: $color-alert
        font-size: $font-s

/* *** Checkboxes *** */
.gi
  &-checkbox
    margin: 10px 0 10px 0
    &.layout--inline
      display: inline
    &.layout--02
      margin-left: 15.6rem !important
      margin-bottom: 1rem
    &.layout--03
      margin-left: 16rem !important
    &:before
      width: 15px !important
      height: 15px !important
      margin-right: 1em
    &-label
      &:before
        margin-right: .75em !important
        height: 1em !important
        width: 1em !important
        line-height: 1em !important
    &.disp-styl-none
      label:before
        margin-right: 0.6em !important
    fieldset
      margin-top: 2em !important
    legend
      font-weight: $font-weight-normal
      margin-bottom: 0.5em
    & .li__box
      display: inline-flex
      width: 30%
      &:nth-child(2)
        width: 40%
      /* *** Inputs & Dropdowns *** */
  &-regular_input, &-dropdown, &-phone_number, &-money, &-ssn, &-datepicker
    //display: inline-flex
    text-align: right
    align-items: center
    margin-top: 20px
    &-label
      display: table
      //width: 30%
    &-input
      //margin-left: 20px
      border: 1px solid #b5b5b5
      height: 4rem !important

  &-dropdown
    margin-top: 20px
    label
      text-align: right
      //width: 30%
    select
      height: 4rem
      border: 1px solid #b5b5b5
      padding-top: 7px
      padding-bottom: 7px
  &-datepicker
    margin-top: 20px
    legend
      //width: 21.8rem
      text-align: right
      font-weight: normal
      //margin-right: .9em
      top: 3.6rem
    &-layout--02
      legend
        width: 100%
        text-align: left
        top: 0.5rem
        .usa-date-of-birth
        width: 100%
        margin-top: 2rem
.gi-input
  &_lr_buttons
    .countBtn
      height: 4rem
      margin: 0 !important
      &:disabled
        background-color: $bg-color-primary-btn
        cursor: not-allowed
        pointer-events: visible
        &:hover
          background-color: $bg-color-primary-btn-hover
    .btn
      &--left
        border-bottom-right-radius: 0
        border-top-right-radius: 0
        border-right-color: transparent
      &--right
        border-bottom-left-radius: 0
        border-top-left-radius: 0
        border-left-color: transparent
      margin: .5rem
    &-input
      display: inline
      width: 8rem
/* *** Button *** */

button
  margin: .5rem !important


.usa-button
  @include btn-primary
  &:hover
    @include btn-primary-hover

.btn-secondary
  @include btn
  &:hover
    background: $white
    color: $color-secondary-btn-hover

.btn-small
  @include btn-small

.btn-disabled
  @include btn-disabled

.usa-button
  &:hover
    background: #006c95


/* *** Error Message *** */

.shown
  &.error--msg
    color: $color-error-msg
    border: solid 1px $color-error-msg
    padding: 10px 10px
    margin-top: 25px
    display: inline-block
    em
      background: $color-error-msg
      padding: 3px 9px
      color: $color-error-exclamation
      display: inline-block
      margin-right: 10px
      font-style: normal
      font-weight: normal
      font-size: $font-xs

li
  &.list__with__btn
    overflow: visible
    padding: 1em 0em 1em 0em
    &:first-child
      //overflow: visible
    & .usa-button
      padding: 0.5rem 1rem

