@import "variables_NV"

body
  background-color: #fff
  padding: 0
/* *** Header *** */
header#masthead
  background-color: $bg-color-masthead
  border-bottom: 1px solid #EFEFEF
  box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05)
  background: #FFFFFF
  .masthead
    &__container
      max-width: $masthead-container-width
    &__logo__img
      vertical-align: middle
  nav
    .main__nav
      padding-top: 21px
      &__links_container
        li
          a
            font-weight: 600
            color: $color-link
            &:hover
              color: $color-link-hover
          button
            &[aria-expanded=false]
              background-image: url('../images/angle-arrow-down-primary.png')
            &[aria-expanded=true]
              background-image: url('../images/angle-arrow-down-primary.png')
              background-color: white
              &:hover
                background-color: white
                color: $color-link-hover
              span
                color: $color-link
                border-bottom: none
                &:hover
                  color: #A91C89
            span
              color: $color-link
              font-weight: 600
          &:hover
            span
              border-bottom: none
          .dropdown__pos
            &--01
              left: 75px
            &--02
              & .main__nav__submenu
                left: 200px
      &__submenu
        background-color: white
        border: 0 none rgb(78, 84, 94)
        outline: rgb(78, 84, 94) none 0px
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25), 0 0 1px 0 rgba(0,0,0,0.3)
        border-radius: 4px
        top: 60px
        li
          a:hover
            background-color: white
            text-decoration: none

    .secured-mail
      position: relative
      .lock
        font-size: $font-xs
        position: absolute
        top: 22px
        left: 10px

/* Impersonation sub-header */
#impersonationSubHeader
  text-align: center
  border-top: 4px solid #FBB450
  margin-bottom: 10px
  div
    height: 30px
    margin-left: auto
    margin-right: auto
    background-color: #FAA732
    background-image: linear-gradient(to bottom,#FBB450,#F89406)
    background-repeat: repeat-x
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
    color: #ffffff
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
    padding: 0 10px 4px 5px
    position: relative
    display: inline-block
    border-bottom-right-radius: 0.5em
    border-bottom-left-radius: 0.5em
  h4
    color: #ffffff
    margin-top: -15px
    font-weight: bold
  span
    margin-left: 20px
    a
      font-size: $font-xs
      padding: 5px
      margin-top: 16px
      border: 0px


/* *** Footer *** */
#footer
  background-color: #005e81
  width: 100%
  text-align: center
  color: white
  .footer__container
    background-color: inherit !important
    &_wrapper
      padding: 3rem
    ul
      p
        color: white
        font-size: 12px
      a
        color: white
        font-weight: lighter
        cursor: pointer
        font-size: 12px

/* *** Navbar *** */

.navbar-links-container
  li
    color: #007fae
    button
      color: #007fae
      .usa-nav-primary
        button[aria-expanded=true]
          background-color: #00a6d2 !important
          span
            border-bottom: none
          .usa-nav-submenu
            background-color: #00a6d2

/* *** Sidenav *** */
.navbar-container
  padding-left: 20px
  .header
    color: $color-header
    padding: 0.5rem 1rem
    margin-top: 7.7rem
  h2
    font-weight: $font-weight-header !important
  .usa-sidenav-list
    border: none
    margin: 0 !important
    .sidenav__list
      &-header
        border-top: 1px solid $border-bottom-header !important
        &:first-child
          border: none !important
        a
          border-left: none
          padding: 1em 0
          cursor: default !important
          &.usa-current
            border-left: none
            color: $color-link-undone !important
            .sidenav__list__sublinks
              margin-top: 1em
              &-link
                margin: 0.7em 0
                padding-left: 1em
                &.current
                  color: $primary-purple
                  background-color: $color-purple-lighter
                  background-opacity: 0.2
                  border-radius: 0px 5px 5px 0px
                  font-weight: $font-weight-semibold
                  border-left: 3px solid $primary-purple

                  padding: .5em 1em
                &.sub-links-undone
                  color: $color-link-undone
                  cursor: default
                &.sub-links-done
                  &::before
                    display: none
              .person-links
                li
                  padding-top: 0.3em
                  padding-bottom: 0.3em
                  &.sublink-header
                    border-top: 1px solid $border-bottom-header
                    //border-bottom: 1px solid $border-bottom-header
                    padding-left: 0 !important
                    .shifted-link
                      //padding-left: 1.5em
          &:hover
            background-color: transparent
          &.usa
            color: $color-link-undone !important

.loop-links-current
  color: $primary-purple
  background-color: $color-purple-lighter
  background-opacity: 0.2
  border-radius: 0px 5px 5px 0px
  border-left: 3px solid $primary-purple
  font-weight: $font-weight-semibold
  padding: .5em 1em


.loop-links-undone
  color: $color-link-undone

.loop-links-done
  padding: .5em 1em

.household-member-done
  color: $color-link-undone

.household-member-undone
  color: $color-link-undone


/* *** End Sidenav *** */

/* *** Main Content *** */
.header-without-sideNav
  padding-left: 6rem
.main
  &__section
    padding: 0
    margin: 0 auto
    margin-top: 0px
    margin-bottom: 40px
    width: 100%
    box-shadow: 0px 8px 10px 0px rgba(82,63,105,0.13)
    border-top: none
    border-bottom: none
    background: #fff
    &__sidenav
      background-color: #fff
      padding-left: 1em
    &__content
      margin-top: 1em !important
      padding-left: 0
      padding-right: 0
      &__wrapper
        background-color: #FFFFFF
        box-shadow: 0 0 1px 0 rgba(0,0,0,0.05), 0 1px 3px 0 rgba(0,0,0,0.15)
        padding-top: 30px
        min-height: 720px
        >.usa-grid
          padding-right: 0 !important
          padding-left: 0 !important

      &__title
        margin-top: 64px !important
        margin-bottom: 24px
        position: relative

        .header-btn
          position: absolute
          right: 0em
          top: 0


    p, ul:not(usa-accordion):not(.usa-accordion-bordered)
      max-width: 100% !important
    h2
      font-weight: $font-weight-pg-title
      margin-bottom: 1rem
.subsection
  background-color: #ffffff
  border-radius: 5px
  box-shadow: 0px 0px 13px 0px rgba(100, 98, 107, 0.1)
  border: solid 1px #f3f0f0
  margin-bottom: 20px
  padding: 3rem
  position: relative
  overflow: hidden
  &__info
    background-color: #ebf4f9 !important

  .page-header
    position: relative
    display: inline-block
    width: 100%
    padding-left: 0


  .header-btn
    position: absolute
    right: 0em
    top: 2em

  //subsection with an alert-info class flush at the edges - override white bg of subsection


.controls-container
    padding-left: 0
    padding-right: 0
    .controls
      .usa-grid
        //padding-left: 0 !important
        //padding-right: 0 !important


h3.usa-heading-alt
  margin-top: 3rem !important


.controls-container
    padding-left: 0
    padding-right: 0
    .controls
      .usa-grid
        //padding-left: 0 !important
        //padding-right: 0 !important

.summary__block
  padding: 2rem 2.5rem
  background-color: #FBFBFB
  border: solid 1px #f1f1f3
  float: left
  width: 100%
  margin: 1rem 0

.summary__header--no-border
  border-bottom: none
  margin-bottom: 1em
.summary__header
  padding-left: 0
  padding-right: 0
  padding-top: 1em
  margin-bottom: .5em
  margin-top: 0em

.summary__label
  padding: .2em 0 0 .2em
  margin-top: .5em !important
  display: inline-block !important
.summary__value
  font-weight: 600
  padding: .2em 0 0 .2em
  margin-bottom: .5em !important

.header-btn
  button
    font-size: $font-s
    padding: 7px 10px
    margin-top: 0 !important
.summary__header,
.summary__header--no-border
  p
    font-size: $font-xl
    margin-bottom: 0
  button
    font-size: $font-s
    padding: 7px 10px
    margin-top: 0 !important
  h4
    margin-top: 10px !important
  .header-btn
    top: 0 !important
  button
    &:hover
      //font-size: $font-s
      //padding: 5px 10px
      //margin-top: 0 !important
/* *** End Main Content *** */
.review-document-two-columns
  padding: 0.1em 0
.review-document
  padding: 0.5em 0
  position: relative
  //display: table-row

  .header
    font-size: $font-l
    display: table-cell
    padding: .5em

  .bold
    font-weight: bold
  span
    display: table-cell
    padding: .2em

  .summary-button
    //position: absolute
    //top: 0
    //right: 0
    //padding-top: 10px
    margin-top: -5px
  .summary__value
    font-weight: 600

/* *** Modal *** */

.modal
  &__layout
    width: 100%
    background-color: rgba(0, 0, 0, 0.65)
    position: absolute
    top: 0
    bottom: 0
  &__content
    width: 800px
    position: fixed
    top: 10%
    max-height: 80vh
    left: 0
    right: 0
    margin: 0 auto !important
    background-color: rgb(255, 255, 255)
    border-radius: 4px
    min-height: auto
    overflow: scroll
  &__subheading
    display: table
    h3
      margin-bottom: .5em!important
    .modal-close-btn
      color: #333333
      float: right
      top: 10px
      margin:  10px 15px -20px 0
      position: relative
      & a
        color: #d3d3d3
      & a:hover
        color: #666666
  &__header
    background: #f5f5f5
    border-radius: 6px 6px 0 0
    min-height: 40px
    padding: 9px 15px
    border-bottom: 1px solid #eee
    h2
      line-height: 30px
      font-weight: 500
      color: #4c4c4c
      text-align: left
  &__btn
    &--close
      position: absolute
      top: 10px
      right: 0
      padding: 7px 15px
      a
        color: #d3d3d3
        &:hover
          color: #d3d3d3
  &__body
    margin-top: 20px !important
    padding: 10px 20px 30px 20px
    #brokersearchBox
      width: 800px
      height: 600px
      border: none
  &__controls
    text-align: right
    button
      margin-right: 2rem !important
  &__footer
    padding: 10px 10px 10px 20px
    margin: 0 !important
    text-align: right
    border-top: 1px  solid #dedede
// Qualifying Event Details Modal


.expandable
  position: relative
  text-align: left !important
  &__btn
    &--close
      position: absolute
      top: 10px
      right: 10px
      //padding: 7px 15px
      a
        color: #d3d3d3
        &:hover
          color: #d3d3d3

.instruction_link
  cursor: pointer
  font-weight: normal !important

.instruction_link_p
  margin-left: 15px

.text-expand
  -webkit-animation: fadeIn 1s ease-in
  -moz-transition: fadeIn 1s ease-in
  -ms-transition: fadeIn 1s ease-in
  -o-transition: fadeIn 1s ease-in
  animation: fadeIn 1s ease-in

.text-collapse
  height: 0
  opacity: 1
.gi-datepicker
  legend
    &.date-picker-width-01
      width: 31.76157% !important
      margin-right: 0
      padding-right: 10px

// Assistance Modal

.thumbnails
  list-style: none
  margin-bottom: 0
  &>li
    float: left
    margin-left: 20px
    .thumbnail
      margin: 0 auto
      border: 1px solid #d3d3de
      &.txt-center
        height: 506px
.assistance-modal-column
  display: inline-block
  height: 500px
  width: 45%
  border: 1px solid gray
  border-radius: 2px

.maketable-cell
  display: table-cell !important

/** Overridding uswds **/
.usa-grid,
.usa-grid-full
  max-width: 1240px
  margin-left: auto
  margin-right: auto

.main__section
  margin-bottom: 0px
  padding-bottom: 40px

.usa-nav-container
  min-height: 100px
  padding: 10px
.masthead__logo__img
  margin-top: 10px
.masthead__nav__btn--collapse
  float: right
  padding: 5px 10px
  margin-left: 5px
  margin-right: 5px
  color: #fff
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  background-color: #157fb8
  background-image: -moz-linear-gradient(top, #2289c7, #0171a1)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2289c7), to(#0171a1))
  background-image: -webkit-linear-gradient(top, #2289c7, #0171a1)
  background-image: -o-linear-gradient(top, #2289c7, #0171a1)
  background-image: linear-gradient(to bottom, #2289c7, #0171a1)
  background-repeat: repeat-x
  border-color: #0171a1 #0171a1 #003c55
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  background-color: #0171a1
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)
  margin-top: 5px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  text-align: center
  vertical-align: middle
  cursor: pointer
  margin-bottom: 0
  width: auto
  height: auto
.icon-bar
  margin-top: 3px
  margin-bottom: 3px
  display: block
  width: 18px
  height: 2px
  background-color: #f5f5f5
  -webkit-border-radius: 1px
  -moz-border-radius: 1px
  border-radius: 1px
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
.usa-nav__primary-item
  border: 0px solid transparent!important
@media screen and (max-width: 599px)
  .usa-grid,
  .usa-grid-full
    max-width: 95%
    margin-left: auto
    margin-right: auto

@-webkit-keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@-moz-keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@-ms-keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
@-o-keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

