/** This style sheet contains page specific styles **/
/** (i.e) the styles that needs tweak on that page alone **/

/* *** Page_01 *** */

#saPrivacyInfo
  .shown
    &.error--msg
      margin-top: 10px
      margin-bottom: 0 !important

#aiAddIncomeOrDeductionModal .modal__body
  height: 70vh

#householdMemberSummary
  .first-cell
    min-width: 180px
  .usa-width-one-sixth
    min-width: 89px
  .summary-button
    button
      width: auto !important
    span
      display: inline-block


