





/* *** Sidenav *** */

@media screen and (min-width: 951px)
  #masthead
    &__container
      max-width: 100%
    .usa-nav
      padding-top: 1.75rem
  .gi-checkbox.layout--02
    margin-left: 21rem !important

@media screen and (min-width: 768px)
  .gi-regular_input-label,
  .gi-regular_input,
  .gi-dropdown,
  .gi-dropdown-label
    //width: 100%
    text-align: center
  .gi-datepicker
    label
      text-align: right
      //width: 31.76157%
      //width: 29.76157%
  .gi-regular_input
    label
      text-align: right
      //width: 31.76157%
      //width: 29.76157%
  .gi-dropdown
    label
      text-align: right
      //width: 31.76157%
      //width: 29.76157%
      position: relative
      top: 1.2rem

  .gi-checkbox.layout--02
    margin-left: 26rem !important
    margin-bottom: 2rem
  #main-content .main__section__content__title
    padding-left: 6rem !important
    margin-right: 3rem
  #saPrivacyInfo .shown.error--msg
      margin-left: -25px !important

@media screen and (min-width: 768px) and (max-width: 1023px)
  .shown
    &.error--msg // override margin left //
  .usa-offset-one-third.error--msg
    margin-left: 34.94305%
      //margin-left: 20.3rem
  .usa-navbar
    border-bottom: none
    height: 10rem
    padding: 1rem

@media screen and (min-width: 1024px) and (max-width: 1366px)
  .shown
    &.error--msg // override margin left //
      //margin-left: 29.3rem
  .usa-offset-one-third.error--msg
    margin-left: 34.94305%
  #householdMemberSummary .summary__button
    margin-top: -5px

    //smartphones - size small
@media screen and (min-width: 320px) and (max-width: 767px)

  .margin-l-20-ve
    margin-left: 0 !important
  .margin-b-10-ve
    margin-bottom: 0 !important

  .address_l2
    padding: 10px

  .gi-regular_input-label
  .gi-regular_input,
  .gi-dropdown,
  .gi-dropdown-label
    text-align: left
    //width: 100%
    display: block
  .gi-datepicker
    label
      text-align: left
      //width: 100%
      display: block
  .gi-datepicker
    legend
      text-align: left
      //width: 100%
      display: block
      top: 1rem
  .gi-dropdown
    label
      text-align: left
      //width: 100%
      display: block
  .gi-regular_input
    label
      text-align: left
      //width: 100%
      display: block
  .gi-checkbox.layout--02,
  .gi-radio_buttons .layout--01
      margin-left: 0 !important

  button
    margin: 1rem 0 !important

  .gi-regular_input
    .spl__width--01     //override width: 22%; //
      width: 100% !important
      margin-top: 1rem
      margin-left: 1.7rem

  .shown
    &.error--msg // override margin left //
      margin-left: 0

  .usa-navbar
    border-bottom: none
    height: 10rem
    padding: 1rem

  .usa-logo
    line-height: 7rem

  .main__section__content__title
    margin-left: 3rem
    padding-right: 1rem
    padding-left: 0rem

  h1
    font-size: 2.8rem

  .subsection
    padding: 2rem

  .usa-grid
    padding-right: .5rem
    padding-left: .5rem

  .subsection .header-btn
    position: relative
    top: 2rem !important
    right: auto !important

  input, select, textarea
    margin: 1.5rem 0

  .summary__header button
    margin-top: 1rem !important

  .main__section__content__title
    .header-btn
      position: relative
      top: 2rem
      right: auto

  .table-res
    display: block
    position: relative
    width: 100%

  .table-res-wrap
    overflow: scroll

  #householdMemberSummary.summary__block
    width: max-content

  #householdMemberSummary .first-cell
    width: 180px
  #householdMemberSummary .usa-width-one-sixth
    width: 90px !important

  .summary__value,
  .summary__label
    display: block !important

  .modal
    &__content
      width: 90vw
      max-height: 90vh
      position: fixed
      top: 5%
      left: 0
      .controls
        padding: 0

  /* force remove offset class for buttons
  .modal__footer
    .usa-offset-one-third
      margin-left: 0 !important
  /* show scrollbars by default */
  ::-webkit-scrollbar
    -webkit-appearance: none
    width: 5px

  ::-webkit-scrollbar-thumb
    border-radius: 3px
    background-color: rgba(0,0,0,.25)
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.25)
  .ds-c-button
    width: 100%

@media screen and (min-width: 768px) and (max-width: 991px)
  .modal
    &__content
      width: 90vw
      max-height: 90vh
      position: fixed
      top: 5%
      left: 0


/** Overridding uswds **/
@media screen and (min-width: 600px)
  .usa-width-one-sixth
    float: left
    display: block
    //margin-right: 2.35765% !important
    width: 14.70196% !important

@media screen and (min-width: 481px)
  .usa-width-one-fourth
    float: left
    display: block
    margin-right: 4.82916%
    width: 47.58542%

  .usa-width-three-fourths
    float: left
    display: block
    margin-right: 4.82916%
    width: 100%
  .usa-layout-docs
    display: flex
@media screen and (min-width: 600px)
  .usa-width-one-fourth
    float: left
    display: inline
    margin-right: 2.35765%
    width: 23.23176%

  .usa-width-three-fourths
    //float: right
    display: inline
    margin-right: 2.35765%
    width: 74.41059%

  .usa-layout-docs
    display: inherit
    flex-direction: column

//
@media screen and (min-width: 320px) and (max-width: 599px)
  .navbar-container
    .header
      margin-top: 0rem
  .usa-button, .usa-button-secondary
    width: 100%



@media screen and (max-width: 767px) and (min-width: 320px)
  .usa-logo
    margin-left: 0px
    .masthead__logo__img
      margin-top: 0px
