<h2 class="question-header">
    {{"DRUG_WHICH.question.1st_part" | translate}}
</h2>
<div class="row">
    <div class="form-group  col-12 col-md-6" >
        <label class="control-label">{{ "DRUG_WHICH.input_form.search_prescription" | translate}}</label>
        <drug-search-typeahead 
        	id="drug-search-wrapper"
            (selectedDrug)="receiveDrug($event)"
            (getFocus)="getFocus($event)"
            (getDrug)="getDrug($event)"
            (getChange)="getChange($event)"
        >
        </drug-search-typeahead>
    </div>
</div>

<!--dosage selection-->
<div class="row" *ngIf="(dosages$ | async) as dosages" id="dosage-big-wrapper" role="radiogroup">
    <div class="col-12">
        <div class="card dosage-card-wrapper" id="dosage-card" aria-label="Dosage list container, please tab through and select your dosage." tabindex="0">
            <fieldset>
                    <div class="card-header label">
                        <legend>
                            <span aria-hidden="true">{{"DRUG_WHICH.well.title" | translate}}</span>
                        </legend>
                        <button (click)="destroy()" role="button" aria-label="Dosage list container delete">
                         <i class="fa fa-times danger" aria-hidden="true"></i>
                        </button>
                    </div>

                <ng-container >
                    <div class="col-12 card-block">
                        <div class="dosage-wrapper" *ngFor="let dosage of dosages | orderBy: 'drugDosageName'">
                            <div>
                                <input type="radio" name="drugDosage" [value]="dosage" id="{{dosage.drugDosageID}}" [(ngModel)]="radio.dosage" tabindex="0">
                            </div>
                            <label for="{{dosage.drugDosageID}}">
                                {{dosage.drugDosageName | titlecase}}
                                <span *ngIf="dosage.commonDaysOfSupply" class="unobtrusive_text">({{dosage.commonDaysOfSupply}} day supply)</span>
                            </label>
                        </div>
                    </div>
                    <div class="select-dosage">
                        <button class="gi-button-green" (click)="addDrug()" [disabled]="!radio.dosage" role="button" aria-label="{{'DRUG_WHICH.well.add' | translate}}">
                            {{"DRUG_WHICH.well.add" | translate}}
                        </button>
                        <!--{{radio.dosage.drugDosageName}}-->
                    </div>

                    <div class="select-dosage clearfix" *ngIf="selectDosageAlert" aria-live="polite">
                        <div 
                        	class="alert alert-danger" 
                        	id="select-dosage-alert" 
                        	[innerText]="'DRUG_WHICH.error.dosage_incomplete' | translate"
                        	>
                        </div>
                        <p class="off-screen">Dosage list container, please tab through and select your dosage.</p>
                    </div>
                </ng-container>
            </fieldset>
            <ng-template #loadingDosage>
                <div class="col-12">
                    <!--{{"DRUG_WHICH.well.loading" | translate}}-->
                </div>
            </ng-template>
        </div>
    </div>
</div>
<!-- -->
<input type="hidden" #drugInfoInput>

<div class="row">
    <div class="col-12">
        <p 
        	*ngIf="drugErrorMessage !== ''" 
        	class="form-control-feedback alert-danger alert"
            id="drug-search-error" 
            aria-live="polite" 
            [innerText]="drugErrorMessage | translate">
        </p>
        
        <p 
			class="alert alert-danger" 
			*ngIf="datakeep.personalization.drug.drugSearch.length === 5 && isFocus && !isDrugEmpty"
		    [innerText]="'DRUG_SEARCH_TYPEAHED.error.add_over_5' | translate"
		    aria-live="polite"
		    >
		</p>

    </div>
</div>

<!--drug card list-->
<div class="row" *ngIf="drugList">
    <div class="col-12 col-md-6" *ngFor="let drug of drugList">
        <drug-card [drug]="drug" (destoryed)="handleDrugDestroy($event)"></drug-card>
    </div>
</div>
