.dosage-card-wrapper {
    background-color: #f7f7f9;
    margin-bottom: 20px;
}

.unobtrusive_text {
    color: grey;
}

.gi-button-green {
    color: #ffffff;
    white-space: nowrap;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #246312;
    margin: 10px 0 15px 0;
    &:hover {
        background-color: #37871d;
    }

    &:disabled{
        cursor: not-allowed;
    }
}

.dosage-wrapper {
    padding-top: 8px;
    display: flex;
    flex-flow: row nowrap;
    label {
        line-height: 2;
        margin-bottom: 0;
		margin-left: 5px;		
        @media (max-width:576px) {
            line-height:1.5;
        }
    }
    input[type=radio] {
        width: 20px;
        margin-top: 7px;
    }

}

.select-dosage {
    padding: 0 15px;
}

.alert {
    //margin-top:15px;
    float:left;
}

.off-screen {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
