.spinner-whole-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.spinner-custom-large:before,
.spinner-custom-large:after{
    color: #2c94a3;
    height: 170px !important;
    width: 170px !important;
    border-width: 20px!important;
    z-index: 9999;
}