.addition-info__wrap .addition-info__btn {
  border-radius: 3px;
  line-height: 1.3;
  padding: 8px 24px;
  text-align: center;
  border: 0; }
.addition-info__wrap .icon--mr {
  margin-right: 5px; }
.addition-info__wrap .icon--ml {
  margin-left: 5px; }
.addition-info__wrap .error-msg {
  color: red; }
.addition-info__wrap .addition-info__input--invalid {
  border: 1px solid red; }
.addition-info__wrap .addition-info__link {
  color: #3177A1; }
  .addition-info__wrap .addition-info__link .icon-chevron-sign-left {
    margin-right: 5px; }
.addition-info__wrap .addition-info__header {
  background: #e7e7e7; }
.addition-info__wrap .addition-info__content {
  display: flex; }
  .addition-info__wrap .addition-info__content .addition-info__aside {
    width: 25%;
    padding-top: 62px; }
    .addition-info__wrap .addition-info__content .addition-info__aside .addition-info__applicant {
      padding: 8px 10px;
      margin-bottom: 5px;
      color: #3177A1; }
      .addition-info__wrap .addition-info__content .addition-info__aside .addition-info__applicant:hover {
        cursor: pointer; }
      .addition-info__wrap .addition-info__content .addition-info__aside .addition-info__applicant--active {
        border: 1px solid #cfd2d3;
        border-right: 0;
        border-radius: 5px 0 0 5px;
        color: #000;
        position: relative;
        right: -1px;
        background-color: white; }
  .addition-info__wrap .addition-info__content .addition-info__tab-wrap {
    width: 70%; }
    .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-title {
      margin-bottom: 0;
      padding: 15px;
      display: inline-block;
      border-top: 1px solid #cfd2d3;
      border-left: 1px solid #cfd2d3;
      border-right: 1px solid #cfd2d3;
      border-radius: 5px 5px 0 0;
      position: relative;
      bottom: -1px;
      background: white; }
    .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content {
      border-top: 1px solid #cfd2d3;
      border-left: 1px solid #cfd2d3;
      padding: 15px;
      padding-bottom: 0; }
      .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .icon-asterisk {
        color: red;
        font-size: 8px;
        vertical-align: super; }
      .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .addition-info__verified-block {
        background: #f7f7f7;
        padding: 5px 15px;
        border: 1px solid #ccc;
        height: 50px;
        margin-top: 21px;
        box-sizing: border-box;
        color: #3177A1; }
      .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion {
        margin-top: 21px; }
        .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item {
          border: 1px solid #cfd2d3; }
          .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__heading .accordion__button {
            background: #f7f7f7;
            padding: 5px 15px; }
            .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__heading .accordion__button .addition-info__accordion-title {
              display: inline-block;
              color: #3177A1; }
            .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__heading .accordion__button .addition-info__btn--override {
              float: right;
              margin-top: 3px; }
          .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel {
            padding: 15px; }
            .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel .addition-info__form {
              position: relative;
              overflow: hidden;
              margin-bottom: 0; }
              .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel .addition-info__form .input-label-wrap {
                display: flex; }
                .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel .addition-info__form .input-label-wrap .input-wrap {
                  display: inline-block; }
              .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel .addition-info__form label {
                margin-bottom: 0;
                font-size: 14px;
                display: inline-block;
                width: 30%;
                text-align: right;
                margin-right: 20px; }
              .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel .addition-info__form .addition-info__controls {
                float: right;
                margin-top: 25px; }
                .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel .addition-info__form .addition-info__controls .addition-info__btn--submit {
                  background: #3177A1; }
                .addition-info__wrap .addition-info__content .addition-info__tab-wrap .addition-info__tab-content .accordion .accordion__item .accordion__panel .addition-info__form .addition-info__controls .addition-info__btn--skip {
                  background-color: #b5b5b5 !important; }

/*# sourceMappingURL=Verification.css.map */
