$ctaMain: #3177A1;
$borderColor: #cfd2d3;
$blockHeader: #f7f7f7;

.addition-info__wrap {
  .addition-info__btn {
    border-radius: 3px;
    line-height: 1.3;
    padding: 8px 24px;
    text-align: center;
    border: 0;
  }

  .icon--mr {
    margin-right: 5px;
  }

  .icon--ml {
    margin-left: 5px;
  }

  .error-msg {
    color: red;
  }

  .addition-info__input--invalid {
    border: 1px solid red;
  }

  .addition-info__link {
    color: $ctaMain;

    .icon-chevron-sign-left {
      margin-right: 5px;
    }
  }

  .addition-info__header {
    background: #e7e7e7;
  }

  .addition-info__content {
    display: flex;

    //Aside block
    .addition-info__aside {
      width: 25%;
      padding-top: 62px;

      .addition-info__applicant {
        padding: 8px 10px;
        margin-bottom: 5px;
        color: $ctaMain;

        &:hover {
          cursor: pointer;
        }

        &--active {
          border: 1px solid $borderColor;
          border-right: 0;
          border-radius: 5px 0 0 5px;
          color: #000;
          position: relative;
          right: -1px;
          background-color: white;
        }
      }
    }

    //Tab block
    .addition-info__tab-wrap {
      width: 70%;

      .addition-info__tab-title {
        margin-bottom: 0;
        padding: 15px;
        display: inline-block;
        border-top: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        border-radius: 5px 5px 0 0;
        position: relative;
        bottom: -1px;
        background: white;
      }

      .addition-info__tab-content {
        border-top: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        padding: 15px;
        padding-bottom: 0;

        .icon-asterisk {
          color: red;
          font-size: 8px;
          vertical-align: super;
        }

        .addition-info__verified-block {
          background: $blockHeader;
          padding: 5px 15px;
          border: 1px solid #ccc;
          height: 50px;
          margin-top: 21px;
          box-sizing: border-box;
          color: $ctaMain;
        }

        .accordion {
          margin-top: 21px;

          .accordion__item {
            border: 1px solid $borderColor;

            .accordion__heading {
              .accordion__button {
                background: $blockHeader;
                padding: 5px 15px;

                .addition-info__accordion-title {
                  display: inline-block;
                  color: $ctaMain;
                }

                .addition-info__btn--override {
                  float: right;
                  margin-top: 3px;
                }
              }
            }

            .accordion__panel {
              padding: 15px;

              .addition-info__form {
                position: relative;
                overflow: hidden;
                margin-bottom: 0;

                .input-label-wrap {
                  display: flex;

                  .input-wrap {
                    display: inline-block;
                  }
                }


                label {
                  margin-bottom: 0;
                  font-size: 14px;
                  display: inline-block;
                  width: 30%;
                  text-align: right;
                  margin-right: 20px;
                }

                .addition-info__controls {
                  float: right;
                  margin-top: 25px;

                  .addition-info__btn--submit {
                    background: $ctaMain;
                  }

                  .addition-info__btn--skip {
                    background-color: #b5b5b5 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
