<div style="page-break-before: always;">
<p class="ex1" style="text-align:center; font-size:19px"><b>Your Civil Rights</b></p>

<p><b>Discrimination is against the law.</b> MNsure does not discriminate on the basis of any of the following: race, color, national origin, creed, religion, sexual orientation, public assistance status, marital status, age, disability, sex (including sex stereotypes and gender identity).</p>

<p style="font-size:18.5px"><b>Free Services</b></p>

<p style="font-size:18.5px"><b>Auxiliary aids:</b> If you have a disability and need aids and services to have an equal opportunity to participate in our health care programs, MNsure will provide them timely and free of charge. These aids and services include qualified interpreters and information in accessible formats.</p>

<p style="font-size:18.5px"><b>Language assistance:</b> If you have difficulty understanding English and need language help to access information and services, MNsure will provide language assistance services timely and free of charge. These services include translated documents and interpreting spoken language.</p>

<p style="font-size:18.5px">To request these free services from MNsure, contact the MNsure Accessibility and Equal Opportunity (AEO) Office at AEO@MNsure.org or 651-539-2099 or 855-366-7873 (toll free).</p>

<p><b>Civil Rights Complaints</b></p>

<p>You have the right to file a discrimination complaint if you believe you were treated in a discriminatory way by a human services agency.</p>

<p>You may contact any of the following three agencies directly to file a discrimination complaint.</p>

<p><b>U.S. Department of Health and Human Services' Office for Civil Rights (OCR)</b></p>

<p>You have a right to file a complaint with the OCR, a federal agency, if you believe you have been discriminated against because of any of the following: race, color, national origin, age, disability, or sex (including 
stereotypes and gender identity).</p>

<p>Contact the <b>OCR</b> directly to file a complaint:</p>

<p style="margin-left:50px">Director, U.S. Department of Health and Human Services' Office for Civil Rights<br />
200 Independence Avenue SW, Room 509F<br />
HHH Building<br />
Washington, DC 20201<br />
800-368-1019 (voice), 800-537-7697 (TDD)<br />
<a href="https://www.hhs.gov/ocr/office/file/index.html" style="color: blue;" target="_blank">https://www.hhs.gov/ocr/office/file/index.html</a></p>
</div>

<div style="page-break-before: always;">
<p class="ex1"><b>Minnesota Department of Human Rights (MDHR)</b></p>

<p>In Minnesota, you have the right to file a complaint with the MDHR if you believe you have been discriminated against because of any of the following: race, color, national origin, religion, creed, sex, sexual orientation, marital status, public assistance status, or disability.</p>

<p>Contact the <b>MDHR</b> directly to file a complaint:</p>

<p style="margin-left:50px">Minnesota Department of Human Rights<br />
Freeman Building, 625 North Robert Street<br />
St. Paul, MN 55155<br />
651-539-1100 (voice) or 800-657-3704 (toll free)<br />
711 or 800-627-3529 (MN Relay), 651-296-9042 (fax)<br />
Info.MDHR@state.mn.us (email)</p>

<p><b>MNsure</b></p>

<p>You have a right to file a complaint with MNsure if you believe you have been discriminated against in our health care programs because of any of the following: race, color, national origin, creed, religion, sexual orientation, public assistance status, marital status, age, disability, sex (including sex stereotypes and gender identity).</p>

<p>Complaints must be in writing and filed within one year of the date you discovered the alleged discrimination.</p>

<p>The complaint must contain your name and address and describe the discrimination you are complaining about. After we get your complaint, we will review it and notify you in writing about whether we have authority to investigate. If we do, we will investigate the complaint.</p>

<p>MNsure will notify you in writing of the investigation's outcome. You have the right to appeal the outcome if you disagree with the decision. To appeal, you must send a written request to have MNsure review the investigation outcome. Be brief and state why you disagree with the decision. Include additional information you think is important.</p>

<p>If you file a complaint in this way, the people who work for the agency named in the complaint cannot retaliate against you. This means they cannot punish you in any way for filing a complaint. Filing a complaint in this way does not stop you from seeking out other legal or administrative remedies.</p>

<p>Contact <b>MNsure</b> directly to file a discrimination complaint:</p>

<p style="margin-left:50px">MNsure Accessibility and Equal Opportunity (AEO) Office<br />
PO Box 64253<br />
St.Paul, MN 55164-0253<br />
651-539-2099 or 855-366-7873 (voice) or use your preferred relay service<br />
AEO@MNsure.org (email)</p>

</div>

<div>

<p class="ex1" style="text-align:center"><img width=672 height=580
src="${host}resources/img/contact-info.png"
alt="If you need free help interpreting this document, call 651-539-2099 or 855-366-7873." /></p>

</div>
