  <thead width="550">
      <tr>
        <th height="25" colspan="2" style="text-align: left;" scope="col">
        <img src="${host}resources/images/email-gi-logo.gif" alt=${exchangeFullName} width="600" height="143" style="display: block;" /></th>
      </tr>
  </thead>